<root>
  <styles>
    <include src="s2r://panorama/styles/gamestyles.vcss_c" />
    <include src="s2r://panorama/styles/settings.vcss_c" />
  </styles>

  <Panel class="Hidden">
    <Panel id="VideoResolutionLeft" class="SettingsDualColumn FullHeight LeftColumn">
      <Label class="SectionHeaderLabel" text="#DCG_Settings_Resolution" />
      <Panel class="SectionHeaderLine" />
      <Panel class="VideoResChangeContainer">
        <RadioButton id="UseNativeResolutionButton" group="CustomResolution" class="OptionsCheckBox" onactivate="DCGSettingsCustomResolution(0);" text="#DCG_Settings_UseNativeResolution" />
        <RadioButton id="UseCustomResolutionButton" group="CustomResolution" class="OptionsCheckBox" onactivate="DCGSettingsCustomResolution(1);" text="#DCG_Settings_UseCustomResolution" />
        <Panel id="CustomVideoResolution" class="TopBottomFlow">
          <Label text="#DCG_Settings_AspectRatio" />
          <Panel id="AspectRatioPanel" class="LeftRightFlow">
            <RadioButton group="AspectRatioButtons"	class="Hidden OptionsCheckBox" onactivate="DCGSettingsSetAspectRatio(0);" text="#DCG_Settings_4x3Aspect" />
            <RadioButton group="AspectRatioButtons" class="OptionsCheckBox" onactivate="DCGSettingsSetAspectRatio(1);" text="#DCG_Settings_16x9Aspect" />
            <RadioButton group="AspectRatioButtons" class="OptionsCheckBox" onactivate="DCGSettingsSetAspectRatio(2);" text="#DCG_Settings_16x10Aspect" />
          </Panel>
          <Panel class="LeftRightFlow">
            <Panel class="TopBottomFlow" id="ResolutionPanel">
              <Label text="#DCG_Settings_ResolutionSize" />
              <DropDown id="ResolutionDropDown">
                <!-- autogenerated -->
              </DropDown>
            </Panel>
            <Panel class="TopBottomFlow" id="DisplayModePanel">
              <Label text="#DCG_Settings_DisplayMode" />
              <DropDown id="DisplayModeDropDown">
                <Label id="coop_fullscreen" text="#DCG_Settings_Coop_Fullscreen" CoopFullscreen="1" />
                <Label id="window" text="#DCG_Settings_Window" />
                <Label id="no_border" text="#DCG_Settings_Borderless" NoBorder="1" />
              </DropDown>
            </Panel>
          </Panel>
        </Panel>
        <Panel id="VideoAcceptButtonsPanel" class="LeftRightFlow">
          <Button id="ApplyResolutionButton" class="ButtonBevel" onactivate="DCGSettingsApplyVideoSettings()">
            <Label text="#DCG_Settings_Apply" />
          </Button>
          <Panel class="FillerWidth"/>
          <Button onactivate="DCGSetVideoDefaults()" id="VideoDefaultsButton" class="ButtonBevel">
            <Label text="#DCG_Settings_ResetDefaults" />
          </Button>
        </Panel>
      </Panel>
      <Label class="SectionHeaderLabel ExtraSpacing" text="#DCG_Settings_AdvancedVideo" />
      <Panel class="SectionHeaderLine" />
      <Panel id="AdvancedVideo" class="FullHeight">
        <Panel id="AdvancedTopContainer">
            <ToggleButton class="CheckBox AdvancedCheckbox" id="VSyncToggle" text="#DCG_Settings_VSync"	onactivate="DCGToggleVSync();" />
            <DCGSettingsCheckbox class="AdvancedCheckbox" convar="r_ssao" text="#DCG_Settings_AmbientOcclusion" />
            <DCGSettingsCheckbox class="AdvancedCheckbox" convar="r_dcg_fxaa_mode" text="#DCG_Settings_AntiAliasing" />
        </Panel>
        <DCGSettingsEnum class="HorizontalEnum" convar="r_texture_stream_mip_bias" text="#DCG_Settings_TextureQuality" id="TextureEnum" >
          <RadioButton text="#DCG_Settings_TextureQuality_Low" value="2" class="EnumButton" id="TextureQualityLow" group="texturequality" />
          <RadioButton text="#DCG_Settings_TextureQuality_Med" value="1" class="EnumButton" id="TextureQualityMed" group="texturequality" />
          <RadioButton text="#DCG_Settings_TextureQuality_High" value="0" class="EnumButton" id="TextureQualityHigh" group="texturequality" />
        </DCGSettingsEnum>
        <DCGSettingsEnum class="HorizontalEnum" convar="r_dcg_lighting_quality" text="#DCG_Settings_LightingQuality" id="LightingEnum" >
          <RadioButton text="#DCG_Settings_LightingQuality_Low" value="0" class="EnumButton" id="LightingQualityLow" group="lightingquality" />
          <RadioButton text="#DCG_Settings_LightingQuality_Med" value="1" class="EnumButton" id="LightingQualityMed" group="lightingquality" />
          <RadioButton text="#DCG_Settings_LightingQuality_High" value="2" class="EnumButton" id="LightingQualityHigh" group="lightingquality" />
        </DCGSettingsEnum>
        <DCGSettingsEnum class="HorizontalEnum" convar="cl_globallight_shadow_mode" text="#DCG_Settings_ShadowQuality" id="ShadowEnum" >
          <RadioButton text="#DCG_Settings_ShadowQuality_Off" value="0" class="EnumButton" id="ShadowQualityLow" group="shadowquality" />
          <RadioButton text="#DCG_Settings_TextureQuality_Med" value="1" class="EnumButton" id="ShadowQualityMed" group="shadowquality" />
          <RadioButton text="#DCG_Settings_TextureQuality_High" value="2" class="EnumButton" id="ShadowQualityHigh" group="shadowquality" />
        </DCGSettingsEnum>
        <ToggleButton class="CheckBox EnableAdvancedConfigurationCheckbox" id="EnableAdvancedConfigurationCheckbox" text="#DCG_Settings_EnableAdvancedConfiguration"	onactivate="DCGToggleEnableAdvancedConfiguration();" onmouseover="UIShowTextTooltipStyled( #DCG_System_Tooltip_AdvancedConfiguration, BindingsTooltip)" onmouseout="UIHideTextTooltip()" />
        <DCGSettingsSlider id="RenderQualitySlider" convar="mat_viewportscale" min="0.4" max="1.0" percentage="true" text="#DCG_Settings_RenderQuality" />
        <DCGSettingsSlider id="FpsMaxSlider" convar="fps_max" min="60" max="240" disableifoutofrange="true" text="#DCG_Settings_FPS_Max" />
      </Panel>
    </Panel>
    <Panel id="VideoResolutionRight" class="SettingsDualColumn FullHeight RightColumn">
      <Label text="#DCG_Settings_Audio" class="SectionHeaderLabel" />
      <Panel class="SectionHeaderLine"/>
      <DCGSettingsSlider convar="volume" min="0.0" max="1.0" percentage="true" text="#DCG_Settings_MasterVolume" />
      <DCGSettingsSlider convar="snd_gamevolume" min="0.0" max="1.0" percentage="true" text="#DCG_Settings_GameVolume" />
      <DCGSettingsSlider convar="snd_musicvolume" min="0.0" max="1.0" percentage="true" text="#DCG_Settings_MusicVolume" />
      <DCGSettingsSlider convar="snd_gamevoicevolume" min="0.0" max="1.0" percentage="true" text="#DCG_Settings_UnitSpeechVolume" />
      <DCGSettingsSlider convar="dcg_imp_volume" min="0.0" max="1.0" percentage="true" text="#DCG_Settings_ImpVolume" />
      <Panel class="SettingsCheckboxContainer">
        <Panel class="TopBottomFlow" id="ClosedCaptioningPanel">
          <Label text="#DCG_Settings_Closed_Captioning" />
          <DropDown id="ClosedCaptioningDropDown" oninputsubmit="DCGClosedCaptioningDropDownChanged()">
            <Label id="all_subtitles" text="#DCG_Settings_CC_All_Subtitles" />
            <Label id="unit_speech_only" text="#DCG_Settings_CC_Unit_Speech_Only" />
            <Label id="off" text="#DCG_Settings_CC_Off" />
          </DropDown>
        </Panel>
		  <Panel class="TopBottomFlow" id="GlossaryStringsPanel">
			  <Label text="#DCG_Settings_GlossaryStrings" />
			  <DropDown id="GlossaryStringsDropDown" oninputsubmit="DCGGlossaryStringsDropDownChanged()">
				  <Label id="0" text="#DCG_Settings_HideGlossaryStrings" />
				  <Label id="1" text="#DCG_Settings_ShowAllGlossaryStrings" />
				  <Label id="2" text="#DCG_Settings_ShowAdvancedGlossaryStrings" />
			  </DropDown>
		  </Panel>  
      </Panel>
      <Panel class="SettingsCheckboxContainer">
        <Button onactivate="DCGSetAudioDefaults()" class="ButtonBevel" id="AudioDefaultsButton">
          <Label text="#DCG_Settings_AudioDefaults" />
        </Button>
			</Panel>
      <Label id="OtherLabel" class="SectionHeaderLabel ExtraSpacing" text="#DCG_Settings_Other" />
      <Panel class="SectionHeaderLine"/>
      <Panel class="SettingsCheckboxContainer">
        <DCGSettingsCheckbox id="SkipMoviesCheckbox" convar="dcg_skipmovies" text="#DCG_Settings_SkipMovies" invert="false" />
        <DCGSettingsCheckbox id="AnonymouseModeCheckbox" convar="dcg_anonymous_mode" text="#DCG_Settings_AnonymousMode" invert="false" onmouseover="UIShowTextTooltipStyled( #DCG_System_Tooltip_AnonymousMode, BindingsTooltip)" onmouseout="UIHideTextTooltip()" />
      </Panel>
      <Panel class="SettingsCheckboxContainer">
        <DCGSettingsCheckbox id="ColorblindModeCheckbox" convar="cl_colorblind_mode" text="#DCG_settings_Colorblind_Mode" invert="false" />
        <DCGSettingsCheckbox id="ColorblindModeSuitsCheckbox" convar="cl_colorblind_mode_suits" text="#DCG_settings_Colorblind_Mode_Suits" invert="true" />
      </Panel>
		<Panel class="SettingsCheckboxContainer">
			<ToggleButton id="AutoCursorScaleButton" text="#DCG_settings_auto_cursor_scale" onactivate="DCGUpdateAutoCursorScaleSetting();" onmouseover="UIShowTextTooltipStyled( #DCG_settings_cursor_scale_overridden, BindingsTooltip)" onmouseout="UIHideTextTooltip()" />
			<DCGSettingsCheckbox id="PlaySoundInDesktopCheckbox" convar="dcg_enable_audio_when_not_in_focus" text="#DCG_Settings_PlaySoundInDesktop" />
		</Panel>
		<Panel class="SettingsCheckboxContainer">

		</Panel>
			<DCGSettingsSlider id="CursorScaleSlider" convar="cl_cursor_scale" min="0.5" max="3" percentage="true" value100percent="1" text="#DCG_settings_cursor_scale" onmouseover="UIShowTextTooltipStyled( #DCG_settings_cursor_scale_overridden, BindingsTooltip)" onmouseout="UIHideTextTooltip()" />
			<Panel id="CursorTickContainer">
				<Panel id="CursorScaleTick0" class="SliderTick"/>
				<Panel id="CursorScaleTick1" class="SliderTick"/>
				<Panel id="CursorScaleTick" class="SliderTick"/>
				<Panel id="CursorScaleTick2" class="SliderTick"/>
				<Panel id="CursorScaleTick3" class="SliderTick"/>
			</Panel>
	      <Panel class="OtherSettingsContainer">
	        <Button onactivate="DCGResetTraining()" class="ButtonBevel" id="ResetTrainingButton">
	          <Label text="#DCG_Settings_ResetTraining" />
	        </Button>
	        <Button onactivate="DCGCredits()" class="ButtonBevel" id="CreditsButton">
	          <Label text="#DCG_Settings_Credits" />
	        </Button>
	        <Button onactivate="DCGFilterPreferences()" class="ButtonBevel" id="FilterPreferencesButton">
	          <Label text="#DCG_Settings_FilterPreferences" />
	        </Button>
	      </Panel>
    </Panel>
  </Panel>
</root>
