.CardTextContainer
{
	visibility: collapse;
	flow-children: none;
	height: 134px;
	width: 182px;
	background-image: url("s2r://panorama/images/card/card_background_psd.vtex");
	background-size: 100% 100%;
}

.CardTextContainer.IsTier5
{
    background-image: url("s2r://panorama/images/card/card_background_tier_6_png.vtex");
}

.CardTextContainer.IsTier4
{
    background-image: url("s2r://panorama/images/card/card_background_tier_5_png.vtex");
}

#CardTierGlow
{
    width: 100%;
    height: 100%;
    background-size: 100% 100%;
    z-index: 99;
}

.IsTier0 #CardTierGlow
{
    background-image: url("s2r://panorama/images/card/card_tier_1_png.vtex");
}

.IsTier1 #CardTierGlow
{
    background-image: url("s2r://panorama/images/card/card_tier_2_png.vtex");
}

.IsTier2 #CardTierGlow
{
    background-image: url("s2r://panorama/images/card/card_tier_3_png.vtex");
}


.IsTier3 #CardTierGlow
{
    background-image: url("s2r://panorama/images/card/card_tier_4_png.vtex");
}

.IsTier4 #CardTierGlow
{
    background-image: url("s2r://panorama/images/card/card_tier_5_png.vtex");
}

.IsTier5 #CardTierGlow
{
    background-image: url("s2r://panorama/images/card/card_tier_6_png.vtex");
}

.IsUnit.CardTextContainer {
    height: 100px;
    background-image: url("s2r://panorama/images/card/card_unit_background_psd.vtex");
}

.ShowText.HasText.CardTextContainer
{
	visibility: visible;
}

#CardTextFlowChildren
{
	vertical-align: center;
	height: fit-children;
	width: 100%;
	flow-children: none;
	padding-top: 12px;
	padding-bottom: 12px;
}

#CardText
{
	min-height: 30px;
	vertical-align: center;
	horizontal-align: center;
	text-align: center;
	font-size: 15px;
	text-overflow: shrink;
	color: #e5e5e5;
	z-index: 1;
	margin-left: 6px;
	margin-right: 6px;
    // Okay, so don't set this to be 0.5px on X unless we fix some number of Panorama blur
    // bugs. It causes a text blur layout issue on the cards that shows up as a noticeable
    // oddly-colored line on the right-hand-side of the text region. 0.6px makes some of
    // the math line up in a way where the artifact disappears, at least at 1080p for cards
    // in the hand. There are still some single-pixel errors when in inspect mode, for example,
    // but they seem acceptable for now.
	text-shadow: .6px .5px 0px 2.0 black;
}

.MinHeight #CardText
{
	min-height: 50px;
}

#CardActiveText
{
	margin-top: 10px;
	visibility: collapse;
}

#CardActiveOutline
{
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-image: url("s2r://panorama/images/hud/lastcard_glow_active_psd.vtex");
	z-index: 5;
	width: 100%;
	height: 100%;
	visibility: collapse;
}

.IsActivatedAbility #CardActiveOutline
{
	visibility: visible;
}

.IsImprovement #CardText
{
	visibility: visible;
}

.IsInspectCard .GlossaryInline
{
	text-decoration: underline;
	text-decoration-style: dashed-light;
}

.IsInspectCard .GlossaryInline:hover
{
  text-decoration: underline;
	text-decoration-style: none;
}
