.CardLock
{
	width: 90px;
	height: 90px;
	visibility: visible;
}

.CardLockText
{
	vertical-align: middle;
	horizontal-align: center;
	font-size: 74px;
	color: gradient( linear, 0% 0%, 0% 100%, from( #eaeaea ), to( #ababab) );
	font-weight: light;
	font-stretch: condensed;
	text-shadow: 0px 3px 5px 3.0 #000000;
	text-overflow: shrink;
	margin-top: -2px;
}
