@define abilityBorderBlue: #4470a1;
@define abilityBorderBlack: #6f6d79;
@define abilityBorderGreen: #779c3d;
@define abilityBorderRed: #b42a23;
@define abilityBorderWhite: #a5a09b;

.AppliedEffectIcon
{
	height: 128px;
	width: 128px;

	background-color: gradient( linear, 0% 0%, 0% 100%, from( #00000000 ), to( #00000000 ) );
	transition-property: pre-transform-scale2d, brightness, saturation, background-color, opacity;
	transition-duration: .06s, .1s;
	transition-timing-function: ease-out;
	flow-children: none;
}

.IsImprovement #AbilityBevel
{
    visibility: collapse;
}

#AbilityBevel
{
	width: 100%;
	height: 100%;
	margin: 3px;
	background-size: 100% 100%;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	z-index: 1;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #00FF0000 ), to( #00FF0000 ) );
	visibility: visible;
	background-image: url("s2r://panorama/images/card_elements/ability_bevel_psd.vtex");
	transition-property: brightness, background-color;
	transition-duration: .12s;
	transition-timing-function: ease-in;
}

.IsTriggeredAbility #AbilityBevel
{
	background-image: url("s2r://panorama/images/card_elements/ability_bevel_reactive_psd.vtex");
}

.IsPassiveAbility #AbilityBevel
{
	background-image: url("s2r://panorama/images/card_elements/ability_bevel_passive_psd.vtex");
}

.IsContinuousEffect #AbilityBevel
{
	background-image: url("s2r://panorama/images/card_elements/ability_bevel_passive_psd.vtex");
}

.IsCreep.InPlay, .IsHero
{
    height: 128px;
    width: 128px;
}

#AbilityArt
{
	width: 100%;
	height: 100%;
	saturation: 1.0;
	padding: 8px;
}

.UseGenericDeathEffect #AbilityArt
{
	visibility: collapse;
}

.UseGenericReactiveEffect #AbilityArt
{
	visibility: collapse;
}

.UseGenericActiveEffect #AbilityArt
{
	visibility: collapse;
}

.UseGenericContinuousEffect #AbilityArt
{
	visibility: collapse;
}

.AppliedEffectIcon.UseGenericDeathEffect
{
	background-image: url("s2r://panorama/images/card/ability_death_psd.vtex");
	background-size: contain;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: 95% 95%;
}

.AppliedEffectIcon.UseGenericContinuousEffect
{
	background-image: url("s2r://panorama/images/card/ability_continuous_psd.vtex");
	background-size: contain;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: 95% 95%;
}

.AppliedEffectIcon.UseGenericReactiveEffect
{
	background-image: url("s2r://panorama/images/card/ability_reactive_psd.vtex");
	background-size: contain;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: 95% 95%;
}

.AppliedEffectIcon.UseGenericActiveEffect
{
	background-image: url("s2r://panorama/images/card/ability_active_psd.vtex");
	background-size: contain;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: 95% 95%;
	saturation:0;
}
.AppliedEffectIcon.UseGenericActiveEffect.AbilityReady
{
	saturation:1.0;
}
.IsImprovement #AbilityArt
{
  padding: 0px;
}

.CooldownCounter
{
	font-family: radiance;
	width: 100%;
	height: 128px;
    font-size: 100px;
	font-stretch: condensed;
	font-weight: light;

	vertical-align: top;
	text-align: center;
    visibility: collapse;
		color: gradient( linear, 0% 0%, 0% 100%, from( #eaeaea ), to( #ababab) );
    text-shadow: 0px 1px 6px 4.0 #000000;

	background-image: url("s2r://panorama/images/card/ability_text_shadow_psd.vtex");
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

.UICard .CooldownCounter
{
	font-size: 28px;
	font-stretch: condensed;
}

.AbilityReady .CooldownCounter
{
    visibility: collapse;
	opacity: 0;
}

.HasActiveAbility .CooldownCounter
{
	visibility: visible;
}

.HasActiveAbility.AbilityReady #AbilityArt
{
	saturation: 1.0;
	brightness: 1.0;
}

.HasActiveAbility #AbilityArt
{
	saturation: 0.45;
	brightness: 0.175;
}

.ChargesCounterBackground
{
	width: 100%;
	height: 128px;
	
	background-image: url("s2r://panorama/images/card/ability_charge_shadow_psd.vtex");
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: 100% 100%;

	visibility: collapse;
}

.ShowCharges .ChargesCounterBackground
{
	visibility: visible;
}

.ChargesCounter
{
	font-family: radiance;
	width: 100%;
    font-size: 100px;
	font-stretch: condensed;
	font-weight: normal;

    horizontal-align: center;
   	vertical-align: top;
	text-align: center;

	visibility: collapse;
   	color: abilityGradient;
	text-shadow: 3px 3px 6px 14.0 #000000;
}

.ShowCharges .ChargesCounter
{
	visibility: visible;
}

.IsImprovement .ChargesCounter
{
    horizontal-align: center;
}

//.HeroAbility .ActivatedAbility
.HeroAbility
{
	background-image: url("s2r://panorama/images/card_elements/bubble_ability_hero_png.vtex");
}


.CopyCounter
{
	font-weight: bold;
  	font-size: 64px;

	font-family: radiance;
	font-stretch: condensed;
	text-shadow: 0px 0px 14px 10.0 #000000;
	color: gradient( linear, 0% 0%, 0% 100%, from( #eaeaea ), to( #ababab) );
	text-shadow: 0px 1px 6px 4.0 #000000;
	text-overflow: shrink;

  	vertical-align: bottom;
	horizontal-align: right;
	margin-right: 20px;
	margin-bottom: 11px;
  	visibility: visible;
}

.IsTriggeredAbility .CopyCounter
{
	visibility: visible;
}

.IsContinuousEffect .CopyCounter
{
	visibility: visible;
}

.IsAppliedEffect .CopyCounter
{
	visibility: visible;
}

.IsEquipment .CopyCounter
{
	visibility: visible;
}

.NotEffectSource
{
	saturation: 0.5;
}

.HasActiveConditionalAttackModifier
{
	animation-name: border-pulse-green;
	animation-duration: 1.0s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;

}

@keyframes 'border-pulse-green'
{
    0%
    {
	    border: 6px solid #0b8c96;
    }

	50%
    {
	    border: 10px solid #1fefff;
    }

    100%
    {
	    border: 6px solid #0b8c96;
    }
}
