.CombatPreviewContainer
{
	height: 80px;
	width: 80px;
}

.CombatPreview
{
	width: 76px;
	height: 76px;
	margin: 2px;
	flow-children: none;
	visibility: collapse;
  
	tooltip-body-position: 100% 100%;
	tooltip-arrow-position: 50% 50%;

	background-color: #FFFFFFFF;

	border-radius: 3px;
	box-shadow: black 0px 0px 8px 0px;
	border: 1.25px solid #000000AA;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #292e2e ), to( #191e1e ) );
}

.LabelOuter
{
	width: 76px;
	height: 76px;
	flow-children: right;
	vertical-align: top;
	horizontal-align: left;
}

.CombatPreviewContainer.IsDamage .CombatPreview
{
	background-color: #8d3528;
	visibility: visible;
}

.CombatPreviewContainer.IsDamage .CombatPreview Label
{
	color: #e9baae;
}

.CombatPreviewContainer.IsHeal .CombatPreview
{
//	box-shadow: #8bcf4e 0px 0px 8px 0px;
//	border: 1.25px solid #8bcf4eBB;
	
	background-color: #415532FF;
	visibility: visible;
}

.CombatPreviewContainer.IsHeal .CombatPreview Label
{
	color: #8bcf4eFF;
}

.CombatPreviewContainer.IsNeutral .CombatPreview
{
	background-color: #525151FF;
	visibility: visible;
}

.CombatPreviewContainer.IsNeutral .CombatPreview Label
{
	color: #989898FF;
}

.CombatPreviewContainer.IsInvuln .CombatPreview
{
	background-color: #8e701fFF;
	visibility: visible;
}

.CombatPreviewContainer.IsInvuln .CombatPreview Label
{
	color: #e3ca5fFF;
}

.CombatPreview Label
{
  font-size: 64px;
	vertical-align: center;
	text-align: center;
	font-stretch: condensed;
	font-weight: light;
	margin-top: -1px;
	text-shadow: 0px 2.5px 3px 1.5 #000000;
	text-overflow: shrink;
}

.CombatPreviewContainer.SmallerFont .CombatPreview Label
{
//    font-size: 20px;
}

.CombatPreviewDamageContainer
{
		width: fit-children;
		height: fit-children;
		vertical-align: center;
		horizontal-align: center;
}

.BWillDieInCombat .DeathContainer
{
//	animation-name: ProbablyUnlocalizedAnimation;
//	animation-duration: 2.0s;
//	animation-timing-function: linear;
//	animation-iteration-count: infinite;
//	visibility: visible;
}

@keyframes 'ProbablyUnlocalizedAnimation'
{
	0%
	{
		opacity: 0;
	}

	25%
	{
		opacity: 0;
	}

	70%
	{
		opacity: 3;
	}

	99%
	{
		opacity: 0;
	}

	100%
	{
		opacity: 0;
	}
}
