.CardStatsContainer
{
	width: 60px;
	height: 60px;
	visibility: visible;}

.CardStatBG
{
	width: 70%;
	height: 70%;
	vertical-align: bottom;
	horizontal-align: right;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-image: url("s2r://panorama/images/card/cardstat_goldcost_psd.vtex");
	margin-bottom: 4px;
	margin-right: 2px;
}

.CardStat
{
	vertical-align: center;
	horizontal-align: center;
	text-overflow: shrink;
	color: gradient( linear, 0% 0%, 0% 100%, from( #e5e5e5 ), to( #cccccc) );
	font-family: Radiance;
	text-shadow: .5px .5px 2px 2.0 #141414;

	font-size: 21px;
	margin-top: 16px;
	margin-left: 14px;	
}

.StatBuffed .CardStat
{

color: gradient( linear, 0% 0%, 0% 100%, from(#aff873), to(#326409) );
text-shadow: 0px 0px 3px 1 #8ef13c10;
}

.StatDebuffed .CardStat
{

color: gradient( linear, 0% 0%, 0% 100%, from(#dd5143), to(#a52820) );
text-shadow: 0px 0px 3px 1 #e82d1615;
}

.StatNeutral .CardStat
{
	color: textColorYellow;
}

.CardStatBG
{
	wash-color: #cccccc;
}
