.CombatPreviewContainer
{
    height: 130px;
    width: 172px;
    flow-children: none;
    tooltip-position: right;
}

.IsTowerCombatPreview.CombatPreviewContainer
{
}

.CombatPreview
{
	horizontal-align: center;
	vertical-align: top;
	width: 75px;
	height: 58px;
	margin-top: 11px;
	flow-children: none;
	visibility: collapse;
//	opacity: 0.85;

	tooltip-body-position: 100% 100%;
	tooltip-arrow-position: 50% 50%;

	border-radius: 5px;
	box-shadow: black 0px 0px 8px 0px;
	border: 1.25px solid #000000AA;
}

.CombatPreviewContainer.ReverseTooltip
{
	tooltip-position: left;
}

.DeathContainer
{
	visibility: collapse;
	background-image: url("s2r://panorama/images/card/death_icon_psd.vtex");
	background-size: 100% 100%;
	width: 54px;
	height: 57px;
	horizontal-align: left;
	vertical-align: center;
}

.BWillDieInCombat .DeathContainer
{
	visibility: visible;
}

.BWillDieInCombat.IsDamage.CombatPreviewContainer .CombatPreview
{
	background-color: gradient( linear, 100% 0%, 0% 0%, from( #500c07cc ), to( #3f0a06 ) );
	width: 116px;
}

.LabelOuter {
	width: 76px;
	height: 76px;
	flow-children: right;
	vertical-align: top;
	horizontal-align: right;
}

.CombatPreviewContainer.IsDamage .CombatPreview
{
	background-color: gradient( linear, 100% 0%, 0% 0%, from( #8d3528cc ), to( #8d3528 ) );
//	background-color: #8d3528;
	visibility: visible;
}

.CombatPreviewContainer.IsDamage .CombatPreview Label
{
	color: #e9baae;
}

.CombatPreviewContainer.IsHeal .CombatPreview
{
//	box-shadow: #8bcf4e 0px 0px 8px 0px;
//	border: 1.25px solid #8bcf4eBB;
	
	background-color: #415532FF;
	visibility: visible;
}

.CombatPreviewContainer.IsHeal .CombatPreview Label
{
	color: #8bcf4eFF;
}

.CombatPreviewContainer.IsNeutral .CombatPreview
{
	background-color: #525151FF;
	visibility: visible;
}

.CombatPreviewContainer.IsNeutral .CombatPreview Label
{
	color: #989898FF;
}

.CombatPreviewContainer.IsInvuln .CombatPreview
{
	background-color: #8e701fFF;
	visibility: visible;
}

.CombatPreviewContainer.IsInvuln .CombatPreview Label
{
	color: #e3ca5fFF;
}

.CombatPreview Label
{
	font-size: 48px;
	vertical-align: center;
	text-align: center;
	font-stretch: condensed;
	font-weight: light;
	text-shadow: 0px 2.5px 3px 1.5 #000000;
	text-overflow: shrink;
	font-family: Artifact Numbers;
}

.CombatPreviewContainer.SmallerFont .CombatPreview Label
{
//    font-size: 20px;
}

.CombatPreviewDamageContainer
{
		width: fit-children;
		height: fit-children;
		vertical-align: center;
		horizontal-align: center;
}

.BWillDieInCombat .DeathContainer
{
//	animation-name: ProbablyUnlocalizedAnimation;
//	animation-duration: 2.0s;
//	animation-timing-function: linear;
//	animation-iteration-count: infinite;
//	visibility: visible;
}

@keyframes 'ProbablyUnlocalizedAnimation'
{
	0%
	{
		opacity: 0;
	}

	25%
	{
		opacity: 0;
	}

	70%
	{
		opacity: 3;
	}

	99%
	{
		opacity: 0;
	}

	100%
	{
		opacity: 0;
	}
}
