.CardHeaderContainer
{
	flow-children: right;
	visibility: collapse;
	padding-left: 4px;
	height: 30px;
	width: 182px;
}

.InHand.CardHeaderContainer
{
	visibility: visible;
}

.HeroIcon
{
  visibility: collapse;

	width: 26px;
	height: 26px;
	vertical-align: center;

	background-size: 100% 100%;
	margin-right: 6px;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-image: url("s2r://panorama/images/card/blank_circle_psd.vtex");	
}

#IncludeImage
{
	margin-left: 0.5px;
	margin-top: 2px;
	width: 18px;
	height: 18px;
	vertical-align: center;
	horizontal-align: center;
}

.IsHero .HeroIcon
{
    visibility: visible;
}

.CardCostContainer
{
	min-width: 24px;
	width: fit-children;
	height: 24px;
	flow-children: none;
	vertical-align: center;
	padding-left: 2px;
	padding-right: 3px;
}

.IsHero .CardCostContainer
{
    visibility: collapse;
}

.CardCostCenteringPanel
{
	width: fit-children;
	height: fit-children;
	flow-children: right;
	horizontal-align: center;
	vertical-align: center;
}

.CardCostBackground
{
	width: fit-children;
	height: fit-children;
	horizontal-align: center;
	vertical-align: center;
	flow-children: right;
	//padding-left: 2px;
	//padding-right: 2px;
}

.CrossLaneLeftIcon
{
	visibility: collapse;
	vertical-align: center;
	width: 10px;
	height: 10px;
	background-size: 10px 10px;
	background-repeat: no-repeat;
	background-position: 10% 50%;
	background-image: url("s2r://panorama/images/card/crosslane_icon_psd.vtex");
	opacity: 0.3;
}

.CrossLaneRightIcon
{
	visibility: collapse;
	vertical-align: center;
	width: 10px;
	height: 10px;
	transform: rotatez(180deg);
	background-size: 10px 10px;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-image: url("s2r://panorama/images/card/crosslane_icon_psd.vtex");
	margin-right: 2px;
	opacity: 0.3;
}

.IsCrosslane .CrossLaneRightIcon
{
	visibility: visible;
}

.IsCrosslane .CrossLaneLeftIcon
{
	visibility: visible;
}

.QuickIcon
{
	visibility: collapse;
	vertical-align: center;
	width: 10px;
	height: 15px;
	margin-top: -1px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-image: url("s2r://panorama/images/card/quick_icon_psd.vtex");
	margin-right: 2px;
	opacity: 0.3;
}

.IsQuick .QuickIcon
{
		visibility: visible;
}

#CardCost
{
	color: gradient( linear, 0% 0%, 0% 100%, from( #e5e5e5 ), to( #cccccc) );
	font-size: 24px;
	text-align: center;
	font-family: Radiance;
	font-stretch: condensed;
	vertical-align: center;
	horizontal-align: center;
	text-shadow: .5px .5px 0px 2.0 #141414;
	margin-top: -2px;
	margin-left: 1px;
	margin-right: 0px;
}

.Faux3DTextShown #CardCost
{
	visibility: collapse;
}

.IsItem .CardCostContainer
{
	visibility: collapse;
}

.CardNameContainer
{
	height: 100%;
	width: 100%;
	padding-left: 0px;
	padding-right: 0px;
}

.CardName
{
	color: gradient( linear, 0% 0%, 0% 100%, from( #e5e5e5 ), to( #cccccc) );
	font-size: 18px;
	margin-top: 3px;
	margin-right: 10px;
	text-shadow: .5px .5px 0px 2.0 #141414;
	text-align: left;
	text-overflow: shrink;
	vertical-align: center;
	font-family: radiance;
	font-stretch: condensed;

	padding-bottom: 1px;
}

.IsItem .CardName
{
	margin-left: 7px;
}

.IsHovered .CardName
{
	font-size: 18px;
}

.Faux3DTextShown .CardName
{
	visibility: collapse;
}

.ManaBuffed #CardCost
{
	color: gradient( linear, 0% 0%, 0% 100%, from( #a4ff53 ), to( #6aa536) );
}

.ManaDebuffed #CardCost
{
	color: gradient( linear, 0% 0%, 0% 100%, from( #ff7260 ), to( #d05339) );
}

.ManaDebuffed .CardCostContainer,
.ManaBuffed .CardCostContainer
{
	border-radius: 5px;
	background-color: #000000cc;
	margin-right: 3px;
}
