.CardFaceDecalContainer
{
	width: 182px;
	height: 310px;
	visibility: visible;
}

#CardStatusContainer
{
	width: 100%;
	height: 100%;
	margin-top: 60px;
	margin-bottom: 50px;
	flow-children: right-wrap;
	vertical-align: top;

	overflow: squish;
}


#CardStatusContainer.HideItemSlots
{
	min-height: 64px;

	width: fit-children;
	height: fit-children;

	horizontal-align:center;
	margin-top: 3px;
	margin-bottom: 0px;

	
}

#CardStatusContainer.HideItemSlots.NumStatusEffects4,
#CardStatusContainer.HideItemSlots.NumStatusEffects5,
#CardStatusContainer.HideItemSlots.NumStatusEffects6,
#CardStatusContainer.HideItemSlots.NumStatusEffects7,
#CardStatusContainer.HideItemSlots.NumStatusEffects8
{
	margin-top: 8px;
}

.ModifierContainer
{
	height: 61px;
	width: 61px;

	brightness: 1;
	transition-property: width, height, brightness;
	transition-duration: 0.125s;
	transition-timing-function: ease-in-out;
}

.NumStatusEffects3.HideItemSlots .ModifierContainer
{
	height: 60px;
	width: 60px;
}

.NumStatusEffects4.HideItemSlots .ModifierContainer,
.NumStatusEffects5.HideItemSlots .ModifierContainer,
.NumStatusEffects6.HideItemSlots .ModifierContainer,
.NumStatusEffects7.HideItemSlots .ModifierContainer,
.NumStatusEffects8.HideItemSlots .ModifierContainer
{
	height: 45px;
	width: 45px;
}


.ModifierContainer.HideItemSlots
{
	vertical-align: center;
}

.ModifierContainer:hover
{
	brightness: 1.2;
	//Don't. Causes the right-wrap to pop icons onto new rows.
	//A solution would be to maintain the size of the parent, while scaling the child up. Though this would lose the "magbar" effect we're going for.
	//height: 64px;
	//width: 64px;
}

.ModifierType
{
	vertical-align: center;
	width: 100%;
	height: 100%;
}


.ModifierType,
.ModifierContainer
{
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-position: 50% 50%;
}

.IsBlue .ModifierContainer
{
	background-image: url("s2r://panorama/images/status_modifiers/statusfxcontainer_bluesuite_psd.vtex");
}

.IsRed .ModifierContainer
{
	background-image: url("s2r://panorama/images/status_modifiers/statusfxcontainer_redsuite_psd.vtex");
}

.IsGreen .ModifierContainer
{
	background-image: url("s2r://panorama/images/status_modifiers/statusfxcontainer_greensuite_psd.vtex");
}

.IsBlack .ModifierContainer
{
	background-image: url("s2r://panorama/images/status_modifiers/statusfxcontainer_blacksuite_psd.vtex");
}

.IsColorless .ModifierContainer 
{
	background-image: url("s2r://panorama/images/status_modifiers/statusfxcontainer_colorless_psd.vtex");
}

.HasDisarmedModifier .ModifierType
{
	background-image: url("s2r://panorama/images/status_modifiers/statusfxicon_disarmed_psd.vtex");
}

.HasSilencedModifier .ModifierType
{
	background-image: url("s2r://panorama/images/status_modifiers/statusfxicon_silenced_psd.vtex");
}

.HasStunnedModifier .ModifierType
{
	background-image: url("s2r://panorama/images/status_modifiers/statusfxicon_stunned_psd.vtex");
}

.HasFeebleModifier .ModifierType
{
	background-image: url("s2r://panorama/images/status_modifiers/statusfxicon_feeble_psd.vtex");
}

.HasTrampleModifier .ModifierType
{
	background-image: url("s2r://panorama/images/status_modifiers/statusfxicon_trample_psd.vtex");
}

.HasDeathShieldModifier .ModifierType
{
	background-image: url("s2r://panorama/images/status_modifiers/statusfxicon_deathshield_psd.vtex");
}

.HasRapidDeployModifier .ModifierType
{
	background-image: url("s2r://panorama/images/status_modifiers/statusfxicon_rapiddeploy_psd.vtex");
}

.HasPiercingModifier .ModifierType
{
	background-image: url("s2r://panorama/images/status_modifiers/statusfxicon_pierce_psd.vtex");
}

.HasRegenerationModifier .ModifierType
{
	background-image: url("s2r://panorama/images/status_modifiers/statusfxicon_regeneration_psd.vtex");
}

.HasUntargetableModifier .ModifierType
{
	background-image: url("s2r://panorama/images/status_modifiers/statusfxicon_untargetable_psd.vtex");
}

.HasRootedModifier .ModifierType
{
	background-image: url("s2r://panorama/images/status_modifiers/statusfxicon_rooted_psd.vtex");
}

.HasImmuneModifier .ModifierType
{
	background-image: url("s2r://panorama/images/status_modifiers/statusfxicon_dammageimmune_psd.vtex");
}

.HasRetaliateModifier .ModifierType
{
	background-image: url("s2r://panorama/images/status_modifiers/statusfxicon_retaliate_psd.vtex");
}

.HasCleaveModifier .ModifierType
{
	background-image: url("s2r://panorama/images/status_modifiers/statusfxicon_cleave_psd.vtex");
}

.HasTrackedModifier .ModifierType
{
	background-image: url("s2r://panorama/images/status_modifiers/statusfxicon_tracked_psd.vtex");
}

.HasQuickstrikeModifier .ModifierType
{
	background-image: url("s2r://panorama/images/status_modifiers/statusfxicon_quick_psd.vtex");
}

.HasDecayModifier .ModifierType
{
	background-image: url("s2r://panorama/images/status_modifiers/statusfxicon_decay_psd.vtex");
}

.HasSiegeModifier .ModifierType
{
	background-image: url("s2r://panorama/images/status_modifiers/statusfxicon_siege_psd.vtex");
}

.HasBountyModifier .ModifierType
{
	background-image: url("s2r://panorama/images/status_modifiers/statusfxicon_bounty_psd.vtex");
}

.HasLethalToCreeps .ModifierType
{
	background-image: url("s2r://panorama/images/status_modifiers/statusfxicon_lethaltocreeps_psd.vtex");
}

.HasLethalToHeroes .ModifierType
{
	background-image: url("s2r://panorama/images/status_modifiers/statusfxicon_lethaltoheroes_psd.vtex");
}

#CardStatusContainer Label
{
	horizontal-align: right;
	font-size: 28px;
	font-stretch: condensed;
	height: 35px;
	margin-right: 3px;
	text-overflow: shrink;
	color: gradient( linear, 0% 0%, 0% 100%, from( #e5e5e5 ), to( #cccccc) );
	background-color: black;
	text-shadow: .5px .5px 2px 2.0 #141414;
	text-align: right;
}