.CardIconContainer
{
	width: 35px;
	height: 35px;
	visibility: collapse;
	padding-top: 4px;
	padding-bottom: 3px;
	padding-left: 4px;
	padding-right: 3px;
	flow-children: right;
}

.InHand.CardIconContainer
{
	visibility: visible;
}

#CardType
{
	width: 26px;
	height: 26px;
	vertical-align: top;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-position: 50% 50%;}

.CardTypeSpell #CardType
{
	background-image: url("s2r://panorama/images/card/cardtype_spell_psd.vtex");
}

.CardTypeCreep #CardType
{
	background-image: url("s2r://panorama/images/card/cardtype_creep_psd.vtex");
}

.CardTypeHealth #CardType
{
	background-image: url("s2r://panorama/images/card/cardtype_health_psd.vtex");
}

.CardTypeAttack #CardType
{
	background-image: url("s2r://panorama/images/card/cardtype_weapon_psd.vtex");
}

.CardTypeArmor #CardType
{
	background-image: url("s2r://panorama/images/card/cardtype_armor_psd.vtex");
}

.CardTypeHero #CardType
{
	background-image: url("s2r://panorama/images/card/cardtype_hero_psd.vtex");
}

.CardTypeImprovement #CardType
{
	background-image: url("s2r://panorama/images/card/cardtype_improvement_psd.vtex");
}

.CardTypeConsumable #CardType
{
	background-image: url("s2r://panorama/images/card/cardtype_consumable_psd.vtex");
}

.CardTypeDeed #CardType
{
	background-image: url("s2r://panorama/images/card/cardtype_consumable_psd.vtex");
}
