.CombatPreview
{
  width: 50px;
  height: 50px;
  flow-children: none;
  visibility: collapse;

  tooltip-body-position: 100% 100%;
	tooltip-arrow-position: 50% 50%;

	background-color: #FFFFFFFF;

	border-radius: 4px;
}

.LabelOuter
{
	width: 50px;
	height: 50px;
	flow-children: right;
	vertical-align: top;
	horizontal-align: left;
}

.CombatPreview.IsDamage
{
	border: 2px solid #622c22;
//	border: 2px solid #d1977740;
	background-color: #622c22;
	visibility: visible;
}

.CombatPreview.IsDamage Label
{
	color: #ff8c6f;
}

.CombatPreview.IsHeal
{
	border: 2px solid #415532FF;
//	border: 2px solid #8bcf4e50;
	background-color: #415532FF;
	visibility: visible;
}

.CombatPreview.IsHeal Label
{
	color: #8bcf4eFF;
}

.CombatPreview.IsNeutral
{
	border: 2px solid #525151FF;
//	border: 2px solid #98989840;
	background-color: #525151FF;
	visibility: visible;
}

.CombatPreview.IsNeutral Label
{
	color: #989898FF;
}

.CombatPreview.IsInvuln
{
	border: 2px solid #8e701fFF;
//	border: 2px solid #e3ca5f50;
	background-color: #8e701fFF;
	visibility: visible;
}

.CombatPreview.IsInvuln Label
{
	color: #e3ca5fFF;
}

.CombatPreview Label
{
  font-size: 40px;
	vertical-align: center;
	text-align: center;
	font-family: radiance;
	font-stretch: condensed;
	font-weight: light;
	margin-top: -1px;
	text-shadow: 0px 3px 5px 2.0 #3b1816;
	text-overflow: shrink;
}

.CombatPreview.SmallerFont Label
{
//    font-size: 20px;
}

.CombatPreviewDamageContainer
{
		width: fit-children;
		height: fit-children;
		vertical-align: center;
		horizontal-align: center;
}

.BWillDieInCombat .DeathContainer
{
//	animation-name: ProbablyUnlocalizedAnimation;
//	animation-duration: 2.0s;
//	animation-timing-function: linear;
//	animation-iteration-count: infinite;
//	visibility: visible;
}

@keyframes 'ProbablyUnlocalizedAnimation'
{
	0%
	{
		opacity: 0;
	}

	25%
	{
		opacity: 0;
	}

	70%
	{
		opacity: 3;
	}

	99%
	{
		opacity: 0;
	}

	100%
	{
		opacity: 0;
	}
}
