.CardSetRarityContainer
{
	width: 50px;
	height: 50px;
	visibility: visible;
}

#SetIcon
{
	width:37px;
	height: 37px;
    vertical-align: center;
	horizontal-align: center;
	margin-top: 4px;
}

.IsSet0 #SetIcon
{
	width:32px;
	height:32px;
}
