DCGGauntletLeaderboard
{
    width:100%;
    height:100%;
    visibility:collapse;
}
#LadderPanel
{
    height:800px;
}
.TitleCard.Title
{
    vertical-align:top;
    horizontal-align:center;
    text-align:center;
    font-size:36px;
    color:yellow;
    
}

#FindMatch
{    
    horizontal-align:center;    
}

DCGAvatarImage
{
    width: 32px;
    height: 32px;
    margin-left: 2px;
}

#Ranking
{
    horizontal-align:center;
    padding-top: 10px;
    padding-bottom: 5px;
    vertical-align:top;
    flow-children:down;
    overflow:squish scroll;
    min-height:100px;
    width:702px;
    height: 650px;
    margin-right:35px;
    margin-left:35px;
    margin-bottom: 10px;
    border-top: 2px solid #505050;
    border-bottom: 2px solid #505050;    
}
.DashboardPanel .LadderRow
{
    vertical-align:middle;
    flow-children:right;
    margin-bottom:5px;
    width:100%;
    height:35px;
    border-radius: 5px 5px;
    border: 1px solid white;
    transition-property:position, background-color;
    transition-duration:0.5s;
    background-color:#303030;    
}

.DashboardPanel .LadderRow.HasPerfect
{
    border-color: gold;
}

.DashboardPanel .LadderRow.Mine
{
    background-color: darkblue;
}
.DashboardPanel .LadderRow Panel, .DashboardPanel  .LadderRow Label
{
    vertical-align:middle;
}
.RankNumber
{
    width:30px;
    text-align:right;
}
#Nickname
{
    vertical-align:middle;
    width: 325px;
    margin-left:5px;
}
#Nickname Label
{
    text-align:left;
    width:100%;
}
.DashboardPanel .Attempts
{
    width:100px;
}
.DashboardPanel .Attempts Label
{
    text-align:right;
    width:100%;
}
.Rating
{
    flow-children: left;
}
.Rating Label
{
    text-align:right;
    width:35px;
}
.Rating Image
{
    width:25px;
    height: 25px;
}
#Buttons{
    flow-children:right;
    horizontal-align:center;
}
#Buttons Button{
    width:200px;
}
