@import url("file://{resources}/styles/dota_card_game_styles.css");

#MainBody
{
    width: 100%;
    flow-children: down;
}

.TitleBlock
{
    margin-top: 20px;
    width: 100%;
    border-bottom: 2px solid white;
    padding-bottom: 4px;
    margin-bottom: 4px;
}

.TitleBlock.FirstElement
{
    margin-top: 0px;
}

.TitleBlock Label
{
    horizontal-align: left;
    color: white;
    font-size: 18px;
}

.RemainingUnowned Label
{
    color: white;
    horizontal-align: center;
    font-size: 18px;
    margin-left: 40px;
    margin-top: 10px;
}

.DeckError
{
    width: 100%;
    margin-top: 2px;
    flow-children: right;
}

.DeckError .ErrorPip
{
    width: 4px;
    height: 4px;
    border: 1px solid white;
    margin: 6px 8px 0px 4px;
    vertical-align: top;
}

.CardCountError
{
    margin-top: 2px;
    flow-children: right;
}

.CardCountError Image
{
    width: 50px;
    height: 50px;
}

.CardCountError .CountLabel
{
    vertical-align: center;
    margin-left: 10px;
    margin-right: 4px;
}

.CardCountError DCGCardName
{
    vertical-align: center;
    margin-left: 4px;
    font-size: 18px;
}
