
.TowerManaContainer
{
	width: 87px;
	height: 90px;
	tooltip-body-position: 100% 100%;
	flow-children: down;
}

#TowerManaMargin
{
	flow-children: down;
	height: 100%;
	width: 100%;
	background-image: url("s2r://panorama/images/tower/card_tower_png.vtex");
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-position: center;

    margin-top: -2px;
}

.IsLocalPlayer #TowerManaMargin
{
	margin-top: -5px;
}

.TowerMana
{
	width: 100%;
	height: 50%;
	vertical-align: middle;
	text-align: center;
	font-size: 38px;
	color: gradient( linear, 0% 0%, 0% 100%, from( #eaeaea ), to( #ababab) );
	font-family: radiance;
	font-weight: light;
	font-stretch: condensed;
	text-shadow: 0px 3px 5px 3.0 #000000;
}

#TowerCurrentMana
{
    margin-top: 2px;
}

#TowerMaxMana
{
    margin-top: -10px;
}

.TowerMana.ManaBuffed
{
	color: gradient( linear, 0% 0%, 0% 100%, from( #a4ff53 ), to( #6aa536) );
}

.TowerMana.ManaDebuffed
{
	color: gradient( linear, 0% 0%, 0% 100%, from( #fe4831 ), to( #a83729) );
}

.TowerMana.ManaNeutral
{
	color: gradient( linear, 0% 0%, 0% 100%, from( #eaeaea ), to( #ababab) );
}

.TowerMana.IsShowingMax
{
	font-size: 38px;
}
