
.TowerHealthContainer
{
	width: 87px;
	height: 90px;
	tooltip-body-position: 100% 100%;
	flow-children: down;
}

#TowerHealth
{
	width: 100%;
	vertical-align: middle;
	text-align: center;
	font-size: 54px;
	text-shadow: 0px 1px 4px 3.0 #000000;
	color: gradient( linear, 0% 0%, 0% 100%, from( #eaeaea ), to( #ababab) );
	font-family: radiance;
	font-weight: light;
	font-stretch: condensed;
	text-shadow: 0px 3px 5px 3.0 #000000;

    margin-top: -2px;
}

.IsLocalPlayer #TowerHealth
{
	margin-top: -4px;
}

#TowerHealth.HPBuffed
{
	color: gradient( linear, 0% 0%, 0% 100%, from( #a4ff53 ), to( #6aa536) );
}

#TowerHealth.HPDebuffed
{
	color: gradient( linear, 0% 0%, 0% 100%, from( #fe4831 ), to( #a83729) );
}

#TowerHealth.HPNeutral
{
	color: gradient( linear, 0% 0%, 0% 100%, from( #eaeaea ), to( #ababab) );
}