
.TowerHealthContainer
{
	width: 87px;
	height: 90px;
	tooltip-body-position: 100% 100%;
	flow-children: none;
}

.TowerHealthContainer.ReverseTooltip
{
    tooltip-position: left;
}

.TowerCombatOrder
{
	width: 100%;
	height: 25px;
	horizontal-align: center;
	text-align: center;
	font-size: 12px;
	color: uiLightGrey;
}

#TowerCombatOrderTop
{
	visibility: visible;
	vertical-align: top;
	margin-top: 10px;
}

#TowerCombatOrderBottom
{
	visibility: collapse;
	vertical-align: bottom;
}

.IsLocalPlayer #TowerCombatOrderBottom
{
	visibility: visible;
}

.IsLocalPlayer #TowerCombatOrderTop
{
	visibility: collapse;
}

#TowerHealth
{
	width: 100%;
	vertical-align: middle;
	text-align: center;
	font-size: 48px;
	text-shadow: 0px 1px 4px 3.0 #000000;
	color: gradient( linear, 0% 0%, 0% 100%, from( #cccccc ), to( #999999) );
	font-weight: light;
	font-stretch: condensed;
	text-shadow: 0px 3px 5px 3.0 #000000;
	text-overflow: shrink;
	transition-property: color, text-shadow;
	transition-duration: .75s;
	transition-timing-function: ease-in-out;
	font-family: Artifact Numbers;
}

.IsAncient #TowerHealth, .IsCombatLane.IsAncient #TowerHealth
{
	color: red;
	text-shadow: 0px 1px 4px 1.5 red;
}

.IsCombatLane #TowerHealth
{
	color: gradient( linear, 0% 0%, 0% 100%, from( white ), to( #efefef) );
}

#TowerHealth.HPBuffed
{
	color: gradient( linear, 0% 0%, 0% 100%, from( #a4ff53 ), to( #6aa536) );
}

#TowerHealth.HPDebuffed
{
	color: gradient( linear, 0% 0%, 0% 100%, from( #fe4831 ), to( #a83729) );
}

#TowerHealth.HPNeutral
{
	color: gradient( linear, 0% 0%, 0% 100%, from( #eaeaea ), to( #ababab) );
}