.Victory
{
  width: 960px;
  height: 540px;
	flow-children: down;
	opacity: 0;
	blur: gaussian( 10.25 );
	transition-delay: 2.25s;
	transition-property: blur, opacity;
	transition-duration: 1.5s;
}

.VictoryLabelContainer
{
	width: fit-children;
	height: fit-children;
	vertical-align: center;
	horizontal-align: center;
}

.VictoryLabel
{
	font-size: 200px;
	text-shadow: 0px 10px 20px 10.0 #000000;
	color: #59d049;
	visibility: collapse;
}

.IsVictory .VictoryLabel
{
	visibility: visible;
}

.DefeatLabel
{
	font-size: 200px;
	text-shadow: 0px 10px 20px 10.0 #000000;
	color: #9c0c09;
	visibility: collapse;
}

.IsDefeat .DefeatLabel
{
	visibility: visible;
}

.DrawLabel
{
	font-size: 200px;
	text-shadow: 0px 10px 20px 10.0 #000000;
	color: #cccccc;
	visibility: collapse;
}

.IsDraw .DrawLabel
{
	visibility: visible;
}

.Victory.VictoryAnim
{
	opacity: 1;
	blur: none;
}
