.WideLaneInfoContainer
{
    width: 76px;
    height: 128px;
    background-size: 100%;
}

#WideLaneContentContainer
{
    width: 100%;
    height: 100%;
    flow-children: right;
    background-color: gradient( linear, 0% 0%, 0% 100%, from( #6d6a41ff ), to( #6d6a4188) );
    border: 3px solid #fff799;
    animation-name: WideLaneGlow;
    animation-duration: 1.78s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes 'WideLaneGlow'
{
    0%
    {
        brightness: 1.5;
    }

    50%
    {
        brightness: 0.8;
    }

    100%
    {
        brightness: 1.5;
    }
}

#CardCountLabel
{
    width: 100%;
    height: 100%;
    color: #fff799;
    font-size: 70px;
    padding-top: 22px;
    margin-right: 3px;
    text-align: center;
    text-overflow: shrink;
}