.WideLaneHeroIconPanel {
    height: 256px;
    width: 152px;
    background-size: 100%;
}

.WideLaneHeroIconImage
{
    height: 140px;
    width:  140px;
    align: center center;
}

.Black
{
    background-image: url("s2r://panorama/images/catalogue/card_mini_square_black_psd.vtex");
}

.Green
{
    background-image: url("s2r://panorama/images/catalogue/card_mini_square_green_psd.vtex");
}

.Red
{
    background-image: url("s2r://panorama/images/catalogue/card_mini_square_red_psd.vtex");
}

.Blue
{
    background-image: url("s2r://panorama/images/catalogue/card_mini_square_blue_psd.vtex");
}

.DeathIndicator
{
	background-image: url("s2r://panorama/images/hud/hud_hero_x_png.vtex");
    background-size: 100%;
	width: 100%;
	height: 100%;
}

.OffscreenHeroIconAlert
{
    background-image: url("s2r://panorama/images/control_icons/alert_icon_psd.vtex");
    height: 160px;
    background-size: 100%;
    wash-color: #f9572e;

    animation-duration: 1.8s;
    animation-delay: 1.15s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-name: HeadShake;
}

@keyframes 'HeadShake'
{
    0%
    {
        transform: rotateZ( 0deg );
    }
    10%
    {
        transform: rotateZ( 10deg );
    }
    20%
    {
        transform: rotateZ( -10deg );
    }
    30%
    {
        transform: rotateZ( 5deg );
    }
    40%
    {
        transform: rotateZ( -5deg );
    }

    50%
    {
        transform: rotateZ( 0deg );
    }
    100%
    {
        transform: rotateZ( 0deg );
    }
}

.Invisible
{
    visibility: collapse;
}