.WideLaneAlertIconPanel {
    height: 160px;
    width: 160px;
    background-size: 100%;
}

.OffscreenHeroIconAlert
{
    height: 140px;
    width: 140px;
    wash-color: #fff799;
    align: center center;
    animation-duration: 1.8s;
    animation-delay: 1.15s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-name: HeadShake;
}

@keyframes 'HeadShake'
{
    0%
    {
        transform: rotateZ( 0deg );
    }
    10%
    {
        transform: rotateZ( 10deg );
    }
    20%
    {
        transform: rotateZ( -10deg );
    }
    30%
    {
        transform: rotateZ( 5deg );
    }
    40%
    {
        transform: rotateZ( -5deg );
    }

    50%
    {
        transform: rotateZ( 0deg );
    }
    100%
    {
        transform: rotateZ( 0deg );
    }
}

.Invisible
{
    visibility: collapse;
}