CardTypeCount
{
	width: 172px;
	flow-children: down;
	margin-top: 15px;
	margin-bottom: 15px;
	margin-left: 5px;
}

#DeckCountCardsContainer
{
	horizontal-align: center;
	flow-children: right;
}

.DeckCount
{
	font-size: 20px;
	font-weight: ultra-light;
	letter-spacing: 1px;
    text-transform: uppercase;
    vertical-align: center;
    flow-children: right;
	color: #d7d1d5;
	horizontal-align: center;
}

.DeckCardCountLabel
{
	font-size: 16px;
	color: #7c8e8e;
	margin-left: 4px;
}

.MainDeckCardStats
{
	flow-children: right;
	horizontal-align: center;
}

.DeckStatIcon
{
    vertical-align: center;
    flow-children: down;
	margin-right: 9px;
	margin-left: 9px;
}

.DeckStatIcon Label
{
	color: #7c8e8e;
}

.DeckStatsIconLabel
{
	font-size: 28px;
}

.MainDeckCardTypeStat
{
	font-size: 16px;
	horizontal-align: center;
	margin-top: -5px;
	margin-left: 2px;
}