CatalogueDragCardPanel
{
	width: 96px;
	height: 164px;
	background-size: 100% 100%;
	flow-children: down;
	visibility: collapse;
}

CatalogueDragCardPanel.IsBeingDragged
{
	visibility: visible;
}

CatalogueDragCardPanel.Red
{
    background-image: url("s2r://panorama/images/catalogue/card_mini_bg_red_psd.vtex");
}

CatalogueDragCardPanel.Blue
{
    background-image: url("s2r://panorama/images/catalogue/card_mini_bg_blue_psd.vtex");
}

CatalogueDragCardPanel.Green
{
    background-image: url("s2r://panorama/images/catalogue/card_mini_bg_green_psd.vtex");
}

CatalogueDragCardPanel.Black
{
    background-image: url("s2r://panorama/images/catalogue/card_mini_bg_black_psd.vtex");
}

CatalogueDragCardPanel.Colorless
{
    background-image: url("s2r://panorama/images/catalogue/card_mini_bg_neutral_psd.vtex");
}

CatalogueDragCardPanel.IsItem
{
    background-image: url("s2r://panorama/images/catalogue/card_mini_bg_item_psd.vtex");
}

#CardArtHeroIcon
{
	margin-top: 4%;
	width: 100%;
	height: 59%;
}

#CardArtTypeContainer
{
	width: 100%;
	height: 33%;
	vertical-align: bottom;
	margin-bottom: 4%;
}

.CardArtTypeIcon
{
	width: 100%;
	height: 100%;

	text-align: center;
	vertical-align: center;

	font-size: 42px;

	visibility: collapse;

	color: gradient( linear, 0% 0%, 0% 100%, from( #e5e5e5 ), to( #999999) );
}

.BigTypeIcon .CardArtTypeIcon
{
    font-size: 85px;
}

.IsHero #CardArtTypeHero,
.IsCreep #CardArtTypeCreep,
.IsSpell #CardArtTypeSpell,
.IsImprovement #CardArtTypeImprovement,
.ItemWeapon #CardArtTypeWeapon,
.ItemArmor #CardArtTypeArmor,
.ItemAccessory #CardArtTypeAccessory,
.ItemConsumable #CardArtTypeConsumable,
.ItemDeed #CardArtTypeConsumable,
.ActiveAbility #CardArtTypeActive
{
    visibility: visible;
}