CatalogueDragCardPanel
{
	width: 96px;
	height: 164px;
	background-size: 100% 100%;
	flow-children: down;
	visibility: collapse;
}

CatalogueDragCardPanel.IsBeingDragged
{
	visibility: visible;
}

CatalogueDragCardPanel.Red
{
    background-image: url("s2r://panorama/images/catalogue/card_mini_bg_red_psd.vtex");
}

CatalogueDragCardPanel.Blue
{
    background-image: url("s2r://panorama/images/catalogue/card_mini_bg_blue_psd.vtex");
}

CatalogueDragCardPanel.Green
{
    background-image: url("s2r://panorama/images/catalogue/card_mini_bg_green_psd.vtex");
}

CatalogueDragCardPanel.Black
{
    background-image: url("s2r://panorama/images/catalogue/card_mini_bg_black_psd.vtex");
}

CatalogueDragCardPanel.IsItem
{
    background-image: url("s2r://panorama/images/catalogue/card_mini_bg_item_psd.vtex");
}

#CardArtHeroIcon
{
	margin-top: 7px;
	width: 96px;
	height: 96px;
}

#CardArtTypeContainer
{
	width: 100%;
	height: 54px;
	vertical-align: bottom;
	margin-bottom: 7px;
}

.CardArtTypeIcon
{
    width: 100%;
    height: 54px;

    text-align: center;
	vertical-align: center;

    font-size: 42px;

	visibility: collapse;

    color: gradient( linear, 0% 0%, 0% 100%, from( #e5e5e5 ), to( #999999) );
}

.IsHero #CardArtTypeHero,
.IsCreep #CardArtTypeCreep,
.IsSpell #CardArtTypeSpell,
.IsImprovement #CardArtTypeImprovement,
.ItemWeapon #CardArtTypeWeapon,
.ItemArmor #CardArtTypeArmor,
.ItemAccessory #CardArtTypeAccessory,
.ItemConsumable #CardArtTypeConsumable,
.ItemDeed #CardArtTypeConsumable
{
    visibility: visible;
}