DeckListCardPanel
{
	flow-children: none;
	width: 100%;
	//margin-right: 10px;
	height: 45px;
	background-size: 100% 100%;
	border-bottom: 1px solid #00000030;
	border-left: 1px solid #000000bb;
	border-right: 0px solid #000000aa;
	border-left: 0px solid #ffffff05; 
	z-index: 5;
	margin-bottom: 1px;
	tooltip-body-position: 20% 20%;
}

#DeckListCardsContainer:vscroll DeckListCardPanel
{
	border-right: 1px solid #000000aa;
}

#DeckListCardPanelContainer
{
	width: 100%;
	height: 100%;
	flow-children: right; 
}

#PartiallyOwnedBar
{
	height: 100%;
	width: 4px;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #5be158 ), to( #36a170) );
	//box-shadow: fill #1d7a28 0px 0px 10px 0px;
	horizontal-align: right;
	opacity: 0;
	transition-property: opacity;
	transition-duration: .3s;
}

.PartialOwnership #PartiallyOwnedBar
{
	opacity: 1; 
}

DeckListCardPanel.Hidden
{
	visibility: collapse;

}
.IngameDeckList DeckListCardPanel
{
	height:30px;
}
.IngameDeckList.UnknownDeckList #TotalInstancesLabel
{
	visibility:collapse;
}
.IngameDeckList.UnknownDeckList #InstancesLabel
{
	visibility:visible;
}
.IngameDeckList DeckListCardPanel.IsIncludeCard:hover, .IngameDeckList DeckListCardPanel.IsHovered.IsIncludeCard,
.IngameDeckList DeckListCardPanel:hover, .IngameDeckList DeckListCardPanel.IsHovered
{
	height:30px;
	brightness: 1.75;
	saturation: 1.1;
	box-shadow: fill #00000060 0px 0px 10px 0px;	
	background-size: 100% 100%;
	border-bottom: 1px solid black;
	z-index: 1;
	margin-top: 0px;
	margin-bottom: 0px;
}
.IngameDeckList DeckListCardPanel #CardArtContainer,
.IngameDeckList DeckListCardPanel:hover #CardArtContainer, .IngameDeckList DeckListCardPanel.IsHovered #CardArtContainer,
.IngameDeckList DeckListCardPanel.IsIncludeCard:hover #CardArtContainer, .IngameDeckList DeckListCardPanel.IsHovered.IsIncludeCard #CardArtContainer
{
	height:30px;
	width:35px;
}

.IngameCatalogueCard #InstancesLabel
{
	visibility:collapse;
}
.IngameCatalogueCard #InstancesContainer #IncludedByCardArtMiniIcon
{
	visibility:collapse;
}
.IngameCatalogueCard #CardNameContainer #IncludeName
{
	visibility:collapse;
}
.IngameDeckList DeckListCardPanel Label
{
	font-size: 17px;
}

DeckListCardPanel.IsLocked
{
	brightness: 3;
	saturation: 1.1;
	box-shadow: fill #00000055 0px 5px 10px 0px;
	z-index: 1;
	border-bottom: 1px solid #000000bb;
	
	//background-color: #b4a0b505;
}

DeckListCardPanel.Green.IsLocked
{
	background-color: #18513333;
}

DeckListCardPanel.Red.IsLocked
{
	background-color: #51181855;
}

DeckListCardPanel.Blue.IsLocked
{
	background-color: #18285155;
}

DeckListCardPanel.Black.IsLocked
{
	background-color: #b4a0b505;
}

DeckListCardPanel.Colorless.IsLocked
{
	background-color: #51381855;
}

DeckListCardPanel.IsLocked:hover 
{
	brightness: 3;
	saturation: 1.1;
	box-shadow: fill #00000055 0px 5px 10px 0px;
	z-index: 1;
	border-bottom: 1px solid #000000bb;
}

.DeckListCardCostLabel
{
	width: 15px;
	text-align: center; 
	text-overflow: shrink; 
}

DeckListCardPanel Label
{
	vertical-align: center;	
	font-size: 20px;
	text-overflow: shrink;
	font-weight: light;
	color: gradient( linear, 0% 0%, 0% 100%, from( #e5e5e5 ), to( #999999) );
	text-shadow: 1px 1px 2px 2.0 black;
	transition-property: color, text-shadow;
	transition-duration: .2s;
	transition-timing-function: linear;
	
}

DeckListCardPanel:hover, DeckListCardPanel.IsHovered
{
	brightness: 2;
	saturation: 1.1;
	box-shadow: fill #00000055 0px 5px 10px 0px;
	//height: 63px;
	//margin-top: -9px;
	//margin-bottom: -9px;
	//background-size: 132% 100%;
	//border-bottom: 1px solid black;
	//border-top: 1px solid #ffffff02; 
	//border-top: 1px solid white; 
	z-index: 1;
	border-bottom: 1px solid #000000bb;
	
}

DeckListCardPanel.IsLocked #CardArtContainer
{
	background-image: url("s2r://panorama/images/catalogue/background_is_hero_locked_psd.vtex");
	box-shadow: fill #000000aa 0px 0px 20px 0px;	
}

DeckListCardPanel.IsLocked #CardArtImage
{
	brightness: .6;
	//border: 3px solid #ffffffaa;
}

#LibraryListing DeckListCardPanel.IsDimmed #CardArtContainer
{
	saturation: .7;
}

#LibraryListing DeckListCardPanel.IsDimmed.IsLocked #CardArtContainer
{
	saturation: 1;
}

#LibraryListing DeckListCardPanel.IsDimmed:hover #CardArtContainer
{
	saturation: 1;
}

#LibraryListing DeckListCardPanel.IsDimmed #LockedCardBevel
{
	brightness: 2;
	opacity: 1;
}


#LibraryListing DeckListCardPanel.IsDimmed:hover, #LibraryListing  DeckListCardPanel.IsHovered.IsDimmed
{
	brightness: .6;
	opacity: 1;
	horizontal-align: right; 
	//border: 3px solid black;
	background-color: black; 
}

#LibraryListing DeckListCardPanel.IsDimmed.IsLocked, #LibraryListing  DeckListCardPanel.IsLocked.IsDimmed
{
	brightness: .6;
	opacity: 1;
	horizontal-align: right; 
	//border: 3px solid black;
	background-color: black; 
}



DeckListCardPanel.IsHero:hover #CardArtContainer, DeckListCardPanel.IsHero.IsHovered #CardArtContainer
{
	//width: 63px;
	//height: 63px;
	
}

DeckListCardPanel:hover Label, DeckListCardPanel.IsHovered Label
{
	color: #ffffffaa;
	//text-shadow: 0px 0px 2px 0.25 #0dfffc;
	
}

DCGDeckList #DeckListCardsContainer:vscroll DeckListCardPanel
{
	margin-right: 10px;
}

#TypeIcon
{
	font-size: 26px;
	margin-left: 8px;
	margin-right: 4px;
	width: 24px;
	text-overflow: shrink;
	text-align: center; 
	vertical-align: center;
}

#CardArtContainer
{
	width: 45px;
	height: 45px;
	margin: 0;
	vertical-align: center;
	transition-property: height, width, brightness;
	transition-timing-function: ease-in-out;
	transition-duration: .025s;
}

.IsHero #CardArtContainer
{
	height: 45px;
	width: 45px;
	background-image: url("s2r://panorama/images/catalogue/background_is_hero_psd.vtex");
	background-size: 100% 100%;
	
}

#CardArtImage
{
	width: 100%;
	height: 100%;
	visibility: visible;
	vertical-align: center;
	horizontal-align: center;
}

#WarningIcon
{
	vertical-align: center;
	horizontal-align: center;
	background-color: #000000AA;
	background-image: url("s2r://panorama/images/deck_builder/buttons/flat_warning_png.vtex");
	background-size: 32px 32px;
	background-position: 50% 50%;
	height: 100%;
	width: 100%;
	background-repeat: no-repeat;
	flow-children: none;
	visibility: collapse;
}

.NeedsWarning #WarningIcon
{
	visibility: visible;
}

#LockedCardBevel
{
	width: 100%;
	height: 100%;
	visibility: collapse;
	vertical-align: center;
	horizontal-align: center;
	background-color: gradient( linear, 100% 0%, 0% 0%, from( #00000000 ), color-stop(0.75, #00000000), color-stop(0.93, #000000cc), to( #000000cc) ); 
}

.Red #LockedCardBevel
{
	border-left: 4px solid #983636;
}

.Blue #LockedCardBevel
{
	border-left: 4px solid #304b75;
}

.Green #LockedCardBevel
{
	border-left: 4px solid #286543;
}

.Black #LockedCardBevel
{
	border-left: 4px solid #757575;
}

.Colorless #LockedCardBevel
{
	border-left: 4px solid #7a5f30;
}

.IsLocked #LockedCardBevel
{
	visibility: visible; 
}

.IsHero #CardArtImage
{
	box-shadow: none;
	height: 32px;
	width: 32px; 
}

#TypeIconContainer
{
	vertical-align: center;
	flow-children: right;
}

#NoCostLabel
{
	visibility: collapse;
}

.IsHero #CostLabel
{
	visibility: collapse;
}

.IsHero #NoCostLabel
{
	visibility: visible;
}


#CardNameContainer
{
	vertical-align: center;
	flow-children: down;
	margin-left: 10px;
	width: fill-parent-flow( 1.0 );
}

#CardCost
{
	visibility: collapse;
	
}

.HasPrice #CardCost
{
	visibility: visible;
}

#CardCost Label
{
	font-size: 14px;
	letter-spacing: 1px;
	color: #ffffff40;
	text-shadow: 0px 0px 0px 0 #00000000;
	//text-transform: uppercase;
	margin-top: 2px;
}

#InstancesContainer
{
	flow-children: right;
	horizontal-align: right;
	vertical-align: center;
	margin-right: 8px;
	margin-top: 2px;
}

#IncludedByCardArtMiniIcon
{
	visibility: collapse;
	width: 22px;
	height: 22px;
	visibility: collapse;
	horizontal-align: right;
	vertical-align: center;
	margin-right: 0px;
	margin-left: 3px;
	margin-top: -3px;
}

.IsIncludeCard #IncludedByCardArtMiniIcon
{
	visibility: visible;
}

#CardNameLabel
{
	text-overflow: shrink; 
	vertical-align: center;
}

.IsIncludeCard #CardNameLabel, .HasPrice #CardNameLabel
{
}
.IngameDeckList .IsIncludeCard #CardNameLabel
{
	margin-top: 5px;
	margin-bottom: 0px;	
}
#IncludeName
{
	visibility: collapse;
	font-size: 14px;
	letter-spacing: 1px;
	color: #ffffff20;
	text-shadow: 0px 0px 0px 0 #00000000;
	//text-transform: uppercase;
	margin-top: -3px;
}




.IsIncludeCard #IncludeName 
{
	visibility: visible;
}

#TotalInstancesLabel
{
	visibility: collapse;
}
#ExtraInstancesLabel
{
	visibility:collapse;
}
.UnknownDeckList .HasExtra #ExtraInstancesLabel
{
	visibility:visible;
}
.IngameDeckList #TotalInstancesLabel
{
	visibility: visible;
}

.IngameDeckList #InstancesLabel
{
	visibility: collapse;
}

.DeckListing #InstancesLabel
{
	visibility: collapse;
}

.IsPurchaseCardsMode #AdjustableInstancesLabel
{
	visibility: collapse;
}

.IsPurchaseCardsMode.IsInBuyToCompleteSetMode #AdjustableInstancesLabel
{
	visibility: visible;
}

#CardPurchaseListing #AdjustableInstancesLabel
{
	visibility: visible;
}

#AdjustableInstancesLabel
{
	width: 20px;
	text-align: center;
}

#AdjustableInstancesLabelOfAllowed
{
	visibility: collapse;
}


.DisplayMaxAllowed #AdjustableInstancesLabelOfAllowed
{
	visibility: visible;
}

.DisplayMaxAllowed #AdjustableInstancesLabel
{
	visibility: collapse;
}

.AdjustableInstancesContainer
{
	flow-children: right;
	visibility: collapse;
}

#LibraryListing #InstancesLabel
{
	visibility: collapse;
}

#LibraryListing .AdjustableInstancesContainer
{
	visibility: visible;
}

#LibraryListing #DecreaseInstances
{
	visibility: collapse;
}

#LibraryListing #DecreaseInstances
{
	visibility: collapse;
}

.DeckListing .AdjustableInstancesContainer
{
	visibility: visible;
}

.InPopupWindow .AdjustableInstancesContainer
{
	visibility: collapse;
}

.LibraryContainer DeckListCardPanel #IncreaseInstances
{
	visibility: collapse;
}

.LibraryContainer DeckListCardPanel:hover #IncreaseInstances
{
	visibility: visible;
}

.LibraryContainer DeckListCardPanel.IsLocked #IncreaseInstances
{
	visibility: visible;
}

.InPopupWindow .DeckListing #InstancesLabel
{
	visibility: visible;
}

.AdjustInstancesButton
{
	height: 25px;
	width: 25px;
	background-size: contain;
	vertical-align: top;
	horizontal-align: center;
	
	background-color: #ffffff00;
	transition-property: background-color;
	//transition-duration: .1s;
}

#IncreaseInstances.AdjustInstancesButton:hover
{
	background-image: url("s2r://panorama/images/catalogue/card_list_button_add_large_psd.vtex");
	background-repeat: no-repeat;
}

#DecreaseInstances.AdjustInstancesButton:hover
{
	background-image: url("s2r://panorama/images/catalogue/card_list_button_remove_large_psd.vtex");
	background-repeat: no-repeat;
}

.MaxInDeck #IncreaseInstances.AdjustInstancesButton:hover
{
	opacity: 0;
}

.ZeroInLibrary #IncreaseInstances:hover 
{
	background-color: none;
}

.IsIncludeCard #DecreaseInstances
{
	visibility: collapse;
}

.IsIncludeCard #IncreaseInstances
{
	visibility: collapse;
}

#IncreaseInstances
{
	background-image: url("s2r://panorama/images/catalogue/card_list_button_add_psd.vtex");
	background-repeat: no-repeat;
}

.HeroSlotsFull .IsHero #IncreaseInstances
{
	background-image: url("s2r://panorama/images/catalogue/card_list_button_neutral_psd.vtex");
}

.HeroSlotsFull .IsHero #IncreaseInstances:hover
{
	background-color: #ffffff00;
}

#DecreaseInstances
{
	background-image: url("s2r://panorama/images/catalogue/card_list_button_remove_psd.vtex");
}

.MaxInDeck #IncreaseInstances
{
	background-image: url("s2r://panorama/images/catalogue/card_list_button_neutral_psd.vtex");
}

.ZeroInLibrary #IncreaseInstances
{
	background-image: url("s2r://panorama/images/catalogue/card_list_button_neutral_psd.vtex");
}


.HideHeroes .IsHero
{
	visibility: collapse;
}

DeckListCardPanel.Colorless
{
	background-image: url("s2r://panorama/images/catalogue/card_list_bg_item_psd.vtex");
}

DeckListCardPanel.Black
{
	background-image: url("s2r://panorama/images/catalogue/card_list_bg_black_psd.vtex");
}

.ColorblindModeSuits DeckListCardPanel.Black
{
	background-image: url("s2r://panorama/images/catalogue/card_list_bg_black_cb_psd.vtex");
}

DeckListCardPanel.Red
{
	background-image: url("s2r://panorama/images/catalogue/card_list_bg_red_psd.vtex");
}

.ColorblindModeSuits DeckListCardPanel.Red
{
	background-image: url("s2r://panorama/images/catalogue/card_list_bg_red_cb_psd.vtex");
}

DeckListCardPanel.Green
{
	background-image: url("s2r://panorama/images/catalogue/card_list_bg_green_psd.vtex");
}

.ColorblindModeSuits DeckListCardPanel.Green
{
	background-image: url("s2r://panorama/images/catalogue/card_list_bg_green_cb_psd.vtex");
}

DeckListCardPanel.Blue
{
	background-image: url("s2r://panorama/images/catalogue/card_list_bg_blue_psd.vtex");
}

.ColorblindModeSuits DeckListCardPanel.Blue
{
	background-image: url("s2r://panorama/images/catalogue/card_list_bg_blue_cb_psd.vtex");
}

.IsIncludeCard #CardCost
{
	visibility: collapse;
}

#CardCountLabel
{
	font-size: 14px;
	letter-spacing: 1px;
	color: #ffffff40;
	text-shadow: 0px 0px 0px 0 #00000000;
	margin-top: 2px;
	margin-left: 6px;
	visibility: collapse;
}

.HasPrice #CardCountLabel
{
	visibility: visible;
}

.IsSellCardsMode.IsShowExcessMode #CardCountLabel,
.IsRecycleCardsMode.IsShowExcessMode #CardCountLabel
{
	visibility: visible;
}

.IsSellCardsMode #CardCountLabel,
.IsRecycleCardsMode #CardCountLabel
{
	visibility: collapse;
}

.CardCounts
{
	flow-children: none;
}

#ExcessCardCountLabel
{
	visibility: collapse;
	width: 20px;
	text-align: center;
}

.IsShowExcessMode #PreviewAndLibraryContainer #ExcessCardCountLabel
{
	visibility: visible;
}

.IsShowExcessMode #PreviewAndLibraryContainer #AdjustableInstancesLabel
{
	visibility: collapse;
}

.FlowRight
{
	flow-children: right;
}


#LibraryListing DeckListCardPanel
{
	opacity: 0;
	transition-property: opacity, transform, height;
	transition-duration: 0.25s;
}

#LibraryListing.IsUnlimitedCollection DeckListCardPanel
{
	transition-property: none;
}

#LibraryListing DeckListCardPanel.IsDimmed
{
	visibility: collapse;
	opacity: 0;
	transform: translateX(405px);
	height: 0px;

}

#LibraryListing DeckListCardPanel.IsDimmed.IsLocked
{
	opacity: 0.5;
}

#LibraryListing DeckListCardPanel.AboutToDim
{
	opacity: 0.0;
	transform: translateX(405px);
	height: 0px;
}

#LibraryListing DeckListCardPanel.IsBright, #LibraryListing DeckListCardPanel.AboutToBright
{
	opacity: 1;
	transform: translateX(0px);
}

#LibraryListing.IsUnlimitedCollection DeckListCardPanel.IsDimmed
{
	opacity: 0.5;
	visibility: visible;
	transform: translateX(0px);
	height: 45px;
}

#LibraryListing.IsUnlimitedCollection DeckListCardPanel.IsDimmed.IsLocked
{
	opacity: 0.5;
	visibility: visible;
	transform: translateX(0px);
	height: 45px;
}

#LibraryListing.IsUnlimitedCollection DeckListCardPanel.IsDimmed.IsLocked.Hidden
{
	visibility: collapse;
}
