DCGDeckSummary
{
	flow-children: down;
}

.InPopupWindow DCGDeckSummary
{
    horizontal-align: center;
}

DCGDeckSummary.FlowRight
{
	flow-children: right;
	vertical-align: center;
}

#CardCountsContainer
{
	flow-children: right;
}

.HideCardCount.HideItemCount #CardCountsContainer, .HideCardCount #CardTypeContainer, .HideItemCount #ItemTypeContainer, .HideHeroButtons #HeroButtonRow, .HideHistogram #DeckHistogram
{
	visibility: collapse;
}
/* ------------------------------------------------------------------------- */
/*  Catalogue Panel Specific Stuff								                 */
/* ------------------------------------------------------------------------- */

.IsPurchaseCardsMode #CardCountsContainer, .IsPurchaseCardsMode #CardTypeContainer, .IsPurchaseCardsMode #ItemTypeContainer, .IsPurchaseCardsMode #DeckHistogram,
.IsSellCardsMode #CardCountsContainer, .IsSellCardsMode #CardTypeContainer, .IsSellCardsMode #ItemTypeContainer, .IsSellCardsMode #DeckHistogram
{
    visibility: collapse;
}

/* ------------------------------------------------------------------------- */
/*  Catalogue Panel Specific Stuff								                 */
/* ------------------------------------------------------------------------- */

Catalogue DCGDeckSummary
{
	horizontal-align: center; 
}

Catalogue #CardCountsContainer
{
	margin-top: 3px;
	width: 100%;
}


/* ------------------------------------------------------------------------- */
/*  Limited Stage Panel Specific Stuff								                 */
/* ------------------------------------------------------------------------- */

LimitedStage DCGHeroButtonRow
{
	horizontal-align: right;
	vertical-align: center;
}

/* ------------------------------------------------------------------------- */
/* Limited Stage Panel Specific Stuff								                 */
/* ------------------------------------------------------------------------- */


