DCGHeroButton
{
	height: 64px;
	width: 64px;

	background-size: 100% 100%;

	visibility: collapse;
	
	box-shadow:4px 4px 16px 8px #000000 inset;
	tooltip-body-position: 20% 20%;
}

.SelectDeckContainerContents DCGHeroButton
{
	width: 60px;
	height: 60px;
}


.SelectDeckContainerContents #HeroIcon
{
	width: 75%;
	height: 75%;
}

/* Hack stop fix issue with Hero Icon popping up input the top right when a new hero icon is created in a HeroButtonContainer or DeckListRow */
.HeroButtonContainer DCGHeroButton, .DCGHUDCardView DCGHeroButton
{
	visibility: visible;
}

#HeroIcon
{
	horizontal-align: center;
	vertical-align: center;
	height: width-percentage( 100% );
	width: 75%;
}

DCGHeroButton.Red
{
	background-color: #680d1c;
}

.ColorblindMode DCGHeroButton.Red
{
	background-color: #540200;
}

DCGHeroButton.Green
{
	background-color: #2b5333;
}

.ColorblindMode DCGHeroButton.Green
{
	background-color: #679434;
}

DCGHeroButton.Blue
{
	background-color: #243f61;
}

.ColorblindMode DCGHeroButton.Blue
{
	background-color: #12466c;
}

DCGHeroButton.Black
{
	background-color: #383838;
}

.ColorblindMode DCGHeroButton.Black
{
	background-color: #27242a;
}

/* ------------------------------------------------------------------------- */
/*  DeckBuilder Specific Stuff								                 */
/* ------------------------------------------------------------------------- */

.InCatalogue DCGHeroButton:hover #HeroIcon, .InCatalogue .HighlightHeroResponsibleForInclusion DCGHeroButton #HeroIcon
{
    //width: 32px;
    //height: 32px;
	brightness: 2;
}

.InCatalogue #HeroIcon
{
	//width: 32px;
	//height: 32px;
}

/* ------------------------------------------------------------------------- */
/*  End DeckBuilder Specific Stuff								                 */
/* ------------------------------------------------------------------------- */


/* ------------------------------------------------------------------------- */
/*  HUD Minimap Specific Stuff					                                     */
/* ------------------------------------------------------------------------- */

.DeathIndicator
{
	visibility: collapse;
	background-image: url("s2r://panorama/images/hud/hud_hero_x_psd.vtex");
	background-size: 100% 100%;

	width: 100%;
	height: 100%;
}

.WillDieInCombat .DeathIndicator, .IsInBenchList .DeathIndicator
{
	visibility: visible;
}

/* ------------------------------------------------------------------------- */
/*  End HUD Minimap Specific Stuff					                                     */
/* ------------------------------------------------------------------------- */


/* ------------------------------------------------------------------------- */
/*  Limited Stage Specific Stuff										                 */
/* ------------------------------------------------------------------------- */

LimitedStage DCGHeroButton, DCGGauntlet DCGHeroButton
{
	height: 100%;
	width: 100%;
}

/* ------------------------------------------------------------------------- */
/*  End Limited Stage Specific Stuff										                 */
/* ------------------------------------------------------------------------- */


DCGHUDCardView #HeroIcon
{
	height: 26px;
	width: 26px;
}