DCGHeroButtonContainer
{
	height: 100%;
	width: height-percentage( 100% );
	background-size: 100% 100%;
	background-image: url("s2r://panorama/images/catalogue/card_mini_bg_empty_psd.vtex");

	border-top: 5% solid #0b0e11FF;
	border-right: 5% solid #28333cFF; 
	border-bottom: 5% solid #39444eFF; 
	border-left: 5% solid #0d1013FF; 
}


.HeroLineupLabelNumber
{
    width: 100%;
    color: #485254;
    margin-top: -6px;

    font-size: 36px;
    text-align: center;
}

.HasHeroAssigned .HeroLineupLabel,
.HasHeroAssigned .HeroLineupLabelNumber
{
    visibility: collapse;
}

.HeroLineupContainer
{
	flow-children: down;
}


.HeroButtonContainer.HasHeroAssigned.HighlightOnHover:hover,
.HeroButtonContainer.HighlightHeroResponsibleForInclusion
{
	box-shadow: #0dfffc 0px 0px 4px 0px;

	transition-property: box-shadow, border;
	transition-duration: 0.25s;

    animation-name: HeroLineupPortraitGlowAnimation;
    animation-duration: 2s;
    animation-delay: 0.0s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

.HeroLineupLabel
{
    width: 100%;
    margin-top: 7px;
   	color: #485254;

    font-size: 12px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;    
}

.HeroLineupLabelNumber
{
    width: 100%;
    color: #485254;
    margin-top: -6px;

    font-size: 36px;
    text-align: center;
}

.HasHeroAssigned .HeroLineupLabel,
.HasHeroAssigned .HeroLineupLabelNumber
{
    visibility: collapse;
}

#PartiallyOwnedBarHero
{
	width: 4px;
	height: 100%;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #5be158 ), to( #36a170) );
	horizontal-align: right;
	opacity: 1;
	transition-property: opacity;
	transition-duration: .3s;
	
	z-index: 11; 
	margin: 1px; 
	//margin-right: 2px;
}

.PartialOwnership #PartiallyOwnedBarHero  
{
	opacity: 1;
}

/* ------------------------------------------------------------------------- */
/*  Gauntlet Panel Specific Stuff								                 */
/* ------------------------------------------------------------------------- */

DCGGauntlet .HeroButtonContainer:hover
{
	box-shadow: none;
	animation-name: none;
}

/* ------------------------------------------------------------------------- */
/*  End Gauntlet Panel Specific Stuff								                 */
/* ------------------------------------------------------------------------- */
