Popup
{
    width:100%;
    height:100%;
}

.PopupPanel
{
}

#ClaimButton
{
    horizontal-align: right;
    vertical-align: center;
}

#CancelButton
{
    horizontal-align: left;
    vertical-align: center;    
}

.CardRewardIcon
{
    width: 64px;
    height: 64px;
    background-image: url("s2r://panorama/images/main_menu/icon_packs_psd.vtex");  
    background-size: 100% 100%;
    wash-color: uiStandardGrey;
}

.CardReward
{
    width: fit-children;
    height: fit-children;
    flow-children: right;
}

.DeckReward
{
    width: fit-children;
    height: fit-children;
    flow-children: right;
}


.Item
{
	width: 440px;
	margin-bottom: 16px;
	background-color: gradient( linear, 0% 0%, 100% 0%, from( rgba(68, 107, 122, 0.378) ), to( rgba(64, 103, 109, 0) ) );
	color: #e1e1dd;
	padding: 8px 36px 6px 12px;
	margin-left: 24px;
	margin-top: 4px; 
}