/* styles for the edit chat tab popup */

DCGPopupFullscreenHTML
{
	width: 100%;
	height: 100%;
	transition-property: opacity, transform, pre-transform-scale2d, wash-color;
	transition-duration: 0.3s;
	transition-delay: 0.0s;
	transition-timing-function: ease-in-out;
}

DCGPopupFullscreenHTML.Hidden
{
	opacity: 0.0;
	transform: translateX( 332px ) translateY( -182px );
	pre-transform-scale2d: 0.65;
	wash-color: #a490fc;
}

#LoadingLabel
{
	horizontal-align: center;
	vertical-align: center;
	color: white;
	font-size: 54px;
}

.PageFinishedLoading #LoadingLabel
{
	visibility: collapse;
}

DCGPopupFullscreenHTML.BlogPopup
{
	width: 55%;
	height: 85%;
    horizontal-align:center;
    vertical-align:center;
}

#HTML
{
	background-image: url("s2r://panorama/images/hud/pop_up_background_psd.vtex");
    background-position: center top;
	background-size: 100% 100%;
	width: 100%;
	height: 100%;
}

#Background
{
	width: 100%;
	height: 100%;
	background-color: black;
}

.CloseButton
{
    vertical-align: top;
    horizontal-align: right;
    width: 36px;
    height: 36px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    wash-color: #7c8e8e;
    margin: 0px;
    opacity: 0.7;
    transition-property: opacity;
    transition-duration: 0.4s;
    background-image: url("s2r://panorama/images/catalogue/quit_icon_psd.vtex");
    margin-top: 8px;
    margin-right: 24px;
}

.CloseButton:hover
{
    opacity: 1.3;
}
