
@keyframes 'JoinLeaguePulse'
{
    0%
    {
        box-shadow: #FFFF3333 -4px -4px 8px 8px;
    }

    50%
    {
        box-shadow: #FFFF33FF -4px -4px 8px 8px;
    }

    100%
    {
        box-shadow: #FFFF3333 -4px -4px 8px 8px;
    }
}

PopupManagePacks
{	
}

.MainBody
{
    horizontal-align: center;
    vertical-align: center;
    flow-children: down;
}

.LeagueTabHeader
{
    width: 100%;
    flow-children: right;
}

.LeagueTabHeader .RadioBox
{
	visibility: collapse;
}

.LeagueTab
{
    margin: 0px;
    width: fill-parent-flow( 1.0 );
    border-bottom: 4px solid black;
}

.LeagueTab:selected
{
    border-top: 4px solid black;
    border-right: 4px solid black;
    border-left: 4px solid black;
    border-bottom: 0px solid black;
	background-color: gradient( linear, 100% 0%, 100% 100%, from( #888888FF ), color-stop( 0.2, #888888FF ), to( #88888800 ) );    
}

.LeagueTab Label
{
    color: gray;
    font-size: 30px;
    horizontal-align: center;
    text-transform: uppercase;
}

.LeagueTab:selected Label
{
    color: white;
    text-shadow: 0px 0px 12px 10.0 #ffffff02;
}

#NewLeagueTab Label
{
    color: #BBBB00;
}

#NewLeagueTab:hover Label,
#NewLeagueTab:selected Label
{
    color: yellow;
}

#DeckList
{
    flow-children: down;
    horizontal-align: center;
}

#DeckList Label
{
    horizontal-align: center;
    color: gray;
    font-size: 20px;
}

#DeckList Label:hover
{
    horizontal-align: center;
    color: white;
    font-size: 20px;
}

#DeckListContainer
{    
    flow-children: down;
    horizontal-align: center;
    margin-top: 30px;
}

#TimerContainer
{
    margin-top: 30px;
    margin-bottom: 30px;
    flow-children: down;
    horizontal-align: center;
}

#ViewGlobalPool
{
    horizontal-align: center;
    width: 300px;    
}

.BottomButtonRow
{
    flow-children: right;
    horizontal-align: center;
}

#JoinLeague
{
    animation-name: JoinLeaguePulse;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-duration: 2s;
    horizontal-align: center;
    margin-top: 40px;
    margin-bottom: 30px;
    width: 300px;
    height: 70px;

    visibility: collapse;
}

#JoinLeague Label
{
    font-size: 30px;
    color: yellow;
}

#JoinLeague:hover Label
{
    font-size: 30px;
    color: yellow;
    text-shadow: 0px 0px 2px 2.0 #FFFF0011;
}

.CanJoinLeague #JoinLeague
{
    visibility: visible;
}

.NotYetVisible #ViewGlobalPool,
.NotYetVisible #DeckList
{
    visibility: collapse;
}

.CountdownTimer
{
    flow-children: right;
    horizontal-align: center;
}

#AboutPacksButton
{
    margin-right: 100px;
}

#DeckListTitle
{
    font-size: 30px;
}

.Pack1
{
    saturation: 0;    
}

.Pack1
{
    opacity: 0.3;
    saturation: 0;
}

.HasPack1 .Pack1
{
    opacity: 1;
    saturation: 1;
}

.IsCurrentLeague .HasPack1 .Pack1
{
    animation-name: PremiumPackOpenGlow;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}


.IsCurrentLeague .HasPack1 .Pack1:hover
{
    brightness: 2;
}

.Pack2
{
    transform: rotatez( -8deg );    
    visibility: collapse;
}

.HasPack2 .Pack2
{
    visibility: visible;
}

.Pack3
{
    transform: rotatez( 10deg );
    visibility: collapse;
}

.HasPack3 .Pack3
{
    visibility: visible;
}

.CardPocket
{
    padding: 25px;
}

.PackCount
{
    horizontal-align: center;
    color: #888888;
    font-size: 19px;
    text-transform: uppercase;
}

#IncludedItems
{
    horizontal-align: center;
    flow-children: down;
}

.IncludedPackName
{
    color: white;
    horizontal-align: center;
    font-size: 20px;
    text-transform: uppercase;
}

.IsCurrentLeague .IncludedPackName
{
    color: #666666;
}

.IsCurrentLeague .IncludedPackName.CanOpenPacks
{
    color: gold;
    text-shadow: 0px 0px 2px 2.0 #FFFF0011;
}

.IsCurrentLeague .IncludedPackName.CanOpenPacks:hover
{
    text-shadow: 0px 0px 4px 2.0 #FFFF0033;
}

#UnopenedPacksLabel,
.IsCurrentLeague #IncludedPacksLabel
{
    visibility: collapse;
}

.IsCurrentLeague #UnopenedPacksLabel,
#IncludedPacksLabel
{
    visibility: visible;
}

.CountdownHeader
{
    font-size: 30px;
}

.CountdownTime
{
    font-size: 30px;
}


.PackCollection
{
    horizontal-align: center;
}

.LeagueInfoBody
{
    flow-children: right;
    margin-bottom: 30px;
    border-left: 4px solid black;
    border-right: 4px solid black;
    border-bottom: 4px solid black;
}

.PackTypeColumn
{
    flow-children: down;
    margin-left: 60px;
    margin-right: 60px;
    height: 680px;
}


.PhantomInfo
{
    color: gray;
    width: 350px;
    horizontal-align: center;
    text-align: center;
    border: 1px solid gray;
    padding: 10px;
    vertical-align: bottom;
    margin-bottom: 30px;
}

.ColumnSeparator
{
    margin: 40px 80px 40px 80px;
    height: 100%;
    width: 4px;
    border: 2px solid gray;
}

.PackTitle
{
    color: white;
    font-size: 30px;
    horizontal-align: center;
    text-transform: uppercase;
    text-shadow: 0px 0px 12px 10.0 #ffffff02;
}

CardCollectionCard.CardPack
{
    width: 300px;
    height: 525px;
}