.MainBody
{
    flow-children: down;
}

.BodyRow
{
    horizontal-align: center;
    flow-children: right;
}

#Title
{
    text-transform: uppercase;
    color: white;
    font-size: 40px;
    margin-bottom: 20px;
}

.PackContents,
.PhantomPacks
{
    padding: 20px;
    border: 2px solid #444444;
    horizontal-align: center;
    flow-children: down;
    width: 600px;
    margin-bottom: 40px;
}

.SectionTitle
{
    margin: 5px;
    font-size: 24px;
    horizontal-align: center;
}

.InfoLabel
{
    text-align: center;
    horizontal-align: center;
    margin: 5px;
}

.RarityCards
{
    flow-children: right;
}

.RarityCards Label
{
    vertical-align: center;
}

.RarityCount
{
    font-size: 30px;
    color: white;
    margin-right: 10px;
}

.RarityList
{
    padding: 20px;
    flow-children: down;
    horizontal-align: center;
}