PopupESCMenu
{
	width: 350px;
	vertical-align: center;
	horizontal-align: center;
	opacity: 1.0;
	transform: none;


	transition-property: opacity, transform, pre-transform-scale2d, wash-color;
	transition-duration: 0.4s;
	transition-delay: 0.0s;
	transition-timing-function: ease-in-out;

	box-shadow: #00000099 -4px -4px 8px 8px;
	flow-children: down;
    padding: 20px;

    background-image: url("s2r://panorama/images/hud/esc_bg_psd.vtex");
    background-position: center top;
		background-color: none;
}

PopupESCMenu.Hidden
{
	opacity: 0.0;
	transform: translateX( 120px ) translateY( -60px );
	pre-transform-scale2d: 0.95;
	wash-color: #33cccc;
}

#ESCActionButtons
{
	flow-children: down;
	width: fit-children;
	horizontal-align: center;
}

.ESCMenuButton
{
	margin-top: 8px;
	margin-bottom: 6px;
	width: 270px;
}

.ESCMenuButton Label
{
	font-weight: normal;
	color: gradient( linear, 0% 0%, 0% 100%, from( #eaeaea ), to( #ababab) );
}

#ESCMenuTitle
{
	margin-bottom: 20px;
	font-size: 24px;
	horizontal-align: center;
    text-transform: uppercase;
    visibility: collapse;
}

.InMatch #ESCConcedeButton Label, 
.InMatch #ESCQuitButton Label, 
.InMatch #ESCMainMenuButton Label
{
	//color: gradient( linear, 0% 0%, 0% 100%, from( #ee8888 ), to( #bb1818) );
}

#ESCMuteOpponentButton,
#ESCUnmuteOpponentButton,
#ESCConcedeButton,
#ESCMainMenuButton,
#ESCQuitButton
{
    visibility: collapse;
}

.IsReplay .ShowMute #ESCMuteOpponentButton,
.IsReplay .ShowUnmute #ESCUnmuteOpponentButton
{
	visibility: collapse;
}

.ShowMute #ESCMuteOpponentButton,
.ShowUnmute #ESCUnmuteOpponentButton,
.ShowConcede #ESCConcedeButton,
.ShowMainMenu #ESCMainMenuButton,
.ShowQuit #ESCQuitButton
{
    visibility: visible;
}
