@import url("file://{resources}/styles/dota_card_game_styles.css");

@define controlFadeDuration: 0.4s;

.PopupTickets
{
	horizontal-align: center;
	vertical-align: middle;
	opacity: 1;
    transition-property: opacity;
    transition-duration: controlFadeDuration;
}

.PopupTickets.Hidden
{
	opacity: 0;
}

#PopupContainer
{
	background-image: url("s2r://panorama/images/dialogs/tickets_bg_psd.vtex");
	background-size: contain;
	background-color: #303035cc;
	width: 900px;
	height: 484px;
	box-shadow: #00000055 -2px -2px 16px 8px;
	horizontal-align: center;
	vertical-align: center;
    min-height:300px;
}

#MainContentsPadding
{
	padding: 24px;
	flow-children: down;
	height: fit-children;
	width: 100%;
}

.Title
{
	letter-spacing: 1px;
	font-size: 28px;
	text-shadow: 1px 1px 1px 2 black;
}

.Title Label
{
    color: uiBrightGrey;
}

.Body
{
	margin-top: 16px;
  height: fit-children;
	text-shadow: 1px 1px 1px 2 black;
	color: uiStandardGrey;
	width: 460px;
	horizontal-align: right;
	padding-left: 12px;
}

#Status
{
	width: 100%;
	height: fit-children;
	vertical-align: bottom;
	horizontal-align: center;
	margin-top: 120px;
	flow-children: down;

	border: 2px solid black;
	background-color: #00000080;
}

.TicketsOwned
{
	flow-children: right;
}

#TicketsIcon
{
    height: 40px;
	width: 40px;
	vertical-align: center;
   
	background-repeat: no-repeat;
	background-size: cover;
	background-image: url("s2r://panorama/images/tournaments/icon_ticket_psd.vtex"); 
}

#TicketsCount
{
	margin-top: 6px;
	margin-right: 32px;
	vertical-align: center;
	height: 30px;
	width: 100px;
//	text-overflow: shrink;
	text-align: left;
	font-size: 20px;
	text-shadow: 1px 1px 1px 2 black;
}


.CloseButton
{
vertical-align: top;
	horizontal-align: right;

	width: 36px;
	height: 36px;

	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-position: 50% 50%;

	wash-color: #7c8e8e;
    margin: 0px;
    opacity: 0.7;
    transition-property: opacity;
	transition-duration: 0.4s;
	background-image: url("s2r://panorama/images/catalogue/quit_icon_psd.vtex");
	margin-top: 24px;
	margin-right: 24px;
}

.CloseButton:hover
{
	opacity: 1.3;
}


.TicketPurchaseRow
{
	width: 100%;
	height: fit-children;
	flow-children: right;

	vertical-align: bottom;
	font-size: 20px;
	text-overflow: shrink;
	padding: 4px;
	tooltip-body-position: 100% 100%;
	tooltip-arrow-position: 50% 50%;
}

.PurchaseItemName
{
	margin: 4px 4px 4px 4px;
	horizontal-align: center;
	vertical-align: top;

	letter-spacing: 1px;
}

#LearnMore
{
	horizontal-align: right;
	vertical-align: bottom;
	color: #8888ff;
	text-decoration: underline;
	margin-right: 4px;
	margin-bottom: 4px;
	text-shadow: 1px 1px 1px 2 black;
}

#LearnMore:hover
{
	color: #aaaaff;
    text-shadow: #0dfffc 0px 0px 2px 0px;
}
