DCGPopupTourneyCreateOpenInvite.PopupPanel
{
	width: 650px;
	min-height: 300px;
}

#TitleLabel
{
    width:100%;
}

.MessagePanel
{
	horizontal-align: center;
	flow-children: right;
}

#MessageLabel
{
    font-size: 24px;
    color: uiStandardGrey;
    horizontal-align: center;
    vertical-align: center;
	padding-left: 24px;
	padding-right: 24px;
	margin-top: 16px;

    text-align: left;
}

.ConfigContainer
{
	margin-top: 16px;
	margin-bottom: 24px;
	flow-children: down;
	horizontal-align: center;
    width:100%;
}

.ConfigContainer Label
{
	color: uiStandardGrey;
	text-transform: uppercase;
	font-size: 24px;
	vertical-align: top;
	margin-right: 8px;
	margin-left: 16px;
}

.ConfigContainer .TickBox
{
	margin-bottom: 4px;
}

.LabelSpacer
{
	width: fill-parent-flow(1.0);
}

.SettingContainer
{
	flow-children: down;
	margin-top: 8px;
	margin-bottom: 8px;
	vertical-align: center;
    width:100%;
}

.Capabilities
{
	visibility: collapse;
}

.CanSetRights .Capabilities
{
	visibility: visible;
}

.Capabilities .LabelContainer
{
	margin-top: 6px;
	vertical-align: top;
}

.CapabilitiesContainer
{
	flow-children: down;
    horizontal-align: center;
}

.InfoIcon
{
	margin-bottom: 4px;
	tooltip-position: left;
}

#MaxUses
{
	horizontal-align: center;
	max-width: 100px;
}

.AdminContainer
{
	flow-children: down;
}

#AdminOnly
{
	horizontal-align: center;
	margin-top: 15px;
}

#RightsDropdown
{
	margin-left: 8px;
	horizontal-align: center;
}

.TopContainer
{
    width:100%;
}

#OKButton
{
    horizontal-align:right;
}