.PopupPanel
{
	padding: 0px;
	background-color: #000c;
	opacity: 1;

	width: 100%;
	height: 140px;
	min-height: 140px;

	flow-children: none;
}

Label
{
	letter-spacing: 6px;
	text-transform: uppercase;
}

.Title
{
	font-size: 50px;
	color: white;
	horizontal-align: center;
	margin-top: 18px;
}

.Subtitle
{
	font-size: 24px;
	color: #aaa;
	horizontal-align: center;
	margin-top: 80px;
}

#BlurBackground
{
	width: 100%;
	height: 100%;
	blur: gaussian( 16 );
}