/* styles that most popup dialogs should use */

.PopupPanel
{
	flow-children: down;
}

#PurchasePreview
{
    horizontal-align: center;
    margin: 20px;
}

.PurchaseRow
{
    flow-children: right;
    horizontal-align: center;
    margin: 5px;
}

.PurchaseLabel
{
    text-transform: uppercase;
    font-size: 20px;
    margin-right: 10px;
}

#TitleLabel
{
    text-transform: uppercase;
}

.ButtonDark
{
    margin: 10px;
}

#PurchasePreview DCGDeckInfo
{
    width: 1000px;
    height: 600px;
}