@import url("file://{resources}/styles/dota_card_game_styles.css");

.MainPanel
{
	width: 1500px;
	height: 800px;
	horizontal-align: center;
	vertical-align: center;
	flow-children: down;	
}

#TournamentParent
{
    width:100%;
    height:100%;
}
#Tournament
{
    visibility:collapse;
    flow-children:right;
    width:100%;
    height:100%;
    border: 4px solid black;
}

#TournamentBackground
{
    visibility:collapse;
    width:100%;
    height:100%;
    padding-top:20px;
    padding-left:20px;
    background-image: url("s2r://panorama/images/card_art/set01/full_art/10156_psd.vtex");
    background-size: 100% 200%;
    background-position: 50% 25%;
    opacity:0.2;
 
}
#NoTournament
{
    width:100%;
    height:100%;
}
.TournamentActive #NoTournament
{
    visibility:collapse;
}
.TournamentActive #Tournament
{
    visibility:visible;
}

#CloseButton
{
    horizontal-align: center;
    margin-top: 20px;
}

.TournamentActive #TournamentBackground, .TournamentActive #TournamentParent
{
    visibility:visible;
}
#NoTournament Label
{
    vertical-align:middle;
    horizontal-align:center;
}

.Blank, .MatchPanel
{
    width:240px;
    height:110px;
    flow-children:down;
    font-size:18px;
    color:white;
}

.BlankLine,
.FilledLine,
.HalfBlank
{
    width: 100%;
    height: 55px;
}

.SingleElim .PlayersMatchPanel
{
    margin-top: 20px;
    flow-children:down;
    width:100%;
    height:60px;
    box-shadow: black -8px -8px 16px 16px;
}

.SingleElim
{
    flow-children:right;
}

.Swiss .PlayersMatchPanel
{
    width: fit-children;
    flow-children: right;
}

.Swiss .Round
{
    horizontal-align:center;
    width:600px;
    margin-bottom:50px;
}
.PlayerBye
{
    visibility:collapse;
}
.Swiss .Player2
{
    flow-children:none;
}
.Swiss .Player2 .PlayerName
{
    flow-children: left;
    width:fit-children;
    horizontal-align:right;
}
.Swiss .Player2 Label
{
    horizontal-align:right;
    text-align:right;
}
.Swiss .PlayerScore
{
    visibility:collapse;
}
.Swiss .MatchPanel
{
    flow-children:right;
    width: fit-children;
    height:30px;
}
.Swiss .Player
{
    width:600px;
}

.Player
{
    background-color: #000000DD;
    padding-left: 5px;
    height:30px;
    flow-children:right;
    width:100%;
    padding-top:5px;   
}

.Swiss .Player
{
    width: 300px;
}

#MatchList
{
    horizontal-align: left;
    height: 25px;
    flow-children: right;
    padding-left: 15px;
    padding-top: 2px;
}

.MatchContainer
{
    background-color: #000000DD;
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.MatchContainer:hover .MatchLabel
{
    color: white;
}

.MatchLabel
{
    color: gray;
    font-size: 16px;
    horizontal-align: center;
    vertical-align: center;
}

.MatchContainer:hover
{
    background-color: gray;
}

.Player1Winner .Player1 
{
    background-color:#003300;
}
.Player1Local .Player1, .Player2Local .Player2
{
    background-color:#FFFF0011;
}

.Player2Winner .Player2 
{
    background-color:#003300;
}

.PlayerName
{
    width:90%;
    flow-children:right;
}

.Round
{
    flow-children:down;    
}
.Swiss .Round
{  
    width: fit-children;
}

.Swiss .RoundLabel
{
    margin-left: 15px;
    font-size: 32px;
}

.TitlePanel
{
    width:100%;
    color:white;
    flow-children:right;
    border-bottom: 2px solid gray;
}

#Title
{
    width:95%;
    text-align:center;
    margin-top: 5px;
    margin-bottom: 5px;    
    text-transform: uppercase;
}
 #Player1Bye, #Player2Bye
 {
     visibility:collapse;
 }

.NoPlayer1 #Player1Bye,
.NoPlayer2 #Player2Bye
{
    visibility:visible;
}
.PlayerSwissScores
{
    visibility:collapse;
}
.Swiss .PlayerSwissScores
{
    visibility:visible;
    border-top:1px solid white;
    border-bottom:1px solid white;
    height:30px;
    padding-left:5px;
    padding-right:5px;
    horizontal-align: center;
}

.SingleElim #Player1Record,
.SingleElim #Player2Record,
.NoPlayer1 #Player1Record,
.NoPlayer2 #Player2Record,
.UnknownPlayer1 #Player1Record,
.UnknownPlayer2 #Player2Record,
.NoPlayer1 #Player1Name,
.NoPlayer2 #Player2Name,
.UnknownPlayer1 #Player1Name,
.UnknownPlayer2 #Player2Name
{
    visibility:collapse;
}
.Live .PlayersMatchPanel
{
    box-shadow: #33FFFF33 -4px -4px 8px 8px;
}
.CancelButton
{
    height:100%;
    margin:0px;
    background-color:transparent;

}
#Brackets
{
    width:100%;
    overflow: scroll scroll;
    padding: 20px;
}

.Bracket.Swiss
{
    flow-children: down;
}

DCGAvatarImage
{
    width: 20px;
    height: 20px;
    margin-right: 9px;
}

.BracketLines
{
    width: 6px;    
    flow-children: down;
}


.FilledLine
{
    background-color: black;
}

.MatchColumns
{
    width: 100%;
    height: 100%;
    flow-children: right;
}

.Swiss .MatchColumns
{
	width: fit-children;
}

.PlayerColumn
{
    flow-children: down;
    width: fill-parent-flow( 1.0 );
}

.Swiss .PlayerColumn
{
    flow-children: right;
    width: fit-children;
}

.Swiss .PlayerColumn
{
    flow-children: right;
    width: fit-children;
}

.IntroColumn,
.OutroColumn
{
    width: 20px;
    height: 50%;
    border-bottom: 6px solid black;
    opacity: 0;
    margin-right: -6px;
}

.HasWinnerAdvancing .OutroColumn
{
    opacity: 1;
}

.HasIncomingWinners .IntroColumn
{
    opacity: 1;
}
