PopupLoadDeckCarousel
{
	width: 100%;
	height: 100%;
	
	flow-children: none;

	animation-duration: 0.0s;
	transition-property: transform, pre-transform-scale2d, ui-scale, opacity;
    transition-duration: loadDeckPopupDuration;
    transition-timing-function: ease-in;
}

#LoadDeckBackground
{
	width: 100%;
	height: 100%;
}

.Hidden #LeftBackgroundBlur, .Hidden #RightBackgroundBlur, .Hidden #BottomBackgroundBlur, .Hidden #TopBackgroundBlur, .Hidden #CenterBackgroundBlur, .Hidden #LeftBackgroundOpacity, .Hidden #RightBackgroundOpacity, .Hidden #BottomBackgroundOpacity, .Hidden #TopBackgroundOpacity, .Hidden #CenterBackgroundOpacity
{
	opacity: 0.0;
	pre-transform-scale2d: 0.75;
	sound: "ui_custom_lobby_dialog_slide";
}

#LeftBackgroundOpacity, #RightBackgroundOpacity, #BottomBackgroundOpacity, #TopBackgroundOpacity, #CenterBackgroundOpacity
{
	transition-property: transform, pre-transform-scale2d, ui-scale, opacity;
	transition-duration: loadDeckPopupDuration;
	transition-timing-function: ease-in;
	transition-delay: 0.0s;

	opacity: 0.85;
	background-color: black;
	z-index: 5;
}

#LeftBackgroundBlur, #RightBackgroundBlur, #BottomBackgroundBlur, #TopBackgroundBlur, #CenterBackgroundBlur
{
	transition-property: transform, pre-transform-scale2d, ui-scale, opacity;
	transition-duration: loadDeckPopupDuration;
	transition-timing-function: ease-in;
	transition-delay: 0.0s;

	z-index: 4;
	background-blur: gaussian( 7, 7, 1 );
}

#CenterBackgroundBlur, #CenterBackgroundOpacity
{
	width: 54.6%;
	height: 846px;
	horizontal-align: center;
	margin-top: 134px;
}

#CenterBackgroundBlur
{
	z-index: 1;
}

#CenterBackgroundOpacity
{
	z-index: 2;
}

#LeftBackgroundBlur, #RightBackgroundBlur, #RightBackgroundOpacity, #LeftBackgroundOpacity
{
	width: 436px;
	height: 100%;
}

.AspectRatio16x10 #LeftBackgroundBlur, .AspectRatio16x10 #RightBackgroundBlur, .AspectRatio16x10 #RightBackgroundOpacity, .AspectRatio16x10 #LeftBackgroundOpacity
{
	width: 340px;
}

#RightBackgroundBlur, #RightBackgroundOpacity
{
	horizontal-align: right;
}

#LeftBackgroundBlur, #LeftBackgroundOpacity
{
	horizontal-align: left;
}

#TopBackgroundBlur, #TopBackgroundOpacity
{
	width: 54.6%;
	vertical-align: top;
	horizontal-align: center;
	height: 134px;
}

#BottomBackgroundBlur, #BottomBackgroundOpacity
{
	width: 54.6%;
	vertical-align: bottom;
	horizontal-align: center;
	height: 100px;
}

#ForegroundContainer
{
	height: 100%;
	width: 100%;
	flow-children: down;
	z-index: 3;
	animation-duration: 0.0s;
	transition-property: ui-scale, transform;
    transition-duration: 0.5s;
    transition-timing-function: ease-in;
}

#LoadDeckHeader
{
	height: 134px;
	width: 100%;
	z-index: 10;
	flow-children: right;
	transition-property: transform, pre-transform-scale2d, ui-scale, opacity;
    transition-duration: loadDeckPopupDuration;
    transition-timing-function: ease-in;
}

.Hidden #LoadDeckHeader
{
	opacity: 0.0;
	pre-transform-scale2d: 0.75;
	sound: "ui_custom_lobby_dialog_slide";
}

#TitleContainer
{
	vertical-align: center;
	flow-children: down;
	padding-left: 5px;
}

#LoadDeckTitle
{
	font-size: 48px;
	font-family: Goudy Trajan Medium;
	letter-spacing: 8px;
	color: #bca180;
}

#SelectOpponentText
{
	color: #949495;
	letter-spacing: 6px;
}

#LoadDeckCarouselContainer
{
	width: 100%;
	height: 846px;
	z-index: 3;
	flow-children: none;
	margin-top:  134px;

	animation-duration: 0.0s;
	transition-property: ui-scale, transform;
    transition-duration: 0.5s;
    transition-timing-function: ease-in;
}

// Main menu button
.MainMenuButton
{
	horizontal-align: left;
	vertical-align: top;
	z-index: 10;
	flow-children: right;
	padding: 32px 0px 0px 32px;
	width: 436px;
}

.AspectRatio16x10 .MainMenuButton
{
	width: 340px;
}

#MainMenuImage
{
	background-image: url("s2r://panorama/images/catalogue/main_menu_button_psd.vtex");   
	background-size: cover;
	width: 42px;
	height: 36px;
	margin-right: 8px;
	
	transition-property: brightness;
	transition-duration: 0.15s;
	transition-timing-function: ease-out;
}

#MainMenuLabel
{
	width: 252px;
	vertical-align: center;
  font-size: 16px;
	letter-spacing: 3px;
	margin-top: 2px;
  text-transform: uppercase;
  text-align: left;
	color: #839595;
	font-family: Radiance;
	
	transition-property: text-shadow, color;
	transition-duration: 0.15s;
	transition-timing-function: ease-out;
}

.MainMenuButton:hover #MainMenuImage
{
	brightness: 2.0;
}

.MainMenuButton:hover #MainMenuLabel
{
	text-shadow: 0px 0px 6px 4.0 #71ffff11;
	color: white;
}

.PopupLoadDeck
{
	padding: 0px;
	width: 54.6%;
	height: 846px;
	vertical-align: center;
	horizontal-align: left;

	border: 0px;
	box-shadow: none;
	
	animation-duration: 0.0s;
	transition-property: transform, pre-transform-scale2d, ui-scale, opacity;
	transition-duration: loadDeckPopupDuration;
	transition-timing-function: ease-in;
	transition-delay: 0.0s;
}

.Hidden .PopupLoadDeck
{
	opacity: 0.0;
	pre-transform-scale2d: 1.25;
	sound: "ui_custom_lobby_dialog_slide";
}


.AspectRatio16x10 .PopupLoadDeck, .AspectRatio16x10 #CenterBackgroundBlur, .AspectRatio16x10 #CenterBackgroundOpacity, .AspectRatio16x10 #TopBackgroundBlur, .AspectRatio16x10 #TopBackgroundOpacity, .AspectRatio16x10 #BottomBackgroundBlur, .AspectRatio16x10 #BottomBackgroundOpacity
{
	width: 60.62%;
}