
PopupPurchasedCards
{
	flow-children: down;
}

PopupPurchasedCards.PopupPanel
{
	width: 600px;
	padding-bottom: 64px;
}

#OKButton
{
	horizontal-align: center;
	margin-top: 60px;
	margin-bottom: -50px;
}

Label
{
	horizontal-align: center;
}

.Header
{
	margin-bottom: 8px;
}

#PurchasedCards
{
	horizontal-align: center;
}
