#PopupCardInfo
{
    z-index: 7;
}

.PopupPanel
{
	padding: 0px;
  width:1020px;
  background-color: gradient( linear, 0% 0%, 0% 100%, from( #333742 ), color-stop( 0.005, #272b36 ), color-stop( .5, rgb(30, 33, 45) ), to( #171a21 ) );
    
}

.MainPanel
{
	width: fit-children;
	height: fit-children;
	horizontal-align: center;
	vertical-align: center;
	flow-children: right;	
}

.RightCardInfo
{
	horizontal-align: center;
	vertical-align: center;
	flow-children: down;	
}

.CardPreview
{
    width: 500px;
    height: 700px;
    margin-right: 20px;
    border: 1px solid #222222;
    visibility: collapse;
}

#CardPackScenePanel
{
    width: 100%;
    height: 100%;
}

.TitleBar
{
    width: 100%;
}

.TitleGroup
{
    horizontal-align: center;
    flow-children: right;
}

.TitleBar .PopupTitle
{
    font-size: 35px;
    text-transform: uppercase;
    margin-bottom: 0px;
    vertical-align: center;
}

.SetGroup
{
    horizontal-align: center;
}

#SetIconList
{
    flow-children: down;
    horizontal-align: center;
    vertical-align: center;
}

#SetIconList DCGSetIcon
{
    width: 50px;
    height: 50px;
    margin-right: 5px;
}

.HorizontalBar
{
    border: 2px solid gray;
    width: 85%;
    height: 1px;
    horizontal-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.BodyPanel
{
	horizontal-align: center;
	vertical-align: center;
	flow-children: right;
}

.BodyPanelLeft
{
	flow-children: down;
    vertical-align: center;
}

#CardDisplay
{
    horizontal-align: center;
    margin-right: 40px;
    width: 600px;
    height: 900px;
}

.BodyPanelRight
{
    width: 700px;
    height: 900px;
	flow-children: down;
	horizontal-align: right;
	vertical-align: top;
}

.ProPlayerBeta .CardEconomyPanel
{
    visibility:collapse;
}
.CardEconomyPanel
{
    margin-top: 10px;
    border: 2px solid black;
    background-color: #191919;

	flow-children: right;
	horizontal-align: center;
	vertical-align: top;
}

.CannotOwnCard .CardEconomyPanel
{
    visibility: collapse;
}


#PurchaseButtons
{
    flow-children: down;
    vertical-align: bottom;
}

.TotalOwnedLabel
{
    color: white;
    font-size: 20px;
    text-transform: uppercase;
    horizontal-align: center;
    margin-bottom: 10px;
}

.OwnedLabel
{
    padding-left: 8px;
    padding-right: 8px;
    font-size: 20px;
    text-transform: uppercase;
    horizontal-align: center;
    border-bottom: 1px solid white;
    margin-bottom: 4px;
}

.PhantomCounts
{
    horizontal-align: center;
    flow-children: right;
}

.PhantomBreakdown
{
    flow-children: down;
    vertical-align: center;
}

.PhantomTotal
{
    font-size: 40px;
    margin-right: 8px;
}

.PhantomSubLabel
{
    color: #888888;
    font-size: 16px;
    text-transform: uppercase;
    horizontal-align: right;
}

.CartCountGroup
{
    flow-children: right;
    horizontal-align: center;
    height: 50px;
}

.CartLabel
{
    font-size: 24px;
    vertical-align: center;
    visibility: collapse;
    margin-right: 10px;
}

.IsBuying .CartBuy,
.IsBuying .CartCount
{
    color: green;
    visibility: visible;
}

.IsSelling .CartSell,
.IsSelling .CartCount
{
    color: red;
    visibility: visible;
}

#EmptyCartLabel 
{
    font-size: 30px;
    vertical-align: center;
}

.IsBuying #EmptyCartLabel,
.IsSelling #EmptyCartLabel,
.CartCount
{
    visibility: collapse;
}


.CountRow
{
    flow-children: down;
    padding-bottom: 10px;
}

.ButtonRow
{
    flow-children: down;
}


#BuyFromMarketButton,
#BuyWithCurrency
{
    margin-top: 10px;
}

#BuyWithCurrency
{
    visibility: collapse;
}

.CanPurchaseWithCurrency #BuyWithCurrency
{
    visibility: visible;
}

.CardSetLabel
{
    margin-left: 10px;
    margin-right: 10px;
    flow-children: right;
}

.CardSetLabel Label
{
    font-size: 20px;
    vertical-align: center;
    text-transform: uppercase;
}

.CardSetLabel DCGSetIcon
{
    opacity: 0.5;
    saturation: 0.5;
}

.CardSetLabel DCGSetIcon:hover,
.CardSetLabel DCGSetIcon.SetSelected
{
    opacity: 1.0;
    saturation: 1.0;
}

.DeveloperControls
{
    flow-children: down;
    visibility: collapse;
}

.DeveloperView .DeveloperControls
{
    visibility: visible;
}

.ScrapButtonLabel
{
    width: 100%;
    vertical-align: center;
}

.ScrapButtonLabel Label
{
    horizontal-align: left;
    margin-left: 10px;
}

.ScrapButtonLabel DCGMarketPrice
{
    horizontal-align: right;
    margin-right: 10px;
}

.ButtonDark:disabled DCGMarketPrice
{
    opacity: 0.1;
    saturation: 0;
}

.ButtonDark
{
    width: 200px;
    margin-top: 7px;
    margin-bottom: 7px;
}

.PurchaseBlock
{
    vertical-align: bottom;
}

.CardGroup
{
    width: 180px;
    flow-children: down;
    padding: 10px 20px 10px 20px;
}

.BottomGroup
{
    width: 100%;
    flow-children: down;
    vertical-align: bottom;
}

.CloseButtonRow
{
    width: 100%;
}

.CloseButtonRow Button
{
    horizontal-align: center;
}

#DevCardInfo
{
    horizontal-align: left;
    vertical-align: top;
    color: gray;
    visibility: collapse;
}

.DevBuild #DevCardInfo
{
    visibility: visible;
}

#ReferencedCards
{
    horizontal-align: center;
    max-width: 700px;
    flow-children: right;
    overflow: scroll clip;
    margin-bottom: 20px;

}

.ReferencedCardGroup
{
    flow-children: down;
    margin: 6px;
}

.ReferencedCardLabel
{
    horizontal-align: center;
    text-transform: uppercase;
    margin-bottom: 5px;
}

#NavigationControls
{
    horizontal-align: right;
    flow-children: right;
}

#NavigateBackButton
{
	background-image: url("s2r://panorama/images/control_icons/arrow_solid_left_png.vtex");
}
#NavigateForwardButton
{
	background-image: url("s2r://panorama/images/control_icons/arrow_solid_right_png.vtex");
}
#NavigationControls Button
{
    opacity: 0;
	margin: 0px;
	width: 24px;
	height: 37px;
	background-size: 18px 28px;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	wash-color: #444a55;

	transition-property: background-color, wash-color;
	transition-delay: 0.0s;
	transition-duration: 0.2s;
	transition-timing-function: ease-out;
}
#NavigationControls Button:enabled:hover { wash-color: #9999aa; }
#NavigationControls Button:active { wash-color: #ddddff; }
#NavigationControls Button:disabled { wash-color: #111111; }


.CanNavigateBack #NavigateBackButton
{
    opacity: 1;
}

.CanNavigateForward #NavigateForwardButton
{
    opacity: 1;
}

.ReferencedCardGroup DCGScenePanel
{
    width: 200px;
    height: 340px;
}

.TabButtonBar
{
    flow-children: right;
    margin-bottom: 10px;
}

.TabButtonSeparator
{
}

.TabButtonBar .RadioBox
{
    visibility: collapse;
}

.TabButtonBar RadioButton Label
{
    text-transform: uppercase;
    font-size: 20px;
}

.TabButtonBar RadioButton:hover Label
{
  	text-shadow: 0px 0px 6px 3.0 #5010aa;
}

.TabButtonBar RadioButton:selected Label
{
  	text-shadow: 0px 0px 6px 2.0 #5010ff;
}

#LoreSeparator,
#ShowLoreTabButton
{
    visibility: collapse;
}

.HasLore #LoreSeparator,
.HasLore #ShowLoreTabButton
{
    visibility: visible;
}

.TabGroup
{
    padding-top: 20px;
    width: 100%;
    height: 430px;
    border: 2px solid black;
    margin-bottom: 40px;
}

#LoreText
{
    font-size: 20px;
    color: white;
    padding: 0px 20px 20px 20px;
    overflow: clip scroll;
}

.CardInfoTab
{
    width: 100%;
    height: 100%;
}

#PurchaseControls
{
    horizontal-align: center;
    flow-children: right;
}

.DesiredOwned,
.CurrentOwned,
.CartCount
{
    vertical-align: center;
    font-size: 40px;
}

.OwnedArrow
{
    vertical-align: center;
    width: 25px;
    height: 25px;
    background-image: url("s2r://panorama/images/control_icons/expand_collapse_png.vtex");
  	background-repeat: no-repeat;
	background-position: 50% 50%;
    background-size: 70% 90%;
   	transform: rotateZ( -90deg );
    margin-left: 10px; 
    margin-right: 2px; 
    opacity: 0.3;   
}

#PurchaseArrowControls
{
    flow-children: down;
    width: 30px;
    height: 100%;
}

.QuantityButton
{
    width: 100%;
    height: 50%;
    //border: 1px solid gray;
    background-image: url("s2r://panorama/images/control_icons/expand_collapse_png.vtex");
  	background-repeat: no-repeat;
	background-position: 50% 50%;
    background-size: 70% 90%;
    //border: 1px solid gray;
    opacity: 0.05;
    margin-left: 3px;
}

#IncrementQuantityArrow
{
   	transform: rotateZ( -180deg );
}

.CanIncrement #IncrementQuantityArrow,
.CanDecrement #DecrementQuantityArrow
{
    opacity: 1;
}

.CanIncrement #IncrementQuantityArrow:hover
{
    background-color: #007700;
}

.CanDecrement #DecrementQuantityArrow:hover
{
    background-color: #770000;
}

#PriceList
{
    flow-children: down;
    horizontal-align: center;
    margin-top: 15px;
}

.PriceGroup
{
    horizontal-align: center;
    flow-children: right;
    width: 100px;
}

.PriceLabel
{
    margin-right: 10px;
}

#SetIcon
{
    width: 45px;
    height: 45px;
    margin-right: 15px;
}

#PopupCardInfo #CardPreview
{
    //margin-left:-60px;
}