@import url("file://{resources}/styles/dota_card_game_styles.css");

@define controlFadeDuration: 0.4s;

#PopupContainer
{
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #5e616988 ), to( #131617ee ) );
	flow-children: down;
	width: 100%;
	height: 846px;
	border-top: 1px solid #5c5b62;
	box-shadow: #00000055 -2px -2px 16px 8px;
}

#MainContentsPadding
{
	padding: 10px 10px 0px 10px;
	flow-children: down;
	height: 758px;
}

.IsInPopupPanel.PopupLoadDeck
{
	horizontal-align: center;
}



#AITimerLabel
{
	width: 45px;
}


.SelectDecksMargins
{
	margin-left: 5px;
	margin-right: 5px;
	visibility: collapse;
		color: grey;
}

#SelectAIDeckLabel
{
	visibility: collapse;
	color: grey;
}

.IsLoadingAIDeck #SelectAIDeckLabel
{
	color: white;
}

#SelectYourDeckLabel
{
	color: #e1e1dd;
}

.IsLoadingAIDeck #SelectYourDeckLabel
{
	color: #8a9095;
	text-shadow: none;
}

#TimerSelectorPanel
{
	margin-left: 20px;
	margin-right: 80px;
}

.LoadingAIDeck .SelectDecksMargins, .LoadingAIDeck #SelectAIDeckLabel, .LoadingAIDeck #DifficultySelectorPanel, .LoadingAIDeck #TimerSelectorPanel
{
	visibility: visible;
}

#TimerSelectorPanel, #DifficultySelectorPanel
{
	visibility: collapse;
}

#PopupTopContainer
{
	padding-bottom: 12px;
	width: 100%;
}

#PopupBottomContainer
{
	padding-top: 12px;
	width: 100%;
}

#PopupBottomContainer, #DifficultySelectorPanel, #TimerSelectorPanel
{
	flow-children: right;
}

#DifficultySelectorPanel DropDown
{
	border: 0px;
	padding: 0px;
	background-image: none;
	background-color: none;
	height: fit-children;
	width: 200px;
	box-shadow: none;
}

#DifficultySelectorDropDownMenu
{
	width: 180px;
}

#DifficultySelectorDropDownMenu Label
{
	color: white;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #272d2eee ), to( #131617ee ) );
	padding-left: 8px;
	letter-spacing: 3px;
}

#DifficultySelector Label
{
	letter-spacing: 3px;
}

#DifficultySelectorDropDownMenu Label:hover
{
	background-color: #585e62;
}


.DropDownSelectorText
{
	color: #8f9398;
	letter-spacing: 3px;
}

.PopupTitle
{
    text-transform: uppercase;
}

.SelectRow
{
    margin-top: 20px;
    width: 100%;
}

.SelectDropDown
{
    margin-right: 5px;
}

#MainAreaDropDown
{
    width: 550px;
}

DropDownMenu
{
    width: 550px;
}

.HeroDisplay
{
    flow-children: right;
    horizontal-align: center;
}

.HeroImage
{
    width: 197px;
    height: 330px;
    margin-left: 4px;
    margin-right: 4px;
    background-position: 50% 0%;
    background-size: 100% 100%;
    //box-shadow: #00000055 -2px -2px 4px 4px;
    //border-radius: 7px;
}

.SelectedDeckOptions
{
    horizontal-align: right;
    vertical-align: center;
    flow-children: right;
}

.SelectedDeckOptions Label
{
    font-size: 14px;
    color: gray;    
}

#ShowDeckInfo
{
    opacity: 0.0;    

    transition-property: opacity;
    transition-duration: controlFadeDuration;
	font-size: 18px;
	text-shadow: 1px 1px 1px 1 black;
	color: #cacaca;
}

#ShowDeckInfo:hover
{
    color: white;
}

.HasDeckCode #ShowDeckInfo
{
    opacity: 1.0;

    transition-property: opacity;
    transition-duration: controlFadeDuration;
}

.DeckTitleGroup 
{
    width: 100%;
    margin-bottom: -6px;
	margin-left: 15px;
	margin-right: 15px;
}

#DeckTitle
{
    horizontal-align: left;
    font-size: 36px;
		color: #e1e1dd;
		text-shadow: 1px 1px 1px 1 black;
}

.DeckHeroGroup
{
    horizontal-align: right;
    flow-children: right;
    margin-right: 12px;
    vertical-align: center;
}

.DeckHeroGroup CatalogueCard
{
    width: 30px;
    height: 45px;
    margin-right: 4px;
    
    //box-shadow: fill #00000000 -6px -6px 18px 12px;
}


.TagGroup
{
    width: 100%;
    flow-children: right;
    border-bottom: 1px solid #737377;
		padding-top: 12px;
		margin-right: 8px;
}

.TagGroup:hover
{
    //background-color: #292929; 
}

.TagGroup.IsSelected
{
    //background-color: #333333; 
}

.IsSelected .TagDeckCount,
.IsSelected .TagDeckName
{
    	color: white;
    	text-shadow: 0px 0px 6px 4.0 #71ffff11;
}

.TagDeckCount
{
    width: 52px;
    font-size: 28px;
    margin-right: 10px;
    text-align: left;
	margin-left: 5px;
}

.TagDeckName
{
    font-size: 16px;
    vertical-align: bottom;
    margin-bottom: 6px;
	text-transform: uppercase;
	color: #e1e1dd;
	letter-spacing: 3px;
}

.DeckDropdownLabel
{
    width: 100%;
    height: 55px;
    
    transition-property: background-color;
    transition-duration: 0.05s;
    transition-timing-function: ease-in;
}

.DeckDropdownLabel.IsSelected
{
    background-color: none; 
}

.DeckDropdownLabel:hover
{
    background-color: gradient( linear, 0% 0%, 100% 0%, from( #77c0ae09 ), to( #55c0b500 ) ); 
}

.DeckDropdownLabel.IsSelected .DeckNameLabel
{
    text-shadow: 0px 0px 6px 4.0 #71ffff11;
}


.IsSelected.HasDeckErrors .DeckNameLabel
{
    text-shadow: 0px 0px 4px 4 #44448822;
}


.DeckNameLabel
{
    horizontal-align: left;
    vertical-align: center;
    color: white;
    margin-left: 10px;
    font-size: 20px;
	width: 230px;
	height: 30px;
	text-overflow: ellipsis;
}

.HasUnowned.DeckDropdownLabel .DeckNameLabel
{
    color: gray;
}

.HasDeckErrors.DeckDropdownLabel .DeckNameLabel
{
    color: gray;
}

.DeckErrorsIcon
{
    vertical-align: center;
    width: 15px;
    height: 15px;
	background-size: contain;
	background-repeat: no-repeat;
    z-index: 1;
    opacity: 0;
}

#DeleteDeck,
#DeleteDeckBar,
#UnownedCards,
#UnownedCardsBar,
#ValidationErrors,
#ValidationErrorsBar
{
    visibility: collapse;
}

#DeleteDeck:hover
{
    color: red;
}

#DeleteDeckBar,
#UnownedCardsBar,
#ValidationErrorsBar
{
    margin-left: 10px;
    margin-right: 10px;
}

.SelectedDeckUnowned #UnownedCardsBar,
.SelectedDeckErrors #ValidationErrorsBar
{
    visibility: visible;
}

.SelectedDeckUnowned #UnownedCards
{
    visibility: visible;
    color: darkred;
}

#UnownedCards:hover
{
    color: white;
}

.SelectedDeckErrors #ValidationErrors
{
    visibility: visible;
    color: darkred;
}


.HasDeckErrors .DeckErrorsIcon
{
   	background-image: url("s2r://panorama/images/deck_builder/buttons/warning_png.vtex");
    opacity: 1;
    box-shadow: black 0px 0px 0px 0px;
}

.DeckErrorsIcon.ValidDeck
{
    opacity: 0;
}

#ColorFilterRed,
.DeckDropdownPip.DeckDropdownColorRed
{
    border: 1px solid black;
    background-color: cardColorRed;
}

#ColorFilterGreen,
.DeckDropdownPip.DeckDropdownColorGreen
{
    border: 1px solid black;
    background-color: cardColorGreen;
}

#ColorFilterBlue,
.DeckDropdownPip.DeckDropdownColorBlue
{
    border: 1px solid black;
    background-color: cardColorBlue;
}

#ColorFilterBlack,
.DeckDropdownPip.DeckDropdownColorBlack
{
    border: 1px solid black;
    background-color: cardColorBlack;
}

.ColorFilterGroup
{
    flow-children: right;
    vertical-align: center;
    padding-right: 15px;
}

.ColorFilter
{
    width: 20px;
    height: 30px;
    opacity: 0.1;
    transition-property: opacity;
    transition-duration: 0.4s;
}

.ColorFilter.Activated
{
    opacity: 1.0;
    transition-property: opacity;
    transition-duration: 0.4s;
}

#SubmitButton
{
    opacity: 1.0;
    margin: 0px;
}

#LowerBody
{
    width: 100%;
    flow-children: right;
	margin-right: 15px;
	margin-left: 15px;
}

#DeckTypesGroup 
{
    width: 494px;
    flow-children: down;
    margin-right: 20px;
	margin-top: 20px;
}

#DeckTypesList
{
    width: 100%;
    flow-children: down;
    overflow: clip scroll;
}

#DeckListContainer
{
	flow-children: down;
}

#DeckList
{
    width: 494px;
    height: 285px;
    flow-children: down;
    overflow: clip scroll;
    background-color: #1d2026aa;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 4px;
    box-shadow: inset 0 0 10px #000000;
}

.FiltersTitle
{
    vertical-align: center;
    text-transform: uppercase;
    font-size: 18px;
    margin-right: 20px;
    color: #8f9398;
		letter-spacing: 3px;
}

.FilterControlGroup
{
    flow-children: right;
    horizontal-align: left;
    vertical-align: bottom;
	width: 100%;
}

.SelectGroup
{
    flow-children: right;
    horizontal-align: right;
}

#DeckTagDropDown
{
    width: 300px;
}

.InDeckBuilder.CanDeleteDeck #DeleteDeck,
.InDeckBuilder.CanDeleteDeck #DeleteDeckBar
{
    visibility: visible;
}

.BottomButtonRow
{
    margin-top: 10px;
    horizontal-align: center;
    flow-children: right;
}

#DeckFilterName
{
	width: 295px;
}

#LastPlayedContainer
{
	flow-children: right;
	horizontal-align: right;
	vertical-align: middle;
	margin-right: 10px;

	/* Making not visible for now since there is no Last Played timestamp yet. */
	visibility: collapse;
}

.NoLastPlayedTime #LastPlayedContainer
{
	visibility: collapse;
}

.LastPlayedLabel
{
	color: #8f9398;
	text-shadow: 1px 1px 1px 2 black;
	padding: 5px;
}

#ClearDeckFilterTextButton
{    
    vertical-align: center;
    margin-left: 4px;
    margin-right: 4px;
    opacity: 0;
}

.ApplyingTextFilter #ClearDeckFilterTextButton
{
    opacity: 1;
}

#ClearDeckFilterTextButton Label
{
    font-size: 24px;
    color: gray;    
}

#ClearDeckFilterTextButton Label:hover
{
    color: red;    
}

#PrevSelectionLabel
{
	visibility: collapse;
	margin-right: 60px;
}

.IsLoadingAIDeck #PrevSelectionLabel
{
	visibility: visible;
}

#NextSelectionLabel, #PrevSelectionLabel
{
	font-size: 42px;
	letter-spacing: 3px;
	text-transform: uppercase;
	
	transition-property: text-shadow;
	transition-duration: 0.15s;
	transition-timing-function: ease-out;
}

#NextSelectionLabel:hover, #PrevSelectionLabel:hover
{
	text-shadow: 0px 0px 8px 4.0 #71ffff11;
}

#NextSelectionLabel:active, #PrevSelectionLabel:active
{
	text-shadow: 0px 0px 12px 4.0 #71ffff25;
}

.SelectedDeckErrors #NextSelectionLabel:hover
{
	text-shadow: none;
}

#NextSelectionLabel:disabled
{
	color: grey;
}


.DeckTypeContainer
{
	flow-children: down;
	height: 340px;
}

#TimerDifficultyContainer
{
	flow-children: right;
	vertical-align: bottom;
}

#DeleteDeckButton
{
	wash-color: grey;
	vertical-align: center;
	width: 20px;
	height: 20px;

	background-position: 50% 0%;
	background-size: 100% 100%;
	background-image: url("s2r://panorama/images/catalogue/quit_icon_psd.vtex");
	margin-right: 2px;
	margin-left: 2px;
	opacity: 0;
}

.CanDeleteDeck #DeleteDeckButton
{
	opacity: 1;
}

#DeleteDeckButton:hover
{
	wash-color: white;
}

.IsGauntlet #DeckTitle
{
	visibility: collapse;
}

#GauntletScoreContainer
{
	visibility: collapse;
}

.IsGauntlet #GauntletScoreContainer
{
	visibility: visible;
}