@import url("file://{resources}/styles/dota_card_game_styles.css");

@define controlFadeDuration: 0.4s;

PopupPlayLiveDraft.PopupPanel
{
	width: 1000px;
	height: 900px;
	horizontal-align: center;
	vertical-align: center;
}

#PopupContainer
{
	flow-children: down;
	width: 100%;
	height: 100%;
}

#MainContentsPadding
{
	padding: 24px;
	flow-children: down;
	width: 100%;
}

#PopupBottomContainer
{
	vertical-align: bottom;
}

PopupPlayLiveDraft.IsInPopupPanel
{
	horizontal-align: center;
}

#NextSelectionButton
{
	horizontal-align: right;
	border: 1px solid rgb(19, 13, 31);
	height: 64px;
	padding: 0 32px;
	min-width: 220px;
	vertical-align: middle;
	box-shadow: #00000044 -2px -2px 4px 4px;
	border-radius: 2px;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( rgb(120, 194, 240) ), color-stop( .06, rgba(65, 233, 255, 0.26) ), color-stop( .5, rgba(42, 77, 104, 0.308) ), to( rgb(61, 65, 124) ) );
	transition-property: background-color, box-shadow, border, brightness;
	transition-duration: 0.20s;
	transition-timing-function: ease-in-out;
}

#NextSelectionButton:hover
{
	background-color: gradient( linear, 0% 0%, 0% 100%, from( rgb(197, 233, 255) ), color-stop( .06, rgba(54, 192, 227, 0.76) ), color-stop( .5, rgba(70, 133, 182, 0.308) ), to( rgb(61, 65, 124) ) );
}

#NextSelectionButton:active
{
	//background-color: gradient( linear, 0% 0%, 0% 100%, from( rgb(30, 38, 43) ), color-stop( .06, rgba(36, 51, 53, 0.76) ), color-stop( .5, rgba(70, 133, 182, 0.308) ), to( rgb(61, 65, 124) ) );
	brightness: 2;
}

#NextSelectionButton:hover:disabled,
#NextSelectionButton:disabled
{
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #272131 ), color-stop( .06, #302e44 ), color-stop( .5, #27213146 ), to(rgb(48, 40, 65) ) );
}

#NextSelectionButton:enabled:hover #NextSelectionLabel
{
	text-shadow: 0px 0px 12px 1 rgba(89, 255, 255, 1);
	color: white;
}

#NextSelectionLabel
{
	font-size: 30px;
	margin-top: 6px;
	letter-spacing: 6px;
	text-transform: uppercase;
	color: #e1e1dd;
	font-weight: lighter;
	text-align: center;
	vertical-align: middle;
	horizontal-align: center;
	transition-property: text-shadow, color;
	transition-duration: 0.20s;
	transition-timing-function: ease-out;
	text-shadow: 0px 1px 2px 1.8 black;
}

#PopupContainer #NextSelectionLabel
{
	font-size: 24px;
}

#NextSelectionButton #NextSelectionLabel,
#OnlineMatchPanel.DeckSelected #NextSelectionLabel,
.PlayerDeckSelected.AIDeckSelected #NextSelectionLabel
{
	color: rgb(184, 217, 255);
	color: gradient( linear, 0% 0%, 0% 100%, from( white ), color-stop( .3, rgb(233, 243, 255) ), color-stop( .3, rgb(224, 238, 255) ), color-stop( .8, rgb(184, 217, 255) ), to( rgb(184, 217, 255) ) );
	text-shadow: 0px 0px 12px 1 rgba(89, 182, 189, 0.733);
}

	#NextSelectionButton #NextSelectionLabel:hover,
	#OnlineMatchPanel.DeckSelected #NextSelectionLabel:hover,
	.PlayerDeckSelected.AIDeckSelected #NextSelectionLabel:hover
	{
		//color: rgb(255, 255, 255);
		//color: gradient( linear, 0% 0%, 0% 100%, from( white ), color-stop( .3, rgb(255, 255, 255) ), color-stop( .3, rgb(255, 255, 255) ), color-stop( .8, rgb(255, 255, 255) ), to( rgb(255, 255, 255) ) );
		//text-shadow: 0px 0px 22px 1 rgb(128, 246, 255);
		//text-shadow: 0px 0px 22px 1 red;
	}

#NextSelectionButton:disabled #NextSelectionLabel
{
	color: rgb(84, 76, 99);
	text-shadow: 0px 0px 22px 1 rgb(0, 0, 0);
}

#PopupBackButton
{
	margin: 10px;
}

#PopupTopContainer
{
	flow-children: down;
	width: 100%;
}

#LiveDraftInfoContainer
{
	margin-top: 200px;
	horizontal-align: center;
	width: 700px;
	flow-children: down;
}

#TitleLabel
{
	margin-bottom: 50px;
}

.LiveDraftTitleLabel
{
	text-transform: uppercase;
	text-align: center;
	horizontal-align: center;
	font-size: 35px;
	letter-spacing: 4px;
	horizontal-align: center;
	vertical-align: center;
	text-align: center;
	transition-property: text-shadow;
	transition-duration: 0.15s;
	transition-timing-function: ease-out;
	color: gradient( linear, 0% 0%, 100% 100%, from( #d4c9e1 ), to( #cff2f6 ) );
	font-weight: light;
	text-shadow: 1px 2px 6px 4.0 #130f1a80;
	text-overflow: shrink;
}

.LiveDraftDescLabel
{
	color: uiStandardGrey;
	text-align: left;
	font-size: 24px;
	letter-spacing: 2px;
	text-shadow: 0px 1px 2px 0.0 #000000;
}