PopupRankUp
{
    width: 100%;
    height: 100%;
    flow-children: none;
    sound: "DCG_Progression.Ranked_Tier_01";
}

#EffectsPanel
{
    width: 100%;
    height: 100%;
}

.Contents
{
    width: 900px;
    height: fit-children;
    background-image: url("s2r://panorama/images/dialogs/popup_bg_mmr_psd.vtex");
    background-repeat: no-repeat;
}

.MainBody
{
    width: 100%;
    margin-top: 32px;
    min-height: 400px;
    flow-children: down;
}

.Title
{
    horizontal-align: center;
    color: uiLightGrey;
    font-size: 48px;
    font-weight: light;
    text-shadow: 0px 0px 6px 3.0 #00000033;
}

.Subheading
{
    horizontal-align: center;
    color: uiStandardGrey;
    font-weight: light;
    font-size: 20px;
    text-shadow: 0px 0px 6px 3.0 #00000033;
}

.RankBox
{
    width: 800px;
    height: 250px;
    margin-top: 440px;
    padding-left: 48px;   
    padding-right: 48px;
    flow-children: down;
    horizontal-align: center;
}

#RankIcon
{
    width: 256px;
    height: 256px;
    background-color: green;
    vertical-align: center;
    horizontal-align: left;
}

.RankLabel
{
    vertical-align: center;
    horizontal-align: center;
    font-size: 20px;
    //text-shadow: 0px 0px 6px 4.0 #71ffff11;
    text-overflow: shrink;
    text-transform: uppercase;
    font-weight: light;
    letter-spacing: 2px;
    color: uiStandardGrey;
    text-shadow: 0px 0px 6px 3.0 #00000033;
}

.RankLabelBig
{
    horizontal-align: center;
    font-size: 104px;
    text-overflow: shrink;
    font-weight: light;
    color: gradient( linear, 0% 0%, 0% 100%, from( white ), color-stop( .3, #c8cdd6 ), color-stop( .3, #c8cdd6 ), color-stop( .8, #8b97a6 ), to( #8b97a6 ) );
}

#RankDraftLabelBig
{
    text-shadow: 0px 0px 4px 1.0 #dd6bad44;
}

#RankConstructedLabelBig
{
    text-shadow: 0px 0px 4px 1.0 #5da9d466;
}

.ConstructedMMR #RankDraftLabel,
.ConstructedMMR #RankDraftLabelBig
{
    visibility: collapse;
}

.DraftMMR #RankConstructedLabel,
.DraftMMR #RankConstructedLabelBig
{
    visibility: collapse;
}


.BottomButtonContainer
{
    vertical-align: bottom;
    width: 100%;
    padding-bottom: 10px;
}

.BottomButtonContainer Button
{
    vertical-align: center;
    horizontal-align: center;
}

.BottomButtonContainer Button Label
{
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 32px;
    text-shadow: 0px 0px 3px 4.0 #00000088;
}

.BottomButtonContainer Button:hover
{
    brightness: 1.2;
}

.BottomButtonContainer Button:hover Label
{
    text-shadow: 0px 0px 6px 4.0 #71ffff11;
}

.BottomButtonContainer Button:disabled
{
    brightness: 0.1;
}
.BottomButtonContainer Button:hover:disabled
{
    brightness: 0.15;
}
.BottomButtonContainer Button:disabled Label
{
    text-shadow: none;
}
.BottomButtonContainer Button:hover:disabled Label
{
    text-shadow: none;
}

#ContinueButton
{
	border: 1px solid rgb(19, 13, 31);
	height: 64px;
	padding: 0 32px;
	min-width: 220px;
	vertical-align: middle;
	box-shadow: #00000044 -2px -2px 4px 4px;
	border-radius: 2px;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( rgb(120, 194, 240) ), color-stop( .06, rgba(65, 233, 255, 0.26) ), color-stop( .5, rgba(42, 77, 104, 0.308) ), to( rgb(61, 65, 124) ) );			
	transition-property: background-color, box-shadow, border;
	transition-duration: 0.15s;
	transition-timing-function: ease-in-out;	
	horizontal-align: right;
}

#ContinueButton:hover
{
	background-color: gradient( linear, 0% 0%, 0% 100%, from( rgb(197, 233, 255) ), color-stop( .06, rgba(161, 244, 255, 0.76) ), color-stop( .5, rgba(70, 133, 182, 0.308) ), to( rgb(61, 65, 124) ) );
}

#ContinueButton Label
{
	color: rgb(184, 217, 255);
	color: gradient( linear, 0% 0%, 0% 100%, from( white ), color-stop( .3, rgb(233, 243, 255) ), color-stop( .3, rgb(224, 238, 255) ), color-stop( .8, rgb(184, 217, 255) ), to( rgb(184, 217, 255) ) );
	text-shadow: 0px 0px 12px 1 rgba(89, 182, 189, 0.733);
}

#ContinueButton:hover Label
{
	color: rgb(255, 255, 255);
	color: gradient( linear, 0% 0%, 0% 100%, from( white ), color-stop( .3, rgb(255, 255, 255) ), color-stop( .3, rgb(255, 255, 255) ), color-stop( .8, rgb(255, 255, 255) ), to( rgb(255, 255, 255) ) );
	text-shadow: 0px 0px 22px 1 rgb(128, 246, 255);
}


#KeyArtLevelUp
{
	  background-image: url("s2r://panorama/images/dialogs/popup_rankup_psd.vtex");
	  horizontal-align: left;
    vertical-align: top;
		background-size: 60%;
		background-repeat: no-repeat;
    width: 600px;
    height: 734px;
    margin-left: 320px;
    margin-top: 180px;
}

.RankBox2
{
    flow-children: right;
    horizontal-align: center;
}

.RankIcon
{
    width: 72px;
    height: 72px;
    background-size: cover;
    background-repeat: no-repeat;
    visibility: collapse;
    margin: 30px 8px 0px 0px;
    border-radius: 50%;
	animation-duration: 2.5s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;	
	animation-name: SkillPulse;
}


@keyframes 'SkillPulse'
{
	0%
	{
		box-shadow: 0px 0px 8px #50748888;
	}
	50%
	{
		box-shadow: 0px 0px 24px #507488dd;
	}
	
	100%
	{
		box-shadow: 0px 0px 8px #50748888;
	}	
}

.DraftMMR .RankIcon
{
    animation-name: SkillPulseFreeDraft;
}

@keyframes 'SkillPulseFreeDraft'
{
	0%
	{
		box-shadow: 0px 0px 8px #C577B166;
	}
	50%
	{
		box-shadow: 0px 0px 24px #C577B166;
	}
	
	100%
	{
		box-shadow: 0px 0px 8px #C577B166;
	}	
}

.ConstructedMMR #RankConstructedIcon
{
    visibility: visible;
}

#RankConstructedIcon
{
    background-image: url("s2r://panorama/images/tournaments/constructed_skill_icon_large_psd.vtex");
}

.DraftMMR #RankDraftIcon
{
    visibility: visible;
}

#RankDraftIcon
{
    background-image: url("s2r://panorama/images/tournaments/draft_skill_icon_large_psd.vtex");
}