PopupManagePacks
{	
}

.MainBody
{
    horizontal-align: center;
    vertical-align: center;
    flow-children: down;
    width: 800px;
    height: 500px;
}

.PackInfoAndPurchaseContainer
{
    flow-children: right;
}

.FlowDown
{
    flow-children: down;
}

.FlowRight
{
    flow-children: right;
}

.BottomButtons
{
    margin-top: 20px;
    flow-children: right;
    horizontal-align: center;
}

.CardPocket
{
    padding: 35px;
    height: 500px;
    width: 280px;
    background-image: url("s2r://panorama/images/hud/card_back_psd.vtex");
    background-size: 100% 100%;
}

.CardSetDescription
{
    height: 280px;
    width: 400px;
    padding-top: 35px;
    padding-bottom: 35px;
}

.CardPurchaseControls
{
    height: 140px;
    width: 400px;
}

.CardPurchaseControls Panel
{
    horizontal-align: center;
}

.PricePerPackLabel,
.TotalPriceLabel,
.QuantityLabel
{
    font-size: 35px;
}

.QuantityLabel
{
    border: 2px solid #5e686966;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 10px;
    padding-right: 10px;
}

.PriceInfo
{
    margin-right: 50px;
}

.ArrowUp,
.ArrowDown
{
    height: 20px;
    width: 20px;
}

.ArrowUp
{
    background-image: url("s2r://panorama/images/control_icons/arrow_solid_up_png.vtex");
    background-size: 100% 100%;
}

.ArrowDown
{
    background-image: url("s2r://panorama/images/control_icons/arrow_solid_down_png.vtex");
    background-size: 100% 100%;
}

.PurchaseOnSteam
{
    margin-top: 20px;
}

#AboutPacksButton
{
    margin-right: 10px;
}
