.PopupLoadDeckBlankPanel
{
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #c6c6c633 ), to( #e8e8e833 ) );
	flow-children: down;
	border-top: 1px solid #5c5b62;
	box-shadow: #00000055 -2px -2px 16px 8px;
	width: 1048px;
	height: 888px;
	vertical-align: center;
}