PopupLoadDeckCarouselFriendPicker
{
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #5e616988 ), to( #131617ee ) );
	flow-children: down;
	vertical-align: center;
}

#FriendPicker
{
	padding-top: 6px;
	padding-bottom: 6px;
	width: 1048px;
	height: 758px;
	border: 1px solid black;
	border-top: 2px solid black;
	border-bottom: 2px solid black;
	overflow: squish scroll;
	horizontal-align: center;
}

#FriendPickerBackground
{
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #000000dd ), color-stop( 0.03, #00000011), color-stop( 0.96, #00000033),  to( #000000dd ) );
}