PopupESCMenu
{
	width: 350px;
	vertical-align: center;
	horizontal-align: center;
	opacity: 1.0;
	transform: none;
	perspective-origin: 62% 5% invert;
	perspective: 1000;

	transition-property: opacity, transform, pre-transform-scale2d, wash-color;
	transition-duration: 0.4s;
	transition-delay: 0.0s;
	transition-timing-function: ease-in-out;

	background-color: gradient( linear, 0% 0%, 0% 25%, from( #232326 ), to( #1c1d20 ) );
	box-shadow: #00000099 -4px -4px 8px 8px;
	border: 2px solid #32383677;
	flow-children: down;
    padding: 20px;
}

PopupESCMenu.Hidden
{
	opacity: 0.0;
	transform: translateX( 120px ) translateY( -60px );
	pre-transform-scale2d: 0.95;
	wash-color: #33cccc;
}

#ESCActionButtons
{
	flow-children: down;
	width: fit-children;
	horizontal-align: center;
}

.ESCMenuButton
{
	margin-top: 6px;
    margin-bottom: 6px;
	width: 200px;
}

#ESCMenuTitle
{
	margin-bottom: 20px;
	font-size: 24px;
	horizontal-align: center;
    text-transform: uppercase;
    visibility: collapse;
}

.InMatch #ESCConcedeButton Label, 
.InMatch #ESCQuitButton Label, 
.InMatch #ESCMainMenuButton Label
{
	color: red;
}

#ESCConcedeButton,
#ESCMainMenuButton,
#ESCQuitButton
{
    visibility: collapse;
}


.ShowConcede #ESCConcedeButton,
.ShowMainMenu #ESCMainMenuButton,
.ShowQuit #ESCQuitButton
{
    visibility: visible;
}
.MediaMode #ESCMainMenuButton,
.MediaMode #ESCQuitButton,
.MediaMode #ESCOptionsButton,
.MediaMode #ESCReportButton
{
    visibility:collapse;
}