#DashboardPopupManager DCGPopupTourneyInvitePlayers
{
	width: 660px;
}

.MessagePanel
{
	horizontal-align: left;
    margin-left:32px;
	flow-children: right;
}

#MessageLabel
{
    font-size: 24px;
    color: #7c8e8e;
    horizontal-align: center;
    vertical-align: center;
	padding-right: 50px;
}

#PlayerPicker
{
	width: 100%;
	margin: 0px 24px;
	margin-top: 20px;	
	height: 520px;
	overflow: clip scroll;
    horizontal-align:center;
}

.ConfigContainer
{
	margin-top: 20px;
	flow-children: down;
	horizontal-align: center;
    width:100%;
}

.ConfigContainer Label
{
	vertical-align: center;
	margin-right: 8px;
}

.LabelContainer
{
	width: 200px;
	flow-children: right;
	vertical-align: center;
}

.LabelSpacer
{
	width: fill-parent-flow(1.0);
}

.SettingContainer
{
	flow-children: right;
	margin-top: 8px;
	margin-bottom: 8px;
	vertical-align: center;
}

.Capabilities
{
	visibility: collapse;
}

.CanSetRights .Capabilities
{
	visibility: visible;
}

.Capabilities .LabelContainer
{
	margin-top: 6px;
	vertical-align: top;
}

.CapabilitiesContainer
{
	width: 200px;
	flow-children: down;
}

.InfoIcon
{
	margin-bottom: 4px;
	tooltip-position: left;
}

#MaxUses
{
	horizontal-align: center;
	max-width: 100px;
}

.AdminContainer
{
	flow-children: down;
}

#AdminOnly
{
	horizontal-align: center;
	margin-top: 15px;
}

#RightsDropdown
{
	margin-left: 8px;
	horizontal-align: center;
}
#OKButton
{
    horizontal-align:right;
}
.TopContainer
{
    width:100%;
}