
PopupPurchasedCards
{
	flow-children: down;
}

PopupPurchasedCards.PopupPanel
{
}

.PopupTitle
{
	horizontal-align: center;
	text-align: center;
}

.Header
{
	margin-bottom: 14px;
}

#PurchasedCards
{
	horizontal-align: center;
	min-width: 400px;
	margin-bottom: 26px;
}