DCGPopupSelectPlayer
{
}

.MessagePanel
{
	horizontal-align: center;
	flow-children: right;
    margin-top:50px;
}

#MessageLabel
{
    font-size: 24px;
    color: #FFFFFF;
    horizontal-align: center;
    vertical-align: center;
    max-width: 400px;
    text-align: center;
    margin-bottom:10px;
}

#PlayerDropdown
{
	horizontal-align: center;
}

.AlignCenter
{
    horizontal-align:center;
}

.PopupFlowRight
{
    width:100%;
    padding-right:16px;
    padding-left:24px;
}

.PopupPanel
{
    padding-top:16px;
}