PopupMatchDetails.PopupPanel
{
	width: 1010px;
    min-height: 580px;
}

/*//TEMP - Disable transforming form now due to asserts
.PopupPanel.Hidden
{
	opacity: 1.0;
	pre-transform-scale2d: 1.0;
	transform: translateY( 0px );
    visibility: collapse;
}
*/

#ClosePopupButton
{
    margin-top: 16px;
    margin-right: -16px; //OM: Sorry world...
    width: 28px;
    height: 28px;
}

.DeckLoader
{
    margin-bottom: 20px;
}

.Player1Victory #Player1DeckLoader
{
    box-shadow: #5194f05a -6px -6px 16px 12px;
}

.Player2Victory #Player2DeckLoader
{
    box-shadow: #5194f05a -6px -6px 16px 12px;
}

.MainPanel
{
	width: 100%;
    margin-left: 32px;
    margin-right: 32px;
    margin-bottom: 32px;
	horizontal-align: center;
	vertical-align: center;
	flow-children: down;
	visibility: visible;
}

.Loading .MainPanel
{
    visibility: collapse;
}

.MatchLoading
{
    visibility: collapse;
}

.MatchLoading .Spinner
{
    vertical-align: center;
    horizontal-align: center;
}

.Loading .MatchLoading
{
    width: 100%;
    height: 100%;
    horizontal-align: center;
    vertical-align: center;
    flow-children: down;
    visibility: visible;   
}


.TitleBar
{
    width: 100%;
    margin-bottom: 32px;
    margin-top: 20px;
}

.Footer
{
    width: 100%;
    flow-children: down;
}

#StatusPanel
{
    visibility: collapse;
}

#StatusLabel
{
    horizontal-align: center;
    vertical-align: center;
    font-size: 30px;
    color: white;
    text-transform: uppercase;
}

.ShowStatusString #StatusPanel
{
    visibility: visible;
}

.ShowStatusString #BodyPanel
{
    visibility: collapse;
}

.ShowStatusString #MatchDateLabel,
.ShowStatusString #MatchLengthLabel
{
    opacity: 0;
}

.DeckAndTowerContainer
{
    flow-children: down;
}

.DetailLabel
{
    width: 180px;
    color: uiLightGrey;
    font-size: 18px;
    font-weight: light;
    text-transform: uppercase;
    text-overflow: shrink;
    vertical-align: center;
}

.DetailText
{
    color: uiNeutralGrey;
    font-size: 18px;
    font-weight: light;
    text-overflow: shrink;  
    vertical-align: center;
}

#GauntletNameRow
{
    visibility: collapse;
}

.IsGauntlet #GauntletNameRow
{
    visibility: visible;
}

.MatchDetailsBlock
{
    flow-children: right;
    background-color: rgba(0, 0, 0, 0.473);
    width: 100%;
    padding: 30px;
}

.MatchDetailsColumn
{
    flow-children: down;
    width: 380px;
    margin-right: 50px;
}

.MatchDetailsRow
{
    flow-children: right;
    margin-bottom: 10px;
}

.PlayerColumnsContainer
{
    margin-top: 48px;
    flow-children: right;
}

.MatchInfoBlock
{
    width: 100%;
    horizontal-align: left;
    vertical-align: center;
    flow-children: right;
    margin-bottom: 20px;
}

#MatchIDLabel
{
    horizontal-align: left;
    color: uiLightGrey;
    font-size: 32px;
    font-weight: light;
    text-overflow: shrink;
}

#Player2SkillRankImage
{
    
}

.PlayerColumn
{
    flow-children: down;
    horizontal-align: left;
}

.PlayerStats
{
    flow-children: down;
    min-height: 45px;
    width: 100%;
}

.PlayerStatsRow
{
    flow-children: right;
    margin-left: 33px;
    margin-bottom: 10px;
}

.PlayerTowers
{
    horizontal-align: right;
    flow-children: right;
}

#ReplayButton
{
    height: 32px;
    width: 32px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    vertical-align: center;
    background-image: url("s2r://panorama/images/control_icons/replay_icon_psd.vtex");
    margin-left: -2px;
}

.TowerImage
{
	width: 30px;
	height: 42px;
	margin: 10px;

  background-size: 100% 100%;
	background-repeat: no-repeat;
	background-position: right;	
}

#Player1Towers .TowerImage
{
    background-image: url("s2r://panorama/images/hud/hud_tower_radiant_active_psd.vtex");
}

#Player2Towers .TowerImage
{
    background-image: url("s2r://panorama/images/hud/hud_tower_dire_active_psd.vtex");
}

.AncientImage
{
  	background-image: url("s2r://panorama/images/dcg/card_artwork/tower_card_ancient_png.vtex");
}

.Player1_t1Down #Player1Towers .Tower1.TowerImage,
.Player1_t2Down #Player1Towers .Tower2.TowerImage,
.Player1_t3Down #Player1Towers .Tower3.TowerImage
{
    background-image: url("s2r://panorama/images/hud/hud_ancient_radiant_psd.vtex");
}

.Player2_t1Down #Player2Towers .TowerImage.Tower1,
.Player2_t2Down #Player2Towers .TowerImage.Tower2,
.Player2_t3Down #Player2Towers .TowerImage.Tower3,
{
    background-image: url("s2r://panorama/images/hud/hud_ancient_dire_psd.vtex");
}

.PlayerTowerRow
{
    flow-children: right;
    horizontal-align: center;
    margin-left: 20px;
    margin-right: 20px;
}

.PlayerAvatarImage
{
    height: 32px;
    width: 32px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    vertical-align: center;
    margin-right: 10px;   
}

.SkillRankImage
{
    height: 32px;
    width: 32px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    vertical-align: center;
    margin-right: 10px;
}

.FormatConstructed .SkillRankImage 
{
    background-image: url("s2r://panorama/images/tournaments/constructed_skill_icon_psd.vtex");
}

.FormatDraft .SkillRankImage
{
    background-image: url("s2r://panorama/images/tournaments/draft_skill_icon_psd.vtex");
}

.FormatOther #SkillRankRow
{
    visibility: collapse;
}

.Player1IsBot #Player1ViewProfile,
.Player2IsBot #Player2ViewProfile
{
    visibility: collapse;
}

.TowerPanel
{
    flow-children: right;
	horizontal-align: center;
	vertical-align: center;
	padding: 12px;
    width: 110px;
}

.TowerPanel Label
{
    horizontal-align: center;
	vertical-align: center;
    font-size: 25px;
}

#VersusLabel
{
    margin-top: 48px;
    margin-left: 32px;
    margin-right: 32px;
    color: uiLightGrey;
    font-size: 36px;
    text-transform: uppercase;
    text-overflow: shrink;
    vertical-align: top;
}