DCGPopupMiniProfile
{
	vertical-align: center;
	horizontal-align: center;

	transform: none;
	perspective-origin: 62% 5% invert;
	perspective: 1000;

	transition-property: opacity, transform, pre-transform-scale2d, wash-color;
	transition-duration: 0.3s;
	transition-delay: 0.0s;
	transition-timing-function: ease-in-out;
}

DCGPopupMiniProfile.Hidden
{
	opacity: 0.0;
	transform: translateX( -332px ) translateY( 182px );
	pre-transform-scale2d: 0.65;
	wash-color: #a490fc;
}

DCGPopupMiniProfile .PopupPanel
{
	height: 978px;
	width: 1200px;
	flow-children: none;
	background-image: url("s2r://panorama/images/backgrounds/bg_profile_psd.vtex");
	background-size: cover;
}

DCGPopupMiniProfile .ProfileContainer
{
	width: 100%;
	height: 100%;

	flow-children: right;
}

DCGPopupMiniProfile .ProfileTopContents
{
	height: 140px;
	width: 100%;
	flow-children: down;
	padding: 32px;
	padding-bottom: 0px;
}

DCGPopupMiniProfile .ProfileBottomContents
{
	height: 100%;
	width: 100%;
	flow-children: right;
	padding: 32px;
	padding-top: 0px;
	
}


DCGPopupMiniProfile .ProfileLeftContents
{
	height: 100%;
	width: 740px;
	flow-children: down;
	padding: 20px;
	padding-right: 0px;
}


DCGPopupMiniProfile .ProfileRightContents
{
	height: 100%;
	width: 470px;
	padding: 20px;
	padding-left: 0px;
	flow-children: down;
}

DCGPopupMiniProfile .ProgressContainer
{
	height: 100%;
	width: 100%;
	flow-children: down;
}

DCGPopupMiniProfile .ProgressAccount
{
	height: 108px;
	width: fit-children;
	flow-children: down;
}

DCGPopupMiniProfile .ProfileData
{
	height: 100%;
	width: 400px;
	flow-children: down;
	overflow: noclip;
	margin-left: 16px;

	transition-property: transform, width;
	transition-duration: .32s;
	transition-timing-function: ease-in-out;
}


DCGPopupMiniProfile #AccountBadge
{
	width: 64px;
	margin-right: 4px;
	border-radius: 2px;
}

DCGPopupMiniProfile .LevelProgress
{
	width: 660px;
	height: 104px;
	flow-children: right;
}

DCGPopupMiniProfile .WeeklyBonusInfo
{
	width: 100%;
	height: 200px;
	flow-children: down;
	horizontal-align: right;
}


DCGPopupMiniProfile .ArtifactlevelPlayerName > Label
{
	font-size: 28px;
}

DCGPopupMiniProfile #PlayerLevelProgress
{
	height: 24px;
	margin-bottom: 4px;
	margin-top: -4px;
}

DCGPopupMiniProfile #XPtoNextLevel
{
	margin-top: 2px;
}


DCGPopupMiniProfile #PlayerLevelProgress .ProgressBarLeft
{
	width: 100%;
	background-color: gradient( linear, 100% 100%, 0% 0%, from( rgb(215, 172, 255) ), color-stop( .12, rgb(120, 78, 218) ), to( rgb(58, 29, 126) ) );
	border: 0px solid black;
	margin: 2px;
	border-radius: 2px;
}

DCGPopupMiniProfile #PlayerLevelProgress .ProgressBarRight
{
	background-color: rgb(10, 10, 10);
}


DCGPopupMiniProfile #ProgressFXContainer
{
	width: 100%;
	height: 100%;
	overflow: noclip;
}

DCGPopupMiniProfile #PlayerLevelProgressBurner
{
	brightness: 1.5;
	width: 392px;
	height: 100%;
	horizontal-align: left;
	transform: scaleX( 1.5 );
	transform-origin: 100% 0%; 	
}


#ClosePopupButton
{
	margin: 10px;
}

.RewardSchedule
{
	width: 752px;
	height: 100%;
	padding-right: 32px;
	flow-children: down;
}

.ArtifactLevelsDescription
{
	width: 380px;
	height: 100%;
	flow-children: down;
}

.RewardsHeader
{
	background-color: #282332;
	height: 40px;
	width: 100%;
	flow-children: right;
	border-top: 1px solid #3a3643;
	box-shadow: fill #00000044 -4px 0px 8px 8px;
}

.RewardsHeaderLabel
{
	padding: 5px;
	width: 100%;
	font-size: 16px;
	letter-spacing: 1px;
	vertical-align: center;
	horizontal-align: center;
	text-align: left;
	text-transform: uppercase;
	color: uiStandardGrey;
	margin-top: 4px;
	text-overflow: shrink;
}

#ProgressHeaderLabel
{
	width: 120px;
	text-align: center;
}

.ProgressColumn
{
	width: 120px;
	height: 100%;
	padding-left: 10px;
	padding-right: 10px;
}

#LevelHeaderLabel
{
	width: 80px;
	text-align: center;
}

.LevelColumn
{
	width: 80px;
	height: 100%;
}

.LevelLabel
{
	width: 100%;
	vertical-align: center;
	color: uiStandardGrey;
	font-size: 24px;
	text-overflow: shrink;
	text-align: center;
	font-weight: light;
	margin-top: 3px;

}

.Complete .LevelLabel
{
	color: #ebf9ff;
}

#BadgesHeaderLabel
{
	width: 260px;
}

#BadgeColumn
{
	width: 260px;
	height: 100%;
	flow-children: right;
}

.RewardBadge
{
	width: 44px;
	height: 44px;
	border-radius: 2px;
	margin-left: 10px;
	vertical-align: center;
	horizontal-align: left;
	background-image: url("s2r://panorama/images/playerlevel_icons/level0_default_icon_psd.vtex");
    background-size: 100% 100%;
    background-repeat: no-repeat;
	background-position: 50% 50%;
}

#RewardsHeaderLabel
{
	width: 260px;
}

.RewardsColumn
{
	width: 200px;
	height: 100%;
	flow-children: right;
}

.RewardPacksIcon,
.RewardTicketsIcon
{
	height: 44px;
	width: 44px;

	
	
	vertical-align: center;
	horizontal-align: left;
	
    background-size: 100% 100%;
    background-repeat: no-repeat;
	background-position: 50% 50%;
}

.RewardPacks,
.RewardTickets
{
	tooltip-position: top;
	tooltip-body-position: 70% 50%;
	flow-children: right;
	vertical-align: center;
	visibility: collapse;
}

.HasRewardPacks .RewardPacks,
.HasRewardTickets .RewardTickets
{
	visibility: visible;
}

.RewardAmount
{
	vertical-align: center;
	//margin: 4px 12px 4px 4px;
	margin-left: 6px;
	width: 32px;
	color: uiStandardGrey;
}

.RewardPacksIcon
{
	background-image: url("s2r://panorama/images/packs/pack_cta_png.vtex");
	border: 1px solid #9a3e1b; 
}

.RewardTicketsIcon
{
	background-image: url("s2r://panorama/images/dialogs/eventticket_steamicon_square_png.vtex");
	border: 1px solid #514466;
}

#RewardsRowContainer
{
	width: 100%;
	height: 100%;
	flow-children: down;
	//overflow: scroll;
}

.RewardRow
{
	height: 60px;
	width: 688px;
	background-color: #00000088;
	border-bottom: 0.5px solid #232529;

	flow-children: right;
}



.RewardAchievedIcon
{
	height: 36px;
	width: 36px;

	vertical-align: center;
	horizontal-align: center;
	background-image: url("s2r://panorama/images/main_menu/progress_check_psd.vtex");
    background-size: 100% 100%;
    background-repeat: no-repeat;
	background-position: 50% 50%;
	visibility: collapse;
}

.Complete .RewardAchievedIcon
{
	visibility: visible;
}

.Complete.RewardRow
{
	background-color: gradient( linear, 0% 0%, 100% 0%, from( #29223988), to( #00000088) ) );
}


.ProfileChangeBadge
{
	visibility: collapse;
}

.HasUnlockedBadges .ProfileChangeBadge
{
	visibility: visible;
}

#ChangeBadgeButton
{
    height: 32px;
    width: 256px;
    margin-left: 0px;
}

#ChangeBadgeButton Label
{
	text-transform: uppercase;
	font-size: 16px;
	letter-spacing: 1px;
	margin-top: 2px;
	color: uiStandardGrey;
	//color: gradient( linear, 0% 0%, 0% 100%, from( #fafafa ), to( #aaaaaa) );
	
	transition-property: text-shadow, color;
	transition-duration: 0.25s;
}

#ChangeBadgeButton Label:hover
{
	color: #d2deec;
  text-shadow: 0px 0px 3px 2.0 #71ffff11;
}
.ProfileBodyLabel
{
	color: uiStandardGrey;
}

.ProfileHeaderLabel
{
	color: #d2deec;
	font-weight: light;
	text-transform: uppercase;
	letter-spacing: 2px;
}

.Red.RewardBadge
{
	border: 1px solid #c2352d;
}

.Green.RewardBadge
{
	border: 1px solid #479036;
}

.Black.RewardBadge
{
	border: 1px solid #736e80;
}

.Blue.RewardBadge
{
	border: 1px solid #2f7492;
}

