.LobbyPage
{
    width: 700px;
    height: 700px;
    background-color: #262d32;
    horizontal-align: center;
    vertical-align: top;
    margin-top: 150px;
    box-shadow: black -8px -8px 16px 16px;
}

.ColumnHeader
{
    text-transform: uppercase;
}

#OnGCOperation
{
    visibility: collapse;
    width: 100%;
    height: 100%;
    background-color: #000000DD;
}

.WaitingForGC #OnGCOperation
{
    visibility: visible;
}

.GCOperationText
{
    text-transform: uppercase;
    horizontal-align: center;
    vertical-align: center;
    font-size: 32px;
}

#MainDialog
{
    width: 100%;
    height: 100%;
    flow-children: down;
}

#Title
{
    width: 100%;
    background-color: black;
    margin-bottom: 20px;
}

.PrivateLobbyTitle
{
    text-transform: uppercase;
    horizontal-align: center;
    font-size: 20px;
    margin: 5px;
}

#MainBody
{
    horizontal-align: center;
    flow-children: right;
    height: 550px;
    margin-bottom: 20px;
}

.BodyColumn
{
    width: 300px;
    padding-left: 10px;
    padding-right: 10px;
    height: 100%;
    flow-children: down;
}

.ColumnHeader
{
    horizontal-align: center;

}

#ButtonBody
{
    flow-children: right;
    horizontal-align: center;
}

.FindingMatch #ButtonBody
{
    visibility: collapse;
}

#ButtonBody Button
{
    margin: 10px;
}

.PlayerControls
{
    width: 100%;
    flow-children: down;
}

.PlayerRow
{
    width: 100%;
    height: 60px;
    flow-children: right;
}

.PlayerRow DCGAvatarImage
{
    width: 40px;
    height: 40px;
    vertical-align: center;
    margin: 8px;
}

.PlayerRow.IsSelf DCGAvatarImage
{
    box-shadow: #3355FF88 -3px -3px 6px 6px;
}

.PlayerRow DCGUserName
{
    vertical-align: center;    
    margin: 8px;
}

.PlayerList
{
    width: 100%;
    border: 1px solid white;
    background-color: black;
    flow-children: down;
}

.PlayerButtons
{
    width: 100%;
    flow-children: right;
}

.PlayerReadyButton
{
    visibility: collapse;
    margin-top: 2px;
}

.PlayerReady
{
    visibility: collapse;    
    color: green;    
}

.PlayerNotReady
{
    color: red;
}

.LocalPlayer .PlayerReadyButton,
.IsReady .PlayerReady
{
    visibility: visible;
}

.LocalPlayer .PlayerReady,
.LocalPlayer .PlayerNotReady,
.IsReady .PlayerNotReady,
.NoPlayers .PlayerReady,
.NoPlayers .PlayerNotReady
{
    visibility: collapse;
}

.PlayerWins
{
    text-transform: uppercase;
    horizontal-align: right;
    font-size: 12px;
}

.NoPlayers .PlayerWins
{
    visibility: collapse;
}

.PlayerJoinButton
{
    width: 100%;
    height: 60px;
}

.FindingMatch .PlayerJoinButton
{
    opacity: 0.2;
}

.NotFindingMatch .PlayerJoinButton:hover
{
    background-color: #333333;
    transition-property: background-color;
    transition-duration: 0.5s;
}

.PlayerJoinLabel
{
    text-transform: uppercase;
    vertical-align: center;
    horizontal-align: center;
    color: gray;
}

.NotFindingMatch .PlayerJoinButton:hover .PlayerJoinLabel
{
    color: white;
    transition-property: color;
    transition-duration: 0.3s;
}

#SpectatorList
{
    height: 400px;
    overflow: clip scroll;
}

#InviteList
{
    height: 400px;
    overflow: clip scroll;
}

.ViewDeck
{
    width: 25px;
    height: 25px;
    border: 1px solid white;
    background-image: url("s2r://panorama/images/deck_builder/buttons/samplehand_png.vtex");
    background-size: 100% 100%;
    opacity: 0.05;
    margin-right: 10px;
}

.HasDeck .ViewDeck
{
    opacity: 1;
}

.KickPlayerButton
{
    width: 25px;
    height: 25px;
    background-image: url("file://{images}/control_icons/x_close_png.vtex");
    background-size: 100% 100%;
    horizontal-align: right;
    vertical-align: center;
    margin-right: 5px;
    opacity: 0.5;
}

.KickPlayerButton:hover
{
    wash-color: red;
    opacity: 1;
}

#FindingMatchRow
{
    horizontal-align: center;
    flow-children: right;
    visibility: collapse;
}

.FindingMatch #FindingMatchRow
{
    visibility: visible;
}

.FindingMatchLabel
{
    text-transform: uppercase;
    vertical-align: center;
    margin-right: 20px;
    font-size: 24px;
}

#OptionsBody
{
    width: 100%;
    height: 200px;
    border: 1px solid gray;
    margin-bottom: 40px;
    flow-children: down;
    padding: 10px;
}

#Player2Controls
{
    margin-bottom: 40px;
}

.FindingMatch #OptionsBody
{
    opacity: 0.2;
}

.OptionLabel
{
    text-transform: uppercase;
    vertical-align: center;
}

.TimerGroup .OptionLabel
{
    margin-right: 8px;
}

#TimerDropDown Label,
#GameModeDropDown Label
{
    padding-left: 15px;
}

#ShowDecksToggle
{
    horizontal-align: center;
    margin-bottom: 10px;
}

#TimerDropDown,
#GameModeDropDown
{
    width: 230px;
    horizontal-align: center;
    margin-bottom: 10px;
}

DropDownMenu
{
    width: 230px;
}

#ShareDeck
{
    horizontal-align: center;
}

.HideDecks #ShareDeck,
.HideDecks #ShowDecksToggle,
.HideDecks .ViewDeck,
.HideDecks #SelectDeck
{
    visibility: collapse;
}


