@define controlFadeDuration: 0.4s;

PopupShowAIGameOptions
{
    flow-children: down;
}

.PopupTitle
{
    text-transform: uppercase;
}

.PlayCloseContainer
{
    flow-children: right;
    horizontal-align: center;
}

.SelectRow
{
    horizontal-align: center;
    flow-children: right;
}

#CloseButton
{
}

#DescriptionText
{
    height: 100%;
    padding: 10px;
    font-style: italic;
    overflow: squish scroll;
}

.DescriptionPanel
{
    width: 880px;
    border: 1px solid #444444;
    margin-top: 8px;

    opacity: 1.0;
    height: 125px;
}

.DifficultySetting
{
    width: 128px;
    height: 128px;
    background-size: 90% 90%;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-image: url("s2r://panorama/images/card_elements/card_rarity_symbol_png.vtex");
}

.DifficultySettingButton
{
    border: 3px solid black;
    opacity: .25;
    flow-children: down;
}

.DifficultySettingButton.Selected
{
    border: 3px solid white;
    opacity: 1.0;
}

.DifficultyLabel
{
    horizontal-align: center;
}

#BeginnerModeImg
{
    wash-color: #4444FF;
}
#VeryEasyModeImg
{
    wash-color: #44FFFF;
}
#EasyModeImg
{
    wash-color: #44FF44;
}
#NormalModeImg
{
    wash-color: #FFFF44;
}
#HardModeImg
{
    wash-color: #FF4444;
}
#InsaneModeImg
{
    wash-color: #880000;
}
