/* styles for the friend picker popup */

#SampleCardCollection
{
    margin: 20px;
    flow-children: right;
}

// Remove this line after we fix the asserts with the scratch render targets
#PopupSimulateCollection.Hidden
{
	opacity: 1.0;
	pre-transform-scale2d: 1.0;
	transform: translateY( 0px );
	visibility: collapse;
}

#SampleCardCollection CardCollectionCard
{
    margin: 4px;
}

.CardContainer
{
	width: 177px;
    height: 300px;
    flow-children: down;
}

#HandCard
{
	visibility: collapse;
}

#HandCard.SceneLoaded
{
	visibility: visible;
}

.TurnLabel
{
    font-size: 20px;
    horizontal-align: center;
}

.InvalidTurnLabel
{
    color: red;
}

#PlayableTurnCardsList
{
    flow-children: down;
    horizontal-align: center;
}

#PlayableTurnCardsList Label
{
    font-size: 16px;
    horizontal-align: center;
}