
PopupDeckInfo
{
    flow-children: down;
}

PopupDeckInfo.PopupPanel
{
    width: 840px;
    padding-bottom: 64px;
}

#DeckInfo
{
    width: 880px;
    height: 480px;
    margin: -20px -50px -50px -50px;
}

#CloseButton
{
    horizontal-align: center;
    margin-top: 60px;
    margin-bottom: -50px;
}
