PopupRewardEventPoints 
{
    height: 100%;
    width: 100%;
}

.PopupPanel
{
    /* This guy sits behind the FX */
    opacity: 1.0;
    background-color: #161618;
    box-shadow: #00000099 -4px -4px 8px 8px;
    border: 2px solid #32383677;
    z-index: 1;
}

#GodRays
{
    /* God ray FX between background and contents */
    margin-top: -30px;
    width: 100%;
    height: 100%;
    z-index: 2;
}

.Contents
{
    /* This guy sits in front of the FX */
    flow-children: down;
    z-index: 3;
}

.MainPanel
{
    vertical-align: center;
    horizontal-align: center;
    width: 640px;
    height: 540px;
    padding: 20px;
}


.Contents
{
    /* This guy sits in front of the FX */
    flow-children: down;
    height: fit-children;
    z-index: 3;
}


#PopupRewardEventPoints 
{
    flow-children: none;
}
    

PopupRewardEventPoints Label {
    width: 100%;
    text-align: center;
}

#LevelBadge {
    width: 187px;
    height: 186px;
    horizontal-align: center;
    background-image: url("s2r://panorama/images/dialogs/levelup_levelbg_psd.vtex");
    background-repeat: no-repeat;
    background-position: center;
    vertical-align: center;
}
.PopupButton
{
    margin-top: 30px;
    horizontal-align:center;
}

.NoProgress .ProgressPanel
{
    visibility:collapse;
}

.Level,
.RewardTitle,
#LevelBadge,
#GodRays
{
    text-overflow: noclip;
    opacity: 0;
    transition-property: opacity;
    transition-duration: 0.5s;
}

.ShowLevelUp #LevelUpLabel,
.ShowXPGained #XPGainedLabel,
.ShowGodRays #GodRays,
.ShowLevel .Level,
.ShowBadge #LevelBadge 
{
    opacity: 1;
}

#LevelUpLabel,
#XPGainedLabel
{
    visibility: collapse;
}

.ShowLevelUp #LevelUpLabel,
.ShowXPGained #XPGainedLabel
{
    visibility: visible;
}

.ProgressPanel {
    horizontal-align: center;
    width: 100%;
    height: fit-children;
    margin-top: 30px;
}

#PlayerLevelProgress {
    horizontal-align: center;
    width: 340px;
    border-width: 1px;
    padding: 1px;
    border-radius: 0px;
    margin-left: 0px;
    margin-top: 2px;
    height: 35px;
    margin-bottom: 4px;
}

#PlayerLevelProgress .ProgressBarLeft {
    width: 100%;
    background-color: gradient( linear, 100% 100%, 0% 0%, from( rgb(215, 172, 255) ), color-stop( .12, rgb(120, 78, 218) ), to( rgb(58, 29, 126) ) );
    border: 0px solid black;
    margin: 2px;
    border-radius: 2px;
}

#PlayerLevelProgress .ProgressBarRight 
{
    background-color: rgb(10, 10, 10);
}

PopupRewardEventPoints ProgressBar 
{
    background-color: #0008;
    border: 2px solid rgb(58, 29, 126);
}

#ProgressFXContainer 
{
    width: 100%;
    height: 100%;
    overflow: noclip;
}

#PlayerLevelProgressBurner 
{
    hue-rotation: 0deg;
    brightness: 1.5;
    width: 500px;
    height: 100%;
    horizontal-align: left;
}

#LevelLabel 
{
    vertical-align: center;
    horizontal-align: center;
    font-size: 76px;
    color: abilityGradient;
    font-family: Artifact Numbers;
}

.ProgressLabel
{
    font-size: 16px;
    font-weight: lighter;
    letter-spacing: 1px;
    vertical-align: center;
    horizontal-align: center;
    color: abilityGradient;
    font-family: Artifact Numbers;
}

#LevelBadgeContainer
{
    horizontal-align: center;
    width: 100%;
}

.SideBar 
{
    vertical-align: center;
    horizontal-align: left;
    height: 3px;
    width: 180px;
    background-image: url("s2r://panorama/images/dialogs/levelup_goldrules_psd.vtex");
}

.SideBarLeft
{
    horizontal-align: left;
}

.SideBarRight
{
    horizontal-align: right;
}

.RewardTitle 
{
    margin-top: 12px;
    font-size: 54px;
    font-weight: lighter;
    letter-spacing: 7px;
    margin-bottom: 10px;
    font-family: "Trajan";
    color: abilityGradient;
}