.MainBody
{
    flow-children: down;
    horizontal-align: center;
    padding: 20px;
}

.LabelRow
{
    flow-children: right;
    horizontal-align: center;
}

.ButtonRow
{
    flow-children: right;
    margin-top: 20px;
    horizontal-align: center;
}

#FeedbackMsg
{
    margin-top: 20px;
    width: 600px;
    height: 400px;
    overflow: clip scroll;
  	text-overflow: clip;
    white-space: normal;
}

.TagsDesc
{
    horizontal-align: center;
    font-size: 15px;
    margin-top: 5px;
    color: #666666;
}

.TypeLabel
{
    text-transform: uppercase;
    vertical-align: center;
    margin-right: 5px;
}

TextEntry #PlaceholderText
{
    horizontal-align: center;
}
