#PopupEvent
{
	height: 821px;
	width: 798px;
	background-color: none;
	margin-left: 500px;
	margin-top: 90px;
	flow-children: none;
	box-shadow: none;
}

.AspectRatio16x10 #PopupEvent
{
	margin-top: 70px;
}

#PopupEvent.IsOutro
{
	margin-left: 0px;
	margin-top: 0px;
}

#MissionBoxShadow
{
	height: 502px;
	width: 751px;
	vertical-align: bottom;
	box-shadow: fill #000000 2px 2px 6px 4px;
	margin-bottom: 84px;
	horizontal-align: center;
}

#FullMissionContainer
{
	height: 571px;
	width: 798px;
	background-image: url("s2r://panorama/images/campaign/campaign_popup_background_png.vtex");
	background-size: 100% 100%;
	background-color: none;
	box-shadow: none;
	padding: 30px;
	vertical-align: bottom;
	transition-property: height, transform;
	transition-duration: 0.5s;
	transition-timing-function: ease-in-out;
	transform: translateY( -50px);
	flow-children: down;
}

#MissionDialogContainer
{
	height: 100%;
	width: 100%;
	flow-children: down;
	transition-property: opacity;
	transition-duration: 0.5s;
	transition-timing-function: ease-in-out;
	opacity: 0;
	overflow: squish scroll;
	margin-top: 20px;
}

.ShowingDialogue #LeftContainer, .ShowingDialogue #RightContainer, .IsOutro #LeftContainer, .IsOutro #RightContainer
{
	opacity: 0;
}

.ShowingDialogue #MissionDialogContainer
{
	opacity: 1.0;
}

#MissionInfoContainer
{
	flow-children: none;
	width: 100%;
	height: 120px;
	transform: translateY( 10px );
	transition-property: height, transform;
	transition-duration: 0.5s;
	transition-timing-function: ease-in-out;
}

#MissionHeader
{
	flow-children: down;
	width: fit-children;
	horizontal-align: center;
	vertical-align: center;
	margin-right: 9px;
}

#MissionStatus
{
	flow-children: none;
	horizontal-align: center;
	width: 440px;
}

#MissionStatus Label
{
	text-transform: uppercase;
	color: #e5dc90;
	width: 202px;
}

#MissionHeader Label
{
	vertical-align: center;
}

#MissionName
{
	margin-top: 10px;
	horizontal-align: center;
	font-size: 36px;
	letter-spacing: 1px;
	color: #d2a865;
}

#MissionButtonsContainer
{
	flow-children: right;
	width: fit-children;
	height: 40px;
	horizontal-align: center;
}

DCGDeckLoader
{
	visibility: collapse;
	pre-transform-scale2d: 0.8;
}

#MissionNumLabel 
{
	horizontal-align: left;
	letter-spacing: 2px;
	font-weight: lighter;
	text-align: right;
	padding-right: 12px;
}

.NotCampaignMission #MissionNumLabel,
.NotCampaignMission #MissionStatusLabel
{
	visibility: collapse;
}


#MissionStatusLabel
{
	horizontal-align: right;
	font-size: 14px;
	letter-spacing: 1px;
	text-align: left;
	padding-left: 12px;
}

#MissionStatusImage
{
	horizontal-align: center;
	width: 35px;
	height: 35px;
	vertical-align: center;
	background-image: url("s2r://panorama/images/campaign/campaignfinishedicon_false_png.vtex");
	background-size: 100% 100%;
}

.MissionCompleted #MissionStatusImage, .MissionWon #MissionStatusImage
{
	background-image: url("s2r://panorama/images/campaign/campaignfinishedicon_true_png.vtex");
}

#ClosePopupButton:hover
{
	brightness: 2.0;
}

TextButton
{
	horizontal-align: center;
	background-image: url("s2r://panorama/images/campaign/playnowbutton_png.vtex");
	background-size: 100% 100%;
	padding-top: 8px;
	padding-bottom: 5px;
	padding-left: 10px;
	padding-right: 10px;
	margin-left: 10px;
	margin-right: 10px;
	vertical-align: center;
}

TextButton Label
{
	text-transform: uppercase;
	color: #dedddb;
	font-size: 16px;
	letter-spacing: 2px;
	text-align: center;
}

PopupEvent .CloseMissionButton
{
	height: 28px;
	width: 28px;
	background-image: url("s2r://panorama/images/campaign/close_mission_window_icon_png.vtex");
	background-size: 100% 100%;
}

#MissionDescContainer
{
	height: 100%;
	width: 100%;
}

#MissionDesc
{
	color: #c5bdb4;
	font-size: 18px;
	letter-spacing: normal;
	overflow: squish scroll;
}

#MissionBottomContainer
{
	width: 100%;
	height: 315px;
	flow-children: none;
	padding-bottom: 20px;
	transition-property: height;
	transition-duration: 0.5s;
	transition-timing-function: ease-in-out;
}

#LeftContainer
{
	padding-left: 50px;
	margin-top: 22px;
	horizontal-align: left;
	vertical-align: center;
	width: 350px;
	height: 100%;
	transition-property: opacity;
	transition-duration: 0.5s;
	transition-timing-function: ease-in-out;
}

#RightContainer
{
	vertical-align: center;
	padding-right: 50px;
	horizontal-align: right;
	flow-children: none;
	transition-property: opacity;
	transition-duration: 0.5s;
	transition-timing-function: ease-in-out;
	overflow: noclip;
}

#RightContents
{
	flow-children: down;
}

#NewMissionCards
{
	height: 248px;
	width: 310px;
	background-image: url("s2r://panorama/images/campaign/new_cards_background_png.vtex");
	background-size: 100% 100%;
	box-shadow: #000000AA 1px 1px 13px 0px;
}

#NewCardsForMission
{
	width: 100%;
	text-align: center;
	color: #d2a865;
	text-transform: uppercase;
	font-size: 14px;
	letter-spacing: 1px;
	margin-top: 5px;
}

.NoNewCards #NewMissionCards,
.NoNewCards #NewCardsForMission
{
	visibility: collapse;
}


.CardDialogContainer
{
	flow-children: right;
	horizontal-align: center;
	width: 640px;
	margin-top: 7px;
	margin-bottom: 7px;
}

.CardDialogContainer.FlowLeft
{
	flow-children: left;
}

#CardDialogImageContainer
{
	width: 140px;
	height: 127px;
}

#CardImageContainer
{
	border-radius: 10px;
	width: 128px;
	height: 127px;
	overflow: clip;
	horizontal-align: center;
	vertical-align: center;
}

#CardImage
{
	width: 128px;
	height: 127px;
	overflow: clip;
	background-size: 130% 130%;
	background-position: 50% 50%;
}

#CardImageFrame
{
	width: 140px;
	height: 127px;
	background-image: url("s2r://panorama/images/campaign/avatarframe_png.vtex");
	background-size: 100% 100%;
}

#TextDialogContainer
{
	flow-children: right;
	margin-top: 15px;
}

.FlowLeft #TextDialogContainer
{
	flow-children: left;
}

#SpeechBubbleDirection
{
	margin-left: 5px;
	width: 15px;
	height: 15px;
	background-image: url("s2r://panorama/images/campaign/dialog_arrow_png.vtex");
	background-size: 100% 100%;
	z-index: 5;
	margin-top: 20px;
	img-shadow: #000000AA 2px 2px 4px 0px;
	transform: rotateY(180deg);
}

.FlowLeft #SpeechBubbleDirection
{
	margin-left: 0px;
	margin-right: 5px;
	transform: rotateY(0deg);
}

#SpeechBubbleContainer
{
	padding: 15px;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #63573d ), to( #4f4535 ) );
	width: 400px;
	height: fit-children;
	box-shadow: #000000AA 2px 2px 4px 0px;
}

#CompleteChallengeButton
{
	visibility: collapse;
}

.DeveloperButtons #CompleteChallengeButton
{
	visibility: visible;
}

#CarouselContainer
{
	height: 300px;
	width: 310px;
	horizontal-align: right;
	vertical-align: bottom;
	z-index: 5;
	margin-bottom: 180px;
	margin-right: 80px;
}

.ShowingDialogue #CarouselContainer,
.IsOutro #CarouselContainer,
.NoNewCards #CarouselContainer
{
	visibility: collapse;
}

#CardCarousel
{
	width: 100%;
	height: 100%;
	z-index: 5;
	overflow: noclip;
}

#CardCarouselNav
{
	vertical-align: bottom;
	z-index: 6;
	horizontal-align: center;
	margin-bottom: 40px;
}

.NewCardScenePanel
{
	height: 480px;
	width: 310px;
	pre-transform-scale2d: 0.5;
}

.NewCardScenePanel.SceneLoaded
{
	opacity: 0;
	transition-property: opacity, transform;
	transition-duration: .2s;
	transition-timing-function: ease-in-out;
	z-index: 3;
	overflow: noclip;
	transform: translate3d( 60px, -5px, -50px ) rotateY( -16deg ) scale3d( 0.8, 0.8, 0.8 );
}

.1NewCard .NewCardScenePanel.SceneLoaded.Focused
{
	transform: none;
	pre-transform-scale2d: 0.6;
	transform: translate3d( 0px, -10px, 0px );
}

.Focused.NewCardScenePanel.SceneLoaded
{
	opacity: 1;
	transform: translate3d( -45px, -30px, 20px ) rotateY( -10deg );
	z-index: 8;
}

.NewCardScenePanel.SceneLoaded.RightOfFocus1,
.NewCardScenePanel.SceneLoaded.LeftOfFocus2
{
	z-index: 5;
	opacity: 1;
}

.2NewCards .NewCardScenePanel.SceneLoaded.LeftOfFocus1
{
	z-index: 3;
	opacity: 1;
	transform: translate3d( 60px, -5px, -50px ) rotateY( -16deg ) scale3d( 0.8, 0.8, 0.8 );
}

.NewCardScenePanel.SceneLoaded.LeftOfFocus1,
.NewCardScenePanel.SceneLoaded.RightOfFocus2
{
	z-index: 5;
	transform: translate3d( -225px, 0px, -90px ) rotateY( -16deg ) scale3d( 0.7, 0.7, 0.7 );
}

.MissionWon #MissionCompleteLabel
{
	visibility: visible;
	color: gradient( linear, 0% 0%, 0% 100%, from( #a4a3a2 ), to( #dedddb) );
}

.MissionFailed #MissionFailedLabel
{
	visibility: visible;
	color: gradient( linear, 0% 0%, 0% 100%, from( #FFa3a2 ), to( #FF0000) );
}

#MissionCompleteContainer, .ShowingDialogue.IsOutro #MissionCompleteContainer
{
	horizontal-align: center;
	flow-children: down;
	margin-top: 15px;
	opacity: 0.0;
	transition-property: opacity;
	transition-duration: .2s;
	transition-timing-function: ease-in-out;
}

.IsOutro #MissionCompleteContainer
{
	opacity: 1.0;
}

.MissionStatusTitle
{
	visibility: collapse;
	font-size: 58px;
	horizontal-align: center;
	letter-spacing: 4px;
	text-shadow: 0px 0px 3px 4.0 black;

}

#CancelMatchButton
{
	visibility: collapse;
	wash-color: red;
}

#CancelMatchButton:hover
{
	box-shadow: red 0px 0px 4px 0px;
}

TextButton:hover
{
	box-shadow: white 0px 0px 4px 0px;
}

#PlayAgainButton,
#ContinueButton,
#StartMatchButton,
.IsOutro #PlayMissionButton,
.ShowingDialogue #PlayMissionButton,
.IsOutro #CompleteChallengeButton,
.IsOutro.ShowingDialogue #ContinueButton,
.IsOutro.ShowingDialogue #StartMatchButton,
.IsOutro.NoOutroDialog #ContinueButton,
#ExitOutroButton,
.MissionCompleted #StartMatchButton,
.LookingForMatch .ShowingDialogue #StartMatchButton,
.LookingForMatch #StartMatchButton,
.LookingForMatch #CompleteChallengeButton,
.CanClientAutoClaim.ShowingDialogue #StartMatchButton,
.LookingForMatch #PlayMissionButton,
#ManualClaimButton
{
	visibility: collapse;
}

.IsOutro #ContinueButton,
.IsOutro.ShowingDialogue #ExitOutroButton,
.IsOutro.NoOutroDialog #ExitOutroButton,
.ShowingDialogue #StartMatchButton,
.LookingForMatch #CancelMatchButton,
.CanClientAutoClaim #ManualClaimButton
{
	visibility: visible;
}