#PopupEvent
{
		vertical-align: center;
	horizontal-align: center;

	height: 700px;
	width: 900px;
	background-color: none;

	flow-children: none;
	box-shadow: none;
}



#FullMissionContainer
{
	height: 612px;
	width: 769px;
	background-image: url("s2r://panorama/images/tutorial/tutorial_background_png.vtex");
	background-size: 100% 100%;
	background-color: none;
	box-shadow: none;
	
	vertical-align: center;
	horizontal-align: center;

	transition-property: height, transform;
	transition-duration: 0.5s;
	transition-timing-function: ease-in-out;
	//transform: translateY( -50px);
	flow-children: down;
}


#MissionInfoContainer
{

	margin-top: 50px;
	flow-children: down;
	width: 100%;
	height: fit-children;
	transform: translateY( 10px );
	transition-property: height, transform;
	transition-duration: 0.5s;
	transition-timing-function: ease-in-out;
}

#MissionHeader
{

	flow-children: down;
	width: 100%;
	height: fit-children; 
	horizontal-align: center;
	vertical-align: top;
}

#MissionStatus
{
	flow-children: none;
	horizontal-align: center;
	width: 440px;
}

#MissionStatus Label
{
	text-transform: uppercase;
	color: #e5dc90;
	width: 202px;
}

#MissionHeader Label
{
	
	vertical-align: center;
	horizontal-align: center;
	text-align: center;
}

#MissionButtonsContainer
{
	flow-children: right;

	
	height: 40px;

	width: fit-children;
	
	vertical-align: bottom;
	horizontal-align: right;

	margin-bottom: 75px;
	margin-right: 50px;
}

#MissionInfoContainer Label,
#MissionInfoContainer Panel
{
	horizontal-align: center;
	vertical-align: center;
}

#TutorialBanner
{
	//native image size
	width: 737px;
	height: 59px;

	

	height: fit-children;
	//width: 100%;
	background-image: url("s2r://panorama/images/tutorial/header_banner_png.vtex");
	background-size: 100% 100%;
	background-color: none;

	horizontal-align: center;
	img-shadow: #000000AA 2px 2px 4px 0px;
}

#MissionName
{
	font-weight: normal;
	padding: 8px;
	padding-top: 4px;
	font-size: 32px;
	//letter-spacing: 1px;
	color: #473B32;

	text-shadow: 0px 0px 8px 1.0 #473B3277;
}

DCGDeckLoader
{
	visibility: collapse;
	pre-transform-scale2d: 0.8;
}


#CampaignTitleLabel
{
	padding: 10px;
	font-size: 24px;
	letter-spacing: 2px;
	text-align: center;
	text-transform: uppercase;
	color: gradient( linear, 0% 0%, 0% 100%, from( #A19962FF ), to( #C9C5A5FF) );
}


.MissionCompleted #MissionStatusImage, .MissionWon #MissionStatusImage
{
	background-image: url("s2r://panorama/images/campaign/campaignfinishedicon_true_png.vtex");
}

#ClosePopupButton:hover
{
	brightness: 2.0;
}

TextButton
{
	horizontal-align: center;
	
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	padding-right: 10px;
	margin-left: 10px;
	margin-right: 10px;
	vertical-align: center;

	background-color: #6D6D6DFF;
	box-shadow: #00000088 1px 1px 13px 0px;

	transition-property: box-shadow;
	transition-duration: 0.125s;
	transition-timing-function: ease-in-out;
}

TextButton Label
{
	text-transform: uppercase;
	color: #BAB8B4;
	font-size: 16px;
	letter-spacing: 2px;
	text-align: center;
}

PopupEvent .CloseMissionButton
{
	height: 28px;
	width: 28px;
	background-image: url("s2r://panorama/images/campaign/close_mission_window_icon_png.vtex");
	background-size: 100% 100%;
}

#MissionDescContainer
{
	height: fit-children;
	width: 100%;

	flow-children:down;
}

#MissionDesc
{
	color: #c5bdb4;
	font-size: 18px;
	letter-spacing: normal;
	overflow: squish;
	visibility: collapse;
}

#MissionSummary,
{
	margin-left: 60px;
	margin-right: 60px;
	
	margin-top: 5px;
	margin-bottom: 5px;


	height: fit-children;
	max-height: 70px;
	color: #A09487;
	font-size: 20px;
	letter-spacing: normal;
	overflow: squish scroll;

	line-height: 20px;
}

.FlowLeft #TextDialogContainer
{
	flow-children: left;
}

.FlowRight
{
	flow-children: right;
}

.FlowDown
{
	flow-children: down;
}

.FitChildren
{
	width: fit-children;
	height: fit-children;
}

.CenterHorizontal
{
	horizontal-align: middle;
}

.CenterVertical
{
	vertical-align: middle;
}





#MissionCompleteLabel
{
	margin-left: 18px;
	color: gradient( linear, 0% 0%, 0% 100%, from( #A48B6EFF ), to( #C9C5A5FF) );
}

#MissionFailedLabel
{
	margin-left: 18px;
	color: gradient( linear, 0% 0%, 0% 100%, from( #FFa3a2 ), to( #FF0000) );
}


/*
.IsOutro #MissionCompleteContainer
{
	opacity: 1.0;
}
*/
.MissionStatusTitle
{
	font-size: 40px;
	horizontal-align: center;
	letter-spacing: 4px;
	text-shadow: 0px 0px 8px 4.0 #00000077;
	padding: 5px;

}

.MissionStatus
{
	visibility: collapse;
}

.MissionWon .MissionStatus.MissionShowOnVictory
{
	visibility: visible;
}


.MissionFailed .MissionStatus.MissionShowOnDefeat
{
	visibility: visible;
}

#MissionSummaryGroup Label
{
	margin-left: 45px;
	margin-right: 45px;
}


#CancelMatchButton
{
	visibility: collapse;
	wash-color: red;
}

#CancelMatchButton:hover
{
	box-shadow: red 0px 0px 4px 0px;
}

TextButton:hover
{
	box-shadow: white 0px 0px 4px 0px;
}

#ImpGraphicContainer
{

	//native size of graphic
	width: 761px;
	height: 419px;

	margin-bottom: 45px;

	vertical-align: bottom;
	horizontal-align: left;
}

#ImpGraphic
{
	width: 65%;
	height: 65%;

	vertical-align: bottom;
	horizontal-align: left;
	background-image: url("s2r://panorama/images/campaign/imp_presents_psd.vtex");
	background-size: 100% 100%;
}

#TickSuccess
{
	width: 48px;
	height: 49px;

	background-image: url("s2r://panorama/images/campaign/campaignfinishedicon_true_png.vtex");
	background-size: 100% 100%;

}


#TickFail
{

	width: 48px;
	height: 49px;

	background-image: url("s2r://panorama/images/campaign/campaignfinishedicon_false_png.vtex");
	background-size: 100% 100%;


}

#HeroDemoTitle
{
	text-transform: uppercase;
	color: gradient( linear, 0% 0%, 0% 100%, from( #A19962FF ), to( #C9C5A5FF) );
	font-size: 48px;
	text-shadow: 0px 0px 8px 1.0 #000000ff;
}

#PlayAgainButton
{
	background-color: #446a27;
}


#ShowSolutionbutton
{
	margin-top: 25px;
	width: fit-children;
	flow-children: left;
}


#ShowSolutionIcon
{
	vertical-align: center;
	width: 16px;
	height: 16px;
	background-image: url("s2r://panorama/images/transport_controls/icon_play_png.vtex");
	background-size: 100% 100%;
}
