.MainBody
{
    flow-children: down;
}

.BodyRow
{
    horizontal-align: center;
    flow-children: right;
}

#Title
{
    text-transform: uppercase;
    color: red;
    font-size: 40px;
    margin-bottom: 40px;
}

.RewardRow
{
    horizontal-align: center;
    max-width: 900px;
    overflow: scroll clip;
    margin-bottom: 40px;
    padding-bottom: 30px;
}

#RewardList
{
    flow-children: right;
}

.RewardCell
{
    padding: 5px;
}
