PopupExplain
{
    width: 100%;
    height: 100%;
}

.CardCollection .KeyArt
{
    width: 660px;
    height: 660px;
    horizontal-align: center;
    vertical-align: center;
    margin-top: 260px;
    margin-left: 540px;

    background-image: url("s2r://panorama/images/explainkeyart_psd.vtex");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
}

.MainBody.PopupPanel
{
    padding: 0px;
    width: 800px;
    height: 500px;
    margin-bottom: 200px;
    background-color: gradient( linear, 100% 0%, 0% 0%, from( #16202dcc ), to( #2a354ecc) );
		box-shadow: inset #000000aa 0px -12px 40px 0px; 
		border-bottom: 1px solid #243c52;
		border-left: 1px solid #ffffff03;
		border-top: 1px solid #ffffff07;
}

.TextContainer
{
    flow-children: down;
    padding: 28px;
    padding-right: 140px;
}

.Title
{
    font-size: 48px;
		font-weight: thin;
    margin-bottom: 40px;
    text-shadow: 0px 0px 8px 4.0 #304d75;
    color: white;
}

.Body
{
    font-weight: light;
    font-size: 22px;
    color: #aaa;
    margin-bottom: 40px;
    color: #bbc5ca;
}

.BottomButtonContainer
{
    vertical-align: bottom;
    height: 90px;
    width: 100%;
    padding-left: 32px;
		background-image: url("s2r://panorama/images/main_menu/bg_bottom_container_psd.vtex");
		background-size: cover;
		vertical-align: bottom;
		background-color: gradient( linear, 0% 0%, 100% 0%, from( #1a202c), to( #2f343e ) ); 
}

.BottomButtonContainer Button
{
    vertical-align: center;
    padding-left: 16px;
    padding-right: 16px;
}

.BottomButtonContainer Button Label
{
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 32px;
    text-shadow: 0px 0px 3px 4.0 #00000088;
}

.BottomButtonContainer Button:hover
{
    brightness: 1.2;
}

.BottomButtonContainer Button:hover Label
{
    text-shadow: 0px 0px 6px 4.0 #71ffff11;
}

.BottomButtonContainer Button:disabled
{
    brightness: 0.1;
}
.BottomButtonContainer Button:hover:disabled
{
    brightness: 0.15;
}
.BottomButtonContainer Button:disabled Label
{
    text-shadow: none;
}
.BottomButtonContainer Button:hover:disabled Label
{
    text-shadow: none;
}
