PopupTourneyCreate.PopupPanel
{
    width: 720px;

    vertical-align: center;
    horizontal-align: center;

}

.MainBody
{
    width: 100%;
	flow-children: down;
	padding: 24px;
}

.Title
{
    margin-top:36px;
	font-size: 48px;
    horizontal-align:center;
    margin-bottom: 32px;
}

#MainDialog
{
	flow-children: down;
}

.RowField
{
    flow-children: right;
    margin: 16px 32px;
}

.RowField > Label
{
    margin-right: 10px;
    width: 150px;
    vertical-align: bottom;
    text-align: right;
    font-size: 20px;
    color: #8c9caf;
}

.RowField > #TimerType Label
{
    margin-right:0px;
    width: 150px;
    vertical-align: center;
    text-align: left;
    font-size: 20px;
    color: baseText;
}

.RowField > TextEntry
{
    width: 600px;
}

.BottomContainer
{
    vertical-align: bottom;
    width: 100%;
}

.CreateTourneyHeader
{
    width: 100%;
    flow-children: right;
    margin-bottom: 16px;
}

.CreateTourneyHeader Label
{
    vertical-align: center;

    font-size: 30px;

    color: #e1e1dd;
    
    font-weight: lighter;

    transition-property: text-shadow;
    transition-duration: 0.15s;
    transition-timing-function: ease-out;
    text-shadow: 0px 1px 2px 1.8 black;
}


#ClosePopupButton
{
    horizontal-align: right;
    vertical-align: center;
}

#CreateButton
{
    horizontal-align:right;
    vertical-align:center;
}

.CenterToggle
{
    horizontal-align: center;
}

.RowField > DropDown
{    
    padding-right: 2px;
    padding-top: 2px;
    background-size: 24px 24px;
    box-shadow:none;
    transition-property: none;
    border: 0px;
    background-color: gradient( linear, 100% 0%, 0% 0%, from( #abe9f004 ), to( #d0bce905) );
    vertical-align: bottom;
    margin: 0px;
}