/* styles for the generic text entry popup */

.MessagePanel
{
	horizontal-align: left;
	flow-children: right;
    margin-left:32px;
}

.MessageLabel
{
    font-size: 22px;
    font-weight: lighter;
    color: uiStandardGrey;
    horizontal-align: center;
    vertical-align: center;
    
    text-align: center;
}

.PopupPanel.EconItemIconEnabled .MessageLabel
{
	text-align: left;
}

.ImageContainer
{
    flow-children:down;
    vertical-align: center;
    width: fit-children;
    height: fit-children;
}

#TextEntry
{
    width: 100%;
    margin-top: 24px;
    padding-left: 16px;
    padding-right: 16px;
    margin-right: 32px;
    margin-left: 32px;
    horizontal-align: center;
}

.PopupPanel.Multiline #TextEntry
{
    height: 148px;
    white-space: normal;
}

#EconItemImage
{
    width: 80px;
    margin-right: 15px;
    visibility: collapse;
}

.PopupPanel.EconItemIconEnabled #EconItemImage
{
    visibility: visible;
}

#HeroImage
{
    width: 80px;
    margin-right: 15px;
    visibility: collapse;
}

 .PopupPanel.HeroIconEnabled #HeroImage
{
    visibility: visible;
}

@keyframes 'DelayedFadeOpacityIn'
{
	0%
	{
		opacity: 0.0;
	}

	80%
	{
		opacity: 0.0;
	}

	100%
	{
		opacity: 1.0;
	}
}


.DelayedButtons #ButtonContainer
{
	animation-name: DelayedFadeOpacityIn;
	animation-duration: 2.5s;
	animation-timing-function: ease-in;
	animation-iteration-count: 1;
}
.PopupTitle
{
    horizontal-align:left;
    font-size: 30px;
    color: uiBrightGrey; 
	font-weight: thin;
	margin-bottom: 15px;
	margin-left:24px;
	margin-top: 24px;}

#ButtonContainer
{
    width: 100%;
    horizontal-align: center;
    vertical-align: middle;
    flow-children: right;
    padding: 0 20px;
	margin-top: 32px;
}

#Button1
{
	vertical-align: middle;
    horizontal-align: right;
    width: fill-parent-flow(1);
    min-width: 260px;
    margin-left: 10px;
}

#Button0
{
	vertical-align: middle;
    horizontal-align: left;
    width: fill-parent-flow(1);
    min-width: 260px;
    margin-right: 10px;
}