#PopupEvent
{
	height: fit-children;
	width: fit-children;
	background-color: none;

	flow-children: none;
	box-shadow: none;
}



#FullMissionContainer
{
	height: 612px;
	width: 769px;
	background-image: url("s2r://panorama/images/tutorial/tutorial_background_png.vtex");
	background-size: 100% 100%;
	background-color: none;
	box-shadow: none;
	
	vertical-align: bottom;
	transition-property: height, transform;
	transition-duration: 0.5s;
	transition-timing-function: ease-in-out;
	//transform: translateY( -50px);
	flow-children: down;

	overflow: noclip;
}


#MissionInfoContainer
{

	margin-top: 50px;
	flow-children: down;
	width: 100%;
	height: fit-children;
	transform: translateY( 10px );
	transition-property: height, transform;
	transition-duration: 0.5s;
	transition-timing-function: ease-in-out;
}

#MissionHeader
{

	flow-children: down;
	width: 100%;
	height: fit-children; 
	horizontal-align: center;
	vertical-align: top;
}

#MissionStatus
{
	flow-children: none;
	horizontal-align: center;
	width: 440px;
}

#MissionStatus Label
{
	text-transform: uppercase;
	color: #e5dc90;
	width: 202px;
}

#MissionHeader Label
{
	
	vertical-align: center;
	horizontal-align: center;
	text-align: center;
}

#MissionButtonsContainer
{
	margin-top: 20px;
	flow-children: right;

	
	height: 40px;

	width: fit-children;
	
	horizontal-align: center;
}


#TutorialBanner
{
	//native image size
	width: 737px;
	height: 59px;

	

	height: fit-children;
	//width: 100%;
	background-image: url("s2r://panorama/images/tutorial/header_banner_png.vtex");
	background-size: 100% 100%;
	background-color: none;

	horizontal-align: center;
	img-shadow: #000000AA 2px 2px 4px 0px;
}

#MissionName
{
	font-weight: normal;
	padding: 8px;
	padding-top: 4px;
	font-size: 32px;
	//letter-spacing: 1px;
	color: #473B32;

	text-shadow: 0px 0px 8px 1.0 #473B3277;
}

DCGDeckLoader
{
	visibility: collapse;
	pre-transform-scale2d: 0.6;
}

#MissionNumLabel 
{
	horizontal-align: left;
	letter-spacing: 2px;
	font-weight: lighter;
	text-align: right;

	visibility: collapse;
}

.NotCampaignMission #MissionNumLabel,
.NotCampaignMission #MissionStatusLabel
{
	visibility: collapse;
}


#CampaignTitleLabel
{
	padding: 10px;
	font-size: 24px;
	letter-spacing: 2px;
	text-align: center;
	text-transform: uppercase;
	color: gradient( linear, 0% 0%, 0% 100%, from( #A19962FF ), to( #C9C5A5FF) );
}


.MissionCompleted #MissionStatusImage, .MissionWon #MissionStatusImage
{
	background-image: url("s2r://panorama/images/campaign/campaignfinishedicon_true_png.vtex");
}

#ClosePopupButton:hover
{
	brightness: 2.0;
}

TextButton
{
	horizontal-align: center;
	
	padding-top: 8px;
	padding-bottom: 5px;
	padding-left: 10px;
	padding-right: 10px;
	margin-left: 10px;
	margin-right: 10px;
	vertical-align: center;

	background-color: #524a44;
	box-shadow: #00000088 1px 1px 13px 0px;

	transition-property: box-shadow;
	transition-duration: 0.125s;
	transition-timing-function: ease-in-out;
}

TextButton Label
{
	text-transform: uppercase;
	color: gradient( linear, 0% 0%, 0% 100%, from( #a29864 ), to( #dad190 ) );
	text-shadow: 1px 1px 5px 4.0 #a2986400;
	font-size: 16px;
	letter-spacing: 2px;
	text-align: center;
	transition-duration: 0.25s;
	transition-property: text-shadow, color;
	transition-timing-function: ease-in-out;
	overflow: clip;
}


TextButton:hover Label
{
	text-shadow: 1px 1px 5px 4.0 #a29864dd;
}


PopupEvent .CloseMissionButton
{
	height: 28px;
	width: 28px;
	background-image: url("s2r://panorama/images/campaign/close_mission_window_icon_png.vtex");
	background-size: 100% 100%;
}

#OKButton,
#RetryButton,
#ContinueButton
{

	horizontal-align: center;
	vertical-align: center;

	//margin-right: 50px;
}


#SubmitFeedbackIcon
{
    brightness: 0.5;
    width: 40px;
    height: 40px;
   	background-image: url("s2r://panorama/images/dashboard/icon_feedback_png.vtex");
    background-size: 90% 90%;
    background-repeat: no-repeat;
    background-position: center;
    horizontal-align: left;
    margin-left: 20px;
    visibility: collapse;
}

PopupTutorialSummary
{

	overflow: noclip;
}

#SubmitFeedbackButton
{
	horizontal-align: center;
	vertical-align: bottom;
	margin-bottom: 0px;
	
}

.MissionFailed #OKButton,
.HasNextMission #OKButton,
.IsFinalMission #ContinueButton,
.MissionFailed #ContinueButton
{
	visibility: collapse;
}

.MissionWon #RetryButton
{
	visibility: collapse;
}

#MissionDescContainer
{
	horizontal-align: left;
	height: fit-children;
	width: 100%;

	flow-children:down;
}

#MissionDesc
{
	color: #c5bdb4;
	font-size: 18px;
	letter-spacing: normal;
	overflow: squish;
	visibility: collapse;
}

#MissionSummary,
{

	width: 60%;
	

	margin-left: 60px;

	
	margin-top: 20px;
	margin-bottom: 5px;



	color: #A09487;
	font-size: 20px;
	letter-spacing: normal;
	overflow: squish scroll;


	line-height: 30px;

	text-shadow: 0px 0px 4px 3.0 #00000055;
}

#NextMissionDesc
{
	margin-left: 50px;
	vertical-align: middle;
	color: #A09487;
	font-size: 20px;

	text-shadow: 0px 0px 4px 3.0 #00000055;
}

#MissionBottomContainer
{
	margin-left: 50%;
	vertical-align: center;
	height: 100%;
	//height: fit-children;
	width: 100%; 

	//margin-bottom: 50px;
	
}

#CenterTheElements
{
	width: 40%;
	height: 100%;
	margin-right: 50px;
	vertical-align: center;
	horizontal-align: right;
	flow-children: down;
	
}

#BackingBand
{
	
	width: 94.2%; 
	height: 75px;
	background-color: gradient( linear, 0% 0%, 100% 100%, from( #000000aa ), to( #00000035 ) );
	vertical-align: bottom;
	horizontal-align: center;
	margin-bottom: 80px;
}

.ClosingPopup #CardCarousel,
.MissionFailed #CardCarousel,
.MissionFailed #MissionSummary,
.MissionFailed #BackingBand
{
	visibility: collapse;
}


#NewCardsForMission
{
	margin-left: 20px;
	max-width: 400px;
	vertical-align: center;
	text-align: left;
	color: #d2a865;
	font-size: 14px;
}

.NoNewCards #NewMissionCards,
.NoNewCards #NewCardsForMission
{
	visibility: collapse;
}


.CardDialogContainer
{
	flow-children: right;
	horizontal-align: center;
	width: 640px;
	margin-top: 7px;
	margin-bottom: 7px;
}

.CardDialogContainer.FlowLeft
{
	flow-children: left;
}

#CardDialogImageContainer
{
	width: 140px;
	height: 127px;
}

#CardImageContainer
{
	border-radius: 10px;
	width: 128px;
	height: 127px;
	overflow: clip;
	horizontal-align: center;
	vertical-align: center;
}

#CardImage
{
	width: 128px;
	height: 127px;
	overflow: clip;
	background-size: 130% 130%;
	background-position: 50% 50%;
}

#CardImageFrame
{
	width: 140px;
	height: 127px;
	background-image: url("s2r://panorama/images/campaign/avatarframe_png.vtex");
	background-size: 100% 100%;
}

#TextDialogContainer
{
	flow-children: right;
	margin-top: 15px;
}

.FlowLeft #TextDialogContainer
{
	flow-children: left;
}

#SpeechBubbleDirection
{
	margin-left: 5px;
	width: 15px;
	height: 15px;
	background-image: url("s2r://panorama/images/campaign/dialog_arrow_png.vtex");
	background-size: 100% 100%;
	z-index: 5;
	margin-top: 20px;
	img-shadow: #000000AA 2px 2px 4px 0px;
	transform: rotateY(180deg);
}

.FlowLeft #SpeechBubbleDirection
{
	margin-left: 0px;
	margin-right: 5px;
	transform: rotateY(0deg);
}

#SpeechBubbleContainer
{
	padding: 15px;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #63573d ), to( #4f4535 ) );
	width: 400px;
	height: fit-children;
	box-shadow: #000000AA 2px 2px 4px 0px;
}

#CompleteChallengeButton
{
	visibility: collapse;
}

.DeveloperButtons #CompleteChallengeButton
{
	visibility: visible;
}

#CarouselContainer
{
	height: 60%;
	width: 40%;
	horizontal-align: right;
	vertical-align: bottom;
	margin-bottom: 60px;
	overflow: noclip;
	flow-children: down;
}

.ShowingDialogue #CarouselContainer,
.IsOutro #CarouselContainer,
.NoNewCards #CarouselContainer
{
	visibility: collapse; 
}

#CardCarousel
{
	width: 100%;
	height: 80%;
	z-index: 5;
	overflow: noclip;
	//vertical-align: center;
	//horizontal-align: center;
}

#CardCarouselNav
{
	visibility: collapse;
	width: 80%;
	height: 10%;
	vertical-align: bottom;
	z-index: 6;
	horizontal-align: center;
	margin-bottom: 0px;
}

.NewCardScenePanel
{
	height: 80%;
	width: 80%;
	vertical-align: center;
	horizontal-align: center;
	opacity: 0;
}

.NewCardScenePanel.SceneLoaded
{
	opacity: 0;
	transition-property: opacity, transform;
	transition-duration: .2s;
	transition-timing-function: ease-in-out;
	z-index: 3;
	overflow: noclip;
	transform: translate3d( 60px, -5px, -50px ) rotateY( -16deg ) scale3d( 1, 1, 1 );


	//img-shadow: #000000AA 2px 2px 4px 0px;//nope
}

.1NewCard .NewCardScenePanel.SceneLoaded.Focused
{
	transform: translate3d( 0px, 0px, 0px ) rotateY( -20deg );
	opacity: 1;
}

.Focused.NewCardScenePanel.SceneLoaded
{
	opacity: 1;
	transform: translate3d( 0px, 0px, 0px ) rotateY( 0deg );
	z-index: 8;
}

.NewCardScenePanel.SceneLoaded.RightOfFocus1,
.NewCardScenePanel.SceneLoaded.LeftOfFocus2
{
	z-index: 5;
	opacity: 1;
	transform: translate3d( 60px, -5px, -50px ) rotateY( -16deg ) scale3d( 0.8, 0.8, 0.8 );
}

.2NewCards .NewCardScenePanel.SceneLoaded.LeftOfFocus1
{
	z-index: 3;
	opacity: 1;
	transform: translate3d( 60px, -5px, -50px ) rotateY( -16deg ) scale3d( 0.8, 0.8, 0.8 );
}

.NewCardScenePanel.SceneLoaded.LeftOfFocus1,
.NewCardScenePanel.SceneLoaded.RightOfFocus2
{
	z-index: 5;
	transform: translate3d( -225px, 0px, -90px ) rotateY( -16deg ) scale3d( 0.7, 0.7, 0.7 );
}

.HasNextMission.MissionWon #MissionCompleteLabel
{
	visibility: visible;
	color: gradient( linear, 0% 0%, 0% 100%, from( #A48B6EFF ), to( #C9C5A5FF) );
}

.MissionFailed #MissionFailedLabel
{
	visibility: visible;
	color: gradient( linear, 0% 0%, 0% 100%, from( #FFa3a2 ), to( #FF0000) );
}

#TutorialCompleteLabel
{
	margin-top: 15px;
	visibility: collapse;
	//font-size: 25px; 
	color: gradient( linear, 0% 0%, 0% 100%, from( #A48B6EFF ), to( #C9C5A5FF) );
}

.IsFinalMission.MissionWon #TutorialCompleteLabel
{
	visibility: visible;

	animation-name: ImpishHover;
	
	animation-delay: 0.33s;
	animation-duration: 2.0s;
	animation-iteration-count: infinite;
	
	animation-timing-function: ease-in-out;

	
}



#MissionCompleteContainer, .ShowingDialogue.IsOutro #MissionCompleteContainer
{
	horizontal-align: center;
	flow-children: down;
	opacity: 1.0;
	transition-property: opacity;
	transition-duration: .2s;
	transition-timing-function: ease-in-out;
}

/*
.IsOutro #MissionCompleteContainer
{
	opacity: 1.0;
}
*/
.MissionStatusTitle
{
	visibility: collapse;
	font-size: 40px;
	horizontal-align: center;
	letter-spacing: 4px;
	text-shadow: 0px 0px 8px 4.0 #00000077;
	padding: 5px;

}

#CancelMatchButton
{
	visibility: collapse;
	wash-color: red;
}

#CancelMatchButton:hover
{
	box-shadow: red 0px 0px 4px 0px;
}

TextButton:hover
{
	box-shadow: white 0px 0px 4px 0px;
}



#TutorialCompleteImage
{

	margin-top: 165px;
	margin-left: 80px;
	//Native texture res
	width: 686px;
	height: 423px;

	
	background-image: url("s2r://panorama/images/campaign/imp_and_quote_png.vtex");

	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-position: -9% 50%;


	animation-name: ImpishHover;

	animation-duration: 2.0s;

	animation-iteration-count: infinite;
	
	animation-timing-function: ease-in-out;

	
	visibility: collapse;

}

.IsFinalMission.MissionWon #TutorialCompleteImage
{
	visibility: visible;
}


@keyframes 'ImpishHover'
{
	0%
	{
		transform: translateY( -5px );
	}

	50%
	{
		transform: translateY( 5px );
	}

	100%
	{
		transform: translateY( -5px );
	}

}
