PopupCreateOpenGame
{
	width: 680px;
	height: fit-children;
	vertical-align: center;
	horizontal-align: center;
	
	flow-children: down;
}


#PopupContainer
{
	flow-children: down;
	width: 100%;
	height: fit-children;
}

#MainContentsPadding
{
	padding: 24px;
	flow-children: down;
	height: fit-children;
	width: 100%;
}

.CreateOpenGameHeader
{
	horizontal-align: left;
	width: 100%;
	flow-children: right;
}

.CreateOpenGameHeader Label
{
	vertical-align: center;

	font-size: 24px;
	letter-spacing: 3px;
	text-transform: uppercase;
	color: #e1e1dd;
	
	font-weight: lighter;

	transition-property: text-shadow;
	transition-duration: 0.15s;
	transition-timing-function: ease-out;
	text-shadow: 0px 1px 2px 1.8 black;
}

.ControlsSection
{
	width: 100%;
	flow-children: down;
	margin-top: 24px;
}

.ControlsSection Label,
#GroupsPickerHeader
{
	font-size: 18px;
	color: #bbc5ca;
	text-shadow: .5px .5px 2px 2.0 black;
}

#GroupsPickerHeader
{
	padding-top: 10px;
	padding-bottom: 10px;
}

.ClosePopupButton
{

}

#DescriptionContainer,
#AdvertiseToFriendsContainer
{
	flow-children: right;
	vertical-align: center;
}

#DescriptionContainer Label,
#AdvertiseToFriendsContainer Label
{
	vertical-align: center;
	padding-right: 10px;
}

#AdvertiseDescription
{
	width: fill-parent-flow(1);
}

#DescriptionContainer 
{
	padding: 0px;
}

#DescriptionContainer TextEntry
{
	vertical-align: center;
}

#AdvertiseToFriendsContainer ToggleButton
{
	margin-top: 0px;
	vertical-align: center;
}

#CreateButton
{
	vertical-align: bottom;
	horizontal-align: right;
	min-width: 260px;
}

#AdvertiseToFriends
{
	flow-children: right;
}

#ClosePopupButton
{
	horizontal-align: right;
}

.BottomContainer
{

}

#OpenPlayPicker
{
    horizontal-align:center;
    width: 100%;
	height: 360px;
}

#CreateButton
{
    vertical-align:center;
}