@import url("file://{resources}/styles/dota_card_game_styles.css");

@define controlFadeDuration: 0.4s;

.PopupLoadDeck
{
	width: 800px;	
	horizontal-align: center;
	vertical-align: center;
}

#PopupContainer
{
	flow-children: down;
	width: 100%;
}

#MainContentsPadding
{
	padding: 24px;
	flow-children: down;
	width: 100%;
}

.IsInPopupPanel.PopupLoadDeck
{
	horizontal-align: center;
}



#AITimerLabel
{
	width: 45px;
}


.SelectDecksMargins
{
	margin-left: 5px;
	margin-right: 5px;
	visibility: collapse;
		color: grey;
}

#SelectAIDeckLabel
{
	visibility: collapse;
	color: grey;
}

.IsLoadingAIDeck #SelectAIDeckLabel
{
	color: white;
}

#SelectYourDeckLabel
{
	color: #e1e1dd;
}

.IsLoadingAIDeck #SelectYourDeckLabel
{
	color: #8a9095;
	text-shadow: none;
}

#TimerSelectorPanel
{
	margin-left: 20px;
	margin-right: 80px;
}

.LoadingAIDeck .SelectDecksMargins, .LoadingAIDeck #SelectAIDeckLabel, .LoadingAIDeck #DifficultySelectorPanel, .LoadingAIDeck #TimerSelectorPanel
{
	visibility: visible;
}

#TimerSelectorPanel, #DifficultySelectorPanel
{
	visibility: collapse;
}

#PopupTopContainer
{
	padding-bottom: 12px;
	width: 100%;
}

#PopupBottomContainer
{
	padding-top: 12px;
	width: 100%;
}

#PopupBottomContainer, #DifficultySelectorPanel, #TimerSelectorPanel
{
	flow-children: right;
}

#DifficultySelectorPanel DropDown
{
	border: 0px;
	padding: 0px;
	background-image: none;
	background-color: none;
	height: fit-children;
	width: 200px;
	box-shadow: none;
}

#DifficultySelectorDropDownMenu
{
	width: 180px;
}

#DifficultySelectorDropDownMenu Label
{
	color: white;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #272d2eee ), to( #131617ee ) );
	padding-left: 8px;
	letter-spacing: 3px;
}

#DifficultySelector Label
{
	letter-spacing: 3px;
}

#DifficultySelectorDropDownMenu Label:hover
{
	background-color: #585e62;
}


.DropDownSelectorText
{
	color: #8f9398;
	letter-spacing: 3px;
}

.PopupTitle
{
    text-transform: uppercase;
}

.SelectRow
{
    width: 100%;
    margin-bottom: 24px;
}

.SelectDropDown
{
    margin-right: 5px;
}

#MainAreaDropDown
{
    width: 550px;
}

DropDownMenu
{
    width: 550px;
}

.HeroDisplay
{
    flow-children: right;
    horizontal-align: center;
	height: 330px;
}

.IsGauntlet .HeroDisplay
{
	visibility: collapse;
}

#GauntletDisplay
{
	flow-children: down;
	horizontal-align: center;
	width: 100%;
	visibility: collapse;
	height: 325px;
	background-color: #1d2026aa;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 4px;
	margin-bottom: 40px;
    box-shadow: inset 0 0 10px #000000;
}

.IsGauntlet #GauntletDisplay
{
	visibility: visible;
}

#GauntletButtonContainer
{
	margin-top: 20px;
	flow-children: right;
	horizontal-align: center;
	vertical-align: bottom;
	margin-bottom: 35px;
}

.ActiveGauntlet #JoinGauntletButton, #DraftGauntletButton, #RegisterGauntletDeckButton
{
	visibility: collapse;
}

.GauntletStateGrants.ActiveGauntlet #DraftGauntletButton, .GauntletStateRegister #RegisterGauntletDeckButton
{
	visibility: visible;
}

.GauntletButtons
{
	margin-right: 50px;
	margin-left: 50px;
}

#GauntletName
{
	font-size: 48px;
}

#GauntletDesc
{
	font-size: 28px;
}

#GauntletName, #GauntletDesc
{
	margin-top: 20px;
	horizontal-align: center;
}

.HeroImage
{
    width: 197px;
    height: 330px;
    margin-left: 4px;
    margin-right: 4px;
    background-position: 50% 0%;
    background-size: 100% 100%;
    //box-shadow: #00000055 -2px -2px 4px 4px;
    //border-radius: 7px;
}

.SelectedDeckOptions
{
    horizontal-align: right;
    vertical-align: center;
    flow-children: right;
}

.SelectedDeckOptions Label
{
    font-size: 14px;
    color: gray;    
}

#ShowDeckInfo, #GauntletEditDeck
{
    visibility: collapse; 

    transition-property: opacity;
    transition-duration: controlFadeDuration;
	font-size: 18px;
	text-shadow: 1px 1px 1px 1 black;
	color: #cacaca;
	tooltip-body-position: 50% 50%;
	tooltip-arrow-position: 25% 25%;
}

.DeckOptions Label
{
	margin-top: 4px;
}

#ShowDeckInfo:hover, #GauntletEditDeck:hover
{
    color: white;
}

.HasDeckCode #ShowDeckInfo
{
    visibility: visible;

    transition-property: opacity;
    transition-duration: controlFadeDuration;
}

.DeckTitleGroup 
{
    width: 100%;
	margin: 15px;
	flow-children: right;
	height: 60px;
	visibility: collapse;
}

#DeckTitle
{
    horizontal-align: left;
    font-size: 36px;
	color: #e1e1dd;
	text-shadow: 1px 1px 1px 1 black;
	vertical-align: center;
}

.DeckHeroGroup
{
    horizontal-align: right;
    flow-children: right;
    margin-right: 12px;
    vertical-align: center;
}

.DeckHeroGroup DeckListCardPanel
{
    width: 30px;
    height: 45px;
    margin-right: 4px;
    
    //box-shadow: fill #00000000 -6px -6px 18px 12px;
}


.TagGroup
{
    width: 100%;
    flow-children: right;
    border-bottom: 1px solid #737377;
		padding-top: 12px;
		margin-right: 8px;
}

.TagGroup:hover
{
    //background-color: #292929; 
}

.TagGroup.IsSelected
{
    //background-color: #333333; 
}

.IsSelected .TagDeckCount,
.IsSelected .TagDeckName
{
    	color: white;
    	text-shadow: 0px 0px 6px 4.0 #71ffff11;
}

.TagDeckCount
{
    width: 52px;
    font-size: 28px;
    margin-right: 10px;
    text-align: left;
	margin-left: 5px;
}

.TagDeckName
{
    font-size: 16px;
    vertical-align: bottom;
    margin-bottom: 6px;
	text-transform: uppercase;
	color: #e1e1dd;
	letter-spacing: 3px;
}

.DeckDropdownLabel
{
    width: 100%;
    height: 55px;
    
    transition-property: background-color;
    transition-duration: 0.05s;
    transition-timing-function: ease-in;
    flow-children:right;
}

.DeckDropdownLabel.IsSelected
{
    background-color: backgroundGradientHover; 
}

.DeckDropdownLabel:hover
{
    background-color: backgroundGradient;
}

.DeckDropdownLabel.IsSelected .DeckNameLabel
{
    text-shadow: 0px 0px 6px 4.0 #71ffff11;
}


.DeckDropdownLabel.IsSelected.HasUnowned .DeckNameLabel,
.DeckDropdownLabel.IsSelected.HasDeckErrors .DeckNameLabel
{
	text-shadow: 0px 0px 4px 4 #c0560022;
	color: rgb(238, 156, 108);
}

.DeckSharedLabel
{
    horizontal-align: left;
    vertical-align: center;
    color: gradient( linear, 0% 0%, 0% 100%, from( #5dd6f9 ), to( #338699 ) );
    margin-left: 10px;
    font-size: 16px;	
	
	text-overflow: ellipsis;
    text-transform: uppercase;
}
.DeckNameLabel
{
    horizontal-align: left;
    vertical-align: center;
    color: white;
    margin-left: 10px;
    font-size: 20px;
	width: 230px;
	height: 30px;
	text-overflow: ellipsis;
}

.HasUnowned.DeckDropdownLabel .DeckNameLabel
{
    color: gray;
}

.HasDeckErrors.DeckDropdownLabel .DeckNameLabel
{
    color: gray;
}

.ValidDecksOnly .HasDeckErrors,
.ValidDecksOnly .HasUnowned
{
    visibility:collapse;
}
.DeckErrorsIcon
{
    vertical-align: center;
    width: 14px;
    height: 14px;
	background-size: contain;
	background-repeat: no-repeat;
    z-index: 1;
    opacity: 0;
    margin-right:4px;
}
.DeckUnownedIcon
{
    vertical-align: center;
    width: 15px;
    height: 15px;
	background-size: contain;
	background-repeat: no-repeat;
    z-index: 1;
    visibility:collapse;
	background-image: url("s2r://panorama/images/deck_builder/buttons/flat_warning_unowned_png.vtex");
    margin-right:4px;
}

#DeleteDeck,
#DeleteDeckBar,
#UnownedCards,
#UnownedCardsBar,
#ValidationErrors,
#ValidationErrorsBar,
#GauntletEditDeckBar
{
    visibility: collapse;
}

#DeleteDeck:hover
{
    color: red;
}

#DeleteDeckBar,
#UnownedCardsBar,
#ValidationErrorsBar,
#GauntletEditDeckBar
{
    margin-left: 10px;
    margin-right: 10px;
}

.SelectedDeckUnowned #UnownedCardsBar,
.SelectedDeckErrors #ValidationErrorsBar
{
    visibility: visible;
}

.SelectedDeckUnowned #UnownedCards
{
    visibility: visible;
    color: darkred;
}

#UnownedCards:hover
{
    color: white;
}

.SelectedDeckErrors #ValidationErrors
{
    visibility: visible;
    color: darkred;
}


.HasDeckErrors .DeckErrorsIcon
{
   	background-image: url("s2r://panorama/images/deck_builder/buttons/flat_warning_png.vtex");
    opacity: 1;
}

.HasDeckErrors.HasUnowned .DeckUnownedIcon
{
    visibility:collapse;
}

.HasDeckErrors.HasUnowned .DeckErrorsIcon
{
    visibility:visible;
}


.HasUnowned .DeckErrorsIcon
{
    visibility:collapse;
}

.HasUnowned .DeckUnownedIcon
{
		background-image: url("s2r://panorama/images/deck_builder/buttons/flat_warning_unowned_png.vtex");
    visibility:visible;
}

.DeckErrorsIcon.ValidDeck
{
    opacity: 0;
}

#ColorFilterRed,
.DeckDropdownPip.DeckDropdownColorRed
{
	background-color: gradient( linear, 0% 0%, 80% 100%, from( cardColorRed ), to( cardColorDarkRed ) );
	background-color: gradient( radial, 50% 40%, 0% 0%, 80% 80%, from( #c2352d ), to( #3b110f  ) );
}

#ColorFilterGreen,
.DeckDropdownPip.DeckDropdownColorGreen
{
	background-color: gradient( linear, 0% 0%, 80% 100%, from( cardColorGreen ), to( cardColorDarkGreen ) );
	background-color: gradient( radial, 50% 40%, 0% 0%, 80% 80%, from( #479036 ), to( #14380c  ) );
}

#ColorFilterBlue,
.DeckDropdownPip.DeckDropdownColorBlue
{
	background-color: gradient( linear, 0% 0%, 80% 100%, from( cardColorBlue ), to( cardColorDarkBlue ) );
	background-color: gradient( radial, 50% 40%, 0% 0%, 80% 80%, from( #2f7492 ), to( #0e2833  ) );
}

#ColorFilterBlack,
.DeckDropdownPip.DeckDropdownColorBlack
{
	background-color: gradient( linear, 0% 0%, 80% 100%, from( cardColorBlack ), to( cardColorDarkBlack ) );
	background-color: gradient( radial, 50% 40%, 0% 0%, 80% 80%, from( #5d5964 ), to( #1e1141  ) );
}

.FilterContents
{
	vertical-align: middle;
	flow-children: right;
	horizontal-align: right;
	z-index: 10;
}

.ColorFilterGroup
{
	horizontal-align: right;
    flow-children: right;
    vertical-align: center;
}

.ColorFilter
{
    width: 24px;
    height: 24px;
    border: 1px solid black;
    opacity: 0.5;
    transition-property: opacity;
    transition-duration: 0.4s;
    margin-left: 16px;
    border-radius:3px;
}

.ColorFilter.Activated
{
	opacity: 1.0;
    transition-property: opacity;
    transition-duration: 0.4s;
}

#ColorFilterRed.Activated { border-color: red; }
#ColorFilterBlue.Activated { border-color: rgb(116, 171, 255); }
#ColorFilterBlack.Activated { border-color: rgb(211, 211, 211); }
#ColorFilterGreen.Activated { border-color: greenyellow; }

#SubmitButton
{
    opacity: 1.0;
    margin: 0px;
}

#LowerBody
{
    width: 100%;
    flow-children: down;
	margin-top: 20px;
}

#DeckTypesGroup 
{
    width: 494px;
    flow-children: down;
    margin-right: 20px;
}

#DeckTypesList
{
	visibility: collapse;
    width: 100%;
    flow-children: down;
    overflow: clip scroll;
}

#DeckListContainer
{
	width: 100%;
	flow-children: down;
}

#DeckList
{
    width: 100%;
    height: 430px;
    flow-children: down;
    overflow: squish scroll;
    background-color: #1d2026aa;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 4px;
    box-shadow: inset 0 0 10px #000000;
    margin-bottom:10px;
}

.IsGauntlet #DeckList
{
	width: 1028px;
}

.FiltersTitle
{
    vertical-align: center;
    text-transform: uppercase;
    font-size: 18px;
    margin-right: 20px;
    color: #8f9398;
		letter-spacing: 3px;
}

.FilterControlGroup
{
    flow-children: right;
    horizontal-align: left;
    vertical-align: bottom;
	width: 100%;
}

.SelectGroup
{
    flow-children: right;
    horizontal-align: right;
}

#DeckTagDropDown
{
    width: 300px;
}

.InDeckBuilder.CanDeleteDeck #DeleteDeck,
.InDeckBuilder.CanDeleteDeck #DeleteDeckBar,
.GauntletCanEditDecks.HasDeckCode #GauntletEditDeckBar
{
    visibility: visible;
}

.BottomButtonRow
{
    margin-top: 10px;
    horizontal-align: center;
    flow-children: right;
}

#DeckFilterName
{
	width: 566px;
}

#DeckFilterName #PlaceholderText
{
	font-size:20px;
}

.DeckOptions
{
	width:100%;
	margin-top: 16px;
}

.DisableClipboard .DeckOptions
{
    visibility:collapse;
}

#LastPlayedContainer
{
	flow-children: right;
	horizontal-align: right;
	vertical-align: middle;
	margin-right: 10px;

	/* Making not visible for now since there is no Last Played timestamp yet. */
	visibility: collapse;
}

.NoLastPlayedTime #LastPlayedContainer
{
	visibility: collapse;
}

.LastPlayedLabel
{
	color: #8f9398;
	text-shadow: 1px 1px 1px 2 black;
	padding: 5px;
}

#ClearDeckFilterTextButton
{    
	vertical-align: middle;
	horizontal-align: right;
    margin-left: 4px;

	opacity: 0;
	background-image: url("s2r://panorama/images/control_icons/x_close_png.vtex");
	background-size: contain;
	width: 20px;
	height: 20px;
	z-index: 200;
}

.ApplyingTextFilter #ClearDeckFilterTextButton
{
    opacity: 1;
}

#ClearDeckFilterTextButton Label
{
    font-size: 24px;
    color: gray;    
}

#ClearDeckFilterTextButton Label:hover
{
    color: red;    
}

#PrevSelectionLabel
{
	visibility: collapse;
	margin-right: 60px;
}

.IsLoadingAIDeck #PrevSelectionLabel
{
	visibility: visible;
}

#LoadDeckPopupButton
{
	min-width: 320px;
	horizontal-align: right;
	vertical-align: middle;
}

#LoadDeckPopupButton Label
{
	font-size: 22px;
	letter-spacing: 6px;
	text-transform: uppercase;
	text-align:center;
	transition-property: text-shadow;
	transition-duration: 0.15s;
	transition-timing-function: ease-out;
}

#NextSelectionLabel:hover, #PrevSelectionLabel:hover
{
	text-shadow: 0px 0px 8px 4.0 #71ffff11;
}

#NextSelectionLabel:active, #PrevSelectionLabel:active
{
	text-shadow: 0px 0px 12px 4.0 #71ffff25;
}

.SelectedDeckErrors #NextSelectionLabel:hover
{
	text-shadow: none;
}

#NextSelectionLabel:disabled
{
	color: grey;
}
#CloseLoadDeckButton
{
	vertical-align: top;
	horizontal-align: right;

	width: 36px;
	height: 36px;

	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-position: 50% 50%;

	wash-color: #7c8e8e;
    margin:0px;
    opacity: 0.7;
    transition-property: opacity;
	transition-duration: 0.4s;
	background-image: url("s2r://panorama/images/catalogue/quit_icon_psd.vtex");
}

#CloseLoadDeckButton:hover
{
	opacity: 1.3;
}
.SelectDeckPopupHeader
{
	horizontal-align: left;
	width: 100%;
}

.SelectDeckPopupHeader Label
{
	horizontal-align: left;
	vertical-align: center;
    font-weight:light;
    font-size:32px;
    color: uiBrightGrey;
}

.DeckTypeContainer
{
	visibility: collapse;
	flow-children: down;
	height: 340px;
}

#TimerDifficultyContainer
{
	flow-children: right;
	vertical-align: bottom;
	margin-bottom: 25px;
}

#DeleteDeckButton
{
	wash-color: grey;
	vertical-align: center;
	width: 20px;
	height: 20px;

	background-position: 50% 0%;
	background-size: 100% 100%;
	background-image: url("s2r://panorama/images/catalogue/quit_icon_psd.vtex");
	margin-right: 2px;
	margin-left: 8px;
	opacity: 0;
}

.IsGauntlet #DeleteDeckButton
{
	visibility: collapse;
}

.CanDeleteDeck #DeleteDeckButton
{
	opacity: 1;
}

#DeleteDeckButton:hover
{
	wash-color: white;
}

.IsGauntlet #DeckTitle
{
	visibility: collapse;
}

#GauntletScoreContainer
{
	visibility: collapse;
	flow-children: right;
}

#GauntletAbandon
{
	margin-left: 5px;
	vertical-align: center;
	tooltip-arrow-position: 30% 30%;
	tooltip-body-position: 50% 50%;
}

#GauntletAbandon:hover
{
	brightness: 2.5;
}

#GauntletScoreContainer
{
	visibility: collapse;
}

.ActiveGauntlet.IsGauntlet #GauntletScoreContainer
{
	visibility: visible;
}

#GauntletMatches
{
    flow-children: down;
    margin-bottom: 20px;
    horizontal-align: center;
	visibility: collapse;
}

.IsGauntlet #GauntletMatches
{
	visibility: visible;
}

#GauntletWin .GauntletMatch,
#GauntletLoss .GauntletMatch
{
    width: 30px;
    height: 30px;
    margin: 0px 5px 0px 5px;
    border-radius: 15px;
}

#GauntletWin .GauntletMatch
{
    margin-bottom: 4px;
}

#GauntletWin .GauntletMatch Label,
#GauntletLoss .GauntletMatch Label
{
    font-size: 20px;
}

.GauntletMatch
{
    width: 54px;
    height: 54px;
	margin: 3px;
}

.GauntletWin
{
	background-image: url("s2r://panorama/images/control_icons/gauntlet_win_png.vtex");
	background-position: 50% 50%;
	background-size: 100% 100%;
	width: 54px;
	height: 54px;
	margin-top: 6px;
}
.GauntletWin.GauntletMatch Label
{
	margin-top: 3px;
    color: white;
}
.GauntletLoss
{
	background-image: url("s2r://panorama/images/control_icons/gauntlet_loss_png.vtex");
	background-position: 50% 50%;
	background-size: 100% 100%;
}
.GauntletLoss.GauntletMatch Label
{
    color: white;
}

.GauntletMatchList
{
    horizontal-align: left;
    flow-children: right;
}

.GauntletUnplayed
{
	background-image: url("s2r://panorama/images/control_icons/gauntlet_unplayed_png.vtex");
	background-position: 50% 50%;
	background-size: 100% 100%;
}
.GauntletNext.GauntletMatch, .GauntletMatchSmall.GauntletNext
{
    border: 3px solid #999999;
	background-image: url("s2r://panorama/images/control_icons/gauntlet_unplayed_png.vtex");
	background-position: 50% 50%;
	background-size: 100% 100%;
	border-radius: 25px;
}

.GauntletMatchSmall.GauntletNext
{
	border: 1px solid #999999;
	border-radius: 10px;
}

.GauntletMatch Label
{
	margin-top: 4px;
	font-weight: lighter;
    horizontal-align:center;
    vertical-align:middle;
    color: #6e7185;
    font-size: 32px;
	text-shadow: 0px 1px 2px 1.8 black;
}

.GauntletMatch.GauntletNext Label
{
	margin-top: 4px;
	 color: #babac2;
}

#GauntletEditDeck
{
    visibility: collapse;
}

.GauntletCanEditDecks #GauntletEditDeck
{
    visibility: visible;
}

#GauntletGamesDelayedLoadList
{
	flow-children: right;
	horizontal-align: center;
	vertical-align: center;
}

.GauntletMatchSmall
{
	height: 20px;
	width: 20px;
	margin-top: 0px;
	margin-left: 5px;
	margin-right: 5px;
}

.GauntletMatchSmall.GauntletWin, .GauntletMatchSmall.GauntletLoss
{
	margin-top: 1px;
}

#NextSelectionButton
{
	vertical-align: bottom;
}


.ValidDeckLabel
{
    text-transform:uppercase;
    color:uiNeutralGrey;
    font-weight: lighter;
    vertical-align:center;    
    horizontal-align:right;
    margin-right: 5px;
    letter-spacing: 2px;
    
}

#ValidDecksButton
{
    horizontal-align:right;
    margin-right:10px;
    flow-children: left;
}

#ImportDeckButton
{
    margin-left:15px;
}

.ViewDeckIcon
{
    background-image: url("s2r://panorama/images/main_menu/icon_view_deck_psd.vtex");   
    background-size: cover;
    wash-color: #5c686b;
    height:30px;
    width:30px;
    vertical-align:center;
    margin-right:4px;
}

.ViewDeckIcon:hover
{
	wash-color: white;
}

.PaddingBottom
{
    horizontal-align:right;
    margin-top:4px;
    margin-right:10px;
}