DCGPopupTourneyAddPhase
{
}

#TitleLabel
{
	margin-bottom: 0px;
}

#ConfigurePhase
{
	horizontal-align: center;
}

#ButtonContainer
{
	vertical-align: bottom;
}

.TopContainer
{
    width:100%;
    margin-right:16px;
}
#OKButton
{
    margin-right:16px;
    margin-top:16px;
    horizontal-align:right;
}
