.NPEHelperItem
{
	border: 0px solid black;
	background-color: #00000000;

    padding-top: 25px;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 25px;

    animation-name: npe-appear;
    animation-duration: 0.7s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
}

.TopArrow .NPEHelperItem
{
    animation-name: npe-appear-top;
}

.NPEHelperBubble
{
    flow-children: down;

    background-color: #ccccccee;
    opacity: 1;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 12px;
    padding-right: 12px;
    margin: 0px;
    margin-left: 8px;
    border-radius: 4px;

    box-shadow: #000000CC -8px -8px 16px 16px;
}

.NPEHelperArrowDown
{
	border-style: solid;
	border-color: #ccccccee transparent transparent transparent;
    border-width: 18px 18px 0px 18px;
	margin-left: 20px;
	margin-bottom: -17px;
	horizontal-align: center;
	vertical-align: bottom;
    visibility: visible;
}

.NoArrow .NPEHelperArrowDown,
.UpArrow .NPEHelperArrowDown,
.LeftArrow .NPEHelperArrowDown,
.RightArrow .NPEHelperArrowDown
{
    visibility: collapse;
}

.NPEHelperArrowUp
{
	border-style: solid;
	border-color: transparent transparent #ccccccee transparent;
    border-width: 0px 18px 18px 18px;
	margin-left: 20px;
	margin-top: -17px;
	horizontal-align: center;
	vertical-align: top;
    visibility: collapse;
}

.UpArrow .NPEHelperArrowUp
{
    visibility: visible;
}

.NPEHelperArrowLeft
{
	border-style: solid;
	border-color: transparent #ccccccee transparent transparent;
    border-width: 18px 18px 18px 0px;
	margin-top: 20px;
	margin-left: -9px;
	horizontal-align: left;
	vertical-align: center;
    visibility: collapse;
}

.LeftArrow .NPEHelperArrowLeft
{
    visibility: visible;
}

.NPEHelperArrowRight
{
	border-style: solid;
	border-color: transparent transparent transparent #ccccccee;
    border-width: 18px 0px 18px 18px;
	margin-top: 20px;
	margin-right: -17px;
	horizontal-align: right;
	vertical-align: center;
    visibility: collapse;
}

.RightArrow .NPEHelperArrowRight
{
    visibility: visible;
}

#NPEHelperText
{
	min-width: 10px;
    max-width: 300px;
	width: fit-children;

    vertical-align: center;
    //font-stretch: condensed;
	color: #111111;
	font-size: 30px;
    text-align: center;

	visibility: visible;
}

#NPEHelperButton
{
	flow-children: right;
	width: 100%;
	border: 0px solid red;
	margin-bottom: 8px;

    visibility: collapse;
}

.NPEHasButton #NPEHelperButton
{
    visibility: visible;
}

.NPEHasButton #NPEHelperButton
{
    visibility: visible;
}

@keyframes 'npe-appear'
{
    0%
    {
    	opacity: 0;
        transform: translatey( -100px ) scaleX(0.0) scaleY(0.0);
    }
    1%
    {
    	opacity: 1;
        transform: translatey( -100px ) scaleX(0.0) scaleY(0.0);
    }
    40%
    {
    	opacity: 1;
        transform: translatey( -15px ) scaleX(1.2) scaleY(1.2);
    }
    100%
    {
    	opacity: 1;
        transform: translatey( 0px ) scaleX(1.0) scaleY(1.0);
    }
}

@keyframes 'npe-appear-top'
{
    0%
    {
    	opacity: 0;
        transform: translatey( 100px ) scaleX(0.0) scaleY(0.0);
    }
    1%
    {
    	opacity: 1;
        transform: translatey( 100px ) scaleX(0.0) scaleY(0.0);
    }
    40%
    {
    	opacity: 1;
        transform: translatey( 15px ) scaleX(1.2) scaleY(1.2);
    }
    100%
    {
    	opacity: 1;
        transform: translatey( 0px ) scaleX(1.0) scaleY(1.0);
    }
}
