#ToastManager > DCGAchievementToast.ToastPanel,
#OpponentToastManager > DCGAchievementToast.ToastPanel
{
	width: 330px;
	height: 115px;
	
	opacity-mask: url("s2r://panorama/images/hud/hud_mask_psd.vtex");

	horizontal-align: right;
	background-image: url("s2r://panorama/images/hud/hud_achievement_toast_bg_psd.vtex");
	background-repeat: no-repeat;
	background-size: contain;

	margin-bottom: 5px;
//	margin-right: 200px;
	padding: 0px 15px;

	flow-children: right;
}

DCGAchievementToast:hover
{
	background-color: #181818;
}
DCGAchievementToast:active
{
	background-color: #002;
}

.CheeveImageContainer
{
	width: 100px;
	height: 100px;
	margin-right: 4px;
    vertical-align: middle;
}

.CheeveImage
{
	height: 100px;
    width: 100px;
}

.IsCompleted #CheeveProgressBar
{
    visibility: collapse;
}

#CheeveProgressBar_FG
{
	width: 100px;
	height: 100px;
	horizontal-align: center;
	vertical-align: center;

	border: 10px solid #462b48;
	border-radius: 50%;
}

#CheeveProgressBar_BG
{
	width: 100px;
	height: 100px;
	horizontal-align: center;
	vertical-align: center;

	border: 10px solid #999999;
	border-radius: 50%;
}

DCGAchievementToast Label
{
	vertical-align: middle;
	width: 100%;
	margin-top: 0px;
	margin-left: 5px;
	margin-right: 25px;
	font-size: 16px;
	color: white;
    text-overflow:shrink;
}

#TextContainer
{
	vertical-align: middle;
    flow-children:down;
    width:240px;
}

.AchievementName
{
	text-transform: uppercase;
}

.AchievementText
{
	margin-top: -5px;
	color: #999999;
}

.IsPartialProgress #Completed
{
	visibility: collapse;
}

.IsCompleted #PartialProgress
{
	visibility: collapse;
}

.IsOpponent
{
}

.HackThatMakesTheseCompile{background-image: url("s2r://panorama/images/achievements/completed/achievement_completed_10001_psd.vtex");}
.HackThatMakesTheseCompile{background-image: url("s2r://panorama/images/achievements/completed/achievement_completed_10002_psd.vtex");}
.HackThatMakesTheseCompile{background-image: url("s2r://panorama/images/achievements/completed/achievement_completed_10003_psd.vtex");}
.HackThatMakesTheseCompile{background-image: url("s2r://panorama/images/achievements/completed/achievement_completed_10004_psd.vtex");}
.HackThatMakesTheseCompile{background-image: url("s2r://panorama/images/achievements/completed/achievement_completed_10005_psd.vtex");}
.HackThatMakesTheseCompile{background-image: url("s2r://panorama/images/achievements/completed/achievement_completed_10006_psd.vtex");}
.HackThatMakesTheseCompile{background-image: url("s2r://panorama/images/achievements/completed/achievement_completed_10007_psd.vtex");}
.HackThatMakesTheseCompile{background-image: url("s2r://panorama/images/achievements/completed/achievement_completed_10008_psd.vtex");}
.HackThatMakesTheseCompile{background-image: url("s2r://panorama/images/achievements/completed/achievement_completed_10009_psd.vtex");}
.HackThatMakesTheseCompile{background-image: url("s2r://panorama/images/achievements/completed/achievement_completed_10010_psd.vtex");}
.HackThatMakesTheseCompile{background-image: url("s2r://panorama/images/achievements/completed/achievement_completed_10011_psd.vtex");}
.HackThatMakesTheseCompile{background-image: url("s2r://panorama/images/achievements/completed/achievement_completed_10012_psd.vtex");}
.HackThatMakesTheseCompile{background-image: url("s2r://panorama/images/achievements/completed/achievement_completed_10013_psd.vtex");}
.HackThatMakesTheseCompile{background-image: url("s2r://panorama/images/achievements/completed/achievement_completed_10014_psd.vtex");}
.HackThatMakesTheseCompile{background-image: url("s2r://panorama/images/achievements/completed/achievement_completed_10015_psd.vtex");}
.HackThatMakesTheseCompile{background-image: url("s2r://panorama/images/achievements/completed/achievement_completed_10016_psd.vtex");}
.HackThatMakesTheseCompile{background-image: url("s2r://panorama/images/achievements/completed/achievement_completed_10017_psd.vtex");}
.HackThatMakesTheseCompile{background-image: url("s2r://panorama/images/achievements/completed/achievement_completed_10018_psd.vtex");}
.HackThatMakesTheseCompile{background-image: url("s2r://panorama/images/achievements/completed/achievement_completed_10019_psd.vtex");}
.HackThatMakesTheseCompile{background-image: url("s2r://panorama/images/achievements/completed/achievement_completed_10020_psd.vtex");}
.HackThatMakesTheseCompile{background-image: url("s2r://panorama/images/achievements/completed/achievement_completed_10021_psd.vtex");}
.HackThatMakesTheseCompile{background-image: url("s2r://panorama/images/achievements/completed/achievement_completed_10022_psd.vtex");}
.HackThatMakesTheseCompile{background-image: url("s2r://panorama/images/achievements/completed/achievement_completed_10023_psd.vtex");}
.HackThatMakesTheseCompile{background-image: url("s2r://panorama/images/achievements/completed/achievement_completed_10024_psd.vtex");}

.HackThatMakesTheseCompile{background-image: url("s2r://panorama/images/achievements/progress/achievement_progress_10001_psd.vtex");}
.HackThatMakesTheseCompile{background-image: url("s2r://panorama/images/achievements/progress/achievement_progress_10002_psd.vtex");}
.HackThatMakesTheseCompile{background-image: url("s2r://panorama/images/achievements/progress/achievement_progress_10003_psd.vtex");}
.HackThatMakesTheseCompile{background-image: url("s2r://panorama/images/achievements/progress/achievement_progress_10004_psd.vtex");}
.HackThatMakesTheseCompile{background-image: url("s2r://panorama/images/achievements/progress/achievement_progress_10005_psd.vtex");}
.HackThatMakesTheseCompile{background-image: url("s2r://panorama/images/achievements/progress/achievement_progress_10006_psd.vtex");}
.HackThatMakesTheseCompile{background-image: url("s2r://panorama/images/achievements/progress/achievement_progress_10007_psd.vtex");}
.HackThatMakesTheseCompile{background-image: url("s2r://panorama/images/achievements/progress/achievement_progress_10008_psd.vtex");}
.HackThatMakesTheseCompile{background-image: url("s2r://panorama/images/achievements/progress/achievement_progress_10009_psd.vtex");}
.HackThatMakesTheseCompile{background-image: url("s2r://panorama/images/achievements/progress/achievement_progress_10010_psd.vtex");}
.HackThatMakesTheseCompile{background-image: url("s2r://panorama/images/achievements/progress/achievement_progress_10011_psd.vtex");}
.HackThatMakesTheseCompile{background-image: url("s2r://panorama/images/achievements/progress/achievement_progress_10012_psd.vtex");}
.HackThatMakesTheseCompile{background-image: url("s2r://panorama/images/achievements/progress/achievement_progress_10013_psd.vtex");}
.HackThatMakesTheseCompile{background-image: url("s2r://panorama/images/achievements/progress/achievement_progress_10014_psd.vtex");}
.HackThatMakesTheseCompile{background-image: url("s2r://panorama/images/achievements/progress/achievement_progress_10015_psd.vtex");}
.HackThatMakesTheseCompile{background-image: url("s2r://panorama/images/achievements/progress/achievement_progress_10016_psd.vtex");}
.HackThatMakesTheseCompile{background-image: url("s2r://panorama/images/achievements/progress/achievement_progress_10017_psd.vtex");}
.HackThatMakesTheseCompile{background-image: url("s2r://panorama/images/achievements/progress/achievement_progress_10018_psd.vtex");}
.HackThatMakesTheseCompile{background-image: url("s2r://panorama/images/achievements/progress/achievement_progress_10019_psd.vtex");}
.HackThatMakesTheseCompile{background-image: url("s2r://panorama/images/achievements/progress/achievement_progress_10020_psd.vtex");}
.HackThatMakesTheseCompile{background-image: url("s2r://panorama/images/achievements/progress/achievement_progress_10021_psd.vtex");}
.HackThatMakesTheseCompile{background-image: url("s2r://panorama/images/achievements/progress/achievement_progress_10022_psd.vtex");}
.HackThatMakesTheseCompile{background-image: url("s2r://panorama/images/achievements/progress/achievement_progress_10023_psd.vtex");}
.HackThatMakesTheseCompile{background-image: url("s2r://panorama/images/achievements/progress/achievement_progress_10024_psd.vtex");}

.HackThatMakesTheseCompile{background-image: url("s2r://panorama/images/achievements/lineart/achievement_lineart_10001_psd.vtex");}
.HackThatMakesTheseCompile{background-image: url("s2r://panorama/images/achievements/lineart/achievement_lineart_10002_psd.vtex");}
.HackThatMakesTheseCompile{background-image: url("s2r://panorama/images/achievements/lineart/achievement_lineart_10003_psd.vtex");}
.HackThatMakesTheseCompile{background-image: url("s2r://panorama/images/achievements/lineart/achievement_lineart_10004_psd.vtex");}
.HackThatMakesTheseCompile{background-image: url("s2r://panorama/images/achievements/lineart/achievement_lineart_10005_psd.vtex");}
.HackThatMakesTheseCompile{background-image: url("s2r://panorama/images/achievements/lineart/achievement_lineart_10006_psd.vtex");}
.HackThatMakesTheseCompile{background-image: url("s2r://panorama/images/achievements/lineart/achievement_lineart_10007_psd.vtex");}
.HackThatMakesTheseCompile{background-image: url("s2r://panorama/images/achievements/lineart/achievement_lineart_10008_psd.vtex");}
.HackThatMakesTheseCompile{background-image: url("s2r://panorama/images/achievements/lineart/achievement_lineart_10009_psd.vtex");}
.HackThatMakesTheseCompile{background-image: url("s2r://panorama/images/achievements/lineart/achievement_lineart_10010_psd.vtex");}
.HackThatMakesTheseCompile{background-image: url("s2r://panorama/images/achievements/lineart/achievement_lineart_10011_psd.vtex");}
.HackThatMakesTheseCompile{background-image: url("s2r://panorama/images/achievements/lineart/achievement_lineart_10012_psd.vtex");}
.HackThatMakesTheseCompile{background-image: url("s2r://panorama/images/achievements/lineart/achievement_lineart_10013_psd.vtex");}
.HackThatMakesTheseCompile{background-image: url("s2r://panorama/images/achievements/lineart/achievement_lineart_10014_psd.vtex");}
.HackThatMakesTheseCompile{background-image: url("s2r://panorama/images/achievements/lineart/achievement_lineart_10015_psd.vtex");}
.HackThatMakesTheseCompile{background-image: url("s2r://panorama/images/achievements/lineart/achievement_lineart_10016_psd.vtex");}
.HackThatMakesTheseCompile{background-image: url("s2r://panorama/images/achievements/lineart/achievement_lineart_10017_psd.vtex");}
.HackThatMakesTheseCompile{background-image: url("s2r://panorama/images/achievements/lineart/achievement_lineart_10018_psd.vtex");}
.HackThatMakesTheseCompile{background-image: url("s2r://panorama/images/achievements/lineart/achievement_lineart_10019_psd.vtex");}
.HackThatMakesTheseCompile{background-image: url("s2r://panorama/images/achievements/lineart/achievement_lineart_10020_psd.vtex");}
.HackThatMakesTheseCompile{background-image: url("s2r://panorama/images/achievements/lineart/achievement_lineart_10021_psd.vtex");}
.HackThatMakesTheseCompile{background-image: url("s2r://panorama/images/achievements/lineart/achievement_lineart_10022_psd.vtex");}
.HackThatMakesTheseCompile{background-image: url("s2r://panorama/images/achievements/lineart/achievement_lineart_10023_psd.vtex");}
.HackThatMakesTheseCompile{background-image: url("s2r://panorama/images/achievements/lineart/achievement_lineart_10024_psd.vtex");}
