DCGAchievementToast
{
	width: 100%;

	background-color: black;
	border: 1px solid #333;
	box-shadow: black 2px 2px;

	margin-bottom: 5px;
	padding: 10px 10px;

	flow-children: right;
}

DCGAchievementToast:hover
{
	background-color: #181818;
}
DCGAchievementToast:active
{
	background-color: #002;
}


DCGAchievementToast Image
{
	vertical-align: middle;
	height: 57px;
    width:60px;
}

DCGAchievementToast Label
{
	vertical-align: middle;
	width: 220px;
	margin-left: 10px;
	font-size: 16px;
	color: white;
    text-overflow:shrink;
}
#TextContainer
{
    flow-children:down;
    width:240px;
}