DCGAccountBadge
{
	width: 150px;
	height: 150px;
}

#MMRStat
{
	visibility: collapse;
}

.ShowMMR #MMRStat
{
	visibility: visible;
}

#ArtifactLevelIconContainer
{
	width: 100%;
	height: 100%;
}

.Hovered #AvatarImage, .Hovered #ArtifactLevelIconAI,
DCGAccountBadge:hover #AvatarImage,
DCGAccountBadge:hover #ArtifactLevelIconAI
{
	brightness: 1.75;
	transition-property: brightness;
	transition-duration: 0.6s;
	transition-timing-function: ease-out;
	img-shadow: 0px 0px 10px 0 #ffffff;
}

#AvatarImage, #ArtifactLevelIconAI
{
	width: 70px;
	height: 70px;
	horizontal-align: center;
	vertical-align: top;
	margin-top: 36px;
	background-size: 100%;
	
	opacity-mask: url("s2r://panorama/images/masks/circle_64_psd.vtex");
}

.IsBot #AvatarImage
{
	visibility: collapse;
}

.Small #AvatarImage
{
	width: 32px;
	height: 32px;
	border: 1px solid black;
}

.SelectionBadge #AvatarImage 
{
	width: 128px;
	height: 128px;
}

#ArtifactLevelIconAI
{
	background-image: url("s2r://panorama/images/dialogs/badges/lvl_00_bot_128px_psd.vtex");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	visibility: collapse;
}

.IsBot #ArtifactLevelIconAI
{
	visibility: visible;
}

#ProgressScreens #AvatarImage
{
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}

.RankFrame
{
	width: 100%;
	height: 100%;

	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-position: center;
}

.RankLabel
{
	color: white;
	font-size: 14px;
	horizontal-align: center;
	vertical-align: bottom;
	margin-bottom: 22px;
	visibility: collapse;
	text-shadow: .5px .5px 2px 2.0 black;
}

.InZoo .Rank_09 .RealRankLabel
{
	visibility: collapse;
}

.Rank_09 .RankLabel
{
	visibility: visible;
}

.RankFrame,
.Rank_01_1 .RankFrame
{
	background-image: url("s2r://panorama/images/hud/avatar_badge/avatar_rank_badge_01-1_psd.vtex");
}
.Rank_01_2 .RankFrame
{
	background-image: url("s2r://panorama/images/hud/avatar_badge/avatar_rank_badge_01-2_psd.vtex");
}
.Rank_01_3 .RankFrame
{
	background-image: url("s2r://panorama/images/hud/avatar_badge/avatar_rank_badge_01-3_psd.vtex");
}
.Rank_01_4 .RankFrame
{
	background-image: url("s2r://panorama/images/hud/avatar_badge/avatar_rank_badge_01-4_psd.vtex");
}
.Rank_01_5 .RankFrame
{
	background-image: url("s2r://panorama/images/hud/avatar_badge/avatar_rank_badge_01-5_psd.vtex");
}

.Rank_02_1 .RankFrame
{
	background-image: url("s2r://panorama/images/hud/avatar_badge/avatar_rank_badge_02-1_psd.vtex");
}
.Rank_02_2 .RankFrame
{
	background-image: url("s2r://panorama/images/hud/avatar_badge/avatar_rank_badge_02-2_psd.vtex");
}
.Rank_02_3 .RankFrame
{
	background-image: url("s2r://panorama/images/hud/avatar_badge/avatar_rank_badge_02-3_psd.vtex");
}
.Rank_02_4 .RankFrame
{
	background-image: url("s2r://panorama/images/hud/avatar_badge/avatar_rank_badge_02-4_psd.vtex");
}
.Rank_02_5 .RankFrame
{
	background-image: url("s2r://panorama/images/hud/avatar_badge/avatar_rank_badge_02-5_psd.vtex");
}

.Rank_03_1 .RankFrame
{
	background-image: url("s2r://panorama/images/hud/avatar_badge/avatar_rank_badge_03-1_psd.vtex");
}
.Rank_03_2 .RankFrame
{
	background-image: url("s2r://panorama/images/hud/avatar_badge/avatar_rank_badge_03-2_psd.vtex");
}
.Rank_03_3 .RankFrame
{
	background-image: url("s2r://panorama/images/hud/avatar_badge/avatar_rank_badge_03-3_psd.vtex");
}
.Rank_03_4 .RankFrame
{
	background-image: url("s2r://panorama/images/hud/avatar_badge/avatar_rank_badge_03-4_psd.vtex");
}
.Rank_03_5 .RankFrame
{
	background-image: url("s2r://panorama/images/hud/avatar_badge/avatar_rank_badge_03-5_psd.vtex");
}

.Rank_04_1 .RankFrame
{
	background-image: url("s2r://panorama/images/hud/avatar_badge/avatar_rank_badge_04-1_psd.vtex");
}
.Rank_04_2 .RankFrame
{
	background-image: url("s2r://panorama/images/hud/avatar_badge/avatar_rank_badge_04-2_psd.vtex");
}
.Rank_04_3 .RankFrame
{
	background-image: url("s2r://panorama/images/hud/avatar_badge/avatar_rank_badge_04-3_psd.vtex");
}
.Rank_04_4 .RankFrame
{
	background-image: url("s2r://panorama/images/hud/avatar_badge/avatar_rank_badge_04-4_psd.vtex");
}
.Rank_04_5 .RankFrame
{
	background-image: url("s2r://panorama/images/hud/avatar_badge/avatar_rank_badge_04-5_psd.vtex");
}

.Rank_05_1 .RankFrame
{
	background-image: url("s2r://panorama/images/hud/avatar_badge/avatar_rank_badge_05-1_psd.vtex");
}
.Rank_05_2 .RankFrame
{
	background-image: url("s2r://panorama/images/hud/avatar_badge/avatar_rank_badge_05-2_psd.vtex");
}
.Rank_05_3 .RankFrame
{
	background-image: url("s2r://panorama/images/hud/avatar_badge/avatar_rank_badge_05-3_psd.vtex");
}
.Rank_05_4 .RankFrame
{
	background-image: url("s2r://panorama/images/hud/avatar_badge/avatar_rank_badge_05-4_psd.vtex");
}
.Rank_05_5 .RankFrame
{
	background-image: url("s2r://panorama/images/hud/avatar_badge/avatar_rank_badge_05-5_psd.vtex");
}

.Rank_06_1 .RankFrame
{
	background-image: url("s2r://panorama/images/hud/avatar_badge/avatar_rank_badge_06-1_psd.vtex");
}
.Rank_06_2 .RankFrame
{
	background-image: url("s2r://panorama/images/hud/avatar_badge/avatar_rank_badge_06-2_psd.vtex");
}
.Rank_06_3 .RankFrame
{
	background-image: url("s2r://panorama/images/hud/avatar_badge/avatar_rank_badge_06-3_psd.vtex");
}
.Rank_06_4 .RankFrame
{
	background-image: url("s2r://panorama/images/hud/avatar_badge/avatar_rank_badge_06-4_psd.vtex");
}
.Rank_06_5 .RankFrame
{
	background-image: url("s2r://panorama/images/hud/avatar_badge/avatar_rank_badge_06-5_psd.vtex");
}

.Rank_07_1 .RankFrame
{
	background-image: url("s2r://panorama/images/hud/avatar_badge/avatar_rank_badge_07-1_psd.vtex");
}
.Rank_07_2 .RankFrame
{
	background-image: url("s2r://panorama/images/hud/avatar_badge/avatar_rank_badge_07-2_psd.vtex");
}
.Rank_07_3 .RankFrame
{
	background-image: url("s2r://panorama/images/hud/avatar_badge/avatar_rank_badge_07-3_psd.vtex");
}
.Rank_07_4 .RankFrame
{
	background-image: url("s2r://panorama/images/hud/avatar_badge/avatar_rank_badge_07-4_psd.vtex");
}
.Rank_07_5 .RankFrame
{
	background-image: url("s2r://panorama/images/hud/avatar_badge/avatar_rank_badge_07-5_psd.vtex");
}

.Rank_08_1 .RankFrame
{
	background-image: url("s2r://panorama/images/hud/avatar_badge/avatar_rank_badge_08-1_psd.vtex");
}
.Rank_08_2 .RankFrame
{
	background-image: url("s2r://panorama/images/hud/avatar_badge/avatar_rank_badge_08-2_psd.vtex");
}
.Rank_08_3 .RankFrame
{
	background-image: url("s2r://panorama/images/hud/avatar_badge/avatar_rank_badge_08-3_psd.vtex");
}
.Rank_08_4 .RankFrame
{
	background-image: url("s2r://panorama/images/hud/avatar_badge/avatar_rank_badge_08-4_psd.vtex");
}
.Rank_08_5 .RankFrame
{
	background-image: url("s2r://panorama/images/hud/avatar_badge/avatar_rank_badge_08-5_psd.vtex");
}

.Rank_09 .RankFrame
{
	background-image: url("s2r://panorama/images/hud/avatar_badge/avatar_rank_badge_09_psd.vtex");
}