#ArtifactLevelIconContainer
{
	overflow: noclip;
	width: 100%;
	height: fit-children;
	max-height: 1024px;
	flow-children: down;
}

.ArtifactLevelIcon
{
	width: 100%;
	height: width-percentage( 100% );

	background-color: gradient( radial, 50% 30%, 0% 0%, 95% 95%, from( rgb(63, 51, 94) ), to( rgb(22, 15, 51) ) );
	border: 1px solid #594597;
	background-image: url("s2r://panorama/images/dialogs/badges/lvl_00_logo_128px_psd.vtex");
    background-size: 100% 100%;
    background-repeat: no-repeat;
	background-position: 50% 50%;
	transition-property: width, height, transform, 	brightness;
	transition-duration: .32s, .32s, .32s, .2s;
	transition-timing-function: ease-in-out;
}

.Small .ArtifactLevelIcon
{
	width: 32px;
	height: 32px;
	border: 1px solid black;
}

.SelectionBadge .ArtifactLevelIcon 
{
    width: 128px;
    height: 128px;
}

.Hovered .ArtifactLevelIcon
{
	brightness: 3;
}

.ArtifactLevelLabel
{
	width: 100%;
	height: 22px;
	background-color: #7B5BC6;
	background-color: gradient( radial, 50% 10%, 0% 0%, 95% 95%, from( rgb(102, 86, 151) ), to( rgb(43, 34, 80) ) );
	text-align: center;
	vertical-align: center;
	border: 0px solid black;
	border-top: 0px solid black;
	padding-top: 0px;
	font-size: 18px;
	color: gradient( linear, -50% 0%, 100% 100%, from( #d4c9e1 ), to( #cff2f6 ) );
	transition-property: width, height;
	transition-duration: .32s;
	transition-timing-function: ease-in-out;

	background-image: url("s2r://panorama/images/textures/levelicon_bg_psd.vtex");
	background-size: 100%;
}

.NoLevelNumber .ArtifactLevelLabel
{
	visibility: collapse;
}

.Small .ArtifactLevelLabel 
{
	width: 32px;
	height: 12px;
	font-size: 10px;
	border: 1px solid black;
}

#BadgeTopLabel,
.ShowTop #BadgeBottomLabel
{
    visibility: collapse;
}

.ShowTop #BadgeTopLabel,
#BadgeBottomLabel
{
    visibility: visible;
}

.Small .Tier01Radiant
{
	background-image: url("s2r://panorama/images/dialogs/badges/lvl_01_melee_64px_psd.vtex");
}

.Large .Tier01Radiant {
    background-image: url("s2r://panorama/images/dialogs/badges/lvl_01_melee_128px_psd.vtex");
}

.Small .Tier01Dire
{
	background-image: url("s2r://panorama/images/dialogs/badges/lvl_01_dire_64px_psd.vtex");
}

.Large .Tier01Dire {
    background-image: url("s2r://panorama/images/dialogs/badges/lvl_01_dire_128px_psd.vtex");
}

.Small .Tier02Red
{
	background-image: url("s2r://panorama/images/dialogs/badges/lvl_02_red_64px_psd.vtex");
}

.Large .Tier02Red
{
	background-image: url("s2r://panorama/images/dialogs/badges/lvl_02_red_128px_psd.vtex");
}

.Small .Tier02Green
{
	background-image: url("s2r://panorama/images/dialogs/badges/lvl_02_green_64px_psd.vtex");
}

.Large .Tier02Green
{
	background-image: url("s2r://panorama/images/dialogs/badges/lvl_02_green_128px_psd.vtex");
}

.Small .Tier02Blue
{
	background-image: url("s2r://panorama/images/dialogs/badges/lvl_02_blue_64px_psd.vtex");
}

.Large .Tier02Blue
{
	background-image: url("s2r://panorama/images/dialogs/badges/lvl_02_blue_128px_psd.vtex");
}

.Small .Tier02Black
{
	background-image: url("s2r://panorama/images/dialogs/badges/lvl_02_black_64px_psd.vtex");
}

.Large .Tier02Black
{
	background-image: url("s2r://panorama/images/dialogs/badges/lvl_02_black_128px_psd.vtex");
}

.Small .Tier03Red
{
	background-image: url("s2r://panorama/images/dialogs/badges/lvl_03_red_64px_psd.vtex");
}

.Large .Tier03Red
{
	background-image: url("s2r://panorama/images/dialogs/badges/lvl_03_red_128px_psd.vtex");
}

.Small .Tier03Green
{
	background-image: url("s2r://panorama/images/dialogs/badges/lvl_03_green_64px_psd.vtex");
}

.Large .Tier03Green
{
	background-image: url("s2r://panorama/images/dialogs/badges/lvl_03_green_128px_psd.vtex");
}

.Small .Tier03Blue
{
	background-image: url("s2r://panorama/images/dialogs/badges/lvl_03_blue_64px_psd.vtex");
}

.Large .Tier03Blue
{
	background-image: url("s2r://panorama/images/dialogs/badges/lvl_03_blue_128px_psd.vtex");
}

.Small .Tier03Black
{
	background-image: url("s2r://panorama/images/dialogs/badges/lvl_03_black_64px_psd.vtex");
}

.Large .Tier03Black
{
	background-image: url("s2r://panorama/images/dialogs/badges/lvl_03_black_128px_psd.vtex");
}

.Small .Tier04Red
{
	background-image: url("s2r://panorama/images/dialogs/badges/lvl_04_red_64px_psd.vtex");
}

.Large .Tier04Red
{
	background-image: url("s2r://panorama/images/dialogs/badges/lvl_04_red_128px_psd.vtex");
}

.Small .Tier04Green
{
	background-image: url("s2r://panorama/images/dialogs/badges/lvl_04_green_64px_psd.vtex");
}

.Large .Tier04Green
{
	background-image: url("s2r://panorama/images/dialogs/badges/lvl_04_green_128px_psd.vtex");
}

.Small .Tier04Blue
{
	background-image: url("s2r://panorama/images/dialogs/badges/lvl_04_blue_64px_psd.vtex");
}

.Large .Tier04Blue
{
	background-image: url("s2r://panorama/images/dialogs/badges/lvl_04_blue_128px_psd.vtex");
}

.Small .Tier04Black
{
	background-image: url("s2r://panorama/images/dialogs/badges/lvl_04_black_64px_psd.vtex");
}

.Large .Tier04Black
{
	background-image: url("s2r://panorama/images/dialogs/badges/lvl_04_black_128px_psd.vtex");
}

.Small .Tier05Red
{
	background-image: url("s2r://panorama/images/dialogs/badges/lvl_05_red_64px_psd.vtex");
}

.Large .Tier05Red
{
	background-image: url("s2r://panorama/images/dialogs/badges/lvl_05_red_128px_psd.vtex");
}

.Small .Tier05Green
{
	background-image: url("s2r://panorama/images/dialogs/badges/lvl_05_green_64px_psd.vtex");
}

.Large .Tier05Green
{
	background-image: url("s2r://panorama/images/dialogs/badges/lvl_05_green_128px_psd.vtex");
}

.Small .Tier05Blue
{
	background-image: url("s2r://panorama/images/dialogs/badges/lvl_05_blue_64px_psd.vtex");
}

.Large .Tier05Blue
{
	background-image: url("s2r://panorama/images/dialogs/badges/lvl_05_blue_128px_psd.vtex");
}

.Small .Tier05Black
{
	background-image: url("s2r://panorama/images/dialogs/badges/lvl_05_black_64px_psd.vtex");
}

.Large .Tier05Black
{
	background-image: url("s2r://panorama/images/dialogs/badges/lvl_05_black_128px_psd.vtex");
}

.Small .Tier06Red
{
	background-image: url("s2r://panorama/images/dialogs/badges/lvl_06_red_64px_psd.vtex");
}

.Large .Tier06Red
{
	background-image: url("s2r://panorama/images/dialogs/badges/lvl_06_red_128px_psd.vtex");
}

.Small .Tier06Green
{
	background-image: url("s2r://panorama/images/dialogs/badges/lvl_06_green_64px_psd.vtex");
}

.Large .Tier06Green
{
	background-image: url("s2r://panorama/images/dialogs/badges/lvl_06_green_128px_psd.vtex");
}

.Small .Tier06Blue
{
	background-image: url("s2r://panorama/images/dialogs/badges/lvl_06_blue_64px_psd.vtex");
}

.Large .Tier06Blue
{
	background-image: url("s2r://panorama/images/dialogs/badges/lvl_06_blue_128px_psd.vtex");
}

.Small .Tier06Black
{
	background-image: url("s2r://panorama/images/dialogs/badges/lvl_06_black_64px_psd.vtex");
}

.Large .Tier06Black
{
	background-image: url("s2r://panorama/images/dialogs/badges/lvl_06_black_128px_psd.vtex");
}

.Small .Tier07Red
{
	background-image: url("s2r://panorama/images/dialogs/badges/lvl_07_red_64px_psd.vtex");
}

.Large .Tier07Red
{
	background-image: url("s2r://panorama/images/dialogs/badges/lvl_07_red_128px_psd.vtex");
}

.Small .Tier07Green
{
	background-image: url("s2r://panorama/images/dialogs/badges/lvl_07_green_64px_psd.vtex");
}

.Large .Tier07Green
{
	background-image: url("s2r://panorama/images/dialogs/badges/lvl_07_green_128px_psd.vtex");
}

.Small .Tier07Blue
{
	background-image: url("s2r://panorama/images/dialogs/badges/lvl_07_blue_64px_psd.vtex");
}

.Large .Tier07Blue
{
	background-image: url("s2r://panorama/images/dialogs/badges/lvl_07_blue_128px_psd.vtex");
}

.Small .Tier07Black
{
	background-image: url("s2r://panorama/images/dialogs/badges/lvl_07_black_64px_psd.vtex");
}

.Large .Tier07Black
{
	background-image: url("s2r://panorama/images/dialogs/badges/lvl_07_black_128px_psd.vtex");
}

.Small .Tier08Red
{
	background-image: url("s2r://panorama/images/dialogs/badges/lvl_08_red_64px_psd.vtex");
}

.Large .Tier08Red
{
	background-image: url("s2r://panorama/images/dialogs/badges/lvl_08_red_128px_psd.vtex");
}

.Small .Tier08Green
{
	background-image: url("s2r://panorama/images/dialogs/badges/lvl_08_green_64px_psd.vtex");
}

.Large .Tier08Green
{
	background-image: url("s2r://panorama/images/dialogs/badges/lvl_08_green_128px_psd.vtex");
}

.Small .Tier08Blue
{
	background-image: url("s2r://panorama/images/dialogs/badges/lvl_08_blue_64px_psd.vtex");
}

.Large .Tier08Blue
{
	background-image: url("s2r://panorama/images/dialogs/badges/lvl_08_blue_128px_psd.vtex");
}

.Small .Tier08Black
{
	background-image: url("s2r://panorama/images/dialogs/badges/lvl_08_black_64px_psd.vtex");
}

.Large .Tier08Black
{
	background-image: url("s2r://panorama/images/dialogs/badges/lvl_08_black_128px_psd.vtex");
}


.Small .IsBot
{
	background-image: url("s2r://panorama/images/dialogs/badges/lvl_00_bot_64px_psd.vtex");
}

.Large .IsBot
{
	background-image: url("s2r://panorama/images/dialogs/badges/lvl_00_bot_128px_psd.vtex");	
}

#ProgressScreens #ArtifactLevelIcon
{
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}
