DCGBotMatch
{
	background-color: transparent;
	flow-children: down;
	vertical-align: bottom;
	height: 100%;
	width: 100%;
}

#PlayerDeckInfo,
#AIDeckInfo
{
	visibility: collapse;
}

.PlayerDeckSelected #PlayerDeckInfo,
.AIDeckSelected #AIDeckInfo
{
	visibility: visible;
}

#TimerSelectorPanel
{
	flow-children: right;
}

#DifficultySelectorPanel
{
	visibility: collapse;
}

#AITimerToggleButton
{
	margin-top: 0px;
	flow-children: left;
}

.ExtraSpacingForLabel.ContentsLabel
{
	margin-top: 30px;
	margin-bottom: 4px;
}

#TimerDifficultyContainer
{
	margin-top: 15px;
}