DCGBotMatch
{
	background-color: transparent;
	flow-children: down;
	vertical-align: bottom;
	height: 100%;
	width: 100%;
}

#PlayerDeckInfo,
#AIDeckInfo
{
	visibility: collapse;
}

.PlayerDeckSelected #PlayerDeckInfo,
.AIDeckSelected #AIDeckInfo
{
	visibility: visible;
}

#TimerSelectorPanel
{
	flow-children: right;
}

#LabelAndChallengeSelectorPanel
{
	flow-children: right;	
}

#ChallengeSelector
{
	margin-top: 31px;
	margin-left: -9px;
	margin-bottom: -4px;
	height: 30px;
}

#ChallengeSelector Label
{
	font-size: 16px;
    text-align: left;
	text-overflow: shrink;    
	color: gradient( linear, 0% 0%, 0% 100%, from( #fafafa ), to( #aaaaaa) );
	text-transform: uppercase;
	letter-spacing: 1px;
}

#ChallengeSelector Label:hover
{
    text-shadow: 0px 0px 6px 4.0 #71ffff11;
    color: white;
    text-overflow: shrink;
}

#LabelAndChallengeSelectorPanel > Label
{
	color: uiStandardGrey;
}

#LabelAndChallengeSelectorPanel DropDown
{
    width: 230px;
    border: 0px;
    padding: 0px;
    background-image: none;
    background-color: none;
	box-shadow: none;
}


#LabelAndChallengeSelectorPanel DropDown Label
{
    vertical-align: top;
}

#LabelAndChallengeSelectorPanel ToggleButton
{
    margin-top: 0px;
}

.SelectDropDown Label
{
    color: gradient( linear, 0% 0%, 0% 100%, from( #fafafa ), to( #aaaaaa) );
}


#AITimerToggleButton
{
	margin-top: 0px;
	flow-children: left;
}

.ExtraSpacingForLabel.ContentsLabel
{
	margin-top: 30px;
	margin-bottom: 4px;
}

#TimerDifficultyContainer
{
	flow-children: right;
	margin-top: 15px;
	width: 400px;
}

#AITimerToggleButton .ContentsLabel
{
	margin-top: 5px;
	margin-left: 0px;
}

.BotMatchPlayBody
{
	padding-left: 35px;
	padding-right: 35px;
	height: 608px;
	width: 100%;
	vertical-align: bottom;
	flow-children: down;
	margin-top: 30px;
}

#TopPanel
{
	flow-children: right;
	padding: 10px;
	padding-left: 30px;
}

.ContentsHeaderBotLabel
{
	vertical-align: center;
	margin-left: 20px;
	text-transform: uppercase;
	font-weight: lighter;
	font-size: 24px;
	color: #bbc5ca;
	text-shadow: .5px .5px 2px 2.0 black;
	text-overflow: shrink;
}

#GameModelSelectionContainer
{
	flow-children: right;
	horizontal-align: center;
}

#GameModeLabel
{
	vertical-align: center;
	margin-right: 5px;
	text-transform: uppercase;
	color: #bbc5ca;
}

#DeckSelectionContainer
{
	flow-children: right;
	horizontal-align: center;
	margin-top: 50px;
}

.DeckSelection
{
	flow-children: down;
	margin: 20px;
}

.ContentsBotLabel
{
	horizontal-align: center;
	font-size: 16px;
	font-weight: light;
	letter-spacing: 3px;
	color: uiStandardGrey;
	text-transform: uppercase;
}

#PopupBackButton
{
	vertical-align: center;
}

.DBPageTitleLabel
{
	margin-left: 20px;
}

#GameModeSelector
{
	width: 240px;
	border: 0px;
	background-color: #2f3453;
	padding: 8px 16px;
}

#GameModeSelector Label
{
	text-transform: uppercase;
}

.BotDesc
{
	font-size: 24px;
	margin-top: 50px;
	width: 70%;
	text-align: center;
	horizontal-align: center;
	color: #6e87dc;
}

#Random2ColorDesc
{
	margin-top: 80px;
	margin-bottom: 30px;
}


#LiveDraftDesc,
#ConstructedDesc,
#DeckSelectionContainer,
.IsDraftChallenge #Random2ColorDesc,
.HasDeckSelection #Random2ColorDesc
{
	visibility: collapse;
}

.HasDeckSelection #DeckSelectionContainer,
.HasDeckSelection #ConstructedDesc
{
	visibility: visible;
}

.IsDraftChallenge #LiveDraftDesc
{
	visibility: visible;
}

#TimerDifficultyContainer
{
	horizontal-align: center;
	width: fit-children;
}