DCGBotMatch
{
	background-color: transparent;
	flow-children: down;
	vertical-align: bottom;
	height: 100%;
	width: 100%;
}

#PlayerDeckInfo,
#AIDeckInfo
{
	visibility: collapse;
}

.PlayerDeckSelected #PlayerDeckInfo,
.AIDeckSelected #AIDeckInfo
{
	visibility: visible;
}

#TimerSelectorPanel
{
	flow-children: right;
}

#LabelAndDifficultySelectorPanel
{
	flow-children: right;	
}

#DifficultySelector
{
	margin-top: 31px;
	margin-left: -9px;
	margin-bottom: -4px;
	height: 30px;
}

#DifficultySelector Label
{
	font-size: 16px;
    text-align: left;
	text-overflow: shrink;    
	color: gradient( linear, 0% 0%, 0% 100%, from( #fafafa ), to( #aaaaaa) );
	text-transform: uppercase;
}

#DifficultySelector Label:hover
{
    text-shadow: 0px 0px 6px 4.0 #71ffff11;
    color: white;
    text-overflow: shrink;
}

#LabelAndDifficultySelectorPanel > Label
{
	color: uiStandardGrey;
}

#LabelAndDifficultySelectorPanel DropDown
{
    width: 230px;
    border: 0px;
    padding: 0px;
    background-image: none;
    background-color: none;
	box-shadow: none;
}


#LabelAndDifficultySelectorPanel DropDown Label
{
    vertical-align: top;
}

#LabelAndDifficultySelectorPanel ToggleButton
{
    margin-top: 0px;
}

.SelectDropDown Label
{
    color: gradient( linear, 0% 0%, 0% 100%, from( #fafafa ), to( #aaaaaa) );
}


#AITimerToggleButton
{
	margin-top: 0px;
	flow-children: left;
}

.ExtraSpacingForLabel.ContentsLabel
{
	margin-top: 30px;
	margin-bottom: 4px;
}

#TimerDifficultyContainer
{
	flow-children: right;
	margin-top: 15px;
	width: 400px;
}