DCGChallengeFriend
{
	background-color: transparent;
	flow-children: down;
	vertical-align: bottom;
	height: 100%;
	width: 100%;
}

.ChallengeFriends
{
	background-color: gradient( linear, 0% 100%, 0% 0%, from( #00000044 ), to( #000000aa ) );
	box-shadow: inset 0px 0px 24px black;
	vertical-align: bottom;
	flow-children: down;
	opacity-mask: url("s2r://panorama/images/main_menu/friends_list_opacity_mask_psd.vtex");	
	margin-bottom: 18px;
}

.FriendsListHeader
{
	flow-children: right;
}

.ChallengeFriends .GameSelectLabel,
.ChallengeFriends .GameSelectLabelLarge
{
	horizontal-align: left;
	vertical-align: bottom;
	height: fit-children;
	margin: 10px;
	margin-bottom: 0px;

	vertical-align: center;

	height: fit-children;
	
	font-weight: light;
	letter-spacing: 3px; 
	text-shadow: 0px 0px 3px 4.0 #00000011;
	
	color: white;
	text-transform: uppercase;
}

.FriendsListHeader .GameSelectLabel
{
	margin-bottom: 5px;
	margin-left: 0px;
	font-size: 20px;
}

.FriendsListHeader .GameSelectLabelLarge
{
	margin-left: 12px;
	margin-bottom: 5px;
	font-size: 32px;
}


.Separator
{
	height: 1px;
	width: 100%;
	margin: 10px;
	margin-top: 0px;
	margin-bottom: 10px;
	background-color: grey;
}

#ChallengeFriendPicker
{
	width: 480px;
	height: 400px;
	vertical-align: bottom;
	background-color: none;
}