DCGSocialOverlay
{
	width: 412px;
	height: 100%;
	
	horizontal-align: left;
	vertical-align: bottom;

	flow-children: down;
}

#NotificationsContainer
{
	horizontal-align: left;
	width: 100%;
	height: 630px;
	margin-top: 120px;
	flow-children: up;

	visibility: visible;
}

.OnNewPlayerPage #NotificationsContainer,
.InLimitedStage #NotificationsContainer
{
	visibility: collapse;
}

#NotificationsToastManager
{
	flow-children: up;
	overflow: noclip noclip;
	height: 100%;
    width: 100%;
}

@define toastEnterDuration: 0.3s;
@define toastExitDuration: 0.3s;

#NotificationsToastManager > .ToastPanel
{
	transition-property: opacity, transform;
	transition-duration: toastEnterDuration;
    
    animation-name: SocialToast;
    animation-duration: toastEnterDuration;
    horizontal-align: left;
}

@keyframes 'SocialToast'
{
    0%
    {
        transform: translateX( -500px );
        opacity: 0;
    }

    50%
    {
        transform: translateX( -250px );
        opacity: 0.5;
    }

    100%
    {
        transform: translateX( 0px );
        opacity: 1;
    }
}

#NotificationsToastManager > .ToastPanel.Dismissed
{
	transform: translateX( -500px );
	transition-property: opacity, transform;
	transition-duration: toastExitDuration;
    
    animation-name: SocialToastDismiss;
    animation-duration: toastExitDuration;
    horizontal-align: left;
}

@keyframes 'SocialToastDismiss'
{
    0%
    {
    	transform: translateX( 0px );
        opacity: 1;
    }

    50%
    {
        transform: translateX( -250px );
        opacity: 0.5;
    }

    100%
    {
        transform: translateX( -500px );
        opacity: 0;
    }
}


#NotificationsToastManager > .ToastPanel.ToastVisible
{
	opacity: 1.0;
	transform: none;
}

#NotificationsToastManager.SkipTransition > .ToastPanel
{
	transition-duration: 0s;
	animation-duration: 0s;
}

#NotificationsToastManager.RevealCollapsed > .ToastPanel.Collapse,
#NotificationsToastManager.RevealCollapsed > .ToastPanel
{
	visibility: visible;
	opacity: 1.0;
	transform: translateX( 0px );
	transition-duration: 0s;
}

DCGSocialNotification
{
	flow-children: down;
	height: 120px;
	width: 412px;

	margin-bottom: 16px;
	opacity: 1.0;
	transition-property: opacity;
	transition-duration: 0.5s;	
}

DCGSocialNotification.Collapse
{
}

.InGame DCGSocialNotification.Collapse,
.HideToasts DCGSocialNotification
{
	visibility: collapse;
}


#BlurBackgroundRect2ImageNotification
{
       width: 100%;
       height: 100%;

       border-radius: 0px;
       //box-shadow: 2px 2px 4px black;
       blur: gaussian( 7 );
}

#BlurBackgroundRect2OverlayNotification
{
	width: 100%;
	height: 100%;

	border-radius: 0px;
	background-color: gradient( linear, 100% 0%, 0% 0%, from( #222f3012 ), to( #d0bce912) );
	//box-shadow: #00000084 -8px -8px 16px 16px;
}

.NotificationBody
{
	height: 80px;
	width: 412px;	
	flow-children: none;
}

.NotificationBodyFlow
{
	flow-children: right;
}

#NotificationImage
{
	visibility: collapse;
}

.Tournament #NotificationImage
{
	background-image: url("s2r://panorama/images/card/card_background_psd.vtex");
    background-size: cover;
}

.Gauntlet #NotificationImage
{
	background-image: url("s2r://panorama/images/card/card_background_psd.vtex");
    background-size: cover;
}

.NoUser #NotificationImage
{
	visibility: visible;
		background-image: url("s2r://panorama/images/main_menu/icon_notification_generic_psd.vtex");
		background-size: cover;
}

.NotificationIcon
{
	width: 56px;
	height: 56px;
	
	margin: 12px;
}

.NotificationContents
{
	flow-children: down;
	vertical-align: top;
	horizontal-align: left;
	width: 325px;
	height: 64px;
	margin: 6px;
	margin-left: 0px;
	margin-top: 16px;
}

.NoUser DCGUserName,
.NoUser DCGAvatarImage
{
	visibility: collapse;
}

DCGUserName
{
	font-size: 20px;
	color: white;
	font-weight: semi-bold;
	text-shadow: .5px .5px 2px 2.0 #141414;
	vertical-align: center;
	text-align: center;
}



.NotificationsLabel
{
	color: #b6b2b0;
	font-weight: light;
	font-size: 20px;
	vertical-align: center;
}

.NotificationsLabelBold
{
	font-weight: semi-bold;
	font-size: 20px;
	height: 30px;
}

.NoHeader #NotificationHeader,
.NoDescription #NotificationDescription
{
	visibility: collapse;
}

.NotificationAction
{
	height: 100%;
	width: 100%;
	flow-children: none;
	opacity: 1;
}

#ActionButtons
{
	flow-children: right;
	width: 100%;
	height: 100%;
}

.TakeActionButton
{
	height: 100%;
	width: 206px;
	text-align: center;
	background-image: url("s2r://panorama/images/main_menu/bg_notification_action_psd.vtex");
	transition-property: background-image;
	transition-duration: 0.2s;
}

.TakeActionButton Label
{
	font-size: 16px;
	letter-spacing: 2.0px;
	color: white;
	text-transform: uppercase;
	text-align: center;
	margin-top: 2px;
	vertical-align: center;
	horizontal-align: center;
	brightness: 0.5;
	transition-property: brightness;
	transition-duration: 0.2s;
}

.TakeActionButton:hover Label
{
	brightness: 1.0;
}

.TakeActionButton:hover
{
	background-image: url("s2r://panorama/images/main_menu/bg_notification_action_hover_psd.vtex");
}

.DismissNotificationButton
{
	height: 100%;
	width: 200px;
	background-color: #323539;
	margin-left: 0.5px;
}

#IconsContainer
{
	flow-children: right;
	height: fit-children;
	width: fit-children;
	vertical-align: bottom;
	horizontal-align: left;
	margin: 20px;
	margin-bottom: 24px;
	margin-top: 120px;
	visibility: collapse;
}

.InGame #IconsContainer
{
	opacity: 0.01;
}

.InGame #IconsContainer:hover
{
	opacity: 1.0;
}

.SocialButton .SocialIcon,
.SocialButton .SocialNumberLabel
{
	brightness: 0.3;
	transition-property: brightness;
	transition-duration: 0.2s;
}

.SocialButton:hover .SocialIcon,
.SocialButton:hover .SocialNumberLabel
{
	brightness: 1.0;
}

.SocialIcon
{
	height: 40px;
	width: 40px;
	margin-left: 10px;
	horizontal-align: center;
	vertical-align: center;
}

#SteamLookingToPlay .SocialNumberLabel
{
	margin-left: 2px;
}

.LookingToPlayBeaconActive #SteamLookingToPlay .SocialNumberLabel
{
	visibility: collapse;
	color: #FFBAFF;
	brightness: 0.5;
}

.HasFriendsLookingToPlay #SteamLookingToPlay .SocialNumberLabel
{
	color: #86cddb;
	brightness: 0.5;
}


.LookingToPlayBeaconActive #SteamLookingToPlay:hover .SocialNumberLabel
{
	brightness: 1;
}

.SocialIcon
{
}

.SteamChatIcon
{
		background-image: url("s2r://panorama/images/main_menu/icon_steam_chat_psd.vtex");
    background-size: 86% 86%;
    width: 44px;
    height: 44px;
    background-position: left bottom;
    background-repeat: no-repeat;
}

.HasUnreadMessages .SteamChatIcon
{
	brightness: 1.0; 
}

@keyframes 'ChatNotification'
{
	0%
	{

		box-shadow: #4466bd00 -1px -1px 2px 2px;
	}

	50%
	{
		box-shadow: #4466bdaa -3px -3px 6px 6px; 
	}

	100%
	{
		box-shadow: #4466bd00 -1px -1px 2px 2px;
	}
}

.SteamChatViolator
{
	border-radius: 50%;
	background-color: gradient( linear, 100% 0%, 0% 0%, from( #527be3 ), to( #5c8aff) );
	//background-color: #527be3;
	horizontal-align: right;
	vertical-align: top;
	margin-top: 0px;
	margin-right: 0px;
	width: 24px;
	height: 24px;

	visibility: collapse;
}

.HasUnreadMessages .SteamChatViolator
{
	visibility: visible;
	brightness: 1.0;
	
	animation-name: ChatNotification;
	animation-duration: 2.27s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}

.SteamChatCount
{
	color: white;
	font-size: 18px;
	margin-top: 1px;
	text-shadow: 0px 0px 2px 4.0 #00000022;
	
	text-align: center;
	horizontal-align: center;
	vertical-align: center;
}

.FriendsInGameIcon
{
	background-image: url("s2r://panorama/images/main_menu/icon_friends_ingame_psd.vtex");
    background-size: 100% 100%;
}

.SocialNumberLabel
{
	font-size: 26px;
	text-align: center;
	color: white;

	vertical-align: center;
	horizontal-align: left;
	margin: 2px;
	margin-left: 2px;
	margin-top: 6px;
	
	
	text-shadow: 0px 2px 2px 2.0 #14141425;
}

#SteamChat,
#SteamFriends,
#SteamLookingToPlay
{
	flow-children: right;   
	height: 48px; 
    tooltip-position:top;
}

.InGame #SteamLookingToPlay,
.HasLobby #SteamLookingToPlay,
.InPrivateLobbyWithOthers #SteamLookingToPlay
{
	visibility: collapse;
}

#SteamLookingToPlay
{
	margin-left: 8px;
}

#SteamFriends
{
	margin-left: 2px;
}

#SteamFriendsCount,
#SteamLookingToPlayCount,
{
	visibility: collapse;
}

.HasFriendsInArtifact #SteamFriendsCount,
.HasFriendsLookingToPlay #SteamLookingToPlayCount
{
	visibility: visible;
} 

.FriendsInArtifactChanged #SteamFriendsCount,
.FriendsLookingToPlayChanged #SteamLookingToPlayCount
{
	// on changed animation play here
}

.LookingToPlayIcon
{
	width: 100%;
	height: 100%;
	background-image: url("s2r://panorama/images/control_icons/party_open_yes_png.vtex");
	background-size: 100% 100%;
}

#LookingToPlayContainer
{
	height: 30px;
	width: 30px;
}

.HasFriendsLookingToPlay #LookingToPlayContainer
{
	margin-right: 10px;
}

.LookingToPlayAnimation
{
	width: 100%;
	height: 100%;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: 100%;
	background-image: url("s2r://panorama/images/control_icons/party_open_yes_png.vtex");
	visibility: collapse;

	animation-duration: 1.3s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
}

.HasFriendsLookingToPlay .LookingToPlayAnimation,
DCGDashboard.LookingToPlayBeaconActive .LookingToPlayAnimation
{
	visibility: visible;
}

DCGDashboard:not(.LookingToPlayBeaconActive) .HasFriendsLookingToPlay .LookingToPlayIcon
{
	background-image: url("s2r://panorama/images/control_icons/party_open_yes_00_psd.vtex");	
	wash-color: #86cddb;
	brightness: 0.5;
}

DCGDashboard.LookingToPlayBeaconActive .LookingToPlayIcon
{
	background-image: url("s2r://panorama/images/control_icons/party_open_yes_00_psd.vtex");	
	wash-color: #FFBAFF;
	brightness: 0.5;
}

.HasFriendsLookingToPlay #SteamLookingToPlay:hover .LookingToPlayIcon
.LookingToPlayBeaconActive #SteamLookingToPlay:hover .LookingToPlayIcon
{
	brightness: 1;	
}


#LookingToPlayFrame1
{
	background-image: url("s2r://panorama/images/control_icons/party_open_yes_01_png.vtex");
	animation-name: LookingToPlay1;
}

@keyframes 'LookingToPlay1'
{
	0%
	{
		opacity: 0;
	}
	20%
	{
		opacity: 1;
	}
	50%
	{
		opacity: 1;
	}
	70%
	{
		opacity: 0;
	}
	100%
	{
		opacity: 0;
	}
}

#LookingToPlayFrame2
{
	background-image: url("s2r://panorama/images/control_icons/party_open_yes_02_png.vtex");
	animation-name: LookingToPlay2;
}

@keyframes 'LookingToPlay2'
{
	0%
	{
		opacity: 0;
	}
	20%
	{
		opacity: 0;
	}
	40%
	{
		opacity: 1;
	}
	70%
	{
		opacity: 1;
	}
	90%
	{
		opacity: 0;
	}
	100%
	{
		opacity: 0;
	}
}

#LookingToPlayFrame3
{
	background-image: url("s2r://panorama/images/control_icons/party_open_yes_03_png.vtex");
	animation-name: LookingToPlay3;
}

@keyframes 'LookingToPlay3'
{
	0%
	{
		opacity: 0.5;
	}
	10%
	{
		opacity: 0;
	}
	40%
	{
		opacity: 0;
	}
	60%
	{
		opacity: 1;
	}
	90%
	{
		opacity: 1;
	}
	100%
	{
		opacity: 0.5;
	}
}

#LookingToPlayVisibilityButton
{
	height: 100%;
	width: 100%;
	background-color: none;

	context-menu-position: top;
	context-menu-body-position: 50%;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: 80%;
	tooltip-position: top;
	tooltip-body-position: 50% 50%;

	transition-property: opacity, wash-color;
	transition-duration: 0.1s;
	transition-timing-function: ease-in;
}
