DCGDeckLoader,
DCGDeckLoaderTourney
{
	height: fit-children;
	width: 400px;
    background-color: black;
	background-image: url("s2r://panorama/images/textures/dashboard_etched_pattern_psd.vtex");
	background-size: 1024px 400px;
	background-position: 50% 0%;
	box-shadow: #0000004f -12px -12px 24px 24px;
}

DCGDeckLoader Label,
DCGDeckLoaderTourney Label
{
	color: uiBrightGrey;
}

.TopBar
{
    width: 100%;
    flow-children: right;
}

#HeroButtonContainer
{
    margin-top: 6px;
    flow-children: right;
    width: 100%;
	horizontal-align: center;
}

.BottomBar
{
    width: 100%;
    height: fit-children;
    flow-children: right;
    horizontal-align: center;
    vertical-align: center;

    margin-top: 16px;
}

.MiniButtonContainer
{
    width: fit-children;
    height: fit-children;
    flow-children: right;
    horizontal-align: right;
    vertical-align: top;
}

.DeckLoaderMiniButton
{
    width: 24px;
    height: 24px;
    tooltip-position: top;
    tooltip-body-position: 50%;
    margin: 0 6px;
    transition-property: wash-color;
    transition-duration: 0.25s;
}

.DeckLoaderMiniButton:hover
{
    wash-color: uiBrightGrey;
}

.DeckLoaderMiniButton:active
{
    wash-color: grey;
}

.DeckEditButton
{
    background-image: url("s2r://panorama/images/main_menu/icon_edit_deck_psd.vtex");   
    background-size: cover;
    wash-color: #5c686b;
}

.DeckDetailsButton
{
    background-image: url("s2r://panorama/images/main_menu/icon_view_deck_psd.vtex");   
    background-size: cover;
    wash-color: #5c686b;
}

.CopyDeckCodeButton
{
    background-image: url("s2r://panorama/images/main_menu/icon_copy_deck_psd.vtex");   
    background-size: cover;
    wash-color: #5c686b;
    margin-right: 0px;
}

.SaveLoadClearButton.ChangeDeckButton 
{
    width: 100%;
    margin: 0px;
    padding: 0px;
}

.SaveLoadClearButton.ChangeDeckButton Label
{
    margin-top: 0px;
}

.DeckNameLabel
{
    width: 270px;
	height: 24px;
	margin-top: 4px;
}

.DeckNameLabel.ProbablyUnlocalizedText
{
    animation-name:none;
    color: uiBrightGrey;
    background-color: none;
	text-shadow: .5px .5px 2px 2.0 black;
}	

.NoEditDeck .HideNoEditDeck
{
    visibility: collapse;
}

.NoChangeDeck .HideNoChangeDeck
{
    visibility: collapse;
}

.NoDeckLoaded .HideNoDeckLoaded
{
    visibility: collapse;
}

.NoDeckLoaded .DeckNameLabel 
{
    color: uiStandardGrey;
	text-shadow: .5px .5px 2px 2.0 #00000088;
}

.SelectDeckContainer
{
	width: 400px;
	height: 166px;
	margin-bottom: 10px;
	background-color: black;
	background-image: url("s2r://panorama/images/textures/dashboard_etched_pattern_psd.vtex");
	background-size: 1024px 400px;
	background-position: 50% 0%;
	box-shadow: #0000008f -12px -12px 24px 24px;
}

.SelectDeckContainerContents
{
	padding: 10px 16px 16px 16px;
	width: 450px;

	flow-children: down;
}


#DeckLoaderAI
{
	background-position: 60% 82%;
}

.SelectDeckContainerHighlight
{
	width: 450px;
	height: 60%;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #94e1ff21 ), color-stop( 0.02, #96cdf111 ), color-stop( 0.4, #5f87ad0e ), to( #20182b31) );
	opacity-mask: url("s2r://panorama/images/textures/dashboard_etched_pattern_mask_psd.vtex") .75;
	background-size: 1024px 400px;
	background-position: 50% 0%;	
}

#PrivateLobby #EditDeckLabel
{
	padding-top: 2px;
}
