.RootPanel
{
	width: 100%;
	height: 100%;
}

#DeckInfoCardsPanel
{
	width: 100%;
	height: 100%;
	flow-children: right;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #94e1ff21 ), color-stop( 0.0025, #96cdf111 ), color-stop( 0.4, #5f87ad0e ), to( #20182b31) );
	background-image: url("s2r://panorama/images/hud/hud_deckinfo_bg_psd.vtex");
	background-size: contain;
	
	background-repeat: no-repeat;
	vertical-align: center;
}

.Column
{
	width: 50%;
	height: 100%;
	flow-children: down;
}

#DeckSummary
{
	margin-top: 24px;
	margin-bottom: 8px;
}

.DeckListBG
{
	width: 100%;
	height: 100%;
	margin-left: 16px;
	margin-right: 16px;
	margin-bottom: 16px;
}


.LeftColumn .DeckListBG
{
	margin-right: 8px;
}

.RightColumn .DeckListBG
{
	margin-left: 8px;
}

.DeckListHeader
{
	height: 40px;
	padding-left: 16px;
	width: 100%;
	margin-top: 10px;
}

.RightColumn .DeckListHeader
{
	margin-top: 52px;
}

.DeckListHeader Label
{
	vertical-align: center;
	font-size: 18px;
	color: rgb(159, 181, 196); 
	font-weight: light; 
	letter-spacing: 1px;
	text-shadow: 2px 2px 4px 2.0 black;
}


.DeckListHeader .DeckFilterButton
{
	horizontal-align: right;
	width: 30px;
	height: 30px;	
	background-image: url("s2r://panorama/images/deck_builder/buttons/sortbytype_png.vtex");
	background-size: contain;
	
	background-repeat: no-repeat;
	vertical-align: center;
}

#ClosePopupButton
{
	horizontal-align: right;
	vertical-align: center;
}