.RootPanel
{
    width: 100%;
    height: 100%;
}

#DeckInfoCardsPanel
{
    width: 100%;
    height: 100%;
    padding: 10px;
    border: 1px solid black;
    flow-children: right;
    //margin: -20px -50px -50px -50px;
}

.HeroDisplay
{
    flow-children: right;
    horizontal-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid black;
}

.HeroImage
{
    width: 40px;
    height: 40px;
}

.HeroColor
{
    width: 100%;
    height: 5px;
    border-top: 1px solid black;
    border-right: 1px solid black;
    border-left: 1px solid black;
}

.HeroPortrait
{
    flow-children: down;    
}

.Red .HeroColor
{
    background-color: cardColorRed;
}
.Green .HeroColor
{
    background-color: cardColorGreen;
}
.Black .HeroColor
{
    background-color: cardColorBlack;
}
.Blue .HeroColor
{
    background-color: cardColorBlue;
}

.CategoryHeader
{
    width: 100%;
    flow-children: right;
}

.SortButtonsGroup
{
    horizontal-align: right;
    flow-children: right;
}

.ButtonControls
{
    flow-children: right;
    horizontal-align: center;
    vertical-align: bottom;
}

.GeneralButton
{
    width: 35px;
    height: 35px;
    border: 2px solid black;
    margin-right: 10px;
    background-size: 35px 35px;
    background-repeat: no-repeat;
}

.GeneralButton:hover
{
    border: 2px solid blue;
}

.SortIconButton
{
    width: 25px;
    height: 25px;
    border: 2px solid black;
    margin-left: 2px;
    background-size: 25px 25px;
    background-repeat: no-repeat;
}

.SortIconButton:hover
{
    border: 2px solid blue;
}

.CardCategory
{
    width: 30%;
    height: 100%;
    flow-children: down;
}

.CategorySeparator
{
    width: 5%;
    height: 100%;    
}

.CategorySeparatorBar
{
    border: 2px solid #333333;
    width: 1px;
    height: 75%;
    vertical-align: center;
    horizontal-align: center;
}

.CardsList
{
    flow-children: down;
    width: 100%;
    margin-top: 10px;
    margin-left: 10px;
   	overflow: squish scroll;    
}

.CardGraphs
{
    flow-children: down;
    width: 100%;
    vertical-align: bottom;
}

#CardColorHistogram
{
    height: 80px;
    width: 200px;
    horizontal-align: center;
    border: 2px solid #333333;
    flow-children: right;
}

#CardColorHistogram .HistogramColumn Label
{
    color: white;
    font-size: 13px;
    vertical-align: top;
    horizontal-align: center;
    z-index: 1;
    margin-top: 2px;
}

#CardColorHistogram .HistogramColumn
{
    height: 100%;
    width: fill-parent-flow( 1.0 );
    border-right: 1px solid black;
    background-color: #222222;
}

#CardColorHistogram .HistogramValues
{
    height: 100%;
    width: 100%;
    flow-children: up;
}

#CardColorHistogram .HistogramValue
{
    width: 100%;
    border-top: 1px solid black;     
}

.HistogramValue.Blue
{
    background-color: cardColorBlue;
}

.HistogramValue.Red
{
    background-color: cardColorRed;
}

.HistogramValue.Green
{
    background-color: cardColorGreen;
}

.HistogramValue.Black
{
    background-color: cardColorBlack;
}

#CardColorDistribution
{
    height: 25px;
    width: 200px;
    horizontal-align: center;
    margin-top: 10px;
    border: 2px solid #333333;
}

#CardColorDistribution .HistogramColumn
{
    width: 100%;
    height: 100%;
}

#CardColorDistribution .HistogramValues
{
    width: 100%;
    height: 100%;
    flow-children: right;
}

#CardColorDistribution .HistogramValue
{
    height: 100%;    
}

.CardSectionTitle
{
    color: white;
	font-size: 20px;
	font-weight: thin;
}

.SubCategory
{
    color: white;
	font-size: 16px;
	font-weight: thin;

}

DCGCardLink 
{
	margin-top: 2px;
	margin-left: 15px;
    margin-bottom: 2px;
   	flow-children: right;
}

#CloseButton
{
    horizontal-align: center;
    margin-top: 60px;
    margin-bottom: -50px;
}

.CardsOwnedLabel
{
    margin-top: 5px;
    horizontal-align: center;
    font-size: 16px;
}

/* Hide cards owned when this style is set*/
.HideCardsOwned .CardsOwnedLabel
{
    visibility: collapse;
}

#SortHeroesRarity,
#SortItemsRarity,
#SortOtherRarity
{
    background-image: url("s2r://panorama/images/card_elements/card_rarity_symbol_png.vtex");
}

#SortHeroesColor,
#SortOtherColor
{
    background-image: url("s2r://panorama/images/deck_builder/buttons/sortbycolor_png.vtex");
}

#SortHeroesHeroTurn
{
    background-image: url("s2r://panorama/images/deck_builder/buttons/sortbydeployment_png.vtex");
}

#SortItemsType,
#SortOtherType
{
    background-image: url("s2r://panorama/images/deck_builder/buttons/sortbytype_png.vtex");
}

#SortItemsCost
{
    background-image: url("s2r://panorama/images/deck_builder/buttons/sortbygold_png.vtex");
}

#SortOtherMana
{
    background-image: url("s2r://panorama/images/deck_builder/buttons/sortbymana_png.vtex");
}

#SampleHandButton
{
    background-image: url("s2r://panorama/images/deck_builder/buttons/samplehand_png.vtex");
}

#CopyCodeButton
{
    background-image: url("s2r://panorama/images/deck_builder/buttons/copycode_png.vtex");
}

#CopyTextButton
{
    background-image: url("s2r://panorama/images/deck_builder/buttons/copytext_png.vtex");
}

#OpenDeckBuilder
{
    visibility: collapse;
}

.InPopupWindow #OpenDeckBuilder
{
    visibility: visible;
}

#PurchaseUnownedButton
{
    background-image: url("s2r://panorama/images/dcg/buttons/gold_coin_single_png.vtex");
    visibility: collapse;
}

.HasUnownedCards #PurchaseUnownedButton
{
    visibility: visible;
}

.HidePurchaseButton #PurchaseUnownedButton
{
    visibility: collapse;
}


/* When heroes haven't been assigned */
.NoTurnAssignedHeroes #SortHeroesHeroTurn,
.NoTurnAssignedHeroes .HeroDisplay
{
    visibility: collapse;
}



/* Compact tooltip representation basically just turns off a lot of sections */
.CompactDeckInfo #ItemCards,
.CompactDeckInfo #OtherCards,
.CompactDeckInfo .CategorySeparator,
.CompactDeckInfo .CategoryHeader,
.CompactDeckInfo .CardsList
{
    visibility: collapse;
}

.CompactDeckInfo #HeroCards
{
    width: 100%;
}

.CompactDeckInfo #DeckInfoCardsPanel
{
    border: 0px solid black;
}

/* PRO PLAYER BETA - Hide a bunch of functionality*/
.ProPlayerBeta #PurchaseUnownedButton
{
    visibility: collapse;
}

