DCGFriendPicker
{
	flow-children: right-wrap;
	overflow: squish scroll;
}

DCGFriendPicker DCGProfileCard
{
	margin: 5px;
	width: 338px;
	border: 1px solid transparent;
}

#UserName Label
{
	text-decoration: none;
}

DCGFriendPicker DCGProfileCard:selected
{
	border: 1px solid white;
}

DCGFriendPicker RadioButton
{
	background-color: #24292A00;
	padding-top: 6px;
	padding-bottom: 6px;
	width: 100%;
	padding-left: 8px;
	margin-right:8px;
	vertical-align: middle;
	border-left: 2px solid transparent;
	transition-duration: 0s;
}

DCGFriendPicker RadioButton:hover
{
	brightness: 2;
	background-color: #24292A44;
	border-left: 2px solid white;
}


DCGFriendPicker RadioButton .RadioBox
{
	vertical-align: middle;
}

DCGFriendPicker RadioButton DCGAvatarImage
{
	width: 32px;
	height: 32px;

	margin-left: 8px;
	vertical-align: middle;
}

DCGFriendPicker RadioButton DCGUserName
{
	vertical-align: middle;
	margin-left: 8px;
}

DCGFriendPicker RadioButton DCGUserName Label
{
	font-size: 22px;
	font-weight: thin;
	margin: 0px;
}
