DCGGauntlet
{
	height: 100%;
	width: 100%;
	flow-children: down;

//	transition-property: background-image;
//	transition-duration: 0.5s;
//	transition-timing-function: ease-in-out;

	opacity: 0;

	transition-property: opacity, pre-transform-scale2d, wash-color;
	transition-duration: 0.24s;
	transition-timing-function: ease-in-out;

	background-repeat: no-repeat;
	background-position: right 0px;
}

DCGGauntlet Label
{
	color: uiStandardGrey;
}

.SelectedGauntlet
{
	opacity: 1;
}

.HeaderLabel
{
	text-transform: uppercase;
	font-size: 16px;
	letter-spacing: 3px;
	font-weight: lighter;
}

.DeckContents
{
	box-shadow: #00000099 -4px -4px 8px 8px;
	background-image: url("s2r://panorama/images/main_menu/bg_deck_info_psd.vtex");
	background-size: 100% 100%;	
	margin-top: 4px;
}

.BlockContents
{
	width: 400px;
	height: fit-children;
	flow-children: down;
	padding-left: 10px;
	padding-right: 10px;
}

.BlockContents Label
{
	font-size: 16px;
	font-weight: lighter;
}

#ExpirationLabel
{
	font-size: 16px;
	font-weight: lighter;
	margin-top: -16px;
	margin-bottom: 6px;
//	margin-top: 10px;
//	margin-left: 45px;
}

.ContentsContainer
{
	flow-children: down;
	padding-left: 36px;
	padding-right: 36px;
}

.BlockContainer
{
	flow-children: down;
}

#BottomContainer
{
	vertical-align: bottom;
	flow-children: down;
	width: 100%;
}

#WinsLossesContainer
{
	flow-children: right;
	height: 164px;
	width: 1048px;
//	background-image: url("s2r://panorama/images/main_menu/bg_gauntlet_progress_psd.vtex");
//	background-image: url("s2r://panorama/images/main_menu/draft_winloss_backer_png.vtex");
	background-size: 100% 100%;
	//box-shadow: #00000099 -4px -4px 8px 8px;
}

.InfiniteWinGauntlet #WinsLossesContainer
{
	visibility: collapse;
}

#WinsContainer, #LossesContainer
{
	flow-children: down;
	height: 100%;
}

#WinsContainer
{
	width: 694px;
	height: 100%;
	padding-left: 40px;
	padding-right: 40px;

	background-image: url("s2r://panorama/images/main_menu/draft_reward_icons/gauntlet_reward_bg_wins_default_png.vtex");
	background-size: 100% 100%;
	box-shadow: #00000099 -4px -4px 8px 8px;
}

.TotalWinCount1 #WinsContainer { background-image: url("s2r://panorama/images/main_menu/draft_reward_icons/gauntlet_reward_bg_wins_1_glow_png.vtex"); }
.TotalWinCount2 #WinsContainer { background-image: url("s2r://panorama/images/main_menu/draft_reward_icons/gauntlet_reward_bg_wins_2_glow_png.vtex"); }
.TotalWinCount3 #WinsContainer { background-image: url("s2r://panorama/images/main_menu/draft_reward_icons/gauntlet_reward_bg_wins_3_glow_png.vtex"); }
.TotalWinCount4 #WinsContainer { background-image: url("s2r://panorama/images/main_menu/draft_reward_icons/gauntlet_reward_bg_wins_4_glow_png.vtex"); }
.TotalWinCount5 #WinsContainer { background-image: url("s2r://panorama/images/main_menu/draft_reward_icons/gauntlet_reward_bg_wins_5_glow_png.vtex"); }


#LossesContainer
{
	width: 420px;
	padding-left: 24px;
	padding-right: 24px;
	background-image: url("s2r://panorama/images/main_menu/draft_reward_icons/gauntlet_reward_bg_losses_default_png.vtex");
	background-size: 100% 100%;
	box-shadow: #00000099 -4px -4px 8px 8px;
	flow-children: down;
}

.TotalLossCount1 #LossesContainer { background-image: url("s2r://panorama/images/main_menu/draft_reward_icons/gauntlet_reward_bg_losses_1_png.vtex"); }
.TotalLossCount2 #LossesContainer { background-image: url("s2r://panorama/images/main_menu/draft_reward_icons/gauntlet_reward_bg_losses_2_png.vtex"); }

.WinLossTitle
{
	text-transform: uppercase;
	color: uiStandardGrey;
	horizontal-align: center;
	font-size: 16px;
	margin-top: 12px;
	margin-bottom: 8px; 
//	margin: 5px;
	letter-spacing: 3px;
	text-shadow: .5px .5px 2px 2.0 black;
}

#WinsButtonContainerRoot
{
	width: 100%;
	height: 100%;
	flow-children: none;
	margin-top: 3px;
	overflow: noclip clip;
}

#WinsButtonContainer
{
	height: 200px;
	width: 100%;
}

.WinLossButtonPanel
{
	vertical-align: center;
	horizontal-align: center;
	flow-children: right;
}

#LossesButtonContainer
{
	width: 100%;
	height: 140px;
	horizontal-align: center;
	flow-children: right;
}

.WinsLossesButton
{
	flow-children: none;
	width: 66px;
	height: 66px;
	margin-left: 54px;
	margin-top: 5px;
}

#Win0
{
	margin-left: 34px;
}

.ButtonGlow
{
	width: 91px;
	height: 91px;
	horizontal-align: center;
	margin-top: -14px;
}


/*.FirstWinButton.HasWin .ButtonGlow
{
	width: 91px;
	height: 91px;
	margin-left: 0px;
	background-image: url("s2r://panorama/images/main_menu/draft_reward_icons/glow_ring_psd.vtex");
	background-size: 100% 100%;
}

.HasWin .ButtonGlow
{
	width: 140px;
	height: 91px;
	margin-left: -26px;
	background-image: url("s2r://panorama/images/main_menu/draft_reward_icons/glow_line_plus_ring_psd.vtex");
	background-size: 100% 100%;
}
*/

.NumberButton
{
	height: 66px;
	width: 66px;
}

.NumberButtonLabel
{
	margin-top: 4px;
	vertical-align: center;
	horizontal-align: center;
	font-size: 28px;
	text-shadow: 1px 1px 2px 2.0 black;
}

.HasLoss .NumberButtonLabel
{
	visibility: collapse;
}

.HasWin .NumberButtonLabel
{
	color:abilityGradient;
}

.HasTicketReward.HasWin .NumberButtonLabel,
.HasTicketRewards.HasWin .NumberButtonLabel,
.HasPackReward.HasWin .NumberButtonLabel,
.HasPackRewards.HasWin .NumberButtonLabel
{
	visibility: collapse;
}

.HasWin .NumberButton
{
	background-image: url("s2r://panorama/images/draft/ring_gold_png.vtex");
	background-size: 100% 100%;
}

.HasLoss .NumberButton
{
	background-image: url("s2r://panorama/images/draft/losses_check_png.vtex");
	background-size: 100% 100%;
}

#Loss0
{
	margin-left: 58px;
}

#Loss1
{
	margin-left: 54px;
}

.RewardsLabel
{
	letter-spacing: 1px;
	margin-top: 6px;
	font-size: 16px;
	text-transform: uppercase;
	text-shadow: .5px .5px 2px 2.0 black;
	color: uiDarkGrey;
}

.NumberButton, .RewardsLabel
{
	horizontal-align: center;
}

.IsLossButton .RewardsLabel
{
	visibility: collapse;
}

#GauntletDraft
{
	flow-children: down;
}

#GauntletRules, #GauntletDraft, #GauntletFinished, #RewardsHeader
{
	visibility: collapse;
}

.GrantsStage #GauntletRules,
.GrantsStage #RewardsHeader
{
	visibility: visible;
}

.RegisterDeck #GauntletDraft, .PlayMatches #GauntletDraft, .GauntletComplete #GauntletDraft
{
	visibility: visible;
}

.GauntletComplete #GauntletFinished
{
	visibility: visible;
}

#GauntletRewards
{
	margin-top: 24px;
}

#HeroButtonContainer
{
	flow-children: right;
	margin-bottom: 15px;
	width: fit-children;
	horizontal-align: center;
}

#ModifyDeckButtonsContainer
{
	flow-children: right;
	margin-bottom: 15px;
	width: 100%;
	horizontal-align: center;
}

.ModifyDeckButtons
{
	width: 112px;
	min-height: 10px;
	height: 35px;
	min-width: 10px;
	padding: 0px 0px;
	margin-right: 6px;
	margin-left: 6px;
}

.PerfectRunsLabel,
.WinStreakLabel
{
	vertical-align: center;
	margin-left: 4px;
	text-shadow: .5px .5px 2px 2.0 black;
	letter-spacing: 1px;
	font-size: 20px;
	color: abilityGradient;
}

.PerfectRuns,
.WinStreak
{
    visibility:collapse;
}

.HasHighScore .WinStreak
{
    visibility:visible;
}

.HasPerfectRuns .PerfectRuns
{
    visibility: visible;
}

#AbandonGauntletContainer
{
	horizontal-align: left;
	visibility: collapse;
}

.InProgress #AbandonGauntletContainer
{
	visibility: visible;
}

.LookingForMatch #AbandonGauntletContainer,
.GauntletComplete #AbandonGauntletContainer
{
	visibility: collapse;
}

.CanRegisterDeck #EditDeckButton
{
	visibility: visible;
}

.GauntletDesc
{
	font-size: 24px;
	width: 600px;
	text-shadow: .5px .5px 2px 2.0 black;
	text-overflow: shrink;

	margin-bottom: 20px;
}

.GauntletTop
{
	flow-children: down;
	width: 100%;
	height: 360px;
}

#RewardsPanel
{
	horizontal-align: center;
	width: fit-children;
	height: fit-children;
	flow-children: right;
}

.TicketReward
{
    width:32px;
    height:32px;
    background-image: url("s2r://panorama/images/tournaments/icon_ticket_psd.vtex");  
	background-size: 100% 100%;
	wash-color: uiStandardGrey;
}

.PackReward
{
    width:32px;
    height:32px;
	background-image: url("s2r://panorama/images/main_menu/icon_packs_psd.vtex"); 	
    background-size: 100% 100%;
	wash-color: uiStandardGrey;
}

.TicketLabel
{
	text-transform: uppercase;
	font-size: 20px;
	font-weight: lighter;
	margin-top: 4px;
	margin-left: 8px;
	margin-right: -2px;
}

#InfiniteWinsContainer
{
	flow-children: down;
	height: 164px;
	width: 1048px;
	background-image: url("s2r://panorama/images/main_menu/bg_gauntlet_progress_psd.vtex");
	background-size: 100% 100%;
	box-shadow: #00000099 -4px -4px 8px 8px;
	visibility: collapse;
	padding-top: 34px;
}

.InfiniteWinGauntlet #InfiniteWinsContainer
{
	visibility: visible;
}

.InfiniteWinsLabelContainer
{
	flow-children: down;
	height: fit-children;
	width: fit-children;
	horizontal-align: center;
	vertical-align: center;
	flow-children: down;
}

.InfiniteWinsCount
{
	text-transform: uppercase;
	font-size: 60px;
	font-weight: lighter;
	text-shadow: .5px .5px 2px 2.0 black;
	color: uiBrightGrey;
	width: 100%;
	text-align: center;
	margin-top: 10px;
}

.InfiniteWinsRecord
{
	margin-top: -20px;
	text-transform: uppercase;
	font-size: 20px;
	font-weight: lighter;
	text-shadow: .5px .5px 2px 2.0 black;
	color: uiStandardGrey;
	width: 100%;
	text-align: center;
}

#CallToArmsIcon
{
	width: 380px;
	height: 380px;
	horizontal-align: right;
	margin-top: 28px;
	margin-right: 4px;
	brightness: 1;
	
}

.PerfectRuns
{
	flow-children: right;
	width: fit-children;
	height: fit-children;
//	horizontal-align: center;
}

.PerfectRunsImage
{
	width: 32px;
	height: 32px;
	vertical-align: center;
	margin-right: 4px;
}

.WinStreak
{
	flow-children: right;
	width: fit-children;
	height: fit-children;
//	horizontal-align: center;
}

.WinStreakImage
{
	width: 26px;
	height: 26px;
	vertical-align: center;
}

.GauntletBottom
{
	width: 100%;
	height: fit-children;
    flow-children: right;
}

.GauntletAchievementContainer
{
	width: 480px;
	height: 38px;
	flow-children: down;
//	background-color: #00000066;
//	box-shadow: #00000099 -4px -4px 8px 8px;
//	background-image: url("s2r://panorama/images/main_menu/bg_deck_info_psd.vtex");
//	background-size: 100% 100%;	

	horizontal-align: left;
	vertical-align: center;
	padding-left: 12px;
	padding-right: 12px;
	padding-top: 4px;
	padding-bottom: 2px;
	margin-top: 10px;
}

.title
{
	color: #fff;
}

.RewardsImage
{
	vertical-align: center;
	horizontal-align: center;
	width: 100%;
	height: 100%;
	background-size: 70% 70%;	
	background-repeat: no-repeat;
	background-position: center;
	opacity: 0.7;
}

.HasWin .RewardsImage
{
	background-size: 60% 60%;	
}

.HasTicketReward.HasWin .NumberButton,
.HasTicketRewards.HasWin .NumberButton,
.HasPackReward.HasWin .NumberButton,
.HasPackRewards.HasWin .NumberButton
{
	background-image: url("s2r://panorama/images/draft/ring_gold_png.vtex");
	background-size: 100% 100%;
}

.HasTicketReward .RewardsImage
{
	background-image: url("s2r://panorama/images/main_menu/draft_reward_icons/icon_ticket_grey_psd.vtex");
}

.HasWin.HasTicketReward .RewardsImage
{
	background-image: url("s2r://panorama/images/main_menu/draft_reward_icons/icon_ticket_gold_psd.vtex");
}

.HasTicketRewards .RewardsImage
{
	background-image: url("s2r://panorama/images/main_menu/draft_reward_icons/icon_ticket_multiple_grey_psd.vtex");
}

.HasWin.HasTicketRewards .RewardsImage
{
	background-image: url("s2r://panorama/images/main_menu/draft_reward_icons/icon_ticket_multiple_gold_psd.vtex");
}

.HasPackReward .RewardsImage
{
	background-image: url("s2r://panorama/images/main_menu/draft_reward_icons/icon_pack_single_cta_grey_psd.vtex");
}

.HasWin.HasPackReward .RewardsImage
{
	background-image: url("s2r://panorama/images/main_menu/draft_reward_icons/icon_pack_single_cta_gold_psd.vtex");
}

.HasPackRewards .RewardsImage
{
	background-image: url("s2r://panorama/images/main_menu/draft_reward_icons/icon_pack_multiple_cta_grey_psd.vtex");
}

.HasWin.HasPackRewards .RewardsImage
{
	background-image: url("s2r://panorama/images/main_menu/draft_reward_icons/icon_pack_multiple_cta_grey_psd.vtex");
}

.HasTicketReward.HasPackReward .RewardsImage
{
	background-image: url("s2r://panorama/images/main_menu/draft_reward_icons/icon_ticket_plus_pack_cta_grey_psd.vtex");
}

.HasWin.HasTicketReward.HasPackReward .RewardsImage
{
	background-image: url("s2r://panorama/images/main_menu/draft_reward_icons/icon_ticket_plus_pack_cta_gold_psd.vtex");
}

.HasTicketReward.HasPackRewards .RewardsImage
{
	background-image: url("s2r://panorama/images/main_menu/draft_reward_icons/icon_ticket_plus_packs_cta_grey_psd.vtex");
}

.HasWin.HasTicketReward.HasPackRewards .RewardsImage
{
	background-image: url("s2r://panorama/images/main_menu/draft_reward_icons/icon_ticket_plus_packs_cta_gold_psd.vtex");
}

.HasTicketRewards.HasPackReward .RewardsImage
{
	background-image: url("s2r://panorama/images/main_menu/draft_reward_icons/icon_tickets_plus_pack_cta_grey_psd.vtex");
}

.HasWin.HasTicketRewards.HasPackReward .RewardsImage
{
	background-image: url("s2r://panorama/images/main_menu/draft_reward_icons/icon_tickets_plus_pack_cta_gold_psd.vtex");
}

.HasTicketRewards.HasPackRewards .RewardsImage
{
	background-image: url("s2r://panorama/images/main_menu/draft_reward_icons/icon_tickets_plus_packs_cta_grey_psd.vtex");
}

.HasWin.HasTicketRewards.HasPackRewards .RewardsImage
{
	background-image: url("s2r://panorama/images/main_menu/draft_reward_icons/icon_tickets_plus_packs_cta_gold_psd.vtex");
}

.NoRewards .HideNoRewards
{
	visibility: collapse;
}

#LabelAndDifficultySelectorPanel
{
	flow-children: right;	
	visibility: collapse;
	margin-left: 32px;
	margin-top: 28px;
}

.AIGauntlet #LabelAndDifficultySelectorPanel
{
	visibility: visible;
}

#DifficultySelector
{
	height: 24px;
}

#DifficultySelector Label
{
	font-size: 16px;
    text-align: left;
	text-overflow: shrink;    
	color: gradient( linear, 0% 0%, 0% 100%, from( #fafafa ), to( #aaaaaa) );
	text-transform: uppercase;
}

#DifficultySelector:enabled Label:hover
{
    text-shadow: 0px 0px 6px 4.0 #71ffff11;
    color: white;
    text-overflow: shrink;
}

#LabelAndDifficultySelectorPanel > Label
{
	color: uiStandardGrey;
}

#LabelAndDifficultySelectorPanel DropDown
{
    width: 230px;
    border: 0px;
    padding: 0px;
    background-image: none;
    background-color: none;
	box-shadow: none;
}


#LabelAndDifficultySelectorPanel DropDown Label
{
    vertical-align: top;
}

#LabelAndDifficultySelectorPanel ToggleButton
{
    margin-top: 0px;
}

.SelectDropDown Label
{
    color: gradient( linear, 0% 0%, 0% 100%, from( #fafafa ), to( #aaaaaa) );
}

.GauntletBG7
{
	background-image: url("s2r://panorama/images/play_backgrounds/constructed_match_psd.vtex");
}

.HighResolutionDisplay .GauntletBG7
{
    // BR: Enable high res BGs next week, after tweaks.
//	background-image: url("s2r://panorama/images/play_backgrounds/3200_constructed_match_psd.vtex");
}

.GauntletBG8
{
	background-image: url("s2r://panorama/images/play_backgrounds/phantom_match_psd.vtex");
}

.HighResolutionDisplay .GauntletBG8
{
//	background-image: url("s2r://panorama/images/play_backgrounds/3200_phantom_match_psd.vtex");
}

.GauntletBG9
{
	background-image: url("s2r://panorama/images/play_backgrounds/keeper_match_psd.vtex");
}

.HighResolutionDisplay .GauntletBG9
{
//	background-image: url("s2r://panorama/images/play_backgrounds/3200_keeper_match_psd.vtex");
}

.GauntletBG10
{
	background-image: url("s2r://panorama/images/play_backgrounds/casual_constructed_psd.vtex");
}

.HighResolutionDisplay .GauntletBG10
{
//	background-image: url("s2r://panorama/images/play_backgrounds/3200_casual_constructed_psd.vtex");
}

.GauntletBG11
{
	background-image: url("s2r://panorama/images/play_backgrounds/casual_phantom_match_psd.vtex");
}

.HighResolutionDisplay .GauntletBG11
{
//	background-image: url("s2r://panorama/images/play_backgrounds/3200_casual_phantom_match_psd.vtex");
}

.GauntletBG12
{
	background-image: url("s2r://panorama/images/play_backgrounds/bot_gauntlet_psd.vtex");
    background-size: 100% 100%;
}

.HighResolutionDisplay .GauntletBG12
{
//	background-image: url("s2r://panorama/images/play_backgrounds/3200_bot_gauntlet_psd.vtex");
}
