DCGLeaderboard
{
	width: 100%;
	height: 100%;
}

.SpinnerContainer,
.LeaderboardContents
{
	flow-children: down;
	width: 100%;
	height: 100%;
}


.SpinnerContainer
{
	background-color: black;
	opacity: 0.75;
	z-index: 50;
	visibility: collapse;
}

.ShowSpinner .SpinnerContainer
{
	visibility: visible;
}

.LeaderboardEntryContainer
{
	horizontal-align: center;
	width: 100%;
	height: 320px;
	flow-children: down;

}

.LeaderboardHeaderTabs,
.LeaderboardHeaderColumnNames
{
	height: fit-children;
	width: 100%;
	flow-children: right;
}

.LeaderboardHeaderColumnNames
{
	height: 100%;
	vertical-align: center;
}

.LeaderboardTab
{
	width: 50%;
	text-align: center;
}

.LeaderboardTab .RadioBox
{
	visibility: collapse;
}

RadioButton
{
	background-color: none;
}

.LeaderboardTabLabel
{
	color: rgb(167, 177, 202);
	text-transform: uppercase;
	
    padding-top: 4px;
    text-align: center;
    vertical-align: center;
    width: 100%;
    height: fit-children;
    margin: 0px;
}

.LeaderListRow
{
	horizontal-align: center;
	padding-bottom: 4px;
	padding-top: 4px;
//	padding-right: 8px;
//	padding-left: 8px;

	width: 100%;
	flow-children: right;
}

.Hidden
{
	visibility: collapse;
}

#AvatarImage
{
	height: 32px;
	width: 32px;
}

.LeaderListRow.IsCurrentUser
{
	background-color: backgroundGradient;
}

.LeaderListRow.IsCurrentUser Label
{
	color: white;
}

.LeaderListRow:hover Label
{
	brightness: 2;
	text-shadow: 0px 0px 2px 2.0 #ffffff05;
}

.LeaderListRow.IsCurrentUser:hover Label
{
	color: white;
}


.LeaderListAvatar
{
	width: 24px;
	height: 24px;
	background-color: #333333;
	border: 1px solid black;
	vertical-align: middle;
	
}

.LeaderListName
{
	width: 297px;
	height: 24px;
	margin-left: 8px;
    padding-top: 0px;
    vertical-align: center;
	text-shadow: 0px 1px 4px 2.0 black;
	text-overflow: shrink;
}

.LeaderListName Label
{
    color: uiBrightGrey;
}
.LeaderListName .PersonaName
{
	color: uiBrightGrey;
}
.IsCurrentUser .LeaderListName .PersonaName
{
	color: uiBrightGrey;
}

.LeaderListName:hover
{
	brightness: 2;
}


.LeaderListValue,
.LeaderListValueString,
.LeaderListRank
{

	horizontal-align: right;
	text-align: right;
	padding: 2px;
    padding-top: 5px;
    vertical-align: center;
    min-width: 20px;
	opacity: .5;
	text-shadow: 0px 1px 4px 2.0 black;
}

.LeaderListRank
{
	text-align: center;
	width: 62px;
	margin-left: 0px;
}

.LeaderListValue
{
	text-align: center;
	width: 100%;
	horizontal-align: right;
}

.UseStringValue .LeaderListValue,
.LeaderListValueString
{
	visibility: collapse;
}

.UseStringValue .LeaderListValueString
{
	visibility: visible;
}

.LeaderBoardHeaderContainer
{
	width: 100%;
	height: 60px;
	
	flow-children: down;
}

.LeaderBoardHeaderContainer Label
{
	vertical-align: center;
}

.LeaderBoardHeader.LeftAlign
{
	horizontal-align: left;
	text-align: left;
	margin-left: 24px;
}

.LeaderBoardHeader.RightAlign
{
	font-size: 14px;
	horizontal-align: right;
	text-align: center;
	margin-right: 8px;
	opacity: .5;
}

#RankLabel
{
	font-size: 14px;
	width: 13%;
	text-align: center;
	padding-left: 5px;
	opacity: .5;
}

#PlayerLabel
{
	font-size: 14px;
	width: 70%;
	margin-left: 0px;
	padding-left: 16px;
	opacity: .5;
	text-align: center;
	horizontal-align: center;
}

#NavControls
{
	height: 40px;
	width: 100%;
	background-color: #341610;
	flow-children: right;
	horizontal-align: center;
}

.NavButton
{
	width: 95px;
	height: 100%;
	margin: 2px;

	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	background-color: #341610;
}

.NavButton .RadioBox
{
	visibility: collapse;
}

#FirstPageButtonText:hover,
#FindLocalUserText:hover
{
	text-shadow: 0px 0px 2px 2.0 #ffffff30;
	color:white;
}

#FirstPageButton:active #FirstPageButtonText,
#FindLocalUserButton:active #FindLocalUserText
{
	color:#dddddd;
	text-shadow: 0px 0px 1.0px 1.0 #ffffff20;
}

#FirstPageButton:selected #FirstPageButtonText,
#FindLocalUserButton:selected #FindLocalUserText
{
	color:#bbbbbb;
	text-shadow: 0px 0px 1px 1.0 #000000;
}

#PerDeckStreakLeaderboard #FirstPageButton,
#PerDeckStreakLeaderboard #FindLocalUserButton
{
	width: 50%;
}

#FirstPageButtonText
{
	width: 100%;
	text-align: center;
	horizontal-align: center;
	vertical-align: center;
	color: #ffffff50;
	text-transform: uppercase;
	font-size: 16px;
	margin: -4px;
	margin-top: 1px;
	text-shadow: 0px 0px 2px 2.0 #000000aa;
	
	transition-property: text-shadow, color;
	transition-duration: 0.1s;
	transition-timing-function: ease-in-out;
}

#LastPageButton
{
	background-image: url("s2r://panorama/images/control_icons/double_arrow_left_png.vtex");
	transform: scaleX( -1 );
}

#PrevPageButton
{
	background-image: url("s2r://panorama/images/control_icons/arrow_solid_left_png.vtex");
}

#NextPageButton
{
	background-image: url("s2r://panorama/images/control_icons/arrow_solid_right_png.vtex");
}

#FindLocalUserButton Label
{
	text-align: center;
	width: 100%;
	horizontal-align: center;
	vertical-align: center;
	color: #ffffff50;
	text-transform: uppercase;
	font-size: 16px;
	margin: -4px;
	margin-top: 1px;
	text-shadow: 0px 0px 2px 2.0 #000000aa;
	
	transition-property: text-shadow, color;
	transition-duration: 0.1s;
	transition-timing-function: ease-in-out;
}

.HideNextButton #NextPageButton,
.HidePrevButton #PrevPageButton,
.HideFirstButton #FirstPageButton,
.HideLastButton #LastPageButton
{
	visibility: collapse;
}


#Spinner
{
    horizontal-align: center;
    vertical-align: center;
    visibility: visible;
	margin-top: 10px;
}

