.MainMenuButton
{
	horizontal-align: left;
	vertical-align: top;
	z-index: 5;
	flow-children: right;
	padding: 32px 0px 0px 32px;
}

.InCatalogue .MainMenuButton
{
	height: 66px;
	width: 100%;
	horizontal-align: left;
	vertical-align: center;
	padding: 0px 0px 0px 0px;
}

#MainMenuImage
{
	background-image: url("s2r://panorama/images/catalogue/main_menu_button_psd.vtex");   
	background-size: cover;
	width: 42px;
	height: 36px;
	margin-right: 8px;
	
	transition-property: brightness;
	transition-duration: 0.15s;
	transition-timing-function: ease-out;
}

.InCatalogue #MainMenuImage
{
	margin-left: 28px;
	margin-right: 0px;
	vertical-align: center;
}

.MainMenuLabel
{
	vertical-align: center;
    font-size: 16px;
	letter-spacing: 3px;
	margin-top: 2px;
    text-transform: uppercase;
    text-align: left;
	color: #839595;
	
	transition-property: text-shadow, color;
	transition-duration: 0.15s;
	transition-timing-function: ease-out;
}

.InCatalogue .MainMenuLabel
{
	margin-left: 64px;
	color: #83959500;
}

#MainMenuLabel,
.NewPlayer #MainMenuLabel2
{
    visibility: visible;
}

#MainMenuLabel2,
.NewPlayer #MainMenuLabel
{
    visibility: collapse;
}

.MainMenuButton:hover #MainMenuImage
{
	brightness: 2.0;
}

.MainMenuLabel:hover #MainMenuLabel
{
	text-shadow: 0px 0px 6px 4.0 #71ffff11;
	color: white;
}

#MainMenuLabel
{
	    visibility: collapse;
}