DCGMarketMiniIcon
{
}

.IconRoot
{
    width: 100%;
    height: 100%;
}

#MiniArt
{
    width: 100%;
    height: 100%;
}

#CardRarity
{
    vertical-align: top;
    horizontal-align: left;
    width: 30%;
    height: 30%;
}



.TypeItem { border: 2px solid cardColorGold; }
.ColorBlue { border: 2px solid cardColorBlue; }
.ColorGreen { border: 2px solid cardColorGreen; }
.ColorBlack { border: 2px solid cardColorBlack; }
.ColorRed { border: 2px solid cardColorRed; }


#CardColor
{
    vertical-align: top;
    width: 100%;
    height: 100%;
    background-color: gradient( linear, 0% 0%, 0% 100%, from( #000000FF ), 
                                color-stop( 0.06, #000000DD), 
                                color-stop( .12, #00000000), 
                                color-stop(0.88, #00000000),
                                color-stop(0.94, #000000DD),
                                to( #000000FF )
                            ); 
}

#CardColorLeftRight
{
    width: 100%;
    height: 100%;
    background-color: gradient( linear, 0% 0%, 100% 0%, from( #000000FF ), 
                                color-stop( 0.06, #000000DD), 
                                color-stop( .12, #00000000), 
                                color-stop(0.88, #00000000),
                                color-stop(0.94, #000000DD),
                                to( #000000FF )
                            );
}




#CardType
{
    vertical-align: top;
    horizontal-align: right;
    width: 30%;
    height: 30%;

    opacity: 0.8;
    background-size: 100% 100%;
}

.TypeSpell #CardType
{
    background-image: url("s2r://panorama/images/card/cardtype_spell_psd.vtex");
}

.TypeHero #CardType
{
    background-image: url("s2r://panorama/images/card/cardtype_hero_png.vtex");
}

.TypeCreep #CardType
{
    background-image: url("s2r://panorama/images/card/cardtype_creep_png.vtex");
}

.TypeImprovement #CardType
{
    background-image: url("s2r://panorama/images/card/cardtype_improvement_psd.vtex");
}

.TypeItemAccessory #CardType
{
    background-image: url("s2r://panorama/images/card/cardtype_health_psd.vtex");
}

.TypeItemWeapon #CardType
{
    background-image: url("s2r://panorama/images/card/cardtype_weapon_psd.vtex");
}

.TypeItemArmor #CardType
{
    background-image: url("s2r://panorama/images/card/cardtype_armor_psd.vtex");
}

.TypeItemDeed #CardType
{
    background-image: url("s2r://panorama/images/card/cardtype_consumable_psd.vtex");
}
