DCGMarketMiniIcon
{
}

.IconRoot
{
    width: 100%;
    height: 100%;
}

#MiniArt
{
    width: 100%;
    height: 100%;
}

#CardRarity
{
    vertical-align: top;
    horizontal-align: left;
    width: 30%;
    height: 30%;
}





#CardColor
{
    vertical-align: top;
    width: 100%;
    height: 30%;
    background-color: gradient( linear, 0% 0%, 0% 100%, from( cardColorColorless ), color-stop( 0.3, cardColorColorless), to( #00000000 )); 
}

.TypeItem #CardColor
{
    background-color: gradient( linear, 0% 0%, 0% 100%, from( cardColorGold ), color-stop( 0.3, cardColorGold), to( #00000000 )); 
}

.ColorBlue #CardColor
{
    background-color: gradient( linear, 0% 0%, 0% 100%, from( cardColorBlue ), color-stop( 0.3, cardColorBlue), to( #00000000 )); 
}

.ColorGreen #CardColor
{
    background-color: gradient( linear, 0% 0%, 0% 100%, from( cardColorGreen ), color-stop( 0.3, cardColorGreen), to( #00000000 )); 
}

.ColorBlack #CardColor
{
    background-color: gradient( linear, 0% 0%, 0% 100%, from( cardColorBlack ), color-stop( 0.3, cardColorBlack), to( #00000000 )); 
}

.ColorRed #CardColor
{
    background-color: gradient( linear, 0% 0%, 0% 100%, from( cardColorRed ), color-stop( 0.3, cardColorRed), to( #00000000 )); 
}




#CardType
{
    vertical-align: top;
    horizontal-align: right;
    width: 30%;
    height: 30%;

    opacity: 0.8;
    background-size: 100% 100%;
}

.TypeSpell #CardType
{
    background-image: url("s2r://panorama/images/card/cardtype_spell_psd.vtex");
}

.TypeHero #CardType
{
    background-image: url("s2r://panorama/images/card/cardtype_hero_png.vtex");
}

.TypeCreep #CardType
{
    background-image: url("s2r://panorama/images/card/cardtype_creep_png.vtex");
}

.TypeImprovement #CardType
{
    background-image: url("s2r://panorama/images/card/cardtype_improvement_psd.vtex");
}

.TypeItemAccessory #CardType
{
    background-image: url("s2r://panorama/images/card/cardtype_health_psd.vtex");
}

.TypeItemWeapon #CardType
{
    background-image: url("s2r://panorama/images/card/cardtype_weapon_psd.vtex");
}

.TypeItemArmor #CardType
{
    background-image: url("s2r://panorama/images/card/cardtype_armor_psd.vtex");
}

.TypeItemDeed #CardType
{
    background-image: url("s2r://panorama/images/card/cardtype_consumable_psd.vtex");
}
