DCGOpenPlayBeacon
{
	height: 60px;
	width: 100%;
}

DCGOpenPlayBeacon:hover
{
	brightness: 1.5;
	
}

DCGOpenPlayBeacon.Selected
{

}

#ContentsMain
{
	background-image: none;
	border: 0px;
	height: 72px;
	padding: 0px;
	padding-left: 5px;
	padding-right: 5px;
	vertical-align: center;
}

#ContentsMain:hover,
.Selected #ContentsMain
{
	background-color: backgroundGradientHover;
}

#ActiveGroupImage,
#PotentialGroupImage,
#UserImage
{
    width: 48px;
    height: 48px;
    vertical-align: center;
}

#UserName Label
{
	font-size: 24px;
	padding: 2px;
}

#FriendIcon
{
	width: 30px;
	height: 30px;
	background-image: url("s2r://panorama/images/main_menu/icon_friends_ingame_psd.vtex");
    background-size: 100% 100%;
    vertical-align: center;
	visibility: collapse;
}

.Friend #FriendIcon
{
	visibility: visible;
}

#ActiveGroupImage,
#PotentialGroupImage
{
	border-radius: 50%;
}

#ActiveGroupImage
{
	horizontal-align: right;
}

.Active .BeaconCreator,
.Potential .BeaconLocation
{
	visibility: visible;
}


.BeaconCreator,
.BeaconLocation
{
	height: 100%;
	visibility: collapse;
	flow-children: right;
	vertical-align: center;
	width: 100%;
}

.BeaconCreatorHeader
{
	flow-children: right;
}

.BeaconCreatorDetails,
.BeaconLocationDetails
{
	height: 100%;
	vertical-align: center;
	flow-children: down;
	padding: 5px;
}

.BeaconLocationDetails
{
	vertical-align: center;
	text-align: center;
	height: fit-children;
}

.BeaconCreatorStatusLabel,
.BeaconLocationGroupCountLabel
{
	font-size: 16px;
	color: #83b3b9;
	vertical-align: center;
	padding-left: 2px;
}

.GroupNameText
{
	font-size: 20px;
	padding: 2px;
	font-weight: light;
	color: white;
	white-space: nowrap;
	margin-top: 2px;
	margin-bottom: -6px;
	height: fit-children;
	text-shadow: 1px 1px 1px 1 black;
}

#FriendsList
{
	visibility: collapse;
}

.FriendsOnlyBeacon #FriendsList
{
	visibility: visible;
}