
DCGOpenPlay
{
	width: 100%;
	height: 100%;

	flow-children: down;
}

#OpenPlayPicker
{
	vertical-align: top;
}

.OpenPlayGroups .GameSelectLabel,
.OpenPlayGroups .GameSelectLabelLarge
{

	vertical-align: center;
	height: fit-children;
	
	font-weight: light;
	letter-spacing: 3px; 
	text-shadow: 0px 0px 3px 4.0 #00000011;
	
	color: white;
	text-transform: uppercase;

	horizontal-align: left;
	vertical-align: bottom;
	height: fit-children;
	margin: 10px;
	margin-bottom: 0px;
}


.GroupsListHeader
{
	flow-children: right;
}

.GroupsListHeader .GameSelectLabel
{
	margin-bottom: 5px;
	margin-left: 0px;
	font-size: 20px;
	vertical-align: center;
}

.GroupsListHeader .GameSelectLabelLarge
{
	margin-left: 12px;
	margin-bottom: 5px;
	font-size: 32px;
}


#CreateNewOpenGameButton
{
	margin: 8px;
	
	width: 480px;
	height: 50px;

	flow-children: right;
}

#CreateNewOpenGameButton Label
{
	font-size: 24px;
}

#BeaconIcon
{
	width: 42px;
	height: 42px;
	vertical-align: center;
	background-image: url("s2r://panorama/images/main_menu/icon_looking_to_play_psd.vtex");
	background-size: 100% 100%;
	wash-color: #839595;
	margin-right: 4px;
	margin-top: 2px;
}

.Separator
{
	height: 1px;
	width: 100%;
	margin: 10px;
	margin-top: 0px;
	margin-bottom: 10px;
	background-color: grey;
}

.LookingToPlayIcon
{
    width: 40px;
    height: 40px;
}

.CreateButtonWell
{
	width: 480px;
	background-color: #140e2591;
	border-top: 1px solid #99999905;
	border-left: 1px solid #99999905;
	border-right: 1px solid #00000060;
	border-bottom: 1px solid #00000060;
	height: 68px;
}