DCGPlayFeatured
{
    vertical-align: center;
    horizontal-align: left;
	opacity: 0;
	pre-transform-scale2d: 0.95;
	wash-color: rgb(100, 32, 139);
	transition-property: opacity, pre-transform-scale2d, wash-color;
	transition-duration: 0.24s;
	transition-timing-function: ease-in-out;
	z-index: -1;
}

.PlayFeatured DCGPlayFeatured
{
	opacity: 1;
	pre-transform-scale2d: 1;
	wash-color: white;
	z-index: 1;
}

#CurrentWins
{
	visibility: collapse;
}

.RegisteredDeck #CurrentWins
{
	visibility: visible;
}

#FeaturedBackground
{
	width: 100%;
	height: 736px;
	margin-top: 245px;
	
}

#PackStripBackground
{
	vertical-align: top;
	width: 100%;
	height: 168px;
	background-image: url("s2r://panorama/images/textures/events/cta_packstrip_repeating_psd.vtex");
	background-size: contain;
	margin-top: 72px;
}

#PackStripVignette
{
	height: 100%;
	width: 100%;
	background-color: gradient( linear, 0% 0%, 100% 0%, from( rgb(37, 18, 21) ), color-stop( .1, rgba( 50 , 24, 28,0) ), color-stop( .12, rgba( 50 , 24, 28,0) ), to( rgba(45, 76, 105, 0.95) ) );
}

.AspectRatio21x9 #PackStripVignette
{
	background-color: gradient( linear, 0% 0%, 100% 0%, from( rgb(37, 18, 21) ), color-stop( .1, rgba( 50 , 24, 28,0) ), color-stop( .12, rgba( 50 , 24, 28,0) ), color-stop( .52, rgba(45, 76, 105, 0.55) ), to( rgba(69, 110, 148, 0.95) ) );
}

#TopBarDarkener
{
	height: 65px;
	width: 100%;
	background-color: gradient( linear, 0% 0%, 100% 0%, from( rgba(37, 18, 21, .8 ) ), color-stop( .6, rgba( 50 , 24, 28, 0.65) ), color-stop( .8, rgba( 50 , 24, 28, 0) ),  to( rgba(37, 18, 21, 0) ) );
}

#PackStripLogo
{
	width: 242px;
	height: 168px;
	background-image: url("s2r://panorama/images/textures/events/cta_packstrip_logo_psd.vtex");
	background-size: contain;
	horizontal-align: left;
	margin-left: 92px;
}

#DesciptionBackground
{
	width: 1560px;
	height: 466px;
	background-color: gradient( linear, 0% 0%, 100% 0%, from( #1a0c0cdd ), to( #1a0c0cee ) )
	border-radius: 6px;
	margin-left: 148px;
	margin-top: 516px;
	background-blur: gaussian( 7 );	
}

#FeaturedContainer
{
	height: 882px;
	margin-left: 164px;
	margin-right: 140px;
	vertical-align: top;
	margin-top: 96px;
}

#PlayFeatured
{
    height: 100%;
    width: 100%;
    horizontal-align: center;
	background-image: url("s2r://panorama/images/catalogue/background_pack_opening_psd.vtex");
	background-size: cover;
}

.FeaturedEventLabel
{
    horizontal-align: left;
	font-size: 52px;
	text-transform: uppercase;
	vertical-align: middle;
	transition-property: text-shadow;
	transition-duration: 0.15s;
	transition-timing-function: ease-out;
	color: abilityGradient;
	color: gradient( linear, 0% 0%, 0% 100%, from( #8A3044 ), color-stop( .5, #C57633 ), to( #EFCF93 ) );
	text-shadow: 0px 0px 8px 4.0 black;
	margin-left: 32px;
}

.Language_english .FeaturedEventLabel
{
	visibility: collapse;
}

#FeaturedEventNameTitle
{
    width: 664px;
    height: 80px;
    font-size: 24px;
    horizontal-align: left;
    text-transform: uppercase;
	background-image: url("s2r://panorama/images/set_icons/set_01_logo_psd.vtex");
	background-repeat: no-repeat;
    background-size: contain;
}

.FeaturedLittle
{
	font-size: 24px;
}

#FeaturedHeaderContainer
{
	flow-children: down;
	z-index: 2;
}

#EventDate
{
	flow-children: right;
}

#FeaturedEventCardsContainer
{
	flow-children: right;
	margin-top: 48px;
	margin-left: 142px;
}

.DeckCardPanel
{
	margin-top: 32px;
	width: 100px;
	height: width-percentage( 170% );
	overflow: noclip;
	
	transition-property: box-shadow;
	transition-duration: .21s;
	transition-timing-function: ease-in-out;
	box-shadow: fill #FDB14500 0px 2px 16px 0px;
}

.DeckCardImage
{
	width: 100px;
	height: width-percentage( 170% );
	box-shadow: fill #00000000 0px 0px 0px 0px;
	background-color: #00AA0000;
	border-radius: 3px;	
	pre-transform-scale2d: 1.1;
	background-size: 80%;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	overflow: noclip;

	transition-property: pre-transform-scale2d, box-shadow, brightness;
	transition-duration: 0.16s;
	transition-timing-function: ease-in-out;	
	
	flow-children: none;	
}

.RegisteredDeck .DeckCardPanel.Hovered .DeckCardImage,
.RegisteredDeck .DeckCardImage
{
	transform: translateY(-3px);
	pre-transform-scale2d: 0.55;
	saturation: .75;
	brightness: .5;
	box-shadow: fill #000000c5 0px 6px 16px 0px;
}

.RegisteredDeckBorder,
.RegisteredDeckBorder.SceneLoaded
{

	width: 206%;
	height: 206%;
	brightness: 2;
	opacity: 0.0001;
	transition-property: opacity, brightness;
	transition-duration: .32s;
	transition-timing-function: ease-in-out;
}

.RegisteredDeckBorder.SceneLoaded
{
	opacity: 0;
}

.RegisteredDeck .DeckCardPanel.Selected .RegisteredDeckBorder.SceneLoaded
{
	opacity: 1;
}



.DeckCardPanel.Selected
{

	z-index: 5;
	box-shadow: fill #FDB14563 0px 2px 16px 0px;
}

#Card0 .DeckCardImage { background-image: url("s2r://panorama/images/main_menu/calltoarms/deckart_g_psd.vtex"); }
#Card1 .DeckCardImage { background-image: url("s2r://panorama/images/main_menu/calltoarms/deckart_r_psd.vtex"); }
#Card2 .DeckCardImage { background-image: url("s2r://panorama/images/main_menu/calltoarms/deckart_uk_psd.vtex"); }
#Card3 .DeckCardImage { background-image: url("s2r://panorama/images/main_menu/calltoarms/deckart_rg_psd.vtex"); }
#Card4 .DeckCardImage { background-image: url("s2r://panorama/images/main_menu/calltoarms/deckart_kg_psd.vtex"); }
#Card5 .DeckCardImage { background-image: url("s2r://panorama/images/main_menu/calltoarms/deckart_ru_psd.vtex"); }
#Card6 .DeckCardImage { background-image: url("s2r://panorama/images/main_menu/calltoarms/deckart_u_psd.vtex"); }
#Card7 .DeckCardImage { background-image: url("s2r://panorama/images/main_menu/calltoarms/deckart_k_psd.vtex"); }
#Card100 .DeckCardImage { background-image: url("s2r://panorama/images/main_menu/calltoarms/deckart_randommode_psd.vtex"); }

.GameOnePlayed .DeckCardPanel.Selected .DeckCardImage,
.DeckCardPanel.Selected .DeckCardImage,
.DeckCardPanel.Selected.Hovered .DeckCardImage
{
	pre-transform-scale2d: 1.25;
	brightness: 1.8;
	saturation: 1;
	box-shadow: fill #00000085 0px 15px 36px 0px;
}


.DeckCardPanel.Hovered .DeckCardImage
{
	pre-transform-scale2d: 1.25;
	box-shadow: fill #00000085 0px 15px 50px 0px;
}

#FeaturedContentContainer
{
	margin-top: 142px;
	flow-children: down;
}

#FeaturedEventHeaderLabel
{
	text-transform: uppercase;
	color: #a65736;
	text-shadow: 0px 1px 4px 2.0 black;
}

#FeaturedEventDateLabel
{
	text-transform: uppercase;
	color: #815d4d;
	text-shadow: 0px 1px 4px 2.0 black;
}

#FeaturedEventDescLabel
{
	margin-top: 2px;
	color: #d1ae9d;
	width: 800px;
	text-shadow: 0px 1px 4px 2.0 black;
}

#FeaturedEventContent
{
	height: fill-parent-flow(1.0);
	margin-top: 36px;
}

#FeaturedDeckDetails
{
	flow-children: down;
}

.DeckDescriptionText
{
	color: #e2cfbf;
	width: 800px;
	font-size: 20px;
	text-shadow: 0px 2px 4px 2.0 black;
}

#FeaturedEventContentTitle
{
	flow-children: right;
}

#FeaturedEventDeckName
{
	margin-right: 10px;
	font-size: 40px;
	letter-spacing: 4px;
	text-shadow: 1px 3px 8px 3.0 black;
}

.CardColors
{
	height: 24px;
	width: 24px;
	margin-left: 5px;
	margin-right: 5px;
	border-radius: 4px;
	vertical-align: middle;
	border: 1px solid black;
	box-shadow: fill #000000c5 0px 3px 8px 0px;
}

.CardColors.Colorless
{
	border: 1px solid transparent;
	box-shadow: fill #00000000 0px 0px 0px 0px;
}

.CardColors.Blue
{
	background-color: gradient( radial, 50% 40%, 0% 0%, 80% 80%, from( #2f7492 ), to( #0e2833  ) );
}

.CardColors.Green
{
	background-color: #479036;
	background-color: gradient( radial, 50% 40%, 0% 0%, 80% 80%, from( #479036 ), to( #14380c  ) );
}

.CardColors.Black
{
	background-color: #423f49;
	background-color: gradient( radial, 50% 40%, 0% 0%, 80% 80%, from( #423f49 ), to( #1e1141  ) );
}

.CardColors.Red
{
	background-color: #c2352d;
	background-color: gradient( radial, 50% 40%, 0% 0%, 80% 80%, from( #c2352d ), to( #3b110f  ) );
}

.FeaturedTitle
{
	font-weight: thin;
}

#StreakAndFindMatchContainer
{
	flow-children: down;
	vertical-align: bottom;
	width: 100%;
}

#FeaturedEventGraphic_Scene_BG,
#FeaturedEventGraphic_Scene
{
	width: 100%;
	height: 100%;
}

.AspectRatio21x9 #FeaturedEventGraphic_Scene
{
	width: 1920px;
	horizontal-align: right;
}

#FeaturedActions
{
	flow-children: right;
	vertical-align: bottom;
	horizontal-align: left;
	margin-bottom: 16px;
	margin-top: 8px;
}

#FeaturedActions #NextSelectionButton
{
	horizontal-align: left;
	vertical-align: top;
}



#FeaturedActions #AbandonGauntletButton
{
	width: 64px;
	min-width: 64px;
	padding: 0px;
	margin-left: 16px;
	background-image: url("s2r://panorama/images/control_icons/abandon_x_psd.vtex");
	background-size: 28px 28px;	
	background-repeat: no-repeat;
	background-position: 50% 50%;
	tooltip-position: top;
	tooltip-body-position: 50%;
	visibility: collapse;
}

.RegisteredDeck #FeaturedActions #AbandonGauntletButton
{
	visibility: visible;
}

.LookingForMatch.FindingGauntletMatch .RegisteredDeck #FeaturedActions #AbandonGauntletButton
{
	visibility: collapse;
}


.StreakContainer
{
	text-transform: uppercase;
	flow-children: right;
	margin-bottom: 8px;
}

.StreakType
{
	text-transform: uppercase;
	letter-spacing: 0px;
	font-size: 22px;
}

.StreakValue
{
	color: rgb(255, 178, 88);
	letter-spacing: 0px;
	font-size: 22px;
	margin-left: 8px;
}

#FeaturedActions #NextSelectionButton:hover:disabled,
#FeaturedActions #NextSelectionButton:disabled
{
	background-color: transparent;
}

#FeaturedActions #NextSelectionButton:disabled Label
{
	color: #E17A2A;
}

#FeaturedLeaderboardContainer
{
	width: 480px;
	height: 466px;
	flow-children: down;
	background-color: gradient( linear, 0% 0%, 100% 0%, from( #1a0c0c00 ), to( #1a0c0c00 ) );
	horizontal-align: right;
	vertical-align: bottom;
	margin-bottom: 98px;
	margin-right: 220px;
	z-index: 5000;
	background-blur: gaussian( 4 );	

}

.AspectRatio16x10 #FeaturedLeaderboardContainer
{
	margin-bottom: 248px;
}

#FeaturedLeaderboardTitle,
{
	width: 100%;
	text-align: center;
	font-weight: light;
	font-size: 18px;
	margin-top: 6px;
	color: #e2cfbf;
	text-shadow: 0px 2px 4px 2.0 black;
}

#FeaturedLeaderboardDeckName
{
	width: 800px;
	font-size: 20px;
	font-weight: light;
	margin-bottom: 2px;
	font-family: Goudy Trajan Medium,FZKai-Z03,TH Sarabun New,YDYGO 540,Gulim,MingLiU;
	color: gradient( linear, 0% 100%, 0% 0%, from( #ffffff50 ), to( #ffffff ) );
	text-shadow: 1px 3px 8px 3.0 black;	

	width: 100%;
	letter-spacing: 3px;
	text-align: center;
	text-transform: uppercase;
}

.FeaturedLeaderboardHeader
{

	background-color: #00000000;

	flow-children: down;

	width: 100%;
	text-align: center;
	padding: 5px;
}

#PerDeckStreakLeaderboard
{
	margin-top: -5px;
}

#PerDeckStreakLeaderboard #GlobalButton,
.Global .LeaderboardHeaderColumnNames,
{
	background-color: #1a0c0c;
}

.Global .LeaderboardEntryContainer,
{
	background-color: gradient( linear, 0% 100%, 0% 0%, from( #1a0c0ccc ), color-stop( .025, #1a0c0c50 ), to( #1a0c0c ) );
}

#PerDeckStreakLeaderboard #FriendsButton,
.Friends .LeaderboardHeaderColumnNames,
{
	background-color: #341610;
}

.Friends .LeaderboardEntryContainer
{
	background-color: gradient( linear, 0% 100%, 0% 0%, from( #00000075 ), color-stop( .025, #1a0c0c50 ), color-stop( .25, #34161050 ), to( #341610 ) );
}

#PerDeckStreakLeaderboard.Global .LeaderListRow.IsCurrentUser,
#PerDeckStreakLeaderboard.Friends .LeaderListRow.IsCurrentUser
{
	background-color: gradient( linear, 0% 0%, 100% 0%, from( #e2cfbf18 ), to( #ff002800 ) );
}

.LeaderboardTab Label

{
	color: #d1ae9d;
}

#PerDeckStreakLeaderboard .NavButton
{
	width: 200px;
}

.DeckCardPanel DCGViolator Label
{
		margin-top: 15px;
}

.DeckCardPanel DCGViolator
{
	img-shadow: 0px 2px 12px 10.0 #000000;
}