
DCGPlayGameSelectButton
{
	height: 100%;
	width: 304px;
	flow-children: none;
	
	margin-left: 16px;
	margin-right: 16px;

	overflow: noclip;
}

DCGPlayGameSelectButton .RadioBox
{
	visibility: collapse;
}

.BlurBackgroundButtonImage
{
	width: 100%;
	height: 100%;
	blur: gaussian( 16 );
	transition-property: blur;
	transition-duration: 0.5s;
}

.BlurBackgroundButtonOverlay
{
	width: 100%;
	height: 100%;

	background-color: gradient( linear, 0% 100%, 0% 0%, from( rgb(31, 28, 36) ), color-stop( .5, #6a969b03 ), to( #9b89b108 ) );
	background-image: url("s2r://panorama/images/main_menu/bg_tab_button_psd.vtex");
	background-size: cover;

	box-shadow: #00000088 -2px -2px 1px 4px;
	
	transition-property: background-color, box-shadow;
	transition-duration: 0.25s;
	transition-timing-function: ease-in-out;
}


DCGPlayGameSelectButton:hover .BlurBackgroundButtonOverlay
{
	background-color: gradient( linear, 0% 100%, 0% 0%, from( rgb(31, 28, 36) ), color-stop( .5, #abe9f003 ), to( #8982eb18 ) );
}

DCGPlayGameSelectButton:hover:selected .BlurBackgroundButtonOverlay,
DCGPlayGameSelectButton:selected .BlurBackgroundButtonOverlay
{
	box-shadow: #5194f00a -8px -8px 24px 16px; 
	/*background-color: gradient( linear, 0% 100%, 0% 0%, from( #abe9f003 ), to( #96e7ff33 ) );*/
	background-color: gradient( linear, 0% 100%, 0% 0%, from( rgb(31, 28, 36) ), color-stop( .5, #abe9f003 ), to( #8982eb1e ) );	
}

#ButtonContents
{
	flow-children: down;
	horizontal-align: center;
	vertical-align: center;
	width: 250px;
	height: fit-children;
}

#IconImage
{
	height: 48px;
	width: 48px;
	horizontal-align: center;
	vertical-align: center;
	wash-color: #616778;
	transition-property: wash-color;
	transition-duration: .32s;
	transition-timing-function: ease-in-out;

}

#AIMatchButton #IconImage
{
	width: 80px;
}


DCGPlayGameSelectButton:hover #IconImage
{
	wash-color: rgb(178, 210, 240);
}

DCGPlayGameSelectButton:selected #IconImage
{
	wash-color: white;
}



DCGPlayGameSelectButton:hover .GameSelectIcon
{
	/*brightness: 2.0;*/
}

#TextLabel
{
	text-align: center;
	horizontal-align: center;
	vertical-align: center;

	font-size: 20px;

	height: fit-children;
	line-height: 20px;
	
	font-weight: light;
	letter-spacing: 3px; 
	text-shadow: 0px 0px 3px 4.0 #00000011;
	
	color: rgb(167, 177, 202);
	text-transform: uppercase;
	
	transition-property: color, text-shadow ;
	transition-duration: .1s; 
}

DCGPlayGameSelectButton:hover:selected #TextLabel,
DCGPlayGameSelectButton:selected #TextLabel
{
	text-shadow: 0px 0px 6px 3.0 #5194f0aa;
	color: white;
}  

DCGPlayGameSelectButton:hover #TextLabel
{
	text-shadow: 0px 0px 16px 2.0 #5194f011;
}

DCGPlayGameSelectButton:hover:selected #TextLabel
{
	text-shadow: 0px 0px 6px 3.0 #5194f0aa;
}


.MiniGauntletProgress
{
	width: fit-children;
	height: fit-children;
	visibility: collapse;
	flow-children: right;
	horizontal-align: center;
}

.InProgress .MiniGauntletProgress
{
	visibility: visible;
}

.MiniProgressDivider
{
	height: 100%;
	width: 1px;
	background-color: grey;
	margin-left: 4px;
	margin-right: 4px;
}

.MiniProgressContainer
{
	flow-children: right;
	horizontal-align: center;
}

.MiniProgressPin
{
	width: 16px;
	height: 16px;
	margin: 4px;

	border-radius: 50%;
	background-color: gradient( linear, 0% 100%, 0% 0%, from( #3d3b43 ), color-stop( 0.9, #262d32 ), to( #2b292f ) );
	background-size: 100% 100%;
}

.MiniProgressPin.Win
{
	background-image: url("s2r://panorama/images/control_icons/gauntlet_win_png.vtex");
}

.MiniProgressPin.Loss
{
	background-image: url("s2r://panorama/images/control_icons/gauntlet_loss_png.vtex");
}


#StartNewLabel
{
	text-align: center;
	horizontal-align: center;
	vertical-align: center;

	font-size: 16px;

	height: fit-children;
	line-height: 20px;
	
	font-weight: light;
	letter-spacing: 3px; 
	text-shadow: 0px 0px 3px 4.0 #00000011;
	
	color: rgb(115, 126, 160);
	text-transform: uppercase;
	
	transition-property: color, text-shadow ;
	transition-duration: .1s; 

	visibility: visible;
}

DCGPlayGameSelectButton:selected #StartNewLabel
{
	color: rgb(165, 182, 233);
}

.InProgress #StartNewLabel 
{
	visibility: collapse;
}

DCGPlayGameSelectButton:selected .GameSelectButtonHighlight,
DCGPlayGameSelectButton:hover .GameSelectButtonHighlightOutline
{
	opacity: 1;
	brightness: 1;
	transition-duration: .6s;
}

DCGPlayGameSelectButton:selected:hover .GameSelectButtonHighlightOutline
{
	opacity: 0;
}
.GameSelectButtonHighlightOutline,
.GameSelectButtonHighlight,
.GameSelectButtonHighlightOutline.SceneLoaded,
.GameSelectButtonHighlight.SceneLoaded
{
	opacity: 0;

	width: 115%;
	height: 125%;

	transition-property: opacity, brightness;
	transition-duration: .42s;
	transition-timing-function: ease-in-out;
}

/*.GameSelectButtonHighlightOutline.SceneLoaded,
{
	opacity: 1;
}*/

.GameSelectButtonHighlight,
.GameSelectButtonHighlight.SceneLoaded
{
	width: 100%;
	height: 100%;
	opacity-mask: url("s2r://panorama/images/textures/dashboard_etched_button_pattern_mask_psd.vtex");
}