DCGPlaySocial
{
	vertical-align: center;
	horizontal-align: left;
    opacity: 0;
	pre-transform-scale2d: 0.95;
    wash-color: rgb(111, 42, 151);
    z-index: -1;
    
	transition-property: opacity, pre-transform-scale2d, wash-color;
	transition-duration: 0.24s;
	transition-timing-function: ease-in-out;
}

.PlaySocial DCGPlaySocial
{
	opacity: 1;
	pre-transform-scale2d: 1;
    wash-color: white;
    z-index: 1;
}

#ChallengeFriendsContainer,
#PlayWithGroupContainer,
#TournamentContainer,
#LobbyContainer,
#TourneyStatusContainer
{
	height: 100%;
	width: 100%;
	opacity: 0;
    background-repeat: no-repeat;
	transition-property: opacity;
	transition-duration: 0.322s;
	transition-timing-function: ease-out;
}

.PlayTypeLobby .TopButtonNav,
.PlayTypeTourneyStatus .TopButtonNav
{
	visibility: collapse;
}

.PlayTypeFriend #ChallengeFriendsContainer,
.PlayTypeGroup #PlayWithGroupContainer,
.PlayTypeTourneyPicker #TournamentContainer,
.PlayTypeLobby #LobbyContainer,
.PlayTypeTourneyStatus #TourneyStatusContainer
{
	opacity: 1;
}

#ChallengeFriendIcon
{
	background-image: url("s2r://panorama/images/main_menu/icon_friends_ingame_psd.vtex");
    background-size: 100% 100%;
}

#LookingForGameIcon
{
	background-image: url("s2r://panorama/images/main_menu/icon_looking_to_play_psd.vtex");
    background-size: 100% 100%;
}

#TournamentIcon
{
	background-image: url("s2r://panorama/images/main_menu/icon_friends_ingame_psd.vtex");
    background-size: 100% 100%;
}
#ChallengeFriendsContainer
{
	background-image: url("s2r://panorama/images/play_backgrounds/friend_match_psd.vtex");
    background-position: right 134px;
}

#TournamentContainer
{
	background-image: url("s2r://panorama/images/play_backgrounds/friend_tournament_psd.vtex");
	background-position: right 134px;
}

#PlayWithGroupContainer
{
	background-image: url("s2r://panorama/images/play_backgrounds/open_play_psd.vtex");
    background-position: right 130px;
}

#LobbyContainer
{
		/*background-image: url("s2r://panorama/images/play_backgrounds/friend_match_psd.vtex");*/
}
