DCGPlayCasual
{
    vertical-align: center;
    horizontal-align: left;
    opacity: 0;
	pre-transform-scale2d: 0.95;
    wash-color: rgb(111, 42, 151);
    z-index: -1;
    
	transition-property: opacity, pre-transform-scale2d, wash-color;
	transition-duration: 0.24s;
	transition-timing-function: ease-in-out;
}

.PlayCasual DCGPlayCasual
{
    opacity: 1;
	pre-transform-scale2d: 1;
    wash-color: white;
    z-index: 1;
}

#OnlineMatchContainer,
#FreeDraftGauntlet,
#FreeConstructedGauntlet
{
	width: 100%;
	height: 100%;
    background-position: top;
    opacity: 0;
    transition-property: opacity, wash-color;
    transition-duration: 0.32s;
    transition-timing-function: ease-in-out;
}

.ContainerSplashImage
{
    width: 100%;
    height: 100%;
    background-position: right 290px;
    background-repeat: no-repeat;
    transition-property: transform, wash-color, brightness;
    transition-duration: 0.32s, .6s;
    transition-timing-function: ease-in;    
}

.PlayTypeOnlineMatch #OnlineMatchContainer,
.PlayTypeFreeDraft #FreeDraftGauntlet,
.PlayTypeFreeConstructed #FreeConstructedGauntlet,
{
    opacity: 1;
    wash-color: white;
}

.PlayTypeOnlineMatch #OnlineMatchContainer .ContainerSplashImage,
.PlayTypeFreeDraft #FreeDraftGauntlet .ContainerSplashImage,
.PlayTypeFreeConstructed #FreeConstructedGauntlet .ContainerSplashImage,
{
    transform: translateX(0px);
    wash-color: white;
    brightness: 1;
}


#FreeDraftGauntlet .ContainerSplashImage
{
    background-image: url("s2r://panorama/images/play_backgrounds/bot_match_psd.vtex");
    background-position: right 220px;
    wash-color: rgb(255, 242, 126);
    brightness: 6;
    transform: translateX(464px);
}

#OnlineMatchContainer .ContainerSplashImage
{
    background-image: url("s2r://panorama/images/play_backgrounds/online_match_psd.vtex");
    wash-color: rgb(255, 242, 126);
    brightness: 6;
    transform: translateX(464px);
}

.HighResolutionDisplay #OnlineMatchContainer .ContainerSplashImage
{
	background-image: url("s2r://panorama/images/play_backgrounds/3200_online_match_psd.vtex");
    background-size: 730px 487px;
}

#FreeConstructedGauntlet .ContainerSplashImage
{
    background-image: url("s2r://panorama/images/play_backgrounds/online_match_psd.vtex");
    wash-color: rgb(255, 242, 126);
    brightness: 6;
    transform: translateX(464px);
}

#FreeConstructedButton:disabled,
#FreeDraftButton:disabled
{
    wash-color: rgb(128, 121, 83);
}
