@define controlFadeDuration: 0.4s;

.TopButtonNav
{
	flow-children: right;
	margin: 24px 18px 0px 18px;

	height: 132px;
	width: fit-children;

	horizontal-align: left;
	z-index: 10;
}

.PrimaryCarouselPanel
{
	width: 100%;
	height: 100%;
}

.CarouselPanelContainer
{
	margin-top: 134px;
	width: 1048px;
	height: 846px;
	horizontal-align: center;
}

.GauntletButton
{
    flow-children: down;
    width: fit-children;
    height: 100%;
    visibility: visible;
}

.PlayContents
{
	vertical-align: top;
	height: 100%;
	width: 100%;
	
	/*flow-children: down;*/
}


.ContentsHeaderLabel
{
	font-weight: lighter;
	font-size: 24px;
	color: #bbc5ca;
	width: 658px;
	height: 88px;
	text-shadow: .5px .5px 2px 2.0 black;
    text-overflow: shrink;
    margin-bottom: 6px;
}


.SelectDeckHeader,
.SelectDeckFooter,
.SelectAIDeckFooter
{
	width: 100%;
	flow-children: right;
}

.SelectedDeckName
{
	font-size: 20px;
	font-weight: light;
	horizontal-align: left;
	width: 200px;
	height: 32px;
	margin-top: 3px;
}

.DeckButton
{
	width: 135px;
	height: 20px;
	min-width: 100px;
	margin-right: 13px;
	background-color: black;
}

.RightButton
{
	margin-right: 0px;
	horizontal-align: right;
}

.DeckButton Label
{
	font-size: 14px;
}

.SelectDeckInfo
{
	height: 105px;
	width: 100%;
	margin-top: -10px;
	margin-bottom: -10px;
}

.ContentsLabel
{
	font-size: 16px;
	font-weight: light;
	horizontal-align: left;
	letter-spacing: 3px;
	color: uiStandardGrey;
}

.PlayBody
{
	padding-left: 35px;
	padding-right: 35px;
	height: 608px;
	width: 100%;
	vertical-align: bottom;
	flow-children: down;
}

.ButtonsVisible
{
	margin-top: 180px;
	height: 570px;
}

#PlayCompetitive .ButtonsVisible,
#PlayFeatured .ButtonsVisible,
#PlayCasual .ButtonsVisible,
{
	height: 414px;
}

#PlaySolo #AIGauntlet .PlayBody
{
	height: 414px;
}


.SelectDeckFooter,
.SelectAIDeckFooter
{
	visibility: collapse;
}

.DeckSelected .SelectDeckFooter,
.PlayerDeckSelected .SelectDeckFooter,
.AIDeckSelected .SelectAIDeckFooter
{
	visibility: visible;
}

.BlurBackgroundPanelImage
{
	width: 100%;
	height: 100%;
	opacity-mask: url("s2r://panorama/images/main_menu/play_opacity_mask_blur_psd.vtex");
	blur: gaussian( 16 );
}

.BlurBackgroundPanelOverlay
{
	width: 100%;
	height: 100%;
	opacity-mask: url("s2r://panorama/images/main_menu/play_opacity_mask_bg_psd.vtex");
	//background-color: gradient( linear, 0% 100%, 0% 0%, from( rgba(19, 17, 20, 0.808)  ), to( rgba( 1, 1, 1, 1 ) ) );
	background-color: gradient( linear, 0% 100%, 0% 0%, from( rgba(32, 31, 51, 0.408)  ), to( rgba( 1, 1, 1, 1 ) ) );
}

#TourneyStatusContainer .BlurBackgroundPanelOverlay
{
			background-color: gradient( linear, 0% 100%, 0% 0%, from( rgba(32, 31, 51, 0.408)  ), to( rgba( 1, 1, 1, 1 ) ) );
}

.BlurBackgroundPanelOverlay .PlayBorderFX
{
	width: 100%;
	height: 100%;
	opacity-mask: url("s2r://panorama/images/main_menu/play_opacity_mask_border_psd.vtex");
	brightness: 1;
}

.ChallengeFriends,
.OpenPlayGroups
{
	background-color: gradient( linear, 0% 100%, 0% 0%, from( #00000044 ), to( #000000aa ) );
	box-shadow: inset 0px 0px 24px black;
	vertical-align: bottom;
	flow-children: down;
	opacity-mask: url("s2r://panorama/images/main_menu/friends_list_opacity_mask_psd.vtex");	
}


#RankContainer
{
    flow-children: right;
    opacity: 0;
    transition-property: opacity;
    transition-duration: .15s;
    margin-top: 982px;

    horizontal-align: right;
    margin-right: 440px;
    tooltip-position: top;
}

.HasLocalPlayerConstructedMMRLevel.SelectedPageCasual #RankContainer,
.HasLocalPlayerConstructedMMRLevel.SelectedPageCompetitive  #RankContainer
{
    opacity: 1;
}

#RankLabelConstructed, #RankLabelDraft
{
    vertical-align: center;
    horizontal-align: left;
    letter-spacing: 2px;
    font-size: 18px;
    color: #616b88;
    text-transform: uppercase;
	margin-right: 4px;
	margin-top: 4px;
    visibility: collapse;
    font-weight: light;
}

#RankLabelValue_Constructed, #RankLabelValue_Draft
{
    color: gradient( linear, 0% 0%, 0% 100%, from( white ), color-stop( .3, #c8cdd6 ), color-stop( .3, #c8cdd6 ), color-stop( .8, #8b97a6 ), to( #8b97a6 ) );
    font-size: 28px;
    font-weight: light;
    margin-left: 4px;
    margin-right: 4px;
    visibility: collapse;
	vertical-align: center;
	margin-top: 7px;
}

#RankLabelValue_Constructed
{
    text-shadow: 0px 0px 3px 1.0 #5da9d466;
}

#RankLabelValue_Draft
{
    text-shadow: 0px 0px 3px 1.0 #dd6bad66;
}

.PlayTypeOnlineMatch #RankLabelConstructed,
.PlayTypeFreeConstructed #RankLabelConstructed,
.PlayCompetitive.ConstructedMode #RankLabelConstructed,
.PlayTypeOnlineMatch #RankLabelValue_Constructed,
.PlayTypeFreeConstructed #RankLabelValue_Constructed,
.PlayCompetitive.ConstructedMode #RankLabelValue_Constructed
{
    visibility: visible;
}

.PlayTypeFreeDraft #RankLabelDraft,
.PlayCompetitive.LimitedMode #RankLabelDraft,
.PlayTypeFreeDraft #RankLabelValue_Draft,
.PlayCompetitive.LimitedMode #RankLabelValue_Draft
{
    visibility: visible;
}

#RankLabelInfo
{
    width: 32px;
    height: 32px;
    vertical-align: center;
    background-image: url("s2r://panorama/images/tournaments/constructed_skill_icon_psd.vtex");
    background-size: cover;
	margin-left: 2px;
	margin-top: -2px;
	box-shadow: 0px 0px 14px #507488;
	border-radius: 50%;
	animation-duration: 3s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;	
	animation-name: SkillPulse;
}

@keyframes 'SkillPulse'
{
	0%
	{
		box-shadow: 0px 0px 8px #50748888;
	}
	50%
	{
		box-shadow: 0px 0px 14px #507488dd;
	}
	
	100%
	{
		box-shadow: 0px 0px 8px #50748888;
	}	
}

.PlayTypeFreeDraft #RankLabelInfo
{
	animation-name: SkillPulseFreeDraft;
}

@keyframes 'SkillPulseFreeDraft'
{
	0%
	{
		box-shadow: 0px 0px 8px #C577B188;
	}
	50%
	{
		box-shadow: 0px 0px 14px #C577B1dd;
	}
	
	100%
	{
		box-shadow: 0px 0px 8px #C577B188;
	}	
}


.PlayTypeFreeDraft #RankLabelInfo,
.PlayCompetitive.LimitedMode #RankLabelInfo,
.PlayTypeFreeDraft #RankLabelInfo,
.PlayCompetitive.LimitedMode #RankLabelInfo
{
	background-image: url("s2r://panorama/images/tournaments/draft_skill_icon_psd.vtex");
}
