DCGPlayChaosGauntlet
{
    vertical-align: center;
    horizontal-align: left;
	opacity: 0;
		
	wash-color: rgb(100, 32, 139);
	transition-property: opacity, pre-transform-scale2d, wash-color;
	transition-duration: 0.24s;
	transition-timing-function: ease-in-out;
	z-index: -1;
}

.PlayChaosGauntlet DCGPlayChaosGauntlet
{
	opacity: 1;
	pre-transform-scale2d: 1;
	wash-color: white;
	z-index: 1;
}

#FeaturedBackground
{
	width: 100%;
	height: 736px;
	margin-top: 245px;
	
}

#PackStripBackground
{
	vertical-align: top;
	width: 100%;
	height: 168px;
	background-image: url("s2r://panorama/images/textures/events/cta_packstrip_repeating_psd.vtex");
	background-size: contain;
	margin-top: 72px;
}

#PackStripVignette
{
	height: 100%;
	width: 100%;
	background-color: gradient( linear, 0% 0%, 100% 0%, from( rgb(37, 18, 21) ), color-stop( .1, rgba( 50 , 24, 28,0) ), color-stop( .12, rgba( 50 , 24, 28,0) ), to( rgba(45, 76, 105, 0.95) ) );
}

.AspectRatio21x9 #PackStripVignette
{
	background-color: gradient( linear, 0% 0%, 100% 0%, from( rgb(37, 18, 21) ), color-stop( .1, rgba( 50 , 24, 28,0) ), color-stop( .12, rgba( 50 , 24, 28,0) ), color-stop( .52, rgba(45, 76, 105, 0.55) ), to( rgba(69, 110, 148, 0.95) ) );
}

#PackStripLogo
{
	width: 242px;
	height: 168px;
	background-image: url("s2r://panorama/images/textures/events/cta_packstrip_logo_psd.vtex");
	background-size: contain;
	horizontal-align: left;
	margin-left: 92px;
}

#DesciptionBackground
{
	width: 1560px;
	height: 466px;
	background-color: gradient( linear, 0% 0%, 100% 0%, from( #1a0c0cdd ), to( #1a0c0cee ) )
	border-radius: 6px;
	margin-left: 148px;
	margin-top: 516px;
	background-blur: gaussian( 7 );	
}

#FeaturedContainer
{
	width: 1920px;
	height: 100%;
	vertical-align: top;
	horizontal-align: center;

    //background-color: #99099066;
}

#PlayCallToArms
{
    height: 100%;
    width: 100%;
    horizontal-align: center;
	background-image: url("s2r://panorama/images/catalogue/background_pack_opening_psd.vtex");
	background-size: cover;
}

.FeaturedHeaderLogoContainer
{
	horizontal-align: center;	
	height:100%;
}

.FeaturedEventLabel.TitleFont
{
	horizontal-align: center;
	font-size: 40px;
	text-transform: uppercase;
	vertical-align: top;

	margin-top: 12px;
	
	transition-property: text-shadow;
	transition-duration: 0.15s;
	transition-timing-function: ease-out;
	
	font-family: radiance;
	letter-spacing: 6px;

	color: gradient( linear, 0% 0%, 0% 100%, from( white ), color-stop( .2, white ), color-stop( .27, #999999 ) , to( #FFFFFF ) );
	text-shadow: 0px 0px 5px 1.0 #429ae4AA;	
}

.FeaturedHeaderLogo
{
	height: 46px;
	width: 307px;
	vertical-align: bottom;
	horizontal-align: center;

	margin-bottom: 12px;	
	
	background-image: url("s2r://panorama/images/main_menu/chaos/chaos_gauntlet_logo_psd.vtex");
	background-size: 100% 100%;
}

.Language_english .FeaturedEventLabel
{
//	visibility: collapse;
}

#FeaturedEventNameTitle
{
    height: 80px;
    font-size: 24px;
    text-align: center;
    text-transform: uppercase;
	background-image: url("s2r://panorama/images/set_icons/set_01_logo_psd.vtex");
	background-repeat: no-repeat;
	background-size: contain;
	visibility: collapse;
}

.FeaturedLittle
{
	font-size: 24px;
}

#FeaturedHeaderContainer
{
	horizontal-align: center;
	width: 1920px;
	height: 120px;
	flow-children: down;
	background-color: gradient( linear, 0% 0%, 100% 0%, from( #00000050 ), color-stop( .2, #000000bb ), color-stop( .8, #000000bb ), to( #00000050 ) );

}

#EventDate
{
	flow-children: right;
}

#FeaturedEventCardsContainer
{
	flow-children: right;
	margin-top: 0px;
	margin-left: 142px;
}

#FeaturedEventHeaderLabel
{
	text-transform: uppercase;
	color: #a65736;
	text-shadow: 0px 1px 4px 2.0 black;
}

#FeaturedEventDateLabel
{
	text-transform: uppercase;
	color: #815d4d;
	text-shadow: 0px 1px 4px 2.0 black;
}

#FeaturedEventDescLabel
{
	margin-top: 2px;
	color: #d1ae9d;
	width: 800px;
	text-shadow: 0px 1px 4px 2.0 black;
}

.LoreButton .LoreButtonText
{
    text-transform: uppercase;
    letter-spacing: 1px;
}

.LoreButton:hover
{
    background-color: rgba( 178, 109, 71, 1);
}

.LoreVOButtonTextAndIconContainer
{
    height: 30px;
    flow-children: right;
    vertical-align: center;
    horizontal-align: center;
}

.LoreTitle
{
    color: white;
    font-size: 16px;
    font-weight: ultra-light;
    letter-spacing: 2px;
    vertical-align: center;
    margin-top: 3px;
    margin-left: 6px;
    text-transform: uppercase;
}

.PlayLoreIcon
{
    width: 18px;
    height: 18px;
    vertical-align: center;
	margin-right: 16px;
    brightness: 1;
    background-size: 100% 100%;
}

.NodeLines
{
	opacity: 0;
	background-color: white;
}

.NodeLocationLineStart
{
	opacity: 0;
	margin-top:530px;
	margin-left:471px;
	width: 50px;
	height:2px;
}

.NodeLocationLineVertical
{
	opacity: 0;
	margin-top:530px;
	margin-left:521px;
	width: 2px;
	height:100px;
}

.NodeLocationLine
{
	opacity: 0;
	margin-top:0px;
	margin-left:0px;
	width: 256px;
	height:3px;
}

.SelectedNode6 .NodeLocationLine 
{
	opacity: 1;
	margin-top:530px;
	margin-left:471px;
	width: 305px;
	height:2px;
}
.SelectedNode6 .NodeLocationLineVertical,
.SelectedNode6 .NodeLocationLineStart
{
	opacity: 0;
}

.SelectedNode7 .NodeLocationLine 
{
	opacity: 1;
	margin-top:309px;
	margin-left:521px;
	width: 360px;
	height:2px;
}
.SelectedNode7 .NodeLocationLineVertical,
{
	opacity: 1;
	margin-top:309px;
	margin-left:519px;
	width: 2px;
	height:222px;
}
.SelectedNode7 .NodeLocationLineStart,
{
	opacity: 1;
}

.SelectedNode12 .NodeLocationLine 
{
	opacity: 1;
	margin-top:238px;
	margin-left:521px;
	width: 684px;
	height:2px;
}
.SelectedNode12 .NodeLocationLineVertical,
{
	opacity: 1;
	margin-top:238px;
	margin-left:519px;
	width: 2px;
	height:292px;
}
.SelectedNode12 .NodeLocationLineStart,
{
	opacity: 1;
}

.SelectedNode5 .NodeLocationLine 
{
	opacity: 1;
	margin-top:670px;
	margin-left:521px;
	width: 278px;
	height:2px;
}
.SelectedNode5 .NodeLocationLineVertical,
{
	opacity: 1;
	margin-top:530px;
	margin-left:519px;
	width: 2px;
	height:142px;
}
.SelectedNode5 .NodeLocationLineStart,
{
	opacity: 1;
}

.SelectedNode1 .NodeLocationLine 
{
	opacity: 1;
	margin-top:440px;
	margin-left:521px;
	width: 382px;
	height:2px;
}
.SelectedNode1 .NodeLocationLineVertical,
{
	opacity: 1;
	margin-top:440px;
	margin-left:519px;
	width: 2px;
	height:92px;
}
.SelectedNode1 .NodeLocationLineStart,
{
	opacity: 1;
}

.SelectedNode2 .NodeLocationLine 
{
	opacity: 1;
	margin-top:493px;
	margin-left:521px;
	width: 531px;
	height:2px;
}
.SelectedNode2 .NodeLocationLineVertical,
{
	opacity: 1;
	margin-top:493px;
	margin-left:519px;
	width: 2px;
	height:38px;
}
.SelectedNode2 .NodeLocationLineStart,
{
	opacity: 1;
}

.SelectedNode3 .NodeLocationLine 
{
	opacity: 1;
	margin-top:630px;
	margin-left:521px;
	width: 560px;
	height:2px;
}
.SelectedNode3 .NodeLocationLineVertical,
{
	opacity: 1;
	margin-top:530px;
	margin-left:519px;
	width: 2px;
	height:102px;
}
.SelectedNode3 .NodeLocationLineStart,
{
	opacity: 1;
}

.SelectedNode4 .NodeLocationLine 
{
	opacity: 1;
	margin-top:726px;
	margin-left:521px;
	width: 433px;
	height:2px;
}
.SelectedNode4 .NodeLocationLineVertical,
{
	opacity: 1;
	margin-top:530px;
	margin-left:519px;
	width: 2px;
	height:198px;
}
.SelectedNode4 .NodeLocationLineStart,
{
	opacity: 1;
}

.SelectedNode9 .NodeLocationLine 
{
	opacity: 1;
	margin-top:869px;
	margin-left:521px;
	width: 462px;
	height:2px;
}
.SelectedNode9 .NodeLocationLineVertical,
{
	opacity: 1;
	margin-top:530px;
	margin-left:519px;
	width: 2px;
	height:341px;
}
.SelectedNode9 .NodeLocationLineStart,
{
	opacity: 1;
}

.SelectedNode8 .NodeLocationLine 
{
	opacity: 1;
	margin-top:622px;
	margin-left:521px;
	width: 86px;
	height:2px;
}
.SelectedNode8 .NodeLocationLineVertical,
{
	opacity: 1;
	margin-top:530px;
	margin-left:519px;
	width: 2px;
	height:94px;
}
.SelectedNode8 .NodeLocationLineStart,
{
	opacity: 1;
}

.SelectedNode10 .NodeLocationLine 
{
	opacity: 1;
	margin-top:536px;
	margin-left:471px;
	width: 768px;
	height:2px;
}
.SelectedNode10 .NodeLocationLineVertical,
.SelectedNode10 .NodeLocationLineStart
{
	opacity: 0;
}

.SelectedNode11 .NodeLocationLine 
{
	opacity: 1;
	margin-top:560px;
	margin-left:471px;
	width: 432px;
	height:2px;
}
.SelectedNode11 .NodeLocationLineVertical,
.SelectedNode11 .NodeLocationLineStart
{
	opacity: 0;
}


#BasicNodeInfo
{
	width: 440px;
	height: fit-children;
	flow-children: down;
	background-color: gradient( linear, 0% 0%, 100% 0%, from( #1a0c0c00 ), to( #1a0c0c00 ) );
	horizontal-align: left;
	vertical-align: center;
	margin-left: 32px;
	z-index: 5000;
	background-blur: gaussian( 4 );	
	visibility: collapse;
	opacity: 0;
	
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;

	transition-property: transform, opacity;
	transition-duration: .2s;
	transform: translateY( 	0px );
	transform: translateX( -500px ) rotatey( -10deg );
}

.ShowingBasicNodeInfo #BasicNodeInfo
{
	visibility: visible;
	transform: translateX( 0px );
	opacity: 1;
}

.BasicNodeInfoHeader
{
	background-color: #000000bb;

	flow-children: down;

	width: 100%;
	text-align: center;
	padding-left: 20px;
	padding-right: 20px;
	
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}

.SelectedNodeIsLocked #BasicNodeInfoLongDesc,
.SelectedNodeIsLocked #StreakStats,
.SelectedNodeIsLocked .LoreButton,
.SelectedNode13 #StreakStats,
.SelectedNode13 .LoreButton
{
	visibility: collapse;
}

.SelectedNodeIsDefault #BasicNodeInfoLongDesc
{
    visibility: visible;
}

.CardbackImageContainer
{
	horizontal-align: center;
	width: 100%;
	height: 120px;
	margin-top: 0px;
	margin-bottom: 10px;
    visibility: collapse;
}

.SelectedNode13.GotCardback .CardbackImageContainer
{
    visibility: visible;
}

.CardbackAnimator
{
    horizontal-align: center;
    vertical-align: center;
    width: 120px;
    height: 120px;
    background-size: 100% 100%;
}

.GotCardback .CardbackAnimator
{
    animation-name: CardbackGet;
	animation-duration: 1.3s;
	animation-timing-function: linear;
	animation-iteration-count: 1;

	pre-transform-scale2d: 1.0;
    transform: translateY( 0px );
}

.CardbackImage
{
	horizontal-align: center;
    vertical-align: center;
	width: 60px;
	height: 100px;
    background-size: 100% 100%;
}

.GotCardback .CardbackImage
{
    animation-name: CardbackGetRot;
	animation-duration: 1.3s;
	animation-timing-function: linear;
	animation-iteration-count: 1;

    transform: rotateZ( 0deg );
}

@keyframes 'CardbackGet'
{
    0%
    {
	    pre-transform-scale2d: 0.0;
        transform: translateX( -200px ) translateY( 0px );
    }

    10%
    {
	    pre-transform-scale2d: 0.1;
        transform: translateX( -140px ) translateY( 0px );
    }

    20%
    {
	    pre-transform-scale2d: 0.2;
        transform: translateX( -90px ) translateY( 0px );
    }

    30%
    {
	    pre-transform-scale2d: 0.3;
        transform: translateX( -50px ) translateY( 0px );
    }

    40%
    {
	    pre-transform-scale2d: 0.4;
        transform: translateX( -20px ) translateY( 0px );
    }

    50%
    {
	    pre-transform-scale2d: 0.5;
        transform: translateX( 0px ) translateY( 0px );
    }

    60%
    {
	    pre-transform-scale2d: 0.6;
        transform: translateX( 10px ) translateY( 0px );
    }

    70%
    {
	    pre-transform-scale2d: 0.7;
        transform: translateX( 15px ) translateY( 0px );
    }

    80%
    {
	    pre-transform-scale2d: 0.8;
        transform: translateX( 17px ) translateY( 0px );
    }

    85%
    {
	    pre-transform-scale2d: 0.8;
        transform: translateX( 0px ) translateY( 0px );
    }

    92%
    {
	    pre-transform-scale2d: 1.2;
        transform: translateX( 0px ) translateY( 0px );
    }

    95%
    {
	    pre-transform-scale2d: 1.2;
        transform: translateX( 0px ) translateY( 0px );
    }
  
    100%
    {
        pre-transform-scale2d: 1.0;
        transform: translateY( 0px );
    }
}

@keyframes 'CardbackGetRot'
{
    0%
    {
        transform: rotateZ( 0deg );
    }

    10%
    {
        transform: rotateZ( -180deg );
    }

    20%
    {
        transform: rotateZ( -360deg );
    }

    21%
    {
        transform: rotateZ( 18deg );
    }

    30%
    {
        transform: rotateZ( -180deg );
    }

    40%
    {
        transform: rotateZ( -360deg );
    }

    41%
    {
        transform: rotateZ( 18deg );
    }

    50%
    {
        transform: rotateZ( -180deg );
    }

    60%
    {
        transform: rotateZ( -360deg );
    }

    61%
    {
        transform: rotateZ( 18deg );
    }

    70%
    {
        transform: rotateZ( -180deg );
    }

    80%
    {
        transform: rotateZ( -360deg );
    }

    81%
    {
        transform: rotateZ( 18deg );
    }

    85%
    {
        transform: rotateZ( -180deg );
    }

    92%
    {
        transform: rotateZ( -360deg );
    }

    95%
    {
        transform: rotateZ( 0deg );
    }
  
    100%
    {
        transform: rotateZ( 0deg );
    }
}

#BasicNodeInfoDeckName
{
	width: 100%;
	
	font-size: 28px;
	font-weight: light;
	letter-spacing: 4px;
	margin-top: 28px;
	color: gradient( linear, 0% 0%, 0% 100%, from( white ), color-stop( .05, white ), color-stop( .2, #999999 ) , to( #FFFFFF ) );
	text-shadow: 0px 0px 3px .5 #429ae4;	
	opacity: .6;
	text-align: center;

}

#BasicNodeInfoShortDesc
{
	width: 100%;
	font-size: 16px;
	font-weight: light;
	text-shadow: 1px 3px 8px 3.0 black;	
	color: #999999;
	margin-bottom: 28px;

	width: 100%;
	text-align: center;
}

#BasicNodeInfoLongDesc
{
	width: 100%;
	font-size: 16px;
	font-weight: light;
	text-shadow: 1px 3px 8px 3.0 black;	
	color: #cccccc;
	
	text-align: left;
	margin-top: 28px;
	margin-bottom: 28px;
}

#CheeveNodeInfo
{
	width: 440px;
	height: fit-children;
	flow-children: down;
	background-color: gradient( linear, 0% 0%, 100% 0%, from( #1a0c0c00 ), to( #1a0c0c00 ) );
	horizontal-align: left;
	vertical-align: center;
	margin-left: 32px;
	z-index: 5000;
	background-blur: gaussian( 4 );	
	visibility: collapse;
	opacity: 0;
	
	transition-property: transform, opacity;
	transition-duration: .2s;
	transition-delay: 0.5s;
	transform: translateY( 	0px );
	transform: translateX( -500px ) rotatey( -10deg );

	border-radius: 4px;
	border-radius: 4px;
}


.PageVisible.PlayChaosGauntlet #CheeveNodeInfo
{
	transform: translateX( 0px );
	opacity: 1;
}

.ShowingCheeveNodeInfo #CheeveNodeInfo
{
	visibility: visible;
}

.CheeveNodeInfoHeader
{
	background-color: #000000bb;

	flow-children: down;

	width: 100%;
	text-align: center;
	padding-left: 20px;
	padding-right: 20px;
	
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}

#CheeveNodeInfoDeckName
{
	width: 100%;
	
	font-size: 28px;
	font-weight: light;
	letter-spacing: 4px;
	margin-top: 28px;
	color: gradient( linear, 0% 0%, 0% 100%, from( white ), color-stop( .05, white ), color-stop( .2, #999999 ) , to( #FFFFFF ) );
	text-shadow: 0px 0px 3px .5 #429ae4;	
	opacity: .6;
	text-align: center;
}

#CheeveNodeInfoShortDesc
{
	width: 100%;
	font-size: 16px;
	font-weight: light;
	text-shadow: 1px 3px 8px 3.0 black;	
	color: #999999;
	margin-bottom: 28px;

	width: 100%;
	text-align: center;
}

#CheeveNodeInfoLongDesc
{
	width: 100%;
	font-size: 16px;
	font-weight: light;
	text-shadow: 1px 3px 8px 3.0 black;	

	width: 100%;
	text-align: left;
}

.LockButton
{
	width: fit-children;
	height: fit-children;
	horizontal-align: center;
	opacity: .5;
	visibility: collapse;
}

.LockImage
{
	horizontal-align: center;
	width: 128px;
	height: 128px;
	margin-top: 28px;
	margin-bottom: 28px;
}

.LockImageTop
{
	horizontal-align: center;
	width: 128px;
	height: 128px;
	margin-top: 28px;
	margin-bottom: 28px;
}

.SelectedNodeIsLocked .LockButton
{
	visibility: visible;
}

.SelectedNodeIsLocked.SelectedNodeIsDefault .LockButton
{
    visibility: collapse;
}

.AchievementsForSelectedNodeAreComplete.SelectedNodeIsDefault .LockButton
{
    visibility: visible;
}

.AchievementsForSelectedNodeAreComplete.SelectedNodeIsLocked .LockImageTop
{
	animation-name: ThrobLock;
	animation-duration: 1.2s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	
	//pre-transform-scale2d: 1;
	transform: translateY( -4px );
}

@keyframes 'ThrobLock'
{
    0%
    {
	//pre-transform-scale2d: 1;
        transform: translateY( -4px );
    }

    39%
    {
        //pre-transform-scale2d: 1.5;
        transform: translateY( -4px );
    }

    40%
    {
        //pre-transform-scale2d: 1.5;
        transform: translateY( -4px );
    }

    55%
    {
        //pre-transform-scale2d: 1.5;
        transform: translateY( -10px );
    }
  
    70%
    {
        //pre-transform-scale2d: 1;
        transform: translateY( -4px );
	}

    85%
    {
        //pre-transform-scale2d: 1.5;
        transform: translateY( -10px );
    }
  
    100%
    {
        //pre-transform-scale2d: 1;
        transform: translateY( -4px );
    }
}

#FeaturedDeckDetails
{
	flow-children: down;
}

.DeckDescriptionText
{
	color: #e2cfbf;
	width: 800px;
	font-size: 20px;
	text-shadow: 0px 2px 4px 2.0 black;
}

#FeaturedEventContentTitle
{
	flow-children: right;
}

.FeaturedEventContent
{
	width: 100%;
	height: fit-children;
	background-color:  gradient( linear, 0% 100%, 0% 0%, from( #18131a50 ), to( #18131a ) );
	flow-children: down;
	padding-left: 20px;
	padding-right: 20px;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
}

.SelectedNodeNone .FeaturedEventContent,
{
	background-color:  gradient( linear, 0% 100%, 0% 0%, from( #000000cc ), color-stop( .025, #18131a50 ), to( #18131a ) );
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;

}

#FeaturedEventDeckName
{
	margin-right: 10px;
	font-size: 40px;
	letter-spacing: 4px;
	text-shadow: 1px 3px 8px 3.0 black;
}

.CardColors
{
	height: 24px;
	width: 24px;
	margin-left: 5px;
	margin-right: 5px;
	border-radius: 4px;
	vertical-align: middle;
	border: 1px solid black;
	box-shadow: fill #000000c5 0px 3px 8px 0px;
}

.CardColors.Colorless
{
	border: 1px solid transparent;
	box-shadow: fill #00000000 0px 0px 0px 0px;
}

.CardColors.Blue
{
	background-color: gradient( radial, 50% 40%, 0% 0%, 80% 80%, from( #2f7492 ), to( #0e2833  ) );
}

.CardColors.Green
{
	background-color: #479036;
	background-color: gradient( radial, 50% 40%, 0% 0%, 80% 80%, from( #479036 ), to( #14380c  ) );
}

.CardColors.Black
{
	background-color: #423f49;
	background-color: gradient( radial, 50% 40%, 0% 0%, 80% 80%, from( #423f49 ), to( #1e1141  ) );
}

.CardColors.Red
{
	background-color: #c2352d;
	background-color: gradient( radial, 50% 40%, 0% 0%, 80% 80%, from( #c2352d ), to( #3b110f  ) );
}

.FeaturedTitle
{
	font-weight: thin;
}

#StreakStats
{
	flow-children: down;
	vertical-align: bottom;
	width: 100%;
	height: fit-children;
	margin-top: 16px;
	margin-bottom: 16px;

    visibility: collapse; // not working right now, add this back later
}

#FeaturedEventGraphic_Scene_BG,
#FeaturedEventGraphic_Scene
{
	width: 100%;
	height: 100%;
}

#Astrolabe_Scene
{
//	width: 1920px;
//	height: 1080px;
//Jeep made me add this.  If we ever can, we should figure out why it's actually crashing on 1176x664
	width: 99.9%;
	height: 99.9%;
	vertical-align: top;
}

.AspectRatio16x10#Astrolabe_Scene
{
	width: 1900px;
	height: 1200px;

	vertical-align: bottom;
}

.AspectRatio21x9 #FeaturedEventGraphic_Scene
{
	width: 1920px;
	horizontal-align: right;
}

.StreakContainer
{
	text-transform: uppercase;
	flow-children: right;
	width: 100%;
	height: fit-children;
}

.StreakType
{
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 14px;
	font-weight: light;
	text-shadow: 1px 3px 8px 3.0 black;	
	color: #999999;
	margin-bottom: 4px;
}

.StreakValue
{
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 14px;
	font-weight: light;
	text-shadow: 1px 3px 8px 3.0 black;	
	color: #999999;
	margin-left: 8px;
	margin-bottom: 4px;
}

.BasicNodeInfoFooter
{
	background-color: #000000bb;

	flow-children: down;

	width: 100%;
	height: fit-children;
	text-align: center;
	padding-left: 20px;
	padding-right: 20px;

	visibility: collapse;
}

.HasMutations .BasicNodeInfoFooter
{
	visibility: visible;
}

.RulesHeader
{
	margin-top: 18px;
	margin-bottom: 18px;
	color: #999999;
	text-transform: uppercase;
	horizontal-align: center;
	font-size: 14;
	letter-spacing: 2px;
	text-decoration: underline;
}

.RulesDesc
{
	width: 100%;
	font-size: 16px;
	font-weight: light;
	text-shadow: 1px 3px 8px 3.0 black;	
	color: #cccccc;

	width: 100%;
	text-align: left;
	margin-bottom: 28px;
}

#FeaturedActions #NextSelectionButton:hover:disabled,
#FeaturedActions #NextSelectionButton:disabled,
#FeaturedActions #PracticeMatchButton:hover:disabled,
#FeaturedActions #PracticeMatchButton:disabled,
.LoreButton:hover:disabled,
.LoreButton:disabled
{
	background-color: transparent;
}

#FeaturedActions #NextSelectionButton:disabled Label,
#FeaturedActions #PracticeMatchButton:disabled Label
{
	color: #E17A2A;
}

#EventProgressSummary
{
	width: 440px;
	height: 120px;
	flow-children: down;
	// background-color: gradient( linear, 0% 0%, 100% 0%, from( #1a0c0c00 ), to( #1a0c0c00 ) );
	background-color: #000000bb;
	horizontal-align: right;
	vertical-align: bottom;
	margin-bottom: 130px;
	margin-right: 32px;
	z-index: 5000;
	background-blur: gaussian( 4 );
	border-radius: 4px;
	transition-property: transform, opacity;
	transition-duration: .2s;
	transition-delay: 0.5s;
	transition-timing-function: ease-in-out;
	transform: translateX( 500px ) rotatey( -10deg );
	opacity: 0;
}


.PageVisible.PlayChaosGauntlet #EventProgressSummary
{
	transform: translateX( 0px ) rotatey( 0deg );
	opacity: 1;
}

.EventProgressSummaryInterior
{
	width: 100%;
	height: 100%;
	flow-children: right;
}


.ProgressContainer
{
	height: fit-children;
	width: 300px;
	flow-children: down;
	vertical-align: center;
}

.ProgressSummaryTitle
{
	color: uiBrightGrey;
	font-weight: light;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 18;
	horizontal-align: center;
}

.CurrentStreakLabel
{
	color: uiBrightGrey;
	opacity: .75;
	font-weight: light;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 14;
	horizontal-align: center;
}

.EventProgressBar
{
	width: 100%;
	height: 28px;
	border-width: 1px;
	border-radius: 0px;
	border: 1px solid #594597;
	margin-bottom: 12px;
}

.ProgressSummaryText
{
	horizontal-align: center;
	vertical-align: center;

	text-transform: uppercase;
	font-size: 14px;
	font-weight: light;
	text-shadow: 1px 3px 8px 3.0 black;	
	color: #999999;
	margin-top: 4px;
	margin-bottom: 0px;
}

#FeaturedLeaderboardContainer
{
	width: 440px;
	height: 586px;
	flow-children: down;
	background-color: #000000BB;
	horizontal-align: right;
	margin-right: 32px;
	margin-top: 140px;
	z-index: 5000;
	background-blur: gaussian( 4 );	
	border-radius: 4px;
	
	opacity: 0;
	
	transition-property: transform, opacity;
	transition-duration: .2s;
	transition-timing-function: ease-in-out;	
	transition-delay: 0.5s;
	transform: translateY( 	0px );
	transform: translateX( 500px ) rotatey( -10deg );
}

.PageVisible.PlayChaosGauntlet #FeaturedLeaderboardContainer
{
	transform: translateX( 0px ) rotatey( 0deg );
	opacity: 1;	
}

.AspectRatio16x10 #FeaturedLeaderboardContainer
{
	margin-bottom: 248px;
}

.NothingUnlocked #FeaturedLeaderboardContainer
{
	transform: translatex(500px);
}

.LeaderListName #ScoreLeaderboard 
{
	width: 100px;
}

#FeaturedLeaderboardTitle,
{
	width: 100%;
	text-align: center;
	font-weight: light;
	font-size: 16px;
	letter-spacing: 4px;
	text-transform: uppercase;
	margin-top: 4px;
	color: #999999;
	text-shadow: 0px 2px 4px 2.0 black;
}

#FeaturedLeaderboardDeckName
{
	width: 800px;
	font-size: 28px;
	font-weight: light;
	letter-spacing: 4px;
	margin-top: -6px;
	
	color: gradient( linear, 0% 0%, 0% 100%, from( white ), color-stop( .2, white ), color-stop( .27, #999999 ) , to( #FFFFFF ) );
	text-shadow: 0px 0px 3px .5 #429ae4;	
	opacity: .6;

	width: 100%;
	text-align: center;
}

.FeaturedLeaderboardHeader
{
	flow-children: down;

	width: 100%;
	height: 100px;
	text-align: center;
	padding: 5px;
}

.FeaturedLeaderboardTitleGroup
{
	flow-children: down;

	height: fit-children;
	width: 100%;
	vertical-align: center;
	horizontal-align: center;
}

#ScoreLeaderboard
{
	margin-top: -5px;
}

#ScoreLeaderboard #GlobalButton,
.Global .LeaderboardHeaderColumnNames,
{
	background-color: #1a0c0c;
}

.Global .LeaderboardEntryContainer,
{
	height: 340px;
	background-color: gradient( linear, 0% 100%, 0% 0%, from( #1a0c0ccc ), color-stop( .025, #1a0c0c50 ), to( #1a0c0c ) );
}

#ScoreLeaderboard #FriendsButton,
.Friends .LeaderboardHeaderColumnNames,
{
	background-color: #341610;
}

.Friends .LeaderboardEntryContainer
{
	height: 340px;
	background-color: gradient( linear, 0% 100%, 0% 0%, from( #00000075 ), color-stop( .025, #1a0c0c50 ), color-stop( .25, #34161050 ), to( #341610 ) );
}

#ScoreLeaderboard.Global .LeaderListRow.IsCurrentUser,
#ScoreLeaderboard.Friends .LeaderListRow.IsCurrentUser
{
	background-color: gradient( linear, 0% 0%, 100% 0%, from( #e2cfbf18 ), to( #ff002800 ) );
}

.LeaderboardTab Label

{
	color: #d1ae9d;
}

#ScoreLeaderboard .NavButton
{
	width: 200px;
}

.DeckCardPanel DCGViolator Label
{
		margin-top: 15px;
}

.DeckCardPanel DCGViolator
{
	img-shadow: 0px 2px 12px 10.0 #000000;
}

#QuestMap
{
	margin-top: 60px;
	width: 940px;
	height: 730px;
	vertical-align: center;
	horizontal-align: center;
	//background-color: #99000066;
	
	//background-image: url("s2r://panorama/images/events/chaos_gauntlet/cta_chaos_gauntlet_map_psd.vtex");
    background-size: 100% 100%;
}

.DeckColors
{
	horizontal-align: center;
	width: 100%;
}

#FeaturedActionsContainer
{
	horizontal-align: right;
	vertical-align: bottom;
	width: 440px;
	height: 96px;
	margin-right: 32px;
	margin-bottom: 28px;
	flow-children: down;

	transition-property: transform, opacity;
	transition-duration: .2s;
	transition-delay: 0.5s;
	transition-timing-function: ease-in-out;	

	transform: translateX( 500px ) rotatey( -10deg );
	opacity: 0;
}

.PageVisible.PlayChaosGauntlet #FeaturedActionsContainer
{
	transform: translateX( 0px ) rotatey( 0deg );
	opacity: 1;
	z-index: 100000;
}

#FeaturedActionsContainer #NextSelectionButton,
#FeaturedActionsContainer #PracticeMatchButton
{
	horizontal-align: left;
	vertical-align: top;
	width: 440px;
}

#AchievementStats
{
	flow-children: right;
	vertical-align: bottom;
	horizontal-align: center;
	width: 100%;
	height: fit-children;
	margin-top: 8px;
	margin-bottom: 16px;
}

#AchievementsCardbackLabel,
.SelectedNode13 #AchievementsLabel,
.SelectedNodeIsUnlocked #AchievementsLabel,
.SelectedNode13 #AchievementStats
{
    visibility: collapse;
	horizontal-align: center;
}

.SelectedNode13 #AchievementsCardbackLabel
{
    visibility: visible;
}

.Achievement
{
	width: fit-children;
	height: fit-children;
	flow-children: down;
	margin-left: 8px;
	margin-right: 8px;
	tooltip-body-position: 50% 0%;
}

.CheeveImageContainer
{
	width: fit-children;
	height: fit-children;
}

.CheeveBackground
{
	width: 80px;
	height: 80px;

	background-size: 100% 100%;
}

.Completed .CheeveBackground
{
	width: 80px;
	height: 80px;

	background-size: 100% 100%;
}

#CheeveProgressBar
{
	width: 80px;
	height: 80px;
	horizontal-align: center;
	vertical-align: center;
}

.Completed #CheeveProgressBar
{
	visibility: collapse;
}

#CheeveProgressBar_FG
{
	width: 97%;
	height: 97%;
	horizontal-align: center;
	vertical-align: center;
	border: 8px solid #462b48;
	border-radius: 50%;
}

#CheeveProgressBar_BG
{
	width: 97%;
	height: 97%;
	horizontal-align: center;
	vertical-align: center;

	border: 8px solid #999999;
	border-radius: 50%;
}

.CheeveProgress
{
	flow-children: down;
	width: 100%;
	height: fit-children;
	horizontal-align: center;
	margin-bottom: 28px;
}

.CheeveNumbers
{
	flow-children: right;
	width: fit-children;
	horizontal-align: center;
}

.CheeveNumbers Label
{
	text-transform: uppercase;
	font-size: 14px;
	font-weight: light;
	text-shadow: 1px 3px 8px 3.0 black;	
	color: #999999;
	margin-top: 4px;
	margin-bottom: 4px;
}

.Achievement10001.Progress .CheeveBackground { background-image: url("s2r://panorama/images/achievements/progress/achievement_progress_10001_psd.vtex"); }
.Achievement10002.Progress .CheeveBackground { background-image: url("s2r://panorama/images/achievements/progress/achievement_progress_10002_psd.vtex"); }
.Achievement10003.Progress .CheeveBackground { background-image: url("s2r://panorama/images/achievements/progress/achievement_progress_10003_psd.vtex"); }
.Achievement10004.Progress .CheeveBackground { background-image: url("s2r://panorama/images/achievements/progress/achievement_progress_10004_psd.vtex"); }
.Achievement10005.Progress .CheeveBackground { background-image: url("s2r://panorama/images/achievements/progress/achievement_progress_10005_psd.vtex"); }
.Achievement10006.Progress .CheeveBackground { background-image: url("s2r://panorama/images/achievements/progress/achievement_progress_10006_psd.vtex"); }
.Achievement10007.Progress .CheeveBackground { background-image: url("s2r://panorama/images/achievements/progress/achievement_progress_10007_psd.vtex"); }
.Achievement10008.Progress .CheeveBackground { background-image: url("s2r://panorama/images/achievements/progress/achievement_progress_10008_psd.vtex"); }
.Achievement10009.Progress .CheeveBackground { background-image: url("s2r://panorama/images/achievements/progress/achievement_progress_10009_psd.vtex"); }
.Achievement10010.Progress .CheeveBackground { background-image: url("s2r://panorama/images/achievements/progress/achievement_progress_10010_psd.vtex"); }
.Achievement10011.Progress .CheeveBackground { background-image: url("s2r://panorama/images/achievements/progress/achievement_progress_10011_psd.vtex"); }
.Achievement10012.Progress .CheeveBackground { background-image: url("s2r://panorama/images/achievements/progress/achievement_progress_10012_psd.vtex"); }
.Achievement10013.Progress .CheeveBackground { background-image: url("s2r://panorama/images/achievements/progress/achievement_progress_10013_psd.vtex"); }
.Achievement10014.Progress .CheeveBackground { background-image: url("s2r://panorama/images/achievements/progress/achievement_progress_10014_psd.vtex"); }
.Achievement10015.Progress .CheeveBackground { background-image: url("s2r://panorama/images/achievements/progress/achievement_progress_10015_psd.vtex"); }
.Achievement10016.Progress .CheeveBackground { background-image: url("s2r://panorama/images/achievements/progress/achievement_progress_10016_psd.vtex"); }
.Achievement10017.Progress .CheeveBackground { background-image: url("s2r://panorama/images/achievements/progress/achievement_progress_10017_psd.vtex"); }
.Achievement10018.Progress .CheeveBackground { background-image: url("s2r://panorama/images/achievements/progress/achievement_progress_10018_psd.vtex"); }
.Achievement10019.Progress .CheeveBackground { background-image: url("s2r://panorama/images/achievements/progress/achievement_progress_10019_psd.vtex"); }
.Achievement10020.Progress .CheeveBackground { background-image: url("s2r://panorama/images/achievements/progress/achievement_progress_10020_psd.vtex"); }
.Achievement10021.Progress .CheeveBackground { background-image: url("s2r://panorama/images/achievements/progress/achievement_progress_10021_psd.vtex"); }
.Achievement10022.Progress .CheeveBackground { background-image: url("s2r://panorama/images/achievements/progress/achievement_progress_10022_psd.vtex"); }
.Achievement10023.Progress .CheeveBackground { background-image: url("s2r://panorama/images/achievements/progress/achievement_progress_10023_psd.vtex"); }
.Achievement10024.Progress .CheeveBackground { background-image: url("s2r://panorama/images/achievements/progress/achievement_progress_10024_psd.vtex"); }

.Achievement10001.Completed .CheeveBackground { background-image: url("s2r://panorama/images/achievements/completed/achievement_completed_10001_psd.vtex"); }
.Achievement10002.Completed .CheeveBackground { background-image: url("s2r://panorama/images/achievements/completed/achievement_completed_10002_psd.vtex"); }
.Achievement10003.Completed .CheeveBackground { background-image: url("s2r://panorama/images/achievements/completed/achievement_completed_10003_psd.vtex"); }
.Achievement10004.Completed .CheeveBackground { background-image: url("s2r://panorama/images/achievements/completed/achievement_completed_10004_psd.vtex"); }
.Achievement10005.Completed .CheeveBackground { background-image: url("s2r://panorama/images/achievements/completed/achievement_completed_10005_psd.vtex"); }
.Achievement10006.Completed .CheeveBackground { background-image: url("s2r://panorama/images/achievements/completed/achievement_completed_10006_psd.vtex"); }
.Achievement10007.Completed .CheeveBackground { background-image: url("s2r://panorama/images/achievements/completed/achievement_completed_10007_psd.vtex"); }
.Achievement10008.Completed .CheeveBackground { background-image: url("s2r://panorama/images/achievements/completed/achievement_completed_10008_psd.vtex"); }
.Achievement10009.Completed .CheeveBackground { background-image: url("s2r://panorama/images/achievements/completed/achievement_completed_10009_psd.vtex"); }
.Achievement10010.Completed .CheeveBackground { background-image: url("s2r://panorama/images/achievements/completed/achievement_completed_10010_psd.vtex"); }
.Achievement10011.Completed .CheeveBackground { background-image: url("s2r://panorama/images/achievements/completed/achievement_completed_10011_psd.vtex"); }
.Achievement10012.Completed .CheeveBackground { background-image: url("s2r://panorama/images/achievements/completed/achievement_completed_10012_psd.vtex"); }
.Achievement10013.Completed .CheeveBackground { background-image: url("s2r://panorama/images/achievements/completed/achievement_completed_10013_psd.vtex"); }
.Achievement10014.Completed .CheeveBackground { background-image: url("s2r://panorama/images/achievements/completed/achievement_completed_10014_psd.vtex"); }
.Achievement10015.Completed .CheeveBackground { background-image: url("s2r://panorama/images/achievements/completed/achievement_completed_10015_psd.vtex"); }
.Achievement10016.Completed .CheeveBackground { background-image: url("s2r://panorama/images/achievements/completed/achievement_completed_10016_psd.vtex"); }
.Achievement10017.Completed .CheeveBackground { background-image: url("s2r://panorama/images/achievements/completed/achievement_completed_10017_psd.vtex"); }
.Achievement10018.Completed .CheeveBackground { background-image: url("s2r://panorama/images/achievements/completed/achievement_completed_10018_psd.vtex"); }
.Achievement10019.Completed .CheeveBackground { background-image: url("s2r://panorama/images/achievements/completed/achievement_completed_10019_psd.vtex"); }
.Achievement10020.Completed .CheeveBackground { background-image: url("s2r://panorama/images/achievements/completed/achievement_completed_10020_psd.vtex"); }
.Achievement10021.Completed .CheeveBackground { background-image: url("s2r://panorama/images/achievements/completed/achievement_completed_10021_psd.vtex"); }
.Achievement10022.Completed .CheeveBackground { background-image: url("s2r://panorama/images/achievements/completed/achievement_completed_10022_psd.vtex"); }
.Achievement10023.Completed .CheeveBackground { background-image: url("s2r://panorama/images/achievements/completed/achievement_completed_10023_psd.vtex"); }
.Achievement10024.Completed .CheeveBackground { background-image: url("s2r://panorama/images/achievements/completed/achievement_completed_10024_psd.vtex"); }

#NextSelectionButton, #PracticeMatchButton
{
	border: 1px solid rgb(19, 13, 31);
	height: 64px;
	padding: 0 32px;
	min-width: 220px;
	vertical-align: middle;
	box-shadow: #00000044 -2px -2px 4px 4px;
	border-radius: 2px;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( rgb(120, 194, 240) ), color-stop( .06, rgba(65, 233, 255, 0.26) ), color-stop( .5, rgba(42, 77, 104, 0.308) ), to( rgb(61, 65, 124) ) );			
	transition-property: background-color, box-shadow, border, brightness;
	transition-duration: 0.20s;
	transition-timing-function: ease-in-out;	
}

.LoreButton
{

    flow-children: right;
    width: 112px;
    height: 32px;
    brightness: 1;
    margin-bottom: 28px;
	border: 1px solid rgb(19, 13, 31);
	vertical-align: middle;
	box-shadow: #00000044 -2px -2px 4px 4px;
    border-radius: 2px;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( rgb(120, 194, 240) ), color-stop( .06, rgba(65, 233, 255, 0.26) ), color-stop( .5, rgba(42, 77, 104, 0.308) ), to( rgb(61, 65, 124) ) );			
	transition-property: background-color, box-shadow, border, brightness;
	transition-duration: 0.20s;
	transition-timing-function: ease-in-out;
	visibility: collapse;
}

.SelectedNodeIsLocked:disabled #NextSelectionButton,
.SelectedNodeIsLocked:disabled #PracticeMatchButton
{
	background-color: gradient( linear, 0% 0%, 0% 100%, from( rgb(194, 194, 194) ), color-stop( .06, rgba(120, 120, 120, 0.26) ), color-stop( .5, rgba(77, 77, 77, 0.308) ), to( rgb(61, 61, 61) ) );			
}

#NextSelectionButton:hover,
#PracticeMatchButton:hover,
.LoreButton:hover
{
	background-color: gradient( linear, 0% 0%, 0% 100%, from( rgb(197, 233, 255) ), color-stop( .06, rgba(54, 192, 227, 0.76) ), color-stop( .5, rgba(70, 133, 182, 0.308) ), to( rgb(61, 65, 124) ) );
}

#NextSelectionButton:active,
#PracticeMatchButton:active,
.LoreButton:active
{
	//background-color: gradient( linear, 0% 0%, 0% 100%, from( rgb(30, 38, 43) ), color-stop( .06, rgba(36, 51, 53, 0.76) ), color-stop( .5, rgba(70, 133, 182, 0.308) ), to( rgb(61, 65, 124) ) );
	brightness: 2;
}

#NextSelectionButton:hover:disabled,
#NextSelectionButton:disabled,
#PracticeMatchButton:hover:disabled,
#PracticeMatchButton:disabled,
.LoreButton:hover:disabled,
.LoreButton:disabled
{
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #272131 ), color-stop( .06, #302e44 ), color-stop( .5, #27213146 ), to(rgb(48, 40, 65) ) );			
}

#NextSelectionButton:enabled:hover #NextSelectionLabel,
#PracticeMatchButton:enabled:hover #NextSelectionLabel
{
	text-shadow: 0px 0px 12px 1 rgba(89, 255, 255, 1);
	color: white; 
}

.NextSelectionLabelContainer
{
	width: 100%;
	height: 100%;
}

#NextSelectionLabel
{
	font-size: 30px;
	letter-spacing: 6px;
	text-transform: uppercase;
	color: #e1e1dd;
	
	font-weight: lighter;
	text-align: center;
	vertical-align: middle;
	horizontal-align: center;

	transition-property: text-shadow, color;
	transition-duration: 0.20s;
	transition-timing-function: ease-out;
	text-shadow: 0px 1px 2px 1.8 black;
	margin-top: 6px;
}

.LoreButtonText
{
	font-size: 30px;
	color: #e1e1dd;

	color: rgb(184, 217, 255);
	color: gradient( linear, 0% 0%, 0% 100%, from( white ), color-stop( .3, rgb(233, 243, 255) ), color-stop( .3, rgb(224, 238, 255) ), color-stop( .8, rgb(184, 217, 255) ), to( rgb(184, 217, 255) ) );
	text-shadow: 0px 0px 12px 1 rgba(89, 182, 189, 0.733);	
	
	font-weight: lighter;
	text-align: center;
	vertical-align: middle;
	horizontal-align: center;
	margin-top: 4px;
	
	transition-property: text-shadow, color;
	transition-duration: 0.20s;
	transition-timing-function: ease-out;
}

#PopupContainer #NextSelectionLabel
{
	font-size: 24px;
}

#NextSelectionButton #NextSelectionLabel,
#PracticeMatchButton #NextSelectionLabel
{
	color: rgb(184, 217, 255);
	color: gradient( linear, 0% 0%, 0% 100%, from( white ), color-stop( .3, rgb(233, 243, 255) ), color-stop( .3, rgb(224, 238, 255) ), color-stop( .8, rgb(184, 217, 255) ), to( rgb(184, 217, 255) ) );
	text-shadow: 0px 0px 12px 1 rgba(89, 182, 189, 0.733);	
}

.SelectedNodeIsLocked:disabled #NextSelectionButton #NextSelectionLabel,
.SelectedNodeIsLocked:disabled #PracticeMatchButton #NextSelectionLabel
{
	color: grey;
}

#NextSelectionButton #NextSelectionLabel:hover,
#PracticeMatchButton #NextSelectionLabel:hover
{
	//color: rgb(255, 255, 255);
	//color: gradient( linear, 0% 0%, 0% 100%, from( white ), color-stop( .3, rgb(255, 255, 255) ), color-stop( .3, rgb(255, 255, 255) ), color-stop( .8, rgb(255, 255, 255) ), to( rgb(255, 255, 255) ) );
	//text-shadow: 0px 0px 22px 1 rgb(128, 246, 255);
	//text-shadow: 0px 0px 22px 1 red;
}

#NextSelectionButton:disabled #NextSelectionLabel,
#PracticeMatchButton:disabled #NextSelectionLabel
{
	color: rgb(84, 76, 99);
	text-shadow: 0px 0px 22px 1 rgb(0, 0, 0);
}

.OnNavigateBackButton
{
	z-index: 99;
	margin: 15px;
	height: 35px;
	width: 35px;
	background-image: url("s2r://panorama/images/catalogue/new_hud_back_arrow_catalogue_png.vtex");
	background-size: 100% 100%;
}