
DCGPostGameProgress
{
	width: 100%;
	height: 100%;
	overflow: noclip;
}

#DebugControls
{

	height: 100%;
	wash-color: rgb(90, 43, 90);
	flow-children: down;
	horizontal-align: left;
	visibility: collapse;
}

/*.BetaUniverse  #DebugControls
{
	visibility: visible;
}
*/
#DebugControls .PopupButton
{
	background-color: grey;
	border: 1px solid white;
	margin-left: 10px;
	margin-right: 10px;
	padding: 4px;

	vertical-align: bottom;
	margin-bottom: 5px;
}

#DebugControls .PopupButton:hover
{
	background-color: lightgray;
	border: 1px solid greenyellow;
}

#DebugControls .PopupButton Label
{
	font-size: 19px;
	color: white;
}

#DebugControls .PopupButton:hover Label
{
	color: black;
}

.DebuggingProgress #DebugControls
{
	visibility: visible;
}

#LevelUpKeyArt
{
	background-image: url("s2r://panorama/images/dialogs/popup_levelup_psd.vtex");
	horizontal-align: center;
    vertical-align: top;
	background-size: 90%;
	background-repeat: no-repeat;
	height: 600px;

    width: height-percentage( 67.5% );
	margin-right: 280px;
	margin-top: 30px;
	transform: translateY(900px) rotateZ(20deg);
	transform-origin: 50% 50%;
	z-index: 0;

	transition-property: opacity, transform;
	transition-duration: 0.5s;
	transition-timing-function: ease-in;
	transition-delay: 2.5s;
}

.LeveledUp.LeveledUpWithRewards #LevelUpKeyArt
{
	transform: translateY(0px) rotateZ(0deg);

}

#ProgressScreens
{
	width: 100%;
	height: 90%;
	height: fit-children;
	flow-children: down;
	overflow: noclip;
}

.ProgressScreen
{
	width: 100%;
	height: 100%;
	height: fit-children;
	overflow: noclip;

	transition-property: opacity, transform;
	transition-duration: 0.5s;

	opacity: 1.0;

	animation-name: FadeIn;
	animation-duration: 1.5s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: 1;
}

@keyframes 'FadeIn'
{
	0%
	{
		opacity: 0;
	}
	
	100%
	{
		opacity: 1;
	}	
}

.ProgressScreenTitle
{
	horizontal-align: center;
	font-size: 72px;
	color: white;
	margin-bottom: 30px;
	letter-spacing: 2px;
	//text-shadow: 2px 2px 0px black;
}

#PlayerLevelProgressScreen
{
}

#PlayerLevelProgressMain
{
	width: 100%;
	horizontal-align: center;
	overflow: noclip;
	margin-top: 0px;
}

#PlayerLevelProgressCenter
{
	margin-top: 30px;
	horizontal-align: center;
	flow-children: down;

	opacity: 0.0;
	opacity: 1.0;

	transition-property: opacity, transform, blur;
	transition-delay: 0s, 0s, 3s;
	transition-duration: 0.5s;
}

.ShowPlayerLevelUp #PlayerLevelProgressCenter
{
	opacity: 1.0;
	transform: none;
}

.LeveledUp #PlayerLevelProgressCenter
{
	blur: gaussian(16px);
	transition-delay: 0s;
}

.GauntletLeveledUp #PlayerLevelProgressScreen,
.GauntletLeveledUp #PlayerGauntletProgressScreen
{
	blur: gaussian(16px);
	opacity: 0.3;
}

#AccountProgressContainer
{
	flow-children: down;
}

#BadgeWhiteCover
{
	width: 92px;
	height: 92px;
	margin: 2px;
	border-radius: 4px;
	z-index: 99;
	background-color: rgb(243, 205, 255);
	opacity: 0;
	
	animation-duration: 0.5s;
	animation-delay: 1.1s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: 1;	
	
}

.LeveledUp #BadgeWhiteCover
{
	animation-name: WhiteBurst;
}


@keyframes 'WhiteBurst'
{
	0%
	{
		opacity: 0;
	}
	20%
	{
		opacity: 1;
	}
	
	100%
	{
		opacity: 0;
	}	
}

.PlayerLevelProgressTitleContainer
{
	height: 108px;
}

.PlayerLevelProgressTitle
{
	flow-children: right;
}

.PlayerLevelProgressLevelProgressTitle
{
	color: rgb(191, 145, 240);
}

.PlayerLevelProgressXP
{
	color: #7C6891;
	font-size: 16px;
	vertical-align: bottom;
	padding-bottom: 4px;
	margin-left: 8px;
}

.PlayerLevelProgressCurrentLevel
{
	color:rgb(153, 108, 202);
	font-size: 96px;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight: thin;
	padding-top: 4px;
	letter-spacing: 2px;
	horizontal-align: center;
	margin-top: 96px;
	text-shadow: 0px 0px 6px  5 black;

	animation-duration: 2.0s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: 1;	
	
	opacity: 0;
}

.LeveledUp .PlayerLevelProgressCurrentLevel
{
    animation-name: LevelUpNumberBurst;
}


@keyframes 'LevelUpNumberBurst'
{
	0%
	{
		color: white;
		opacity: 0;
		pre-transform-scale2d: 0.8;
	}
	20%
	{
		opacity: 1;
		transform: translateY(2px) translateX(0px);
		pre-transform-scale2d: 1;
	}

	50%
	{
		opacity: 1;
		transform: translateY(2px) translateX(0px);
		pre-transform-scale2d: 1;
	}
	
	60%
	{
		opacity: 1;
		transform: translateY(46px) translateX(-307px);
		pre-transform-scale2d: .2;
		color:rgb(153, 108, 202);
	}
	
	80%
	{
		opacity: 0;
		
	}	
	100%
	{
		opacity: 0;
		color:rgb(153, 108, 202);
		transform: translateY(46px) translateX(-307px);
	}	
}

.PlayerLevelProgressTitle > Label
{
	margin-left: 16px;
	vertical-align: middle;
	font-size: 48px;
	color: white;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 2px;
}

.PlayerLevelProgressIcon
{
	width: 96px;
	height: fit-children;
	margin-right: 16px;

	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
}

#PlayerXPProgressRows
{
	flow-children: down;
	
	width: 100%;
	max-height: 282px;
	overflow: clip scroll;
}

.PlayerXPProgressRow
{
	flow-children: right;

	width: 100%;

	opacity: 0.0;
	transform: translateX( 350px );
	height: 0px;
	blur: gaussian( 2, 0.2, 11);

	transition-property: blur, opacity, transform, height ;
	transition-duration: 0.52s, 0.42s, 0.32s, 0.12s;
	transition-timing-function: ease-in;
}

.PlayerXPProgressRow.ShowRow
{
	sound: "PlayerXPProgressRow.ShowRow";
	opacity: 1.0;
	transform: none;
	height: 32px;
	blur: gaussian( 0 );
}

.PlayerXPProgressRowType
{
	vertical-align: middle;
	color: white;
	width: 450px;
	width: fill-parent-flow(1);
	width: 100%;
	font-size: 24px;
	padding-bottom: 0px;
	text-transform: uppercase;
	letter-spacing: 1px;
	text-shadow: 0px 0px 6px #B68ADF;
	text-overflow: shrink;

	transition-property: color, text-shadow;
	transition-duration: .8s;
	transition-timing-function: ease-in;
}

#TotalsRow .PlayerXPProgressRowType,
.ShowValue .PlayerXPProgressRowType
{
	color: #B68ADF;
	text-shadow: 2px 2px 0px black;
}

.PlayerXPProgressRowChallengeDetails .PlayerXPProgressRowType
{
	padding-bottom: 4px;
}


.PlayerXPProgressRowValue
{
	vertical-align: middle;
	color: #86709b;
	text-shadow: 0px 0px 2px 2.0 #9400D311;
	
	font-size: 24px;
	font-weight: normal;
	width: 150px;
	text-align: right;
	//text-transform: uppercase;
	letter-spacing: 2px;
	//text-shadow: 2px 2px 0px black;

	opacity: 0;

	transition-property: opacity;
	transition-duration: 0.2s;
}

.PlayerXPProgressRow.ShardReward .PlayerXPProgressRowValue
{
	width: 120px;
	text-overflow: shrink;
}

.PlayerXPProgressRow.ShowValue .PlayerXPProgressRowValue
{
	opacity: 1;
}

#TotalsRow.PlayerXPProgressRow .PlayerXPProgressRowValue
{
	opacity: 1;
	font-weight: bold;
	color: #af91cc;
}



.PlayerXPProgressRow_Challenge .PlayerXPProgressRowChallengeDetails
{
	flow-children: down;
	width: 100%;
	font-size: 20px;
}

.PlayerXPProgressRow_Challenge .PlayerXPProgressRowChallengeDetailsBottom
{
	flow-children: right;
	width: 450px;
}

.PlayerXPProgressRow_Challenge .PlayerXPProgressRowChallengeName
{
	vertical-align: middle;
	color: #ccc;
	margin-left: 4px;
	margin-top: 1px;
	letter-spacing: 1px;
	width: 324px;
}

.PlayerXPProgressRow .PlayerXPProgressRowNameBox,
#TotalsRow.PlayerXPProgressRow .PlayerXPProgressRowNameBox,
.PlayerXPProgressRow_Challenge .PlayerXPProgressRowNameBox
{
	width: fill-parent-flow( 1.0 );
	flow-children: down;
}

.PlayerXPProgressRow_Challenge .PlayerXPProgressRowDescription
{
	visibility: collapse;
	vertical-align: middle;
	color: #86709b;
	width: 450px;
	width: 100%;
	height: 24px;
	font-size: 16px;
	padding-bottom: 0px;
	margin-top: -6px;
	margin-left: 14px;
	text-transform: uppercase;
	letter-spacing: 1px;
	text-overflow: shrink;

	transition-property: color, text-shadow;
	transition-duration: .8s;
	transition-timing-function: ease-in;
}

.PlayerXPProgressRow_Challenge.has_description
{
	height: 48px;
}

.PlayerXPProgressRow_Challenge.has_description .PlayerXPProgressRowDescription
{
	visibility: visible;
}

#HeroBadgeLevelUpPanel
{
	opacity:  0;
}

#PlayerLevelProgressSection
{
	width: 600px;
	flow-children: right;

}

#PlayerLevelProgressSection > Label
{
	font-size: 24px;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight: bold;
}

#PlayerLevelProgressSection .HeroBadgeLevelProgressXP
{
	color: #d7c883;
	font-size: 16px;
	vertical-align: bottom;
	padding-bottom: 4px;
	margin-left: 8px;
}

#PlayerLevelProgressContainer
{
	width: 600px;
}

#PlayerLevelProgress
{
	height: 16px;
	width: 100%;
}

ProgressBar
{
	margin-top: 18px;
	background-color: #0008;
	border: 2px solid rgb(58, 29, 126);
}

#PlayerLevelProgress .ProgressBarLeft
{
	background-color: gradient( linear, 100% 100%, 0% 0%, from( rgb(215, 172, 255) ), color-stop( .12, rgb(120, 78, 218) ), to( rgb(58, 29, 126) ) );
	border: 0px solid black;
	margin: 2px;
	border-radius: 2px;
}

#ProgressFXContainer
{
	width: 100%;
	height: 100%;
	overflow: noclip;
}

#PlayerLevelProgressBurner
{
	hue-rotation: 0deg;
	brightness: 1.5;
	width: 596px;
	height: 100%;
	horizontal-align: left;
}

#PlayerLevelProgressContainer > Label
{
	font-size: 24px;
	color: white;
	//text-shadow: 1px 1px 0px black;
	horizontal-align: center;
	margin-top: 1px;
	letter-spacing: 2px;
}

#PlayerLevelProgressCore
{
	width: 100%;
	margin-top: 16px;
}

#PlayerLevelProgressXPGrid
{
	flow-children: down;
	width: 600px;
	width: 100%;
	margin-top: 8px;
}

#TotalsRow
{
}

#TotalsHLine
{
	width: 100%;
	height: 2px;
	margin: 16px 0;
	background-color: gradient( linear, 100% 100%, 0% 0%, from( rgb(58, 29, 126) ), color-stop( .5, rgb(120, 78, 218) ), to( rgb(58, 29, 126) ) );
}

#TotalsRow.PlayerXPProgressRow
{
	opacity: 1;
	transform: none;
	height: 42px;
	blur: gaussian( 0 );
}

#TotalsRow.PlayerXPProgressRow .PlayerLevelProgressRowValue
{
	opacity: 1;
}

#PlayerLevelUpPanel
{
	horizontal-align: center;
	margin-top: -64px;
	width: 100%;
	height: 300px;
	z-index: 100;
	
	/*opacity-mask: url("s2r://panorama/images/masks/softedge_box_png.vtex");*/

	opacity: 0.01;
	transition-property: opacity, transform;
	transition-duration: 0.5s;
}


#PlayerLevelUpPanelWithRewardsContainer
{
	margin-top: 200px;
	width: 100%;
	overflow: noclip;
	z-index: 101;
} 

#PlayerLevelUpPanelWithRewards
{
	horizontal-align: center;

	width: 100%;
	height: 1080px;
	margin-top: -250px;
	z-index: 100;
	background-color: #000000d4;
	//opacity-mask: url("s2r://panorama/images/masks/softedge_box_png.vtex");
	visibility: collapse;
	opacity: 0.0;
	transition-property: opacity, transform;
	transition-delay: 2.5s;
	transition-duration: 0.5s;
}

#EffectsPanel
{
	width: 100%;
	height: 100%;
}

.LeveledUp #PlayerLevelUpPanel
{
	opacity: 1;
	visibility: visible;
}

.LeveledUp.LeveledUpWithRewards  #PlayerLevelUpPanel
{
	opacity: 1;
	visibility: visible;
}

.LeveledUp.LeveledUpWithRewards  #PlayerLevelUpPanelWithRewards
{
	opacity: 1;
	transition-delay: 0s;
	visibility: visible;
}


#LevelUpTitle
{
	margin-top: 80px;
	width: 100%;
	text-align: center;
	font-size: 56px;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight: bold;
	color: #d9c98d;
	visibility: collapse;
}

#LevelUpValue
{
	visibility: collapse;
	width: 100%;
	margin-top: 170px;
	text-align: center;
	font-size: 36px;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight: bold;
	color: #a68141;
}

#PlayerLevelProgressRewards
{
	flow-children: down;
	horizontal-align: center;
	width: 100%;
	margin-top: 240px;
	overflow:noclip;
}

#PlayerLevelProgressRewardsList
{
	margin-top: 40px;
	flow-children: right;
	horizontal-align: center;
	overflow:noclip;
}

#RewardsFinishedButton
{
	margin-top: 30px;
	horizontal-align: center;
	transform: translateY(32px);
	opacity: 0.0;

	transition-property: opacity, transform;
	transition-duration: 0.5s;
	transition-timing-function: ease-in;
}

.RewardsFinished #RewardsFinishedButton
{
	opacity: 1.0;
	transform: translateY(0px);
}

// continue button

#RewardLevelReached,
.MenuButton Label
{
	text-align: center;
	horizontal-align: center;
	font-weight: light;
	font-size:35px;
	letter-spacing: 8px;
	text-transform: uppercase;
	color: #86709b;
	
	text-shadow: 0px 0px 2px 2.0 #9400D311;
	opacity: .85;
	transform: none;

	transition-property: text-shadow, opacity, color, transform, pre-transform-scale2d;
	transition-duration: .25s;	
	transition-timing-function: ease-in;
}

.MenuButton Label:hover
{
	animation-name: none;
	color: white;
}

.MenuButton Label
{
	animation-duration: 1.3s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;	
	animation-name: ContinuePulse;
}

@keyframes 'ContinuePulse'
{
	0%
	{
		color: #86709b;
	}
	50%
	{
		color: #f2e3ff;
	}
	
	100%
	{
		color: #86709b;
	}	
}

#RewardLevelReached
{
	margin-top: 30px;
	transition-duration: 0.5s;
	text-shadow: 0px 0px 4px 5.0 rgba(0, 0, 0, 1);
}

.RewardsFinished #RewardLevelReached
{
	opacity: 1;
	pre-transform-scale2d: .5;
	transform: translateY(-36px);
}


#MessageAndButton
{
	margin-top: 16px;
	height: 110px;
	flow-children: none;
	horizontal-align: center;
}

.PlayerLevelUpReward
{
	flow-children: down;
	width: 0px;
	margin: 0 8px;
	border-radius: 16px;
	background-color: gradient( radial, 50% 10%, 0% 0%, 95% 95%, from( rgb(85, 159, 255) ), to( #30216A ) );

	opacity: 0.01;
	pre-transform-scale2d: .1;

	transition-property: opacity, pre-transform-scale2d, width;
	transition-duration: 0.25s, 0.25s, 0.15s;
	border: 1px solid #6F92B4;
	box-shadow: #349dff26 -8px -8px 16px 16px;
}

.PlayerLevelUpReward.ShowReward
{
	width: 164px;
	sound: "HeroBadgeLevelUpReward.ShowReward";
	opacity: 1.0;
	pre-transform-scale2d: 1;
}

.PlayerLevelUpRewardPack
{
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-image: url("s2r://panorama/images/packs/pack_cta_png.vtex");
}

.PlayerLevelUpRewardTicket
{	
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-image: url("s2r://panorama/images/tickets/eventticket_png.vtex");
}

.PlayerLevelUpRewardImage .ArtifactLevelLabel
{
	visibility: collapse;
}

#BadgeContainer
{
	height: fit-children;
}

.PlayerLevelUpRewardImage
{
	width: 100px;
	height: 100px;
	margin-top: 8px;
	horizontal-align: center;
	margin-bottom: 8px;

	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;

}

.PlayerLevelUpRewardBadge #BadgeIcon
{
	box-shadow: inset #000000 2px 6px 6px 6px;
	width: 100%;
	height: 138px;
	margin: 12px;
	border-radius: 6px;
}

.PlayerLevelUpRewardTitle
{
	color: white;
	text-transform: uppercase;
	letter-spacing: 2px;
	horizontal-align: center;
	font-size: 16px;
	text-align: center;
	width: 164px;
	//text-shadow: 2px 2px 0px black;
	height: 27px;
	text-overflow: shrink;
}

.PlayerLevelUpRewardLine
{
	width: 20px;
	height: 2px;
	margin-top: 4px;
	margin-bottom: 10px;
	background-color: gold;
	horizontal-align: center;
}

.PlayerLevelUpRewardValue
{
	color: gold;
	text-transform: uppercase;
	letter-spacing: 2px;
	horizontal-align: center;
	font-size: 20px;
	text-align: center;
	width: 194px;
	//text-shadow: 2px 2px 0px black;
	height: 27px;
	text-overflow: shrink;
}


#GodRays
{
	width: 1024px;
	height: 300px;
	margin-left: -2px;
}

#GodRays.InGauntlet
{
	margin-top: -45px;
	margin-left: 10px;
}



#PlayerGauntletPointsProgressRows
{
	flow-children: down;
	
	width: 100%;
	max-height: 282px;
	overflow: clip scroll;
}
