DCGPurchaseBox
{
    flow-children: down;
    width: fit-children;
    height: fit-children;
}

#PackDetailsContents
{
	flow-children: down;
	background-color: #000000ba;
	padding: 14px;
  width: 460px;
  vertical-align: bottom;
  box-shadow: #00000084 -8px -8px 16px 16px;
 
}
.PackDetailsRow
{
}

#PackIdentity
{
	flow-children: down;
}

#PackName
{
	margin-right: 5px;
	font-size: 28px;
	line-height: 28px;
	margin-top: -6px;
	font-weight: bold;
	color: #e1e1dd;
	text-transform: uppercase;
	width: 340px;
}

#PackImageContainer
{
	flow-children: down;
}

#ItemImage
{
	width: 86px;
    height: width-percentage( 65% );
    height: 86px;
    tooltip-position: right;
    border-radius: 6px;
    border: 1px solid black;
    box-shadow: fill #00000084 -4px 0px 8px 8px;

    background-color: #000a;
    margin-bottom: 12px;
    background-size: cover;    
}

.DefIndex1000 #ItemImage
{
    background-image: url("s2r://panorama/images/packs/pack_cta_png.vtex");
}

.DefIndex500 #ItemImage
{
    background-image: url("s2r://panorama/images/dialogs/eventticket_steamicon_square_png.vtex");
}

#PackPurchaseRow
{
	opacity: 1;
	max-height: 100%;

	transition-property: max-height;
	transition-duration: 0.2s;
	transition-timing-function: ease-in-out;
}

.GCStatusVisible #PackPurchaseRow
{
    visibility: collapse;
}

#MiniItemIcon
{
    height: 40px;
	width: 40px;
    vertical-align: center;
    wash-color: #ccc;
    margin-left: -4px;
   
	background-repeat: no-repeat;
	background-size: cover;
}

.DefIndex1000 #MiniItemIcon 
{
	background-image: url("s2r://panorama/images/main_menu/icon_packs_psd.vtex"); 
}

.DefIndex500 #MiniItemIcon
{
    background-image: url("s2r://panorama/images/tournaments/icon_ticket_psd.vtex");   
}

#CurrentItemCount
{
    color: #aaa;
	margin-top: 6px;
	margin-right: 30px;
	vertical-align: center;
	height: 30px;
	width: 100px;
//	text-overflow: shrink;
	text-align: left;
	font-size: 20px;
	//text-shadow: 1px 1px 1px 2 black;
}

#QuantityDropDown
{
    width: 132px;
    margin-right: 8px;
}

.PopupTickets #PackDetailsContents
{
	background-color: #292445aa;
	margin-top: 64px;
	margin-bottom: 8px;
}

.PopupCardPack #PackDetailsContents
{
	background-color: #451c15aa;
	margin-top: 64px;
	margin-bottom: 8px;
}

.PopupTickets DCGPurchaseBox
{
	horizontal-align: right;	
}
