DCGScenePanel
{
	horizontal-align: center;
	vertical-align: center;

	font-size: 32px;
	
	overflow: clip;

	brightness: 3;
    opacity: 0.001; /* Annoying hack to get around the fact that non-painting scene panels won't load their scene, so we can't actually transition them to be visible */
	pre-transform-scale2d: 0.98;
	wash-color: #5EC8FF;
	transition-property: opacity, brightness, pre-transform-scale2d, wash-color, saturation;
	transition-duration: 0.24s;
	transition-timing-function: ease-out;
}

#LimitedStage DCGScenePanel
{
	transition-property: brightness, pre-transform-scale2d, wash-color, saturation;
}

.SceneLoaded
{
	brightness: 1;
    opacity: 1;
	pre-transform-scale2d: 1;
	wash-color: white;
}

DCGScenePanel.LoadingNewEntity
{
	opacity: 0;
	brightness: 3;
}