DCGScenePanel
{
	horizontal-align: center;
	vertical-align: center;

	font-size: 32px;
	
	overflow: clip;

	brightness: 3;
    opacity: 0.001; /* Annoying hack to get around the fact that non-painting scene panels won't load their scene, so we can't actually transition them to be visible */
	wash-color: #5EC8FF;
	transition-property: opacity, brightness, wash-color, saturation;
	transition-duration: 0.24s;
	transition-timing-function: ease-out;
}

#LimitedStage DCGScenePanel
{
	transition-property: none;
}

.SceneLoaded
{
	brightness: 1;
    opacity: 1;
	wash-color: white;
}

DCGScenePanel.LoadingNewEntity
{
	opacity: 0.001;
}

.ActivePlayer .LiveDraftCardLabel
{
	color: #f1f2f6;
	text-shadow: 0px 0px 6px 3.0 #424c6a;
}

.LiveDraftCardLabel
{
	vertical-align: center;
	horizontal-align: center;
	color: #424c6a;
	font-size: 44px;
	visibility: collapse;
}

.NoCardSet .LiveDraftCardLabel
{
	visibility: visible;
}

.HighlightHeroResponsibleForInclusion
{
	box-shadow: #0dfffc 0px 0px 4px 0px;
	transition-property: box-shadow, border;
	transition-duration: 0.25s;
	animation-name: HeroLineupPortraitGlowAnimation;
	animation-duration: 0.5s;
	animation-delay: 0.0s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
}