DCGScenePanel
{
	horizontal-align: center;
	vertical-align: center;

	font-size: 32px;
	
	overflow: clip;

	brightness: 3;
    opacity: 0;
	pre-transform-scale2d: 0.2;
	wash-color: #5EC8FF;

}

.SceneLoaded
{
	brightness: 1;
    opacity: 1;
	pre-transform-scale2d: 1;
	wash-color: white;
}