
.SectionHeaderLabel
{
	font-size: 24px;
	font-weight: thin;
	color: #939da0;
	text-transform: uppercase;
	margin-bottom: 5px;
	margin-left: 3px;
}

.SectionHeaderLine
{
	height: 2px;
	width: 100%;
	margin: 2px;
	background-color: #3b3f40;
	margin-bottom: 12px;
}

.SettingsDualColumn
{
	flow-children: down;
	margin: 0px;
	width: 50%;
	padding: 0px 16px 0px 16px;
}

.FullHeight
{
	height: 100%;
}

.HalfHeight
{
	height: 50%;
}

.OptionsCheckBox
{
	padding-top: 12px;
	padding-bottom: 12px;
}

.OptionsCheckBox Label
{
	vertical-align: center;
	margin-top: 2px;
	margin-bottom: 0px;
	margin-left: 6px;
	margin-right: 20px;
	font-size: 18px;
	color: #7d8688;
}

.CheckBox,
DCGSettingsCheckbox
{
	flow-children: right;
	background-color: none;
}

.CheckBox .TickBox
{
	width: 18px;
	height: 18px;
}

// Video Panel
#CustomVideoResolution
{
	margin-top: 16px;
	padding-left: 24px;
	padding-right: 0px;
}

#CustomVideoResolution:disabled RadioButton,
#CustomVideoResolution:disabled Label,
#CustomVideoResolution:disabled DropDown,
#CustomVideoResolution:disabled .radiobox,
#CustomVideoResolution:disabled Button
{
	border-color: #444444;
	color: #444444;
	background-color:#00000000;
}

#ResolutionDropDown, #ResolutionDropDownDropDownMenu, #ResolutionDropDownDropDownMenu Label
{
	width: 250px;
}

#DisplayModePanel
{
	margin-left: 25px;
}

#VideoAcceptButtonsPanel
{
	margin-top: 30px;
}

#VideoAcceptButtonsPanel Button
{
	margin-left: 25px;
}

#AdvancedVideo
{
	padding-left: 10px;
	flow-children: down;
	width: 100%;
}

#AdvancedTopContainer
{
	flow-children: right;
	width: 100%;
	height: 200px;
}

Slider.HorizontalSlider
{
	width: 100%;
	height: 30px;
}

#BestLookingLabel
{
	horizontal-align: right;
}

#VideoSliderLabels
{
	width: 100%;
	margin-left: 28px;
	margin-bottom: 12px;
	margin-top: 6px;
}

#VideoSliderLabels:disabled Label
{
	color: #333333;
}

#BasicVideo
{
	flow-children: down;
    width: 100%;
}

.DCGSettingsSlider
{
	width: 100%;
}

#BasicVideo SlottedSlider
{
	width: 100%;
	margin-left: 28px;
}

SlottedSlider.HorizontalSlider .SliderNotch
{
	margin-top: 14px;
	border-bottom: 2px solid #5e686966;
	border-left:2px solid #5e686966;
	border-right:2px solid #5e686966;
	background-color: black;
	width: 12px;
	height: 12px;
	vertical-align: bottom;
	z-index: 3;
}


Slider.HorizontalSlider, SlottedSlider.HorizontalSlider
{
	width: 420px;
	height: 30px;
}

Slider.HorizontalSlider #SliderTrack, SlottedSlider.HorizontalSlider #SliderTrack
{
	height: 16px;
	width: 100%;

	padding: 10px;
}

Slider.HorizontalSlider #SliderTrackProgress, SlottedSlider.HorizontalSlider #SliderTrackProgress
{
	width: 100%;
	height: 10px;
	background-color: gradient( linear, 0% 0%, 100% 0%, from( #222222FF ), to( #444f52FF ) );
	box-shadow: inset black 0px 1px 4px 0px;
	margin-left: 1px;
}

Slider.HorizontalSlider #SliderTrackProgress:disabled, SlottedSlider.HorizontalSlider #SliderTrackProgress:disabled
{
	width: 100%;
	height: 10px;
	background-color: gradient( linear, 0% 0%, 100% 0%, from( #010101FF ), to( #333333FF ) );
	box-shadow: inset black 0px 1px 4px 0px;
	margin-left: 1px;
}


Slider.HorizontalSlider #SliderThumb, SlottedSlider.HorizontalSlider #SliderThumb
{
	background-color: gradient( radial, 50% 50%, -5% -5%, 60% 60%, from( #91a5b9 ), to( #444f52 ) );
	border-radius: 13%;
	width: 16px;
	height: 30px;
}

Slider.HorizontalSlider #SliderThumb:hover, SlottedSlider.HorizontalSlider #SliderThumb:hover
{
	background-color: gradient( radial, 50% 50%, -5% -5%, 60% 60%, from( #b8c5d3 ), to( #444f52 ) );
}

Slider.HorizontalSlider #SliderThumb:disabled, SlottedSlider.HorizontalSlider #SliderThumb:disabled
{
	background-color: #333333;
}

#SliderTrack
{
	height: 120px;
	width: 16px;
	background-color: #283842;
	align: center center;
	background-color: black;
	border: 2px solid #5e686966;
	box-shadow: #00000055 -2px -2px 1px 4px;
	z-index: 2;

}

#SliderTrackProgress
{
	width: 10px;
	height: 99%;
	background-color: gradient( linear, 0% 100%, 0% 0%, from( #222222FF ), to( #444f52FF ) );
	align: center center;
	border-radius: 3px;
	z-index: 3;
}

#SliderThumb
{
	background-color: gradient( radial, 50% 50%, -5% -5%, 60% 60%, from( #91a5b9 ), to( #444f52 ) );
	border-radius: 13%;
	width: 30px;
	height: 16px;
	box-shadow: fill black 1px 1px 32px 0px;
	z-index: 4;
}

#SliderThumb:hover
{
	background-color: gradient( radial, 50% 50%, -5% -5%, 60% 60%, from( #b8c5d3 ), to( #444f52 ) );
}

.SettingsColumnContainer
{
	flow-children: right;
	width: 100%;
    height: 100%;
	margin-top: 0px;
	padding: 0px 38px 0px 38px;
}

.SettingsSection
{
	flow-children: down;
    width: 100%;
	margin-top: 12px;
}

#AudioDefaultsButton
{
	margin-top: 50px;
}

#PlaySoundInDesktopCheckbox
{
	margin-top: 20px;
}

#RenderQuality
{
	margin-top: 20px;
}

.Hidden
{
    visibility: collapse;
}