DCGTourneyPhaseSwiss
{
	width: 100%;
	height: 100%;
	flow-children: down;
}

DCGTourneyPhaseSwiss.NoTourneyData
{
	visibility: collapse;
}

.Overview
{
	margin-top: 4px;
	margin-bottom: 4px;
	flow-children: right;
	horizontal-align: center;
	margin-bottom: 60px;
}

.InfoContainer
{
	flow-children: right;
	margin-left: 8px;
	margin-right: 8px;
}

.InfoContainer Label
{
	font-size: 16px;
	text-transform: uppercase;
	font-weight: thin;
	letter-spacing: 1px;
	color: #e1e1dd;
}

.InfoContainer .InfoDesc 
{
	color: uiStandardGrey;
	margin-right: 4px;
}

.CarryFromPrior,
.DeckValidator
{
    visibility: collapse;
}

.ShowCarryFromPrior .CarryFromPrior,
.ShowValidator .DeckValidator
{
    visibility: visible;
}

.SwissViewContainer
{
	width: 100%;
	height: fill-parent-flow( 1.0 );
}

.DetailContainer
{
	horizontal-align: center;
	vertical-align: top;
	flow-children: right;
}

.PhasesUnavailable .DetailContainer
{
	visibility: collapse;
}

.UnavailableLabel
{
	vertical-align: center;
	horizontal-align: center;
	text-transform: uppercase;
	visibility: collapse;
}

.PhasesUnavailable .UnavailableLabel
{
	visibility: visible;
}

#Standings
{
	vertical-align: top;
	horizontal-align: left;
	width: 480px;
	background-color: gradient( linear, 0% 100%, 0% 0%, from( #00000044 ), to( #000000aa ) );
	box-shadow: inset 0px 0px 24px black;
}

.RoundSeries
{
	width: 480px;
	horizontal-align: left;
	vertical-align: top;
	flow-children: down;
	margin-right: 24px;
}

.RoundTitle
{
	horizontal-align: center;
	flow-children: right;
	margin-bottom: 10px;
}

.RoundSelectorText
{
	vertical-align: center;
	margin-right: 16px;
}

#RoundSelector
{
	min-width: 200px;
	width: 480px;
	background-color: #12121a;
	border: 1px solid #333348;
	margin-bottom: 12px;
}

#RoundSelector DropDownMenu Label
{
		background-color: #12121a;
}

#RoundSelectorDropDownMenu
{
	min-width: 480px;
	width: fit-children;
	background-color: #12121a;
}

#RoundSeriesList
{
	flow-children: down;
	horizontal-align: center;
	overflow: clip scroll;
}

#RoundSeriesList DCGTourneySeriesNode
{
	margin: 2px;
}
