/* Don't change these names - referenced from code */
/* NOTE: XDelta must be at least as large as the width of DCGTourneySeriesNode */
/* NOTE: YDelta must be at least as large as the height of DCGTourneySeriesNode */
@define XDelta: 250;
@define YDelta: 92;
@define YBorder: 100;

DCGTourneyPhaseBracketSingleElim
{
	width: 100%;
	height: 100%;
	flow-children: down;
}

DCGTourneyPhaseBracketSingleElim.NoTourneyData
{
	visibility: collapse;
}

.Overview
{
	margin-top: 4px;
	margin-bottom: 4px;
	flow-children: right;
	horizontal-align: center;
	margin-bottom: 60px;
}

.InfoContainer
{
	flow-children: right;
	margin-left: 8px;
	margin-right: 8px;
}

.InfoContainer Label
{
	font-size: 16px;
	text-transform: uppercase;
	font-weight: thin;
	letter-spacing: 1px;
	color: #e1e1dd;
}

.InfoContainer .InfoDesc 
{
	color: uiStandardGrey;
	margin-right: 4px;
}

.DeckValidator
{
    visibility: collapse;
}
.ShowValidator .DeckValidator
{
    visibility: visible;
}

.DetailsContainer
{
	width: 100%;
	height: fill-parent-flow( 1.0 );
}

.PhaseZoomContainer
{
	width: 100%;
	height: 100%;
}

.PhasesUnavailable .PhaseZoomContainer
{
	visibility: collapse;
}

.UnavailableLabel
{
	vertical-align: center;
	horizontal-align: center;
	visibility: collapse;
	color: #e1e1dd;
}

.PhasesUnavailable .UnavailableLabel
{
	visibility: visible;
}

.HLine
{
	background-color: #454f4fcc;
	height: 1px;
}

.VLine
{
	background-color: #454f4fcc; 
	width: 1px;
}

.FinalsBestOf
{
    visibility: collapse;
}

.ShowFinalsFormat .FinalsBestOf
{
    visibility: visible;
}