
/* NOTE: height + y margins must match the tourney phase YDelta setting */
DCGTourneyPhaseStandings
{      
	z-index: 1;             
	flow-children: down;
}

.StandingsRow
{
	flow-children: right;
	width: 480px;
}

.LocalPlayer.StandingsRow
{
		border: 1px solid #bba280;
}

.StandingsRow.Title
{
	background-color: #7c91dc08;
	border-top: 1px solid #99999905;
	border-left: 1px solid #99999905;
	border-right: 1px solid #00000060;
	border-bottom: 1px solid #00000060;
}

.StandingsRow.Title Label
{
	font-size: 16px;
	text-shadow: 2px 2px 4px black;
	color: uiStandardGrey;
}


.StandingsRow.Selected
{
	wash-color:cyan;
}

#AvatarImage
{
	vertical-align: center;
	width: 24px;
	height: 24px;
	margin-left: 8px;
}

.PlayerName
{
	vertical-align: center;
	width: 252px;
	font-size: 14px;
	margin-left: 6px;
	height: 32px;
	color: #e1e1dd;
	padding-top: 8px;
}

.NameSpacer
{				 
	/* Should be AvatarImage + PlayerName wide */
	width: 308px;
}

.StatColumn
{
	width: 40px;
	text-align: center;
	padding-top: 6px;
	color: #e1e1dd;
}

.SpacerColumn
{
	width: 10px;
}

.TieColumn
{
	visibility: collapse;
}

.SupportsTies .TieColumn
{
	visibility: visible;
}

#PlayersList
{
	flow-children: down;
	overflow: clip scroll;
}

.Tiebreakers
{
    font-size: 12px;
}

#PlayerDeck
{
    width: 18px;
    height: 18px;
    margin-top: 6px;
  	background-repeat: no-repeat;
  	background-size: contain;
	background-position: center;
    background-image: url("s2r://panorama/images/tournaments/cards_small_psd.vtex");    
    wash-color: #999;
    opacity: 0;
}

.RegisterDecks #PlayerDeck
{
    opacity: 1;
}

#PlayerDeck:hover
{
    wash-color: white;
}

.NoDeck#PlayerDeck
{
    opacity: 0;
}

.StandingsRow:hover
{
    brightness:1.5;
}

@keyframes 'SearchingAnimation'
{
	0%
	{
		text-shadow: 0px 0px 1px 0.5 #cc6c4e00;
	}

	50%
	{
				text-shadow: 0px 0px 5px 0.5 #cc6c4e;
	}

	100%
	{
		text-shadow: 0px 0px 1px 0.5 #cc6c4e00;
	}
}

@keyframes 'LiveGameAnimation'
{
	0%
	{
		text-shadow: 0px 0px 1px 0.5 #0dfffc00;
	}

	50%
	{
				text-shadow: 0px 0px 5px 0.5 #0dfffc88;
	}

	100%
	{
		text-shadow: 0px 0px 1px 0.5 #0dfffc00;
	}
}

.InMatchmaking .PlayerName
{
	color: #fde4b5;
	
	animation-name: SearchingAnimation;
	animation-duration: 2.75s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}

.InProgress .PlayerName
{
	color: #2caaae;
	
	animation-name: LiveGameAnimation;
	animation-duration: 2.75s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}