

.MainBody
{
	flow-children: down;
	width: 100%;
	height: 846px;
	padding-bottom:20px;
    padding-top:50px;
}


.TournamentName
{
	font-size: 36px;
	text-shadow: 2px 2px 4px black;
	color: #e1e1dd;
}

.TournamentTabs
{
	flow-children: right;
	background-color: gradient( linear, 100% 0%, 0% 0%, from( #16202d ), to( #2a354e) );
	box-shadow: inset #00000088 0px -12px 40px 0px;
	border-left: 1px solid #ffffff03;
	border-top: 1px solid #ffffff07;
	width: 100%;
	padding: 8px 12px 4px 28px;
}

.TournamentTabs Label
{
	text-transform: uppercase;
	letter-spacing: 2px;
	color: uiStandardGrey;
}

.TournamentTabs TabButton:selected Label
{
	text-shadow: 0px 0px 4px #b0f1ea88;
	color: white;
}


.TournamentTabs .TabSeparator
{
	margin: 0px 8px;
	color: #454f4f; 
}

#DeletePhase
{
	width: 18px;
	height: 18px;
	background-image: url("s2r://panorama/images/control_icons/x_close_png.vtex");
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: cover;
	vertical-align: center;
	wash-color: red;
	margin-bottom: 4px;
	visibility: collapse;
}

.CanDelete #DeletePhase
{
	visibility: visible;
}

#AddPhase
{
	width: 18px;
	height: 18px;
	background-image: url("s2r://panorama/images/control_icons/plus_thin_png.vtex");
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: cover;
	vertical-align: center;
	wash-color: green;
	margin-bottom: 4px;
}

.TournamentTabContents
{
	opacity: 0;
	transition-property: opacity;
	transition-duration: 0.2s;
}

.TournamentTabContents:selected
{
	opacity: 1;
	transition-property: opacity;
	transition-duration: 0.32s;
}

.TournamentTabContentsContainer
{
	margin-top: 20px;
	width: 100%;
	height: 100%;
}

.TournamentTabContents
{
	width: 100%;
	height: 100%;
}

#PhaseTabs
{
	flow-children: right;
}

.PhaseTab
{
	flow-children: right;
}

#PhaseContents
{
	width: 100%;
	height: 100%;
}

.PhaseContents
{
	width: 100%;
	height: 100%;
	padding: 24px;
}

#PhaseContainer
{
	width: 100%;
	height: 100%;
}

#OverviewTabContents
{
	flow-children: down;
}

.OverviewLeftColumn
{
	width: fill-parent-flow( 1.0 );
	flow-children: down;
	padding-right: 10px;
}

.OverviewRightColumn
{
	padding-left: 10px;
	width: fill-parent-flow( 1.2 );
	flow-children: down;
}

.OverviewSection
{
	margin-bottom: 30px;
	flow-children: down;
	width: 100%;
}

.OverviewSectionTitle
{
	margin-left: 8px;
	margin-bottom: 4px;
	letter-spacing: 4px;
	color: uiStandardGrey;
	text-transform: uppercase;
	text-shadow: 2px 2px 4px black;
}

.OverviewSectionRule
{
	width: 100%;
	height: 1px;
	margin-bottom: 8px;
	background-color: gradient( linear, 0% 0%, 100% 0%, from( #4c4d55 ), color-stop( 0.8, #4c4d55 ), to( transparent ) );
}

.TournamentHeader
{
    width: 100%;
    flow-children: right;
}

.OverviewColumns
{
    width: 100%;
    flow-children: right;
   height: 530px;
    padding-left: 24px;
	padding-right: 24px;
}

.OverviewFooter
{
    height: 10%;
    width: 100%;
}

.BottomLeftControls
{
    horizontal-align: left;
    vertical-align: bottom;
    flow-children: right;
    margin-left: 24px;
    margin-bottom: 16px;
}
.BottomCenterControls
{
    horizontal-align: center;
    vertical-align: bottom;
    flow-children: right;
}
.TicketImage
{
    width:32px;
    height:32px;
    background-image: url("s2r://panorama/images/tournaments/icon_ticket_psd.vtex");  
    background-size: 100% 100%;
}
.RequiredTicketImage
{
    width:32px;
    height:32px;
    background-image: url("s2r://panorama/images/tournaments/icon_ticket_psd.vtex");  
    background-size: 100% 100%;
}
.TicketAmount, .RequiredTicketAmount
{
    vertical-align:center;
}

.HeaderRight
{
    flow-children: right;
    horizontal-align: right;
    vertical-align: center;
}

.OverviewCurrentPhase
{
	margin-left: 8px;
	margin-top: 6px;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight: bold;
	color: abilityGradient;
    horizontal-align: right;
    vertical-align: center;
}

#OverviewStatusLabel
{
	width: 300px;
	margin-left: 8px;
  max-height: 300px;
  overflow: squish scroll;
	margin-top: 6px;
	color: #e1e1dd;
}

#OverviewStatusLabel a.EditStatusMessage
{
	color: uiStandardGrey;
	text-decoration: underline;
	transition-property: color;
	transition-duration: 0.25s;
}

.OverviewDescription
{
	margin-left: 8px;
	margin-top: 6px;
	width: 300px;
    
    max-height: 300px;
    overflow: squish scroll;
    color: uiStandardGrey;
}


#OverviewMemberListContainer
{
	flow-children: down;
	width: 100%;
}

.OverviewMemberListHeader
{
	width: 100%;
	flow-children: right;
	height: 44px;
	vertical-align: center;

	background-color: #7c91dc06;
	padding: 8px 8px 4px 8px;
	border-top: 1px solid #99999905;
	border-left: 1px solid #99999905;
	border-right: 1px solid #00000060;
	border-bottom: 1px solid #00000060;
}

.OverviewMemberListHeader Label
{
	color: uiStandardGrey;
	text-transform: uppercase;
	letter-spacing: 4px;
	text-shadow: 2px 2px 4px black;
	vertical-align: center;
	font-size: 16px;
}

.OverviewMemberListHeader .OverviewMemberName
{
	width: 185px;
	padding-right: 8px;
}

.InMatchmaking.OverviewMember .OverviewMemberName,
.InMatchmaking.OverviewMember #OverviewMemberStatus
{
	color: #fde4b5;
	
	animation-name: SearchingAnimation;
	animation-duration: 2.82s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}

.IsLive.OverviewMember .OverviewMemberName,
.IsLive.OverviewMember #OverviewMemberStatus
{
	color: gradient( linear, 0% 0%, 0% 100%, from( #e7f6f5 ), to( #a0d6d7 ) );

	animation-name: LiveGameAnimation;
	animation-duration: 2.78s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}

.OverviewMemberListHeader .OverviewMemberStatus
{
	width: 212px;
}

.OverviewMemberListHeader .OverviewMemberRank
{
    horizontal-align: right;
	width: 150px;
    opacity: 0;
    text-align: right;
    padding-right: 10px;
}

.ShowRank .OverviewMemberListHeader .OverviewMemberRank
{
    opacity: 1;
}

#OverviewMemberList
{
	flow-children: down;
	box-shadow: inset 0px 0px 24px black;
	background-color: #1c1e2599;
	padding-top: 4px;
	height: 420px;
	width: 100%;
	overflow: squish scroll;
}

.OverviewMember
{
	flow-children: right;
	padding: 8px 8px;
	context-menu-position: bottom;
    width: 100%;
}

.OverviewMember:hover
{
	//background-color: gradient ( linear, 0% 0%, 100% 0%, from(#89a0a017), to(#89a0a000));
}

.OverviewMember #OverviewMemberAvatarImage
{
	width: 20px;
	height: 20px;
	margin-right: 8px;
}

@keyframes 'SearchingAnimation'
{
	0%
	{
		text-shadow: 0px 0px 1px 0.5 #cc6c4e00;
	}

	50%
	{
				text-shadow: 0px 0px 5px 0.5 #cc6c4e;
	}

	100%
	{
		text-shadow: 0px 0px 1px 0.5 #cc6c4e00;
	}
}

@keyframes 'LiveGameAnimation'
{
	0%
	{
		text-shadow: 0px 0px 1px 0.5 #0dfffc00;
	}

	50%
	{
				text-shadow: 0px 0px 5px 0.5 #0dfffc88;
	}

	100%
	{
		text-shadow: 0px 0px 1px 0.5 #0dfffc00;
	}
}



.OverviewMember .OverviewMemberName
{
	width: 172px;
	padding-right: 8px;
	height: 25px;
	color: #e1e1dd;
}

.OverviewMember #OverviewMemberStatus
{
	width: 208px;
	padding-right: 8px;
	height: 25px;
	color: #e1e1dd;
}

.OverviewContents
{
	margin-top: 4px;
	flow-children: right;
}

.DeckControls
{
    visibility: collapse;
}

.ShowDeckControls .DeckControls
{
    visibility: visible;
}

#DeckContents
{
	flow-children: right;
}

#DeckContents DeckListCardPanel
{
    width: 30px;
    height: 40px;
	margin-left: 4px;
	margin-right: 4px;
}

.DeckButton
{
	min-width: 100px;
	max-width: 150px;
	width: fill-parent-flow( 1.0 );
	margin-left: 8px;
	vertical-align: center;
	background-color: none;
	border: 1px solid #4b4d50;
}

.DeckButton Label
{
	text-overflow: shrink;
	font-size: 14px;
	padding-top: 2px;
}

.DeckButton:hover Label
{
	color: #fff;
}

.CreateOpenInvite,
.InvitePlayers
{
	background-color: gradient( linear, 0% 100%, 0% 0%, from( #34364b ), to( #2f3f4b ) );
	transition-property: brightness;
	transition-duration: 0.2s;
	height: 32px;
	min-width: 200px;
	border-left: 1px solid #ffffff05;
	border-top: 1px solid #ffffff05;
}

.ButtonBevel Label
{
	color: #839595;
	letter-spacing: 4px;
	margin-top: 0;
}

.ButtonBevel:hover Label
{
	color: #fff;
}


#OverviewAdmins
{
	flow-children: down;
	margin-left: 8px;
	margin-top: 8px;
}

#OverviewAdmins Label
{
	width: 232px;
	height: 25px;
}

.InviteControlsContents
{
	flow-children: right;
	visibility: collapse;
	width: 100%;
	background-color: #191a2bcc;
	padding: 8px;
	border-top: 1px solid #99999905;
	//border-left: 1px solid #99999905;
	border-right: 1px solid #00000060;
	border-bottom: 1px solid #00000060;
}

.InInvitePhase .InviteControlsContents
{
	visibility: visible;
}

.CreateOpenInvite
{
	margin-left: 8px;
	margin-right: 0px;
	visibility: collapse;
}

.InvitePlayers
{
	margin-left: 0px;
	visibility: collapse;
	width: 50%;
	margin:0px;
}

.AdminEnabled .CreateOpenInvite
{
	visibility: visible;
	width: 50%;
}

.InviteEnabled .InvitePlayers
{
	visibility: visible;
}

.CreateOpenInvite Label,
.InvitePlayers Label
{

	margin-top: 3px;
}

.SeedingControlsContents
{
	flow-children: right;
	margin-top: 4px;
	visibility: collapse;
}

.InSeedingPhase.AdminEnabled .SeedingControlsContents
{
	visibility: visible;
}

.SetSeeding
{
	margin-right: 8px;
}

.UnavailableLabel
{
	vertical-align: center;
	horizontal-align: center;
}

#BottomRightControls
{
	horizontal-align: right;
  vertical-align: bottom;
	flow-children: down;
	margin-right: 24px;
	margin-bottom: 16px;
}


.NegativeButton Label
{
	text-transform: uppercase;
	color: #586465;
	color: #e1e1dd;
	letter-spacing: 2px;
	text-shadow: .5px .5px 2px 2.0 #00000044;
	font-weight: light;
	padding: 6px;
	
	transition-property: brightness, text-shadow, color;
	transition-duration: 0.15s;
}

.NegativeButton:hover Label
{
	color: #ffffff;
	//text-shadow: 0px 0px 6px .5 #0dfffc66;
	brightness: 1.0;
}

#RejectInviteButton
{
	visibility: collapse;
}
.HasPendingInvite #RejectInviteButton
{
	visibility: visible;
}

#LeaveTourneyButton,
#AbandonTourneyButton
{
	horizontal-align: right;
	visibility: collapse;
}
.CanLeaveTourney #LeaveTourneyButton,
.CanAbandonTourney #AbandonTourneyButton
{
	visibility: visible;
}

.TourneyChatIcon,
.TourneyIconButton
{
    width: 32px;
	height: 32px;

	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	horizontal-align: right;
    vertical-align: center;

	wash-color: #bbc5ca;
	transition-property: wash-color;
	transition-duration: 0.25s;
}

.TourneyChatIcon
{
	background-image: url("s2r://panorama/images/main_menu/icon_steam_chat_psd.vtex");
}


.TourneyIconButton:hover
{
	wash-color: white;
}

.TourneyIconButton:active
{
	wash-color: white;
}

.HideChatRoom #TourneyChatRoomButton
{
    visibility: collapse;
}

#TourneyCopyLinkButton
{
	flow-children: right;
	horizontal-align: right;
	padding-top: 2px;
}

#TourneyChatRoomButton
{
    flow-children: right;
    brightness: 0.6;
    transition-property: brightness;
    transition-duration: 0.25s;
}

#TourneyChatRoomButton:hover
{
	brightness: 1.2;
}

#TourneyCopyLinkButton:hover
{

}

#TourneyCopyLinkButton:active
{
	brightness: 0.8;
}


#TourneyCloseTime
{
    visibility: collapse;
    background-size: 90% 90%;
	background-image: url("s2r://panorama/images/tournaments/warning_alt_png.vtex");    
}

.ShowTourneyCloseTime #TourneyCloseTime
{
    visibility: visible;
}

.AlertTourneyCloseTime #TourneyCloseTime
{
    wash-color: #F88;
}

.TourneyCopyIcon
{
	width: 24px;
	height: 24px;
  margin-right: 2px;
  margin-top: -3px;


	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	horizontal-align: right;
  vertical-align: center;
    
  background-size: contain;
	background-image: url("s2r://panorama/images/main_menu/icon_copy_deck_psd.vtex");  

	transition-property: wash-color;
	transition-duration: 0.25s;
	wash-color: uiStandardGrey;
}

.TourneyCopyIcon:hover
{
	wash-color: white;
}

.TourneyID
{
    visibility: collapse;
    vertical-align: bottom;
    color: gray;
    font-size: 16px;
    letter-spacing: 2px;
}

.ShowTourneyID .TourneyID
{
    visibility: collapse;
}

#OverviewMemberRank
{
    text-align: right;
    horizontal-align: right;
    margin-right: 20px;
    color: #444;
    opacity: 0;
}

.HasRank #OverviewMemberRank
{
    color: #777;
    opacity: 1;
}

.HasFinalRank #OverviewMemberRank
{
    color: white;
}

.RightsGroup
{
    margin-right: 15px;
    flow-children: right;
}

.RightDisplay
{
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
    width: 14px;
    height: 14px;
    margin: 3px;
    opacity: 0;
    visibility: collapse;
   	wash-color: #ccc;
}

.RightHeader
{
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
    width: 14px;
    height: 14px;
    margin: 3px;
    margin-top: 6px;
    visibility: collapse;
   	wash-color: #999;
}

.RightInvite
{
    background-size: 90% 70%;
   	background-image: url("s2r://panorama/images/tournaments/envelope_png.vtex");    
}

.RightSpectator
{
    background-image: url("s2r://panorama/images/tournaments/eye_png.vtex");   
}

.RightAdmin
{
    background-image: url("s2r://panorama/images/tournaments/star_png.vtex");   
}

.RightPlayer
{
    background-image: url("s2r://panorama/images/tournaments/guy_png.vtex");  
}
.RightTicket
{
    background-image: url("s2r://panorama/images/tournaments/icon_ticket_psd.vtex");  
}
.CanInvite .RightInvite,
.IsSpectator .RightSpectator,
.IsAdmin .RightAdmin,
.IsPlayer .RightPlayer
{
    opacity: 1.0;
}

.IsEliminated.IsPlayer .RightPlayer
{
    wash-color: #222;
}

.HasLeft.CanInvite .RightInvite,
.HasLeft.IsSpectator .RightSpectator,
.HasLeft.IsAdmin .RightAdmin,
.HasLeft.IsPlayer .RightPlayer,
.HasBeenKicked.CanInvite .RightInvite,
.HasBeenKicked.IsSpectator .RightSpectator,
.HasBeenKicked.IsAdmin .RightAdmin,
.HasBeenKicked.IsPlayer .RightPlayer,
.IsClosed .RightPlayer
{
    wash-color: #222;
}

.ShowRightInvite .RightInvite,
.ShowRightSpectator .RightSpectator,
.ShowRightAdmin .RightAdmin,
.ShowRightPlayer .RightPlayer
{
    visibility: visible;
}

.RequiredTicketButton
{
    flow-children:right;
}
.BottomCenterControls
{
	visibility:collapse;
	margin-bottom: 16px;
}

.HasTournamentEntryFee .BottomCenterControls,
.HasPerUserEntryFee .BottomCenterControls
{
    visibility:visible;
}
.RequiredTicketAmount, .RequiredTicketImage
{
    visibility:collapse;
}

.HasTournamentEntryFee .RequiredTicketAmount, .HasTournamentEntryFee .RequiredTicketImage
{
    visibility:visible;
}

.HasPerUserEntryFee .RightTicket
{
    visibility:visible;
    opacity:1.0;
    wash-color:#555;
}
.HasPerUserEntryFee .EntryFeeVouched .RightTicket
{
    wash-color:#FFFFFF;
}
.HasAbandoned #OverviewMemberStatus,
.HasBeenKicked #OverviewMemberStatus,
.IsEliminated #OverviewMemberStatus,
.HasAbandoned .OverviewMemberName,
.HasBeenKicked .OverviewMemberName
{
    color: uiStandardGrey;
}

.IsOpenInvite Label
{
    color: uiStandardGrey;
}

.IsInvite Label
{
    color: uiStandardGrey;
}

.WaitingReason
{
    visibility: collapse;
}

.HasWaitingReason .WaitingReason
{
    visibility: visible;
}

.TourneyChatLabel
{
    text-transform: uppercase;
    vertical-align: center;
    font-size: 18px;
	color: #e1e1dd;
	margin-left: 4px;
	letter-spacing: 2px;
}