
DCGTourneyConfigurePhase.PopupLoadDeck
{
	background-color: #ffffff06;
	flow-children: down;
}

.MainBody
{
    flow-children: down;
    margin-bottom: 16px;
}

#PhaseName
{
	max-width: 260px;
}

.PhaseTypeContainer
{
	flow-children: down;
}

.CustomPhaseType
{
	visibility: collapse;
}

.EnableCustomPhaseType .CustomPhaseType
{
	visibility: visible;
}

.AdvancedOnly
{
    visibility: collapse;
}

.CurrentlyHidden
{
    visibility: collapse;
}

.AdvancedConfig .AdvancedOnly
{
    visibility: visible;
}

.NonCustomContainer
{
	visibility: visible;
}

.Custom .NonCustomContainer
{
	visibility: collapse;
}

.CustomContainer
{
	visibility: collapse;
}

.Custom .CustomContainer
{
	visibility: visible;
}

.SingleElimBracketContainer
{
	visibility: collapse;
}

.SingleElim .SingleElimBracketContainer
{
	visibility: visible;
}

.SwissContainer
{
	visibility: collapse;
}

.Swiss .SwissContainer
{
	visibility: visible;
}

.FreeForAllContainer
{
    visibility:collapse;
}

.FreeForAll .FreeForAllContainer
{
    visibility:visible;
}

.RowField
{
    flow-children: right;
    margin-top: 24px;
}

PopupTourneyCreate .RowField
{
    margin-left: 32px;
}

.RowField.SwissPlayAllGames
{
    margin-top: 0px;
}

.SwissPlayAllGames
{
	visibility: collapse;
}

.ShowPlayAllGames .SwissPlayAllGames
{
	visibility: visible;
}

.RowField > Label
{
    margin-right: 10px;
    width: 150px;
    vertical-align: middle;
    text-align: right;
    font-size: 20px;
    color: #8c9caf;
}

.RowField > TextEntry
{
    width: 600px;
}

.RowField > DropDown
{
    padding: 0px 8px;
    padding-right: 2px;
    padding-top: 2px;
    background-size: 24px 24px;
    box-shadow:none;
    transition-property: none;
    border: 0px;
    background-color: gradient( linear, 100% 0%, 0% 0%, from( #abe9f004 ), to( #d0bce905) );
}


.CheckBox
{
}

.CheckBox .TickBox
{
	margin-bottom: 4px;
	vertical-align: bottom;
}

#MaxPlayers
{
    width: 128px;
}

#BestOf
{
    width: 128px;
}

.SwissCarryScoreRow,
.AdvancedConfig .SwissCarryScoreRow
{
    visibility: collapse;
}

.AdvancedConfig.SwissCanCarryScoreRow .SwissCarryScoreRow
{
    visibility: visible;
}

.DeckValidatorRow
{
    visibility: collapse;
}

.ShowDeckValidator .DeckValidatorRow
{
    visibility: visible;
}
