.CardPack
{
	text-align: center;
	horizontal-align: left;
	vertical-align: top;

	width: 204px;
	height: 340px;

	color: #FFFFFFFF;

	flow-children: none;

	transition-property: position;
	transition-duration: 0.4s;
	transition-timing-function: linear;
	
	background-size: 100% 100%;
	background-image: url("s2r://panorama/images/card_elements/card_pack_premium_png.vtex");
}

.PhantomPack.CardPack
{
	saturation: 0.6;
    background-image: url("s2r://panorama/images/card_elements/card_pack_phantom_png.vtex");
}

.CardPack.Unowned
{
	saturation: 0.15;
}

.PackName
{
	horizontal-align: center;
	vertical-align: top;
    text-transform: uppercase;
	
	margin-top: 378px;

    color: #BBBBBB;
	font-size: 16px;
	white-space: nowrap;
	text-shadow: 0px 0px 6px 3.0 #000000;
}

.ReadyToOpen
{
	animation-name: PremiumPackOpenGlow;
	animation-duration: 2.0s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
}

.ReadyToOpen:hover
{
    brightness: 2;
}

@keyframes 'PremiumPackOpenGlow'
{
    0% 
    {
        box-shadow: black -8px -8px 16px 16px;
    }
    50% 
    {
        box-shadow: gold -8px -8px 16px 16px;
    }
    100% 
    {
        box-shadow: black -8px -8px 16px 16px;        
    }
}

.BeginPackOpen
{
	animation-name: MoveToOpenPack;
	animation-duration: 2.0s;
	animation-timing-function: linear;
	animation-iteration-count: 1;
    opacity: 0;
	
	pre-transform-scale2d: 1.5;
	transform: translatey(-150px) translatez(0px);
}

.PackOpen 
{
    opacity: 0;
}

@keyframes 'MoveToOpenPack'
{
    0%
    {
		pre-transform-scale2d: 1;
		transform: translatey(0px) translatez(20px);
        blur: gaussian(0.0,0.0,0.0);
		opacity: 1;
    }

    50%
    {
		pre-transform-scale2d: 1.5;
		transform: translatey(-150px) translatez(0px);
        blur: gaussian(0.0,0.0,0.0);
		opacity: 1;
    }
  
    75%
    {
		pre-transform-scale2d: 1.5;
		transform: translatey(-150px) translatez(0px);
		blur: gaussian(0.0,0.0,0.0);
		opacity: 1;
    }
    100%
    {
		blur: gaussian(3.0,3.0,1.0);
		opacity: 0;
	  	pre-transform-scale2d: 1;
   		transform: translatey(-150px) translatez(0px);
	}
}
