.CardPanel
{
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
}

.MainBody
{
    flow-children: down;
}

.ProPlayerBeta .Footer
{
    visibility:collapse;
}
.Footer
{
    width: 100%;
    height: 30px;
    border: 1px solid #666666;
    background-color: #222222;
    border-radius: 5px;
}

.CountUnowned .Footer
{
    border: 1px solid #666666;
    background-color: #222222;
}

.CountIncomplete .Footer
{
    border: 1px solid #777777;
    background-color: #333333;
}

.CountComplete .Footer
{
    border: 1px solid #888888;
    background-color: #444444;
}

.CountExtra .Footer
{
    border: 1px solid #888888;
    background-color: #555555;
}

.UseNewCard .Footer
{
    background-color: #FF000000;
    border: 0px solid #00FF00;
}

#IncludedBy
{
    horizontal-align: right;
    visibility: collapse;
    width: 30px;
    height: 30px;
}

.OwnedCount
{
    horizontal-align: right;
    font-size: 20px;
    margin-right: 10px;
    vertical-align: center;
    color: #666666;
}

.UseNewCard .OwnedCount
{
    margin-left: 90px;
    horizontal-align: left;
    color: #FFFFFF;
}

.CountIncomplete .OwnedCount
{
    color: gold;
}

.CountComplete .OwnedCount
{
    color: #44FF44;
}

.CountExtra .OwnedCount
{   
    color: #88FF88;
}


.IsInclude #IncludedBy
{
    visibility: visible;
}

.IsConsumable .OwnedCount,
.IsInclude .OwnedCount
{
    visibility: collapse;
}

.UnableToOwnCount
{
    horizontal-align: right;
    font-size: 24px;
    margin-right: 10px;
    visibility: collapse;
}

.IsConsumable .UnableToOwnCount
{
    visibility: visible;
}

.LinkedIncludeCard .Footer
{
    visibility: collapse;
}

.LinkedIncludeCard #IncludeLink
{
    visibility: visible;
}

#CardList
{
    flow-children: right;
}

.CollectionIncludeCard
{
    margin-left: 20px;
}

.NewCallout
{
    horizontal-align: center;
    vertical-align: center;
    color: black;
    visibility: collapse;
}

.NewLastWeek .NewCallout
{
    text-shadow: 0px 0px 4px 1.0 white;
    visibility: visible;
}

.NewLastDay .NewCallout
{
    text-shadow: 0px 0px 4px 1.0 gold;
    visibility: visible;
}

#MarketPrice
{
    vertical-align: center;
    horizontal-align: left;
    visibility: collapse;
    margin-left: 5px;
}

.HasMarketItem #MarketPrice
{
    visibility: visible;
}

#DeckBuildCardWrapper
{
    width: 200px;
    height: 340px;
}

.LoreIcon
{
    width: 30px;
    height: 30px;
    margin-left: 14px;
    margin-right: 0px;
    margin-top: 52px;
    wash-color: #CCCCCC;
    //background-color: #FF0000;
    background-image: url("s2r://panorama/images/icon_lore_png.vtex");
    background-repeat: no-repeat;
    background-size: contain;

    visibility: collapse;
}

.LoreIcon.HasLore
{
    visibility: visible;
}
.LoreIcon.UnlistenedLore
{
    wash-color: gold;
}