@define loreColor: #586768;

DCGCardPreview
{
    width: 1020px;
    height: 815px;
	flow-children: none;	
}

.AspectRatio16x10 DCGCardPreview
{
	height: 880px;
}

.PreviewBackgroundContainer
{
	width: 100%;
	height: 100%;
	flow-children: none;
	margin-bottom: 60px;
}

.AspectRatio16x10 .PreviewBackgroundContainer
{
	margin-bottom: 130px;
}

#PreviewRegion
{
    width: 100%;
    height: 100%;
}



.PreviewInformationRegion
{
    width: 425px;
    height: 100%;
    margin-top: 32px;
    margin-left: 32px;
	padding-bottom: 26px;
    flow-children: down;
}

#PreviewAndLibraryContainer .PreviewInformationRegion
{
	margin-left: 92px;
}

.PreviewTitleContainer
{
    width: 100%;

    vertical-align: top;
    flow-children: right;
}

.PreviewTextContainer
{
    width: 100%;
    flow-children: down;
}

.PreviewTitleTopRow
{
    width: 100%;
    height: fit-children;
}

.PreviewTitleBottomRow
{
    width: 100%;
    height: fit-children;
	margin-left: 12px;
	margin-top: -6px;
	
    flow-children: right;
}

.PreviewTitleLabel
{
    height: fit-children;

    vertical-align: center;
	margin-left: 12px;
    text-align: left;

    color: white;
    font-size: 28px;
	font-weight: light;
	text-shadow: 0px 0px 8px 4.0 black;
    text-transform: uppercase;
	text-overflow: shrink;
	height: 39px;
}

.HasIncludeCard .PreviewTitleLabel
{
	width: 320px;
}

.HasTwoIncludeCards .PreviewTitleLabel
{
	width: 260px;
}

.NoPreviewCard .PreviewTitleContainer
{
    visibility: collapse;
}

.PreviewTitleContainer DCGSetIcon
{
	width: 24px;
	height: 24px;

    vertical-align: center;
	margin-left: 12px;
	margin-top: -2px;
}

.FilterButtonIcon DCGSetIcon
{
    width: 100%;
    height: 100%;
}

.PreviewOwnedContainer
{
    height: 70px;

    flow-children: right;
    vertical-align: top;
    horizontal-align: right;
}

.NoPreviewCard .PreviewOwnedContainer
{
    visibility: collapse;
}

.PreviewCountLabel, .PreviewIncludeCardLabel, .PreviewBasicCardLabel
{
    height: fit-children;

    vertical-align: center;
    text-align: center;
	font-weight: light;
	
	margin-left: 12px;

    color: uiNeutralGrey;
    font-size: 24px;
	text-transform: uppercase;
	
	text-overflow: shrink;
	
	height: 33px;
}

.HasIncludeCard .PreviewCountLabel, .HasIncludeCard .PreviewIncludeCardLabel, .HasIncludeCard .PreviewBasicCardLabel, .HasIncludeCard .PreviewOwnedLabel,
{
	max-width: 140px;
}

.HasTwoIncludeCards .PreviewCountLabel, .HasTwoIncludeCards .PreviewIncludeCardLabel, .HasTwoIncludeCards .PreviewBasicCardLabel, .HasIncludeCard .PreviewOwnedLabel,
{
	max-width: 110px;
}



.PreviewOwnedLabel
{
    height: fit-children;

    vertical-align: center;
    text-align: left;
	font-weight: light;

    color: uiNeutralGrey;
    font-size: 24px;
	
    margin-left: 6px;
    text-transform: uppercase;
	
	text-overflow: shrink;
	
	height: 33px;
}

.PreviewTypeGlyphLabelContainer
{
	flow-children: none;
	width: 60px;
	height: 60px;
	background-image: url("s2r://panorama/images/card/blank_circle_deck_builder_psd.vtex");
	background-size: 100% 100%;
}

.PreviewTypeGlyphLabel
{
    font-size: 45px;
	color: uiNeutralGrey;
    margin-top: 4px;
	vertical-align: center;
	horizontal-align: center;
}

.PreviewTypeLabel
{
    color: white;
    font-size: 24px;
	color: uiNeutralGrey;
    vertical-align: center;
	font-weight: light;
    text-transform: uppercase;
	text-overflow: shrink;
	height: 33px;
}

.HasIncludeCard .PreviewTypeLabel
{
	max-width: 140px;
}

.HasTwoIncludeCards .PreviewTypeLabel
{
	max-width: 110px;
}

#SceneContainer
{
    vertical-align: bottom;
    horizontal-align: right;
	margin-right: 20px;
	height: 776px;
	width: 608px;
	flow-children: none;
	z-index: 1;
}

#IncludeCardHoverPanel
{
	transform: translatex( 165px ) translateY( 100px );
	height: 610px;
	width: 120px;
	z-index: 20;
}

.PreviewCardContainer
{
	flow-children: none;
	
    horizontal-align: right;
    vertical-align: top;

	height: 737px;
	width: 490px;
    z-index: 10;

	border-radius:0px;
}

#PreviewCard
{
	width: 100%;
	height: 100%;
}

.IncludeCardContainer
{
	flow-children: none;
	
    vertical-align: center;
    horizontal-align: left;

    margin-bottom: 30px;
    margin-left: 85px;

    height: 713px;
    width: 328px;
    z-index: 5;
}

#IncludeCard
{
	width: 100%;
	height: 100%;
}

#IncludeCardShadow
{
	width: 100%;
	height: 100%;
	background-image: url("s2r://panorama/images/hud/include_card_shadow_16x9_psd.vtex");
	background-size: 100% 100%;
}

.ReferencedCardContainer
{
	flow-children: none;
		
    vertical-align: center;
    horizontal-align: left;

    margin-bottom: 20px;
	
	margin-left: 20px;

    height: 668px;
    width: 308px;
    z-index: 2;
}

#ReferencedCardShadow
{
	width: 100%;
	height: 100%;
	background-image: url("s2r://panorama/images/hud/reference_card_shadow_16x9_psd.vtex");
	background-size: 100% 100%;
}

#ReferencedCard
{
	width: 100%;
	height: 100%;
}

.AspectRatio16x9.InCatalogue #PreviewModifierList
{
	width: 380px;
}

#PreviewModifierList
{
    horizontal-align: left;
	width: 100%;
    margin-top: 28px;
    margin-left: 0px;
    flow-children: down;
	background-color: none;
}

#PreviewReferencedCards
{
    width: 100%;
    flow-children: down;
	background-color: none;
}

#PreviewModifierList .CardModifier
{
    margin-top: 13px;
    padding: 4px;
}

.LoreContainer
{
    width: 100%;
    flow-children: down;
    margin-top: 3px;
    margin-right: 10px;
    opacity-mask: url("s2r://panorama/images/deck_builder/lore_mask_psd.vtex");
    padding-bottom: 46px;
}

.LoreTitleAndIconContainer
{
    height: 30px;
    flow-children: right;
    vertical-align: center;
    horizontal-align: center;
}

.LoreTitle
{
    color: loreColor;
    font-size: 16px;
	font-weight: ultra-light;
	letter-spacing: 2px;
	
    vertical-align: center;
	margin-top: 3px;
    margin-left: 6px;
    text-transform: uppercase;
}

#LoreButton
{
    flow-children: right;
    width: 112px;
    height: 28px;
    vertical-align: center;
    
    brightness: 1;
    border: 1px solid #58676888;
	border-radius: 2px;
}

#LoreButton:hover
{	
    brightness:2.5;
}


.PlayLoreIcon
{
    width: 18px;
    height: 18px;
    vertical-align: center;
    margin-left: 6px;
	margin-top: 0px;

    brightness:0.5;
	wash-color: loreColor;

    background-size: 100% 100%;
}

.LoreText
{
    width: 360px;
    max-height: 330px;
    color: loreColor;
    font-size: 16px;
    padding-right: 10px;
    margin-top: 10px;
	line-height:20px;
    overflow: squish scroll;
}

#CloseDialogButton
{
	width: 30px;
	height: 42px;
	background-image: url("s2r://panorama/images/hud/hud_hero_x_png.vtex");
	background-size: 100% 100%;
	visibility: visible;

	horizontal-align: right;

	margin: 10px;
}

.RemoveClosebutton #CloseDialogButton
{
	visibility: collapse;
}

#PreviewTitleRight
{
	horizontal-align: right;
	flow-children: right;
}

.HasLoreText #PreviewIllustratorCreditContainer
{
    margin-top: -24px;
}

#PreviewIllustratorCreditContainer Label
{
    font-size: 16px;
    text-transform: uppercase;
	color: loreColor;
}

#CloseButtonContainer
{
	background-image: url("s2r://panorama/images/catalogue/quit_icon_psd.vtex");
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	vertical-align: top;
	horizontal-align: right;

	width: 36px;
	height: 36px;

	margin-top: 10px;
	margin-right: 10px;
	z-index: 5;
	transition-property: opacity;
	transition-duration: 0.25s;
	visibility: collapse;
}
#CloseButtonContainer:hover
{
	opacity:1.3;
}

DCGCardPreview.RemoveClosebutton #CloseButtonContainer
{
	visibility: collapse;
}

DCGCardPreview #CloseButtonContainer
{
	visibility: visible;
}

.IsShowingIncludeCard .PreviewCountLabel, .IsShowingIncludeCard .PreviewOwnedLabel, .IsBasicCard .PreviewCountLabel, .IsBasicCard .PreviewOwnedLabel
{
	visibility: collapse;
}

.PreviewIncludeCardLabel, .PreviewBasicCardLabel, .IsShowingIncludeCard.IsBasicCard .PreviewBasicCardLabel
{
	visibility: collapse;
}

.IsShowingIncludeCard .PreviewIncludeCardLabel
{
	visibility: visible;
}

.IsBasicCard .PreviewBasicCardLabel
{
	visibility: visible;
}