LimitedStage
{
	width: 100%;
	height: 100%;

	background-color: #000000FF;
	
	animation-name: FadeInPackOpening;
	animation-duration: 0.75s;
	animation-timing-function: ease-in;
	animation-iteration-count: 1;

	background-size: 100% 100%;
    background-image:  url("s2r://panorama/images/draft/draft_bg_psd.vtex");
}

@keyframes 'FadeInPackOpening'
{
    0%
    {
    	opacity: 0;
    }


    100%
    {
    	opacity: 1;
    }
}


#MainBody
{
	width: 1688px;
	height: 100%;
    flow-children: down;
	horizontal-align: center;
}

.AspectRatio16x10 #MainBody
{
	margin-top: 50px;
}

#BodyContainer
{
	flow-children: right;
	height: 1200px;
	width: 100%;
	horizontal-align: center;
}

#BodyHeader
{
    width: 100%;
		height: 92px;
}

#BodyHeaderRight
{
    horizontal-align: right;
    flow-children: right;
    vertical-align: center;
    margin-right: 20px;
}

#WaitingForGC
{
	width: 100%;
	height: 100%;
    background-color: black;
    opacity: 0.8;
    visibility: collapse;
}

#WaitingForGC Label
{
    horizontal-align: center;
    vertical-align: center;
    font-size: 40px;
}

.waitingForGC #WaitingForGC
{
    visibility: visible;
}

#DynamicPackPanel 
{
	width: 100%;
    height: 700px;
    horizontal-align: left;
    flow-children: right-wrap;
}

#PacksAndInfoContainer
{
	height: fit-children;
	width: 1280px;
	flow-children: down;
}

#GrantStageContainer
{
	flow-children: right;
	width: 100%;
	margin-bottom: 10px;
}

#GrantStageCounterContainer
{
	flow-children: right;
	margin-left: 12px;
	min-width: 190px;
}

.GrantStageCounter
{
	font-size: 38px;
	color: #d7d4ce;
	font-weight: lighter;
	letter-spacing: 3px;
}

.GrantStageTotal
{
	margin-top: 13px;
	font-weight: lighter;
	font-size: 24px;
	color: #7c8e8e;
	text-transform: uppercase;
	letter-spacing: 3px;
}

#CardCountContainer
{
	vertical-align: center;
	horizontal-align: left;
	flow-children: right;
	margin-top: 52px;
	margin-left: 1280px;
	text-align: left;
}

.hasSelections #ChooseTitle
{
    opacity: 1;
}

#PreviousStageGroup
{
    visibility:collapse;
}
.IsReplay #PreviousStageGroup
{
    visibility:visible;
}

.NotConnectedToGC #NextStageGroup
{
	visibility: collapse;
}

#NextStageGroup,
#PreviousStageGroup
{
    horizontal-align: right;
    margin-left: 40px;
	vertical-align: center;
    flow-children: down;
}

#NextStage,
#PreviousStage
{
    horizontal-align:center;
	vertical-align: center;
}

#NextStage Label,
#PreviousStage Label
{
	text-transform: uppercase;
	font-size: 26px;
	letter-spacing: 5px;
	margin-right: 22px;
}

#QuitDraftStage
{
	vertical-align: top;
	horizontal-align: right;

	width: 36px;
	height: 36px;

	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-position: 50% 50%;

	wash-color: #7c8e8e;

    margin-top: 18px;
    opacity: 0.7;
    transition-property: opacity;
	transition-duration: 0.4s;
	background-image: url("s2r://panorama/images/catalogue/quit_icon_psd.vtex");
}

#QuitDraftStage:hover
{
	opacity: 1.3;
}

DCGScenePanel.CardScenePanel
{
    width: 194px;
    height: 328px;
    margin: 8px;
    horizontal-align: left;
    vertical-align: top;
}

DCGScenePanel.CardScenePanel.NoCardSet, DCGScenePanel.CardScenePanel.LoadingNewEntity
{
	opacity: 0.001;
}

#ToggleShowDeck
{
    margin-left: 10px;
    width: 102px;
    height: 60px;

    opacity: 0.5;

  	background-image: url("s2r://panorama/images/deck_builder/buttons/samplehand_png.vtex");
    background-size: 65% 90%;
    background-repeat: no-repeat;
    background-position: right center;
    vertical-align: bottom;
    margin-bottom: 10px;
}

#ToggleShowDeck:hover
{
    opacity: 1.0;
}

.HideDeckView #ToggleShowDeck
{
    background-position: left center;
}

#DeckExpandCollapseArrow
{
    background-color: #446644;
    vertical-align: center;
    width: 32px;
    height: 60px;

    horizontal-align: left;
    opacity-mask: url("s2r://panorama/images/control_icons/arrow_solid_right_png.vtex");
}

.HideDeckView #DeckExpandCollapseArrow
{
    horizontal-align: right;
    opacity-mask: url("s2r://panorama/images/control_icons/arrow_solid_left_png.vtex");
}

#DeckInfo
{
    border: 1px solid gray;
    margin-bottom: 10px;
    width: 705px;
    height: 470px;
    background-color: black;
}

#CurrentDeck
{
	vertical-align: bottom;
	horizontal-align: right;
    flow-children: left;
	transform: translateX( 0px ) translateY( 0px );
	opacity: 1.0;

	transition-property: transform;
	transition-duration: 0.45s;
	transition-timing-function: ease-in;
}

.HideDeckView #CurrentDeck
{
  	transform: translateX( 690px ) translateY( 0px );

    transition-property: transform;
	transition-duration: 0.45s;
	transition-timing-function: ease-in;
}

#NextStage .CloseButtonPanelTitle,
#PreviousStage .CloseButtonPanelTitle
{
    font-size: 38px;
}

.CloseButtonPanelTitle
{

}

.isLastGrant #GrantFinishLabel
{
    visibility: visible;
}

.isLastGrant #GrantNextLabel,
#GrantFinishLabel,
#OverBudget,
.selectionComplete #ChoosePrompt,
.selectionIncomplete #GrantFinishLabel,
.selectionIncomplete #GrantNextLabel,
.overBudget #GrantNextLabel
{
    visibility: collapse;
}

@keyframes 'next_label_ready_animation' 
{
	0%		{	text-shadow: 0px 0px 8px 4.0 #71ffff11;}
	50%		{	text-shadow: none;}
	100%	{	text-shadow: 0px 0px 8px 4.0 #71ffff11;}
}

#NextStage #GrantNextLabel
#PreviousStage #PreviousLabel
{
	animation-name: next_label_ready_animation;
    animation-duration: 2s;
    animation-delay: 0s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;

	letter-spacing: 8px;
}

#NextStage #GrantNextLabel:hover,
#PreviousStage #PreviousLabel:hover
{
	animation-name: none;
	text-shadow: 0px 0px 8px 4.0 #71ffff11;
}

#NextStage #GrantNextLabel:active,
#PreviousStage #PreviousLabel:active
{
	text-shadow: 0px 0px 20px 4.0 #71ffff25;
}

.selectionComplete.overBudget #OverBudget
{
    visibility: visible;
}

#ChoosePrompt
{
    color: #7c8e8e;
	text-overflow: shrink;
}

#HeroList
{
    flow-children: down;
    margin-right: -100px;
}

.HeroImage
{
    width: 65px;
    height: 65px;
    margin: 0px 10px 0px 10px;
}

.HeroImage.Red
{
    border: 4px solid cardColorRed;
}
.HeroImage.Green
{
    border: 4px solid cardColorGreen;
}
.HeroImage.Blue
{
    border: 4px solid cardColorBlue;
}
.HeroImage.Black
{
    border: 4px solid cardColorBlack;
}

.stageCompleted
{
    opacity: 0.1;
}

.stageActive .GrantStageIcon
{
   wash-color: gold;
}

.GrantStageGroupSeparator
{
    margin-left: 5px;
    margin-right: 5px;
    flow-children: right;
}

.GrantStageLabel
{
    vertical-align: center;
    visibility: collapse;
}

.GrantStageSeparatorLabel
{
    vertical-align: center;
}

.stageActive .GrantStageLabel
{
    color: gold;
}

.GrantStageType1
{
    background-image: url("s2r://panorama/images/card/cardtype_hero_png.vtex");
}

.GrantStageType2
{
    background-image: url("s2r://panorama/images/card/cardtype_spell_psd.vtex");
}

.GrantStageType3
{
    background-image: url("s2r://panorama/images/card/cardtype_weapon_psd.vtex");
}

.GrantStageType4
{
    background-image: url("s2r://panorama/images/deck_builder/buttons/samplehand_png.vtex");
}

#StageMsg
{
    horizontal-align: center;
    font-size: 18px;
	visibility: collapse;
    height: 20px;
}

.HasStageMsg #StageMsg
{
	visibility: visible;
}

#currentBalance
{
    flow-children: right;
    vertical-align: center;
    margin-left: 20px;
    visibility: collapse;
}

.currencyDraft #currentBalance
{
    visibility: visible;
}

#currentBalance .currencyIcon
{
    width: 60px;
    height: 60px;
    vertical-align: center;
}

.currencyIcon
{
    width: 30px;
    height: 30px;
    background-size: 100% 100%;
    background-image:  url("s2r://panorama/images/tooltip_turn_coin_pass_png.vtex");
}
#currentBalance Label
{
    font-size: 40px;
    margin-left: 10px;
}

.overBudget #currentBalance Label
{
    color: red;
}

.CardGroup
{
    flow-children: down;
}

.CurrencyValue.costPositive
{
    color: red;
}

.CurrencyValue.costNegative
{
    color: green;
}

.CurrencyGroup
{
    flow-children: right;
    horizontal-align: center;
}

.CurrencyValue
{
    vertical-align: center;
    font-size: 24px;
    margin-left: 10px;
}

LimitedStage .NotPickableBecauseMasquerade
{
    opacity: .10;
}

LimitedStage.ShowAIPicks .WouldBePickedByAI
{
	border: 2px solid red;
}

#DraftTitle
{
	flow-children: down;
	horizontal-align: left;
	vertical-align: center;
	margin-left: 14px;
}

#DraftReplayTitleLabel
{
    visibility:collapse;
}
.IsReplay #DraftReplayTitleLabel
{
    visibility:visible;
}
.IsReplay #DraftTitleLabel
{
    visibility:collapse;
}
#DraftTitleLabel,
#DraftReplayTitleLabel
{
	font-size: 36px;
	text-transform: uppercase;
	color: abilityGradient;
	letter-spacing: 6px;
	font-weight: lighter;
	margin-top: 24px;
}

#DraftDescLabel
{
	font-size: 22px;
	text-transform: uppercase;
	color: #7c8e8e;
	letter-spacing: 3px;
	font-weight: lighter;
}

#ControlInfoIcons
{
	flow-children: right;
}

#DeckListContainer
{
	margin-top: 16px;
	height: 894px;
	width: 408px;
	background-color: none;
	background-image:  url("s2r://panorama/images/draft/decklist_container_bg_psd.vtex");
	background-position: 50% 50%;
	background-repeat: no-repeat;
	flow-children: down;
	horizontal-align: right;
	box-shadow: #00000055 -10px -10px 20px 20px;
}

#DeckListSortContainer
{
	height: 40px;
	flow-children: right;
	horizontal-align: left;
	margin-left: 20px;
	margin-top: 6px;
}

.SortByLabel
{
	vertical-align: center;
	text-transform: uppercase;
	letter-spacing: 2px;
}

#SortByLabel
{
	color: #7c8e8e;
}

.IsReplay #DeckList
{
	height: 818px;
}

#DeckList
{
	transition-property: height;
	transition-duration: .23s;
	transition-timing-function: ease-in;
}

#BenchDeckList
{
	transition-property: height;
	transition-duration: .23s;
	transition-timing-function: ease-in;
	height: 23px;
	vertical-align: bottom;
	margin-bottom: 10px;
	margin-top: 15px;
	flow-children: none;
}

.IsReplay #BenchDeckList
{
	visibility: collapse;
}

#HeroAndCardCountContainer
{
	height: 148px;
	width: 1232px;
	margin-left: 12px;
	margin-right: 32px;
    background-image:  url("s2r://panorama/images/draft/draft_results_bg_psd.vtex");
	flow-children: right;
}

.cardSelected
{
	opacity-mask: url("s2r://panorama/images/draft/card_selected_mask_psd.vtex");
}

DCGDeckList.DeckList
{
	width: 438px;
	horizontal-align: center;
	height: fill-parent-flow( 1.0 );
	ui-scale: 85%;
}

.BenchListViewable #BenchDeckList
{
	height: 325px;
}

DCGDeckSummary
{
	margin-left: 20px;
	width: 100%;
}

#ChosenCardsContainer
{
	width: fit-children;
	height: fit-children;
	vertical-align: center;
	flow-children: right;
	margin-left: 130px;
}

#ChosenCardsContent
{
	flow-children: right;
}

#PrevChoicesLabel
{
	margin-top: 6px;
	horizontal-align: center;
	color: #7c8e8e;
}

.ChosenCards
{
	vertical-align: center;
	flow-children: right;
	width: 78px;
}

.CardChoicesDivider
{
	height: 36px;
	width: height-percentage( 5% );
	background-image: url("s2r://panorama/images/deck_list_components/hero_turn_divider_png.vtex");
	background-size: 100% 100%;
	margin-right: 8px;
	margin-left: 8px;
}

.CardChoices
{
	background-size: 100% 100%;
	height: 30px;
	width: 30px;
	margin-right: 3px;
	margin-left: 3px;
	border-radius: 15px;
	vertical-align: center;
	text-align: center;
	font-size: 26px;
	background-color: gradient( linear, 0% 100%, 0% 0%, from( white ), to( #c7c7c7 ) );
	color: #36383b;
	horizontal-align: center;
}

.CardChoices.CardNotChosenYet
{
	background-color: gradient( linear, 0% 100%, 0% 0%, from( #222327 ), to( #383839 ) );
	box-shadow: none;
}

.CardChoices.IsHero
{
	height: 36px;
	width: 36px;
	border-radius: 18px;
	font-size: 32px;
}

.CardChoices.Red
{
	box-shadow: #dfa0a0aa -2px -2px 4px 4px; 
}

.CardChoices.Blue
{
	box-shadow: #a4a0df88 -2px -2px 4px 4px; 
}

.CardChoices.Green
{
	box-shadow: #a0dfac44 -2px -2px 4px 4px; 
}

.CardChoices.Black
{
	box-shadow: #504d53bb -3px -3px 6px 6px; 
}

.CardChoices.Colorless
{
	box-shadow: #dfd1a044 -2px -2px 4px 4px; 
}