#ShopTooltipTiersHeader
{
    font-size: 32px;
    color: uiBrightGrey;
    padding: 8px;
}

#ShopTooltipTiersDescription
{
    padding-left: 8px;
    padding-bottom: 7px;
    max-width: 350px;
    color: uiStandardGrey;
}

.ShopTiersTooltip
{
    flow-children: down;
}

.ShopTierListContainer
{
    flow-children: down;
}

.ShopTierContainer
{
    width: fit-children;
    flow-children: right;
    padding: 8px;
}

.ShopTierContainer Label
{
    padding-left: 5px;
    padding-top: -5px;
    font-size: 24px;
}

.TierCount
{
    horizontal-align: center;   
}

.TierName
{
    color: uiStandardGrey;
}

.TierIcon
{
    width: 18px;
    height: 18px;
    color: uiBrightGrey;
    margin-right: 5px;
    background-size: 100% 100%;
}

#TierIcon1
{
    background-color: grey;
}

#TierIcon2
{
    background-color: green;
}

#TierIcon3
{
    background-color: blue;
}

#TierIcon4
{
    background-color: purple;
}

#TierIcon5
{
    background-color: orange;
}