/* styles for the simple text tooltip */

.TextContents
{
    min-width: 80px;
    max-width: 450px;
    flow-children: down;
}

#TextLabel
{
    vertical-align: center;

    padding-left: 5px;

		color: gradient( linear, 0% 0%, 0% 100%, from( #e5e5e5 ), to( #999999) );
    font-size: 24px;

    text-align: center;   
}

.GameModeTooltip #TextLabel
{
    font-size: 20px;
	color: white;
	horizontal-align: left;
	vertical-align: middle;
}

.BindingsTooltip #TextLabel
{
    font-weight: thin;
    color: #dddddd;
    font-size: 17px;
}

.ShortTextTooltip #TextLabel
{
	font-size: 20px;
	color: #c8c8c8;
	horizontal-align: left;
	vertical-align: middle;
	max-width: 400px;
}

.LeaverConsequencesTooltip #TextLabel
{
	text-shadow: 0px 0px 6px 1.0 #ff000088;
}

.RecommendedUpgradeTooltip #TextLabel
{
	color: #FF9900;
}