.AttributeContents
{
	width: fit-children;
	flow-children: down;
}

.ContextGlossary .AttributeContents
{
    flow-children: down;
		background-color: gradient( linear, 0% 0%, 0% 100%, from( #2d2d2d ), to( #2d2d2d ) );
}

.ContextGlossary #Contents
{
    border-radius:0px;
    border-top: 1px solid #555555;
    border-bottom: 1px solid #555555;
    padding: 12px;
}

#Dashboard .AttributeContents
{
    border: 1px solid #a5a09b;
}

#Contents #Header
{
    padding-top: 10px;
    padding-left: 12px;
    padding-right: 12px;
}

.ContextGlossary #Contents #Header
{
	padding-top: 0px;
	padding-left: 0px;
	padding-right: 0px;
}

#Contents #Body
{
    padding-left: 12px;
    padding-right: 12px;
}

.ContextGlossary #Contents #Body
{
	padding-left: 0px;
	padding-right: 0px;
}

#Contents
{
    padding:0px;
}

#Header
{
	flow-children: down;
}

#AttributeHeader
{
	flow-children: down;
	padding-bottom: 5px;
}

#AttributeName
{
	font-size: 24px;
	color: #dedede;
	text-overflow: shrink;
}

.ContextGlossary #AttributeName
{
	font-size: 18px;
}

#AttributeDesc
{
	max-width: 350px;
	font-size: 16px;
	color: #888994;
	margin-top: -6px;
	margin-bottom: 6px;
	line-height: 18px;
}

.UICard #AttributeDesc
{
    visibility: collapse;
}

#Body
{
	flow-children: down;
	width: fit-children;
	height: fit-children;
}
#Footer
{
    flow-children:right;
    background-image: url("s2r://panorama/images/hud/modifier_attack_bg_psd.vtex");
    //background-color: gradient( linear, 0% 0%, 0% 100%, from( #343538 ), to( #34353800 ) );
    width:362px;
    height: 40px;
    background-size: cover;
    //border-top: 1px solid #3c3d3f;
    margin-top: 4px;
    visibility:collapse;
}
.IsAttackTooltip.ShowFooters #Footer,
.IsHealthTooltip.ShowFooters #Footer
{
    visibility:visible;
}
.IsHealthTooltip #Footer
{
	    background-image: url("s2r://panorama/images/hud/modifier_health_bg_psd.vtex");
}
.Attribute
{
    flow-children:right;
    width:78px;
    height: 40px;
}
#Piercing.Attribute
{
    width:60px;
}
#Disarmed.Attribute
{
    width:46px;
}
#Invulnerability.Attribute, #DeathShield.Attribute, #Bounty.Attribute, #Regeneration.Attribute
{
    width:88px;
}
.Attribute Image
{
    width:28px;
    height:28px;
    vertical-align:center;
    margin-left: 18px;
}
.Attribute Label
{
    width:24px;
    height:30px;
    font-size:18px;
    margin-left: 2px;
    margin-top: 10px;
    text-shadow: 1px 1px 1px 1 black;
}
.AttackAttribute,
.HealthAttribute
{
    visibility:collapse;
}

.IsAttackTooltip .AttackAttribute,
.IsHealthTooltip .HealthAttribute
{
    visibility:visible;
}
#Regeneration Label, #Bounty Label
{
    width:40px;
}
#PiercingImage,
#DisarmedImage,
#InvulnerabilityImage,
#DeathShieldImage,
#RetaliateImage,
#Retaliate Label,
#Siege Label,
#Cleave Label,
#Regeneration Label,
#RegenerationImage,
#CleaveImage,
#SiegeImage,
#BountyImage,
#Bounty Label
{
    wash-color:#515253;
    horizontal-align: center;

}
#RegenerationImage, #BountyImage
{
	margin-left: 22px;
}
#DeathShieldImage, #InvulnerabilityImage
{
	margin-left: 0px;
	horizontal-align: center;
}

.HasPiercing #PiercingImage,
.HasInvulnerability #InvulnerabilityImage,
.HasDeathShield #DeathShieldImage,
.HasRetaliate #Retaliate Label,
.HasSiege #Siege Label,
.HasCleave #Cleave Label,
.HasRegeneration #Regeneration Label,
.HasRetaliate #RetaliateImage,
.HasSiege #SiegeImage,
.HasCleave #CleaveImage,
.HasRegeneration #RegenerationImage,
.HasBounty #BountyImage,
.HasBounty #Bounty Label
{
    wash-color:white;
}
.IsDisarmed #DisarmedImage,
{
	wash-color: #d05339;
}

.NoHealthAttribute.IsHealthTooltip #Footer,
.NoAttackAttribute.IsAttackTooltip #Footer
{
    visibility:collapse;
}

#PiercingImage, #DisarmedImage
{
    margin-left: 4px;

}

.Separator
{
    width:2px;
    height: 40px;
    //background-color: gradient( linear, 0% 0%, 0% 100%, from( #3e413a ), to( #3e413a00 ) );
    //height:40px;
    //background-image: url("s2r://panorama/images/hud/modifier_divider_psd.vtex");
    //background-size: 100% 100%;
    horizontal-align:right;
}
#HealthFooter, #AttackFooter
{
	width: 100%;
	flow-children: right;
}
.IsAttackTooltip #HealthFooter,
.IsHealthTooltip #AttackFooter
{
	visibility: collapse;
}
