
.MainBlock
{
    flow-children: right;
    width: 280px;
    margin-bottom: 6px;
}

#StatusEffectArtwork
{
    vertical-align: top;
    width: 40px;
    height: 40px;
    padding: 4px;
    margin-right: 12px;
}

.Details
{
    flow-children: down;
}

.StatusEffectName
{
    font-size: 18px;
    margin-top: 2px;
    color: #dedede;
}

#DurationsContainer
{
    flow-children: down;
}

#DurationsContainer Label
{
		font-size: 16px;
    color: #999ba7;
    margin-top: -6px;
}

#DummyForceLoadStatusEffectIcons_0 { background-image: url("s2r://panorama/images/hud/icon_effect_damage_immune_png.vtex"); }
#DummyForceLoadStatusEffectIcons_1 { background-image: url("s2r://panorama/images/hud/icon_effect_piercing_png.vtex"); }
#DummyForceLoadStatusEffectIcons_2 { background-image: url("s2r://panorama/images/hud/icon_effect_rapid_deployment_png.vtex"); }
#DummyForceLoadStatusEffectIcons_3 { background-image: url("s2r://panorama/images/hud/icon_effect_stunned_png.vtex"); }
// Note: missing "file://{images}/hud/icon_effect_untargetable.png"
#DummyForceLoadStatusEffectIcons_5 { background-image: url("s2r://panorama/images/hud/icon_effect_silenced_png.vtex"); }
#DummyForceLoadStatusEffectIcons_6 { background-image: url("s2r://panorama/images/hud/icon_effect_disarmed_png.vtex"); }
#DummyForceLoadStatusEffectIcons_7 { background-image: url("s2r://panorama/images/hud/icon_death_shield_png.vtex"); }