.AttributeSummaryElement.DCGTooltipCardStatusElement
{
	ui-scale: 70%;
}

.TooltipVisible .DCGTooltipCardStatusElement
{
	visibility: visible;
}

.DCGTooltipCardStatusElement
{
//	width: 280px;
	width: fit-children;
	height: 48px;	
    margin-bottom: 8px;
	visibility: collapse;
}

.HasArmorBase .DCGTooltipCardStatusElement
{
//	width: 216px;
	width: fit-children;
}

.HasNegativeArmorBase .DCGTooltipCardStatusElement
{
//	width: 216px;
	width: fit-children;
}

.MainBlock
{
	width: fit-children;
	height: 48px;
	
	vertical-align: center;
	horizontal-align: center;

	flow-children: right;
}

#SourceArtwork
{
	width: 48px;
	height: 48px;
	margin-right: 10px;
}


.SourceID
{
	width: 200px;
	margin-right: 8px;
	vertical-align: center;
	height: 100%;
}

#SourceNameContainer
{
	vertical-align: top;
	height: 60%;
}

.SourceName
{
	font-size: 18px;
	text-overflow: shrink;
	margin-top: 5px;
	color: #dedede;
	vertical-align: top;
}

.SourceType
{
	font-size: 16px;
	margin-bottom: 5px;
	text-overflow: shrink;
	color: #888994;
}

#SourceTypeContainer
{
	vertical-align: bottom;
}


.IsNegative .AttributeValue
{
	color: textColorRed;
}

.IsPositive .AttributeValue
{
	color: textColorGreen;
}

.NoAttributeValue .AttributeValue
{
	color: #dedede00;
}