.InspectIncludedByContents
{
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #2d2d2d ), to( #2d2d2d ) );	
}

#Contents
{
	width: 300px;
	flow-children: down;
    border-radius:0px;
    border-top: 1px solid #555555;
    border-bottom: 1px solid #555555;
    padding: 12px;
}

.InspectIncludedByTitleRegion
{
    flow-children: right;
    width: fit-children;
    height: fit-children;
}

#InspectIncludedByTitle
{
	color: #dedede;
	font-size: 18px;
    font-weight: bold;
    padding-bottom: 12px;
    padding-left: 4px;
    padding-top: 2px;
}

#InspectIncludedByText
{
	color: #999ba7;
	font-size: 14px;
}

#CardIncludedBy
{
//	margin-left: 0.5px;
	margin-top: -4px;
	width: 25px;
	height: 25px;
	vertical-align: center;
	horizontal-align: center;
}
