.DCGFaux3DText
{
    padding-top: 0px;
    padding-left: 0px;
    //width: fit-children;

    //background-color: #000000;

    width: 275px;
	height: 173px;
	flow-children: down;
}

#TextLabel.card_text_panel
{
	width: 100%;
	color: textColorWhite;
	vertical-align: center;
	text-align: center;

	font-size: 25px;
	font-family: cardHeaderSmall;
	text-overflow: shrink;
    padding: 15px;
}

#TextLabel
{
	color: white;
	font-size: 32px;
	width: 100%;
	text-align: left;
	font-family: cardHeaderLarge;
	text-overflow: shrink;
}
