DCGChaosGauntletAchievementTooltip
{
	width: fit-children;
	height: fit-children;
	flow-children: down;
}

#Header
{
	flow-children: right;
	background-color: black;
	padding: 8px;
	width: 100%;
}

#AchievementName
{
	font-size: 18px;
	font-weight: light;
	color: uiBrightGrey;
	text-overflow: shrink;
	text-transform: uppercase;
	vertical-align: center; 
}

#AchievementValue
{
	font-size: 16px;
	vertical-align: center;
	horizontal-align: right;
	color: uiDarkGrey;
}

#Body
{
	flow-children: right;
	width: fit-children;
	height: fit-children;
	padding: 8px;
}

.CheeveInfo
{
	flow-children: down;
	width: 280px;
	height: 100%;
	padding-left: 16px;
	padding-right: 16px;
	horizontal-align: center;
}

.CheeveProgress
{
	flow-children: down;
	width: fit-children;
	height: 100%;
}

.CheeveProgressBottom
{
	flow-children: down;
	vertical-align: top;
	width: 100%;
	height: fit-children;
	padding-bottom: 8px;
}

.CheeveNumbers
{
	flow-children: right;
	width: 100%;
}

.CheeveNumber
{
	font-size: 14px;
}

.CheeveImageContainer
{
	width: fit-children;
	height: fit-children;
}

.CheeveImage
{
	width: 150px;
	height: 150px;
	//border: 1px solid yellow;
}

#CheeveProgressBar
{
	width: 150px;
	height: 150px;
}

.Completed #CheeveProgressBar
{
    visibility: collapse;
}

#CheeveProgressBar_FG
{
	width: 97%;
	height: 97%;
	horizontal-align: center;
	vertical-align: center;

	border: 17px solid #462b48;
	border-radius: 50%;
}

#CheeveProgressBar_BG
{
	width: 97%;
	height: 97%;
	horizontal-align: center;
	vertical-align: center;

	border: 17px solid #999999;
	border-radius: 50%;
}

.CheeveImage
{
	background-size: 100% 100%;
}

.Achievement10001.Progress .CheeveImage { background-image: url("s2r://panorama/images/achievements/progress/achievement_progress_10001_psd.vtex"); }
.Achievement10002.Progress .CheeveImage { background-image: url("s2r://panorama/images/achievements/progress/achievement_progress_10002_psd.vtex"); }
.Achievement10003.Progress .CheeveImage { background-image: url("s2r://panorama/images/achievements/progress/achievement_progress_10003_psd.vtex"); }
.Achievement10004.Progress .CheeveImage { background-image: url("s2r://panorama/images/achievements/progress/achievement_progress_10004_psd.vtex"); }
.Achievement10005.Progress .CheeveImage { background-image: url("s2r://panorama/images/achievements/progress/achievement_progress_10005_psd.vtex"); }
.Achievement10006.Progress .CheeveImage { background-image: url("s2r://panorama/images/achievements/progress/achievement_progress_10006_psd.vtex"); }
.Achievement10007.Progress .CheeveImage { background-image: url("s2r://panorama/images/achievements/progress/achievement_progress_10007_psd.vtex"); }
.Achievement10008.Progress .CheeveImage { background-image: url("s2r://panorama/images/achievements/progress/achievement_progress_10008_psd.vtex"); }
.Achievement10009.Progress .CheeveImage { background-image: url("s2r://panorama/images/achievements/progress/achievement_progress_10009_psd.vtex"); }
.Achievement10010.Progress .CheeveImage { background-image: url("s2r://panorama/images/achievements/progress/achievement_progress_10010_psd.vtex"); }
.Achievement10011.Progress .CheeveImage { background-image: url("s2r://panorama/images/achievements/progress/achievement_progress_10011_psd.vtex"); }
.Achievement10012.Progress .CheeveImage { background-image: url("s2r://panorama/images/achievements/progress/achievement_progress_10012_psd.vtex"); }
.Achievement10013.Progress .CheeveImage { background-image: url("s2r://panorama/images/achievements/progress/achievement_progress_10013_psd.vtex"); }
.Achievement10014.Progress .CheeveImage { background-image: url("s2r://panorama/images/achievements/progress/achievement_progress_10014_psd.vtex"); }
.Achievement10015.Progress .CheeveImage { background-image: url("s2r://panorama/images/achievements/progress/achievement_progress_10015_psd.vtex"); }
.Achievement10016.Progress .CheeveImage { background-image: url("s2r://panorama/images/achievements/progress/achievement_progress_10016_psd.vtex"); }
.Achievement10017.Progress .CheeveImage { background-image: url("s2r://panorama/images/achievements/progress/achievement_progress_10017_psd.vtex"); }
.Achievement10018.Progress .CheeveImage { background-image: url("s2r://panorama/images/achievements/progress/achievement_progress_10018_psd.vtex"); }
.Achievement10019.Progress .CheeveImage { background-image: url("s2r://panorama/images/achievements/progress/achievement_progress_10019_psd.vtex"); }
.Achievement10020.Progress .CheeveImage { background-image: url("s2r://panorama/images/achievements/progress/achievement_progress_10020_psd.vtex"); }
.Achievement10021.Progress .CheeveImage { background-image: url("s2r://panorama/images/achievements/progress/achievement_progress_10021_psd.vtex"); }
.Achievement10022.Progress .CheeveImage { background-image: url("s2r://panorama/images/achievements/progress/achievement_progress_10022_psd.vtex"); }
.Achievement10023.Progress .CheeveImage { background-image: url("s2r://panorama/images/achievements/progress/achievement_progress_10023_psd.vtex"); }
.Achievement10024.Progress .CheeveImage { background-image: url("s2r://panorama/images/achievements/progress/achievement_progress_10024_psd.vtex"); }

.Achievement10001.Completed .CheeveImage { background-image: url("s2r://panorama/images/achievements/completed/achievement_completed_10001_psd.vtex"); }
.Achievement10002.Completed .CheeveImage { background-image: url("s2r://panorama/images/achievements/completed/achievement_completed_10002_psd.vtex"); }
.Achievement10003.Completed .CheeveImage { background-image: url("s2r://panorama/images/achievements/completed/achievement_completed_10003_psd.vtex"); }
.Achievement10004.Completed .CheeveImage { background-image: url("s2r://panorama/images/achievements/completed/achievement_completed_10004_psd.vtex"); }
.Achievement10005.Completed .CheeveImage { background-image: url("s2r://panorama/images/achievements/completed/achievement_completed_10005_psd.vtex"); }
.Achievement10006.Completed .CheeveImage { background-image: url("s2r://panorama/images/achievements/completed/achievement_completed_10006_psd.vtex"); }
.Achievement10007.Completed .CheeveImage { background-image: url("s2r://panorama/images/achievements/completed/achievement_completed_10007_psd.vtex"); }
.Achievement10008.Completed .CheeveImage { background-image: url("s2r://panorama/images/achievements/completed/achievement_completed_10008_psd.vtex"); }
.Achievement10009.Completed .CheeveImage { background-image: url("s2r://panorama/images/achievements/completed/achievement_completed_10009_psd.vtex"); }
.Achievement10010.Completed .CheeveImage { background-image: url("s2r://panorama/images/achievements/completed/achievement_completed_10010_psd.vtex"); }
.Achievement10011.Completed .CheeveImage { background-image: url("s2r://panorama/images/achievements/completed/achievement_completed_10011_psd.vtex"); }
.Achievement10012.Completed .CheeveImage { background-image: url("s2r://panorama/images/achievements/completed/achievement_completed_10012_psd.vtex"); }
.Achievement10013.Completed .CheeveImage { background-image: url("s2r://panorama/images/achievements/completed/achievement_completed_10013_psd.vtex"); }
.Achievement10014.Completed .CheeveImage { background-image: url("s2r://panorama/images/achievements/completed/achievement_completed_10014_psd.vtex"); }
.Achievement10015.Completed .CheeveImage { background-image: url("s2r://panorama/images/achievements/completed/achievement_completed_10015_psd.vtex"); }
.Achievement10016.Completed .CheeveImage { background-image: url("s2r://panorama/images/achievements/completed/achievement_completed_10016_psd.vtex"); }
.Achievement10017.Completed .CheeveImage { background-image: url("s2r://panorama/images/achievements/completed/achievement_completed_10017_psd.vtex"); }
.Achievement10018.Completed .CheeveImage { background-image: url("s2r://panorama/images/achievements/completed/achievement_completed_10018_psd.vtex"); }
.Achievement10019.Completed .CheeveImage { background-image: url("s2r://panorama/images/achievements/completed/achievement_completed_10019_psd.vtex"); }
.Achievement10020.Completed .CheeveImage { background-image: url("s2r://panorama/images/achievements/completed/achievement_completed_10020_psd.vtex"); }
.Achievement10021.Completed .CheeveImage { background-image: url("s2r://panorama/images/achievements/completed/achievement_completed_10021_psd.vtex"); }
.Achievement10022.Completed .CheeveImage { background-image: url("s2r://panorama/images/achievements/completed/achievement_completed_10022_psd.vtex"); }
.Achievement10023.Completed .CheeveImage { background-image: url("s2r://panorama/images/achievements/completed/achievement_completed_10023_psd.vtex"); }
.Achievement10024.Completed .CheeveImage { background-image: url("s2r://panorama/images/achievements/completed/achievement_completed_10024_psd.vtex"); }


#AchievementDesc
{
	color: uiLightGrey;
	font-size: 18px;
    vertical-align: bottom;
}