DCGTooltipCardAttributeSummary
{
	width: fit-children;
	height: fit-children;
	flow-children: down;
}

.AttributeSummaryContents
{
	width: fit-children;
	flow-children: down;
}

#Header
{
	flow-children: down;
}

#CardAttributeSummaryHeader
{
	flow-children: down;
	padding-left: 6px;
	padding-right: 6px;
}

#CardAttributeSummaryName
{
	font-size: 14px;
	font-weight: bold;
	color: white;
	text-overflow: shrink;
}

#CardAttributeSummaryDesc
{
	font-size: 10px;
	vertical-align: middle;
	color: white;
}

#Body
{
	flow-children: down;
	width: fit-children;
	height: fit-children;
}

