.TooltipPackContents
{
  width: 400px;
  background-color: gradient( linear, 0% 0%, 0% 100%, from( #2d2d2d ), to( #2d2d2d ) );
}

.Container
{
  padding: 12px;
  width:100%;
  flow-children: down;
}

.TooltipPackContents Label
{
  width: 100%;
  letter-spacing: 1px;
  font-size: 16px;
}

.Hero
{
  font-weight: bold;
}

.Item
{
  font-weight: bold;
}

.Rare
{
  font-weight: bold;
  color: rarityRare;
}

.Uncommon
{
  font-weight: bold;
  color: rarityUncommon;
}

.Common
{
    font-weight: bold;
    color: rarityCommon;
}

.Link {
    color: #00C1FF;
}

#Title
{
    font-size: 20px;
    line-height: 20px;
    font-weight: bold;
    color: white;
    margin-bottom: 20px;
}

#ContentsLine 
{
    margin-bottom: 20px;
}

.CardTypeIcon
{
  width: 26px;
  height: 26px;
  vertical-align: bottom;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}


.CardRarityIcon
{
  width: 32px;
  height: 32px;
  vertical-align: top;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  margin-left: 3px;
  margin-right: 4px;
  transform: translateY(10px);

}

.CardRarityIcon.Rare
{
  background-image: url("s2r://panorama/images/set_icons/set_01_rare_small_psd.vtex");
}

.CardRarityIcon.Uncommon
{
  background-image: url("s2r://panorama/images/set_icons/set_01_uncommon_small_psd.vtex");
}

.PackTooltipCount
{
  font-size: 22px;
}

.PackTooltipCountX
{
  font-weight: lighter;
  color: #666;
  font-size: 22px;
}