.StatusContents
{
	width: fit-children;
	flow-children: down;
}

#Dashboard .StatusContents
{
    border: 1px solid #a5a09b;
}

#Header
{
	flow-children: down;
}

#StatusHeader
{
	flow-children: down;
	padding-bottom: 5px;
}

#StatusName
{
	font-size: 24px;
	color: #dedede;
	text-overflow: shrink;
	font-family: cardHeaderLarge;
}

#StatusDesc
{
	max-width: 350px;
	font-size: 16px;
	vertical-align: middle;
	color: #888994;
	margin-top: -3px;
	margin-bottom: 6px;
}

#DCGCardStatusTooltip #StatusDesc
{
    visibility: collapse;
}

#Body
{
	flow-children: down;
	width: fit-children;
	height: fit-children;
}

