.AttributeContents
{
    width: fit-children;
	flow-children: down;
    tooltip-position: left;
}

.InfoHeaderText
{
	font-size: 24px;
	color: #ffffff;
	font-family: cardHeaderLarge;
	font-weight: normal;
	padding-left: 16px;
    padding-top: 4px;
}

.InfoHeaderNumber
{
	font-size: 24px;
	color: #dededede;
	font-family: cardHeaderLarge;
	font-weight: normal;
	padding-left: 16px;
    padding-bottom: 4px;
}

.GameClockNumber
{
	font-size: 22px;
	color: #ffffff;
	font-family: cardHeaderLarge;
	font-weight: bold;
    horizontal-align: center;
    vertical-align: center;
    text-shadow: 0px 0px 2px 3.0 #000000;
    margin-top: -1px;
}

.DescriptionText
{
	font-size: 18px;
	color: #ffffff;
	font-family: cardHeaderLarge;
	font-weight: normal;
}

.DescriptionLabel
{
	font-size: 18px;
	color: #909090;
	font-family: cardHeaderLarge;
	font-weight: normal;
}

.TimerTooltip
{
	flow-children: down;

	width: fit-children;
	height: fit-children;

	vertical-align: center;
	horizontal-align: left;

	border-radius: 0px;

	padding: 0px;
	margin: 0px;

	visibility: visible;

	border: 0px solid red;
	background-color: #4c4c4c;
}

.InfoHeader
{
	flow-children: right;

	width: 350px;
	height: fit-children;

	vertical-align: top;
	horizontal-align: left;

	border-radius: 0px;

	padding-left: 16px;

    visibility: visible;

    background-color: #212121;
}

.InfoDescription
{
	flow-children: down;

	width: 350px;
	height: fit-children;

	vertical-align: top;
	horizontal-align: left;

	border-radius: 0px;

	padding-left: 16px;
	padding-bottom: 16px;
	padding-right: 16px;
	padding-top: 8px;

	visibility: visible;

	background-color: #111111;
}

.InfoDescriptionLine
{
	flow-children: right;

	border-radius: 0px;

	padding: 0px;
	margin: 0px;

	visibility: visible;
}

.GameClockSection
{
    overflow: noclip;

	width: 80px;

    vertical-align: center;

	padding: 0px;

    visibility: visible;
}

.HeaderSection
{
	flow-children: down;

	width: fit-children;
	height: fit-children;

	vertical-align: center;
	horizontal-align: left;

	border-radius: 0px;

	padding: 0px;

    visibility: visible;
}

.GameClockIcon
{
	width: 80px;
	height: 32px;

	background-image: url("s2r://panorama/images/tooltip_game_clock_png.vtex");

	vertical-align: center;
}

.TurnClockIcon
{
	width: 64px;
	height: 64px;

	background-image: url("s2r://panorama/images/tooltip_turn_clock_png.vtex");

	vertical-align: center;
}

.TurnCoinIcon
{
	width: 64px;
	height: 64px;

	background-image: url("s2r://panorama/images/tooltip_turn_coin_pass_png.vtex");

	vertical-align: center;
}
