.DCGTooltipCombatPreviewElement
{
  height: 28px;
}

.MainBlock
{
  height: 28px;
}

.SourceID
{
  flow-children: right;
  height: 28px;
}

.SourceName, .Value
{
  font-size: 16px;
  text-overflow: shrink;
  color: #888994;
  margin-top: 5px;
}

#SourceNameContainer
{
  height: 100%;
}

#SourceArtworkContainer, #ValueContainer
{
width: 48px;
height: 28px;
margin-right: 10px;
}

#SourceArtwork
{
width: 28px;
height: 28px;
horizontal-align: right;
margin-right: 0px;
}
