// There are three types of combat preview tooltip rows. Here are the types and
// the relevant styles for each (outside of whatever's in the XML):
//
//	Header
//		BaseElement
//
//	Row
//		DamageElement
//		HasStacks
//		IsDamage
//		IsHeal
//		IsPiercing
//      IsLethal
//		HasArmor
//		HasNegativeArmor
//		IsDamageImmune
//		HasActiveConditionalDamageBonus
//
//	Summary
//		DeathShieldLethal (has a death shield that will pop)
//		MaybeLethal
//		Lethal
//		BaseElement

.DCGTooltipCombatPreviewElement
{
	width: fit-children;
	height: 48px;	
  margin-bottom: 8px;
	opacity: 0.0;
}

.TooltipVisible .DCGTooltipCombatPreviewElement
{
	opacity: 1.0;
}

.HasArmorBase .DCGTooltipCombatPreviewElement
{
	width: fit-children;
}

.HasNegativeArmorBase .DCGTooltipCombatPreviewElement
{
	width: fit-children;
}

.MainBlock
{
	width: fit-children;
	height: 48px;
	
	vertical-align: center;
	horizontal-align: center;

	flow-children: right;

	padding-right: 5px;
}

#TailElement.Lethal .MainBlock,
.Lethal .MainBlock
{
    background-color: gradient( linear, 0% 0%, 100% 0%, from( #5f2a2277 ), to( #121213 ) );
//	border: 1px solid #d0533944;
}

.MaybeLethal .MainBlock
{
    background-color: #d0533907;
//  border: 1px solid #d0533944;
}

.DeathShieldLethal .MainBlock
{
    background-color: #d0533907;
//  border: 1px solid #d0533944;
}

#SourceArtwork, #SourceArtworkLethalOverlay
{
	width: 48px;
	height: 48px;
	margin-right: 10px;
}

#SourceArtwork, #SourceArtworkMaybeLethalOverlay
{
	width: 48px;
	height: 48px;
	margin-right: 10px;
}

#SourceArtwork, #SourceArtworkDeathShieldLethalOverlay
{
	width: 48px;
	height: 48px;
	margin-right: 10px;
}

#SourceArtworkLethalOverlay
{
		visibility: collapse;
}

#SourceArtworkMaybeLethalOverlay
{
		visibility: collapse;
}

#SourceArtworkDeathShieldLethalOverlay
{
		visibility: collapse;
}

.Lethal #SourceArtworkLethalOverlay
{
		visibility: collapse;
}

.MaybeLethal #SourceArtworkMaybeLethalOverlay
{
		visibility: collapse;
}

.DeathShieldLethal #SourceArtworkDeathShieldLethalOverlay
{
		visibility: collapse;
}

.SourceID
{
	width: 200px;
	margin-right: 8px;
	vertical-align: center;
	height: 100%;
	flow-children: down;
}

.SourceName
{
	font-size: 18px;
	text-overflow: shrink;
	margin-top: 6px;
	color: #dedede;
	vertical-align: top;
}

.SourceType
{
	font-size: 16px;
	margin-top: -6px;
	text-overflow: shrink;
	color: #888994;
}

#SourceNameContainer
{
	vertical-align: top;
	height: 60%;
	width: 100%;
}

#SourceTypeContainer
{
	vertical-align: bottom;
	width: 100%;
}

.Lethal .SourceType
{
	color: gradient( linear, 0% 0%, 0% 100%, from( #ff7260 ), to( #d05339) );
}

.MaybeLethal .SourceType
{
	color: yellow;
}

.DeathShieldLethal .SourceType
{
	color: yellow;
}

.ResultsBlock
{
	horizontal-align: left;
	vertical-align: center;
}

.DamageAmount
{
	width: 45px;
	text-align: right;
	vertical-align: center;
	font-size: 24px;
	text-overflow: shrink;
	margin-top: 4px;
	
	color: #dedede;
}

.IsDamage .DamageAmount
{
	color: gradient( linear, 0% 0%, 0% 100%, from( #ff7260 ), to( #d05339) );
}

.HasArmor .DamageAmount,
.HasNegativeArmor .DamageAmount
{
	visibility: collapse;
}

.IsDamageImmune .DamageAmount
{
	color: yellow;
}

.Lethal .DamageAmount
{
	color: gradient( linear, 0% 0%, 0% 100%, from( #ff7260 ), to( #d05339) );
}

.MaybeLethal .DamageAmount
{
	color: yellow;
}

.DeathShieldLethal .DamageAmount
{
	color: yellow;
}

.IsHeal .DamageAmount
{
	color: gradient( linear, 0% 0%, 0% 100%, from( #a4ff53 ), to( #6aa536) );
}

.BaseElement .DamageAmount
{
	visibility: collapse;
}

.CurrentHealthBlock
{
	flow-children: right;
	horizontal-align: left;
	vertical-align: center;
}

.DamageElement .CurrentHealthBlock
{
	visibility: collapse;
}

.CurrentHealth
{
	width: 45px;
	vertical-align: center;
	text-align: right;
	font-size: 24px;
	text-overflow: shrink;
	margin-right: 1px;
	margin-top: 4px; 
	
	color: #dedede;
}

.CurrentHealthSpace
{
    width: fit-children;
    text-align: left;
    width: 10px;

	vertical-align: center;
	horizontal-align: center;
	font-size: 24px;
	margin-top: 4px;
	
	color: #dedede;
}

.CurrentlyDamaged .CurrentHealth
{
	color: gradient( linear, 0% 0%, 0% 100%, from( #ff7260 ), to( #d05339) );
}

.Lethal .CurrentHealth
{
	color: gradient( linear, 0% 0%, 0% 100%, from( #ff7260 ), to( #d05339) );
}

.MaybeLethal .CurrentHealth
{
	color: yellow;
}

.BaseHealth
{
	vertical-align: center;
	font-size: 24px;
	text-overflow: shrink;
	margin-top: 4px;
	
	color: #dedede;
}

.ArmorBlock
{
	width: 34px;
	height: 34px;
	margin-left: 8px;
	margin-bottom: 7px;
	vertical-align: bottom;
	background-image: url("s2r://panorama/images/card_elements/combat_preview_shield_png.vtex");
	background-size: 100% 100%;
	visibility: collapse;
    margin-top: 4px;
}

.HasArmor .ArmorBlock
{
	visibility: visible;
}

.HasNegativeArmor .ArmorBlock
{
    visibility: visible;
	background-image: url("s2r://panorama/images/card_elements/combat_preview_shield_negative_png.vtex");
}

.IsPiercing .ArmorBlock
{
	background-image: url("s2r://panorama/images/card_elements/combat_preview_shield_piercing_png.vtex");
}

.BaseElement .ArmorBlock
{
	visibility: collapse;
	background-image: none;
	background-color: black;
}

#TailElement .MainBlock
{
    background-color: gradient( linear, 0% 0%, 100% 0%, from( #35363c ), to( #121213 ) );
//    height: 56px;
}

#TailElement.DCGTooltipCombatPreviewElement 
{
//	    height: 56px;
}

.DamageAbsorbed
{
	horizontal-align: center;
	vertical-align: center;
	font-size: 24px;
	text-overflow: shrink;
	padding-top: 4px;

	color: black;
}

.Lethal .DamageAbsorbed
{
	visibility: collapse;
}

.MaybeLethal .DamageAbsorbed
{
	visibility: collapse;
}

.DeathShieldLethal .DamageAbsorbed
{
	visibility: collapse;
}

.IsPiercing .DamageAbsorbed
{
	visibility: collapse;
}

.WithoutStacks,
.HasStacks .WithStacks
{
    visibility: visible;
}

.HasStacks .WithoutStacks,
.WithStacks
{
    visibility: collapse;
}
