.InspectGoldCostContents
{
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #2d2d2d ), to( #2d2d2d ) );
}

#Contents
{
	width: 300px;
	flow-children: down;
  border-radius:0px;
  border-top: 1px solid #555555;
  border-bottom: 1px solid #555555;
  padding: 12px;
}

.InspectGoldCostTitle
{
	color: #dedede;
	font-size: 18px;
    font-weight: bold;
    padding-bottom: 12px;
    padding-left: 4px;
    padding-top: 2px;
}

.InspectGoldCostText
{
	color: #999ba7;
	font-size: 14px;
}
