.InspectTypeContents
{
    width: 300px;
    flow-children: down;
    background-color: gradient( linear, 0% 0%, 0% 100%, from( #2d2d2d ), to( #2d2d2d ) );
}

#Contents
{
    border-radius:0px;
    border-top: 1px solid #555555;
    border-bottom: 1px solid #555555;
    padding: 12px;
}

.InspectTypeTitleRegion
{
    flow-children: right;
    width: fit-children;
    height: fit-children;
}

.InspectTypeIcon
{
	width: 26px;
	height: 26px;
	vertical-align: top;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-position: 50% 50%;
}

#InspectTypeTitle
{
	color: #dedede;
	font-size: 18px;
    font-weight: bold;
    padding-bottom: 12px;
    padding-left: 4px;
    padding-top: 2px;
}

#InspectTypeText
{
	color: #999ba7;
	font-size: 14px;
}

.CardTypeSpell #CardType
{
	background-image: url("s2r://panorama/images/card/cardtype_spell_psd.vtex");
}

.CardTypeCreep #CardType
{
	background-image: url("s2r://panorama/images/card/cardtype_creep_psd.vtex");
}

.CardTypeHealth #CardType
{
	background-image: url("s2r://panorama/images/card/cardtype_health_psd.vtex");
}

.CardTypeAttack #CardType
{
	background-image: url("s2r://panorama/images/card/cardtype_weapon_psd.vtex");
}

.CardTypeArmor #CardType
{
	background-image: url("s2r://panorama/images/card/cardtype_armor_psd.vtex");
}

.CardTypeHero #CardType
{
	background-image: url("s2r://panorama/images/card/cardtype_hero_psd.vtex");
}

.CardTypeImprovement #CardType
{
	background-image: url("s2r://panorama/images/card/cardtype_improvement_psd.vtex");
}

.CardTypeConsumable #CardType
{
	background-image: url("s2r://panorama/images/card/cardtype_consumable_psd.vtex");
}

.CardTypeDeed #CardType
{
	background-image: url("s2r://panorama/images/card/cardtype_consumable_psd.vtex");
}