// Here are additional styles the code sets as appropriate:
//      SourceIsAttachedModifier
//          ModifierDurationUntilEndOfTurn
//          ModifierDurationUntilDeath
//          ModifierDurationUntilEndOfNextCombat
//          ModifierDurationUntilEquipItem
//          ModifierDurationUntilLeavesZone
//          ModifierDurationPermanent
//          ModifierDurationUntilOverwriteItem
//          ModifierDurationUntilBattle
//          ModifierDurationLeavesZone
//          ModifierDurationKillUnit
//          ModifierDurationTwoRounds
//          ModifierDurationOneAction
//      SourceIsNative
//      SourceIsEquippedItem
//      SourceIsContinuousEffect
//      IsPreviousCombatDamage
//      IsSummaryElement
//      IsMana

DCGTooltipCardAttributeElement
{
	visibility: collapse;
}

.AttributeSummaryElement.DCGTooltipCardAttributeElement
{
	ui-scale: 70%;
}

.TooltipVisible DCGTooltipCardAttributeElement
{
	visibility: visible;
}

.DCGTooltipCardAttributeElement
{
//	width: 280px;
	width: fit-children;
	height: 48px;	
  margin-bottom: 8px;
}

.HasArmorBase .DCGTooltipCardAttributeElement
{
//	width: 216px;
	width: fit-children;
}

.HasNegativeArmorBase .DCGTooltipCardAttributeElement
{
//	width: 216px;
	width: fit-children;
}

.MainBlock
{
	width: fit-children;
	height: 48px;
	
	vertical-align: center;
	horizontal-align: center;

	flow-children: right;
}

#SourceArtwork
{
	width: 48px;
	height: 48px;
	margin-right: 10px;
}

.IsDamageElement 
{
	background-image: url("s2r://panorama/images/card_elements/bubble_incoming_damage_splat_png.vtex");
	background-size: 100% 100%;
}

.IsMana
{
    background-image: url( "s2r://panorama/images/hud/v2_mana_crystal_blue_psd.vtex" );
    background-size: 23px 39px;
    background-repeat: no-repeat;
    background-position: center;
}

.SourceID
{
	width: 200px;
	margin-right: 8px;
	vertical-align: center;
	height: 100%;
}

#TailElement .MainBlock
{
    //background-color: #35363c;
    background-color: gradient( linear, 0% 0%, 100% 0%, from( #35363c ), to( #121213 ) );
    height: 56px;
    padding: 4px 0px 4px 4px;
}

#TailElement.DCGTooltipCardAttributeElement 
{
	    height: 56px;
}

#TailElement .SourceType
{
	font-size: 18px;
	text-overflow: shrink;
	margin-bottom: 12px;
	color: #dedede;
	vertical-align:bottom;
}

#SourceNameContainer
{
	vertical-align: top;
    flow-children: right;
    height: 30px;
}

.SourceName
{
	font-size: 18px;
	margin-top: 6px;
	color: #dedede;
	vertical-align: top;
    text-overflow: shrink;
}

.SourceName,
.SourceType
{
    visibility: collapse;
}

.SourceType.Unowned
{
    visibility: visible;
}

.VisibleEffectOwner .SourceType.Unowned,
.HiddenEffectOwner .SourceType.Unowned
{
    visibility: collapse;
}

.VisibleEffectOwner .WithOwner,
.HiddenEffectOwner .NoOwner,
.VisibleStacks .WithStacks,
.HiddenStacks .NoStacks
{
    visibility: visible;
}

.SourceType
{
	font-size: 16px;
	margin-bottom: 2px;
	text-overflow: shrink;
	color: #888994;
	height: 28px;
	padding-top: 7px;
}

#SourceTypeContainer
{
	vertical-align: bottom;
    flow-children: down;
}

.ResultsBlock
{
	horizontal-align: left;
	vertical-align: center;
    flow-children: right;
}

.FractionAttributeValue.Divider
{
    width: fit-children;
    text-align: left;
    width: 10px;
}

.NoDemoniator .FractionAttributeValue.Divider
{
    visibility: collapse;
}

.AttributeValue
{
//    border: 1px solid yellow;
	vertical-align: center;
	text-align: right;
	font-size: 24px;
	text-overflow: shrink;
	margin-right: 1px;
	margin-top: 4px;
	
	color: textColorWhite;
    width: 45px;
}

.FractionAttributeValue
{
//    border: 1px solid yellow;
	vertical-align: center;
    horizontal-align: right;
	text-align: left;
	font-size: 24px;
	text-overflow: shrink;
	margin-top: 4px;
	
	color: #dedede;
    width: 45px;
}

.NoDenominator .FractionAttributeValue
{
    visibility: collapse;
}

.SmlDenominator .Denominator
{
    width: 22px;
}

.MedDenominator .Denominator
{
    width: 26px;
}

.LrgDenominator .Denominator
{
}


.IsValueNotBaseValue
{
	color: gradient( linear, 0% 0%, 0% 100%, from( #ff7260 ), to( #d05339) );
}

.IsPositive .AttributeValue,
.IsBounty.IsNegative .AttributeValue,
.NegativeValuesConsideredBeneficial.IsNegative .AttributeValue
{
	color: gradient( linear, 0% 0%, 0% 100%, from( #a4ff53 ), to( #6aa536) );
}

.IsNegative .AttributeValue,
.IsBounty.IsPositive .AttributeValue,
.NegativeValuesConsideredBeneficial.IsPositive .AttributeValue
{
	color: gradient( linear, 0% 0%, 0% 100%, from( #ff7260 ), to( #d05339) );
}

.NoAttributeValue .AttributeValue
{
	color: #dedede00;
}

// Hide the +1 column, the base stats row, and the totals row for status effects. Instead just
// show the source names, descriptions, and icons.
.IsStatusEffectAttribute .ResultsBlock,
.IsStatusEffectAttribute .SourceIsNative,
.IsStatusEffectAttribute .IsSummaryElement
{
    visibility: collapse;
}

.IsPreviousCombatDamage .SourceID
{
//	background-color: gradient( linear, 0% 0%, 100% 0%, from( #5f2a2277 ), to( #121213 ) );
}

.IsPreviousCombatDamage .MainBlock
{
	background-color: gradient( linear, 0% 0%, 100% 0%, from( #5f2a2277 ), to( #121213 ) );
//	padding: 4px 0px 4px 4px;
//	height: 56px;
}

.IsPreviousCombatDamage .SourceType
{
	margin-bottom: 11px;
//	color: gradient( linear, 0% 0%, 0% 100%, from( #ff7260 ), to( #d05339) );
}

.IsPreviousCombatDamage.DCGTooltipCardAttributeElement
{
//		height: 56px;
}

.IsSummaryElement .SourceType
{
	margin-bottom: 10px;
}