.TooltipContainer
{
    flow-children: down;
    height: fit-children;
    width: 150px;
}

.RoundRow 
{
    flow-children: right;
    width: 100%;
    margin-bottom: 2px;
}

.Round
{
    horizontal-align: left;
    text-transform: uppercase;
}

.TowerRow
{
    flow-children: right;
    width: 100%;
}

.Tower 
{
    horizontal-align: left;
    color: grey;
}

.Damage 
{
    horizontal-align: right;
    color: grey;
}

.DescriptionRow
{
    flow-children: right;
    width: 100%;
}

.DescriptionText
{
    horizontal-align: left;
    color: grey;
}

.FinalText,
.IsWinner .DamageText
{
    visibility: collapse;
}

.DamageText,
.IsWinner .FinalText
{
    visibility: visible;
}