DCGTooltipAbilityElement
{
	flow-children: down;
	width: 360px;
}

.ShopSectionAbility DCGTooltipAbilityElement
{
	width: 595px;
}

.Shop DCGTooltipAbilityElement
{
	width: 300px;
}

DCGTooltipAbilityElement.TextOnly
{
	width: fit-children;
}

#AbilityHeader
{
	flow-children: right;
	height: fit-children;
	
	background-color: gradient( linear, 0% 0%, 100% 0%, from( #2f3035 ), to( #3a3b42 ) );
	width: 100%;
	border-top: 2px solid #494a50;
	box-shadow: #00000066 4px 4px 0px 0px;
}

.InCatalogue #AbilityHeader
{
	background-color: #00000000;
	box-shadow: #00000000 4px 4px 0px 0px;
	border-top: 0px;
}

#AbilityHeaderTextContent
{
    flow-children: down;
    vertical-align: center;
//    padding-top: 10px;
}

.InCatalogue #AbilityHeaderTextContent
{
	height: 100%;
	width: 100%;
    flow-children: down;
    vertical-align: center;
	padding-top: 8px;
	padding-bottom: 8px;
}

.Shop #AbilityHeaderTextContent
{
	padding-top: 2px;
}

#AbilityElementContainer
{
	flow-children: down;
	width: 100%;
}

.InCatalogue #AbilityElementContainer
{
    background-color: #23272f;	
	background-color: gradient( linear, 100% 0%, 0% 0%, from( #23272f00 ), to( #23272f ) );
	padding-bottom: 5px;
	background-color: gradient( linear, 0% 0%, 100% 100%, from( #d0bce909 ), color-stop(0.9, #abe9f000), to( #abe9f000 ) );
	margin-bottom: 35px; 
}

.Shop #AbilityType
{
    font-size: 21px;
}

#AbilityType
{
	color: #999ba7;
	font-size: 16px;
	vertical-align: top;
	text-shadow: 0px 3px 4px 1.0 #000000;
	margin-top: -3px;
	//temp
}

.InCatalogue #AbilityType
{
    color: abilityGradient;
	font-size: 18px;
	vertical-align: top;
	margin-left: 3px;
	margin-top: -1px;
	font-weight: light;
}

.ShopSectionAbility #AbilityType
{
	font-size: 32px;
}

#AbilityImage
{
	height: 72px;
	width: 72px;
	padding: 12px 10px 12px 12px;
}

.InCatalogue #AbilityImage
{
	height: 40px;
	width: 40px;	
	margin: 12px 12px 12px 14px;
	padding: 0px;
	border-top: 1px solid #ffffff08;
	border-left: 1px solid #ffffff05;
	border-bottom: 1px solid #00000008;
	border-right: 1px solid #00000005;
	box-shadow: #00000066 -2px -2px 8px 8px;
}

.ShopSectionAbility #AbilityImage
{
	height: 60px;
	width: 60px;
}

#AbilityBody
{
	flow-children: down;
	margin-top: 4px;
	margin-bottom: 16px;
	margin-left: 14px;
	margin-right: 14px;
}

.InCatalogue #AbilityBody
{
	border-top: 0px;
	margin-bottom: 4px;
}

.Shop #AbilityName
{
    font-size: 35px;
}

#AbilityName
{
	color: white;
	font-size: 18px;
	margin-top: 3px;
	text-shadow: 0px 3px 4px 1.0 #000000;
	font-weight: light;
	//temp
}

.InCatalogue #AbilityName
{
	color: uiNeutralGrey;
	font-size: 20px;
	vertical-align: bottom;
    text-transform: uppercase;
	letter-spacing: 1px;
	margin-top: 0px;
	margin-left: 3px;
}

.ShopSectionAbility #AbilityName
{
	font-size: 36px;
}

#AbilityKeyword
{
	font-weight: bold;
	color: textColorWhiteKeyword;
}

#AbilityText
{
	color: #888994;
	font-size: 16px;
}

.InCatalogue #AbilityText
{
	font-weight: ultra-light;
}

#AbilityText .KeywordText
{
	color: #888994;
    font-weight: normal;
//    font-weight: semi-bold;
//	color: #b5b5b5;
}

#AbilityText.Hidden
{
	visibility: collapse;
}

.Shop #AbilityText
{
    font-size: 25px;
}

.ShopSectionAbility #AbilityText
{
	font-size: 36px;
}

#AbilityHeaderShadow
{
  	background-image: url("s2r://panorama/images/card/ability_header_shadow_psd.vtex");
  	background-repeat: repeat-x;
  	height: 8px;
  	width: 100%;
}

.InCatalogue #AbilityHeaderShadow
{
  	visibility: collapse;
}

#ChargesText
{
    color: abilityGradient;
    visibility: collapse;
}

.HasCharges #ChargesText
{
    visibility: visible;
    font-size: 16px;
}

.GlossaryInline {
	text-decoration: underline;
	text-decoration-style: dashed-light;
}

.GlossaryInline:hover {
	text-decoration: underline;
	text-decoration-style: none;
}

.HighlightActivatedAbilityRegion .AbilityElement0 #AbilityElementContainer
{
	animation-name: HeroLineupPortraitGlowAnimation;
	animation-duration: 2s;
	animation-delay: 0.0s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
}

.HighlightActivatedAbility2Region .AbilityElement1 #AbilityElementContainer
{
	animation-name: HeroLineupPortraitGlowAnimation;
	animation-duration: 2s;
	animation-delay: 0.0s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
}
