#Contents
{
    flow-children:down;
}
Label {
    vertical-align: center;
    //font-stretch: condensed;
    color: #acacac;
    font-size: 20px;
}

.ItemTier,
.TurnsLocked,
.IsHacked
{
    visibility:collapse;
}

.Locked .TurnsLocked,
.Hacked .IsHacked,
.IsItem .ItemTier
{
    visibility:visible;
}

