.SetBody
{
    flow-children: down;
}

.SetTitle
{
    flow-children: right;
}

.SetTitle DCGSetIcon
{
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.SetTitle Label
{
    vertical-align: center;
    text-transform: uppercase;
    font-size: 22px;
}

.OwnedLabel
{
    margin-top: 6px;
    horizontal-align: center;
    font-size: 15px;
}


