.GlossaryContents
{
    width: 350px;
    flow-children: down;
    background-color: gradient( linear, 0% 0%, 0% 100%, from( #2d2d2d ), to( #2d2d2d ) );
}

#Contents
{
    border-radius:0px;
    border-top: 1px solid #555555;
    border-bottom: 1px solid #555555;
    padding: 12px;
}

#GlossaryTitle
{
	color: #dedede;
	font-size: 20px;
    font-weight: bold;
    padding-bottom: 12px;
}

#GlossaryText
{
	color: #999ba7;
	font-size: 16px;
}

.AlliedNeighborsDiagram
{
	width: 100px;
	height: 95px;
	visibility: collapse;
	margin: 4px;
	horizontal-align: center;
}

.ShowAlliedNeighbors .AlliedNeighborsDiagram
{
	visibility: visible;
}

.EnemyNeighborsDiagram
{
	width: 100px;
	height: 95px;
	visibility: collapse;
	margin: 4px;
	horizontal-align: center;
}

.ShowEnemyNeighbors .EnemyNeighborsDiagram
{
	visibility: visible;
}

#GlossaryText .PhaseHighlight 
{
	font-weight: bold;
	color: #dedede;
}
