DCGTooltipCardLocked
{
	flow-children: right;
	width: 280px;
	background-color: #2d2d2d;
	padding: 8px;
	margin-bottom: 8px;
}

.CardLockedLabel
{
	vertical-align: center;
	font-family: "Radiance Condensed";
	color: #acacac;
	font-size: 24px;
}

#CardLocked
{
	margin-right: 8px;
	width: 32px;
	height: 32px;
	vertical-align: center;
	background-size: 32px 32px;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-image: url("s2r://panorama/images/card/cardmod_locked_psd.vtex");
}
