DCGTooltipCardCopied
{
	flow-children: right;
	width: 280px;
	background-color: #2d2d2d;
	padding: 6px;
	margin-bottom: 8px;
}

.CardCopiedLabel
{
	font-family: "Radiance Condensed";
	color: #acacac;
	font-size: 24px;
}

#SpellLogo
{
	margin-right: 8px;
	width: 36px;
	height: 36px;
	vertical-align: center;
	border-radius: 15px;
}
