DCGTooltipCard #Contents
{
	flow-children: right;
	width: fit-children;
	border-radius: 15px;
	background-color: none;
	padding: 0px;
	margin: 0px;
	height: fit-children;
}

DCGScenePanel
{
	width: 230px;
    height: 390px;
	margin: 4px;
}
