#GraphColumnCardList
{
    border: 2px solid white;
    flow-children: down;
    margin: -5px -9px -5px -9px;
}

#PlayerContainer
{
    flow-children: right;
}

.GraphValue
{
    horizontal-align: center;
    font-size: 24px;
}

#TurnLabel
{
    horizontal-align: center;
    font-size: 18px;
    color: white;
}

#TotalContainer
{
    width: 100%;
    flow-children: right;
    padding-top: 5px;
    padding-bottom: 10px;
}

#TotalLabel
{
    width: 80%;
    text-align: center;
    margin-top: 10px;
    padding-bottom: 3px;
    border-bottom: 1px solid white;
}

#TotalLabel,
#Units
{
    horizontal-align: center;
    font-size: 14px;
    color: #666666;
}

.TotalValue
{
    font-size: 22px;
    width: 50%;
    text-align: center;
}

#PlayerTotal,
#PlayerValue
{
    color: #55FF55;
}

#EnemyTotal,
#EnemyValue
{
    color: #FF5555;
}

.ScoreColumn
{
    flow-children: down;
}

.CardColumn
{
    flow-children: down;
    width: 110px;
}

.TimelineCardGroup
{
    width: 110px;
    horizontal-align: center;
    flow-children: right;
    border: 1px solid black;
}

.TimelineCardGroup.TimelineCardPlayer
{
    background-color: #003300;
}

.TimelineCardGroup.TimelineCardEnemy
{
    background-color: #330000;
}

.TimelineCardGroup Label
{
    margin-left: 4px;
    vertical-align: center;
    text-transform: none;
    text-overflow: shrink;
    horizontal-align: center;
}

.TimelineCardGroup Image
{
    width: 60px;
    height: 60px;
}

.TimelineCardGroup.CardColor_Red Image
{
    border: 4px solid cardColorRed;
}

.TimelineCardGroup.CardColor_Black Image
{
    border: 4px solid cardColorBlack;
}

.TimelineCardGroup.CardColor_Green Image
{
    border: 4px solid cardColorGreen;
}

.TimelineCardGroup.CardColor_Blue Image
{
    border: 4px solid cardColorBlue;
}