DCGTooltipCardCharges
{
	width: 332px;
}

#AbilityElementContainer
{
    width: 100%;
    flow-children: down;
}

#AbilityName
{
	font-family: "Radiance Condensed";
	color: white;
	font-size: 24px;
	margin-left: 4px;
}

#AbilityHeader
{
    flow-children: right;
	height: fit-children;
	
	background-color: gradient( linear, 0% 0%, 100% 0%, from( #2f3035 ), to( #3a3b42 ) );
	width: 100%;
	border-top: 2px solid #494a50;
	width: 100%;
	padding: 8px;
}

#AbilityBody
{
    width: 100%;
	flow-children: down;
	margin-top: 4px;
	margin-bottom: 16px;
	margin-left: 12px;
	margin-right: 12px;
}

// Kyle apologizes.
#NotEclipseAbilityText
{
	font-family: "Radiance Condensed";
	color: grey;

    visibility: visible;
}

// Kyle continues apologizing.
#EclipseAbilityText
{
    font-family: "Radiance Condensed";
	color: grey;

    visibility: collapse;
}

.IsEclipse #NotEclipseAbilityText
{
    visibility: collapse;
}

.IsEclipse #EclipseAbilityText
{
    visibility: visible;
}

#AbilityHeaderShadow
{
  	background-image: url("s2r://panorama/images/card/ability_header_shadow_psd.vtex");
  	background-repeat: repeat-x;
  	height: 8px;
  	width: 100%;
}

