DCGTooltipAbilityElement
{
	flow-children: down;
	width: 360px;
}

.ShopSectionAbility DCGTooltipAbilityElement
{
	width: 595px;
}

.Shop DCGTooltipAbilityElement
{
	width: 300px;
}

DCGTooltipAbilityElement.TextOnly
{
	width: fit-children;
}

#AbilityHeader
{
	flow-children: right;
	height: fit-children;
	
	background-color: gradient( linear, 0% 0%, 100% 0%, from( #2f3035 ), to( #3a3b42 ) );
	width: 100%;
	border-top: 2px solid #494a50;
	box-shadow: #00000066 4px 4px 0px 0px;
}

#AbilityHeaderTextContent
{
    flow-children: down;
    vertical-align: center;
//    padding-top: 10px;
}

.Shop #AbilityHeaderTextContent
{
	padding-top: 2px;
}

#AbilityElementContainer
{
	flow-children: down;
	width: 100%;
}

.Shop #AbilityType
{
    font-size: 21px;
}

#AbilityType
{
	color: #999ba7;
	font-size: 16px;
	vertical-align: top;
	margin-top: -4px;
}

.ShopSectionAbility #AbilityType
{
	font-size: 32px;
}

#AbilityImage
{
	height: 72px;
	width: 72px;
	padding: 12px 10px 12px 12px;
}

.ShopSectionAbility #AbilityImage
{
	height: 60px;
	width: 60px;
}

#AbilityBody
{
	flow-children: down;
	margin-top: 4px;
	margin-bottom: 16px;
	margin-left: 14px;
	margin-right: 14px;
}

.Shop #AbilityName
{
    font-size: 35px;
}

#AbilityName
{
	font-family: Radiance;
	color: white;
	font-size: 18px;
	margin-top: 4px;
}

.ShopSectionAbility #AbilityName
{
	font-size: 36px;
}

#AbilityKeyword
{
	font-family: Radiance;
	font-weight: bold;
	color: textColorWhiteKeyword;
}

#AbilityText
{
	font-family: Radiance;
	color: #888994;
	font-size: 16px;
}

#AbilityText .KeywordText
{
	color: #888994;
    font-weight: normal;
//    font-weight: semi-bold;
//	color: #b5b5b5;
}

#AbilityText.Hidden
{
	visibility: collapse;
}

.Shop #AbilityText
{
    font-size: 25px;
}

.ShopSectionAbility #AbilityText
{
	font-size: 36px;
}

#AbilityHeaderShadow
{
  	background-image: url("s2r://panorama/images/card/ability_header_shadow_psd.vtex");
  	background-repeat: repeat-x;
  	height: 8px;
  	width: 100%;
}

#ChargesText
{
    color: abilityGradient;
    visibility: collapse;
}

.HasCharges #ChargesText
{
    visibility: visible;
    font-size: 16px;
}