#Contents
{
    flow-children:down;
}
Label {
    vertical-align: center;
    font-stretch: condensed;
    color: #acacac;
    font-size: 24px;
}

.TurnsLocked,
.IsHacked
{
    visibility:collapse;
}

.Locked .TurnsLocked,
.Hacked .IsHacked
{
    visibility:visible;
}