DCGTooltipLastCard #Contents
{
	flow-children: down;
	width: fit-children;
	height: fit-children;
	border-radius: 10px;
	background-color: none;
	padding: 0px;
	margin: 0px;
	height: fit-children;
}

#LastPlayText
{
	color: uiBrightGrey;
	font-size: 20px;
	text-shadow: 0px 0px 3px 4.0 #00000011;
}

#LastActionText
{
	color: uiStandardGrey;
	font-size: 20px;
	text-shadow: 0px 0px 3px 4.0 #00000011;
}

.LastCardText
{
	horizontal-align: center;
	font-size: 20px;
	color: uiStandardGrey;
	text-shadow: 0px 0px 3px 4.0 #00000011;
}

#LastCardHeader
{
	background-color: gradient( linear, 0% 0%, 100% 0%, from( #25262a ), to( #111111 ) );
	width: 268px;
	height: fit-children;
	//min-height: 180px;
	flow-children: down;
	padding: 20px; 
	margin-right: 12px;
}

#Targets1Label, #Targets2Label, #DiscardedCardLabel
{
	horizontal-align: center;
	visibility: collapse;
	font-size: 20px;
	text-overflow: shrink;
	width: 100%;
	text-align: center;
	color: uiBrightGrey;
	text-shadow: 0px 0px 3px 4.0 #00000011;
}

.ShowTargetGroup1 #Targets1Label
{
	visibility: visible;
}

.ShowTargetGroup2 #Targets2Label
{
	visibility: visible;
}

.ShowDiscardedCard #DiscardedCardLabel
{
	visibility: visible;
}

#TargetedLane
{
	horizontal-align: center;
	text-shadow: 0px 0px 3px 4.0 #00000011;
	font-size: 20px;
	visibility: collapse;
}

.TargetText
{
	color: uiStandardGrey;
	text-shadow: 0px 0px 3px 4.0 #00000011;
}

.ShowLaneTarget #TargetedLane
{
	visibility: visible;
}
