.CardLinkGroup 
{
   	flow-children: right;
}

.ClickForCardInfo .CardLinkName:hover
{
   text-decoration: underline;
}

DCGCardName
{
	font-size: 16px;
	font-weight: thin;
    vertical-align: bottom;
}

.CardLinkCount
{
    color: #BBBBBB;
	font-size: 16px;
}

.CardLinkUnowned .CardLinkCount
{
    color: #666666;
}

DCGSetIcon
{
    width: 18px;
    height: 18px;
    margin-right: 3px;
}
