.ConcedeButton
{
	width: 152px;
	height: 32px;

	flow-children: right;
	
	transform: translatex(-4px) translatey(-90px);
	vertical-align: bottom;
	horizontal-align: right;
	
	visibility: collapse;

	border: 1px solid #FFFFFF;
	background-color: white;
}

.ConcedeButton Label
{
	horizontal-align: center;
	vertical-align: center;
	color: red;
	font-size: 18px;
	font-weight: bold;
}

.ConcedeButton.HasAction 
{
	visibility: visible;
}

.ConcedeIcon
{
	horizontal-align: left;
	vertical-align: center;

	width: 32px;
	height: 32px;

	opacity: 1.0;

	background-image: url("s2r://panorama/images/dcg/card_artwork/death_preview_png.vtex");
    background-size: 100% 100%;
	background-repeat: no-repeat;
	background-position: center;
}
