DCGOnBoardAbilityContainer
{
	margin: 20px;
	padding-left: 60px;
	height: fit-children;
	animation-duration: 0.08s;
	animation-name: AbilityPanelIn;
	transform-origin: 12% 100%;
	flow-children: down;
	overflow: noclip;
}

DCGOnBoardAbilityContainer.RightLaneCard
{
	padding-left: 0px;
	padding-right: 60px;
	transform-origin: 80% 100%;
}

	@keyframes 'AbilityPanelIn'
	{
		0%
	{
		transform: scaleX( 0 );
	}

	100%
	{
		transform: scaleX( 1.0);
	}
}

@keyframes 'AbilityPanelOut'
{
	0%
	{
		transform: scaleX( 1.0 );
	}

	100%
	{
		transform: scaleX( 0);
	}
}

.NoAbilitiesShown DCGOnBoardAbilityContainer
{
	transform: scaleX( 0);
	animation-name: AbilityPanelOut;
	animation-duration: 0.1s;
}

#AbilitiesContainer
{
	background-color: gradient( linear, 0% 0%, 100% 0%, from( #25262a ), to( #111111 ) );
	opacity: 1;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 12px;
	padding-right: 12px;
	margin: 0px;
	margin-left: 8px;
	flow-children: down;
	overflow: noclip;
}

#Header
{
	flow-children: down;
}

#TooltipHeader
{
	flow-children: down;
	padding-bottom: 5px;
}

#HeaderTitle
{
	font-size: 24px;
	color: #dedede;
	text-overflow: shrink;
}


.RightLaneCard #AbilitiesContainer
{
	margin-right: 20px;
	margin-left: 0px;
}