DCGHud
{
	horizontal-align: center;
	vertical-align: center;

	font-size: 32px;

	width: 100%;
	height: 100%;

	overflow: clip;
}

/* --------------------------------------------------------------------------	*/
/* Managers																																		*/
/* --------------------------------------------------------------------------	*/
DCGDashboardPopupManager
{
	width: 100%;
	height: 100%;
    z-index: 1;
}

DCGContextMenuManager
{
    z-index: 1;
}

DCGTooltipManager
{
    width: 100%;
    height: 100%;
    z-index: 1;
}

#InputPanel 
{
   	width: 100%;
	height: 100%;
    z-index: -2;
}

#ChatWheel
{
    z-index: 4000;
}

#BuildNumber
{
    color: white;
    font-size: 20px;
	vertical-align: bottom;
	horizontal-align: left;
	margin-bottom: 5px;
	margin-left: 16px;
	opacity: 0.5;
}

.MediaMode #BuildNumber
{
    visibility: collapse;
}

#CardRenderMiniIcon
{
    visibility: collapse;
    width: 200px;
    height: 200px;
}

.RenderCardMode #CardRenderMiniIcon
{
    visibility: visible;
}

#GameRender
{
	width: 100%;
	height: 100%;

	/* try this for fun! */
	/* hue-rotation: 180deg; */
}
