.CardAbilityPanel
{
	flow-children: none;
	padding-left: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 2px;
	margin-top: 2px;
	background-color: #242424;
	ui-scale: 95%;
	overflow: noclip;
	tooltip-position: left;
	tooltip-body-position: 50% 50%;
}

.CardAbilityPanel.IsHeroCard.HasColorSet
{
	background-color: none;
}


.LeftLaneCard .CardAbilityPanel
{
	tooltip-position: right;
}

.SlideInTransition .CardAbilityPanel
{
	animation-name: TooltipSlideIn;
	animation-duration: 0.1s;
	animation-delay: 0s;
	animation-timing-function: linear;
	animation-iteration-count: 1;
}

@keyframes 'TooltipSlideIn'
{
	0%
	{
			transform: translateX(280px);
	}
	
	100%
	{
			transform: translateX(0px);
	}
}

.RemoveBorder
{
	border: 0px;
}

.GlossaryText
{
	color: textColorWhite;
	font-size: 18px;
	margin-top: 8px;
	margin-bottom: 8px;
}

#ManaGemContainer
{
	height: 82px;
	width: 68px;
	visibility: collapse;
	background-image: url("s2r://panorama/images/card/mana_bg_psd.vtex");
	background-size: 100% 100%;
	vertical-align: top;
	horizontal-align: right;
	margin-right: -8px;
	margin-top: -15px;
	z-index: 5;
	overflow: noclip;
}

.IsOffCooldown #ManaGemContainer
{
	visibility: visible;
	img-shadow: 0px 0px 2px 0 #ffffff;
}

#ManaGemLabel
{
	vertical-align: center;
	horizontal-align: center;
	margin-top: 9px;
	margin-left: 2px;
	font-family: Artifact Numbers;
	font-size: 32px;
}