.DeckList
{
    flow-children:down;
    visibility:collapse;
    background-color:black;
    z-index:1;
}
.ShowEnemyDecklist #DeckList1
{
    visibility:visible;
}
.ShowMyDecklist #DeckList0
{
    visibility:visible;
}
#DeckList0
{
    horizontal-align:left;
}
.FullInfoDeckList .Opponent
{
    visibility:collapse;
}
#DeckList1
{
    horizontal-align:right;
}
.OpponentDeckList .Mine
{
    visibility:collapse;
}
.DeckList Label
{
    margin-left:150px;
}