@define TitleYOffset: 280px; 

#GameOverVideo, #GameOverVideoResult, #GameOverVideoLoop
{
    width:100%;
	height:100%;
	transition-property: blur;
	transition-duration: 5s;
	transition-timing-function: ease-in;
}


.ShowingLevelProgress #GameOverVideoLoop
{
	blur: gaussian( 6px );
}

#GameOverPanel
{
    width:100%;
    height:100%;
    background-color:transparent;
    opacity:1;
}
@keyframes 'FadeOpacityIn'
{
	0%
	{
		opacity: 0;
	}
	100%
	{
		opacity: 1;
	}
}

@keyframes 'FadeOpacityInFast'
{
	0%
	{
		opacity: 0;
	}
	90%
	{
		opacity: 0;
	}
	100%
	{
		opacity: 1;
	}
}

#GameEndReason
{
	width:100%;
	z-index:999;
}

.EndReason
{
	margin-top: 390px;
	horizontal-align:center;
	font-weight:light;
	font-size:28px;
	letter-spacing: 10px;
	text-transform: uppercase;
	color: white;
	opacity: .5;
	text-shadow: 0px 0px 5px 5.0 #9400D311;
	visibility:collapse;
	text-align: center;

	transition-property: pre-transform-scale2d, transform, opacity;
	transition-duration: 2s;	
	transition-timing-function: ease-in;

	animation-name: EndReasonFadeIn;
	animation-duration: 3s;
	animation-timing-function: ease-out;
	animation-iteration-count: 1;	
}

.ShowingLevelProgress .EndReason
{
	transform: translateY(-180px);
	pre-transform-scale2d: .9;
}


@keyframes 'EndReasonFadeIn'
{
	0%
	{
		opacity: 0;
		pre-transform-scale2d: 0.925;
		text-shadow: 0px 0px 15px 7.0 #9400D325;
	}
	
	35%
	{
		opacity: 0;
		pre-transform-scale2d: 0.925;
		text-shadow: 0px 0px 15px 7.0 #9400D325;
	}
    
	100%
	{
		opacity: .5;
		pre-transform-scale2d: 1;
		text-shadow: 0px 0px 5px 5.0 #9400D311;
	}
}



.PlayerConceded #LabelYouConceded,
.OpponentConceded #LabelOpponentConceded,
.PlayerKilledTwoTowers #LabelYourTowersDestroyed,
.OpponentKilledTwoTowers #LabelOpponentTowersDestroyed,
.IsDraw #LabelBothPlayersTowersDestroyed,
.PlayerInvalidDeck #LabelYourDeckInvalid,
.OpponentInvalidDeck #LabelOpponentDeckInvalid,
.PlayerTimedOut #LabelYourTimeUp,
.OpponentTimedOut #LabelOpponentTimeUp,
.PlayerInactive #LabelYouInactive,
.OpponentInactive #LabelOpponentInactive,
.PlayerDisconnectedTooLong #LabelYouDisconnectedTooLong,
.OpponentDisconnectedTooLong #LabelOpponentDisconnectedTooLong,
.CombatTooFull #LabelCombatTooFull

{
    visibility:visible;
}



#GameOverPanel.GameOverAnimate
{
    animation-name: FadeOpacityIn;
	animation-duration: 2s;
	animation-timing-function: ease-in;
	animation-iteration-count: 1;
    //background-image: url('file://{images}/backgrounds/end_game_clean.png');
}

#MenuOptions
{
	horizontal-align: center;
	width:100%;
	margin-top: 48px;
	z-index:999;
	flow-children: down;
	opacity: 0;
	transition-property: opacity;
	transition-duration: 0.5s;
	transition-timing-function: ease-in;

}

.IntroOver.DisplayMenuOptions #MenuOptions
{
	opacity: 1;
}

#GameOverPanel:not(.ShowingLevelProgress) #MenuOptions
{
	margin-top: 164px;
}

.MenuButton
{
	horizontal-align:center;
}


#MenuOptions Label
{
	font-weight: light;
    font-size:35px;
	letter-spacing: 8px;
    text-transform: uppercase;
	color: #86709b;
    text-shadow: 0px 0px 2px 2.0 #9400D311;
	opacity: .85;
    margin-bottom: 15px;
	
    transition-property: text-shadow, opacity, color;
	transition-duration: .25s;	
	transition-timing-function: ease-in;
}

#GameOverVideo
{
     z-index: 5;
     transition-property:opacity;
     transition-duration:0.5s;
}
#GameOverVideoResult
{
     z-index:4;
     transition-property:opacity;
     transition-duration:0.5s;
}
.IntroOver #GameOverVideo
{
    opacity:0;
}


.ResultOver #GameOverVideoResult
{
    opacity:0;
}


#ViewDeck
{
    visibility:visible;
}
#Rematch, #FindNextMatch, #ReturnToLobby
{
    visibility:collapse;
}
.GauntletMatch #FindNextMatch
{
    visibility:visible;
}
.SparringMatch #FindNextMatch
{
    visibility:visible;
}
.AIMatch #Rematch
{
    visibility:visible;
}
.PuzzleMatch #ViewDeck
{
    visibility: collapse;
}

#ChatWithOpponent
{
	visibility: visible;
}

.AIMatch #ChatWithOpponent,
.AIGauntlet #ChatWithOpponent,
.PuzzleMatch #ChatWithOpponent,
.OpponentAnonymous #ChatWithOpponent
{
	visibility: collapse;
}

.CannotContinueGauntlet #FindNextMatch
{
	visibility: collapse;
}

#Rematch:hover Label,
#ReturnToLobby:hover Label,
#ViewDeck:hover Label,
#BackToMenu:hover Label,
#FindNextMatch:hover Label,
#ChatWithOpponent:hover Label,
{
	color: #f6f2fa;
	opacity: 1;
    text-shadow: 0px 0px 6px 2.0 #b87dd150;
}

#Rematch:active Label,
#ReturnToLobby:active Label,
#ViewDeck:active Label,
#BackToMenu:active Label,
#ChatWithOpponent:active Label,
{
	color: #f6f2fa90;
	opacity: 1;
    text-shadow: 0px 0px 9px 2.0 #b87dd135;
	transform: translateY(1px);
}

#AncientDestroyed,
#TowersDestroyed,
#Conceded,
#MatchClockExpired,
#CombatTooFull,
#ForfeitInvalidDeck,
#ExcessiveInactivity
{
    visibility:collapse;
}

.VictoryText
{	
	margin-top: -90px;
	pre-transform-scale2d: 1;
	font-weight: light;
	font-size:162px;
	animation-duration: 4s;
	animation-timing-function: ease-in;
	animation-iteration-count: 1;
	transition-property: pre-transform-scale2d;
	transition-duration: 4s;	
	transition-timing-function: ease-in;
	text-shadow: 0px 0px 8px 4.0 #9400D311;
	z-index:10;
	transform: translateY( -200px );
}

@keyframes 'Victory1Anim'
{
	0%
	{
		opacity: 0.0;
        color:white;
		text-shadow: 0px 0px 4px 1.0 #df9cdd;
	}
	
	45%
	{
		opacity: 0.0;
        color:white;
		text-shadow: 0px 0px 4px 1.0 #df9cdd;
	}
	
	48%
	{
		opacity: 1.0;
        color:white;
		text-shadow: 0px 0px 4px 1.0 #df9cdd;
	}
	
	51%
	{
		opacity: .8;
        color:white;
		text-shadow: 0px 0px 6px 3.0 #8a407d;
	}
	
	53%
	{
		opacity: 0.05;
        color:#a376da;
		text-shadow: 0px 0px 8px 4.0 #a376da;
	}	

	100%
	{
		opacity: 1.0;
        color:white;
		text-shadow: 0px 0px 4px 2.0 #9400D311;
	}
}

 @keyframes 'Victory2Anim'
{
	0%
	{
		opacity: 0.0;
        color:white;
		text-shadow: 0px 0px 4px 1.0 #df9cdd;
	}
	
	55%
	{
		opacity: 0.0;
        color:white;
		text-shadow: 0px 0px 4px 1.0 #df9cdd;
	}
	
	58%
	{
		opacity: 1.0;
        color:white;
		text-shadow: 0px 0px 4px 1.0 #df9cdd;
	}
	
	61%
	{
		opacity: .8;
        color:white;
		text-shadow: 0px 0px 6px 3.0 #8a407d;
	}
	
	63%
	{
		opacity: 0.05;
        color:#a376da;
		text-shadow: 0px 0px 8px 4.0 #a376da;
	}	

	100%
	{
		opacity: 1.0;
        color:white;
		text-shadow: 0px 0px 4px 2.0 #9400D311;
	}
}

@keyframes 'Victory3Anim'
{
	0%
	{
		opacity: 0.0;
        color:white;
		text-shadow: 0px 0px 4px 1.0 #df9cdd;
	}
	
	48%
	{
		opacity: 0.0;
        color:white;
		text-shadow: 0px 0px 4px 1.0 #df9cdd;
	}
	
	51%
	{
		opacity: 1.0;
        color:white;
		text-shadow: 0px 0px 4px 1.0 #df9cdd;
	}
	
	54%
	{
		opacity: .8;
        color:white;
		text-shadow: 0px 0px 6px 3.0 #8a407d;
	}
	
	56%
	{
		opacity: 0.05;
        color:#a376da;
		text-shadow: 0px 0px 8px 4.0 #a376da;
	}	

	100%
	{
		opacity: 1.0;
        color:white;
		text-shadow: 0px 0px 4px 2.0 #9400D311;
	}
}

@keyframes 'Victory4Anim'
{
	0%
	{
		opacity: 0.0;
        color:white;
		text-shadow: 0px 0px 4px 1.0 #df9cdd;
	}
	
	37%
	{
		opacity: 0.0;
        color:white;
		text-shadow: 0px 0px 4px 1.0 #df9cdd;
	}
	
	40%
	{
		opacity: 1.0;
        color:white;
		text-shadow: 0px 0px 4px 1.0 #df9cdd;
	}
	
	43%
	{
		opacity: .8;
        color:white;
		text-shadow: 0px 0px 6px 3.0 #8a407d;
	}
	
	45%
	{
		opacity: 0.05;
        color:#a376da;
		text-shadow: 0px 0px 8px 4.0 #a376da;
	}	

	100%
	{
		opacity: 1.0;
        color:white;
		text-shadow: 0px 0px 4px 2.0 #9400D311;
	}
}

@keyframes 'Victory5Anim'
{
	0%
	{
		opacity: 0.0;
        color:white;
		text-shadow: 0px 0px 4px 1.0 #df9cdd;
	}
	
	52%
	{
		opacity: 0.0;
        color:white;
		text-shadow: 0px 0px 4px 1.0 #df9cdd;
	}
	
	55%
	{
		opacity: 1.0;
        color:white;
		text-shadow: 0px 0px 4px 1.0 #df9cdd;
	}
	
	58%
	{
		opacity: .8;
        color:white;
		text-shadow: 0px 0px 6px 3.0 #8a407d;
	}
	
	60%
	{
		opacity: 0.05;
        color:#a376da;
		text-shadow: 0px 0px 8px 4.0 #a376da;
	}	

	100%
	{
		opacity: 1.0;
        color:white;
		text-shadow: 0px 0px 4px 2.0 #9400D311;
	}
}

@keyframes 'Victory6Anim'
{
	0%
	{
		opacity: 0.0;
        color:white;
		text-shadow: 0px 0px 4px 1.0 #df9cdd;
	}
	
	32%
	{
		opacity: 0.0;
        color:white;
		text-shadow: 0px 0px 4px 1.0 #df9cdd;
	}
	
	35%
	{
		opacity: 1.0;
        color:white;
		text-shadow: 0px 0px 4px 1.0 #df9cdd;
	}
	
	38%
	{
		opacity: .8;
        color:white;
		text-shadow: 0px 0px 6px 3.0 #8a407d;
	}
	
	40%
	{
		opacity: 0.05;
        color:#a376da;
		text-shadow: 0px 0px 8px 4.0 #a376da;
	}	

	100%
	{
		opacity: 1.0;
        color:white;
		text-shadow: 0px 0px 4px 2.0 #9400D311;
	}
}

@keyframes 'Victory7Anim'
{
	0%
	{
		opacity: 0.0;
        color:white;
		text-shadow: 0px 0px 4px 1.0 #df9cdd;
	}
	
	42%
	{
		opacity: 0.0;
        color:white;
		text-shadow: 0px 0px 4px 1.0 #df9cdd;
	}
	
	45%
	{
		opacity: 1.0;
        color:white;
		text-shadow: 0px 0px 4px 1.0 #df9cdd;
	}
	
	48%
	{
		opacity: .8;
        color:white;
		text-shadow: 0px 0px 6px 3.0 #8a407d;
	}
	
	50%
	{
		opacity: 0.05;
        color:#a376da;
		text-shadow: 0px 0px 8px 4.0 #a376da;
	}	

	100%
	{
		opacity: 1.0;
        color:white;
		text-shadow: 0px 0px 4px 2.0 #9400D311;
	}
}


@keyframes 'Victory8Anim'
{
	0%
	{
		opacity: 0.0;
        color:white;
		text-shadow: 0px 0px 4px 1.0 #df9cdd;
	}
	
	29%
	{
		opacity: 0.0;
        color:white;
		text-shadow: 0px 0px 4px 1.0 #df9cdd;
	}
	
	32%
	{
		opacity: 1.0;
        color:white;
		text-shadow: 0px 0px 4px 1.0 #df9cdd;
	}
	
	35%
	{
		opacity: .8;
        color:white;
		text-shadow: 0px 0px 6px 3.0 #8a407d;
	}
	
	37%
	{
		opacity: 0.05;
        color:#a376da;
		text-shadow: 0px 0px 8px 4.0 #a376da;
	}	

	100%
	{
		opacity: 1.0;
        color:white;
		text-shadow: 0px 0px 4px 2.0 #9400D311;
	}
}


@keyframes 'Victory9Anim'
{
	0%
	{
		opacity: 0.0;
        color:white;
		text-shadow: 0px 0px 4px 1.0 #df9cdd;
	}
	
	38%
	{
		opacity: 0.0;
        color:white;
		text-shadow: 0px 0px 4px 1.0 #df9cdd;
	}
	
	41%
	{
		opacity: 1.0;
        color:white;
		text-shadow: 0px 0px 4px 1.0 #df9cdd;
	}
	
	44%
	{
		opacity: .8;
        color:white;
		text-shadow: 0px 0px 6px 3.0 #8a407d;
	}
	
	46%
	{
		opacity: 0.05;
        color:#a376da;
		text-shadow: 0px 0px 8px 4.0 #a376da;
	}	

	100%
	{
		opacity: 1.0;
        color:white;
		text-shadow: 0px 0px 4px 2.0 #9400D311;
	}
}


@keyframes 'Victory10Anim'
{
	0%
	{
		opacity: 0.0;
        color:white;
		text-shadow: 0px 0px 4px 1.0 #df9cdd;
	}
	
	41%
	{
		opacity: 0.0;
        color:white;
		text-shadow: 0px 0px 4px 1.0 #df9cdd;
	}
	
	44%
	{
		opacity: 1.0;
        color:white;
		text-shadow: 0px 0px 4px 1.0 #df9cdd;
	}
	
	47%
	{
		opacity: .8;
        color:white;
		text-shadow: 0px 0px 6px 3.0 #8a407d;
	}
	
	49%
	{
		opacity: 0.05;
        color:#a376da;
		text-shadow: 0px 0px 8px 4.0 #a376da;
	}	

	100%
	{
		opacity: 1.0;
        color:white;
		text-shadow: 0px 0px 4px 2.0 #9400D311;
	}
}

@keyframes 'Victory11Anim'
{
	0%
	{
		opacity: 0.0;
        color:white;
		text-shadow: 0px 0px 4px 1.0 #df9cdd;
	}
	
	51%
	{
		opacity: 0.0;
        color:white;
		text-shadow: 0px 0px 4px 1.0 #df9cdd;
	}
	
	54%
	{
		opacity: 1.0;
        color:white;
		text-shadow: 0px 0px 4px 1.0 #df9cdd;
	}
	
	57%
	{
		opacity: .8;
        color:white;
		text-shadow: 0px 0px 6px 3.0 #8a407d;
	}
	
	59%
	{
		opacity: 0.05;
        color:#a376da;
		text-shadow: 0px 0px 8px 4.0 #a376da;
	}	

	100%
	{
		opacity: 1.0;
        color:white;
		text-shadow: 0px 0px 4px 2.0 #9400D311;
	}
}


@keyframes 'Victory12Anim'
{
	0%
	{
		opacity: 0.0;
        color:white;
		text-shadow: 0px 0px 4px 1.0 #df9cdd;
	}
	
	20%
	{
		opacity: 0.0;
        color:white;
		text-shadow: 0px 0px 4px 1.0 #df9cdd;
	}
	
	23%
	{
		opacity: 1.0;
        color:white;
		text-shadow: 0px 0px 4px 1.0 #df9cdd;
	}
	
	26%
	{
		opacity: .8;
        color:white;
		text-shadow: 0px 0px 6px 3.0 #8a407d;
	}
	
	28%
	{
		opacity: 0.05;
        color:#a376da;
		text-shadow: 0px 0px 8px 4.0 #a376da;
	}	

	100%
	{
		opacity: 1.0;
        color:white;
		text-shadow: 0px 0px 4px 2.0 #9400D311;
	}
}

@keyframes 'Victory13Anim'
{
	0%
	{
		opacity: 0.0;
        color:white;
		text-shadow: 0px 0px 4px 1.0 #df9cdd;
	}
	
	33%
	{
		opacity: 0.0;
        color:white;
		text-shadow: 0px 0px 4px 1.0 #df9cdd;
	}
	
	36%
	{
		opacity: 1.0;
        color:white;
		text-shadow: 0px 0px 4px 1.0 #df9cdd;
	}
	
	39%
	{
		opacity: .8;
        color:white;
		text-shadow: 0px 0px 6px 3.0 #8a407d;
	}
	
	41%
	{
		opacity: 0.05;
        color:#a376da;
		text-shadow: 0px 0px 8px 4.0 #a376da;
	}	

	100%
	{
		opacity: 1.0;
        color:white;
		text-shadow: 0px 0px 4px 2.0 #9400D311;
	}
}

@keyframes 'Victory14Anim'
{
	0%
	{
		opacity: 0.0;
        color:white;
		text-shadow: 0px 0px 4px 1.0 #df9cdd;
	}
	
	57%
	{
		opacity: 0.0;
        color:white;
		text-shadow: 0px 0px 4px 1.0 #df9cdd;
	}
	
	60%
	{
		opacity: 1.0;
        color:white;
		text-shadow: 0px 0px 4px 1.0 #df9cdd;
	}
	
	63%
	{
		opacity: .8;
        color:white;
		text-shadow: 0px 0px 6px 3.0 #8a407d;
	}
	
	65%
	{
		opacity: 0.05;
        color:#a376da;
		text-shadow: 0px 0px 8px 4.0 #a376da;
	}	

	100%
	{
		opacity: 1.0;
        color:white;
		text-shadow: 0px 0px 4px 2.0 #9400D311;
	}
}

#Victory1
{
    animation-name: Victory1Anim;
}
#Victory2
{
    animation-name: Victory2Anim;
}
#Victory3
{
    animation-name: Victory3Anim;
}
#Victory4
{
    animation-name: Victory4Anim;
}
#Victory5
{
    animation-name: Victory5Anim;
}
#Victory6
{
    animation-name: Victory6Anim;
}
#Victory7
{
    animation-name: Victory7Anim;
}
#Victory8
{
    animation-name: Victory8Anim;
}
#Victory9
{
    animation-name: Victory9Anim;
}
#Victory10
{
    animation-name: Victory10Anim;
}
#Victory11
{
    animation-name: Victory11Anim;
}
#Victory12
{
    animation-name: Victory12Anim;
}
#Victory13
{
    animation-name: Victory13Anim;
}
#Victory14
{
    animation-name: Victory14Anim;
}
@keyframes 'ZoomIn'
{
	0%
	{
		pre-transform-scale2d: 0.8;
	}
    
	100%
	{
		pre-transform-scale2d: 1;
	}
}

#OutcomeWrapper
{
	width: 100%;
	height: 100%;
	animation-name: ZoomIn;
	animation-duration: 4s;
	animation-timing-function: ease-in;
	animation-iteration-count: 1;
	z-index: 100;

	transition-property: pre-transform-scale2d, transform, opacity;
	transition-duration: 1.8s;	
	transition-timing-function: ease-in;
}

.ShowingLevelProgress #OutcomeWrapper
{
	transform: translateY(-230px);
	pre-transform-scale2d: .6;
}

.EvenLeft1
{
    transform: translateX( -20px );  	
}
.EvenLeft2
{
    transform: translateX( -60px );
}
.EvenLeft3
{
    transform: translateX( -100px );
}
.EvenLeft4
{
    transform: translateX( -140px );
}
.EvenLeft5
{
    transform: translateX( -180px );
}
.EvenLeft6
{
    transform: translateX( -220px );
}
.EvenLeft7
{
    transform: translateX( -260px );
}
.EvenRight1
{
    transform: translateX( 20px );  	
}
.EvenRight2
{
    transform: translateX( 60px );
}
.EvenRight3
{
    transform: translateX( 100px );
}
.EvenRight4
{
    transform: translateX( 140px );
}
.EvenRight5
{
    transform: translateX( 180px );
}
.EvenRight6
{
    transform: translateX( 220px );
}
.EvenRight7
{
    transform: translateX( 260px );
}
.OddLeft1
{
    transform: translateX( -40px );  	
}
.OddLeft2
{
    transform: translateX( -80px );
}
.OddLeft3
{
    transform: translateX( -120px );
}
.OddLeft4
{
    transform: translateX( -160px );
}
.OddLeft5
{
    transform: translateX( -200px );
}
.OddLeft6
{
    transform: translateX( -240px );
}
.OddLeft7
{
    transform: translateX( -280px );
}
.OddRight0
{
    transform: translateX( 0px );  	
}
.OddRight1
{
    transform: translateX( 40px );  	
}
.OddRight2
{
    transform: translateX( 80px );
}
.OddRight3
{
    transform: translateX( 120px );
}
.OddRight4
{
    transform: translateX( 160px );
}
.OddRight5
{
    transform: translateX( 200px );
}
.OddRight6
{
    transform: translateX( 240px );
}
.OddRight7
{
    transform: translateX( 280px );
}

#PostGameProgress
{
	horizontal-align: center;
	vertical-align: top;
	width:100%;
	height: fit-children;

	margin-top: 450px;
	margin-top: 250px;
	z-index: 999;
	opacity: 1;

	transition-property: opacity, transform;
	transition-duration: 0.5s;
	transition-timing-function: ease-in;
}

#ProgressAndOptions
{
	z-index: 999;
	flow-children: down;
	height: fit-children;
	width: 100%;
	opacity: 0;
	transform: translateY(100px);
	transition-property: opacity, transform;
	transition-duration: 1.5s;
	transition-delay: 0.5s;
	transition-timing-function: ease-in;
}

.DisplayMenuOptions #ProgressAndOptions
{
	opacity: 1;
}

.ShowingLevelProgress #ProgressAndOptions
{
	opacity: 1;
	transform: translateY(0px);
}

.ShowingLevelProgressWithRewards .EndReason,
.ShowingLevelProgressWithRewards #OutcomeWrapper
{
	opacity: 0.03;
}
