.GameOverPanel
{
	text-align: center;
	horizontal-align: center;
	vertical-align: top;

	flow-children: down;

	width: 1400px;
	padding-top: 50px;

	color: #FFFFFFFF;
}

.DashboardPanel
{
    width: 100%;
    height: fit-children;
}

.TitleCard
{
   	margin-bottom: 0px;
    border: 3px solid gray;
}

.BodyPanel
{
	width: 100%;
	flow-children: down;
    margin: 10px 20px 20px 20px;
}

.PlayerResults
{
    flow-children: down;
}

.SummaryBar
{
    width: 100%;
}

.PlayerSummary
{
    horizontal-align: left;
    flow-children: down;
}

.FooterButtons
{
    margin-top: 10px;
    width: 100%;
    flow-children: right;
}

#ReportBugButton
{
    horizontal-align: left;
    margin: 0px;
}

#LeaveMatchButton
{
    background-color: #444466;
    horizontal-align: right;
    margin: 0px;
}

.CollapseResults .BodyPanel
{
    visibility: collapse;
}

#StatTabBody
{
    width: 100%;
    flow-children: down;
    border: 1px solid black;
}

.PlayerResult
{
    color: #ff0000;
}

.GraphTitle
{
    margin-top: 20px;
}

#StatGraphBody
{
    width: 100%;
    height: 550px;
    border: 1px solid gray;
    horizontal-align: center;
    margin: 0px 16px 0px 16px;
}

#StatGraphCanvas
{
    width: 100%;
    height: 100%;    
}

#TimelineBody
{
    visibility: collapse;
    width: 100%;
    height: 100%;
    flow-children: down;
    overflow: clip scroll;
}

.TimelineView #TimelineBody
{
    visibility: visible;
}
.TimelineView #StatGraphCanvas
{
    visibility: collapse;
}

.TimelineTurnGroup
{
    width: 100%;
    flow-children: right;
    border-bottom: 4px solid black;
    border-top: 4px solid black;
}

.TimelineLaneGroup
{
    min-height: 90px;
    flow-children: down;
    width: 33%;
    height: 100%;
    background-color: #222222;
    //border-bottom: 2px solid black;
    border-right: 2px solid black;
    border-left: 2px solid black;
}

.TimelineLaneGroup.TallestLane
{
    height: fit-children;
    min-height: 90px;
}

.TimelineLaneGroup.OddLane
{
    background-color: #1A1A1A;
}

.TimelineLanePlayerGroup
{
    width: 50%;
    flow-children: down;
    padding: 4px;
}

.TimelineGroupRow
{
    horizontal-align: center;
    flow-children: down;
}

.TimelineCardGroup
{
    width: 110px;
    horizontal-align: center;
    flow-children: right;
    border: 1px solid black;
}

.TimelineCardGroup.TimelineCardPlayer
{
    background-color: #003300;
}

.TimelineCardGroup.TimelineCardEnemy
{
    background-color: #330000;
}

.TimelineCardGroup Label
{
    margin-left: 4px;
    vertical-align: center;
    text-transform: none;
    text-overflow: shrink;
}

.TimelineCardGroup Image
{
    width: 60px;
    height: 60px;
}

.TimelineCardGroup.CardColor_Red Image
{
    border: 4px solid cardColorRed;
}

.TimelineCardGroup.CardColor_Black Image
{
    border: 4px solid cardColorBlack;
}

.TimelineCardGroup.CardColor_Green Image
{
    border: 4px solid cardColorGreen;
}

.TimelineCardGroup.CardColor_Blue Image
{
    border: 4px solid cardColorBlue;
}

.TimelineTurnHeader
{
    height: 100%;
    width: 50px;
    padding: 8px;
    background-color: black;
}

.TimelineTurnBody
{
    width: fill-parent-flow( 1.0 );
    flow-children: right;
    border-right: 2px solid black;    
}

Label.TimelineTurnLabel
{
    horizontal-align: center;
    vertical-align: center;
    font-size: 50px;
    color: gray;
}

.TimelineLanePlayersGroup
{
    flow-children: right;
    width: 100%;
}

Label.TimelineLaneLabel
{
    color: white;
    horizontal-align: center;
    width: 100%;
    vertical-align: center;
    text-align: center;
    padding: 4px;
    font-size: 14px;
    border: 1px solid #444444;

}

#ShowTimelineToggle
{
    visibility: collapse;
    horizontal-align: right;
    vertical-align: center;
}

.AllowTimeline #ShowTimelineToggle
{
    visibility: visible;
}

Label.XAxisLabel
{
	color: #6E7D87;
    transform: translateX( -18px ) translateY( -12px );
    font-size: 12px;
    horizontal-align: left;
    vertical-align: top;    
}

Label.YAxisLabel
{
    padding-right: 8px;
	color: #6E7D87;
    transform: translateY( -6px );
    font-size: 12px;
    text-align: right;
    horizontal-align: left;
}

#MatchLengthLabel
{
    horizontal-align: right;
    margin-bottom: 15px;
}

#GraphDropDown
{    
}

.GraphTitleGroup 
{
    width: 100%;
}

.GraphTitleGroup
{
    vertical-align: center;
}

DropDownMenu .GraphValuesGroup
{
    horizontal-align: right;
    margin-right: 10px;
    flow-children: right;
    vertical-align: center;    
    border: 1px solid gray;
    padding: 2px;
}

DropDown .GraphValuesGroup
{
    visibility: collapse;
}

DropDownMenu .GraphValuesGroup Label
{
    padding: 0px 0px 0px 0px;
    width: fit-children;
    height: fit-children;
    border: 0px solid black;
    background-color: #00000000;
}

DropDownMenu .GraphValuesGroup Label.ValueSeparator
{
    padding: 0px 4px 0px 4px;
}

DropDownMenu .GraphValuesGroup Label.PlayerValue
{
    min-width: 40px;
    color: #44FF44;
    text-align: right;
}

DropDownMenu .GraphValuesGroup Label.EnemyValue
{
    min-width: 40px;
    color: #FF4444;
    text-align: left;
}

#GraphDropDown,
#GraphDropDownDropDownMenu
{
    width: 400px;
}

#CardDropDown
{
    width: 500px;
    height: 50px;
    visibility: collapse;
    horizontal-align: left;
    vertical-align: center;
}

#CardDropDownDropDownMenu
{
    width: 500px;
}
.AllowCardStats #CardDropDown 
{
    visibility: visible;
}

.CardDropDownAll 
{
    height: 40px;
    width: 100%;
}

.CardDropDownOption
{
    height: 50px;
    width: 100%;
}

.CardDropDownOption Image
{
    width: 45px;
    height: 45px;
    z-index: 1;
    vertical-align: center;
    padding-left: 4px;
}

.CardDropDownAll Label
{
    height: 100%;
}

.CardDropDownOption Label
{
    height: 100%;
    text-align: left;
    padding: 10px 0px 0px 60px;
}

.CardDropDownOption
{
    width: 100%;
    height: 40px;
}

#CardDropDownDropDownMenu .CardDropDownOption
{
    border-bottom: 1px solid #00000066;
}

#CardDropDownDropDownMenu .CardDropDownOption:hover
{
    background-color: #585E62;
}

.CardDropDownOption DCGCardName
{
    vertical-align: center;
    padding-left: 53px;
    font-size: 20px;
}

#GraphHeader
{
    width: 100%;
    padding: 16px;
}

#GraphSelectionGroup 
{
    flow-children: right;
    horizontal-align: left;
}

#GraphTooltip
{
    width: 30px;
    height: 30px;
    vertical-align: center;
    margin-left: 10px;
    border: 2px solid gray;
    opacity: 0;
}

#GraphTooltip Label
{
    horizontal-align: center;
    vertical-align: center;
    font-size: 23px;
}

.HasGraphTooltip #GraphTooltip
{
    opacity: 1;
}

.CollapseButton
{
    width: 25px;
    height: 25px;
    horizontal-align: right;
    vertical-align: center;
    margin-right: 15px;

    background-image: url("s2r://panorama/images/control_icons/expand_collapse_png.vtex");
	background-repeat: no-repeat;
	background-position: 50% 50%;
    background-size: 100% 100%;

    transition-property: transform;
    transition-duration: .2s;
    opacity: 0.5;
}

.CollapseButton:hover
{
    opacity: 1.0;
}

.CollapseResults .CollapseButton
{
   	transform: rotateZ( -180deg );
}

.PriorityIcon
{
    opacity: 0.1;
    horizontal-align: center;
    width: 8px;
    height: 8px;
    background-image: url("s2r://panorama/images/control_icons/expand_collapse_png.vtex");
	background-repeat: no-repeat;
	background-position: 50% 50%;
    background-size: 100% 100%;
    wash-color: gray;
}

.PriorityIcon.HasPriority
{
    opacity: 1.0;
}

.EnemyIcons .PriorityIcon
{
   	transform: rotateZ( -180deg );
}

.PlayerIcons .PriorityIcon.HasPriority
{
    wash-color: green;
}
.EnemyIcons .PriorityIcon.HasPriority
{
    wash-color: red;
}

.PlayerIcons .TowerIcon
{
    wash-color: green;
}
.EnemyIcons .TowerIcon
{
    wash-color: red;
}

.TowerIcon
{
    horizontal-align: center;
    width: 24px;
    height: 24px;

    background-image: url("s2r://panorama/images/hud/hud_tower_png.vtex");
	background-repeat: no-repeat;
    background-size: 100% 100%;
}

.TowerIcon.IsAncient
{
    background-image: url("s2r://panorama/images/hud/hud_ancient_png.vtex");
}

.HeroIcon
{
    horizontal-align: center;
    width: 24px;
    height: 24px;
}

.GraphIconLane
{
}

.GraphIconLane:hover
{
    background-color: #FFFFFF11;
}

.HideIcons .GraphIconStrip
{
    visibility: collapse;
}    

.GraphIconStrip
{
    width: 100%;
    flow-children: down;
}

.PlayerIcons
{
    vertical-align: top;
    margin-top: 3px;
}

.EnemyIcons
{
    vertical-align: bottom;
    margin-bottom: 5px;
}

.GraphSelectors
{
    padding: 16px;
    width: 100%;
}

#HideIconsToggle
{
    horizontal-align: right;
    vertical-align: top;
}

.TimelineView #HideIconsToggle
{
    visibility: collapse;
}

.GraphTotalsGroup
{
    width: 100%;
    padding: 0px 16px 8px 16px;
}

.TotalValueDisplay
{
    font-size: 24px;
}

#PlayerTotalValue
{
    horizontal-align: left;
    color: #44FF44;
}

#EnemyTotalValue
{
    horizontal-align: right;
    color: #FF4444;
}

#GameOverTabs
{
    flow-children: right;
}
#RewardTabBody .Hide
{
    visibility:collapse;
}
#RewardTabBody
{
    flow-children: right-wrap;
    margin-top: 20px;
    horizontal-align: center;

}
.CardProgressFrame
{
    flow-children:right;
    margin: 20px 15px 20px 15px;
}
.CardProgressFrame.Completed
{
    animation-name: update-glow;
	animation-duration: 3s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: 2;  
}
#CardIcon
{
    width:48px;
    height:48px;
    margin-right: 10px;
}
.ProgressFrame
{
    flow-children:down;
}
.ProgressBarFrame
{
    flow-children:right;
}
.ProgressBar
{
    border: 1px solid white;
    width:200px;
    height: 20px;
    margin-right:5px;
    flow-children:right;
}
#ProgressBarAlreadyCompleted
{
    background-color:darkslategrey;
   
}

.ProgressText
{
    horizontal-align: center;
}
#ProgressBarUpdate
{
    animation-name: update-glow;
	animation-duration: 1.5s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite; 

    transition-property: width;
    transition-duration: .5s;
}
@keyframes 'update-glow'
{
    0%
    {
	    background-color: #005500;		
    }

    50% 
    {
        background-color: #009900;
    }
    100%
    {
	    background-color:#005500;
    }
}

#GameOverTabs Label
{
    font-size: 20px;
}

.TabOption
{
    margin-bottom: 10px;
}

.TabOption Label
{
    text-transform: uppercase;
    font-size: 18px;
    color: #BBBBBB;
}

.TabOption.ToggledOn Label
{
    color: white;
    text-decoration:underline;
}

.TabOption Label:hover
{
    text-shadow: 0px 0px 12px 10.0 #ffffff02;
}

//Hiding the achievements for now
#RewardTabBody,
#ProgressButton,
#GameOverTabs
{
    visibility:collapse;
}
#StatTabBody.Hide
{
    visibility:visible;
}