.ScoreboardCreepDisplayPanel
{
	width: 31px;
	height: 42px;

	border-left: 2px;
	border-right: 2px;

	border-top: 3px;
	border-bottom: 3px;
	
	flow-children: none;
	
	//background-color: orangered;
}

.CreepOverflowCount
{
	visibility: collapse;

	font-size: 16px;
	font-weight: bold;
	

	margin-top: 10px;

	text-align: center;
	color: #636363;
}

.CreepDisplayContainer
{
	flow-children: down;
}

.Opponent .ScoreboardCreepDisplayPanel
{
	vertical-align: bottom;
}

.CreepDisplayUnitDivider
{
	width: 3px;
	height: 3px;
}

.CreepDisplayRow
{
	flow-children: right;
}

.CreepDisplayUnit
{
	width: 7px;
	height: 10px;

	background-color: #636363;
}

.WillDieInCombat.CreepDisplayUnit
{
	background-image: url("s2r://panorama/images/hud/hud_creep_display_marked_for_death_png.vtex");
}

.MightDieInCombat.CreepDisplayUnit
{
	background-image: url("s2r://panorama/images/hud/hud_creep_display_might_die_png.vtex");
}
