@define heroCardStatusHeight: 20px;
@define heroCardWidth: 30px;
@define heroCardHeight: 42px;

.DCGHUDCardViewCheater
{
	flow-children: down;

	width: fit-children;
	height: fit-children;

	vertical-align: bottom;
	margin-bottom: 100px;
	horizontal-align: left;

	box-shadow: rgba (0, 0, 0, .75) 0px 0px 1px 0px;
	border: 2px solid black;
}

.CheaterMode
{
	width: fit-children;
	height: fit-children;

	background-color: #444444;

	text-align: center;
	font-size: 14;
	padding: 4px;
}

#CheatAbilities
{
	width: 100%;
	height: fit-children;

	background-color: black;

	flow-children: down;
	ui-scale: 40%;
}
