

.DCGHUDTowerView
{
	flow-children: right;
}

.HealthContainer
{
	flow-children: down;
}

.HealthTextContainer
{
	height: 42px;
}

.TowerArtContainer
{
	width: 30px;
	height: 42px;

	margin-left: 2px;
}

.DeathIndicator
{
	visibility: collapse;
	background-image: url("s2r://panorama/images/hud/hud_hero_x_psd.vtex");

	background-size: 100% 100%;
	width: 100%;
	height: 100%;
}

.WillDieInCombat .DeathIndicator
{
	visibility: visible;
}


.OpponentTower .TowerArtContainer
{
	vertical-align: bottom;
}

.TowerArt
{
	width: 100%;
	height: 100%;

	background-image: url("s2r://panorama/images/hud/hud_tower_dire_psd.vtex");
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-position: center;
}

.CombatLane .TowerArt
{
	background-image: url("s2r://panorama/images/hud/hud_tower_dire_active_psd.vtex");
}

.Radiant .TowerArt
{
	background-image: url("s2r://panorama/images/hud/hud_tower_radiant_psd.vtex");
}

.CombatLane .Radiant .TowerArt
{
	background-image: url("s2r://panorama/images/hud/hud_tower_radiant_active_psd.vtex");
}

.Dire.IsAncient .TowerArt
{
	background-image: url("s2r://panorama/images/hud/hud_ancient_dire_psd.vtex");
}

.Radiant.IsAncient .TowerArt
{
	background-image: url("s2r://panorama/images/hud/hud_ancient_radiant_psd.vtex");
}

.TowerGlow
{
	width: 100%;
	height: 100%;

	background-image: url("s2r://panorama/images/hud/hud_ancient_dire_glow_psd.vtex");
    visibility: collapse;
}

.Radiant .TowerGlow
{
	background-image: url("s2r://panorama/images/hud/hud_ancient_radiant_glow_psd.vtex");
}

.IsAncient .TowerGlow
{
	visibility: visible;

    animation-name: pulse-alpha;
	animation-duration: 2.0s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
}

@keyframes 'pulse-alpha'
{
    0%
    {
	    opacity: 1;
    }

	50%
    {
	    opacity: 0;
    }

    100%
    {
	    opacity: 1;
    }
}

.OpponentTower .TowerArt
{
	vertical-align: center;
}

.HealthText
{
	width: 40px;

	vertical-align: center;
	font-size: 28px;

	text-align: left;
	margin-top: 5px;

	color: #b2b2b2;
	//font-weight: bold;
	text-shadow: 2px 0px 6px 3.0 #00000055;
	
	transition-property: color, text-shadow;
	transition-duration: .25s;
	transition-timing-function: ease-in-out;
}

.CombatLane .HealthText
{
	color: white;
	text-shadow: 0px 0px 2px 1.0 #fcfccb90;
}

.ActivePlayer .HealthText
{
	color: white;
	text-shadow: 0px 0px 2px 1.0 #fcfccb90;
	
	animation-name: active-glow;
	animation-duration: 3.1s;
	animation-delay: 0s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
}

@keyframes 'active-glow'
{
    0%
    {
		color: white;
		text-shadow: 0px 0px 2px 1.0 #fcfccb90;
    }
	


	50%
    {
		color: white;
		text-shadow: 0px 0px 8px 2.0 #fff07100;
    }


	
    100%
    {
		color: white;
		text-shadow: 0px 0px 2px 1.0 #fcfccb90;
    }
}

.IsAncient .HealthText
{
	color: #f4e2be;
	text-shadow: 2px 0px 6px 3.0 #00000055;
}

.CombatLane .IsAncient .HealthText .IsActivePlayer
{
	color: #fefeda;
	text-shadow: 0px 0px 2px 1.0 #ffffb490;
}

.CombatLane .IsAncient .HealthText
{
	color: #fefeda;
	text-shadow: 0px 0px 2px 1.0 #ffffb490;
}

#TowerStatusLocal
{
	margin-top: 4px;
}

#TowerSkullOpponent
{
	margin-bottom: 4px;
}

#TowerSkullLocal
{
	margin-top: 4px;
}
