@define laneHeight: 62px;
@define glowFade-in: .5s;
@define glowFade-out: .2s;

.ScoreboardPanel
{
	flow-children: down;

	opacity: 0;
	transition-property: opacity;
	transition-duration: glowFade-in;
	transition-timing-function: ease-in-out;

	ui-scale: 84%;
}

.CardPlayStarted.ScoreboardPanel
{
    opacity: 1;
	transition-duration: glowFade-out;
}

#InspectInfo
{
	width: 200px;
	flow-children: right;
	visibility: collapse;
}
#CombatPosition
{
	visibility: collapse;
	background-color: #000000;
	color: antiquewhite;	
}
#HideInspectCardButton
{
	horizontal-align: right;
	visibility: collapse;
}
.Sticky #HideInspectCardButton
{
	visibility: visible;
}
#HideInspectLabel
{
	background-color: #000000;
	color: red;
	font-size: 20px;

	border: 2px solid #FF0000;
}

#InspectCardPanel
{
	margin-top: 30px;
}

#DeathSkull
{
	width: 128px;
	height: 128px;
	margin-top: 40px;
	horizontal-align: center;
	
	background-image: url("s2r://panorama/images/card_elements/death_skull_png.vtex");
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: 128px;
	
	visibility: collapse;
	z-index: 3;
}
#DeathSkull.MightDieInCombat
{
	background-image: url("s2r://panorama/images/card_elements/death_skull_maybe_png.vtex");
}
#DeathSkull.WillLoseDeathShieldInCombat
{
	background-image: url("s2r://panorama/images/card_elements/death_skull_shield_png.vtex");
}

#ScoreboardBackground
{
	width: 100%;
	height: 100%;

	blur: gaussian( 7 );
	border-bottom-right-radius: 8px;
}

.Scoreboard
{
	flow-children: right;

	width: fit-children;
	height: 160px;

    vertical-align: top;
	horizontal-align: left;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #000000aa ), to( #00000044 ) );
	background-image: url("s2r://panorama/images/hud/scoreboard_bg_semi_fade_psd.vtex");
	background-position: left top;
	background-repeat: no-repeat;
	background-size: 100%;
}

.HUDRegion
{
	width: fit-children;

	flow-children: down;
}

.FountainRegion
{
	padding-top: 4px;
	padding-left: 8px;
	padding-right: 8px;
}

.LaneRegion
{
    flow-children: none;
	width: fit-children;
	height: 100%;
}

.LaneRegionContainer
{
	padding-top: 4px;
	padding-left: 4px;
	
	height: 158px;

    flow-children: down;
}

.LaneRegionBackground
{
	background-image: url("s2r://panorama/images/hud/hud_lane_highlight_psd.vtex");
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-position: center;
	
    width: 100%;
    height: 100%;
	
	opacity: 0.0;
	
	transition-property: opacity;
	transition-duration: glowFade-in;
	transition-timing-function: ease-in-out;
}

#LaneRegion3 .LaneRegionBackground2
{
	background-image: url("s2r://panorama/images/hud/hud_lane_highlight3_psd.vtex");
}

.LaneRegionOutline
{
    width: 100%;
    height: 100%;

	background-image: url("s2r://panorama/images/hud/hud_lane_outer_highlight_psd.vtex");
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-position: center;	

	opacity: 0.0;
	
	transition-property: opacity;
	transition-duration: glowFade-in;
	transition-timing-function: ease-in-out;
}

.LaneRegionBackground2
{
    width: 100%;
    height: 100%;

	background-image: url("s2r://panorama/images/hud/hud_lane_highlight_psd.vtex");
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-position: center;	

	opacity: 0.0;
	
	transition-property: opacity;
	transition-duration: glowFade-in;
	transition-timing-function: ease-in-out;
}

.CombatLane .LaneRegionOutline
{
	opacity: 1.0;
	transition-duration: glowFade-out;
}

#LaneRegion3.CombatLane .LaneRegionOutline
{
	background-image: url("s2r://panorama/images/hud/hud_lane_outer_highlight3_psd.vtex");
}

.CombatLane .LaneRegionBackground2
{
    opacity: 0.25;
	transition-duration: glowFade-out;
}

.LaneRegion.InitiativeOpponent .LaneRegionBackground
{
    width: 100%;
    height: 100%;
}

.LaneRegion.InitiativeLocal .LaneRegionBackground
{
    width: 100%;
    height: 100%;
}

.CombatLane.HasCoin
{
}

.LaneRow
{
	width: fit-children;
	height: laneHeight;
	flow-children: right;
}

.LaneRow.ActivePlayer
{	
}

.OpponentDivider
{
	width: 100%;
	height: 8px;

	flow-children: none;

	//background-color: lightcoral;
}

.HeroRegion
{
	width: 100px;
	flow-children: none;
	
	margin-left: 4px;
	margin-right: 4px;
}

.FountainHeroRegion
{
	horizontal-align: right;

	height: laneHeight;
	margin-left: 0px;
	margin-right: 4px;
}

.TowerRegion
{
	width: 75px;

	horizontal-align: left;
	flow-children: down;
}

.TowerLane
{
	horizontal-align: right;
}

.TowerOpponent
{
	vertical-align: bottom;
}

.TowerLocal
{
	vertical-align: top;
}

.CreepDisplay
{
	width: 30px;
	height: 42px;

	flow-children: down;
}

.Opponent .CreepDisplay
{
	border: 2px;
	vertical-align: bottom;
}

.CoinIndicator
{
	visibility: collapse;
	width: 32px;
	height: 6px;
	vertical-align: center;

	background-image: url("s2r://panorama/images/hud/hud_active_player_png.vtex");
	background-position: center;
	background-repeat: no-repeat;
}

.CoinOpponent .CoinIndicator
{
	visibility: collapse;
}

.CoinLocal .CoinIndicator
{
	visibility: collapse;
	transform: rotateZ( 180deg );
}

.InitiativeIndicator
{
	visibility: collapse;
	width: 32px;
	height: 6px;

	vertical-align: center;

	background-image: url("s2r://panorama/images/hud/hud_initiative_player_png.vtex");
	background-position: center;
	background-repeat: no-repeat;

	transition-property: transform;
	transition-duration: 0.25s;
	transition-timing-function: ease-in-out;
}

.InitiativeOpponent .InitiativeIndicator
{
	visibility: visible;
}

.InitiativeLocal .InitiativeIndicator
{
	visibility: visible;
	transform: rotateZ( 180deg );
}


#PhaseName
{
	width: 100%;
	height: 40px;
	flow-children: none;
	vertical-align: bottom;
	text-align: center;
	visibility: collapse;
}

#PhaseName.Lane1
{
	transform: translateX(-125px) translateY(-32px);
}

#PhaseName.Lane2
{
	transform: translateX(61px) translateY(-32px);
}

#PhaseName.Lane3
{
	transform: translateX(247px) translateY(-32px);
}

#PhaseName Label
{
	text-transform: uppercase;
	horizontal-align: center;
	vertical-align: center;
	color: #dedede;
	font-size: 16px;
	text-align: center;
	letter-spacing: 1px;
	text-shadow: 2px 0px 6px 3.0 #1d303855;
}


#PhaseNameContainer
{
	text-align: center;
	flow-children: right;
	horizontal-align: center;
	vertical-align: center;
}

.InitiativeContainer
{
	flow-children: right;
	width: fit-children;
	height: 20px;
	horizontal-align: center;
}

.InitiativeIcon
{
	height: 16px;
	width: 16px;
	background-image: url("s2r://panorama/images/hud/hud_initiative_player_png.vtex");
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: contain;
	vertical-align: center;
}

.InitiativeLabel
{
	text-transform: uppercase;
	color: #dedede;
	font-size: 16px;
	letter-spacing: 1px;
	text-shadow: 2px 0px 6px 3.0 #1d303855;
	margin-left: 6px;
	margin-right: 4px;
}

.InitiativeContainer.Player
{
	vertical-align: bottom;
	margin-bottom: 2px;
}

.InitiativeContainer.Player .InitiativeIcon
{
	transform: scaleY(-1);
}

.InitiativeContainer.Opponent
{
	vertical-align: top;
}

#CameraLane
{
	visibility: collapse;
	background-color: #00ff0020;
	width: 185px;
	height: 160px;
}


#CameraLane.Strategic
{
	//visibility: visible;
	width: 550px;
	transform: translateX(120px) translateY(-160px);
}

#CameraLane.Lane1
{
	//visibility: visible;
	transform: translateX(120px) translateY(-160px);
}

#CameraLane.Lane2
{
	//visibility: visible;
	transform: translateX(304px) translateY(-160px);
}

#CameraLane.Lane3
{
	//visibility: visible;
	transform: translateX(490px) translateY(-160px);
}


.CameraCorner
{
	width: 24px;
	height: 24px;
	background-color: yellow;
}


#CameraTL
{
	horizontal-align: left;
	vertical-align: top;
}

#CameraTR
{
	horizontal-align: right;
	vertical-align: top;
}

#CameraBL
{
	horizontal-align: left;
	vertical-align: bottom;
}

#CameraBR
{
	horizontal-align: right;
	vertical-align: bottom;
}
