DCGHUDRoot.DCGHUDRoot
{
	width: 100%;
	height: 100%;

	flow-children: none;
	transition-property: opacity;
	transition-duration: 0.5s;
	transition-timing-function: ease-in-out;
}

DCGHUDRoot.HideUI
{
    visibility: collapse;
}

DCGHUDRoot.MatchEnd
{
	opacity: 0;
}

DCGHUDRoot.InspectTakeover
{
    visibility:collapse;
}

DCGHUDRoot #Overlay
{
    width: 25%;
    height: 25%;

    visibility: visible;

    margin-top: 30%;
    margin-left: 37.5%;
    margin-right: 0px;
    margin-bottom: 0px;
    transform: scaleX(3.5) scaleY(8.7) rotateY(15deg) rotateZ(-90deg);
    //box-shadow: 45px 45px 70px 90px rgba(18,18,18,1) inset;

    opacity: 0;
    transition-property: opacity;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;

	/* As far as I can tell, this panel does nothing. But because it has a transform
	   that has a z component, it forces its parent to have a composition layer. I'm
	   just turning it off for now so that the composition layer goes away and
	   background-blur works. */
	visibility: collapse;
}

.ArtifactLogoContainer
{
	width: 240px;
	height: 70px;
	background-image: url("s2r://panorama/images/dashboard_new/artifact_beta_logo_topbar_psd.vtex");
	background-size: 100% 100%;
}

.IsTutorialMission .ArtifactLogoContainer
{
	vertical-align: bottom;
}

DCGHud.AspectRatio4x3 #Overlay
{
    margin-top: 30%;
    margin-left: 37.5%;
    margin-right: 0px;
    margin-bottom: 0px;
    transform: scaleX(3.9) scaleY(6.7) rotateY(15deg) rotateZ(-90deg);
    //box-shadow: 45px 45px 70px 90px rgba(18,18,18,1) inset;
}

DCGHud.AspectRatio16x9 #Overlay
{
    margin-top: 30%;
    margin-left: 37.5%;
    margin-right: 0px;
    margin-bottom: 0px;
    transform: scaleX(2.7) scaleY(9.7) rotateY(15deg) rotateZ(-90deg);
    //box-shadow: 45px 45px 70px 90px rgba(18,18,18,1) inset;
}

#Overlay.CardPlayStarted
{
    opacity: 1;
}

#GlobalMoviePlayer
{
	width: 100%;
	height: 100%;
	visibility: collapse;
	z-index: 100;
}

#GlobalMoviePlayer.IsPlaying
{
	visibility: visible;
}

.VenchatoquistItem
{
	border: 0px solid black;
	background-color: #00000000;

	padding-top: 25px;
	padding-left: 25px;
	padding-right: 25px;
	padding-bottom: 25px;

	animation-name: venchatoquist-appear;
	animation-duration: 0.7s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: 1;
}

@keyframes 'venchatoquist-appear'
{
    0%
    {
    	opacity: 0;
        transform: translatey( -100px ) scaleX(0.0) scaleY(0.0);
    }
    1%
    {
    	opacity: 1;
        transform: translatey( -100px ) scaleX(0.0) scaleY(0.0);
    }
    40%
    {
    	opacity: 1;
        transform: translatey( -15px ) scaleX(1.2) scaleY(1.2);
    }
    100%
    {
    	opacity: 1;
        transform: translatey( 0px ) scaleX(1.0) scaleY(1.0);
    }
}

.VenchatoquistBubble
{
	//flow-children: right;

	horizontal-align: center;

	background-color: #cccccc;
	background-color: gradient( linear, 0% 100%, 0% 0%, color-stop( 0.0, #cccccc), color-stop( 1.0, #e5e5e5dd) );
	opacity: 1;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 12px;
	padding-right: 12px;
	margin: 0px;
	margin-left: 8px;
	border-radius: 4px;

	box-shadow: #000000CC -8px -8px 16px 16px;
}

.IsOtherUserMessage .VenchatoquistBubble
{
	//background-color: #99ccffee;
}

.VenchatoquistArrowDown
{
	border-style: solid;
	border-color: #cccccc transparent transparent transparent;
	border-width: 18px 18px 0px 18px;
	margin-left: 20px;
	margin-top: -1px;
	margin-bottom: -15px;
	horizontal-align: center;
	vertical-align: bottom;
	visibility: visible;
}

.NoArrow .VenchatoquistArrowDown,
.LeftArrow .VenchatoquistArrowDown,
.RightArrow .VenchatoquistArrowDown
{
	visibility: collapse;
}

.IsOtherUserMessage .VenchatoquistArrowDown
{
	//border-color: #99ccffee transparent transparent transparent;
}

.VenchatoquistArrowLeft
{
	border-style: solid;
	border-color: transparent #cccccc transparent transparent;
	border-width: 18px 18px 18px 0px;
	margin-top: 10px;
	margin-left: -9px;
	horizontal-align: left;
	vertical-align: center;
	visibility: collapse;
}

.LeftArrow .VenchatoquistArrowLeft
{
	visibility: visible;
}

.IsOtherUserMessage .VenchatoquistArrowLeft
{
	//border-color: transparent #99ccffee transparent transparent;
}

.VenchatoquistArrowRight
{
	border-style: solid;
	border-color: transparent transparent transparent #cccccc;
	border-width: 18px 0px 18px 18px;
	margin-top: 10px;
	margin-right: -17px;
	horizontal-align: right;
	visibility: collapse;
}

.RightArrow .VenchatoquistArrowRight
{
	visibility: visible;
}

.IsOtherUserMessage .VenchatoquistArrowRight
{
	//border-color: transparent transparent transparent #99ccffee;
}

.VenchatoquistHelpText
{
	width: 300px;
	height: 28px;

	z-index: 10;
	margin-top: -25px;

	horizontal-align: center;
	text-overflow: shrink;
	color: #ffffff;
	font-size: 26px;
	text-align: center;

	text-shadow: 0px 0px 3px 3.0 #000000;

	visibility: collapse;
}

.ShowHelp .VenchatoquistHelpText
{
	visibility: visible;
}

#VenchatoquistText
{
	min-width: 50px;
	max-width: 300px;
	width: fit-children;

	vertical-align: center;
	color: #111111;
	font-size: 24px;
	text-align: center;

	visibility: visible;
}

.IsUserGenerated #VenchatoquistText
{
	color: white;
	font-weight: light;
	text-shadow: 0px 0px 2px 2.0 #08f8eb55;
	margin-right: 20px;
	margin-left: 20px; // margins for chat
}


.IsOtherUserMessage #VenchatoquistText
{
	//color: #111144;
}

.IsLocal #VenchatoquistText
{
	visibility: collapse;
}

#VenchatoquistTextEntry
{
	min-width: 50px;
	width: fit-children;
	color: black;
	font-size: 26px;
	horizontal-align: center;
	vertical-align: center;
	background-color: #FFFFFF00;
	border: 0px solid black;

	margin-left: 15px;
	margin-right: 5px;
	box-shadow: none;

	visibility: collapse;
}

.IsLocal #VenchatoquistTextEntry
{
	visibility: visible;
}

.IsUserGenerated .VenchatoquistBubble
{
	border-radius: 5px;
	box-shadow: #2bf9ed99 -1px -1px 20px 2px;
	border: 1px solid #2bf9edaa;
	background-color: gradient( linear, 0% 100%, 0% 0%, color-stop( 0.0, #45706d), color-stop( 0.05, #45706d), color-stop( 0.5, #282828dd), color-stop( 0.96, #282828ee), color-stop( 1.0, #b7b7b7) );
}

.IsUserGenerated .VenchatoquistArrowDown
{
	border-color: #45706d transparent transparent transparent;
}

.ToggleCustomButton, .ToggleUserButton
{
    visibility: collapse;
    horizontal-align: right;
}

.IsHidingCustom .ToggleCustomButton,
.IsOtherUserMessage .ToggleUserButton
{
    visibility: visible;
}

.ToggleUserButton:hover
{
    brightness: 2.5;
}

.VenchatoquistButtonImage
{
    width: 40px;
    height: 40px;
    background-size: 100% 100%;
}

#Paused
{
	width: 1920px;
	height: 100px;
	flow-children: down;
	margin-bottom: 100px;

	horizontal-align: center;
	vertical-align: center;

	margin-top: 100px;
	background-color: #000000D0;

	visibility: collapse;
}

#PausedTextPanel
{
	width: fit-children;
	height: fit-children;
	flow-children: none;
	visibility: visible;
	vertical-align: center;
	horizontal-align: center;
}

#Paused Label
{
    text-transform: uppercase;
	horizontal-align: center;
	margin: 0px;
	vertical-align: top;
}

#Paused.showPaused
{
	visibility: visible;
}

#PausedText
{
	color: #FFFFFF99;
	font-size: 60px;
	font-weight: light;
	letter-spacing: 10px;
	text-shadow: 0px 0px 12px 3.0 #000000;
	text-align: center;
}

#CardSortFlyout
{
    border: 0px solid black;

	horizontal-align: right;
	vertical-align: bottom;

    margin-right: 64px;
    margin-bottom: 64px;

    visibility: collapse;
	z-index: 99;
}

#CardSortFlyout.Activated
{
    visibility: visible;
    opacity: 0;

    animation-name: card-sort-activated;
    animation-duration: 1.11s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
}

#CardSortFlyoutText
{
    color: white;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 2px;
    animation-name: card-sort-activated-glow;
    animation-duration: 1.12s;
    animation-timing-function: ease-in-out;

    text-align: right;
}

@keyframes 'card-sort-activated'
{
    0%
    {
    	opacity: 0;
        transform: translatey( 0px );
        text-shadow: none;
    }
    20%
    {
    	opacity: 1;
    	text-shadow: 0px 0px 4px 2.0 #71ffff11;
    }
    60%
    {
        opacity: 1;
        text-shadow: 0px 0px 4px 2.0 #71ffff11;
    }
    100%
    {
        opacity: 0;
        transform: translatey( -5px );
        text-shadow: none;
    }
}

@keyframes 'card-sort-activated-glow'
{
    0%
    {
        text-shadow: none;
    }
    20%
    {
    	text-shadow: 0px 0px 4px 2.0 #71ffff11;
    }
    60%
    {
        text-shadow: 0px 0px 4px 2.0 #71ffff11;
    }
    100%
    {
        text-shadow: none;
    }
}

#SelectErrorFlyout
{
    border: 0px solid black;

	horizontal-align: left;
	vertical-align: top;

    margin-left: -85px;
    margin-top: -50px;

    flow-children: right;

    padding-left: 5px;
    padding-right: 5px;
    padding-top: 0px;
    padding-bottom: 0px;

    background-color: #000000F0;
    border: 10px #000000F0;
	border-radius: 15px;

    visibility: collapse;
}

#SelectErrorFlyout.Activated
{
    visibility: visible;
    opacity: 0;

    animation-name: flyout-text-activated;
    animation-duration: 4s;
    animation-timing-function: ease-in;
    animation-iteration-count: 1;
}

#SelectErrorFlyoutIcon
{
    width: 40px;
    height: 40px;
    background-size: 100% 100%;
}

#SelectErrorFlyoutText
{
    vertical-align: center;

    padding-left: 5px;

    color: abilityGradient;
    font-size: 34px;

    text-align: center;   
}

@keyframes 'flyout-text-activated'
{
    0%
    {
    	opacity: 0;
        transform: translatey( 0px ) scaleX(0.0) scaleY(0.0);
    }
    5%
    {
    	opacity: 1;
        transform: translatey( 40px ) scaleX(1.2) scaleY(1.2);
    }
    10%
    {
    	opacity: 1;
        transform: translatey( 32px ) scaleX(1.0) scaleY(1.0);
    }
    40%
    {
        opacity: 1;
        transform: translatey( 16px );
    }
    100%
    {
        opacity: 0;
        transform: translatey( -64px );
    }
}

#PhaseName
{
	width: 100%;
	height: 180px;
	flow-children: none;
	vertical-align: center;
	opacity: 0;
}

#PhaseName.LaneStart
{
	margin-top: -10px;
}

#PhaseName.HeroVS
{
    margin-top: -10px;
}

#PhaseNameBackground
{
	width: 120%;
	height: 55px;
	text-align: center;
	flow-children: right;
	horizontal-align: center;
	vertical-align: center;
	background-color: gradient( linear, 0% 0%, 100% 100%, color-stop( 0.0, rgba(0,0,0,0)), color-stop( 0.05, black), color-stop( 0.95, black), color-stop( 1.0, rgba(0,0,0,0)) );
}

#PhaseNameContainer
{
	text-align: center;
	flow-children: right;
	horizontal-align: center;
	vertical-align: center;
}

#PhaseNameText1
{
	padding-left: 100px;
	padding-right: 100px;
	margin-right: 15px;
}

#PhaseNameText2
{
	padding-left: 100px;
	padding-right: 100px;
	margin-left: -200px;
}

#PhaseName Label
{
	text-transform: uppercase;
	horizontal-align: center;
	vertical-align: center;
	color: #dedede;
	font-size: 36px;
	margin-top: 10px;
}

#PhaseName.RoundStart Label,
#PhaseName.RoundEnd Label,
#PhaseName.ShoppingStart Label,
#PhaseName.HeroDeployment Label,
#PhaseName.CombatPhase Label,
#PhaseName.OpponentTurn Label
{
    font-size: 72px;
}

#PhaseName.YourTurn Label,
#PhaseName.NoActions Label,
#PhaseName.DeployHeroes Label,
#PhaseName.OpponentPass Label
{
    font-size: 144px;
}


#PhaseName.YourTurn,
#PhaseName.DeployHeroes,
#PhaseName.NoActions,
#PhaseName.OpponentPass 
{
    vertical-align: bottom;
    margin-bottom: 20%;
}

#PhaseNameBackground.RoundStart,
#PhaseNameBackground.RoundEnd,
#PhaseNameBackground.ShoppingStart,
#PhaseNameBackground.HeroDeployment,
#PhaseNameBackground.CombatPhase,
#PhaseNameBackground.OpponentTurn
{
    height: 130px;
}

#PhaseNameBackground.YourTurn,
#PhaseNameBackground.NoActions,
#PhaseNameBackground.DeployHeroes,
#PhaseNameBackground.OpponentPass
{
    height: 260px;
}

#PhaseName.IsVisible
{
	animation-name: fade-in-out;
	animation-duration: 2.0s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: 1;
}

#PhaseName.IsVisible.RoundStart.Round1
{
	animation-name: fade-in-out;
	animation-duration: 1.5s;
	animation-delay: 2.25s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: 1;
}

#PhaseName.IsVisible.LaneStart.Lane2,
#PhaseName.IsVisible.LaneStart.Lane3
{
	animation-name: fade-in-out;
	animation-duration: 6.5s;
	animation-delay: .25s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: 1;
}

#PhaseName.IsVisible.OpponentTurn,
#PhaseName.IsVisible.DeployHeroes,
#PhaseName.IsVisible.YourTurn,
#PhaseName.IsVisible.NoActions,
#PhaseName.IsVisible.OpponentPass
{
    animation-name: fade-in-out;
    animation-duration: 2.0s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
}

#PhaseNameBackground.IsVisible.HeroVS,
#PhaseNameBackground.IsVisible.RoundStart,
#PhaseNameBackground.IsVisible.RoundEnd,
#PhaseNameBackground.IsVisible.ShoppingStart,
#PhaseNameBackground.IsVisible.HeroDeployment,
#PhaseNameBackground.IsVisible.CombatPhase,
#PhaseNameBackground.IsVisible.LaneStart.Lane1
{
    animation-name: fade-in-out-slide-out;
    animation-duration: 2.0s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
}

#PhaseNameBackground.IsVisible.OpponentTurn,
#PhaseNameBackground.IsVisible.DeployHeroes,
#PhaseNameBackground.IsVisible.YourTurn,
#PhaseNameBackground.IsVisible.NoActions,
#PhaseNameBackground.IsVisible.OpponentPass 
{
    animation-name: fade-in-out;
    animation-duration: 2.0s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
}

#PhaseNameBackground.IsVisible.RoundStart.Round1
{
	animation-name: fade-in-out-slide-out;
	animation-duration: 2.0s;
	animation-delay: 1.75s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: 1;
}

#PhaseNameBackground.IsVisible.LaneStart.Lane2,
#PhaseNameBackground.IsVisible.LaneStart.Lane3
{
	animation-name: fade-in-out-slide-in-out;
	animation-duration: 6s;
	animation-timing-function: ease-out;
	animation-iteration-count: 1;
	opacity: 0;
}

#PhaseNameContainer.IsVisible.LaneStart.Lane2,
#PhaseNameContainer.IsVisible.LaneStart.Lane3
{
	animation-name: slide-in-out;
    animation-delay: 0.1s;
	animation-duration: 2s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: 1;
}

#PhaseNameText1.IsVisible.RoundStart,
#PhaseNameText1.IsVisible.RoundEnd,
#PhaseNameText1.IsVisible.ShoppingStart,
#PhaseNameText1.IsVisible.HeroDeployment,
#PhaseNameText1.IsVisible.CombatPhase,
#PhaseNameText1.IsVisible.OpponentTurn
{
    animation-name: blur-text-in-out-floating-right;
    animation-duration: 1.5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
    opacity: 0;
}

#PhaseNameText1.IsVisible.YourTurn,
#PhaseNameText1.IsVisible.OpponentTurn,
#PhaseNameText1.IsVisible.DeployHeroes,
#PhaseNameText1.IsVisible.NoActions,
#PhaseNameText1.IsVisible.OpponentPass,
#PhaseNameText2.IsVisible.YourTurn,
#PhaseNameText2.IsVisible.OpponentTurn,
#PhaseNameText2.IsVisible.DeployHeroes,
#PhaseNameText2.IsVisible.NoActions,
#PhaseNameText2.IsVisible.OpponentPass
{
    animation-name: blur-text-in-out-down-up-lane2-3;
    animation-duration: 2.0s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
    opacity: 0;
}

#PhaseNameText1.IsVisible.RoundStart.Round1
{
	animation-name: blur-text-in-out-floating-right;
	animation-duration: 2s;
	animation-delay: 2.25s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: 1;
	opacity: 0;
}

#PhaseNameText2.IsVisible.RoundStart,
#PhaseNameText2.IsVisible.RoundEnd,
#PhaseNameText2.IsVisible.ShoppingStart,
#PhaseNameText2.IsVisible.HeroDeployment,
#PhaseNameText2.IsVisible.CombatPhase
{
    animation-name: blur-text-in-out-floating-right;
    animation-duration: 1.5s;
    animation-delay: .25s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
    opacity: 0;
}

#PhaseNameText2.IsVisible.RoundStart.Round1
{
	animation-name: blur-text-in-out-floating-right;
	animation-duration: 1.9s;
	animation-delay: 2.75s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: 1;
	opacity: 0;
}

#PhaseNameText1.IsVisible.HeroVS,
#PhaseNameText1.IsVisible.LaneStart {
    animation-name: blur-text-in-out-down-up;
    animation-duration: 1.75s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
    opacity: 0;
}

#PhaseNameText2.IsVisible.HeroVS,
#PhaseNameText2.IsVisible.LaneStart {
    animation-name: blur-text-in-out-down-up;
    animation-duration: 1.75s;
    animation-delay: .25s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
    opacity: 0;
}

#PhaseNameText1.IsVisible.LaneStart.Lane1 {
    animation-name: blur-text-in-out-down-up-lane2-3;
    animation-duration: 1.75s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
    opacity: 0;
}

#PhaseNameText2.IsVisible.LaneStart.Lane1 {
    animation-name: blur-text-in-out-down-up-lane2-3;
    animation-duration: 1.75s;
    animation-delay: .25s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
    opacity: 0;
}

#PhaseNameText1.IsVisible.LaneStart.Lane2,
#PhaseNameText1.IsVisible.LaneStart.Lane3
{
	animation-name: blur-text-in-out-down-up-lane2-3;
	animation-duration: 3.5s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: 1;
	opacity: 0;
}

#PhaseNameText2.IsVisible.LaneStart.Lane2,
#PhaseNameText2.IsVisible.LaneStart.Lane3,
{
	animation-name: blur-text-in-out-down-up-lane2-3;
	animation-duration: 3.5s;
	animation-delay: .25s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: 1;
	opacity: 0;
}




@keyframes 'fade-in-out' {
	0%		{opacity: 0;}
	15%		{opacity: .8;}
	85%		{opacity: .8;}
	100%	{opacity: 0;}
}

@keyframes 'blur-text-in-out-floating-right' {
	0%		{opacity: 0; transform: translateX(0px) translateY(-5px); }
	15% 	{opacity: 1; transform: translateX(0px) translateY(-5px); }
	20%		{text-shadow: 0 0 50px #fff;}
	25%		{text-shadow: 0 0 45px #fff;}
	35%		{text-shadow: 0 0 0px #fff;  transform: translateX(5px) translateY(0px); }
	80%		{text-shadow: 0 0 0px #fff;}
	85%		{opacity: 1; transform: translateX(12px) translateY(0px); }
	95%		{text-shadow: 0 0 35px #fff;}
	100%	{text-shadow: 0 0 40px #fff; opacity: 0; transform: translateX(14px) translateY(-5px); }
}

@keyframes 'blur-text-in-out-down-up' {
	0%		{opacity: 0; transform: translateY(-5px); }
	15% 	{opacity: 1; transform: translateY(-5px); }
	20%		{text-shadow: 0 0 50px #fff;}
	25%		{text-shadow: 0 0 45px #fff;}
	35%		{text-shadow: 0 0 0px #fff;  transform: translateY(0px); }
	80%		{text-shadow: 0 0 0px #fff;}
	85%		{opacity: 1; transform: translateY(0px); }
	95%		{text-shadow: 0 0 35px #fff;}
	100%	{text-shadow: 0 0 40px #fff; opacity: 0; }
}

@keyframes 'blur-text-in-out-down-up-lane2-3' {
	0%		{opacity: 0; transform: translateY(-5px); }
	15% 	{opacity: 1; transform: translateY(-5px); }
	20%		{text-shadow: 0 0 50px #fff;}
	25%		{text-shadow: 0 0 45px #fff;}
	35%		{text-shadow: 0 0 0px #fff;  transform: translateY(-5px); }
	80%		{text-shadow: 0 0 0px #fff;}
	85%		{opacity: 1; transform: translateY(-5px); }
	95%		{text-shadow: 0 0 35px #fff;}
	100%	{text-shadow: 0 0 40px #fff; opacity: 0; }
}

@keyframes 'fade-in-out-slide-in-out' {
	0%		{opacity: 0; transform: translateX(100%);}
	15%		{opacity: .8; }
	40%		{opacity: .8; transform: translateX(0%);}
	85%		{opacity: .8; }
	100%	{opacity: 0; transform: translateX(-300%);}
}

@keyframes 'slide-in-out' {
	0%		{transform: translateX(100%);}
	100% 	{transform: translateX(0%);}
}

@keyframes 'fade-in-out-slide-out' {
	0%		{opacity:  0;}
	15%		{opacity: .8;}
	85%		{opacity: .8; transform: translateX(0%);}
	100%	{opacity:  0; transform: translateX(-100%);}
}

#PhaseInfo
{
	min-width: 80px;
	max-width: 600px;
	flow-children: down;

  padding: 12px;
  border: 0px solid black;

	horizontal-align: center;
	vertical-align: center;
	margin-top: 660px;
	background-color: #000000AA;
	visibility: collapse;
}

#PhaseInfo.showPhaseInfo
{
	visibility: visible;
}

#PhaseInfo Label
{
  color: #0189e7;
	text-align: center;
	font-size: 32px;
}

.DeployHeroesReminderText
{
    color: white;
    font-size: 16px;
}

#PhaseInfoText
{
	color: #dedede;
	font-size: 48px;
	text-shadow: 0px 0px 12px 3.0 #000000;
}

#ChatControls
{
    vertical-align: bottom;
}

#ToggleChatView
{
    width: 42px;
    height: 32px;

    opacity: 0.5;

  	background-image: url("s2r://panorama/images/dashboard/icon_message_png.vtex");
    background-size: 65% 90%;
    background-repeat: no-repeat;
    background-position: right center;
}

#ToggleChatView:hover
{
    opacity: 1.0;
}

.CollapseChat #ToggleChatView
{
    background-position: left center;
}

#ChatExpandCollapseArrow
{
    background-color: #446644;
    vertical-align: center;
    width: 16px;
    height: 24px;

    horizontal-align: left;
    opacity-mask: url("s2r://panorama/images/control_icons/arrow_solid_left_png.vtex");
}

.CollapseChat #ChatExpandCollapseArrow
{
    horizontal-align: right;
    opacity-mask: url("s2r://panorama/images/control_icons/arrow_solid_right_png.vtex");
}

#Chat
{
	width: 700px;
}

.IsHidingPlayerInfoAI #Chat
{
	visibility: collapse;
}

.DCGHudHandView
{
    width:100%;
    height:100%;
}

#DCGSettingsButton
{
	margin: 0px;
	width: 32px;
	height: 57px;
	margin-right: 16px;
	vertical-align: top;
	horizontal-align: right;
	margin-top: 120px;
	background-image: url("s2r://panorama/images/control_icons/gear_png.vtex");
	background-size: 27px;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	wash-color: #444a55;
}

#DCGSettingsButton:hover
{
	wash-color: #9999aa;
}

#DCGSettingsButton:active
{
	sound: "ui_settings_multi";
}


#ScrollLeftButton
{
	transform: translateX( -80px );
	visibility: collapse;
    horizontal-align: left;
//    background-image: url("s2r://panorama/images/hud/right_arrow_psd.vtex");
	opacity: 0.0;
	
	transition-property: transform, opacity;
	transition-duration: .25s;
	transition-timing-function: ease-in-out;
}

.canScrollLeft #ScrollLeftButton
{
	opacity: 1.0;
	transform: translateX( -35px ) scaleX(.5) scaleY(.5);
	
	transition-property: transform, opacity;
	transition-duration: .25s;
	transition-timing-function: ease-in-out;

}

#ScrollLeftButtonOverlay
{
	opacity: 0.0;
	
    margin: 0px;
    width: 72px;
    height: 256px;
    vertical-align: middle;

	background-image: url("s2r://panorama/images/hud/right_arrow_active_psd.vtex");
	
	transition-property: transform, opacity;
	transition-duration: .5s;
	transition-timing-function: ease-in-out;
}

.ActiveLaneIsToTheLeft #ScrollLeftButtonOverlay
{
	opacity: 1.0;
	transform: translateX( 0px );
	
	transition-property: transform, opacity;
	transition-duration: .5s;
	transition-timing-function: ease-in-out;
	
	animation-name: glow-arrow;
	animation-duration: 2.0s;
	animation-delay: 0s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
	
	transition-property: transform, opacity;
	transition-duration: .5s;
	transition-timing-function: ease-in-out;
}

@keyframes 'glow-arrow'
{
    0%
    {
		opacity: 0.35;
    }

    50%
    {
		opacity: 1.0;
    }

    100%
    {
		opacity: 0.35;
    }
}

#ScrollRightButton
{
	transform: translateX( 80px );
	visibility: collapse;
  	horizontal-align: right;
//  	background-image: url("s2r://panorama/images/hud/left_arrow_psd.vtex");
	opacity: 0.0;
	
	transition-property: transform, opacity;
	transition-duration: .25s;
	transition-timing-function: ease-in-out;
}

.ActiveLaneIsToTheRight #ScrollRightButtonOverlay
{
	opacity: 1.0;
	transform: translateX( 0px );
	
	transition-property: transform, opacity;
	transition-duration: .5s;
	transition-timing-function: ease-in-out;
	
	animation-name: glow-arrow;
	animation-duration: 2.0s;
	animation-delay: 0s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
	
	transition-property: transform, opacity;
	transition-duration: .5s;
	transition-timing-function: ease-in-out;
}

#ScrollRightButtonOverlay
{
	opacity: 0.0;
  margin: 0px;
  width: 72px;
  height: 256px;
  vertical-align: middle;

	background-image: url("s2r://panorama/images/hud/left_arrow_active_psd.vtex");
	
	transition-property: transform, opacity;
	transition-duration: .5s;
	transition-timing-function: ease-in-out;
}

.ActiveLaneIsToTheRight #ScrollRightButton.VSPhase8_Complete,
.ActiveLaneIsToTheLeft #ScrollLeftButton.VSPhase8_Complete 
{
	visibility: visible;
}

.canScrollRight #ScrollRightButton
{
	opacity: 1.0;
  	transform: translateX( 35px ) scaleX(.5) scaleY(.5);
	
	transition-property: transform, opacity;
	transition-duration: .25s;
	transition-timing-function: ease-in-out;
}

.ScrollLaneButton
{
	tooltip-body-position: 50% 50%;
	tooltip-arrow-position: 45% 45%;
    margin: 0px;
    width: 72px;
    height: 256px;
    vertical-align: middle;

    brightness: 1.0;
    transition-property: brightness;
    transition-duration: 0.2s;
    transition-timing-function: ease-in;
}

.ScrollLaneButton:hover
{
	//brightness: 2.5;
}

.ScrollLaneButton:active
{
   opacity: 1.4;
}


#HeroVSContainer
{
	width: 100%;
	height: 100%;
    flow-children: none;
    background-color: #000000FF;

    transition-property: background-color;
    transition-duration: 0.45s;
    transition-timing-function: ease-in;
}

#HeroVSFrame
{
    width: 1920px;
    height: 1080px;
    vertical-align: center;
    horizontal-align: center;
}

#HeroVSContainer.VSPhase1_FadeInVS
{
    background-color: #00000000;
}

#HeroVSContainer.VSPhase6_FadeToBlack
{
    background-color: #00000000;
}

#HeroVSContainer.VSPhase7_FadeBackIn
{
    background-color: #00000000;
}

#HeroVSContainer.VSPhase8_Complete
{
    visibility: collapse;
}

#OpponentSwipe
{
	height: 300px;
	width: 900px;
	background-image: url("s2r://panorama/images/versus/versus_topred_psd.vtex");
	background-size: 100% 100%;
	transform: translateY(220px) translateX( 2000px );
	opacity: 0;
}

.LocalDire #OpponentSwipe
{
	background-image: url("s2r://panorama/images/versus/versus_topgreen_psd.vtex");
}

.VSPhase2_FadeInFactionNames #OpponentSwipe
{
	animation-name: swipe-left;
	animation-duration: 0.45s;
	animation-delay: 0s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: 1;
	transform: translatey(220px) translatex(800px);
	opacity: 1;
}

@keyframes 'swipe-left'
{
    0%
    {
        transform: translateY(220px) translateX( 2000px );
				opacity: 0;
    }

    100%
    {
        transform: translateY(220px) translateX( 800px );
				opacity: 1;
    }
}

.VSPhase5_MoveToHeroDisplay #OpponentSwipe
{
	animation-name: swipe-further-left;
	animation-duration: 0.45s;
	animation-delay: 0.0s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: 1;
	transform: translatey(220px) translatex(100px);
	opacity: 0;
}

@keyframes 'swipe-further-left'
{
    0%
    {
        transform: translateY(220px) translateX( 800px );
				opacity: 1;
    }

    100%
    {
        transform: translateY(220px) translateX( 100px );
				opacity: 0;
    }
}

#OpponentSwipeShort
{
	height: 300px;
	width: 350px;
	background-image: url("s2r://panorama/images/versus/versus_topred_psd.vtex");
	background-size: 100% 100%;
	transform: translateY(220px) translateX( 100px );
	opacity: 0;
}

.LocalDire #OpponentSwipeShort
{
	background-image: url("s2r://panorama/images/versus/versus_topgreen_psd.vtex");
}

.VSPhase5_MoveToHeroDisplay #OpponentSwipeShort
{
	animation-name: swipe-short-left;
	animation-duration: 0.45s;
	animation-delay: 0.0s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: 1;
	transform: translateY(220px) translateX( 100px );
	opacity: 1;
	transition-duration: 0.45s;
}

.VSPhase6_FadeToBlack #OpponentSwipeShort
{
	opacity: 0;
	transition-duration: 0.45s;
}

@keyframes 'swipe-short-left'
{
    0%
    {
			transform: translatey(220px) translatex( 800px );
			opacity: 0;
    }

    100%
    {
			transform: translateY(220px) translateX( 100px );
			opacity: 1;
    }
}

#PlayerSwipe
{
	height: 300px;
	width: 900px;
	background-image: url("s2r://panorama/images/versus/versus_bottomgreen_psd.vtex");
	background-size: 100% 100%;
	transform: translatey(720px) translatex(-890px);
	transition-property: width;
	opacity: 0;
}

.LocalDire #PlayerSwipe
{
	background-image: url("s2r://panorama/images/versus/versus_bottomred_psd.vtex");
}

.VSPhase2_FadeInFactionNames #PlayerSwipe
{
  animation-name: swipe-right;
	animation-duration: 0.45s;
	animation-delay: 0s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: 1;
	transform: translatey(720px) translatex(260px);
	opacity: 1;
}

@keyframes 'swipe-right'
{
    0%
    {
			transform: translatey(720px) translatex(-890px);
			opacity: 0;
    }

    100%
    {
			transform: translatey(720px) translatex(260px);
			opacity: 1;
    }
}

.VSPhase5_MoveToHeroDisplay #PlayerSwipe
{
	animation-name: swipe-further-right;
	animation-duration: 0.45s;
	animation-delay: 0.0s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: 1;
	transform: translatey(720px) translatex(900px);
	opacity: 0;
}

@keyframes 'swipe-further-right'
{
    0%
    {
			transform: translatey(720px) translatex(260px);
			opacity: 1;
    }

    100%
    {
			transform: translatey(720px) translatex(900px);
			opacity: 0;
    }
}

#PlayerSwipeShort
{
	height: 300px;
	width: 350px;
	background-image: url("s2r://panorama/images/versus/versus_bottomgreen_psd.vtex");
	background-size: 100% 100%;
	transform: translatey(720px) translatex(1450px);
	transition-property: opacity;
	transition-duration: 0.25s;
	transition-delay: 0.1s;
	opacity: 0;
}

.LocalDire #PlayerSwipeShort
{
	background-image: url("s2r://panorama/images/versus/versus_bottomred_psd.vtex");
}

.VSPhase5_MoveToHeroDisplay #PlayerSwipeShort
{
	animation-name: swipe-short-right;
	animation-duration: 0.45s;
	animation-delay: 0.0s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: 1;
	transform: translatey(720px) translatex(1450px);
	opacity: 1;
	transition-duration: 0.45s;
}

@keyframes 'swipe-short-right'
{
    0%
    {
			transform: translatey(720px) translatex(260px);
			opacity: 0;
    }

    100%
    {
			transform: translatey(720px) translatex(1450px);
			opacity: 1;
    }
}

.VSPhase6_FadeToBlack #PlayerSwipeShort
{
    opacity: 0;
		transition-duration: 0.45s;
}

#HeroVS
{
    width: 100%;
    height: 75%;
    flow-children: down;
    horizontal-align: center;
    vertical-align: center;

    opacity: 0;
    transition-property: opacity;
    transition-duration: 0.8s;
    transition-timing-function: ease-in;
}

.VSPhase1_FadeInVS #HeroVS
{
    opacity: 1;
}

.VSPhase2_FadeInFactionNames #HeroVS
{
	  transition-duration: 0.45s;
}

.VSPhase6_FadeToBlack #HeroVS
{
    opacity: 0;
		transition-duration: 0.45s;
}

.OpponentVSTitleContainer
{
    width: fit-children;
    height: fit-children;
    flow-children: down;
    horizontal-align: center;
    vertical-align: center;
}

.VSPlayer
{
    width: fit-children;
    height: fit-children;
    horizontal-align: center;
    vertical-align: center;
    flow-children: right;

	transition-property: opacity, transform, pre-transform-scale2d;
	transition-duration: 0.45s;
	transition-timing-function: ease-in;

	opacity: 0;
}

.VSPhase3_FadeInPersonaNames .VSPlayer
{
		opacity: 1;
}

.VSPhase5_MoveToHeroDisplay .VSPlayer
{
	pre-transform-scale2d: 0.75;
}
#LocalVSPlayer
{
    transform: translatey( 26px );
}
#OpponentVSPlayer
{
    transform: translatey( -18px );
}

.VSPlayerProfileImage
{
    width: 64px;
    height: 64px;
}


.VSPlayerProfileImage.IsBotPlayer
{
	saturation: 0;
}

#OpponentVSPlayerProfileNameAnonymous,
.Anonymous #OpponentVSPlayerProfileName,
.Anonymous .VSPlayerProfileImage
{
    visibility:collapse;
}

.Anonymous #OpponentVSPlayerProfileNameAnonymous
{
    visibility:visible;
}

#OpponentVSPlayerProfileName,
#OpponentVSPlayerProfileNameAnonymous
{
    font-size: 40px;
    text-overflow: shrink;
    horizontal-align: left;
    vertical-align: center;
    padding-left: 10px;
}

.VSCenter
{
    width: 100%;
    height: fit-children;
    horizontal-align: center;
    vertical-align: center;


		transition-property: pre-transform-scale2d;
    transition-duration: 0.45s;
    transition-timing-function: ease-in;
}

.VSPhase4_ShrinkVS .VSCenter
{
	  pre-transform-scale2d: 0.5;
}

.VSCenterSwipe
{
	width: 100%;
	height: 70px;
	vertical-align: center;
	background-color: gradient( linear, 0% 0%, 100% 100%, color-stop( 0.0, rgba(0,0,0,0)), color-stop( 0.05, #33333333), color-stop( 0.95, #33333333), color-stop( 1.0, rgba(0,0,0,0)) );
	opacity: 0;
	transform: translatex( -1900px );

	transition-property: opacity;
	transition-duration: 0.45s;
	transition-timing-function: ease-in;
}

.VSPhase5_MoveToHeroDisplay .VSCenterSwipe
{
	animation-name: swipe-right-bar;
	animation-duration: 0.45s;
	animation-delay: 0s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: 1;
	transform: translatex( 0px );
	opacity: 0;
}

@keyframes 'swipe-right-bar'
{
    0%
    {
			transform: translatex(-1900px);
			opacity: 0;
    }

    100%
    {
			transform: translatex(0px);
			opacity: 0;
    }
}

.VSPhase6_FadeToBlack .VSCenterSwipe
{
    opacity: 0;
}

.VSLabel
{
    font-size: 100px;
    text-align: center;
    horizontal-align: center;
    opacity: 0;
}

.FactionVS
{
    width: fit-children;
    height: 300px;
    flow-children: down;
    horizontal-align: center;

    opacity: 0;
    transition-property: opacity;
    transition-duration: 0.2s;
    transition-timing-function: ease-in;
}

#LocalVS
{
    vertical-align: bottom;
}

.VSPhase5_MoveToHeroDisplay #OpponentVS
{
	animation-name: swipe-left-opponent;
	animation-duration: 0.45s;
	animation-delay: 0.0s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: 1;
	transform: translatex(-740px);
	opacity: 1;
}

@keyframes 'swipe-left-opponent'
{
    0%
    {
			transform:  translatex(0px);
    }

    100%
    {
			transform: translatex(-740px);
    }
}

.VSPhase5_MoveToHeroDisplay #LocalVS
{
	animation-name: swipe-right-opponent;
	animation-duration: 0.45s;
	animation-delay: 0.0s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: 1;
	transform: translatex(680px);
	opacity: 1;
}

@keyframes 'swipe-right-opponent'
{
    0%
    {
			transform:  translatex(0px);
    }

    100%
    {
			transform: translatex(680px);
    }
}

.VSPhase5a_HidePlayerDisplays #OpponentSwipeShort,
.VSPhase5a_HidePlayerDisplays #OpponentVS,
.VSPhase5a_HidePlayerDisplays #PlayerSwipeShort,
.VSPhase5a_HidePlayerDisplays #LocalVS
{
    opacity: 0;
}

.VSPhase2_FadeInFactionNames .FactionVS
{
    opacity: 1;
}

.FactionVSTitle
{
    font-size: 16px;
    font-weight: bold;
}

#OpponentVSTitle
{
	color: #9c0c09;
}

.LocalDire #OpponentVSTitle
{
	color: #59b049;
}

#LocalVSTitle
{
	color: #59b049;
}

.LocalDire #LocalVSTitle
{
	color: #9c0c09;
}

.LocalVSTitleContainer
{
    width: fit-children;
    height: fit-children;
    flow-children: down;
    horizontal-align: center;
    vertical-align: center;
}

@keyframes 'bg-fade-in'
{
    0%
    {
        background-color: #00000000;
    }

    100%
    {
        background-color: #000000DD;
    }
}

#LocalVSPlayerProfileName
{
    font-size: 40px;
    text-overflow: shrink;
    horizontal-align: left;
    vertical-align: center;
    padding-left: 10px;
}

.Shopping #ShopMinimizeItem
{
    visibility:visible;
}

#ShopMinimizeItem
{
    horizontal-align: center;
    y:848px;
    visibility:collapse;
    width: 340px;
    height: 50px;

	background-color: gradient( linear, 0% 0%, 0% 100%, from( #374a58AA ), to( #393c4fAA ) );
	border: 1px solid #000000CC;
	border-radius: 2px;
	
	box-shadow: 0px 0px 20px 0px black;
}

#ShopMinimizeItem:active Label
{
	transform: translateY(1px);
	text-shadow: 2px 2px 4px 1.0 #00000000;
	color: gradient( linear, 0% 0%, 0% 100%, from( #eaeaeaDD), to( #abababDD) );
}

#ShopMinimizeItem:enabled:hover
{
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #a9c8da55 ), to( #596b7555 ) );
	border: 2px solid #00000000;
}

#ShopMinimizeItem:active
{
	border: 1px solid black;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #272f3355 ), to( #5a6c7555 ) );

	border-top: 1px solid #00000088;
	border-right: 1px solid #00000088;
	border-left: 1px solid #00000088;
	border-bottom: 1px solid #00000088;
}

.AspectRatio16x10 #ShopMinimizeItem
{
    y:848px;
}

#ShopMinimizeItem Label
{
	font-size: 20px;
	margin-top: 2px;
	text-transform: uppercase;
	letter-spacing: 2px;
	text-shadow: 2px 2px 4px 1.0 #000000AA;
	color: gradient( linear, 0% 0%, 0% 100%, from( #eaeaea ), to( #ababab) );
}

#ShopBuyItem1
{
    x:620px;
}

.AspectRatio16x10 #ShopBuyItem1
{
    x:525px;
}

#ShopBuyItem2
{
    x:858px;
}

.AspectRatio16x10 #ShopBuyItem2
{
    x:763px;
}

#ShopBuyItem3
{
    x:1095px;
}

.AspectRatio16x10 #ShopBuyItem3
{
    x:1000px;
}

.Minimized .MinimizedText,
.Maximized .MaximizedText
{
    visibility:visible;
}
.Maximized .MinimizedText,
.Minimized .MaximizedText
{
    visibility:collapse;
}

.SecretShopForced #ShopMinimizeItem
{
    visibility:collapse;
}

//Todo: a lot of the old ShopItems related stuff can be deleted
#ShopItems
{
	width: 869px;
	height: 807px;
	margin-bottom: 200px;
	flow-children: down;
	vertical-align: center;
	horizontal-align: center;
	visibility: collapse;
	z-index: 9999;
	background-color: #000000dd;

	background-image: url("s2r://panorama/images/shop/secretshop_background_psd.vtex");
	background-size: 100% 100%;
	img-shadow: #000000 0px 8px 30px 16px;
}

.ShopMinimized #ShopItems
{
	background-color: none;
	background-image: none;
}


.Shopping #ShopItems
{
	visibility: collapse;//temp just hide
}

.LeftAlign
{
	horizontal-align: left;
}

.RightAlign
{
	horizontal-align: right;
}

.CenterAlign
{
	horizontal-align: center;
}

.CenterAlignV
{
	vertical-align: center;
}

.ShopActionButton
{
	background-image: url("s2r://panorama/images/shop/secretshop_buttonsmall_psd.vtex");
	background-size: 100% 100%;
}

.ShopControlButton
{
	background-image: url("s2r://panorama/images/shop/secretshop_windowbutton_psd.vtex");
	background-size: 100% 100%;
}

#InvestButton 
{
	height: 60px;
	transition-property: background-color, opacity, brightness, img-shadow;
	transition-duration: 0.1s;
	transition-timing-function: ease-in-out;
}

#InvestButton:hover
{
	brightness: 1.2;
}

#InvestButton:enabled
{	
	border: 1px solid #ffe77b;
	img-shadow: 0px 0px 7px 1.0 white;
}

.ShopButton Button:disabled
{
    brightness: 0.1;
}

.ShopButton Button:hover:disabled
{
    brightness: 0.15;
}

.ShopButton Button:disabled Label
{
    text-shadow: none;
}

.ShopButton Button:hover:disabled Label
{
    text-shadow: none;
}

#ShopButtonsPanel
{
	flow-children: left;
	height: 100%;
}

#ShopButtonsLabel, #InvestButtonsLabel
{
	vertical-align: center;
	margin-left: 5px;
	font-size: 32px;
	text-shadow: 0px 1px 2px 2.0 #00000070;
	color: white;
}

#ShopHeaderLevel, #GoldCountButton
{
	color: #403836;
}

.ShopRow
{
	width: 100%;
	flow-children: right;
}

#ShopTopPanel
{
	height: 100%;
	width: 100%;
	padding: 7px 20px 0px 20px;
	flow-children: down;
}

#ShopTopRow
{
	height: 80px;
	flow-children: right;
}

#ShopButtonsRow
{
	margin-top: 10px;
	padding-left: 35px;
	padding-right: 35px;
	height: 50px;
}

#InvestButtonsRow
{
	margin-top: 10px;
	padding-left: 35px;
	padding-right: 35px;	
	height: 85px;
}

#InvestLabelRow
{
	margin-top: 10px;
	padding-left: 35px;
	padding-right: 35px;	
	height: 45px;
}

#BuyButtonsRow
{
	padding: 0px 40px 0px 50px;
	height: 50px;
	flow-children: none;
}

#BuyItem0
{
	margin-left: 35px;
//	x:0px;
}

#BuyItem1
{
		margin-left: 302px;
//	x:270px;
}

#BuyItem2
{
	margin-left: 560px;
//	x:525px;
}

.BuyItemButton
{
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #373d45 ), to( #4d5860 ) );
	width: 120px;
	height: 33px;
	horizontal-align: left;
	transition-property: background-color, text-shadow, opacity, brightness;
	transition-duration: 0.1s;
	transition-timing-function: linear;
	
	border: 1px solid #ffe77b;
	img-shadow: 0px 0px 7px 2.0 #ffe77b;
}

.BuyItemButton:enabled:hover
{
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #4c5561 ), to( #6c7d88 ) );
	brightness: 2.0;
	border: 1px solid #ffe77b;
	img-shadow: 0px 0px 7px 1.0 white;
}

.BuyItemButton:disabled
{
	wash-color: #999999;
	saturation: 0;
}

.BuyItemButton:disabled Label
{
	color: #888888;
}

.BuyItemButton:active
{
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #393939), to( #555555 ) );
	sound: "ui_generic_button_click";
	border: 1px solid #ffe77b;
	img-shadow: 0px 0px 7px 1.0 white;
}

.BuyItemButton Label
{
	margin-top: 2px;
	text-transform: uppercase;
	letter-spacing: 2px;
	color: #FFFFFF;
	horizontal-align: center;
	text-align: center;
	vertical-align: middle;
	text-shadow: 2px 2px 4px 1.0 #000000;
}

.BuyItemButton:active Label
{
//		transform: translateY(1px);
}

#BottomButtonsRow
{
	margin-top: 10px;
	height: 75px;
}

#UpgradeButton
{
    min-width: 205px;
    width: fit-children;
    flow-children: right;
}

#UpgradeButton, #RerollButton
{
	height: 5px;
	margin-left: 15px;
	transition-property: brightness;
	transition-duration: 0.15s;
	transition-timing-function: ease-in-out;
}

#RerollButton Label, #UpgradeButton Label
{
	horizontal-align: left;
}

#RerollButton, #UpgradeButton, #InvestButton
{
	horizontal-align: left;
}

#RerollButton:hover, 
#UpgradeButton:hover,
{
	brightness: 1.2;
}

.ShopActionCostImage
{
	background-image: url("s2r://panorama/images/shop/secretshop_coinonbutton_psd.vtex");
	background-size: 100% 100%;
	width: 31px;
	height: 31px;
	horizontal-align: right;
	padding-right: 4px;
	padding-bottom: 2px;
}

#RerollButton .ShopActionCostLabel,
#UpgradeButton .ShopActionCostLabel,
{
	vertical-align: center;
	horizontal-align: center;
}



#ShopHeader
{
	width: 500px;
}

#ShopHeaderLabel
{
	text-overflow: shrink;
	color: abilityGradient;
	text-shadow: 0px 2px 4px 2.0 #000000;
	font-size: 50px;
	width: 100%;
	text-align: center;
}

#TopButtonsPanel
{
	flow-children: right;
	width: 100%;
	height: 60px;
}


.ShopCount
{
	width: 155px;
	height: 57px;
	flow-children: right;
	background-image: url("s2r://panorama/images/shop/secretshop_goldlevelcontainer_bg_psd.vtex");
	background-size: 100% 100%;
	vertical-align: center;
	padding-left: 6px;
}

.ShopCountLabel
{
	background-image: url("s2r://panorama/images/shop/secretshop_goldlevelcontainer_labelcontainer_psd.vtex");
	background-size: 100% 100%;
	width: 91px;
	height: 41px;
	font-size: 55px;
	text-align: center;
	text-overflow: shrink;
	vertical-align: center;
	padding: 8px;
}

.ShopCountAmount
{
	width: 55px;
	height: 52px;
	background-image: url("s2r://panorama/images/shop/secretshop_goldlevelcontainer_numbercontainer_psd.vtex");
	background-size: 100% 100%;
	font-size: 35px;
	text-align: center;
	text-overflow: shrink;
	padding: 15px 4px 4px 4px;	
	color: abilityGradient;
	font-family: "Artifact Numbers";
}

#GoldCountButtonAmt
{
//	wash-color: #f2cb41aa;
}

#ShopCardsContainer
{
	flow-children: right;
	width: 100%;
	height: 375px;
	padding: 15px 40px 0px 50px;
	horizontal-align: center;
	transition-property: opacity, pre-transform-scale2d;
	transition-duration: 0.4s;
	pre-transform-scale2d: 0.0;
	opacity: 0.0;
}

.ShopCardContainer
{
	vertical-align: center;
}

#PanoramaShopCard0
{
	tooltip-position: left;
}

#PanoramaShopCardContainer1
{
	margin-left: 73px;
	margin-right: 63px;
}

.ShopMaximized #ShopCardsContainer
{
	pre-transform-scale2d: 1.0;
	opacity: 1.0;
}

.PanoramaShopCard
{
	width: 194px;
	height: 328px;
	tooltip-body-position: 50% 50%;
}

.HighlightPanoramaCard
{
	opacity-mask: url("s2r://panorama/images/draft/card_selected_mask_psd.vtex");
}

#ShopBotomPanel
{
	horizontal-align: center;
}

#CloseShopButton
{
	transition-property: opacity;
	transition-duration: 0.4s;
	opacity: 0.0;
	height: 50px;
}

.CardHovered #ShopMinimizeItem
{
    visibility:collapse;
}

#TimerCountdown
{
    width:600px;
    height:400px;
    horizontal-align:center;
    vertical-align:middle;
    opacity:0;
}
@keyframes 'FadeOpacityOut'
{
	0%
	{
		opacity: 1.0;
	}

	25%
	{
		opacity: 0.0;
	}

	100%
	{
		opacity: 0.0;
	}
}

#TimerCountdown.TimeRunningOut
{
  animation-name: FadeOpacityOut;
	animation-duration: 5s;
	animation-timing-function: ease-in;
	animation-iteration-count: 1;
  opacity:1;
}

#TimerCountdown Label
{
    font-size:300px;
    width:100%;
    height:100%;
    text-align:center;
    opacity:0.5;
    text-shadow: 0px 0px 12px 3.0 #000000;
}

.GameTimeRunningOut Label
{
    color:red;
}

#ViewBoardButton
{
	horizontal-align: center;
	height: 50px;
}

#ActivatedAbillitySummaryContainer
{
	width: 100%;
	height: 100%;
	z-index: 9999;
}

.Shopping.ShopMaximized #ActivatedAbillitySummaryContainer
{
	visibility: collapse;
}

#DeployButtonsContainer
{
    vertical-align: center;
    horizontal-align: center;
    width: fit-children;   
	margin-bottom: 20px;
}

.Shopping #DeployButtonsContainer
{
	visibility: collapse;
}

.GoldBars
{
	background-repeat: no-repeat;
	opacity: 0.0;
	width: 618px;
	height: 7px;
	horizontal-align: center;
	transition-property: transform, wash-color, brightness, opacity;
	transition-duration: 0.35s, 0.8s, 0.8s, 0.35s;
	transition-timing-function: ease-in-out;
	wash-color: #FFFFFF;
	brightness: 10.0;
	transform: scaleX( 0.0 );
}

#TopGoldBar
{
	background-image: url("s2r://panorama/images/deployment_images/goldbar_top_psd.vtex");
	vertical-align: top;
}

#BottomGoldBar
{
	background-image: url("s2r://panorama/images/deployment_images/goldbar_bottom_psd.vtex");
	vertical-align: bottom;
	transform: scaleX( 1.0 );
}

.WaitingForDeployComfirmation .GoldBars
{
	transform: scaleX( 1.0 );
	visibility: visible;
	wash-color: none;
	brightness: 1.0;
	opacity: 1.0;
}

.DeployButtonsPanel
{
	width: 652px;
	height: 79px;
	background-repeat: no-repeat;
	background-position: 50% 0%;
	horizontal-align: center;
	transition-property: height, transform, brightness, wash-color, background-image;
	transition-duration: 0.35s, 0.1s, 0.25s, 0.25s, 0.35s;
	transition-timing-function: ease-in-out;
	flow-children: down;
	transform: scaleX( 0.0 );
	ui-scale: 65%;
	wash-color: white;
	brightness: 10.0;
}

.DeployButton
{
	horizontal-align: center;
	width: 100%;
	height: 74px;
	margin-top: 5px;
	border-radius: 0px;
	background-size: 100% 100%;
	background-image: url("s2r://panorama/images/deployment_images/ribbon_radiance_psd.vtex");
	img-shadow: 2px 2px 2px 2.0 #000000;
}

.LocalDire .DeployButton
{
	background-image: url("s2r://panorama/images/deployment_images/ribbon_dire_psd.vtex");
}

@keyframes 'deploy-pulse'
{
	0%		{opacity: 0.8;}
	15% 	{opacity: 1;}
	20%		{text-shadow: 0 0 20px #fff;}
	25%		{text-shadow: 0 0 15px #fff;}
	35%		{text-shadow: 0 0 0px #fff;}
	80%		{text-shadow: 0 0 0px #fff;}
	85%		{opacity: 0.8;}
	95%		{text-shadow: 0 0 15px #fff;}
	100%	{text-shadow: 0 0 20px #fff; opacity: 0.8; }
}

.WaitingForDeployComfirmation .DeployButtonsPanel:hover
{
	brightness: 1.2;
}

.WaitingForDeployComfirmation .DeployButtonsPanel:active
{
	brightness: 1.8;
}

.ShowDeployButtons .DeployButtonsPanel
{
	transform: scaleX( 1.0 );
	wash-color: none;
	brightness: 1.0;
}

.DeployButton Label
{
	width: 600px;
	letter-spacing: 3px;
	vertical-align: center;
	horizontal-align: center;
	text-align: center;
	font-size: 48px;
	font-family: Goudy Trajan Medium,FZKai-Z03,TH Sarabun New,YDYGO 540,Gulim,MingLiU;
	font-weight: bolder;
	text-transform: uppercase;
	transition-duration: 0.15s;
	transition-timing-function: ease-out;
	color: white;
	//color: gradient( linear, 0% 0%, 0% 120%, from( #FFFFFF ), to( #000000 ) );
	//text-shadow: 0px 0px 0px 2.2 #000000;
	text-shadow: 2px 2px 4px 2.0 black;
	text-overflow: shrink;
}

.WaitingForDeployComfirmation .DeployButtonsPanel
{
	height: 160px;
	background-image: url("s2r://panorama/images/deployment_images/panel_psd.vtex");
}

.WaitingForDeployComfirmation:hover
{
//	brightness: 1.2;
//	animation: none;
}

.WaitingForDeployComfirmation .DeploymentButtonContainer
{
	opacity: 1.0;
}

.DeploymentButtonContainer
{
	margin-top: 10px;
	height: 45px;
	horizontal-align: center;
	opacity: 0.0;
	transition-property: opacity;
	transition-duration: 0.35s;
	transition-timing-function: ease-in-out;
}

.DeploymentButtonContainer Label
{
	font-size: 30px;
	text-transform: uppercase;
	color: white;
	text-shadow: 2px 2px 4px 2.0 black;
	vertical-align: center;
	font-weight: thin;
	letter-spacing: 3px;
}

#Chat
{
	margin-top: 75px;
	z-index: 999;
	vertical-align: top;
	horizontal-align: left;
	flow-children: right;
	transform: translateX( 0px ) translateY( 0px );
	opacity: 1.0;
	transition-property: transform, margin;
	transition-duration: 0.45s;
	transition-timing-function: ease-in;
}

#Chat.ChatExpanded
{
    margin-top: 0px;
    transition-property: margin;
    transition-duration: 0.45s;
    transition-timing-function: ease-in;
}

.IsPlayingAIPlayer #Chat
{
	visibility: collapse;
}

#PlayerInformation
{
	width: 100%;
	height: 100%;
}