HUDCombatLog
{
    background-color:gray;
    width:800px;
    height:600px;
    x: 400px;
    visibility:collapse;
    z-index: 1;
}
.ShowCombatLog HUDCombatLog
{
    visibility:visible;
}

.CombatLogRow
{
    flow-children:right;
}
#LogContents
{
    flow-children:down;
    color:white;
    background-color:black;
    margin:30px;
    width:100%;
    height:500px;
    overflow:squish scroll;
}
.Turnstamp
{
    width:140px;
}
.LogEvents
{
    width:600px;
}
.Player0 Label
{
    color:yellow;
}
.Player1 Label
{
    color:aqua;
}
.Combat Label
{
    color:red;
}