@keyframes 'TextGlowPulse'
{
	0%
	{
		text-shadow: 0px 0px 6px 1.0 #DDDDDD00;
	}
	
	50%
	{
		text-shadow: 0px 0px 6px 1.0 #DDDDDD88;
	}

	100%
	{
		text-shadow: 0px 0px 6px 1.0 #DDDDDD00;
	}
}

@define wheel-horizontal-margin: 60%;
@define wheel-vertical-margin: 30.5%;
@define wheel-top-bot-margin: 20%;
@define wheel-left-right-margin: 62%;

@define wheel-arrow-margin: 80px;
@define wheel-arrow-side-margin: 114.5px;

@define wheel-wheel-top-margin: 0px;
@define wheel-wheel-left-margin: 0px;


DCGChatWheel
{
    width: 100%;
    height: 100%;
	
	opacity: 1;
	transition-property: opacity;
	transition-duration: .2s;
}

DCGChatWheel.Hidden
{
		opacity: 0;
}

#ChatWheelBackground
{
    width: 100%;
    height: 100%;
    background-color: #000000F5;
}

#ChatWheelBody
{
    horizontal-align: center;
	margin-top: 35px;
	margin-left: 0px;
	width: 1100px;
	height: 700px;
}

#ChatWheelTitle
{
    horizontal-align: center;
}

#ChatWheelGroup
{
	horizontal-align: center;
	vertical-align: middle;
	flow-children: down;
}

#CardTitleGroup
{
    padding: 10px 30px 10px 30px;
    flow-children: down;
    visibility: visible;
}

#CardSetIcon
{
    width: 60px;
    height: 60px;
    margin-right: 10px;
    vertical-align: center;

}

#CardImage
{
    width: 60px;
    height: 60px;
    margin-right: 10px;
    vertical-align: center;
}

#FullTextFooter
{
    horizontal-align: center;
    opacity: 0;
}

.ShowFullText #FullTextFooter
{
    opacity: 1;
}

#FullText
{
    font-size: 25px;
}

#CardName
{
    font-size: 60px;
    vertical-align: center;
}

.Phrase
{
	color: #999999;
	font-size: 24px;
	font-weight: semi-bold;
	pre-transform-scale2d: 1.0;

	width: fit-children;
	height: 34px;
	margin-left: 25px;
	margin-right: 25px;
	max-width: 750px;

	text-overflow: ellipsis;
	
	vertical-align: middle;
	horizontal-align: center;
	text-align: center;
}

.Selected .Phrase
{
	color: #303030;
}

.WordBubble
{
	width: fit-children;
	height: 120px;
}

.WordBubbleArt
{
	background-color: #cccccc00;
	width: fit-children;
	margin-top: 30px;
	height: 50px;
	border-radius: 5px;
	//temp
}

.WordBubble.Selected .WordBubbleArt
{
	background-color: #cccccc;
	box-shadow: #cccccc25 0px 0px 100px 0px;
}

.WordBubbleTail
{
	width: 45px;
	height: 35px;
	margin-top: 65px;
	margin-left: 30px;
	margin-right: 30px;
	margin-bottom: 0px;
	z-index: -1;

	visibility: collapse;
}

.WordBubble.Selected .WordBubbleTail
{
	visibility: visible;
}

.WordBubble.Selected .WordBubbleTail
{
	visibility: visible;
}

#WordBubble0 .WordBubbleTail,
{
	height: 52px;
	horizontal-align: left;
	vertical-align: center;
	margin-top: 0px;
	margin-left: -22px;
	margin-right: 0px;
	margin-bottom: 8px;
}

#WordBubble1 .WordBubbleTail,
#WordBubble2 .WordBubbleTail,
#WordBubble3 .WordBubbleTail
{
	margin-top: 10px;
}

#WordBubble2 .WordBubbleTail,
#WordBubble6 .WordBubbleTail
{
	horizontal-align: center;
}


#WordBubble3 .WordBubbleTail,
#WordBubble5 .WordBubbleTail
{
	horizontal-align: right;
}

#WordBubble4 .WordBubbleTail,
{
	height: 52px;
	horizontal-align: right;
	vertical-align: center;
	margin-top: 0px;
	margin-right: -22px;
	margin-left: 0px;
	margin-bottom: 8px;
}

.Phrase.CustomText
{
	font-weight: semi-bold;
}

.Selected
{
	animation-name: TextGlowPulse;
	animation-duration: 1s;
	animation-delay: 0s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	color: #464646;
}

#WordBubble0
{
	vertical-align: middle;
	margin-left: wheel-left-right-margin;
}

#WordBubble1
{
	vertical-align: bottom;
	horizontal-align: left;
	margin-bottom: wheel-vertical-margin;
	margin-left: wheel-horizontal-margin;
}

#WordBubble2
{
	vertical-align: bottom;
	horizontal-align: center;
	margin-bottom: wheel-top-bot-margin;
	text-align: center;
}

#WordBubble3
{
	vertical-align: bottom;
	horizontal-align: right;
	margin-bottom: wheel-vertical-margin;
	margin-right: wheel-horizontal-margin;
}

#WordBubble4
{
	vertical-align: middle;
	horizontal-align: right;
	margin-right: wheel-left-right-margin;
	text-align: right;
}

#WordBubble5
{
	vertical-align: top;
	horizontal-align: right;
	margin-top: wheel-vertical-margin;
	margin-right: wheel-horizontal-margin;
}

#WordBubble6
{
	vertical-align: top;
	horizontal-align: center;
	margin-top: wheel-top-bot-margin;
}

#WordBubble7
{
	vertical-align: top;
	horizontal-align: left;
	margin-top: wheel-vertical-margin;
	margin-left: wheel-horizontal-margin;
}

#Wheel
{
	horizontal-align: center;
	vertical-align: middle;
	height: 164px;
	width: 164px;
}

#WheelPointer
{
	background-image: url("s2r://panorama/images/chat_wheel/tick_pointer_png.vtex");
    background-size: contain;
	horizontal-align: center;
	vertical-align: middle;
	height: 147px;
	width: 147px;
}

#PointerContainer
{
	height: 164px;
	width: 164px;
	horizontal-align: center;
	vertical-align: middle;
	//margin-left: 2px;
	
}

#WheelCenter
{
	background-image: url("s2r://panorama/images/card_art/set01/mini_icons/10006_psd.vtex");
    background-size: contain;
	border-radius: 100%;
	box-shadow: #000000 0px 0px 100px 0px;
	horizontal-align: center;
	vertical-align: middle;
	height: 155px;
	width: 155px;
}


/*
#WheelBG2
{
	background-image: url("s2r://panorama/images/chat_wheel/circle_bg2_png.vtex");
    background-size: contain;
	horizontal-align: center;
	vertical-align: middle;
	height: 128px;
	width: 128px;
}
*/


/*
#Bubble
{
	background-image: url("s2r://panorama/images/chat_wheel/cursor_png.vtex");
	horizontal-align: center;
	vertical-align: middle;
	padding-top: wheel-wheel-top-margin;
	padding-left: wheel-wheel-left-margin;
	height: 46px;
	width: 46px;
}
*/

.Arrow
{
	horizontal-align: center;
	vertical-align: middle;
	height:96px;
	width: 96px;
	wash-color: white;
	//brightness: 3.0;
}

#Arrow0
{
	background-image: url("s2r://panorama/images/chat_wheel/star_png.vtex");
	margin-left: wheel-arrow-side-margin;
       
	
}

#Arrow1
{
	background-image: url("s2r://panorama/images/chat_wheel/star_png.vtex");
	//margin-left: wheel-arrow-margin;
	//margin-top: wheel-arrow-margin;
	margin-top: 79px;
	margin-left: 82px;

}

#Arrow2
{
	background-image: url("s2r://panorama/images/chat_wheel/star_png.vtex");
	//margin-top: wheel-arrow-side-margin;~
	margin-top: 111px;

}

#Arrow3
{
	background-image: url("s2r://panorama/images/chat_wheel/star_png.vtex");
	//margin-right: wheel-arrow-margin;
	//margin-top: wheel-arrow-margin;
	margin-top: 79px;
	margin-left: -39px;

}

#Arrow4
{
	background-image: url("s2r://panorama/images/chat_wheel/star_png.vtex");
	margin-right: wheel-arrow-side-margin;

}

#Arrow5
{
	background-image: url("s2r://panorama/images/chat_wheel/star_png.vtex");
	//margin-right: wheel-arrow-margin;
	//margin-bottom: wheel-arrow-margin;
	margin-top: -39px;
	margin-left: -39px;


}

#Arrow6
{
	background-image: url("s2r://panorama/images/chat_wheel/star_png.vtex");
	//margin-bottom: wheel-arrow-side-margin;
	margin-top: -55px;
}

#Arrow7
{
	background-image: url("s2r://panorama/images/chat_wheel/star_png.vtex");
	margin-bottom: wheel-arrow-margin;
	//margin-left: wheel-arrow-margin;
	margin-left: 81px;
	

}