DCGInspectTakeoverCardPip
{
	visibility: visible;
}

.Pip
{
	width: 10px;
	height: 10px;
	vertical-align: top;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-position: 50% 50%;
    margin-right: 2px;
	margin-left: 2px;
    margin-top: 2px;
    horizontal-align: center;
	background-image: url("s2r://panorama/images/hud/hud_cards_in_hand_pip_psd.vtex");
}

.IsActive .Pip
{
	background-image: url("s2r://panorama/images/hud/hud_cards_in_hand_pip_active_psd.vtex");
}