DCGInspectTakeover
{
    visibility: visible;
    horizontal-align: center;
    flow-children: down;
    width: 100%;
    height: 100%;
}

.topLine
{
    flow-children: none;
 	background-color: gradient( linear, 0% 0%, 0% 100%, from( #000000 ), to( #252525 ) );
    width: 100%;
	height: 100px;
}

#TitleLabel
{
    color:abilityGradient;
	margin-top: 10px;
    font-size: 36px;
	letter-spacing: 5px;
    horizontal-align: left;
	vertical-align: center;
	width: 33%;
}

.setAndNamePanel
{
    width: 33%;
	vertical-align: center;
    horizontal-align: center;
    flow-children: right;
}

.setAndNamePanel2
{
    flow-children: right;
    horizontal-align: center;
}

DCGSetIcon
{
    ui-scale:17%;
    horizontal-align: center;
	vertical-align: center;
    margin-right: 10px;
}

#CardNameLabel
{
    color:#9ca4a0;
    horizontal-align: center;
	vertical-align: center;
    font-size: 36px;
	font-weight: light;
	letter-spacing: 2px;
	margin-top: 10px;
}

#CloseIcon
{
	vertical-align: center;
	horizontal-align: right;

	width: 42px;
	height: 42px;

	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-position: 50% 50%;

	wash-color: #7c8e8e;

    margin-right: 25px;
    opacity: 1;
    transition-property: opacity;
	transition-duration: 0.78s;
	background-image: url("s2r://panorama/images/catalogue/quit_icon_psd.vtex");
}

.horizontalLine
{
	vertical-align: top;
	horizontal-align: center;

	width: 1866px;
	height: 1px;

	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-image: url("s2r://panorama/images/hud/horizontal_line_png.vtex");
	background-position: 50% 50%;
   	opacity: 0.40;
}

.cardTypeLineText
{
    color: white;
	font-size: 24px;
	font-weight: light;
    horizontal-align: center;
}

.cardTypeText
{
    color: white;
	font-size: 24px;
	font-weight: light;
    horizontal-align: center;
    visibility: collapse;
}

.cardTypeTextDarker
{
    color: #9ca4a0;
	font-size: 24px;
	font-weight: light;
    horizontal-align: center;
}

.cardTypeHighlighted
{
    color: white;
	font-size: 24px;
	font-weight: light;
    horizontal-align: center;
}

.rightFlowingLine
{
    flow-children: right;
    horizontal-align: center;
    width: 100%;
}

.wasNotIncluded .cardTypeHighlighted, .wasNotIncluded .cardTypeDarker 
{
    visibility: collapse;
}

.cardSubTypeText
{
    color: white;
	font-size: 24px;
	font-weight: light;
    horizontal-align: center;
}

#modifiers
{
    flow-children: right;
    horizontal-align: center;
    margin-top: 75px;
    height: 682px;
}

.modifierHeader
{
    height: 50px;
    font-size: 15px;
}

@keyframes 'initial-text-highlighting-black' 
{
	0%		{text-shadow: 0 0 0px #f0f;}
	20%		{text-shadow: 0 0 0px #f0f;}
	60%	    {text-shadow: 0 0 50px #f0f;}
	100%	{text-shadow: 0 0 0px #f0f;}
}

@keyframes 'initial-text-highlighting-blue' 
{
	0%		{text-shadow: 0 0 0px #00f;}
	20%		{text-shadow: 0 0 0px #00f;}
	60%	    {text-shadow: 0 0 50px #00f;}
	100%	{text-shadow: 0 0 0px #00f;}
}

@keyframes 'initial-text-highlighting-green' 
{
	0%		{text-shadow: 0 0 0px #0f0;}
	20%		{text-shadow: 0 0 0px #0f0;}
	60%	    {text-shadow: 0 0 50px #0f0;}
	100%	{text-shadow: 0 0 0px #0f0;}
}

@keyframes 'initial-text-highlighting-red' 
{
	0%		{text-shadow: 0 0 0px #f00;}
	20%		{text-shadow: 0 0 0px #f00;}
	60%	    {text-shadow: 0 0 50px #f00;}
	100%	{text-shadow: 0 0 0px #f00;}
}

@keyframes 'initial-text-highlighting-grey' 
{
	0%		{text-shadow: 0 0 0px #aaa;}
	20%		{text-shadow: 0 0 0px #aaa;}
	60%	    {text-shadow: 0 0 50px #aaa;}
	100%	{text-shadow: 0 0 0px #aaa;}
}

@keyframes 'initial-text-highlighting-item' 
{
	0%		{text-shadow: 0 0 0px #a94;}
	20%		{text-shadow: 0 0 0px #a94;}
	60%	    {text-shadow: 0 0 50px #a94;}
	100%	{text-shadow: 0 0 0px #a94;}
}

.attributeName
{
    width: 260px;
    color: #9ca4a0;
   	text-transform: uppercase;
    letter-spacing: 3px;
    opacity: 1;
    transition-property: opacity;
	transition-duration: 0.78s;
}

.binaryAttributeName
{
    width: 370px;
    color: #9ca4a0;
   	text-transform: uppercase;
    letter-spacing: 3px;
    opacity: 1;
    transition-property: opacity;
	transition-duration: 0.78s;
}

.attributeName, .attributeIcon, .attributeValue, .binaryAttributeName
{
	animation-duration: 0.81s;
	animation-timing-function: ease;
	animation-iteration-count: 1;
}

.IsBlack .attributeName, .IsBlack .attributeIcon, .IsBlack .attributeValue, .IsBlack .binaryAttributeName
{
	animation-name:initial-text-highlighting-black;
}

.IsBlue .attributeName, .IsBlue .attributeIcon, .IsBlue .attributeValue, .IsBlue .binaryAttributeName
{
	animation-name:initial-text-highlighting-blue;
}

.IsGreen .attributeName, .IsGreen .attributeIcon, .IsGreen .attributeValue, .IsGreen .binaryAttributeName
{
	animation-name:initial-text-highlighting-green;
}

.IsRed .attributeName, .IsRed .attributeIcon, .IsRed .attributeValue, .IsRed .binaryAttributeName
{
	animation-name:initial-text-highlighting-red;
}

.IsGrey .attributeName, .IsGrey .attributeIcon, .IsGrey .attributeValue, .IsGrey .binaryAttributeName
{
	animation-name:initial-text-highlighting-grey;
}

.IsItem .attributeName, .IsItem .attributeIcon, .IsItem .attributeValue, .IsItem .binaryAttributeName
{
	animation-name:initial-text-highlighting-item;
}

.IsClosing .attributeName, .IsClosing .attributeIcon, .IsClosing .attributeValue, .IsClosing .binaryAttributeName
{
    opacity: 0;
}

.IsReasonActivatedAbility #cardReasonActivatedAbility
{
    visibility: visible;
}

.IsReasonIncluded #cardReasonIncluded
{
    visibility: visible;
}

.IsReasonReferenced #cardReasonReferenced
{
    visibility: visible;
}

.IsReasonEquipped #cardReasonEquipped
{
    visibility: visible;
}

.IsReasonHacking #cardReasonHacking
{
    visibility: visible;
}

.IsReasonAbilityOwner #cardReasonAbilityOwner
{
    visibility: visible;
}

.attributeValue
{
    opacity: 1;
    color:#9ca4a0;
    text-align:right;
    margin-left:10px;
    width:30px;
    transition-property: opacity;
	transition-duration: 0.78s;
}

.middleSectionNoFlow
{
    flow-children: none;
    height: 870px;
}

.AspectRatio16x10 .middleSectionNoFlow
{
    height: 930px;
}

.middleSectionBackground
{
    flow-children: right;
    height: 100%;
}

.middleSectionLeftBackground
{
//  background-color: gradient( linear, 0% 0%, 100% 0%, from( #404040D0 ), to( #000000FF ) );
    background-blur: gaussian( 7 );
    //saturation: 0.0;
    width: 460px;
    height: 100%;
}

.middleSectionCenterBackground
{
    width:1040px;
    height: 100%;
//    background-color:black;
}

.middleSectionRightBackground
{
//  background-color: gradient( linear, 0% 0%, 100% 0%, from( #000000FF ), to( #404040D0 ) );
    background-blur: gaussian( 7 );
//  saturation: 0.0;
    width: 460px;
    height: 100%;
}

.middleSectionForeground
{
    horizontal-align:center;
    height: 100%;
    width: 100%;
}

.modifierList
{
    flow-children: down;
    width:425px;
}

.initialMovement #spaceBetweenModifiers
{
	width: 780px;
}

#spaceBetweenModifiers
{
    width:580px;
	transition-property: width;
	transition-duration: 0.2s;
}

.attributePanel
{
    flow-children:right;
    visibility:collapse;
	margin-bottom: 28px;
    tooltip-body-position: 50% 100%;
    tooltip-arrow-position: 100% 25%;
}

.attributePanel Label
{
    font-size: 25px;
}

.HasAttack #attackPower
{
    visibility:visible;
}

.HasArmor #armor
{
    visibility:visible;
}

.HasHealth #hitPoints
{
    visibility:visible;
}

.HasBounty #bounty
{
    visibility:visible;
}

.HasLock #locked
{
    visibility:visible;
}

.HasCleave #cleave
{
    visibility:visible;
}

.HasDeathShield #deathShield
{
    visibility:visible;
}

.IsDisarmed #disarmed
{
    visibility:visible;
}

.HasInvulnerability #invulnerability
{
    visibility:visible;
}

.HasBattleDamageIsPiercing #battleDamageIsPiercing
{
    visibility:visible;
}

.HasBattleDamageIsLethalToCreeps #battleDamageIsLethalToCreeps
{
    visibility:visible;
}

.HasBattleDamageIsLethalToHeroes #battleDamageIsLethalToHeroes
{
    visibility:visible;
}

.HasRapidDeployment #rapidDeployment
{
    visibility:visible;
}

.HasRegeneration #regeneration
{
    visibility:visible;
}

.HasRetaliate #retaliate
{
    visibility:visible;
}

.HasRevealed #isRevealed
{
    visibility:visible;
}

.HasSiege #siege
{
    visibility:visible;
}

.HasSilenced #silenced
{
    visibility:visible;
}

.HasStunned #stunned
{
    visibility:visible;
}

.IsNotTargetable #notTargetable
{
    visibility:visible;
}

.NumHacks #numHacks
{
    visibility:visible;
}

.IsUnplayable #unplayable
{
    visibility:visible;
}

.attributeIcon
{
	vertical-align: top;
	horizontal-align: right;

	width: 32px;
	height: 32px;

	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-position: 50% 50%;

    margin-right: 20px;
    opacity: 1;
    transition-property: opacity;
	transition-duration: 0.78s;
}

#attackIcon
{
	background-image: url("s2r://panorama/images/hud/icon_attack_psd.vtex");
}

#armorIcon
{
	background-image: url("s2r://panorama/images/hud/icon_armor_psd.vtex");
}

#healthIcon
{
	background-image: url("s2r://panorama/images/hud/icon_health_psd.vtex");
}

#bountyIcon
{
	background-image: url("s2r://panorama/images/hud/icon_effect_bounty_png.vtex");
}

#cleaveIcon
{
	background-image: url("s2r://panorama/images/hud/icon_effect_cleave_png.vtex");
}

#hackIcon
{
	background-image: url("s2r://panorama/images/hud/icon_effect_hack_png.vtex");
}

#lockIcon
{
	background-image: url("s2r://panorama/images/hud/icon_effect_lock_png.vtex");
}

#siegeIcon
{
	background-image: url("s2r://panorama/images/hud/icon_effect_siege_png.vtex");
}

#retaliateIcon
{
	background-image: url("s2r://panorama/images/hud/icon_effect_retaliate_png.vtex");
}

#regenerationIcon
{
	background-image: url("s2r://panorama/images/hud/icon_effect_regeneration_png.vtex");
}

#revealedIcon
{
	background-image: url("s2r://panorama/images/hud/icon_effect_revealed_png.vtex");
}

#stunnedIcon
{
	background-image: url("s2r://panorama/images/hud/icon_effect_stunned_png.vtex");
}

#silencedIcon
{
	background-image: url("s2r://panorama/images/hud/icon_effect_silenced_png.vtex");
}

#disarmedIcon
{
	background-image: url("s2r://panorama/images/hud/icon_effect_disarmed_png.vtex");
}

#piercingIcon
{
	background-image: url("s2r://panorama/images/hud/icon_effect_piercing_png.vtex");
}

#damageImmunityIcon
{
	background-image: url("s2r://panorama/images/hud/icon_effect_damage_immune_png.vtex");
}

#deathShieldIcon
{
	background-image: url("s2r://panorama/images/hud/icon_death_shield_png.vtex");
}

#rapidDeploymentIcon
{
	background-image: url("s2r://panorama/images/hud/icon_effect_rapid_deployment_png.vtex");
}

#notTargetableIcon
{
	background-image: url("s2r://panorama/images/hud/icon_effect_untargetable_png.vtex");
}

#unplayableIcon
{
	background-image: url("s2r://panorama/images/hud/icon_effect_untargetable_png.vtex");
}

#lethalToCreepsIcon
{
	background-image: url("s2r://panorama/images/hud/icon_effect_lethal_creep_psd.vtex");
}

#lethalToHeroesIcon
{
	background-image: url("s2r://panorama/images/hud/icon_effect_lethal_hero_psd.vtex");
}

#CardTypeLine
{
    margin-top: 16px;
    margin-bottom: 16px;
    flow-children: down;
    vertical-align: bottom;
    horizontal-align: center;
	font-size: 24px;
	font-weight: light;
}

.arrowIcon
{
	width: 20px;
	height: 37px;
	vertical-align: center;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-position: 50% 50%;

    margin-top: 20px;
    horizontal-align: center;
}

#LeftArrowIcon
{
    margin-right: 175px;
}

.LeftArrowAvailable #LeftArrowIcon
{
background-image: url("s2r://panorama/images/hud/inspect_arrow_left_psd.vtex");
}

#RightArrowIcon
{
    margin-left: 175px;
}

.RightArrowAvailable #RightArrowIcon
{
background-image: url("s2r://panorama/images/hud/inspect_arrow_right_psd.vtex");
}

.bottomLine
{
 	background-color: gradient( linear, 0% 0%, 0% 100%, from( #252525 ), to( #151515 ) );
    width: 100%;
    height: 110px;
}

.AspectRatio16x10 .bottomLine
{
    height:180px;
}

.bottomLine2
{
    horizontal-align: center;
    flow-children: right;
}

.AspectRatio16x10 .bottomLine2
{
    margin-top:30px;
}

.referencedCardsNavigationPanel
{
    flow-children: down;
}

#ReferencedCardsNavigationIcon
{
	width: 40px;
	height: 40px;
	vertical-align: top;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-position: 50% 50%;
    //margin-right: 10px;
    margin-top: 20px;
    horizontal-align: center;
}

.AdditionalCardsAvailable #ReferencedCardsNavigationIcon
{
	background-image: url("s2r://panorama/images/hud/hud_cards_in_hand_icon_psd.vtex");
}

#ReferencedCardsNavigationPips
{
    flow-children: right;
	horizontal-align: center;
}