PanoramaUsageInfo {
    background-color: #333333FF;
    border: 4px solid gray;
    width: fit-children;
    height: fit-children;
    visibility: collapse;
    z-index: 1;
    horizontal-align: center;
    vertical-align: center;
    flow-children: right;
}

.LeftColumn
{
    width: 250px;
    height: 100%;
    flow-children: down;
}

.RightColumn
{
    width: 250px;
    height: 100%;
    visibility: collapse;
}

.ShowPanoramaUsageInfo PanoramaUsageInfo {
    visibility: visible;
}

.PanoramaUsageOverview
{
    width: 100%;
    flow-children: down;
    border-top: 2px solid grey;
    margin: 6px;
}

.HeaderLabel
{
    horizontal-align: center;
}

.PanoramaPanelOverview 
{
    flow-children: down;
}

.InfoLabel
{
    font-size: 12px;
}

#SheetRender {
    width: 700px;
    height: 700px;
    background-color: #223333FF;
    horizontal-align: center;
    vertical-align: center;
    border-left: 2px solid grey;
    border-right: 2px solid grey;
}

#SheetList
{
    width: 80%;
    border: 1px solid grey;
    horizontal-align: center;
    flow-children: down;
}

.sheetEntry
{
    width: 100%;
}

.sheetName 
{
    width: 100%;
    font-size: 12px;
}

.sheetEntry.Selected
{
    background-color: grey;
}