DCGPlayPage.DashboardPage
{
}

#PageBackground
{
	width: 100%;
	height: 100%;
	visibility: collapse;
}

#PageBackgroundBlur
{
	width: 100%;
	height: 100%;

	blur: none;

	transition-property: blur;
	transition-duration: 0.32s;
}

.DashboardPage.PageVisible #PageBackgroundBlur
{
	//blur: gaussian( 5 );
}

#PageBackgroundOverlay
{
	width: 100%;
	height: 100%;
	background-image: url("s2r://panorama/images/main_menu/temp_bg_png.vtex");
	transition-property: background-color;
	transition-duration: 0.32s;
	wash-color: #00000066;
}

#PageBackgroundMap
{
	width: 100%;
	height: 100%;
	transition-property: background-color;
	transition-duration: 0.32s;
	wash-color: #00000066;
    opacity-mask: url("s2r://panorama/images/dashboard/topbar/topbar_gradient_opacity_mask_psd.vtex");
}

.DashboardPage.PageVisible #PageBackgroundOverlay
{
	background-color: #000c;
}



#TitleContainer
{
	margin-top: 32px;
	width: 1048px;
	horizontal-align: center;
	flow-children: down;
	padding-left: 5px;
}

#LoadDeckTitle
{
	font-size: 48px;
	letter-spacing: 8px;
	color: #bca180;
}

#SelectOpponentText
{
	color: #949495;
	letter-spacing: 6px;
	text-transform: uppercase;
}

#PlayCarousel
{
	width: 100%;
	height: 100%;
	z-index: 3;
	flow-children: none;

	animation-duration: 0.0s;
	transition-property: ui-scale, transform;
    transition-duration: 0.5s;
    transition-timing-function: ease-in;
}

.PopupLoadDeck
{
	padding: 0px;
	width: 1048px;
	height: 846px;
	vertical-align: center;
	horizontal-align: left;

	border: 0px;
	box-shadow: none;

	blur: gaussian( 7 );
	brightness: 0.2;
	
	animation-duration: 0.0s;
	transition-property: transform, pre-transform-scale2d, ui-scale, opacity, blur, brightness, wash-color;
	transition-duration: 0.32s;
	transition-timing-function: ease-in;
	transition-delay: 0.0s;
	pre-transform-scale2d: 1.0;
}

.PopupLoadDeck.SelectedPanel
{
	blur: none;
	brightness: 1.0;
}



