@define DBTopPanelHeight: 80px;

DCGDashboard
{
	horizontal-align: center;
	vertical-align: center;
	flow-children: none;
	font-size: 32px;
	width: 100%;
	height: 100%;
	overflow: clip;
	background-image: url("s2r://panorama/images/dashboard_new/main_menu_bg_psd.vtex");
	background-size: cover;
}

.RootHidden
{
	visibility: collapse;
}

#DashboardForeground
{
	width: 100%;
	height: 100%;
	z-index: 4;
}

DCGDashboardPopupManager
{
	width: 100%;
	height: 100%;
	z-index: 6;
}

DCGTooltipManager, DCGTooltipManager#Tooltips
{
	width: 100%;
	height: 100%;
	z-index: 7;
}


#PageManager
{
	width: 100%;
	height: 100%;
}


DCGSocialOverlay
{
	z-index: 5;
	height: 100%;
	width: 100%;
	transition-property: opacity, blur, brightness, saturation, wash-color, contrast;
	transition-duration: 0.4s;
	transition-timing-function: ease-in;
}



//-------------------------------------------------------
// Top Bar
//-------------------------------------------------------


#TopBar
{
	width: 100%;
	height: DBTopPanelHeight;
	flow-children: none;
	overflow: noclip;
}

#FriendsMenuClick, .ShowFriendsMenu.InLimitedStage #FriendMenu
{
	width: 100%;
	height: 100%;
	visibility: collapse;
	z-index: 9998;
}

.ShowFriendsMenu #FriendsMenuClick
{
	visibility: visible;
}

#FriendMenu, .ShowFriendsMenu.InLimitedStage #FriendMenu
{
	z-index: 9999;
	horizontal-align: left;
	width: 400px;
	height: 100%;
	vertical-align: top;
	margin-top: 10px;
	margin-bottom: 10px;
	opacity: 0.0;
	margin-left: 75px;
	transform: translateX( -100px ) translateY( -232px );
	pre-transform-scale2d: 0.55;
}

.ShowFriendsMenu #FriendMenu
{
	transform: none;
	pre-transform-scale2d: 1.0;
	opacity: 1.0;
}

#TopBar #TopBarArtifactBetaLogo
{
	width: 245px;
	height: 71px;
	margin-top: 4px;
	vertical-align: center;
	horizontal-align: center;
	background-image: url("s2r://panorama/images/dashboard_new/artifact_beta_logo_topbar_psd.vtex");
	background-size: 100% 100%;
	opacity: 1.0;
	transition-property: opacity;
	transition-duration: 0.5s;
}

.IsDashboardRoot #TopBar #TopBarArtifactBetaLogo,
.LookingForMatch #TopBar #TopBarArtifactBetaLogo,
.InPrivateLobby #TopBar #TopBarArtifactBetaLogo,
.ConnectingToGame #TopBar #TopBarArtifactBetaLogo,
.GCStatusVisible #TopBar #TopBarArtifactBetaLogo,
.OpponentInUnranked #TopBar #TopBarArtifactBetaLogo
{
    opacity: 0.0;
}

#TopBarStatusBar.ShowSpinner #TopBarStatusSpinner
{
	margin-top: 0px;
	margin-right: 12px;
	visibility: visible;
	wash-color: #aaccff;
}

DCGDashboard.GCStatusScary #TopBarStatusBar.ShowSpinner #TopBarStatusSpinner
{
	wash-color: #ffaa88;
}

#TopBarStatusSpinner
{
	visibility: collapse;
}

#TopBarStatusBar
{
	width: 100%;
	padding: 5px;
	max-height: 0px;
	// box-shadow: inset #000000ff 3px 3px 6px 6px;
	transition-property: max-height;
	transition-duration: 0.35s;
	z-index: 5;
}

DCGDashboard.GCStatusVisible #TopBarStatusBar
{
	max-height: 30px;
}

DCGDashboard.InitialDisplay #TopBarStatusBar
{
	max-height: 0px;
}

#TopBarStatusMessageContainer
{
	horizontal-align: center;
	flow-children: right;
}

#TopBarStatusMessageContainer Label
{
	letter-spacing: 1px;
	horizontal-align: center;
	font-weight: normal;
	font-size: 18px;
	text-transform: uppercase;
	color: #aaccff;
	text-shadow: 0px 0px 4px 1.0 #101010;
}

DCGDashboard.GCStatusScary #TopBarStatusMessageContainer Label
{
	color: #ffaa88;
	text-shadow: 0px 0px 6px 1.0 #ff1010;
}

#TopBarRightButtons
{
	horizontal-align: right;
	flow-children: right;
	margin-right: 15px;
}

#TopBarButtons
{
	margin: 5px 10px 0px 5px;
	flow-children: none;
	width: 100%;
}

#TopBarButtons #TopBarRightButtons Button
{
	height: 55px;
	width: 55px;
	background-image: url("s2r://panorama/images/dashboard_new/top_bar_button_bg_psd.vtex");
	background-size: 100% 100%;
	margin: 5px;
	transition-property: background-color, brightness;
  transition-duration: 0.15s, 0.15s, 0.25s;
  transition-timing-function: ease-in-out;
}

#TopBarButtons #FriendsMenuButton
{
	height: 55px;
	width: 55px;
	margin: 5px;
	border: 2px solid grey;
}

#TopBarButtons Button:hover
{
//		saturation: 1.2;
	brightness: 1.5;
//	background-color: gradient( linear, 100% 0%, 0% 0%, from( #442b7401 ), to(#442b7445));
	background-color: gradient( radial, 50% 50%, 0% 0%, 75% 45%, from( #928bf740), to(#442b7401));
//	background-color: #0f111101, gradient( radial, 50% 10%, 30px 10px, 100% 23%, from( #56576850 ), color-stop( 0.80, #87b7e075 ), to( #0f111101 ) );
}

.TopBarButtonImage
{
	height: 29px;
	width: 29px;
	background-size: 100% 100%;
	horizontal-align: center;
	vertical-align: center;
	img-shadow: 0px 0px 2px 0 #211e2950;
	transition-property: brightness;
  transition-duration: 0.15s;
  transition-timing-function: ease-in-out;
}

#FriendsMenuButton
{
	horizontal-align: left;
}

.ShowFriendsMenu #FriendsMenuButton
{
	brightness: 1.25;
}

#FriendsMenuButtonImage
{
	width: 34px;
	height: 34px;
	background-image: url("s2r://panorama/images/control_icons/v2_friends_psd.vtex");
}

#TopBarButtons Button:hover .TopBarButtonImage
{
//	img-shadow: 0px 0px 0.5px #fff9ed50;
	brightness: 1.5;
}

#TopBarButtons Button:active .TopBarButtonImage
{
	brightness: 1.5;
}

#TopBarButtons Button:hover #QuitButtonImage
{
//	brightness: 1.5;
//	wash-color: #ff6a50;
}

#TopBarButtons Button:active #QuitButtonImage
{
//	brightness: 1.5;
}

#BlogButtonImage
{
	background-image: url("s2r://panorama/images/control_icons/v2_news_psd.vtex");
}

#SettingsButtonImage
{
	background-image: url("s2r://panorama/images/control_icons/v2_settings_psd.vtex");
}

#QuitButtonImage
{
	background-image: url("s2r://panorama/images/control_icons/v2_power_psd.vtex");
}

.ChaosGauntletText
{
	vertical-align: center;
	horizontal-align: center;
	color: #bd9563;
}

.MatchmakingIconContainer
{
	visibility: collapse;
	vertical-align: center;
	horizontal-align: center;
}

.LookingForMatch .MatchmakingIconContainer,
.InPrivateLobby .MatchmakingIconContainer,
.ConnectingToGame .MatchmakingIconContainer,
.OpponentInUnranked .MatchmakingIconContainer
{
    visibility: visible;
}

#FindingMatchPanel,
#PlayersSearchingPanel
{
    vertical-align: center;
    horizontal-align: center;
    z-index: 2;
    visibility: collapse;
    transition-property: transform;
    transition-duration: 0.2s;
    transition-timing-function: ease-in;
}

.LookingForMatch #FindingMatchPanel,
.ConnectingToGame #FindingMatchPanel
{
	visibility: visible;
}

.OpponentInUnranked #PlayersSearchingPanel
{
    visibility: visible;
}

.LookingForMatch.OpponentInUnranked #PlayersSearchingPanel,
.ConnectingToGame.OpponentInUnranked #PlayersSearchingPanel
{
    visibility: collapse;
}

#FindMatchContents
{
    flow-children: right;
    width: fit-children;
    horizontal-align: center;
}

#FindingMatchPanel Label,
#PlayersSearchingPanel Label
{
	color: #fde4b5;
	font-size: 20px;
	//text-shadow: 0px 0px 8px 4.0 #71ffff11;
	vertical-align: bottom;
	font-weight: light;
	letter-spacing: 2px;
	text-transform: uppercase;
	animation-name: SearchingAnimation;
	animation-duration: 2.84s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	transition-property: opacity;
	transition-duration: 0.2s;
	transition-timing-function: ease-in;
	horizontal-align: center;
	vertical-align: center;
	text-align: center;
}

@keyframes 'SearchingAnimation'
{
	0%
	{
		text-shadow: 0px 0px 1px 0.5 #cc6c4e00;
	}

	50%
	{
		text-shadow: 0px 0px 5px 0.5 #cc6c4e;
	}

	100%
	{
		text-shadow: 0px 0px 1px 0.5 #cc6c4e00;
	}
}


#FXSearching
{
	width: 100%;
	height: 64px;
	transition-property: opacity;
	transition-duration: 0.3s;
	transition-timing-function: ease-in;
}

.LookingForMatch #FXSearching
{
	opacity: 0.0;
}

#FXSearchingParticles
{
	width: 100%;
	height: 100%;
}

#CancelButton
{
	width: 34px;
	min-width: 32px;
	height: 34px;
	margin-right: 4px;
	wash-color: #aa4942;
	background-image: url("s2r://panorama/images/catalogue/quit_icon_solid_shadow_psd.vtex");
	background-size: 100% 100%;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	transition-property: brightness;
	transition-duration: 0.12s;
	transition-timing-function: ease-in;
}

#CancelButton:hover
{
	brightness: 1.25;
}

.SelectedPageFeatured #CancelButton
{
	wash-color: #dd6058;
}

#PrivateLobbyPanel
{
	vertical-align: center;
	horizontal-align: center;
	z-index: 2;
	visibility: collapse;
	min-height: 32px;
	transition-property: transform, box-shadow;
	transition-duration: 0.3s;
	transition-timing-function: ease-in;
	padding-left: 8px;
	padding-right: 8px;
	box-shadow: inset #00000000 0px 0px 0px 0px;
	border-radius: 5px;
	flow-children: right;
	margin-top: -2px;
}

.InPrivateLobbyAlone #PrivateLobbyPanel
{
	margin-top: 0px;
}

.InPrivateLobby #PrivateLobbyPanel
{
	visibility: visible;
}

#PrivateLobbyPanel:hover
{
	box-shadow: inset #71ffff08 3px 3px 6px 6px;
	border-radius: 5px;
}

.PrivateLobbyPrefix
{
	vertical-align: center;
	margin-right: 4px;
	color: #aaa;
	visibility: collapse;
}

#PrivateLobbyOpponentImage
{
	width: 40px;
	height: 40px;
	margin: 4px;
	visibility: collapse;
}

#PrivateLobbyOpponentName
{
	margin-left: 4px;
	max-width: 400px;
	text-align: left;
	text-overflow: shrink;
	margin-top: -1.5px;
	visibility: collapse;
}

.inFriendChallenge #PrivateLobbyOpponentName,
.inFriendChallenge #PrivateLobbyOpponentImage,
.inFriendChallenge .PrivateLobbyPrefix
{
	visibility: visible;
}

#PrivateLobbyStatus
{
	margin-left: 8px;
	max-width: 400px;
	text-overflow: shrink;
	vertical-align: center;
	color: #aaa;
	text-shadow: 0px 2px 6px 0 #000000;
}

.InPrivateLobbyWithOthers #PrivateLobbyStatus
{
	visibility: collapse;
}


//-------------------------------------------------------
// End Top Bar
//-------------------------------------------------------


//-------------------------------------------------------
// Left Panel
//-------------------------------------------------------

#DashboardContents
{
	flow-children: none;
	height: 990px;
	width: 100%;
	margin: 0px 10px 10px 10px;
	z-index: 3;
	transition-property: height, margin;
	transition-duration: 0.5s;
	transition-timing-function: ease-in-out;
	vertical-align: bottom;
}

.AspectRatio16x10 #DashboardContents
{
	height: 1110px;
}

.AspectRatio16x10.InLimitedStage #DashboardContents
{
	height: 1200px;
}

.InLimitedStage #DashboardContents
{
	margin: 0px 0px 0px 0px;
	height: 1080px;
}

#LeftContents
{
	width: 405px;
	height: 100%;
	horizontal-align: left;
	margin-left: 55px;
	margin-top: 0px;
	margin-bottom: 10px;
	transition-property: transform;
	transition-duration: 0.5s;
	transition-timing-function: ease-in-out;
	z-index: 4;
}

.InCatalogue #LeftContents,
.ShowingFeaturedPage.IsChaosGauntlet #LeftContents,
.InLimitedStage #LeftContents
{
	transform: translateX( -460px );
}

.InCatalogue #Chat,
.ShowingFeaturedPage.IsChaosGauntlet #Chat,
.InLimitedStage #Chat
{
	transform: translateX( -580px );
	opacity: 0;
}

.InCatalogue #RightContents,
.ShowingFeaturedPage.IsChaosGauntlet #RightContents,
.InLimitedStage #RightContents
{
	transform: translateX( 0px );
	padding-right: 0px;
}

.InLimitedStage #TopBar
{
	visibility: collapse;
}

#AccountBadgeContainer
{
}

#PersonaNameContainer
{
	margin-left: 80px;
	margin-top: 37px;
	width: 282px;
	height: 65px;
	background-image: url("s2r://panorama/images/dashboard_new/persona_name_bg_psd.vtex");
	background-size: 100% 100%;
	box-shadow: 2px 2px 6px 4.0 #130f1a80;
	transition-property: brightness, text-shadow, saturation;
	transition-duration: 0.18s;
	transition-timing-function: ease-in-out;
}

#PersonaNameContainer:hover
{
	brightness: 1.5;
	saturation: 1.2;
	background-color: gradient( linear, 100% 0%, 0% 0%, from( #442b7401 ), to(#442b7415));
}

#PersonaNameLabel
{
	vertical-align: center;
	horizontal-align: center;
	text-overflow: ellipsis;
	margin-left: 10px;
	font-size: 24px;
	text-shadow: 1px 2px 6px 2.0 #130f1a80;
}

#PersonaNameLabel:enabled:hover,
{
	color: #f4f4ff;
	text-shadow: 0px 0px 8px 4.0 #7489ff11;
	
}

#MainNav
{
	vertical-align: bottom;
	margin-bottom: 30px;
	flow-children: down;
	width: 100%;
	transition-property: margin;
	transition-duration: 0.2s;
}

#BlurBackgroundRect2Image
{
	width: 100%;
	height: 100%;
	border-radius: 0px;
	box-shadow: 2px 2px 4px black;
	blur: gaussian( 7 );
}

#MainNav .RadioBox
{
	visibility: collapse;
}

#MainNav RadioButton
{
	horizontal-align: left;
	width: 380px;
	height: 62px;
	margin-top: 14px;
	background-image: url("s2r://panorama/images/dashboard_new/main_nav_button_bg_psd.vtex");

	background-size: 100% 100%;
  transition-property: background-color, brightness, saturation;
  transition-duration: 0.1s ,0.25s;
  transition-timing-function: ease-in-out;
}

#MainNav RadioButton:enabled:hover
{
	brightness: 1.5;
	saturation: 1.2;
	background-color: gradient( linear, 100% 0%, 0% 0%, from( #442b7401 ), to(#442b7415));
//	background-color: #0f111101, gradient( radial, 35% 10%, 150px 35px, 90% 100%, from( #56576805 ), color-stop( 0.90, #87b7e025 ), to( #0f111101 ) );
//	background-color: #0f111101, gradient( radial, 35% 10%, 150px 35px, 90% 100%, from( #56576805 ), color-stop( 0.90, #87b7e025 ), to( #0f111101 ) );
}

#MainNav RadioButton Label
{
	font-size: 24px;
  letter-spacing: 3px;
  horizontal-align: center;
  vertical-align: center;
  text-align: center;
  text-transform: uppercase;
  transition-property: text-shadow;
  transition-duration: 0.15s;
  transition-timing-function: ease-out;
  color: gradient( linear, 0% 0%, 100% 100%, from( #d4c9e1 ), to( #cff2f660 ) );
  font-weight: light;
  text-shadow: 2px 2px 6px 4.0 #130f1a80;
  text-overflow: shrink;
}

#MainNav #NavPlayArtifact:enabled:hover Label,
#MainNav #NavCardCollection:enabled:hover Label,
#MainNav #NavOpenPacks:enabled:hover Label,
#MainNav #NavPlayConstructed:enabled:hover Label,
{
	color: #f4f4ff;
	text-shadow: 0px 0px 8px 4.0 #7489ff11;
}

#MainNav #NavCancelSearch:enabled:hover Label
{
	color: #f4f4ff;
	text-shadow: 0px 0px 8px 4.0 #dd7a5805;
}

#MainNav RadioButton Label:active
{
	text-shadow: 0px 0px 20px 4.0 #71ffff25;
}

#MainNav RadioButton:disabled
{
	wash-color: grey;
}

#MainNav #NavPlayArtifact,
#MainNav #NavCancelSearch
{
	height: 115px;
	background-image: url("s2r://panorama/images/dashboard_new/main_nav_button_playbg_psd.vtex");
}

#NavReturnToPrivateLobby,
.InPrivateLobby #NavPlayArtifact,
.InPrivateLobby #NavCancelSearch,
.InPrivateLobby.ShowingPrivateLobby #NavReturnToPrivateLobby,
#NavLeavePrivateLobby
{
	visibility: collapse;
}

.InPrivateLobby #NavReturnToPrivateLobby,
.InPrivateLobby.ShowingPrivateLobby #NavLeavePrivateLobby
{
	visibility: visible;
}

#MainNav #NavPlayArtifact Label,
#MainNav #NavCancelSearch Label
{
	font-size: 24px;
	letter-spacing: 3px;
	vertical-align: center;
	text-align: center;
	font-size: 32px;
	text-transform: uppercase;
	transition-property: text-shadow;
	transition-duration: 0.15s;
	transition-timing-function: ease-out;
	color: gradient( linear, 0% 0%, 100% 100%, from( #d4c9e1 ), to( #cff2f6 ) );
	font-weight: light;
	text-shadow: 0px 0px 6px 4.0 #71ffff01;
	text-overflow: shrink;
}

#MainNav #NavPlayArtifact Label:active,
#MainNav #NavCancelSearch Label:active
{
	text-shadow: 0px 0px 20px 4.0 #71ffff25;
}

#NavCancelSearch
{
	background-color: gradient( radial, 50% 50%, 0% 0%, 80% 80%, from( #dd605820 ), to( black ) );
	visibility: collapse;
}

#MainNav #NavCancelSearch:enabled:hover
{
	background-color: gradient( radial, 50% 50%, 0% 0%, 80% 80%, from( #dd605830 ), to( black ) );
	saturation: 1.0;
}

.LookingForMatch #NavCancelSearch,
.ConnectingToGame #NavCancelSearch,
.HasLobby #NavCancelSearch
{
	visibility: visible;
}

.HasLobby #NavCancelSearch
{
	opacity: 0;
}

.CanReconnect.HasLobby #NavCancelSearch,
.HasLobby.IsInGame #NavCancelSearch
{
	visibility: collapse;
}

.CanReconnect #NavPlayArtifact,
.HasLobby #NavPlayArtifact,
.LookingForMatch #NavPlayArtifact
{
	visibility: collapse;
}

.CanReconnect.HasLobby #PlayButton,
.HasLobby.IsInGame #PlayButton
{
	visibility: visible;
}

.CanReconnect.HasLobby #MainNav,
.HasLobby.IsInGame #MainNav
{
	margin-bottom: 15px;
}

.ConnectingToGame #PlayButton
{
	visibility: collapse;
}

//-------------------------------------------------------
// End Left Panel
//-------------------------------------------------------

//-------------------------------------------------------
// Right Panel
//-------------------------------------------------------

#RightContents
{
	transform: translateX( 460px );
	width: 1920px;
	height: 100%;
	transition-property: transform, height;
	transition-duration: 0.5s;
	transition-timing-function: ease-in-out;
	horizontal-align: right;
	z-index: 5;
}

//-------------------------------------------------------
// End Right Panel
//-------------------------------------------------------


#FriendsAndFamilyBetaMessage
{
	width: 100%;
	height: 100%;
	background-image: url("s2r://panorama/images/friends_and_family_beta/playtest_message_bg_png.vtex");
	background-size: 100% 100%;
	visibility: collapse;
}

.ShowFriendsAndFamilyMessage #FriendsAndFamilyBetaMessage
{
	visibility: visible;
}

.ShowFriendsAndFamilyMessage #DashboardForeground,
.ShowFriendsAndFamilyMessage #DashboardContents
{
	visibility: collapse;
}

#BetaMessageContainer
{
	height: 831px;
	width: 1380px;
	background-image: url("s2r://panorama/images/friends_and_family_beta/playtest_message_panel_psd.vtex");
	background-size: 100% 100%;
	vertical-align: center;
	horizontal-align: center;
	padding-left: 330px;
	padding-right: 260px;
	padding-top: 150px;
	padding-bottom: 140px;
}

#FriendsAndFamilyButton
{
	vertical-align: bottom;
	horizontal-align: center;
	margin-bottom: 20px;
}

#FriendsAndFamilyBetaLabel
{
	margin-left: 170px;
	margin-top: 20px;
	color: black;
	font-size: 19px;
}

#Chat
{
	width: 100%;
	margin-top: 150px;
	margin-left: 55px;
	horizontal-align: left;
	transform: translateX( 0px ) translateY( 0px );
	opacity: 1.0;
	transition-property: opacity, transform;
	transition-duration: 0.45s;
	transition-timing-function: ease-in;
	z-index: 999;
}

.InDeckBuilder #Chat
{
	margin-bottom: 2px;
	margin-right: 10px;
	horizontal-align: right;
}

.InCatalogue #Chat
{
	visibility: collapse;
}

.InCollection #Chat,
.InLobby #Chat
{
	visibility: collapse;
}

#ZooButton
{
	visibility: collapse;
}

.AppMain #ZooButton
{
	visibility: visible;
}

#MobileSteamLoginButton
{
    visibility: collapse;
}

.IsPlatformMobile #MobileSteamLoginButton
{
    visibility: visible;
}