DCGFeaturedPage.DashboardPage.PlayChaosGauntlet
{
	width: 100%;
}

DCGFeaturedPage DCGPlayCallToArms,
DCGFeaturedPage DCGPlayChaosGauntlet,
DCGFeaturedPage DCGCampaignMap
{
	visibility: collapse;
}

DCGFeaturedPage.PlayCallToArms DCGPlayCallToArms,
DCGFeaturedPage.PlayChaosGauntlet DCGPlayChaosGauntlet,
DCGFeaturedPage.PlayCampaign DCGCampaignMap
{
	visibility: visible;
	opacity: 1;
}