DCGPlayerProfile
{
	vertical-align: center;

	transform: none;
	perspective-origin: 62% 5% invert;
	perspective: 1000;

	transition-property: opacity, transform, pre-transform-scale2d, wash-color;
	transition-duration: 0.3s;
	transition-delay: 0.0s;
	transition-timing-function: ease-in-out;

	height: 100%;
	width: 100%;

	background-image: url("s2r://panorama/images/backgrounds/dcg_bg01_starfield_glass3_psd.vtex");
	background-size: cover;

	flow-children: none;
}

DCGPlayerProfile.DashboardPage
{
	transition-property: opacity, transform, pre-transform-scale2d, wash-color;
}

DCGPlayerProfile.LocalSteamAccount
{
	background-image: url("s2r://panorama/images/backgrounds/dcg_bg01_starfield_glass2_psd.vtex");
}

#DraftRatingIcon
{
	background-image: url("s2r://panorama/images/tournaments/draft_skill_icon_psd.vtex");
}

#ConstrcutedRatingIcon
{
	background-image: url("s2r://panorama/images/tournaments/constructed_skill_icon_psd.vtex");
}

.PlayerStatMiddle
{
	width: 26px;
	height: 26px;
	background-size: 100% 100%;
}

DCGPlayerProfile.Hidden
{
	opacity: 0.0;
	transform: translateX( -402px ) translateY( -200px );
	pre-transform-scale2d: 0.65;
	wash-color: #a490fc;
}

.CloseButton
{
	margin: 16px;
	height: 28px;
	width: 28px;
	horizontal-align: right;
}

.TitlesButtonText Label
{
	horizontal-align: center;
	vertical-align: center;

	font-size: 20px;

	height: fit-children;
	line-height: 20px;
	margin-bottom: 5px;
	font-weight: light;
	letter-spacing: 3px; 
	text-shadow: 0px 0px 3px 4.0 #00000011;
	
	color: rgb(167, 177, 202);
	text-transform: uppercase;
}

#MatchTypeTitle
{
	margin-left: 92px;
	
}

#MatchHistoryTitles
{
	flow-children: right;
	background-color: #7c91dc06;
	padding: 8px 12px 4px 10px;
	border-top: 1px solid #99999905;
	border-left: 1px solid #99999905;
	border-right: 1px solid #00000060;
	border-bottom: 1px solid #00000060;
	height: 48px;
	width: 100%;
}

.TitlesClass
{
	text-align: center;
	text-transform: uppercase;
	width: 180px;
	font-size: 20px;
	font-weight: light;
	color: uiStandardGrey;
	letter-spacing: 2px;
	text-shadow: 2px 2px 4px black;
	vertical-align: center;

}

.TitlesClassSmall
{
	text-align: center;
	text-transform: uppercase;
	vertical-align:center;
	width: 100px;
	font-size: 20px;
	font-weight: light;
	color: uiStandardGrey;
	letter-spacing: 2px;
	text-shadow: 2px 2px 4px black;
	vertical-align: center;
}


.DeckClasses
{
	width: 300px;
}

#ColumnContainer
{
    width: 1400px;
    height: 100%;
    flow-children: right;
    horizontal-align: left;
}

#LeftColumn
{
    width: 500px;
    height: 100%;
    //background-color: #ff0000;
    flow-children: down;
}

#RightColumn
{
    width: fit-children;
    height: 100%;
    //background-color: #00ff00;

    padding-top: 32px;

    flow-children: down;
}

#MatchHistoryContainer
{
	margin-left: 25px;
	width: 850px;
	height: 100%;
	flow-children: down;
}

#MiniProfileContainer
{
	width: 100%;

    margin-bottom: 20px;
	padding-left: 10px;
	flow-children: none;
}

#MiniProfileIcon
{
	height: 22px;
	width: 22px;
	background-image: url("s2r://panorama/images/control_icons/info_icon_psd.vtex");
	margin-top: 35px;
	margin-left: 2px;
	visibility: collapse;
}

#AddFriendIcon
{
	height: 32px;
	width: 32px;
	background-image: url("s2r://panorama/images/main_menu/icon_friends_ingame_psd.vtex");
	margin-top: 30px;
	margin-left: -2px;
	visibility: collapse;
}

#CopyProfileIcon
{
	height: 26px;
	width: 26px;
	background-image: url("s2r://panorama/images/main_menu/icon_copy_profile_psd.vtex");
	margin-top: 65px;
	margin-left: 2px;
	tooltip-body-position: 20% 20%;
}

.SmallProfileIcon
{
	background-size: 100% 100%;
	wash-color: #666666;
	transition-property: wash-color;
	transition-duration: 0.3s;
	transition-delay: 0.0s;
	transition-timing-function: ease-in-out;
}

.SmallProfileIcon:hover
{
	wash-color: #bbbbbb;
}

/* OM 4/1/2020: Make this invisible until we rework it.
.IsLocalProfile #MiniProfileIcon
{
	visibility: visible;
}
*/

.ShowFriendButton #AddFriendIcon
{
	visibility: visible;
}

DCGPlayerProfile #MiniProfile
{
	horizontal-align: left;
	vertical-align: top;
	margin-bottom: 0px;
}

.PopupBlurEnabled DCGPlayerProfile #MiniProfile, .PopupBlurEnabled DCGPlayerProfile #MiniProfileGlow
{
	wash-color: none;
	blur: none;
	brightness: 1.0;
	saturation: 1.0;
}

.AccessDenied #AccessDeniedPanel
{
	visibility: visible;
}

#AccessDeniedPanel
{
	horizontal-align: center;
	visibility: collapse;
	flow-children: down;
	margin-top: 200px;
}

#AccessDeniedNoHistoryDesc,
.NoMatchHistory #AccessDeniedDesc
{
	visibility: collapse;
}

.NoMatchHistory #AccessDeniedNoHistoryDesc
{
	visibility: visible;
}

.AccessDeniedDesc
{
	margin-top: 30px;
	font-size: 24px;
	text-align: center;
	horizontal-align: center;
	width: 75%;
}

#AccessDeniedLabel
{
	font-size: 48px;
	color: #AA1818;
	horizontal-align: center;
}

.AccessDenied #MatchHistoryContents
{
	visibility: collapse;
}

#MatchHistoryContents
{
	flow-children: down;
	width: 100%;
	height: 100%;
	overflow: clip scroll;
}

#PlayerStatsContainer
{
    height: 230px;
    margin-left: 40px;
}

#RecentAchievementsContainer
{
    height: 318px;
    margin-left: 40px;

    visibility: collapse;
}

/* OM 4/1/2020: Leave achievements invisible until we rework them.
.LocalSteamAccount #RecentAchievementsContainer
{
    visibility: visible;
}
*/

#RecentAchievements
{
    width: 100%;
    height: 240px;
    flow-children: down;

    overflow: clip scroll;   

    //background-color: #FF000060;
}

.AchievementRow
{
    width: fit-children;
    height: fit-children;
	margin-top: 16px;
    margin-bottom: 16px;
    flow-children: right;
}

.Achievement
{
    width: 90px;
    height: 90px;
    margin-right: 16px;

    background-size: 100% 100%;
    //background-color: #FF00FF60;
}

#CheeveProgressBar
{
    width: 90px;
    height: 90px;
}

.Completed #CheeveProgressBar
{
    visibility: collapse;
}

#CheeveProgressBar_FG
{
    width: 98%;
    height: 98%;
    horizontal-align: center;
    vertical-align: center;

    border: 9px solid #462b48;
    border-radius: 50%;
}

#CheeveProgressBar_BG
{
    width: 98%;
    height: 98%;
    horizontal-align: center;
    vertical-align: center;

    border: 9px solid #999999;
    border-radius: 50%;
}

.Achievement10001.Achievement.Progress { background-image: url("s2r://panorama/images/achievements/progress/achievement_progress_10001_psd.vtex"); }
.Achievement10002.Achievement.Progress { background-image: url("s2r://panorama/images/achievements/progress/achievement_progress_10002_psd.vtex"); }
.Achievement10003.Achievement.Progress { background-image: url("s2r://panorama/images/achievements/progress/achievement_progress_10003_psd.vtex"); }
.Achievement10004.Achievement.Progress { background-image: url("s2r://panorama/images/achievements/progress/achievement_progress_10004_psd.vtex"); }
.Achievement10005.Achievement.Progress { background-image: url("s2r://panorama/images/achievements/progress/achievement_progress_10005_psd.vtex"); }
.Achievement10006.Achievement.Progress { background-image: url("s2r://panorama/images/achievements/progress/achievement_progress_10006_psd.vtex"); }
.Achievement10007.Achievement.Progress { background-image: url("s2r://panorama/images/achievements/progress/achievement_progress_10007_psd.vtex"); }
.Achievement10008.Achievement.Progress { background-image: url("s2r://panorama/images/achievements/progress/achievement_progress_10008_psd.vtex"); }
.Achievement10009.Achievement.Progress { background-image: url("s2r://panorama/images/achievements/progress/achievement_progress_10009_psd.vtex"); }
.Achievement10010.Achievement.Progress { background-image: url("s2r://panorama/images/achievements/progress/achievement_progress_10010_psd.vtex"); }
.Achievement10011.Achievement.Progress { background-image: url("s2r://panorama/images/achievements/progress/achievement_progress_10011_psd.vtex"); }
.Achievement10012.Achievement.Progress { background-image: url("s2r://panorama/images/achievements/progress/achievement_progress_10012_psd.vtex"); }
.Achievement10013.Achievement.Progress { background-image: url("s2r://panorama/images/achievements/progress/achievement_progress_10013_psd.vtex"); }
.Achievement10014.Achievement.Progress { background-image: url("s2r://panorama/images/achievements/progress/achievement_progress_10014_psd.vtex"); }
.Achievement10015.Achievement.Progress { background-image: url("s2r://panorama/images/achievements/progress/achievement_progress_10015_psd.vtex"); }
.Achievement10016.Achievement.Progress { background-image: url("s2r://panorama/images/achievements/progress/achievement_progress_10016_psd.vtex"); }
.Achievement10017.Achievement.Progress { background-image: url("s2r://panorama/images/achievements/progress/achievement_progress_10017_psd.vtex"); }
.Achievement10018.Achievement.Progress { background-image: url("s2r://panorama/images/achievements/progress/achievement_progress_10018_psd.vtex"); }
.Achievement10019.Achievement.Progress { background-image: url("s2r://panorama/images/achievements/progress/achievement_progress_10019_psd.vtex"); }
.Achievement10020.Achievement.Progress { background-image: url("s2r://panorama/images/achievements/progress/achievement_progress_10020_psd.vtex"); }
.Achievement10021.Achievement.Progress { background-image: url("s2r://panorama/images/achievements/progress/achievement_progress_10021_psd.vtex"); }
.Achievement10022.Achievement.Progress { background-image: url("s2r://panorama/images/achievements/progress/achievement_progress_10022_psd.vtex"); }
.Achievement10023.Achievement.Progress { background-image: url("s2r://panorama/images/achievements/progress/achievement_progress_10023_psd.vtex"); }
.Achievement10024.Achievement.Progress { background-image: url("s2r://panorama/images/achievements/progress/achievement_progress_10024_psd.vtex"); }

.Achievement10001.Achievement.Completed { background-image: url("s2r://panorama/images/achievements/completed/achievement_completed_10001_psd.vtex"); }
.Achievement10002.Achievement.Completed { background-image: url("s2r://panorama/images/achievements/completed/achievement_completed_10002_psd.vtex"); }
.Achievement10003.Achievement.Completed { background-image: url("s2r://panorama/images/achievements/completed/achievement_completed_10003_psd.vtex"); }
.Achievement10004.Achievement.Completed { background-image: url("s2r://panorama/images/achievements/completed/achievement_completed_10004_psd.vtex"); }
.Achievement10005.Achievement.Completed { background-image: url("s2r://panorama/images/achievements/completed/achievement_completed_10005_psd.vtex"); }
.Achievement10006.Achievement.Completed { background-image: url("s2r://panorama/images/achievements/completed/achievement_completed_10006_psd.vtex"); }
.Achievement10007.Achievement.Completed { background-image: url("s2r://panorama/images/achievements/completed/achievement_completed_10007_psd.vtex"); }
.Achievement10008.Achievement.Completed { background-image: url("s2r://panorama/images/achievements/completed/achievement_completed_10008_psd.vtex"); }
.Achievement10009.Achievement.Completed { background-image: url("s2r://panorama/images/achievements/completed/achievement_completed_10009_psd.vtex"); }
.Achievement10010.Achievement.Completed { background-image: url("s2r://panorama/images/achievements/completed/achievement_completed_10010_psd.vtex"); }
.Achievement10011.Achievement.Completed { background-image: url("s2r://panorama/images/achievements/completed/achievement_completed_10011_psd.vtex"); }
.Achievement10012.Achievement.Completed { background-image: url("s2r://panorama/images/achievements/completed/achievement_completed_10012_psd.vtex"); }
.Achievement10013.Achievement.Completed { background-image: url("s2r://panorama/images/achievements/completed/achievement_completed_10013_psd.vtex"); }
.Achievement10014.Achievement.Completed { background-image: url("s2r://panorama/images/achievements/completed/achievement_completed_10014_psd.vtex"); }
.Achievement10015.Achievement.Completed { background-image: url("s2r://panorama/images/achievements/completed/achievement_completed_10015_psd.vtex"); }
.Achievement10016.Achievement.Completed { background-image: url("s2r://panorama/images/achievements/completed/achievement_completed_10016_psd.vtex"); }
.Achievement10017.Achievement.Completed { background-image: url("s2r://panorama/images/achievements/completed/achievement_completed_10017_psd.vtex"); }
.Achievement10018.Achievement.Completed { background-image: url("s2r://panorama/images/achievements/completed/achievement_completed_10018_psd.vtex"); }
.Achievement10019.Achievement.Completed { background-image: url("s2r://panorama/images/achievements/completed/achievement_completed_10019_psd.vtex"); }
.Achievement10020.Achievement.Completed { background-image: url("s2r://panorama/images/achievements/completed/achievement_completed_10020_psd.vtex"); }
.Achievement10021.Achievement.Completed { background-image: url("s2r://panorama/images/achievements/completed/achievement_completed_10021_psd.vtex"); }
.Achievement10022.Achievement.Completed { background-image: url("s2r://panorama/images/achievements/completed/achievement_completed_10022_psd.vtex"); }
.Achievement10023.Achievement.Completed { background-image: url("s2r://panorama/images/achievements/completed/achievement_completed_10023_psd.vtex"); }
.Achievement10024.Achievement.Completed { background-image: url("s2r://panorama/images/achievements/completed/achievement_completed_10024_psd.vtex"); }

.SectionContainer
{
	flow-children: down;
	width: 100%;
    margin-bottom: 30px;
    padding-top: 15px;
    padding-left: 25px;

    background-color: #00000060;
}

#Player1DeckTitle
{
	margin-left: 25px;
}

#TimeTitle
{
	margin-left: 10px;
}

#MatchHistorySpinner
{
	visibility: collapse;
	height: 45px;
	width: 45px;
	margin-top: 180px;
	horizontal-align: center;
}

.LoadingMatchHistory #MatchHistoryContents
{
	visibility: collapse;
}

.LoadingMatchHistory #MatchHistorySpinner
{
	visibility: visible;
}

#PlayerStatsContent
{
	width: 100%;
	height: 100%;
	flow-children: down;
}

#PlayerStatsSpinner
{
	visibility: collapse;
	height: 45px;
	width: 45px;
	horizontal-align: center;
	vertical-align: center;
	margin-top: 80px;
}

.LoadingPlayerStats #PlayerStatsSpinner
{
	visibility: visible;
}

.LoadingPlayerStats #PlayerStatsContent
{
	visibility: collapse;
	font-size: 16px;
	font-weight: lighter;
}

.PlayerStatsRow
{
	flow-children: right;
	margin: 4px 50px 4px 20px;
	width: 100%;
}

.PlayerStatText
{
	color: #bbc5ca;
	font-size: 16px;
	font-weight: lighter;
	vertical-align: center;
}

.PlayerStatLeft
{
	width: 210px;
}

.PlayerStatRight
{
	horizontal-align: right;
}

#UnlockPercentageStat
{
	visibility: collapse;
}

.LocalSteamAccount #UnlockPercentageStat
{
	visibility: visible;
}
