

Label.ProbablyUnlocalizedText
{
	background-color: transparent;
	color: white;

	animation-name: none;
}


DCGControlsLibrary
{
	flow-children: down;

	margin-top: 60px;
	horizontal-align: center;
	width: 100%;
	height: 100%;
}

#ZooTabs
{
	margin-top: 100px;
	width: 60%;
	horizontal-align: center;
	flow-children: right;
	background-color: #000c;
	padding: 8px 24px 6px 24px;
}

#ZooTabs > TabButton > Label
{
	text-transform: uppercase;
	font-size: 32px;
	font-weight: bold;
	text-shadow: 2px 2px 4px black;
	letter-spacing: 2px;
	color: #aaa;
}

#ZooTabs > TabButton:selected > Label
{
	color: white;
}

#ZooTabs > TabButton:hover > Label
{
	color: white;
}

#ZooTabs > TabButton:active > Label
{
	color: #ccc;
}

.ZooTabSeparator
{
	font-size: 32px;
	font-weight: bold;
	margin: 0px 12px;
	color: #aaa;
	text-shadow: 2px 2px 4px black;
}


#ZooTabContents
{
	horizontal-align: center;
	vertical-align: top;

	height: 65%;
	width: 60%;
	background-color: black;

	border: 3px solid grey;
}

#ZooButtons
{
	flow-children: right;
	height: 100%;
	width: 100%;
}

#ZooButtons .ButtonBevel.Activated
{
	sound: "ui_select_arrow", "ui_hero_hat_select";
}

.ZooTab
{
	visibility: collapse;
	flow-children: right-wrap;
}

.ZooTab:selected
{
	visibility: visible;
}

.Precache
{
	background-image: url("s2r://panorama/images/front_page/axecomic_png.vtex");
	visibility: collapse;
}

.ZooGroup
{
	padding: 8px;
	margin: 8px;

	border-style: solid;
	border-color: grey;
	border-width: 1px;
	border-radius: 18px;

	background-color: #111111FF;
	flow-children: down;
}

.Wide
{
	flow-children: right-wrap;
	width: 1272px;
}

.Thirds
{
	width: 408px;
}

#PlayEffects
{
	width: 400px;
	z-index: -1;
	visibility: visible;
}

#PlayButton
{
	box-shadow: #96ee9722 -8px -8px 16px 16px;
}

Button.CustomButton
{
	width: 320px;
	min-height: 50px;
	max-height: 120px;
	border-radius: 0px;
	horizontal-align: center;

	background-color: gradient( linear, 0% 0%, 0% 100%, from( #5Aa15E ), to( #87d69533 ) );
	background-image: url("s2r://panorama/images/backgrounds/background_play_button_large_2x_png.vtex");
	background-size: 320px 120px;
	//background-repeat: no-repeat;

	box-shadow: fill #002a6644 -4px -4px 8px 9px;

	border-top: 1px solid #ffffff44;
	border-right: 1px solid #00000088;
	border-left: 1px solid #ffffff44;
	border-bottom: 1px solid #00000088;

	transition-property: box-shadow, background-color, opacity, transform;
	transition-delay: 0.0s;
	transition-duration: 0.2s;
	transition-timing-function: ease-in-out;

	visibility: visible;
}

Button.CustomButton Label
{
	color: white;
	max-width: 318px;

	text-align: center;
	text-transform: uppercase;
	text-overflow: ellipsis;
	margin-top: 2px;

	horizontal-align: center;
	vertical-align: center;

	font-size: 28px;
	font-weight: bold;

	letter-spacing: 3px;
	//white-space: nowrap;

	padding-left: 8px;
	padding-right: 8px;
}

Button.CustomButton:hover
{
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #5Aa15E ), to( red ) );
	box-shadow: fill #414f4daa -4px -4px 8px 8px;
}

Button.CustomButton:hover Label
{
	color: #FFFFFF;
}

Button.CustomButton:active
{
	background-color: white;
}

Button.CustomButton:active Label
{
	color: black;
}

Button.CustomButton:disabled
{
	background-color: #666666;
}

Button.CustomButton:disabled Label
{
	color: #cbcbcb;
}

#TestCheckboxes
{
	height: 200px;
	overflow: scroll;
}

.OtherButtons
{
//	width: 300px;
//	flow-children: right-wrap;
//	horizontal-align: left;
}

#ZooSmallSettingsButton
{
	width: 20px;
	height: 20px;
	background-image: url("s2r://panorama/images/control_icons/gear_small_png.vtex");
	background-size: 20px;
	animation-direction: reverse;
	tooltip-position: right;
	tooltip-body-position: 0% 50%;
}

#BackgroundImageTest
{
	width: 100px;
	height: 100px;

	background-color: black;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;

	
	transition-property: background-image;
	transition-duration: 5.0s;

	clip: rect( 10%, 90%, 90%, 10% );
}

#RadialClipTest
{
	width: 100px;
	height: 100px;

	background-color: black;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;


	transition-property: background-image;
	transition-duration: 5.0s;

	animation-name: radial-clip-loop2;
	animation-duration: 6.0s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}

@keyframes 'radial-clip-loop2'
{
	0%
	{
		clip: radial( 50% 50%, 0deg, 0deg );
	}


	50%
	{
		clip: radial( 50% 50%, 0deg, 180deg );
	}

	100%
	{
		clip: radial( 50% 50%, 0deg, 360deg );
	}
}

#LeadingEdge
{
	width: 3px;
	height: 100px;
	background-color: #ffffff22;
	background-color: gradient( linear, 0% 100%, 0% 0%, from( #ffffff00 ), to( #ffffffff ) ) );
	horizontal-align: center;
	transform-origin: 50% 100%;
	border-radius: 1px;

	animation-name: radial-swipe-edge;
	animation-duration: 6.0s;
	animation-direction: reverse;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}

@keyframes 'radial-swipe-edge'
{
	0%
	{
		transform: rotateZ( 0deg ) translateY(-50px);
	}
	50%
	{
		transform: rotateZ( 180deg ) translateY(-50px);
	}
	100%
	{
		transform: rotateZ( 360deg ) translateY(-50px);
	}
}

#BackgroundImageTest.ChangeBackgroundImage
{
	
}

#ZooText
{
	flow-children: down;
}

.FontStyleRow
{
	flow-children: right;
}

.FontStyleName
{
	width: 140px;
	text-align: right;
	margin-right: 8px;
	vertical-align:middle;
	color: baseText;
	opacity: 0.3;
	font-size: 14px;
	text-transform: uppercase;
}

.FontStyleExample
{
	font-size: 24px;
}

.FontStyleRow.Normal .FontStyleExample { font-weight: normal; }
.FontStyleRow.Italic .FontStyleExample { font-weight: normal; font-style: italic; }
.FontStyleRow.Medium .FontStyleExample { font-weight: medium; }
.FontStyleRow.MediumItalic .FontStyleExample { font-weight: medium; font-style: italic; }
.FontStyleRow.Bold .FontStyleExample { font-weight: bold; }
.FontStyleRow.BoldItalic .FontStyleExample { font-weight: bold; font-style: italic; }
.FontStyleRow.Black .FontStyleExample { font-weight: black; }
.FontStyleRow.BlackItalic .FontStyleExample { font-weight: black; font-style: italic; }
.FontStyleRow.Thin .FontStyleExample { font-weight: thin; }
.FontStyleRow.ThinItalic .FontStyleExample { font-weight: thin; font-style: italic; }
.FontStyleRow.Light .FontStyleExample { font-weight: light; }
.FontStyleRow.LightItalic .FontStyleExample { font-weight: light; font-style: italic; }
.FontStyleRow.SemiBold .FontStyleExample { font-weight: semi-bold; }
.FontStyleRow.SemiBoldItalic .FontStyleExample { font-weight: semi-bold; font-style: italic; }

.RightHand
{
	margin-left: 50px;
}

#ZooTextGlow
{
	font-size: 36px;
	color: white;
	text-shadow: 0px 0px 6px 1.0 #ffc0a0;

	transition-property: text-shadow;
	transition-delay: 0.0s;
	transition-duration: 0.2s;
	transition-timing-function: ease-in-out;
}

#ZooTextGlow:hover
{
	text-shadow: 0px 0px 10px 3.0 #ffc0a0;
}

#ZooTextShadow
{
	font-size: 36px;
	color: #555555;
	text-shadow: 4px 4px 2px #000000;

	transition-property: text-shadow;
	transition-delay: 0.0s;
	transition-duration: 0.2s;
	transition-timing-function: ease-in-out;
}

#ZooTextShadow:hover
{
	text-shadow: 4px 4px 8px 3.0 #000000;
}

#ZooOtherControls
{
	flow-children: down;
	vertical-align: top;
}

#ZooSliders
{
//		width: 60%;
}
#ZooSliders Slider
{
	margin-top: 10px;
}

UICanvas
{
	width: 100px;
	height: 100px;
	horizontal-align: center;
	vertical-align: center;
	margin: 8px;
}

#ZooCanvasDemo
{
	width: fit-children;
}

#CursorCooldownContainer
{
	width: 48px;
	height: 48px;
}


#CursorCooldownValue
{
	horizontal-align: center;
	text-align: center;
	vertical-align: middle;
	font-size: 22px;
	text-shadow: 0px 0px 6px 1.0 #000000aa;
	font-weight: bold;
	color: white;
	margin-top: 2px;
}


#CursorCooldownBackground
{
	width: 100%;
	height: 100%;
	background-color: #004400a3;
	border-radius: 50%;
	background-image: url("s2r://panorama/images/hud/reborn/cursor_cooldown_bg_psd.vtex");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	wash-color: #000000dd;
}

#CursorCooldownRadialSweep
{
	width: 100%;
	height: 100%;

	background-color: black;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	border-radius: 50%;
	wash-color: #22ff33;

	background-image: url("s2r://panorama/images/hud/reborn/cursor_cooldown_bg_psd.vtex");

	transition-property: background-image;
	transition-duration: 5.0s;

	animation-name: cursorcooldown-radial-clip-loop;
	animation-duration: 3.0s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}

@keyframes 'cursorcooldown-radial-clip-loop'
{
	0%
	{
		clip: radial( 50% 50%, 0deg, 0deg );
	}


	50%
	{
		clip: radial( 50% 50%, 0deg, 180deg );
	}

	100%
	{
		clip: radial( 50% 50%, 0deg, 360deg );
	}
}

#ZooEmoticons
{
	width: 150px;
	min-width: 150px;
	flow-children: right-wrap;
}

#ZooEmoticons AnimatedImageStrip, #ZooEmoticons DCGEmoticon
{
	margin: 2px;
}

#ZooDropDown
{
	vertical-align: top;
}

#ZooHTMLGroup
{
	width: 600px;
	height: 420px;
	padding: 10px;
	flow-children: down;
}

#ZooHTML
{
	width: 100%;
	height: fill-parent-flow( 1.0 );
	margin-bottom: 10px;
}


.TextSpan { color: red; }
.VarSpan { color: blue; }
