DCGLearnPage
{
    vertical-align: center;
    horizontal-align: left;
    opacity: 0;
	pre-transform-scale2d: 0.95;
    wash-color: rgb(111, 42, 151);
    z-index: -1;
    
	transition-property: opacity, pre-transform-scale2d, wash-color;
	transition-duration: 0.24s;
	transition-timing-function: ease-in-out;
}

.PlayLearn DCGLearnPage
{
    opacity: 1;
	pre-transform-scale2d: 1;
    wash-color: white;
    z-index: 1;
}



