/* Styles that are shared by all types*/
DCGCurrentChallenges
{
	flow-children: down;
	width: 400px;
	height: 400px;
	horizontal-align: right;
	vertical-align: bottom;
	margin-bottom: 100px;
	margin-right: 600px;
	box-shadow: fill #000000bb -12px -12px 24px 24px;
}

.Hidden
{
	visibility: collapse;
}

#ChallengesContainer
{
	width: 400px;
	flow-children: down;
	overflow: clip scroll;
}

#CurrentChallengesLabel
{
	text-transform: uppercase;
	font-size: 28px;
	color: goldenrod;
}