DCGNewPressBuildPage.DashboardPage
{
	background-color: #000000dd;
	background-blur: gaussian( 7 );
}


#NPBScene
{
	width: 10%;
    height: 10%;
    flow-children: right;
	horizontal-align: center;
    
    visibility: collapse;
}

.ButtonHolder
{
    flow-children: down;
    horizontal-align: center;
    vertical-align: center;
}


.NPBButton
{
    width: 800px;
    flow-children: down;

    horizontal-align: center;
    vertical-align: center;
}

#PvPToggle
{
    vertical-align: bottom;
    horizontal-align: right;
    color: black;
}

.MediaPvPMode #PvPToggle
{
    color: grey;
}

.NPBMatchLabel
{
    color: white;
    font-size: 56px;
    text-transform: uppercase;
    text-shadow: 0px 0px 6px 0.1 #00030399 ;
    text-align:center;
    letter-spacing: 8px;
    width:100%;
    transform: scaleX(0.97) scaleY(0.97);
    transition-property: transform;
    transition-duration: 0.31s;
    margin-bottom: 8px;
}

.NPBButton:hover .NPBMatchLabel
{
    transform: scaleX(1.03) scaleY(1.03);
}

.NPBButton:hover Label
{
    text-shadow: 0px 0px 6px 2.0 #87f9fd99;
}



