.ControlsPanel
{
	width: 100%;
	flow-children: down;
    horizontal-align: center;
}

#CollectionPanel
{
    height: fit-children;
    padding-bottom: 30px;
}

#NewLoreButton
{
    visibility: collapse;
}

.NewLoreAvailable #NewLoreButton
{
    visibility: visible;
}

#TournamentDeckEditorButton
{
    visibility: collapse;
}

.NeedRegisterTournamentDeck #TournamentDeckEditorButton,
.CanRegisterTournamentDeck #TournamentDeckEditorButton
{
    visibility: visible;
}
