/* styles for the social widgets */

DCGFriendMenu
{
	width: 100%;
	height: 100%;
	box-shadow: fill #000000bb -12px -12px 24px 24px;

	flow-children: down;
	vertical-align: bottom;
	horizontal-align: right;
	
	transition-property: box-shadow, width, opacity, transform, wash-color;
	transition-timing-function: ease-in-out;
	transition-duration: 0.35s;
}

.FriendsPanelMainArea
{
	transition-property: opacity;
	transition-timing-function: ease-in-out;
	transition-duration: 0.35s;	
}

DCGFriendMenu.Hidden
{
	opacity: 0.0;
	transform: translateY( 300px );
	wash-color: #000000;
	box-shadow: fill #00000000 -6px -6px 18px 12px;
}

DCGFriendMenu.EditMode
{
	width: 1025px;
}

#FriendPanelMainAreaContainer
{
	width: 100%;
	height: fill-parent-flow( 1.0 );
	flow-children: none;
	background-blur: gaussian( 7 );

	transition-property: height, opacity, transform, max-height;
	transition-timing-function: ease-in-out;
	transition-duration: 0.35s;
	transition-delay: 0.0s;

}

#FriendPanelFriendsList
{
	opacity: 1;
	box-shadow: fill #00000000 -6px -6px 18px 12px;
	width: 100%;
	height: 100%;
	overflow: squish scroll;
	flow-children: down;

	transition-property: height, opacity, transform, height;
	transition-timing-function: ease-in-out;
	transition-duration: 0.35s, 0.35s, 0.35s, 0.0s;
	transition-delay: 0.0s, 0.0s, 0.0s, 1s;
}

#FriendMenu #FriendPanelFriendsList
{
	height: 100%;
}
	
#FriendPanelFriendsList.Collapsed
{
	opacity: 0.0;
	height: 0px;
}



VerticalScrollBar, HTMLVerticalScrollBar
{
	background-color: #00000000;
	box-shadow: none;
}

VerticalScrollBar .ScrollThumb
{
	box-shadow: fill #000000aa -3px -3px 6px 6px;
}

#FriendsPanelHeader
{
	width: 100%;
	flow-children: down;
	min-height: 42px;
	background-image: url("s2r://panorama/images/main_menu/sub_header_bar_psd.vtex");
	background-size: 100% 100%;
}

#FriendsPanelWindowHeader
{
	width: 100%;
	padding: 2px;
	height: 100%;
}

#FriendsPanelWindowHeaderLeft
{
	flow-children: right;
	horizontal-align: left;
	vertical-align: middle;
	padding-left: 20px;
	padding-top: 1px;
}

#FriendLabel
{
	letter-spacing: 4px;
	font-size: 20px;
	font-weight: bold;
	text-shadow: 1px 1px 1px 1 black;
	color: gradient( linear, 0% 0%, 0% 100%, from( white ), color-stop( .3, #d0b891 ), color-stop( .3, #d0b891 ), color-stop( .8, #9d7f68 ), to( #9d7f68 ) );	
}
 
#FriendsPanelWindowHeaderRight
{
	flow-children: right;
	horizontal-align: right;
	vertical-align: middle;
}

#FriendsPanelWindowHeaderRight Button
{
	tooltip-position: top;
	tooltip-body-position: 50% 50%;
}

#FriendsTabButton
{
	width: 30px;
	height: 30px;
	
	/*
	removing these icons for now, unless/until we revamp Friends to include this functionality
	*/
	opacity: 0.0;

	background-position: 50% 50%;
	background-repeat: no-repeat;
	margin-left: 8px;
}

#FriendsPanelTabs Button
{
	vertical-align: middle;
}

#FriendsPanelTabs Button Label
{
	color: #949494;
	font-size: 20px;
}

#FriendsPanelTabs Button:hover Label
{
	text-decoration: underline;
}

#FriendsPanelTabs Button.Selected Label
{
	color: #646ea0;
	font-size: 20px;
	font-weight: bold;
}

.FriendsPanelTabSeparator
{
	margin-left: 8px;
	margin-right: 8px;
	color: #949494;
	font-size: 25px;
	vertical-align: middle;
}

#FriendsPanelMainAreaShadows
{
	margin-top: 42px;
	width: 100%;
	height: 100%;
	background-color: gradient( linear, 100% 0%, 100% 100%, from( #000000ff ), color-stop( 0.01, #00000000 ), color-stop( 0.94, #00000000 ), color-stop( 0.98, #00000022 ), to( #000000aa ) );
}


#CurrentUserStatus
{
	visibility: collapse;
	flow-children: right;
	padding: 8px;
	background-color: #1a1a1a;
	width: 100%;
}
#CurrentUserStatus #CurrentUser
{
	width: 50%;
}
#CurrentUserStatus #CurrentUserLookingToPlay
{
	width: 50%;
	vertical-align: middle;
	margin-right: 10px;
	margin-left: 40px;
	background-color: none;
}

.FriendsCategory
{
	flow-children: down;
	//padding: 10px 10px 0px 10px;
	//border-top: 1px solid black;
	width: 100%;
	height: fit-children;

	
	transition-property: height, opacity;
	transition-duration: .35s;
	transition-delay: 0.4s, 0.0s;
	transition-timing-function: ease-in-out;
    padding-bottom: 15px;
}

.FriendsCategory.Collapsed,
.FriendsCategory.Empty.HideWhenEmpty
{
	//height: 42px;
	//visibility: collapse;
    padding-bottom: 0px;
}

.FriendsCategory #FriendsHeader
{
	transition-property: height, opacity;
	transition-duration: 0.35s;
}

.FriendsCategory.Collapsed #FriendList, .FriendsCategory.Empty.HideWhenEmpty #FriendList
{
	padding-top: 0px;
	padding-bottom: 0px;
}

#HomeFriendsList #FriendsOnline,
#HomeFriendsList #FriendsOffline,
#HomeFriendsList #FriendsPending,
#HomeFriendsList #FriendsSentInvite
{
	background-color: transparent;   
}

#AddFriend
{
	width: 28px;
	height: 28px;
	background-image: url("s2r://panorama/images/control_icons/addfriend_png.vtex");
	background-position: 50% 50%;
	background-size: contain;
	background-repeat: no-repeat;
	horizontal-align: right;
	margin: 0px;
	margin-right: 12px;
}

#AddFriendMain
{
    width: 26px;
    height: 26px;
    background-image: url("s2r://panorama/images/control_icons/addfriend_png.vtex");
    background-position: 50% 50%;
    background-size: contain;
    background-repeat: no-repeat;
    horizontal-align: right;
    vertical-align: middle;
    margin: 0px;
    margin-right: 12px;
}

#FriendsHeader
{
	padding-top: 10px;
	padding-bottom: 8px;
	
	//width: 50%;
	height: 38px;

	font-size: 18px;
	font-weight: bold;
	color: #929ba0;
	background-color: none;
	opacity: 1;

	flow-children: right;
	
	transition-property: height, opacity;
	transition-duration: 0.2s;
	
}
#FriendsHeader .TickBox
{
	width: 12px;
	height: 12px;
	vertical-align: middle;
	background-image: url("s2r://panorama/images/control_icons/expand_collapse_png.vtex");
	background-size: contain;
	background-color: none;
	background-repeat: no-repeat;
	box-shadow: none;
	border: 0px solid transparent;
	wash-color: #888888;

	transition-property: transform,wash-color;
	transition-duration: 0.2s;	
	visibility: collapse;
}
#FriendsHeader Label
{
	color: white;
	margin: 0px 0px 0px 5px;
	vertical-align: middle;
	text-transform: uppercase;
	font-weight: light;
	letter-spacing: 3px;
}

#FriendsHeader:hover Label
{
	color: #ffffff;
}

#FriendsHeader:hover .TickBox
{
	wash-color: #ffffff;

}

.Empty #FriendsHeaderContainer
{
	height: 0px;
	opacity: 0;
	background-size: 5px 5px;
}

.Collapsed #FriendsHeader .TickBox
{
	transform: rotateZ( -90deg );
}

#FriendsHeaderContainer
{
	flow-children: right;
	width: 100%;
	margin-left: 20px;
	margin-right: 20px;
	horizontal-align: center;
	border-bottom: 1px solid #6e6e6b;
}

#NumberFriendsOnline
{
	font-size: 28px;
	font-weight: light;
	margin-left: 0px;
	margin-top: 5px;
	vertical-align: bottom;
	width: 50px;
	text-align: center;
}

#FriendList
{
	width: 100%;
	flow-children: right-wrap;
	padding-left: 20px;
	padding-bottom: 0px;
	padding-top: 0px;
	
	transition-property: height;
	transition-duration: 1s;
	transition-delay: 0.0s;
	transition-timing-function: ease-in-out;
}

.FriendMenuItem
{
	opacity: 0.0;
	height: 0px;
	//overflow: squish clip;
	width: 0px;
	transition-property: opacity, height, width;
	transition-duration: 0.3s;
	transition-delay: 0.0s;
	transition-timing-function: ease-in-out;

}

#FriendsHeader.Activated .FriendMenuItem
{
	height: 0px;
}


#CurrentUserStatus .FriendMenuItem.Visible
{
	opacity: 1.0;
	width: 100%;
	height: 96px;
}

#FriendList .FriendMenuItem.Visible
{
	opacity: 1.0;
	height: 64px;
	width: 100%;
}

#FriendsPlayingDCG.Collapsed .FriendMenuItem, 
#FriendsOnline.Collapsed .FriendMenuItem, 
#FriendsOffline.Collapsed .FriendMenuItem, 
#FriendsPending.Collapsed .FriendMenuItem, 
#FriendsSentInvite.Collapsed .FriendMenuItem
{
	height: 0px;
	opacity: 0;
}

.FriendDivider
{
	width: 100%;
	height: 1px;
	background-color: red;
}

#FriendListEmptyMessage
{
	margin-top: 48px;
	margin-bottom: 48px;
	padding-top: 8px;
	padding-bottom: 6px;
	width: 100%;
	text-transform: uppercase;
	text-align: center;
	letter-spacing: 2px;
	background-color: #00000055;
}

.EditButtonLabel
{
	text-transform: uppercase;
	letter-spacing: 1px;
	vertical-align: middle;
	horizontal-align: center;
    margin-top: 4px;
}

#HomeFriendsList #FriendPanelMainAreaContainer
{
	margin-top: 0px;
}