@define textColorGold: #e9c35e;

.ShopLabel
{
    width: 248px;
    height: 45px;
}

.ShopLabel Label
{
    height: 32px;
	font-size: 24px;
	font-weight: bold;
	text-shadow: 0px 0px 0px 2.0 #191410;
	letter-spacing: 1px;
	color: #191410;
    text-overflow: shrink;
	horizontal-align: center;
}

.FlowRight
{
    flow-children: right;
}