@define textColorGold: #e9c35e;

.ShopLabel
{
    width: 395px;
    height: 72px;
}

.ShopLabel Label
{

	font-size: 38px;
	font-family: Goudy Trajan Medium;
	font-weight: bold;
	text-shadow: 0px 0px 0px 2.0 #191410;
	letter-spacing: 2px;
	color: #191410;

	horizontal-align: center;
}

.FlowRight
{
    flow-children: right;
}