@define textColorGold: #e9c35e;

Panel
{
	height: 45px;
	width: 220px;
}

.ShopButtonContainer
{
	tooltip-body-position: 50% 50%;
	tooltip-arrow-position: 35% 35%;
}

.ShopButtonTextAndImageWrapper 
{
	background-image: url("s2r://panorama/images/shop/shop_button_enabled_background_psd.vtex");
	background-size: 100% 100%;
}

.ShopButtonLabelAndHoldCost
{
    height: 100%;
    width: fit-children;
    flow-children: right;
    horizontal-align: center;
}

.DisableButton .ShopButtonLabel
{
    background-image: none;
	text-shadow: 0px 0px 0px 2.0 #19141060;
	color: #19141060;
	animation-name: none;
}

.ShopButtonLabel
{
	height: 40px;
	font-size: 27px;
    width: 190px;
	horizontal-align: center;
    text-align: center;
    vertical-align: center;
	text-transform: uppercase;
	color: #f1e385;
	text-shadow: 0px 0px 6px 5.0 #FFFFFF10;
    animation-name: pulse-alpha;
	animation-duration: 1.75s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
    background-image: none;
    text-overflow:shrink;
    margin-top: 6px;
}

.IsHoldButton .ShopButtonLabel
{
    width: fit-children;
    margin-left: 10px;
    max-width: 160px;
}

.ShopButtonTextAndImageWrapper:hover
{
    background-image: url("s2r://panorama/images/shop/shop_button_hover_background_psd.vtex");
    background-size: 100% 100%;
	text-shadow: 0px 0px 10px 6.0 #e88c3b;
	color: 	white;
    animation-name: none;
}

.DisableButton .ShopButtonTextAndImageWrapper,
.DisableButton .ShopButtonTextAndImageWrapper:hover
{
    background-image: url("s2r://panorama/images/shop/shop_button_disabled_background_psd.vtex");
    background-size: 100% 100%;
	text-shadow: 0px 0px 0px 2.0 #19141060;
	color: #19141060;
	animation-name: none;
}

.HoldButtonCost
{
    visibility: collapse;
}

.HoldButtonCost Label
{
    margin-left: 14px;
    margin-top: 7px;
    font-size: 22px;
}

.IsHoldButton .HoldButtonCost {
    visibility: visible;
    width: 40px;
    height: 40px;
    font-size: 38px;
    vertical-align: bottom;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-image: url("s2r://panorama/images/card/cardstat_goldcost_psd.vtex");
    margin-bottom: 4px;
    color: white;
}

.DisableButton .HoldButtonCost
{
    visibility: collapse;
}

@keyframes 'pulse-alpha'
{
    0%
    {
	    text-shadow: 0px 0px 5px 3.0 black;
		color: #b9892a;
		brightness: 1.0;
    }

	50%
    {
		text-shadow: 0px 0px 5px 3.0 #e88c3b50;
		color: 	white;
		brightness: 3.75;
    }

    100%
    {
	    text-shadow: 0px 0px 5px 3.0 black;
		color: #b9892a;
		brightness: 1.0;
    }
}

@keyframes 'pulse-alpha-off'
{
    0%
    {
	    text-shadow: 0px 0px 6px 2.0 #FFFFFF20;
    }
}