DCGSettingsEnum
{
    flow-children: right;
    padding: 4px 4px;
	width: 100%;
}

DCGSettingsEnum Label
{
	font-size: 18px;
	color: #7d8688;
	margin: 0px;
	padding-top: 0px;
	padding-left: 5px;
	font-weight: thin;
}

DCGSettingsEnum.HorizontalEnum #values
{
    flow-children: right;
}

DCGSettingsEnum.HorizontalEnum #values RadioButton
{
    margin-right: 5px;
    width: 132px;
}

DCGSettingsEnum #title
{
    margin-right: 8px;
    width: 172px;
}

DCGSettingsEnum #values
{
    flow-children: down;
}

DCGSettingsEnum:disabled Label
{
    color: #333333;
}

DCGSettingsEnum:disabled RadioButton:selected Label
{
    //color: white;
}


.SummonedUnitAutoattack #title
{
	width: 162px;
}