.DotaCard
{
    width: 100%;
	padding-top: 4px;
    padding-bottom: 4px;
}

.MiniCard
{
	width: 100%;
    flow-children: right;
}

.CardBody
{
    width: 100%;
    flow-children: right;
    border-radius: 0px;
    margin-left: 1px;
    background-size: 100% 100%;
    height: 45px;
}

.CardBody:hover #CardName, .CardBody:hover #CostLabel, .CardBody:hover #TypeLabel, .CardBody:hover .RightGroup Label, .CardBody:hover #IncludeName 
{
    color: #ffffff;
    text-shadow: 0px 0px 2px .25 #0dfffc;
}

.CardBody:hover
{
    brightness: 1.75;
    saturation: 1.1;
    box-shadow: fill black 0px 0px 10px 8px;
    height: 63px;
    margin-top: -9px;
    margin-bottom: -9px;
    background-size: 132% 100%;
}

.IncludeCard .CardBody:hover
{
    brightness: 1;
    saturation: 1;
    box-shadow: fill black 0px 0px 10px 8px;
    height: 45px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.CardContainer:hover
{
    z-index: 1;
}

.CardBody:hover #CardName, .CardBody:hover #IncludeName
{
    width: 195px;
	text-overflow: shrink;
}

.CardBody:hover .CardArtGroup
{
    height: 63px;
    width: 63px;
}

.IncludeCard .CardBody:hover .CardArtGroup
{
    height: 45px;
    width: 45px;
}

.DeckListing .CardBody
{
    width:100%;
}

.IsItem .CardBody
{
    background-image: url("s2r://panorama/images/catalogue/card_list_bg_item_psd.vtex");
}

.Black .CardBody
{
    background-image: url("s2r://panorama/images/catalogue/card_list_bg_black_psd.vtex");
}

.Red .CardBody
{
    background-image: url("s2r://panorama/images/catalogue/card_list_bg_red_psd.vtex");
}

.Green .CardBody
{
    background-image: url("s2r://panorama/images/catalogue/card_list_bg_green_psd.vtex");
}

.Blue .CardBody
{
    background-image: url("s2r://panorama/images/catalogue/card_list_bg_blue_psd.vtex");
}

.HasHeroAssigned .CardBody
{
    height: 106px;
    width: 64px;
    background-size: 100% 100%;
}

.HasHeroAssigned .Red .CardBody
{
	background-image: url("s2r://panorama/images/catalogue/card_mini_bg_red_psd.vtex");
}

.HasHeroAssigned .Green .CardBody
{
	background-image: url("s2r://panorama/images/catalogue/card_mini_bg_green_psd.vtex");
}

.HasHeroAssigned .Blue .CardBody
{
	background-image: url("s2r://panorama/images/catalogue/card_mini_bg_blue_psd.vtex");
}

.HasHeroAssigned .Black .CardBody
{
	background-image: url("s2r://panorama/images/catalogue/card_mini_bg_black_psd.vtex");
}

.HasHeroAssigned .CardBody:hover
{
    height: 120px;
    width: 64px;
    background-size: 100% 100%;
}

.HasHeroAssigned .CardArtGroup
{
    width: 100%;
    height: 100%;
    vertical-align: center;
	horizontal-align: center;
	transition-property: width, height;
	transition-duration: 0.025s;
}

.HasHeroAssigned #CardArtHeroIcon
{
    horizontal-align: center;
	vertical-align: center;
}

.HasHeroAssigned .CardNameGroup
{
    visibility: collapse;
}

.HasHeroAssigned .RightGroup
{
    visibility: collapse;
}

.CostGroup
{
    width: 56px;
    height: 100%;
    padding: 0px;
    horizontal-align: left;
}

.IsHero .CostGroup
{
    width: 50px;
    visibility: collapse;
}

.IsHero #TypeLabel
{
    visibility: visible;
}

#TypeLabel
{
    width: 26px;
    height: 40px;
    horizontal-align: left;
    vertical-align: center;
    font-size: 32;
    margin-left: 4px;
    margin-right: 4px;
    font-family: cardHeaderLarge;
    color: gradient( linear, 0% 0%, 0% 100%, from( #e5e5e5 ), to( #999999) );
    text-shadow: .5px .5px 2px 2.0 black;
    transition-property: color, text-shadow;
    transition-duration: 0.1s;
    transition-timing-function: linear;
}

.IsHero #CostLabel
{
    visibility: collapse;
}

#CostLabel
{
    height: 25px;
    vertical-align: center;
    font-size: 20px;
    font-family: Radiance;
    font-weight: light;
    color: gradient( linear, 0% 0%, 0% 100%, from( #e5e5e5 ), to( #999999) );
    text-shadow: .5px .5px 2px 2.0 black;
    transition-property: color, text-shadow;
    transition-duration: .3s;
    transition-timing-function: linear;
}

.CardNamePanel
{
    vertical-align: center;
    flow-children: down;
    height: fit-children;
}

#CardName
{
    width: 195px;
    height: 30px;
    vertical-align: center;	
    margin-top: 5.0px;
    margin-left: 5px;
    font-size: 20px;
    text-overflow: shrink;
    font-family: Radiance;
    font-weight: light;
    color: gradient( linear, 0% 0%, 0% 100%, from( #e5e5e5 ), to( #999999) );
    text-shadow: .5px .5px 2px 2.0 black;
    transition-property: color, text-shadow;
    transition-duration: .3s;
    transition-timing-function: linear;
    vertical-align: top;
}

.IncludeCard #CardName,
.HasPrice #CardName
{
	margin-top: 0px;
	margin-bottom: -12px;	
}

#IncludeName
{
	visibility: collapse;
}

.IncludeCard #IncludeName 
{
    width: 195px;
	margin-top: 2px;
	margin-left: 5px;
    font-size: 14px;
	text-overflow: shrink;
    font-family: Radiance;
	font-weight: light;
	color: gradient( linear, 0% 0%, 0% 100%, from( #e5e5e5 ), to( #999999) );
	text-shadow: .5px .5px 2px 2.0 black;
	transition-property: color, text-shadow;
	transition-duration: .3s;
	transition-timing-function: linear;
	visibility: visible;
}

#CardCost
{
    margin-top: 5px;
    margin-left: 5px;
	visibility: collapse;
}

.HasPrice #CardCost
{
	visibility: visible;
}

#CardCost Label
{
    vertical-align: center;
    font-size: 14px;
    font-family: Radiance;
    font-weight: light;
    color: gradient( linear, 0% 0%, 0% 100%, from( #c5e5c5 ), to( #119911) );
    text-shadow: .5px .5px 2px 2.0 black;
    transition-property: color, text-shadow;
    transition-duration: .3s;
    transition-timing-function: linear;
    vertical-align: top;
}

.TypeGroup
{
    visibility: collapse;
}

.CardArtGroup
{
    width: 45px;
    height: 45px;
    margin: 0;
    vertical-align: bottom;
    transition-property: height, width, brightness;
    transition-timing-function: ease-in-out;
    transition-duration: .025s;
}

#CardArtMiniIcon
{
    width: 100%;
    height: 100%;
    visibility: visible;
    box-shadow: fill black 0px 0px 0px 0px;
}

.CardBody:hover #CardArtMiniIcon
{
    box-shadow: fill black 1px 0px 12px 0px;
}

.IsHero #CardArtMiniIcon
{
    visibility: collapse;
}

#CardArtHeroIcon
{
    width: 32px;
    height: 32px;
    margin-left: 2px;
    horizontal-align: left;
    vertical-align: center;
    visibility: collapse;
}

.CardBody:hover #CardArtHeroIcon
{
    width: 44px;
    height: 44px;
}

.IsHero #CardArtHeroIcon
{
    visibility: visible;
}

.CardNameGroup
{
    flow-children: right;
	vertical-align: center;
    width: 200px;
	height: 39px;
}

.RightGroup
{
    horizontal-align: right;
    vertical-align: center;
    flow-children: right;
    visibility: visible;
}

.RightGroup Label
{
    height: 25px;
    vertical-align: center;
    font-size: 20px;
    font-family: Radiance;
	font-weight: light;
	color: gradient( linear, 0% 0%, 0% 100%, from( #e5e5e5 ), to( #999999) );
	text-shadow: .5px .5px 2px 2.0 black;
	margin-right: 18px;
	transition-property: color, text-shadow;
	transition-duration: .3s;
	transition-timing-function: linear;
	text-overflow: shrink;
}

.HideInstanceCount .RightGroup Label
{
    visibility: collapse;
}

.HasUnowned .RightGroup Label,
.IsDimmed .RightGroup Label
{
    color: #dedede;
}

.HasUnowned .RightGroup,
.IsDimmed .RightGroup
{
    opacity: 0.5;
}

.StatsGroup
{
    flow-children: right;
    margin-right: 2px;
    visibility: collapse;
}

.ArmorGroup
{
    width: 35px;
	height: 35px;
	background-image: url("s2r://panorama/images/card_elements/combat_preview_shield_png.vtex");
	background-size: 100% 100%;
	visibility: collapse;
}

.HasArmor .ArmorGroup
{
    visibility: collapse;
}

#ArmorLabel
{
	font-size: 17px;
	text-overflow: shrink;
	font-family: cardHeaderLarge;
    horizontal-align: center;
    vertical-align: center;   
    color: black; 
}

#AttackHealthLabel
{
	vertical-align: center;
	font-size: 17px;
	text-overflow: shrink;
	font-family: cardHeaderLarge;
	color: #dedede;
}

#ErrorIcon
{
    margin: 2px;
    horizontal-align: left;
    vertical-align: top;
    width: 18px;
    height: 18px;
	background-size: contain;
	background-repeat: no-repeat;
    z-index: 1;
    visibility: collapse;
}

.HasUnowned #ErrorIcon
{
    background-image: url("s2r://panorama/images/deck_builder/buttons/samplehand_png.vtex");
    visibility: visible;
}

.HasErrors #ErrorIcon
{
    background-image: url("s2r://panorama/images/deck_builder/buttons/warning_png.vtex");
    visibility: visible;
}

.CostAndIcon
{
    height: 100%;
    padding: 0px;
    flow-children: right;
    vertical-align: center;
    horizontal-align: left;
}

.IsHero #TypeIcon
{
    visibility: collapse;
}

#TypeIcon
{
    margin-left: 6px;
    width: 28px;
    height: 28px;
    vertical-align: center;
    background-color: black;
    opacity: 0.8;
    background-size: 100% 100%;

    visibility: collapse;
}

#IncludedByCardArtMiniIcon
{
    width: 28px;
    height: 28px;
    visibility: collapse;
    horizontal-align: right;
	vertical-align: center;
}

.IncludeCard #IncludedByCardArtMiniIcon
{
    visibility: visible;
}

.IsSpell #TypeIcon
{
    opacity-mask: url("s2r://panorama/images/card/cardtype_spell_psd.vtex");
    background-image: url("s2r://panorama/images/card/cardtype_spell_psd.vtex");
}
.IsCreep #TypeIcon
{
    opacity-mask: url("s2r://panorama/images/card/cardtype_creep_png.vtex");
    background-image: url("s2r://panorama/images/card/cardtype_creep_png.vtex");
}
.IsImprovement #TypeIcon 
{
    opacity-mask: url("s2r://panorama/images/card/cardtype_improvement_psd.vtex");
    background-image: url("s2r://panorama/images/card/cardtype_improvement_psd.vtex");
}

.IsHero #TypeIcon
{
    opacity-mask: url("s2r://panorama/images/card/cardtype_hero_png.vtex");
    background-image: url("s2r://panorama/images/card/cardtype_hero_png.vtex");
}

.ItemWeapon #TypeIcon
{
    opacity-mask: url("s2r://panorama/images/card/cardtype_weapon_psd.vtex");
    background-image: url("s2r://panorama/images/card/cardtype_weapon_psd.vtex");
}

.ItemArmor #TypeIcon
{
    opacity-mask: url("s2r://panorama/images/card/cardtype_armor_psd.vtex");
    background-image: url("s2r://panorama/images/card/cardtype_armor_psd.vtex");
}

.ItemAccessory #TypeIcon
{
    opacity-mask: url("s2r://panorama/images/card/cardtype_health_psd.vtex");
    background-image: url("s2r://panorama/images/card/cardtype_health_psd.vtex");
}

.ItemDeed #TypeIcon,
.ItemConsumable #TypeIcon
{
    opacity-mask: url("s2r://panorama/images/card/cardtype_consumable_psd.vtex");
    background-image: url("s2r://panorama/images/card/cardtype_consumable_psd.vtex");
}

.DeckListing .RightGroup
{
    margin-right: 0px;
}

.DeckListing .CardNameGroup
{
    height: 100%;
    width: fit-children;
}