CatalogueCard
{
    width: fit-children;
    height: fit-children;
}

.Card
{
	text-align: center;
	horizontal-align: left;
	vertical-align: top;

    width: 100%;
    height: 100%;

	color: #FFFFFFFF;

	background-image: url("s2r://panorama/images/catalogue/card_mini_bg_red_psd.vtex");
    background-size: 100% 100%;
}

.Dragging .Card
{
    width: 96px;
    height: 164px;
}

.Red .Card
{
    background-image: url("s2r://panorama/images/catalogue/card_mini_bg_red_psd.vtex");
}

.Blue .Card
{
    background-image: url("s2r://panorama/images/catalogue/card_mini_bg_blue_psd.vtex");
}

.Green .Card
{
    background-image: url("s2r://panorama/images/catalogue/card_mini_bg_green_psd.vtex");
}

.Black .Card
{
    background-image: url("s2r://panorama/images/catalogue/card_mini_bg_black_psd.vtex");
}

.IsItem .Card
{
    background-image: url("s2r://panorama/images/catalogue/card_mini_bg_item_psd.vtex");
}

.CardArtGroup
{
    flow-children: down;
    margin-top: 7px;
    width: 100%;
    height: 100%;

    horizontal-align: center;
    vertical-align: top;

    visibility: visible;
}

#CardArtMiniIcon
{
    width: 96px;
    height: 96px;
    visibility: visible;
}

#CardArtHeroIcon
{
    width: 100%;
    height: 100%;
    visibility: collapse;
    horizontal-align: center;
	vertical-align: center;
}

#CardArtTypeContainer
{
    width: 100%;
    height: 100%;

    visibility: visible;
    flow-children: none;
}


.CardArtTypeIcon
{
    width: 100%;
    height: 42px;

    text-align: center;
    vertical-align: center;

    font-size: 42px;

    margin-bottom: 14px;

    visibility: collapse;

    color: gradient( linear, 0% 0%, 0% 100%, from( #e5e5e5 ), to( #999999) );
}

.IsHero #CardArtTypeHero,
.IsCreep #CardArtTypeCreep,
.IsSpell #CardArtTypeSpell,
.IsImprovement #CardArtTypeImprovement,
.ItemWeapon #CardArtTypeWeapon,
.ItemArmor #CardArtTypeArmor,
.ItemAccessory #CardArtTypeAccessory,
.ItemConsumable #CardArtTypeConsumable,
.ItemDeed #CardArtTypeConsumable,
.ActiveAbility #CardArtTypeActive
{
    visibility: visible;
}
