.FiltersBody
{
    flow-children: down;
}

.FiltersBody Panel .ColorFilters, .FiltersBody Panel .ItemTypeFilters
{
    margin-right: 0px;
}

.FiltersBody 
{
    margin-right: 15px;
	horizontal-align: left;
}

.CardFilterRow
{
    flow-children: down;
	horizontal-align: right;
    margin-left: 40px;
}

.CardFiltersLabel
{
	width: 60px;
    font-size: 12px;
	text-align: right;
    vertical-align: center;
    text-transform: uppercase;
    margin-right: 4px;
    color: #FFFFFF;
}

.CardFiltersControls
{
    flow-children: none;
}

.Search.CardFilterRow
{
    flow-children: none;
}

.Search .CardFiltersControls
{
    horizontal-align: left;
}

#CardFiltersName
{
	font-size: 18px;
    margin-top: 22px;
	width: 210px;
	height: 36px;
    border: 1px uiNeutralGrey;
    background-color: #000000aa;
}

.ApplyingTextFilter #CardFiltersName 
{
	border: 1px solid white;
	box-shadow: #0dfffc 0px 0px 4px 0px;
}

#ClearCardFilterTextButton
{    
    vertical-align: center;
    margin-left: 4px;
    visibility: collapse;
}

.ApplyingTextFilter #ClearCardFilterTextButton
{
    visibility: visible;
}

#ClearCardFilterTextButton Label
{
	height: 25px;
	width: 25px;
    background-image: url("s2r://panorama/images/catalogue/quit_icon_psd.vtex");   
	background-size: 100% 100%;
	margin-left: 170px;
}

#ClearCardFilterTextButton Label:hover
{
    color: red;    
}

.FilterButtonIcon
{
    width: 30px;
    height: 30px;
  	margin: 2px;
    border: 1px solid grey;
    vertical-align: center;
    background-color: black;
}

RadioButton.FilterButtonText .RadioBox,
RadioButton.FilterButtonIcon .RadioBox
{
    visibility: collapse;
}

.CardAgeDropDown
{
    width: 240px;
    height: 35px;
    background-color: black;
}

.FilterButton
{
	height: 25px;
	width: 25px;
	margin: 2px;

	vertical-align: center;

    border: 1px solid #949494;
	opacity: 0.5;
	background-size: 100% 100%;
	border-radius: 10%;

	transition-property: opacity;
	transition-duration: 0.3s;
}

.FilterButton:hover
{
	border: 1px solid white;
	box-shadow: #0dfffc 0px 0px 4px 0px;
}

.FilterButton.Active
{
   	opacity: 1;
	
	transition-property: opacity;
	transition-duration: 0.3s;
}

.FilterButton.Filtered
{
	border: 1px solid grey;
	opacity: 0.25;

	transition-property: opacity;
	transition-duration: 0.1s;
}

#RedColorFilter
{
	background-image:url("s2r://panorama/images/catalogue/suite_color_icon_red_psd.vtex");
}


#BlueColorFilter
{
	background-image:url("s2r://panorama/images/catalogue/suite_color_icon_blue_psd.vtex");
}

#GreenColorFilter
{
	background-image:url("s2r://panorama/images/catalogue/suite_color_icon_green_psd.vtex");
}

#BlackColorFilter
{
	background-image:url("s2r://panorama/images/catalogue/suite_color_icon_black_psd.vtex");
}

#NeutralColorFilter
{
	background-image: url("s2r://panorama/images/catalogue/suite_color_icon_item_psd.vtex");
}

.CardFiltersControlsCost
{
	flow-children: right;
}

.CostFilterLabel
{
	font-size: 14px;
	horizontal-align: center;
	vertical-align: center;
}

.CardFiltersControlsType
{
	flow-children: right;
}

.TypeFilterLabel
{
	font-size: 16px;
	horizontal-align: center;
	vertical-align: center;
}

.FilterButtonIconImage 
{
    width: 100%;
    height: 100%;
    background-color: gray;
}

.FilterButtonIcon:hover .FilterButtonIconImage,
.FilterButtonIcon:selected .FilterButtonIconImage
{
    background-color: white;
}


.FilterButtonText:selected,
.FilterButtonIcon:selected,
.FilterButton.Active
{
	border: 1px #949494;
	box-shadow: #0dfffc 0px 0px 2px 0px;
	brightness:2;
}

.FilterButtonSpell
{
    background-size: 100% 100%;
    background-image: url("s2r://panorama/images/card/cardtype_spell_psd.vtex");
    opacity-mask: url("s2r://panorama/images/card/cardtype_spell_psd.vtex");
}

.FilterButtonImprovement 
{
    background-size: 100% 100%;
    background-image: url("s2r://panorama/images/card/cardtype_improvement_psd.vtex");
    opacity-mask: url("s2r://panorama/images/card/cardtype_improvement_psd.vtex");
}

.FilterButtonCreep
{
    background-size: 100% 100%;
    background-image: url("s2r://panorama/images/card/cardtype_creep_psd.vtex");
    opacity-mask: url("s2r://panorama/images/card/cardtype_creep_psd.vtex");
}

.FilterButtonArmor
{
    background-size: 100% 100%;
    background-image: url("s2r://panorama/images/card/cardtype_armor_psd.vtex");
    opacity-mask: url("s2r://panorama/images/card/cardtype_armor_psd.vtex");
}

.FilterButtonConsumable
{
    background-size: 100% 100%;
    background-image: url("s2r://panorama/images/card/cardtype_consumable_psd.vtex");
    opacity-mask: url("s2r://panorama/images/card/cardtype_consumable_psd.vtex");
}

.FilterButtonAccessory
{
    background-size: 100% 100%;
    background-image: url("s2r://panorama/images/card/cardtype_health_psd.vtex");
    opacity-mask: url("s2r://panorama/images/card/cardtype_health_psd.vtex");
}

.FilterButtonWeapon
{
    background-size: 100% 100%;
    background-image: url("s2r://panorama/images/card/cardtype_weapon_psd.vtex");
    opacity-mask: url("s2r://panorama/images/card/cardtype_weapon_psd.vtex");
}

.ContextualVisibility
{
    visibility: collapse;
}

.InCollection .Collection,
.ModeCollectionAll .AllCollection,
.ModeBuilderHeroes .Heroes,
.ModeBuilderMain .Main,
.ModeBuilderItems .Shop
{
    visibility: visible;
}

.Search
{
	vertical-align: center;
    //margin-right: 50px;
}

.Sort
{
	vertical-align: center;
    width: 175px;
}

.TypeFilters
{
	vertical-align: center;
}

.RarityFilters
{
    width: 190px;
}

.ColorFilters, .ItemTypeFilters
{
	vertical-align: center;
}

.SearchIcon
{
	width: 17px;
	height: 17px;
	horizontal-align: right;
	vertical-align: center;
	margin-left: -26px;
	margin-right: 10px;
    margin-top: 22px;
	background-size: 100% 100%;
	background-image:url("s2r://panorama/images/catalogue/search_icon_psd.vtex");
	wash-color: #444444;
}


.CardFiltersControls DropDown
{
    background-image:none;
    box-shadow:none;
    transition-property: none;
    border: 0px;
    background-color: gradient( linear, 0% 0%, 0% 100%, from( #eaeaea00), to( #ababab00) );    
}

DropDown Label
{
    visibility:collapse;
}

.ColorFiltersControls
{
    flow-children: right;
}

.FiltersBody Panel .ColorFiltersControls, .FiltersBody Panel .ItemTypeFiltersControls
{
	margin-right: 0px;
}

.CurrentFilterIndicator
{
    margin-top:40px;
}

.HideElement
{
    visibility: collapse;
}

.AllOption
{
    visibility: collapse;
}

.DropDownInUse .AllOption
{
    visibility: visible;
}

.FilterButtonItemType
{
    background-size: 100% 100%;
}

#WeaponFilter
{
    background-image:url("s2r://panorama/images/catalogue/suite_color_icon_weapon_psd.vtex");
}

#ArmorFilter
{
    background-image:url("s2r://panorama/images/catalogue/suite_color_icon_armor_psd.vtex");
}

#AccessoryFilter
{
    background-image:url("s2r://panorama/images/catalogue/suite_color_icon_health_psd.vtex");
}

#ConsumableFilter
{
    background-image:url("s2r://panorama/images/catalogue/suite_color_icon_consumable_psd.vtex");
}

.Filters
{
    margin-top: 13px;
    flow-children:none;
}

.Filters .HideElement
{
    visibility: collapse;
}

.ItemTypeFiltersControls
{
    flow-children: right;
}

.ModeSwitch
{
    height: 80px;
	width: 60px;
	flow-children: right;
}

.FiltersBody .ModeSwitch
{
	margin-right: 50px;
    horizontal-align: left;
}

#LibraryMode
{
	height: 25px;
	width: 25px;
	vertical-align: center;
	margin-right: 10px;
	horizontal-align: right;
	background-size: 100% 100%;
	background-image:url("s2r://panorama/images/catalogue/list_view_icon_psd.vtex");
	wash-color: #ffffff;
}

.CollectionView #LibraryMode
{
    wash-color: uiNeutralGrey;
}

#CollectionMode
{
	height: 25px;
	width: 25px;
	vertical-align: center;
	horizontal-align: right;
	background-size: 100% 100%;
	background-image:url("s2r://panorama/images/catalogue/catalog_view_icon_psd.vtex");
	wash-color: uiNeutralGrey;
}

.CollectionView #CollectionMode
{
    wash-color: #ffffff;
}

.ItemTypeFilters Label,
.CardFiltersControls Label,
.CardTypeFiltersControls Label,
.ColorFilters Label
{
    z-index: 2;
	text-align: center;
	vertical-align: center;
    horizontal-align: center;
	font-weight: light;
	color: uiNeutralGrey;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.Search .CardFiltersControls
{
    flow-children:right;
}

.Filters .CardFiltersControls
{
    flow-children: down;
}

.Filters .CardFiltersControls Panel
{
    flow-children: right;
}

.FilterAreaTitle
{
    text-transform: uppercase;
    letter-spacing: 3px;
}

.Active
{
    brightness: 2;
   	border: 1px #949494;
	box-shadow: #0dfffc 0px 0px 2px 0px;
}

.FilterButtonText Label
{
    text-transform: none;
	height: 30px;
    min-width: 40px;
	vertical-align: center;
    margin-right: 2px;
    margin-left: 2px;
    color: grey;
}
.FilterButtonText.Active,
.FilterButtonText .Active
{
    brightness: 4;
    border: 0px;
    box-shadow: none;
}

#FilterPlayCardTypeHero
{
    margin-right: 20px;
}

.CardTypeFiltersControls
{
    margin-top: 14px;
}

.CardTypeFiltersControls Panel
{
    flow-children: right;
}

.HorizontalCenter
{
    horizontal-align: center;
}

.FlowDown
{
    flow-children: down;
}

.FlowRight
{
    flow-children: right;
}

.FilterPlayCardTypeMainDeck
{
    margin-left: 20px;
    border: 1px solid #585858;
    border-radius: 3px;
    padding-left: 6px;
    padding-right: 6px;
}

.FilterPlayCardTypeItemDeck
{
    border: 1px solid #585858;
    border-radius: 3px;
    padding-left: 6px;
    padding-right: 6px;
}

#FilterDeckTypeHero
{
    margin-left: 16px;
	background-image:url("s2r://panorama/images/catalogue/card_type_icon_hero_psd.vtex");
}

#FilterMainDeckSubtypeImprovement
{
	background-image:url("s2r://panorama/images/catalogue/card_type_icon_improvement_psd.vtex");
}

#FilterMainDeckSubtypeSpell
{
	background-image:url("s2r://panorama/images/catalogue/card_type_icon_spell_psd.vtex");
}

#FilterMainDeckSubtypeCreep
{
	background-image:url("s2r://panorama/images/catalogue/card_type_icon_creep_psd.vtex");
}


.FilterDeckTypeMain:Hover .FilterButtonText, 
.FilterDeckTypeItem:Hover .FilterButtonText,
.FilterButtonText:Hover .RarityText
{
    color: #FFFFFF;
}

#FilterRarityBasic
{
    background-size: 100% 100%;
	background-image:url("s2r://panorama/images/catalogue/card_rarity_icon_basic_psd.vtex");
}

#FilterRarityCommon
{
    background-size: 100% 100%;
    background-image:url("s2r://panorama/images/catalogue/card_rarity_icon_common_psd.vtex");
}

#FilterRarityUncommon
{
    background-size: 100% 100%;
    background-image:url("s2r://panorama/images/catalogue/card_rarity_icon_uncommon_psd.vtex");
}

#FilterRarityRare
{
    background-size: 100% 100%;
	background-image:url("s2r://panorama/images/catalogue/card_rarity_icon_rare_psd.vtex");
}