#PopupSaveAs
{
    min-height:250px;
}

.MainBody
{
    flow-children: down;
    horizontal-align:center;
    vertical-align:center;
    height:100%;
    width:100%;
}

.LabelRow
{
    flow-children: right;
    horizontal-align: center;
    margin-top: 16px;
}

.ButtonRow
{
    flow-children: right;
}

.DuplicateWarningRow
{
    horizontal-align: center;
    opacity: 0;
}

.IsDuplicateName .DuplicateWarningRow
{
    opacity: 1;
}

.DuplicateWarning
{
    color: red;    
}

.ButtonRow
{
    margin-bottom: 32px;
    vertical-align:bottom;
}

.EmptyName #OKButton
{
    opacity: 0.2;
}

.EmptyName #OKButton:hover
{
    brightness: 1;
}
#OKButton
{
    horizontal-align:right;
}

.TopContainer
{
    width:100%;
}