.FiltersBody
{
    flow-children: down;
	horizontal-align: left;
}

.FiltersBody Panel .ColorFilters, .FiltersBody Panel .ItemTypeFilters
{
    margin-right: 0px;
}

.FiltersBody Label
{
    z-index: 2;
	text-align: left;
	vertical-align: top;
    horizontal-align: left;
	font-weight: light;
	color: uiNeutralGrey;
    text-transform: uppercase;
    letter-spacing: 2px;
	text-overflow: shrink;
	font-size: 17px;
	height: 22px;
}

.Language_german .FiltersBody Label
{
	letter-spacing: 1px;
}

.Language_french .FiltersBody Label
{
	letter-spacing: 0px;
}

.Language_italian .FiltersBody Label
{
	letter-spacing: 0px;
}

.Language_spanish .FiltersBody Label
{
	letter-spacing: 1px;
}

.Language_russian .FiltersBody Label
{
	letter-spacing: 0px;
}

.Search Label
{
    horizontal-align: center;
}

.CardFilterRow
{
    flow-children: down;
	horizontal-align: right;
}

.CardFilterRow.DeckSummaryDoubleLine
{
	border-top: 0px solid;
	padding-left: 12px;
}

.CardFilterRow.DeckSummarySingleLine
{
	border-top: 0px solid;
}

.CardFiltersLabel
{
	width: 60px;
    font-size: 12px;
	text-align: right;
    vertical-align: center;
    text-transform: uppercase;
    margin-right: 4px;
    color: #FFFFFF;
}

.CardFiltersControls
{
    flow-children: none;
}

.Search.CardFilterRow
{
    flow-children: none;
}

.Search .CardFiltersControls
{
    horizontal-align: left;
}

.Search TextEntry #PlaceholderText
{
	margin-top: 4px;
	font-size: 17px;
	color: uiNeutralGrey;
}

#CardFiltersName
{
	font-size: 17px;
    width: 240px;
	height: 41px;
    border: 0px #00000000;
	padding: 12px 4px 8px 4px;
    background-color: #FFFFFF04;
	background-color: gradient( linear, 100% 0%, 0% 0%, from( #abe9f008 ), to( #d0bce908) );
    vertical-align: center;
	margin-top: 4px;
}

.ApplyingTextFilter #CardFiltersName 
{
    border: 0px #00000000;
	box-shadow: #0dfffc 0px 0px 4px 0px;
}

#CardFiltersName #PlaceholderText
{
    vertical-align: center;
    margin-top: 0px;
}

#SearchContainer TextEntry 
{
    padding-left: 10px;
	padding-top: 11px;
}


#ClearCardFilterTextButton
{    
    vertical-align: center;
    visibility: collapse;
    horizontal-align: right;
    margin-right: 4px;
}

.ApplyingTextFilter #ClearCardFilterTextButton
{
    visibility: visible;
}

#ClearCardFilterTextButton Label
{
	height: 25px;
	width: 25px;
    background-image: url("s2r://panorama/images/catalogue/quit_icon_psd.vtex");   
	background-size: 100% 100%;

}

#ClearCardFilterTextButton Label:hover
{
    color: red;    
}

.FilterButtonIcon
{
    width: 24px;
    height: 24px;
  	margin: 2px;
    border: 0px solid grey;
    vertical-align: center;
    background-color: black;
}

RadioButton.FilterButtonText .RadioBox,
RadioButton.FilterButtonIcon .RadioBox
{
    visibility: collapse;
}

.CardAgeDropDown
{
    width: 240px;
    height: 35px;
    background-color: black;
}

.FilterButton
{
	height: 22px;
	width: 22px;
	margin-right: 8px;

	vertical-align: center;

	opacity: .8;
	background-size: 100% 100%;
	
	border: 1px solid #00000000;
	box-shadow: #5b62bf00 -4px -4px 0px 8px;

	transition-property: opacity, box-shadow, border;
	transition-duration: 0.3s;
    background-color: gradient( linear, 100% 0%, 0% 0%, from( #abbbf017 ), to( #d0bce919) );
    
    tooltip-position: bottom;
    tooltip-body-position: 100%;
}

.FilterButton:hover
{
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #e7f6f5 ), to( #a0d6d7 ) );
	background-color: gradient( linear, 100% 0%, 0% 0%, from( #abbbf022 ), to( #d0bce924) );
	box-shadow: #5b62bf -4px -4px 4px 8px;
	border: 1px solid #FFFFFF88;
	
	transition-property: opacity, box-shadow, border;
	transition-duration: 0.3s;
}

Label.FilterButtonGlyph 
{
	font-size: 22px;
	color: #b5d0d0;
	letter-spacing: 0;
	text-overflow: clip;
	margin-top: -3px;
	margin-left: 1px;
}

Label.FilterButtonGlyph.Active
{
	color: white; 
}

.FilterButton.Active
{
   	opacity: 1;
	background-color: gradient( linear, 100% 0%, 0% 0%, from( #abbbf022 ), to( #d0bce924) );
	
	transition-property: opacity, box-shadow, border;
	transition-duration: 0.3s;
}


.FilterButton.Filtered
{
	border: 1px solid grey;
	opacity: 0.25;
	
	transition-property: opacity;
	transition-duration: 0.1s;
}

#RedColorFilter
{
	background-image:url("s2r://panorama/images/catalogue/suite_color_icon_red_psd.vtex");
}


#BlueColorFilter
{
	background-image:url("s2r://panorama/images/catalogue/suite_color_icon_blue_psd.vtex");
}

#GreenColorFilter
{
	background-image:url("s2r://panorama/images/catalogue/suite_color_icon_green_psd.vtex");
}

#BlackColorFilter
{
	background-image:url("s2r://panorama/images/catalogue/suite_color_icon_black_psd.vtex");
}

.CardFiltersControlsCost
{
	flow-children: right;
}

.CostFilterLabel
{
	font-size: 14px;
	horizontal-align: center;
	vertical-align: center;
}

.CardFiltersControlsType
{
	flow-children: right;
}

.TypeFilterLabel
{
	font-size: 16px;
	horizontal-align: center;
	vertical-align: center;
}

.FilterButtonIconImage 
{
    width: 100%;
    height: 100%;
    background-color: gray;
}

.FilterButtonIcon:hover .FilterButtonIconImage,
.FilterButtonIcon:selected .FilterButtonIconImage
{
    background-color: white;
}


.FilterButtonText:selected,
.FilterButtonIcon:selected,
.FilterButton.Active
{
	border: 1px #949494;
	box-shadow: #0dfffc 0px 0px 2px 0px;
	border: 1px solid #FFFFFF10;
	box-shadow: #5b62bf77 -2px -2px 12px 4px;
	brightness:2;
}

.FilterButtonSpell
{
    background-size: 100% 100%;
    background-image: url("s2r://panorama/images/card/cardtype_spell_psd.vtex");
    opacity-mask: url("s2r://panorama/images/card/cardtype_spell_psd.vtex");
}

.FilterButtonImprovement 
{
    background-size: 100% 100%;
    background-image: url("s2r://panorama/images/card/cardtype_improvement_psd.vtex");
    opacity-mask: url("s2r://panorama/images/card/cardtype_improvement_psd.vtex");
}

.FilterButtonCreep
{
    background-size: 100% 100%;
    background-image: url("s2r://panorama/images/card/cardtype_creep_psd.vtex");
    opacity-mask: url("s2r://panorama/images/card/cardtype_creep_psd.vtex");
}

.FilterButtonArmor
{
    background-size: 100% 100%;
    background-image: url("s2r://panorama/images/card/cardtype_armor_psd.vtex");
    opacity-mask: url("s2r://panorama/images/card/cardtype_armor_psd.vtex");
}

.FilterButtonConsumable
{
    background-size: 100% 100%;
    background-image: url("s2r://panorama/images/card/cardtype_consumable_psd.vtex");
    opacity-mask: url("s2r://panorama/images/card/cardtype_consumable_psd.vtex");
}

.FilterButtonAccessory
{
    background-size: 100% 100%;
    background-image: url("s2r://panorama/images/card/cardtype_health_psd.vtex");
    opacity-mask: url("s2r://panorama/images/card/cardtype_health_psd.vtex");
}

.FilterButtonWeapon
{
    background-size: 100% 100%;
    background-image: url("s2r://panorama/images/card/cardtype_weapon_psd.vtex");
    opacity-mask: url("s2r://panorama/images/card/cardtype_weapon_psd.vtex");
}

.ContextualVisibility
{
    visibility: collapse;
}

.InCollection .Collection,
.ModeCollectionAll .AllCollection,
.ModeBuilderHeroes .Heroes,
.ModeBuilderMain .Main,
.ModeBuilderItems .Shop
{
    visibility: visible;
}

.Sort
{
	vertical-align: top;
}

.CardSortControls
{
	vertical-align: top;
    width: 160px;
}

.CardFilterControls
{
    width: 145px;
	
	visibility: collapse;
}

.HeroFilter
{
    width: 160px;
	
}

.MainFilter
{
    width: 160px;
	
}

.ItemTypeFilters
{
    width: 160px;
	
}

.ColorFilters
{
    width: 160px;
	
}

.RarityFilter
{
    width: 160px;
		
}

.UnownedCardsFilter
{
    width: 160px;
}

.Search
{
	vertical-align: top;
	horizontal-align: right;
	
}

.TypeFilters
{
	vertical-align: center;
}

.RarityFilters
{
    width: 190px;
}

.SearchIcon
{
	width: 16px;
	height: 16px;
    margin-right: 12px;
	margin-top: 4px;
	vertical-align: center;
    horizontal-align: right;
	background-size: 100% 100%;
	background-image:url("s2r://panorama/images/catalogue/search_icon_psd.vtex");
	wash-color: uiNeutralGrey;
    z-index: -2;
    visibility: visible;
	opacity: .3; 
}

.ApplyingTextFilter .SearchIcon 
{
    visibility: collapse;
}

.CardFiltersControls DropDown
{
    background-image:none;
    box-shadow:none;
    transition-property: none;
    border: 0px;
    background-color: gradient( linear, 0% 0%, 0% 100%, from( #eaeaea00), to( #ababab00) );
}

DropDown Label
{
    visibility:collapse;
}

.ColorFiltersControls
{
    flow-children: right;
}

.FiltersBody Panel .ColorFiltersControls, .FiltersBody Panel .ItemTypeFiltersControls
{
	margin-right: 0px;
}

.CurrentFilterIndicator
{
    margin-top:24px;
}

.HideElement
{
    visibility: collapse;
}

.AllOption
{
    visibility: collapse;
}

.DropDownInUse .AllOption
{
    visibility: visible;
}

.FilterButtonItemType
{
    background-size: 100% 100%;
}

#WeaponFilter
{
    //background-image:url("s2r://panorama/images/catalogue/suite_color_icon_weapon_psd.vtex");
}

#ArmorFilter
{
    //background-image:url("s2r://panorama/images/catalogue/suite_color_icon_armor_psd.vtex");
}

#AccessoryFilter
{
    //background-image:url("s2r://panorama/images/catalogue/suite_color_icon_health_psd.vtex");
}

#ConsumableFilter
{
    //background-image:url("s2r://panorama/images/catalogue/suite_color_icon_consumable_psd.vtex");
}

.Filters
{
    flow-children:none;
}

.Filters .HideElement
{
    visibility: collapse;
}

.ItemTypeFiltersControls
{
    flow-children: right;
}

.ModeSwitch
{
    height: 80px;
	width: 60px;
	flow-children: right;
    visibility: collapse;
}

.FiltersBody .ModeSwitch
{
	margin-right: 50px;
    horizontal-align: left;
}

#LibraryMode
{
	height: 25px;
	width: 25px;
	vertical-align: center;
	margin-right: 10px;
	horizontal-align: right;
	background-size: 100% 100%;
	background-image:url("s2r://panorama/images/catalogue/list_view_icon_psd.vtex");
	wash-color: #ffffff;
}

.CollectionView #LibraryMode
{
    wash-color: uiNeutralGrey;
}

#CollectionMode
{
	height: 25px;
	width: 25px;
	vertical-align: center;
	horizontal-align: right;
	background-size: 100% 100%;
	background-image:url("s2r://panorama/images/catalogue/catalog_view_icon_psd.vtex");
	wash-color: uiNeutralGrey;
}

.CollectionView #CollectionMode
{
    wash-color: #ffffff;
}

#SortByDropDownContainer
{
	background-color: gradient( linear, 100% 0%, 0% 0%, from( #abe9f008 ), to( #d0bce910) );
	width: 130px;
	height: 22px;
	padding-left: 6px;
	margin-top: 23px;
	flow-children: right; 
	
}

#DropDownArrow
{
	width: 11px;
	height: 11px;
	margin-right: 7px;
	margin-top: 5px;
	horizontal-align: right;
	background-size: 100% 100%;
	background-image:url("s2r://panorama/images/catalogue/sort_by_drop_down_arrow_psd.vtex");
	wash-color: uiNeutralGrey;
}



.CurrentFilterIndicator
{
    
	padding-top: 3px;
	margin-top: 0px;
}

#SortByControls:hover
{
	brightness: 2;
}



.Filters .CardFiltersControls
{
    flow-children: down;
}

.Filters .CardFiltersControls Panel
{
    flow-children: right;
}

.FilterAreaTitle
{
    text-transform: uppercase;
    letter-spacing: 3px;
}

.Active
{
    brightness: 2;
   	border: 1px #949494;
	box-shadow: #0dfffc 0px 0px 2px 0px;
}

.FilterButtonText Label
{
    text-transform: none;
    min-width: 40px;
	vertical-align: center;
    margin-right: 2px;
    margin-left: 2px;
    color: grey;
}
.FilterButtonText.Active,
.FilterButtonText .Active
{
    brightness: 4;
    border: 0px;
    box-shadow: none;
}

#FilterPlayCardTypeHero
{
    margin-right: 20px;
}

.CardTypeFiltersControls Panel
{
    flow-children: right;
}

.HorizontalCenter
{
    horizontal-align: left;
}

.FlowDown
{
    flow-children: down;
}

.FlowRight
{
    flow-children: right;
}

.FilterPlayCardTypeMainDeck
{
    margin-left: 20px;
    border: 1px solid #585858;
    border-radius: 3px;
    padding-left: 6px;
    padding-right: 6px;
}

.FilterPlayCardTypeItemDeck
{
    border: 1px solid #585858;
    border-radius: 3px;
    padding-left: 6px;
    padding-right: 6px;
}

#FilterDeckTypeItem, #FilterDeckTypeMain, #FilterDeckTypeHeroLabel, #FilterDeckTypeHero, .FilterButton
{
	tooltip-arrow-position: 25% 25%;
	tooltip-body-position: 50% 50%;
}

.FilterDeckTypeMain:Hover .FilterButtonText, 
.FilterDeckTypeItem:Hover .FilterButtonText,
{
    color: #FFFFFF;
}

#FilterRarityBasic
{
    background-size: 100% 100%;
	background-image:url("s2r://panorama/images/catalogue/card_rarity_icon_basic_psd.vtex");
}

#FilterRarityCommon
{
    background-size: 100% 100%;
    background-image:url("s2r://panorama/images/catalogue/card_rarity_icon_common_psd.vtex");
}

#FilterRarityUncommon
{
    background-size: 100% 100%;
    background-image:url("s2r://panorama/images/catalogue/card_rarity_icon_uncommon_psd.vtex");
}

#FilterRarityRare
{
    background-size: 100% 100%;
	background-image:url("s2r://panorama/images/catalogue/card_rarity_icon_rare_psd.vtex");
}

.DisableUnlimited .UnlimitedCollectionToggle,
.IsSellCardsMode .UnlimitedCollectionToggle,
.IsPurchaseCardsMode .UnlimitedCollectionToggle,
.HasRegisterGauntlet .UnlimitedCollectionToggle
{
	visibility: collapse;
}


.IsPurchaseCardsMode .AllCardsForSellingToggle,
.IsBuildDecksMode .AllCardsForSellingToggle,
.IsBuildDecksMode .AllCardsForBuyingToggle,
.IsSellCardsMode .AllCardsForBuyingToggle
{
    visibility: collapse;
}

